[2016-04-28 14:50] iaguis commented on #2534
Thanks!

[2016-04-28 14:53] jellonek commented on #2533
This should be easy, lines from https://github.com/appc/cni/pull/168/files#diff-b4fc1e43896318cdf10ecd779954aeeaR224 should be added around https://github.com/coreos/rkt/blob/master/networking/kvm.go#L544

[2016-04-28 14:56] jonboulle commented on #2523
agreed with @alban - could you please file this over there? We can use this repo to track any feature requests necessary in rkt itself to support that. Thanks!

[2016-04-28 14:57] #2523 closed

[2016-04-28 15:00] jellonek commented on #2534
I have to go, so if You can't do yourself - I'll look on this at tomorrow morning.

[2016-04-28 15:32] alban opened #2539 "Fedora-Rawhide with SELinux: regression on Mounting "/sys/fs/cgroup""
**Environment**

[code]

**What did you do?**

Run the `tests/aws.sh` test on Fedora-Rawhide with the flavor "host", SELinux enabled.

**What did you expect to see?**

Tests passing.

**What did you see instead?**
[code]

**Explanation**
Introduced by https://github.com/coreos/rkt/pull/2386 & https://github.com/coreos/rkt/pull/2499 probably.

I tried to revert the PRs mentioned above with this:
[c

[2016-04-28 15:44] ltagliamonte opened #2540 "Cannot run mysql image using rkt"
**Environment**
ppc Version: 0.7.4
Go Version: go1.4.3
Go OS/Arch: linux/amd64
Features: -TPM

--
Linux 4.3.6-coreos x86_64

--
NAME=CoreOS
ID=coreos
VERSION=899.15.0
VERSION_ID=899.15.0
BUILD_ID=2016-04-05-1035
PRETTY_NAME="CoreOS 899.15.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

--
systemd 225
-PAM +AUDIT +SELINUX +IMA -APPARMOR +S

[2016-04-28 18:31] yifan-gu commented on #2322
@alban I tried with no-overlay and the context you mentioned in https://github.com/coreos/rkt/issues/2322#issuecomment-200921286
It works.

[2016-04-28 18:58] yifan-gu commented on #2502
To reproduce:

1. Create a rkt pod and make it fail before the pod is running;
[code]

2. Start the api service:
[code]

3. Call `ListPods()`

[code]

And in the output of api service, we saw:
[code]

[2016-04-28 19:21] euank commented on #2445
Ping on this, any opinions on option 1 above, to have a single canonical directory where the pod tree, including journal, resides, and do the locking and such on marker files/directories/links that are atomically moved for lifecycle management?

It solves a real problem of the journal symlink and I can't think of a downside other than having to refactor some scary/hairy code.

[2016-04-29 04:34] s-urbaniak commented on #1329
We introduced i) test build tags and ii) a simple `Test`/`TestFunc` interface for abstracting tests which can be reused across flavors.

If you invoke `configure --enable-functional-tests ... --with-stage1-flavors=kvm && make functional-check` only those tests matching the `kvm` build constraint will be executed.

@jellonek Besides the introduction of the above in #2515 is there anything more you

[2016-04-29 07:50] jellonek commented on #1329
@s-urbaniak no.

[2016-04-29 08:18] s-urbaniak commented on #1329
ok, closing this one then, fixed by #2515

[2016-04-29 08:18] #1329 closed

[2016-04-29 08:26] sgotti opened #2541 "Support for OCI runtime and image specification."
I don't know if someone is already thinking/working on this but I'd like to share my thoughts and hear yours.

Since, after the oci runtime spec, also the oci image spec is taking shape, I started thinking on how to implement this in rkt.

Possible steps:

## OCI Image spec

Currently the OCI image spec is made of different [media types](https://github.com/opencontainers/image-spec/blob/master/med

[2016-04-29 08:34] mike1729 commented on #1757
I had some urgent event which resulted in a delay in my work, but I am still into this. I'll update you next week.

Best,
mike

[2016-04-29 09:36] s-urbaniak commented on #2541
@sgotti It just happened that I am supposed to work on this effectively starting today ;-) The first step for me is to implement a `oci-image-tool`, see https://github.com/opencontainers/image-spec/issues/43.

I was thinking of implementing an OCI image library hosted maybe in a (not-yet-existing) `github.com/opencontainers/image` repository which we could vendor here in rkt leaving the implementa

[2016-04-29 11:40] sgotti commented on #2541
@s-urbaniak Thanks! Good to know.

I think that an external library for rendering and validation (like done for the appc/spec) will be good.
To be more accurate in appc/spec the acirenderer will resolve the required files for every dependency and it's up to rkt to render them https://github.com/coreos/rkt/blob/master/pkg/aci/render.go but the OCI image spec is simpler since there isn't a DAG tree

[2016-04-29 11:54] s-urbaniak commented on #2541
@sgotti great, many thanks for the pointers!

Let's keep this issue strictly as "implement OCI image/runtime support in rkt" and we can sync via irc, I'm `sur` on freenode and online in the `#rkt-dev` channel.

[2016-04-29 11:55] tmrts opened #2544 "Set guidelines for release process"
We need to set rules for each on how to proceed with every release.

I propose that we choose a release candidate 2 days before the release and we make sure the release candidate passes the complete test-suite the day before the release.

On the day of the release, only tasks left for the release will be the changelogs and git-fu and not the delayed issues or regressions.

cc @jonboulle @alban @ia

[2016-04-29 12:44] #2539 closed

[2016-04-29 13:59] tmrts opened #2548 "Stage0 tests shouldn't be run for every flavor"
We should find a way to not run all the `stage0` tests for every flavor.

For example, the fetch test only needs to be run once per CI run, not per thread.

cc @steveeJ

[2016-04-29 14:26] s-urbaniak opened #2549 "Forcing signing of git commits?"
Currently we use unsigned git commits for regular contributions as well as for releases. Do we want to allow unsigned commits in the future? Or at least for the release tags?

Citing Torvalds (http://git.661346.n2.nabble.com/GPG-signing-for-git-commit-td2582986.html):
[code]

Here's a good description on how to set up git for signing commits: http://harryrschwartz.com/2014/11/01/automatically-sign

[2016-04-29 16:06] blixtra opened #2550 "/var/lib/rkt directory not being created after deletion"
After deleting the /var/lib/rkt directory rkt does not automatically create the directory on next run. The is the case with 1.4 and 1.5.

To recreate nuke /var/lib/rkt and then run rkt run again. I get...

`
run: cannot evaluate dataDir "/var/lib/rkt" real path: lstat /var/lib/rkt: no such file or directory
`

[2016-04-29 16:08] iaguis commented on #2550
Probably introduced in https://github.com/coreos/rkt/pull/2399

[2016-04-29 18:56] rhatdan commented on #1727
It is still ongoing.  This is a fairly complex issue, and getting the security right is critical important.  Met with the kernel engineer this morning and we have a working plan on how to handle access checking on CopyUp as well as when a context=LABEL option is used.  Once he has a working demo, he will put the patches up for review.

[2016-04-29 19:04] crawford commented on #2147
@jonboulle I don't. This was pulled from a Jenkins worker, but I haven't see any failures in a while.

[2016-04-29 22:23] mikedanese opened #2553 "mounting host /var with rkt fly causes O(2^(number of containers)) growth in number of bind mounts"
Run this a couple times to reproduce:

[code]

[2016-04-29 22:45] mikedanese commented on #2553
[code]
Rkt tarball pulled down from github releases page.

[2016-04-29 23:00] pquerna commented on #2553
Also ran into this, did two things to work around:

1) only mounting the specific path we needed in `/var`, not all of `/var`.

2) When running under a systemd unit file, use the uuid-file to cleanup exited rkt containers a bit more than waiting for a `rkt gc`.

[code]

[2016-04-29 23:06] steveeJ commented on #2553
@mikedanese

I just tried to reproduce this on my machine but as you can see the growth is linear:

[code]

The stage1-fly code [does not use `rbind` for volume mounts](https://github.com/coreos/rkt/blob/13690ed22e6b584c8eec3e2c3b7da934a770e9e5/stage1_fly/run/main.go#L179), so I can't really explain the behavior you're seeing. Could you upload the output of `mount` after the first 2 executions?

[2016-04-29 23:19] mikedanese commented on #2553
@steveeJ is your rkt data dir /var/lib/rkt?
[code]

output of mounts here: https://clbin.com/7Z1UA

[2016-04-29 23:26] mikedanese commented on #2553
after 0 executions: https://clbin.com/A4N4y

after 1 execution: https://clbin.com/u0aOA

after 2 execution: https://clbin.com/fC0OY

[2016-04-29 23:44] mikedanese commented on #2553
[code]

[2016-04-29 23:45] mikedanese commented on #2553
@pquerna thanks for the workarounds.

[2016-04-30 08:40] steveeJ commented on #2553
@mikedanese please also provide the content of `/proc/self/mountinfo` for 0-2 executions?

[2016-04-30 09:00] steveeJ commented on #2549
IMHO it is enough to sign the tags that are used to build releases. I agree with Torvalds that a *fully* automated signing process is worth less, compare this to uploading your private key to your CI to build signed releases.  If people have to input their password to unlock the signing key for every commit, that is still worthy IMHO but it will probably become annoying ;-)

[2016-05-01 22:29] mikedanese commented on #761
Are recursive bind mounts supported for host paths? If yes is there some documentation for that? If no is there an issue open for that?

[2016-05-02 09:56] woodbor opened #2556 "benchmarking: extend statistics to host"
I see, that `rkt-monitor` right-now is able to get statistics from inside a container (get them after entering to container). Maybe a good idea is to add additional flag to `rkt-monitor` to get the same stats , but from the host ? I mean - to monitor a container process in this case from an outside. @dgonyeo, @alban what do you think guys ?

[2016-05-02 10:12] tmrts commented on #2232
@alban @jellonek please state the versions of systemd you've used when trying to reproduce the bug.

[2016-05-02 10:43] #2533 closed

[2016-05-02 13:08] dgonyeo commented on #2556
I'm not sure I follow how that would be different. The memory and CPU usage that rkt-monitor tracks would be the same regardless of if you're looking at it from inside or outside the container.

Also if you note the PIDs of the reported processes, rkt-monitor is currently watching from outside the container.

[2016-05-02 13:24] #2422 closed

[2016-05-02 13:24] #2550 closed

[2016-05-02 13:27] #2534 closed

[2016-05-02 14:09] #2509 closed

[2016-05-02 15:07] iaguis opened #2561 "functional tests: volume-related tests failing on Rawhide"
As mentioned in https://github.com/coreos/rkt/pull/2542#issuecomment-215699789, a couple of volume-related tests fail on Fedora Rawhide:

[code]

[code]

The related SELinux AVCs:

[code]

[code]

[2016-05-02 15:17] iaguis opened #2562 "functional tests: gc doesn't seem to work in Rawhide"
Inspecting the journal after trying to run the functional tests on Fedora Rawhide with the host flavor shows some AVCs related to iptables:

[code]

[2016-05-02 15:34] iaguis commented on #2540
I just tried that with rkt v1.5.0 and it worked for me. Can you try the latest rkt version?

[2016-05-02 16:09] iaguis commented on #2562
Disabling SELinux makes all tests pass.

[2016-05-02 16:09] iaguis commented on #2561
Disabling SELinux makes those tests pass.

[2016-05-02 16:16] blixtra opened #2564 "rkt: no help output printed when running some cmds without arguments"
**Environment**

[code]
run `rkt run` or `rkt prepared` without arguments

**What did you expect to see?**

help output similar to what you get when running `rkt run-prepared` or `rkt enter` without arguments

**What did you see instead?**

```run: must provide at least one image or specify the pod manifest```

&

```prepare: must provide at least one image or specify the pod manifest```

[2016-05-02 17:38] nstott commented on #2524
Any ideas here of things that I can try to work around this issue?

[2016-05-02 20:19] mischief commented on #2175
this is fixed in torvalds/linux@de17e793b104d690e1d007dfc5cb6b4f649598ca, which is available in linux 4.5.2 (and CoreOS >=1029.0.0)

[2016-05-02 20:30] yifan-gu opened #2565 "rkt gc leaks iptable rules"
**Environment**

[code]
**What did you do?**

I was stress testing rktnetes by creating a crashloop pod which will make rkt keeps creating new pods. At the same time, `rkt gc` is invoked periodically by kubelet to clean up those exited pods.

But I found that after a while, `rkt gc` stucks when removing the iptable rules.

While I was totally confused why the `iptable` command spend so long time (

[2016-05-02 21:13] euank commented on #2223
I think the resolution we're going to go with for rktnetes (assuming I can get it working :) is to create a network namespace and invoke CNI outside of rkt, nab the ip from said namespace, and then launch rkt into that namespace (`nsenter ... rkt --net=host` essentially) with appropriately configured `/etc/hosts` and so on.

It's possible the right longterm solution is to allow something closer to

[2016-05-02 22:47] mikedanese opened #2567 "rkt fly: use recursive bind mounts"
I want to mount the entire host inside a rkt fly container and install some items onto the host. The host mounts various pieces on tmpfs like `/run` which I want access to. I want the bind mount to be recursive (i.e. use the --rbind flag not the --bind flag). This is docker's default behavior for volumes. If this is not the rkt default it should at least be possible to enable with an option. Pleas

[2016-05-02 22:58] mikedanese commented on #2553
0 invocations https://clbin.com/lmuYI

1 invocation https://clbin.com/TLZJO

2 invocations https://clbin.com/XcXN6

3 invocations https://clbin.com/bOdLH

[2016-05-02 23:11] mikedanese commented on #2567
This appears to be the default behavior of systemd nspawn if I read their docs correctly:

https://www.freedesktop.org/software/systemd/man/systemd-nspawn.html#--bind=

But it's not the behavior I'm observing. This is the case with the stock stage1 and stage1_fly.

[2016-05-03 01:02] yifan-gu commented on #2427
I found one such place in rkt_api_service_test.go. Will file a PR to fix.

[2016-05-03 01:03] mikedanese commented on #2567
Looks like there is a todo to fix this. In the meantime, I can use a modified rkt fly.

[2016-05-03 01:05] yifan-gu commented on #2427
Hmm, actually there are multiple places where we tell the container to exit by `child.SendLine()`

[2016-05-03 01:48] yifan-gu commented on #2565
Forgot to mention the CNI config I used:
[code]

[2016-05-03 09:04] iaguis commented on #2531
Are we keeping this open to track the build system problems?

[2016-05-03 09:26] tmrts commented on #2141
At the moment `/etc/resolv.conf` is written in stage1 and bind-mounted in stage2. It's because the container network namespace is created via CNI and not by systemd-nspawn, so systemd-nspawn doesn't know about the network configuration which operates in stage1.

[2016-05-03 09:34] mstachowski commented on #2531
It looks like one of stamps(which is responsible for tracking changes inside flavor aci) has been deleted and another(which is responsible for tracking changes in systemd binaries) is not. I didn't diagnose it, because there is simple workarond for this(mentioned by @jellonek `rm -rf ./build-*`)

@iaguis we should keep this open(because it's build system bug), but IMO it's not P1

[2016-05-03 09:35] iaguis commented on #2531
Moving to P2 then :)

[2016-05-03 10:15] djtm opened #2569 "$USER and $HOME not set correctly"
**Environment**

rkt Version: 1.5.0
appc Version: 0.7.4
Go Version: go1.6.1
Go OS/Arch: linux/amd64
Features: -TPM
--
Linux 4.2.0-35-lowlatency x86_64
--
NAME="Ubuntu"
VERSION="15.10 (Wily Werewolf)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 15.10"
VERSION_ID="15.10"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"
--
sys

[2016-05-03 10:24] iaguis commented on #2565
It seems the bridge plugin doesn't clean the masquerading rules: https://github.com/appc/cni/pull/195

[2016-05-03 10:26] #2505 closed

[2016-05-03 12:08] iaguis commented on #2504
To clean up empty cgroup directories, systemd sets the knobs `notify_on_release` to `1` and `release_agent` to `/usr/lib/systemd/systemd-cgroups-agent` in `/sys/fs/cgroup/systemd`. With these knobs set, when the last task of a cgroup leaves and the last child cgroup of that cgroup is removed, the binary specified in `release_agent` gets called with the pathname of the abandoned cgroup as a paramet

[2016-05-03 12:15] onlyjob opened #2571 "1.5.0: can't start ACI because of missing systemd-sysusers binary"
As reported in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823314
rkt_1.5.0 became unusable on Debian due to dependency on `systemd-sysusers`:

[code]

As a matter of fact, sysusers is disabled in systemd package (--disable-sysusers) and, as such, not provided.

Please advise.

[2016-05-03 12:31] alban commented on #2571
The dependency on systemd-sysusers was added in https://github.com/coreos/rkt/pull/2493 and https://github.com/coreos/rkt/pull/2522 when using the "host" flavor. This was for the migration from rkt's stage1 "appexec" binary to systemd's [User=, Group=](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#User=).

Can Debian add systemd-sysusers?

[2016-05-03 12:45] onlyjob commented on #2571
I don't know. There must be a reason why it is disabled...

[2016-05-03 12:55] alban commented on #2571
rkt takes the systemd-sysusers binary from the host and put it in rkt's stage1. It does not run it directly on the host. So if the Debian systemd package was providing the systemd-sysusers binary without enabling it (e.g. without packaging /usr/lib/systemd/system/systemd-sysusers.service or /usr/lib/sysusers.d/*), that would work for rkt.

[2016-05-03 12:59] #2439 closed

[2016-05-03 12:59] onlyjob commented on #2571
Requested in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823322
Let's see what Systemd maintainers say...

[2016-05-03 13:03] alban commented on #2571
Thanks!

[2016-05-03 13:19] alban commented on #2445
Option 1 seems like a big & complex change. I don't know how to handle the migration of the directory structure in /var/lib/rkt, e.g. when a new version is installed with `apt-get install rkt` while other rkt pods are still running in parallel with an older versions of rkt.

[2016-05-03 13:21] alban commented on #2445
Tangentially related: someone should check if https://github.com/systemd/systemd/pull/3109 would bring regression bugs in rkt.

[2016-05-03 13:59] alban commented on #761
@mikedanese host volume are currently not mounted recursively but it will change with https://github.com/coreos/rkt/issues/1759. The open issue for this is https://github.com/coreos/rkt/issues/1358

[2016-05-03 14:03] alban commented on #2232
I don't remember what version of systemd was used.

[2016-05-03 14:30] mikedanese commented on #2567
related to #1358

[2016-05-03 14:46] iaguis commented on #2504
I read a bit more and

to use it. Remounting allows changing bound subsystems and
release_agent. Rebinding is hardly useful as it only works when the
hierarchy is empty and release_agent itself should be replaced with
conventional fsnotify. The support for remounting will be removed in
the future.
  To Specify a hierarchy's release_agent:
  # mount -t cgroup -o cpuset,release_agent="/sbin/cpuset_r

[2016-05-03 15:46] n0rad opened #2572 "Cannot have mount point without volume running as non-root"
I don't see a way to have a mount point, without a volume and be able to run as non-root.

I'm trying to start cassandra as cassandra user with a data mount point.
when volume is not specified data directory is mounted as root.
pre-start does not help since it's running as cassandra user too #1495 .

linked to https://github.com/appc/spec/issues/316

[2016-05-03 15:51] n0rad commented on #1495
Any progress on that, I see use cases where we have to prepare some info as root on prestart.

ex:
rabbitmq need to know the other nodes hostnames. so we usually add them to the /etc/hosts.

to be able to do that, we need to run prestart as root

[2016-05-03 15:59] sinfomicien commented on #2475
It works now, with the kernel 4.5.2 (at least with the latest one in Tumbleweed)

[2016-05-03 17:46] Nekdo opened #2573 "Badly generated /etc/hosts"
**Environment**

[code]

**What did you do?**

Run an aci with missing /etc/hosts file.

**What did you expect to see?**

/etc/hosts file generated with a correct content.

**What did you see instead?**

root@rkt-55748734-6fad-4170-9265-8a453b294128:/# hostname
rkt-55748734-6fad-4170-9265-8a453b294128
root@rkt-55748734-6fad-4170-9265-8a453b294128:/# cat /etc/hosts
127.0.0.1       rkt-55748734-6fad

[2016-05-03 18:03] alban commented on #1495
This has not been implemented.

Now that stage1 uses systemd directly to start the app without appexec (see #2493), we will need to check that the systemd options can be different for **pre-start** ([ExecStartPre=](https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStartPre=)) and **post-stop** ([ExecStopPost=](https://www.freedesktop.org/software/systemd/man/systemd.service

[2016-05-03 18:03] kevinjdolan opened #2574 "Concurrent `rkt fetch` or `rkt run` of the same image can fail"
**Environment**

[code]

**What did you do?**

On a completely fresh install (with no images).

[code]

**What did you expect to see?**

The image would be fetched and loaded into the local system.

**What did you see instead?**

[code]

---

**Notes:**
- This failure is probabilistic. Usually, both will fail. Sometimes one or both will succeed. After a success, always both will succeed
- Similar

[2016-05-03 18:19] alban commented on #2506
fdo ticket moved to https://github.com/systemd/systemd/issues/3184

[2016-05-03 20:13] GrappigPanda commented on #2573
I'm not a doctor or anything, but rkt parses 28 character long uuids and the go package being used to generate the UUID generates a UUID that's 32 characters long. Not sure how friendly the CoreOS team is to contributors, though.

[2016-05-03 21:44] onlyjob commented on #2571
Besides I think rkt compilation should fail on unavailable binaries if they are needed for stage1 image...

[2016-05-03 22:55] yifan-gu commented on #2504
@iaguis Thanks for the explanation :+1:  Then I think we should at least remove those cgroups when `rkt gc` and `rkt rm`

[2016-05-03 23:14] yifan-gu commented on #2445
@alban Thanks for the heads up.

[2016-05-03 23:21] tjdett commented on #2152
I'm seeing this same problem when attempting to run a Docker container which requires the `-t` flag using the LKVM stage1. Because `/dev/pts/ptmx` is `c---------.` rather than `crw-rw-rw-.`, programs which require a pseudo-terminal won't operate correctly.

[2016-05-03 23:32] yifan-gu commented on #2477
@alban

If the dependency is removed, and user2 runs the container again, he should be able to fetch the image and render again, no? (Assume the rendered image is removed already)

[2016-05-04 02:21] philips commented on #2574
@kevinjdolan thanks for the report!

@euank @yifan-gu maybe related to flakiness in some of the rktnetes tests?

[2016-05-04 04:03] tjdett opened #2576 "LKVM stage 1 /tmp does not honor sticky bit correctly"
When writing to `/tmp` with LKVM stage 1, files are not created with the ownership of the writing user, as would be expected with the sticky bit. Instead, they are created owned by root. This causes numerous issues due to the unexpected behaviour, principally that processes cannot reopen files they create in `/tmp`.

**Environment**

[code]

**What did you do?**

Write to `/tmp` as an unprivileged

[2016-05-04 06:52] tjdett commented on #1917
I'm still seeing this:
[code]

It's not limited to Debian `apt-get` of course. `yum` doesn't like file systems like this either:
[code]

### Environment
[code]

[2016-05-04 06:56] jellonek commented on #2524
Hi. There is ongoing effort to add new command - `stop`, which purpose is to gracefully stop the container.
Work on it is monitored under #2438

[2016-05-04 08:05] sjpotter commented on #2504
to answer the Q

yes for cadvisor as cadvisor sees them and with @philips idea https://github.com/google/cadvisor/issues/1255#issuecomment-216694222 we will see the cgroup and wait thinking its a rkt pod.

[2016-05-04 08:19] sjpotter commented on #2504
yes, its definitely a problem for cadvisor.

imagine we have a service that runs intermittently.  If its not running when cadvisor sees it originally, it will just use the raw cgroup handler (along with delaying startup).  So even when it comes up it wont provide all the information one expects.  Also, even if it starts correctly as a rkt handler, when the service ends, it will still be there as a

[2016-05-04 08:30] jellonek commented on #2531
Ok, so whole issue screams for rename ;)

[2016-05-04 08:35] iaguis commented on #2574
This should be fixed by https://github.com/coreos/rkt/pull/2239 which was included in v1.2.0. Even though it fixes the problem, we could further improve rkt's behavior.

Right now (after v1.2.0) if a rkt process (P1) is downloading an image and other process (P2) starts downloading the same image, P2 will wait until P1 finishes and then it will download the image again, although there's already a

[2016-05-04 08:45] jellonek commented on #2223
@euank this would not work with kvm flavor.
btw. this issue is probably connected with #2573

[2016-05-04 08:51] jellonek commented on #2569
I'll try to investigate this ASAP.

First wild guess - this could be connected with missing entries in `/etc/{passwd,group}` which imo should be provided when `--group` and/or `USER` are used.

[2016-05-04 08:54] n0rad commented on #1495
PermissionsStartOnly=true ?

[2016-05-04 09:02] jellonek commented on #2556
Are You sure that there is no difference?

With kvm flavored rkt there is an overhead generated by lkvm binary holding whole container.
Probably in near future there will be accessible similar flavor based on qemu/qboot.

[2016-05-04 09:03] sjpotter commented on #2504
@iaguis is there a good reason that a release-agent is not set for every hierarchy?

or to rephrase, what's the problem if we set it, everything has notify_on_release set to 0 so nothing will change for them, it would only change for our stuff?

[2016-05-04 09:11] 0003ydlom commented on #2576
I'm looking on this atm

[2016-05-04 10:42] alban commented on #2553
I can reproduce the bug.

/sys is shared on all "fly" containers (in **/var**/lib/rkt):
https://github.com/coreos/rkt/blob/master/stage1_fly/run/main.go#L266

This is enough to make the number of mounts grow O(n^2). When starting only 2 fly containers, those 3 lines are enough to explain the problem:

[code]

- Line 1: the cgroup is mounted in the first fly container (i.e. in /var)
- Line 2: the c

[2016-05-04 10:44] woodbor opened #2577 "stage1-fly : missing volume for mountpoint"
**Environment**
Ubuntu 16.04 LTS

rkt Version: 1.4.0+gitd145cea
appc Version: 0.7.4
Go Version: go1.5.3
Go OS/Arch: linux/amd64
Features: +TPM

Linux 4.4.0-21-generic x86_64

NAME="Ubuntu"
VERSION="16.04 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.l

[2016-05-04 10:59] alban commented on #2553
I don't know how we could fix this. At a minimum, we should recommend against making a volume of any host directory that is a parent directory of `/var/lib/rkt`.

[2016-05-04 11:00] alban commented on #2553
@steveeJ Do you have /var/lib/rkt mounted separately? That would explain why you don't reproduce the bug.

[2016-05-04 11:03] iaguis commented on #2553
I think he was using a tmpfs on `/var/lib/rkt` to work around https://github.com/coreos/rkt/issues/1498

[2016-05-04 12:13] djtm commented on #2569
The entries in /etc/passwd are fine I think. Nobody and nogroup are in there. I've tested with a debian testing based image.

[2016-05-04 12:29] alban commented on #2504
Since @philips' idea requires to fetch the unit properties on dbus already, cadvisor could also get & monitor the unit status via dbus, and if the unit is stopped, then it knows it does not need to wait for the pid to appear. Would that work?

[2016-05-04 12:38] sjpotter commented on #2504
we'd never know if it restarted, as the inotify based system wouldn't help (working on an alternate system, but its a bit of surgery)

[2016-05-04 12:41] alban commented on #2569
@jellonek The logic with [defaultEnv](https://github.com/coreos/rkt/blob/master/stage1/init/common/pod.go#L53) seems wrong.

[2016-05-04 12:45] alban commented on #2504
cadvisor would need to register to dbus notifications when the unit is stopped & started.

[2016-05-04 12:53] sjpotter commented on #2504
that's seems more pain that its worth.  seemingly it be easier to just have a way to get notifications from the rkt api service about all the running pods.

[2016-05-04 13:21] jellonek commented on #2569
Yes, this defaults should be overridden using values from manifest/flags...

[2016-05-04 13:35] #1759 closed

[2016-05-04 13:40] dgonyeo commented on #2556
Ah yeah, this probably won't work at all with the lkvm stage 1. It should be the same with the coreos, host, and fly stage 1s. Not sure how I'd get this inside the lkvm stage 1 though, if anyone here has any suggestions.

[2016-05-04 13:41] alban commented on #1358
Closed by https://github.com/coreos/rkt/pull/2514

[2016-05-04 13:41] #1358 closed

[2016-05-04 13:42] alban commented on #1782
Closed by https://github.com/coreos/rkt/pull/2514

[2016-05-04 13:42] #1782 closed

[2016-05-04 13:48] iaguis commented on #2202
Nope, we shouldn't close this yet

[2016-05-04 14:10] steveeJ opened #2580 "CNI should be bumped, please mind the organization change appc -> containernetworking"
Related #2565 as this has been fixed in CNI AFAICT.

/cc @iaguis

[2016-05-04 14:17] steveeJ commented on #2577
@alban @iaguis @jonboulle
What does everyone think of refactoring/combining the volume code for the nspawn based and fly flavors to ensure feature parity for the volumes?

[2016-05-04 14:17] jellonek commented on #2580
Related with #1765 and should be followed by same fix in kvm flavor.

[2016-05-04 15:05] jonboulle commented on #2577
Isn't fly fundamentally different since it manages all the mounts itself and doesn't delegate to nspawn?

[2016-05-04 15:06] jonboulle commented on #2567
We should just make this the same default behaviour as with the other stage1s. @mikedanese any interest in putting up a patch for this?

Also: https://github.com/coreos/rkt/issues/2577#issuecomment-216878949

[2016-05-04 15:13] alban commented on #2351
This was reverted by https://github.com/coreos/rkt/pull/2542 => reopen.

[2016-05-04 15:49] alban commented on #2567
Making the bind mount recursive will exacerbate the issues from https://github.com/coreos/rkt/issues/2553 though.

[2016-05-04 16:47] sgotti opened #2581 "rkt accepts non ascii armored pgp detached signatures"
**Environment**

[code]

**What did you do?**

[code]

[code]
Is not an ascii armored signature

[code]

**What did you expect to see?**

It should return an error since the signature is not ascii armored (as the spec states: `Image archives SHOULD be signed using PGP, the format MUST be ascii-armored detached signature mode.
`)

**What did you see instead?**

The signature was accepted and verifi

[2016-05-04 16:49] sgotti commented on #2581
If this is correct also an issue on coreos/etcd should be opened.

[2016-05-04 18:00] yifan-gu commented on #1759
@sjpotter So this is merged now, I don't understand why this doesn't work with cadvisor?

[2016-05-04 18:19] euank commented on #2223
@jellonek I think this issue doesn't have to be connected. What kubernetes (and possibly by extension rktnetes, see comment above) does is populate an `/etc/hosts` file with content and bindmount it through, which dodges our stage1 doing the same (what that issue appears to be).

And yeah, that approach won't work with the kvm flavor. As I understand it, there are broader reasons why rktnetes (rea

[2016-05-04 20:01] sjpotter commented on #1759
cause in practice it doesn't help due to the way cadvisor manages cgroups.  i.e. we now have an init.scope() but we can't wait on that, it's just a separate cgroup from cadvisor's perspective.  Also the fact that it doesn't appear in the hierarchies cadvisor monitors is another issue :(

[2016-05-04 22:11] alban commented on #1759
@sjpotter I realized that systemd was trying to move itself to init.scope even on the cpu/mem hierarchies but it was not succeeding because rkt/systemd-nspawn mounted that part of the cgroup tree read-only. https://github.com/coreos/rkt/pull/2582 should fix that. That might not solve everything, but hopefully it could still be helpful.

[2016-05-04 22:27] yifan-gu commented on #1769
Captured the discussion today from the rkt/appc sync.
Currently, the rkt shell out from kubelet include:
Rkt fetch
Rkt image rm
Rkt prepare
Rkt enter
Rkt run (Not necessary shelled out by kubelet, it's the value of the `ExecStart` int the systemd unit generated by kubelet)
Rkt gc

Journalctl -m (get logs) https://github.com/coreos/rkt/pull/2041

Other things that require kubelet to shell out:
Syst

[2016-05-04 22:31] tjdett commented on #1917
@jonboulle can you confirm this should be fixed as of CoreOS 1032.0.0, as per details above?

This is going to be a blocker for me moving from Docker to rkt, so I'm rather committed to helping diagnose the problem if it has reappeared.

[2016-05-05 05:24] sjpotter commented on #2504
so yea, I verified that if I restart a systemd unit after cadvisor started, it doesn't see it.  Then again, it never deleted it so it works but not correctly (i.e. not looking at right pid for networking stats and file system for disk stats).  Honestly it feels like a bug to not clean up cgroups right away

[2016-05-05 16:37] ltagliamonte opened #2583 "docs: describe multiple apps in the same pod using the cmd"
Hello,
is there a way to run a pod from the command line that has two docker images (so two applications) running?
I got it working using kubernetes but i'd like to be able to do it also from the cmd and the doc seems to lack about this use case.

[2016-05-05 17:28] jellonek commented on #2556
There was proposal to add as a debugging tool possibility to `enter` into stage1, instead of entering into application environment. This could be then used for such purpose.

[2016-05-05 22:00] alban opened #2584 "docs: getting started guide has wrong build command"
In the section "[Build a statically linked Go binary](https://github.com/coreos/rkt/blob/master/Documentation/getting-started-guide.md#build-a-statically-linked-go-binary)" of the guide, the "go build" command used does not build a statically built binary. The guide should be fixed to use `-static`:

[code]

Using a dynamically linked binary will not work and is difficult to investigate because of

[2016-05-06 09:34] alban opened #2585 "alternative stage1s: could bubblewrap help?"
Bubblewrap is a container run-time implementation using setuid and subset of user namespaces:

https://github.com/projectatomic/bubblewrap

Does it make sense to integrate it into rkt somehow? Maybe as an alternative stage1?

[2016-05-06 09:40] alban commented on #2580
This needs CNI to be tagged/released first (v0.3.0).

[2016-05-06 09:41] alban commented on #2565
Blocked on #2580, needs CNI v0.3.0 release.

[2016-05-06 09:49] alban commented on #2348
The semantics for the cap retain set and cap remove set were updated/clarified: https://github.com/appc/spec/pull/600. This needs to be taken into account here.

[2016-05-06 10:46] jellonek commented on #2585
This looks promising (as a potential new stage1 execution driver) and is close to proposed some time ago setuid helpers idea.
IMO this is more featured than proposed some time ago by @ppalucki idea described in #1318 but still, very close to it.

[2016-05-06 11:36] jonboulle opened #2586 "docs: update docker comparison to new architecture"
As of [Docker 1.11](https://blog.docker.com/2016/04/docker-engine-1-11-runc/) the engine now integrates with containerd. We need to update the [comparison doc](https://github.com/coreos/rkt/blob/master/Documentation/rkt-vs-other-projects.md#rkt-vs-docker) to reflect this.

As a dumb example I've used this slide when talking about it in a k8s integration context: http://i.imgur.com/aKzxTMG.png

[2016-05-06 11:44] jonboulle commented on #2583
Absolutely, just specify multiple on the command line - e.g. in the
simplest case `rkt run docker://myapp1 docker://myapp2`. I'll leave this
open to track that we should be more explicit about it in the docs. Thanks!

On Thu, May 5, 2016 at 6:38 PM, Luigi Tagliamonte <notifications@github.com>
wrote:

[2016-05-06 12:21] mike1729 commented on #1757
As far as I can find the discussion on the cgroup lkml concerning cpu controler stuck in the limbo so as Alban commented the cpu isolator needs to be implemented with legacy cgroup. It seems that the backward compatibility will manage that.

I start with the support for cgroup2, and after that cgroupns. Maybe in the meanwhile they realease systemd 230:)

sorry for the delay,
mike

[2016-05-06 12:59] ltagliamonte commented on #2583
thank you @jonboulle !

[2016-05-06 14:02] sharhalakis opened #2590 "Fetch seems not to be using a proxy"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

To download the image using the proxy

**What did you see instead?**

rkt attempted to connect directly to the end host.

[code]

**More info**
Without setting a proxy, rkt stops here:
[code]

When using HTTP_PROXY the discovery succeeds but image retrieval fails, as shown above.

Also tried HTTPS_PROXY, http_p

[2016-05-06 14:21] jonboulle commented on #1917
I can reproduce.
@jellonek any ideas?

[2016-05-06 14:22] sharhalakis commented on #2590
Without --insecure-options=all it seems to work

[2016-05-06 16:04] pskrzyns commented on #2480
I think we can close this cause https://github.com/coreos/rkt/issues/2470 is closed and @woodbor
created https://github.com/coreos/rkt/issues/2577

[2016-05-06 16:45] alban commented on #1528
@iaguis this is not documented. [using-rkt-with-systemd.md](https://github.com/coreos/rkt/blob/master/Documentation/using-rkt-with-systemd.md#systemd-run) just mentions `-M` but not `-m`... should it be added?

Also, it does not work on Ubuntu because persistent journal storage is not enabled on Ubuntu (can be fixed with `sudo mkdir /var/log/journal`). Should this be documented somewhere as well?

[2016-05-06 17:57] jellonek commented on #1917
In near future we plant to add support for hanging hypervisors (adding qemu) and will look forward on this issue.

[2016-05-06 22:14] philips commented on #2585
@rhatdan @vbatts @alexlarsson Would love your help :)

[2016-05-06 23:11] alban commented on #1528
`journalctl -m _HOSTNAME=machine-name` should be documented in https://github.com/kinvolk/rkt/blob/ckuehl/implement-pod-export/Documentation/commands.md#accessing-logs-via-journalctl

[2016-05-06 23:49] yifan-gu commented on #2502
Move to v1.6.0 as this actually causes a bug in rktnetes kubernetes/kubernetes#25242

[2016-05-07 06:36] alexlarsson commented on #2585
I don't really know what requirements you have, but hazarding a guess I'd say it could work fine for at least some container setups if you rely on systemd to do the cgroup setup (this is how i use it in xdg-app, systemd --user creates a scope in which i launch bubblewrap).

[2016-05-08 11:20] nhlfr opened #2594 "lkvm fails to build with glibc 2.23"
**Environment**

[code]

**What did you do?**

Just a standard procedure of building rkt by `./autogen.sh && ./configure && make`

**What did you expect to see?**

Successful build of lkvm with the newest glibc.

**What did you see instead?**

The following error:

[code]

[2016-05-08 15:11] jonboulle commented on #1917
sorry, I don't quite follow - is that somehow related or are you just
saying you don't have time to look at this right now?

On Fri, May 6, 2016 at 7:57 PM, Piotr Skamruk <notifications@github.com>
wrote:

[2016-05-08 15:25] alban commented on #2585
rkt/systemd-nspawn rely on systemd (pid1) & systemd-machined to setup the cgroups when they are available. More details on: https://github.com/coreos/rkt/blob/master/Documentation/devel/cgroups.md

We have not explored using `systemd --user`.

[2016-05-08 15:31] alexlarsson commented on #2585
Oh, i didn't mean you should use `systemd --user`, i just compared it with what xdg-app does, and it uses the same dbus apis, but the user, not system instance.

[2016-05-08 15:48] alban commented on #1090
https://github.com/systemd/systemd/pull/3093 has been merged and will be in systemd-v230.

I tried it in https://github.com/coreos/rkt/pull/2495 but this is not ready.

[2016-05-08 17:06] alban opened #2597 "Godeps: bump appc/spec for the next release"
For the next release of rkt-v1.6.0, we should wait for a new appc/spec release and then bump the version in Godeps. It will help with:

- [ ] capabilities #2589
 - [x] depends on https://github.com/appc/spec/pull/601 (merged, but not in an appc/spec release yet)
- [ ] seccomp #1614
 - [ ] depends on https://github.com/appc/spec/issues/529 (not implemented, might be postponed if not ready)

Accordi

[2016-05-08 17:34] jonboulle commented on #2480
#2470 isn't closed..

On Fri, May 6, 2016 at 6:04 PM, Paweł Skrzyński <notifications@github.com>
wrote:

[2016-05-08 19:19] philips commented on #1614
@jfrazelle Ping? If you want to take a swing at this it would be awesome!

[2016-05-08 19:35] jfrazelle commented on #1614
Sorry yes will do :) working on kubes seccomp or now then this

On Sunday, May 8, 2016, Brandon Philips <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-05-08 19:48] alban commented on #2597
@philips @jfrazelle to be sure that the capabilities changes make it to the rkt release this Thursday, should we get an appc/spec release with only the capability changes first, and then the seccomp changes for after?

[2016-05-09 07:14] jellonek commented on #1917
Yes, I don't have a time for this at the moment and we want to if this issue show also still under qemu.

[2016-05-09 07:41] jellonek commented on #1131
@alban tests are runnable, #2111 is also merged - should we close this issue?

[2016-05-09 12:27] jonboulle commented on #1131
:ok_hand: thanks for all the great work, @jellonek @ppalucki @mstachowski @mpatelcz @woodbor (hope I'm not missing anyone)

[2016-05-09 12:27] #1131 closed

[2016-05-09 12:48] iaguis opened #2601 "Documentation: how to use the latest rkt version on CoreOS"
We have a paragraph in the [distributions documentation](Documentation/distributions.md) mentioning that rkt is an integral part of CoreOS. However, the versions shipped are not the latest ones (right now, it's 1.0.0 in stable and 1.2.1) and some users want to use the latest version.

cc @f0

[2016-05-09 13:16] #2141 closed

[2016-05-09 14:56] matthaias commented on #2215
I also got two errors, `configure: error: *** No development headers for libacl found` and `configure: error: *** TPM is enabled, but could not find required development files`.

After searching theses errors, i could fix it by adding the packages `libacl1-dev` and `trousers-dbg`. (source: https://groups.google.com/forum/#!topic/rkt-dev/-FAWUkOJ7IA)

If there is still help wanted, i'll open a pull

[2016-05-09 16:56] yifan-gu commented on #2580
Ping @steveeJ ?

[2016-05-09 17:33] f0 commented on #1818
@iaguis @alban
this is the issue about the container "name" we talked about earlier, initial it was only about rkt list, maybe the name should also be set in machined

[2016-05-09 18:43] yifan-gu commented on #2487
Any updates? @tmrts

[2016-05-09 19:02] tmrts commented on #2487
@yifan-gu I just started working on it. It shouldn't take more than a day or two.

[2016-05-09 19:15] yifan-gu commented on #2487
@tmrts Awesome!

[2016-05-09 22:01] yifan-gu commented on #2504
FWIW, this is causing kubelet/cadvisor to achieve super high CPU usage (~full cores) over the time because cadvisor keeps listing all those remaining cgroups.

[2016-05-09 23:21] sjpotter commented on #2504
we should configure cadvisor to use the dockerOnly flag (or soon to hopefully be runtimeOnly)

[2016-05-10 04:28] jimmycuadra opened #2602 "Automatically inheriting /etc/resolv.conf config from host"
According to #662/#2032/#2040, rkt will create `/etc/resolv.conf` if it doesn't exist so that DNS can be resolved inside the container. I just ran into a case where I was trying to run an image with nothing in it but a static binary, (a Docker image using the "scratch" base image) but it didn't seem to do this, because my program crashed with an error from `getaddrinfo`. I inspected the contents o

[2016-05-10 07:16] philips commented on #2175
@trusch Based on mischief's comments can you get this working now?

[2016-05-10 07:18] philips commented on #2188
@dgonyeo @jonboulle what is the next step here? docker2aci supports this now?

[2016-05-10 07:18] philips commented on #2188
@alban can we make this a v1.6.0 milestone?

[2016-05-10 07:32] philips commented on #1614
@jfrazelle sounds great, looking forward to it!

[2016-05-10 07:43] jonboulle commented on #2602
no, right now only if you supply the arguments, can you help us clarify in the docs?

you're right, that's far from ideal. @tmrts fixed this in master: https://github.com/coreos/rkt/pull/2599

[2016-05-10 09:40] jellonek commented on #2215
`libtspi-dev` will be probably more correct name for package (mentioned by @euank), instead of `trousers-dbg`.
If it's desired, IMO this should be added in [this](https://github.com/coreos/rkt/blob/31f3fc1dc6e2d765bf78d3990476394745bf77aa/scripts/install-deps-debian-sid.sh#L5) line.

[2016-05-10 09:44] jellonek commented on #2215
This is updated in https://github.com/coreos/rkt/pull/2596/files#diff-9af6566868889af4f3241754fb0b7dccR36 (correct name for required trousers package is mentioned above by @euank `libtspi-dev`, `trousers-dbg` provides debug data from stripped from original `libtspi` and `trousers` packages).

[2016-05-10 09:48] jellonek commented on #2175
#2600 related.

[2016-05-10 11:35] iaguis commented on #2215
We don't build releases with TPM enabled, we disable it with the
`--disable-tpm` configure flag. Not sure if we want it for docker builds by
default.

On Tue, May 10, 2016, 11:44 Piotr Skamruk <notifications@github.com> wrote:

[2016-05-10 12:13] jjlakis commented on #2576
Problem appears only in 9p mountpoints. Looks like it's a problem with somewhere in KVM/9p. Problem also exists after LKVM update (https://github.com/coreos/rkt/pull/2595). We will check this case with QEMU support (https://github.com/coreos/rkt/pull/2592).
cc @jellonek

[2016-05-10 12:19] #2594 closed

[2016-05-10 12:53] jellonek commented on #2576
This was already tested under QEMU WIP branch and there problem does not exist, so it's clearly issue with lkvm.

If we have in near perspective switch to qemu as default hypervisor - IMO work on lkvm in this issue would be a waste of time.

[2016-05-10 14:36] pskrzyns opened #2604 "rkt with kvm doesnt save flannel network netName"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

[code]
**What did you see instead?**

[code]

[2016-05-10 14:39] pskrzyns commented on #2604
@jellonek

[2016-05-10 14:42] jellonek commented on #2604
ack

[2016-05-10 14:55] #2283 closed

[2016-05-10 15:38] jimmycuadra commented on #2602
Is there a mechanism for inheriting the host's `/etc/resolv.conf` without manually specifying the nameserver/search domain or mounting it as a volume? I imagine most apps will want that behavior and it'll end up being necessary boilerplate to `rkt run` otherwise.

[2016-05-10 15:42] jonboulle commented on #2602
What do you mean by inheriting? bind mounting or copying?

On Tue, May 10, 2016 at 5:38 PM, Jimmy Cuadra <notifications@github.com>
wrote:

[2016-05-10 15:52] jimmycuadra commented on #2602
For my purposes the implementation doesn't matter—just some way of propagating the host's settings into the container. I don't recall ever having to manage `/etc/resolv.conf` myself when using Docker. I guess I'm looking for an equivalent "it just works" approach.

[2016-05-10 16:31] tmrts commented on #2602
@jimmycuadra You can use `rkt run --volume=resolv,kind=host,source=/etc/resolv.conf IMAGE.ACI --mount volume=resolv,target=/etc/resolv.conf` to use the host's resolv.conf

[2016-05-10 16:32] alban opened #2606 "SELinux: improve docs"
rkt has this documentation about SELinux: [selinux.md](Documentation/selinux.md):

It should be more detailed about what that means on several distributions. [distributions.md](Documentation/distributions.md) has some information about SELinux on Fedora but that's not enough.

/cc @mjg59

[2016-05-10 16:33] jimmycuadra commented on #2602
Yes, that is how I will work around this for now. I was hoping there would be a less verbose way to do that. Basically any app that uses DNS will have to do this as it stands.

[2016-05-10 16:40] jellonek commented on #2602
@tmrts: Jimmy mentioned this approach in his original question.

This topic was already mentioned in [this](https://github.com/coreos/rkt/issues/2223#issuecomment-193184136) comment.

[2016-05-10 16:48] dgonyeo commented on #2188
I spent some time looking into using the notary to verify images, but I think that's a separate issue from this one.

[2016-05-10 21:50] tjdett commented on #2576
So LKVM stage 1 is being deprecated in favor of a QEMU stage 1?

[2016-05-10 23:02] matthaias commented on #2215
Thanks @jellonek for the information. I didn't know the file and that this is solved via the pull request. I like the idea adding `libtspi-dev` to [`install-deps-debian-sid.sh`](https://github.com/coreos/rkt/blob/master/scripts/install-deps-debian-sid.sh). With this change it would be possible to reuse this shell script, that is used in the [build rkt in rkt](https://github.com/coreos/rkt/blob/mas

[2016-05-11 08:36] jonboulle commented on #2576
@tjdett my understanding is @mstachowski is just exploring it as an alternative. @jellonek why would we choose it over lkvm?

[2016-05-11 09:06] jonboulle commented on #2602
I guess you want this:

--dns-search=DOMAIN..., or --dns-opt=OPTION... options, Docker makes each
container’s /etc/resolv.conf look like the /etc/resolv.confof the host
machine (where the docker daemon runs). When creating the container’s
/etc/resolv.conf, the daemon filters out all localhost IP address
nameserverentries
from the host’s original file.

from
https://docs.docker.com/engine/userguide

[2016-05-11 10:37] tmrts commented on #2580
We'll cherry-pick bug fixes in `v0.3.0` to a minor release.

[2016-05-11 10:41] jellonek commented on #2215
Also IMO it's good idea to add this into `install-deps-debian-sid.sh` even if it's not used in time of building releases. This could simplify build instructions now having same information in several places.

As for question about using `golang:1.5` vs `debian:sid` - I have no opinion on that subject ;)

[2016-05-11 10:48] jellonek commented on #2576
@tjdett there is already started work to modify kvm stage1 to support different hypervisors (so there would be no new stage1).

@jonboulle biggest advantage of qemu over lkvm is stability. Work history with lkvm showed us how many bugs we had to workaround and this particular one is clearly showing such problems.

qemu has as disadvantage quite long bootup time, but our team working on Clear Conta

[2016-05-11 11:23] pskrzyns commented on #2480
I made mistake i was talking about #2469 instead of  #2470

[2016-05-11 11:27] jonboulle commented on #2480
SGTM

[2016-05-11 11:27] #2480 closed

[2016-05-11 11:28] #2583 closed

[2016-05-11 13:38] jonboulle commented on #2597
@alban https://github.com/appc/spec/releases/tag/v0.8.0

[2016-05-11 13:45] jonboulle commented on #2601
@dgonyeo could you help with this?

[2016-05-11 13:50] matthaias commented on #480
According to the comment from @jonboulle in the open pull request https://github.com/coreos/rkt/pull/979#issuecomment-109068780 this is still an issue. @nederdirk will you update your pull request? I don't want to take your issue :). Otherwise i can try to fix this.

Am i right, that if `rkt trust` is called with `--root` it **must** be a PUBKEY provided via local file or url. If it is called with

[2016-05-11 13:57] nederdirk commented on #480
@matthaias please go ahead with and modify my contribution of last year. I haven't looked at the rkt code since, nor do I have the time/courage/desire to pick up this issue again.

[2016-05-11 14:37] alban commented on #2491
We will need a follow-up issue for `rkt list --full`. It can prints the "image id" (that's good) but if the image has dependencies, I don't think we can get the image ids used in the dependencies. That's important since the [image manifest schema](https://github.com/appc/spec/blob/master/spec/aci.md#image-manifest-schema) allows to specify a dependency without an exact image id (dependencies/Image

[2016-05-11 14:46] blixtra opened #2610 "*: use stageX (no space) consistently"
We use the term stageX in most places. But in a number of places "stage X" is used. We should be consistent about this.

[2016-05-11 15:05] dgonyeo commented on #2601
Sure, I even have a oneshot systemd unit that will download it and put it in /opt

[2016-05-11 15:15] alban commented on #2597
The following compilation error is caused by https://github.com/appc/spec/pull/576:
[code]

[2016-05-11 16:23] jonboulle commented on #2504
Capturing discussion from sync: initial action is to ensure we clean up these cgroups on rkt gc and/or rkt remove

[2016-05-11 16:28] yifan-gu commented on #2606
I have made some changes in https://github.com/coreos/rkt/pull/2361

[2016-05-11 21:44] jimmycuadra commented on #2602
I understand how to do it with the --dns options. It sounds like there is not a way to "automatically" do it, though. It just seems like boilerplate when any app that requires DNS resolution (probably most apps) will need to do this, and the values for the --dns options may not be known in advance (i.e. cloud servers where the hosts may be brought up and down at any time.)

[2016-05-11 23:18] tjdett commented on #2576
Cool. I have absolutely no problem using a KVM+QEMU stage 1 with longer boot times if it fixes bugs like these. I'd love to test a nightly binary with this option as soon as it's available.

My concern is that as a user of rkt, an LKVM stage 1 where the sticky bit behaves like this isn't just a little wrong, it's completely broken in a way that causes known good containers to behave incorrectly. I

[2016-05-12 02:10] rwarren commented on #2296
I tried a different cgroup setup to no avail.  Specifically, I set cgroup up by adding:

    cgroup  /sys/fs/cgroup  cgroup  defaults  0   0

to `/etc/fstab` and mounting it.  This seemed to kick off cgroups ok:

[code]

... however, the sample Alpine linux container still failed to start:

![image](https://cloud.githubusercontent.com/assets/2751728/15201870/544f8b68-17c3-11e6-9647-1dd0fdcd5ba7.pn

[2016-05-12 06:39] tmrts commented on #2202
ping @iaguis for Debian, @jellonek for Clear Linux OS

[2016-05-12 06:46] matthaias commented on #2215
Thanks, i will give it a try.

Also this, if you have no opinion :)

[2016-05-12 07:51] s-urbaniak opened #2616 "Function stage1/init/common#appToSystemd needs overwhaul"
The function `appToSystemd` needs an overwhaul, it is ~200 LOC, includes a lot of logic, has many parameters.

I suggest to refactor it, maybe in "[functional options](http://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis)" style for better future maintainability.

[2016-05-12 07:52] mstachowski commented on #2576
@tjdett You can do this by pulling `rkt` source code from my pull request ( #2592). Actually I have got problems with building `QEMU` during `rkt` building.  :)

[2016-05-12 08:37] #2215 closed

[2016-05-12 08:58] #2502 closed

[2016-05-12 09:07] s-urbaniak commented on #2410
didn't make it due to OCI/Fest activity

[2016-05-12 09:07] s-urbaniak commented on #1469
didn't make it due to OCI/Fest activity

[2016-05-12 09:08] s-urbaniak commented on #2385
didn't make it due to OCI/Fest activity

[2016-05-12 09:08] s-urbaniak commented on #2158
didn't make it due to OCI/Fest activity

[2016-05-12 09:08] s-urbaniak commented on #2115
didn't make it due to OCI/Fest activity

[2016-05-12 09:13] jonboulle commented on #2580
For now we should do the minimally invasive change: https://github.com/containernetworking/cni/releases/tag/v0.2.3
Note that this doesn't change the import paths yet

[2016-05-12 09:16] #2421 closed

[2016-05-12 09:21] jellonek commented on #2202
Sorry, didn't seen this issue earlier.
I can't get ownership of this part of docs.
Also I'm not familiar with Clear Linux.

Btw. Ubuntu can possibly have little differences from Debian and so - probably deserves at least mention in doc name, like `Debian/Ubuntu`.

[2016-05-12 09:23] alban commented on #2202
I agree that Ubuntu should have a section but at the moment there are no rkt package for Ubuntu so it cannot be together with Debian.

[2016-05-12 10:00] jellonek commented on #2616
Related to #2569

[2016-05-12 10:16] jonboulle opened #2619 "stage0: improve pre-checks for unsupported platforms"
Chasing #2475. In scenarios where we know things will fail (e.g. btrfs+overlayfs), we should bail gracefully, rather than potentially panicking etc.

Related: #2600

[2016-05-12 10:16] jonboulle commented on #2475
Closing, filed #2619 for https://github.com/coreos/rkt/issues/2475#issuecomment-213411558

[2016-05-12 10:16] #2475 closed

[2016-05-12 10:30] #2580 closed

[2016-05-12 10:32] tmrts commented on #2565
#2618 updates to CNI release with the fix for iptable rule leaks.

[2016-05-12 10:32] #2565 closed

[2016-05-12 10:53] jellonek commented on #1765
@steveeJ ping
when we could have cni version bump? fix for this is already in cni master.

[2016-05-12 11:38] jonboulle commented on #2363
Let's address this after we have the jenkins setup.

[2016-05-12 11:39] jonboulle commented on #2375
Removing from specific milestone as this is a tracker ticket. Interface redesign won't happen until post kubernetes 1.3.

[2016-05-12 11:44] jonboulle commented on #2296
It definitely shouldn't depend on systemd on the host. Sorry, we haven't had a chance to look into your issue. But getting it working on another system is definitely not futile, we'd be very glad if you could figure this out :-)

[2016-05-12 12:41] alban opened #2621 "TestAceValidator has been disabled"
TestAceValidator has been disabled when Godeps bumped to appc/spec 0.8.1, see #2611.

It should be fixed properly.

[2016-05-12 12:42] iaguis commented on #2621
More specifically, we need to implement the changes introduced in https://github.com/appc/spec/pull/451 in the metadata service.

[2016-05-12 12:42] alban commented on #2171
TestAceValidator is currently disabled, see https://github.com/coreos/rkt/issues/2621

[2016-05-12 12:43] jonboulle commented on #1464
any update on this?

[2016-05-12 12:43] jonboulle commented on #1463
I'd like to find an owner for this for 1.7.0 as it's going to be a prerequisite for #2375

[2016-05-12 12:50] alban commented on #1464
@jonboulle I wrote some patches in systemd (https://github.com/systemd/systemd/issues/1369 / https://github.com/systemd/systemd/pull/3022) and there was a review but I didn't address it because this is lower priority than the other tasks.

[2016-05-12 13:12] jonboulle commented on #2341
#2582

[2016-05-12 13:13] jonboulle commented on #2341
Should no longer be critical for k8s.

[2016-05-12 13:13] jonboulle commented on #2414
I think we need a clearer use case for this. It needs more thinking around semantics of multiple apps in the pod.

[2016-05-12 13:15] jonboulle commented on #2223
@euank is this still relevant?

[2016-05-12 13:15] jonboulle commented on #2206
Removing from specific milestone until firewall issues are followed up in CNI.

[2016-05-12 13:16] #2597 closed

[2016-05-12 13:17] jonboulle commented on #1727
Removing from specific milestone as still dependent on external work.

[2016-05-12 13:19] jonboulle commented on #1304
Removing from specific milestone, there are a few external dependencies

[2016-05-12 13:23] alban commented on #2414
I would only expect this to work with `--interactive`, so only one app in the pod.

[2016-05-12 13:31] jonboulle commented on #2414
Ah yes, fair point

Alban Crequy <notifications@github.com> schrieb am Do., 12. Mai 2016, 15:23:

[2016-05-12 13:33] alban commented on #2188
@philips not ready for this release.

[2016-05-12 13:42] sjpotter commented on #2414
Honestly i think interactive should work with more than one app in the pod by specifying which app should be interactive.

[2016-05-12 13:45] #2573 closed

[2016-05-12 13:47] alban commented on #2322
Moving milestone, since this is tracking an external target (whether the fix is in all versions of Fedora).

[2016-05-12 13:51] jonboulle commented on #2414
That's fine, but if it's not needed for rktnetes it's not a huge priority.

Shaya Potter <notifications@github.com> schrieb am Do., 12. Mai 2016, 15:43:

[2016-05-12 13:58] #2348 closed

[2016-05-12 14:11] alban commented on #1831
@s-urbaniak any opinion on this?

[2016-05-12 14:15] alban commented on #2113
@steveeJ ping?

[2016-05-12 14:24] s-urbaniak commented on #2249
didn't make it due to OCI/Fest activity

[2016-05-12 14:26] iaguis commented on #2202
I'll do Debian for the next release :blush:

[2016-05-12 14:41] philips commented on #2206
@rhatdan Is there anyone from the Fedora or RH community who would want to figure out how to integrate rkt and CNI with firewalld?

[2016-05-12 14:43] alban commented on #2206
@philips there is a PR already (https://github.com/containernetworking/cni/pull/138) but @steveeJ wanted to refactor it as a CNI plugin.

[2016-05-12 14:50] rhatdan commented on #2206
Best to open a bugzilla on rkt and then we can point the firewalld team at it.  But this pull request looks like someone has been looking at it.

[2016-05-12 14:57] philips opened #2622 "rkt: add a quiet mode to rkt"
I want to run things like [CNI](https://github.com/containernetworking/cni) plugins under rkt. Things like CNI want to communicate over stdint/stderr. It would be great if I could make rkt do two things:

1) Redirect its internal output to a file for debugging purposes. Like `--stderr=/dev/null`.
2) Provide a custom rkt error exit code that I could capture in a bash script to then output the debug

[2016-05-12 15:20] iaguis commented on #2483
I guess https://github.com/coreos/rkt/pull/2603 closes this

[2016-05-12 15:21] iaguis commented on #1922
Not sure what we should do here...

[2016-05-12 15:22] iaguis commented on #1917
Needs more investigation. Moving...

[2016-05-12 15:23] iaguis commented on #2477
That's a good point

[2016-05-12 15:27] iaguis commented on #2483
Closed via #2603

[2016-05-12 15:27] #2483 closed

[2016-05-12 15:35] jellonek commented on #2622
IMO this should be supported in each stage1, not only on `fly`.
These information are useful for debug purpose, but in daily rkt usage they are annoying.
I have (in kvm flavor) one similar log for network service file creation and this should be also hidden.

[2016-05-12 19:39] artem-sidorenko commented on #1922
@iaguis I'm using the [mainline kernel from elrepo](http://elrepo.org/tiki/kernel-ml) and it works fine. Probably this can be just documented in the docs.

I'll do it similar in my chef-rkt cookbook and just provide a [warning](https://gitlab.com/artem-sidorenko/chef-rkt/issues/5) if kernel <3.18 is used.

[2016-05-12 22:08] euank commented on #2223
@jonboulle It's not immediately relevant.
It's not blocking rktnetes unless we move managing the network namespace back into rkt.

It's still something that could be helpful for doing such a thing less hackily and in a more generic way and I'm sure other people (such as f0 above) would find this useful for their own reasons, so vfuture sounds reasonable to me.

[2016-05-13 13:14] #2604 closed

[2016-05-13 13:18] s-urbaniak opened #2627 "kvm: implement functional test for preserving network netName"
#2604 was fixed via #2625 but without tests.

[2016-05-13 14:13] #2487 closed

[2016-05-13 15:35] rwarren commented on #2296
Could the root cause here be that the available cgroups on the host system aren't sufficient?  Here's what I get when I try and mount them all (note the conspicuous absence of `memory`, for example):
[code]

[2016-05-13 15:37] rwarren commented on #2296
Kernel in this case is a 4.2.9 build:
[code]

[2016-05-13 18:28] natostanco opened #2629 "incompatibilities for containerized kubelet with rkt as container runtime"
[code]
edited wrapper used:
[code]

kubelet unit:
[code]
kubelet logs http://paste.debian.net/plain/683767

#2167

[2016-05-14 00:36] yifan-gu commented on #2629
cc @aaronlevy @pbx0

[2016-05-14 00:38] yifan-gu commented on #2629
As far as I can see from the log, we need to mount the rkt bin.

[2016-05-14 00:48] yifan-gu commented on #2115
subscribe

[2016-05-14 01:04] euank opened #2630 "journal logs sometimes missing source unit information"
This seems likely to really be a systemd/journald issue.

I expect, when I run a container, for `_SYSTEMD_UNIT` to be set in the journald logs of that container. It allow figuring out which app printed the message, for one. On newer rkt versions (1.5.0+) it is not reliably set. Using git bisect, I determined that the issue was introduced in #2493 (commit 9b7774fc98a40f2653ef884045843b9804193fd6  s

[2016-05-14 01:40] yifan-gu commented on #2629
@natostanco I can't reproduce the panic locally, what's the kubernetes version you are using?

[2016-05-14 09:34] natostanco commented on #2629
its in the unit file v.1.2.4, used images `quay.io/coreos/hyperkube:v1.2.4_coreos.1` also, tried `gcr.io/google_containers/hyperkube:v1.2.4`.

[2016-05-15 19:56] jellonek commented on #2627
This will be probably done by some one other from my team, but for the moment - let that be my assignment.

[2016-05-16 11:59] jellonek opened #2636 "kvm: failure on flannel network gc"
In kvm flavor there is a bug in garbage collecting network configured by flannel.
This is connected with leakage of ip addresses in flannel based networks.

@jjlakis PTAL

[2016-05-16 15:12] pskrzyns commented on #2636
Also there is leak of network interfaces

[2016-05-16 15:32] matthaias opened #2638 "Failing functional tests"
**Environment**

rkt Version: 1.6.0+git5b6a3c4-dirty
appc Version: 0.8.1
Go Version: go1.5.3
Go OS/Arch: linux/amd64
Features: -TPM

--
Linux 4.2.0-34-generic x86_64

--
NAME="Ubuntu"
VERSION="15.10 (Wily Werewolf)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 15.10"
VERSION_ID="15.10"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net

[2016-05-16 20:09] pskrzyns opened #2640 "Cant open pod logs (probably problem with ids)"
When running kubernetes with rkt i cant get logs, from kubectl get logs.
After some debugging i found:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/rkt/log.go

**Environment**

[code]

**What did you do?**
[code]
**What did you expect to see?**
logs from pod, including:

[code]

**What did you see instead?**
[code]

Additional info:
[code]

it looks like container id is messed

[2016-05-16 20:10] pskrzyns commented on #2640
cc @yifan-gu , @woodbor

[2016-05-16 20:46] yifan-gu commented on #2640
I don't know why it was opening `/var/log/journal/271b753befe94448bdd8f18d393acc45` while you were doing `journalctl -m _MACHINE_ID=fc032abf76224f18b732dc73f943c036 -u nginx -a` ?

[2016-05-16 22:00] pskrzyns commented on #2640
Don't know, after i manualy removed it, i still cant see logs

[2016-05-16 22:14] yifan-gu commented on #2640
cc @alban @iaguis

[2016-05-17 05:56] tmrts commented on #2504
/subscribe

[2016-05-17 07:53] #2586 closed

[2016-05-17 07:57] jellonek commented on #2640
Probably connected with #947
Maybe also connected with #1463

[2016-05-17 08:14] iaguis commented on #2638
Most probably, the tests failing are `TestAPIServiceListInspectImages` `TestImageSize`. These are known failures fixed by https://github.com/coreos/rkt/pull/2501 but there's still some discussion on whether the solution is correct (see https://github.com/coreos/rkt/pull/2501#issuecomment-218761643).

[2016-05-17 08:26] iaguis commented on #2630
Having a look

[2016-05-17 08:48] iaguis commented on #2630
It seems to be related to the unit being run as non-root.

[2016-05-17 09:07] iaguis commented on #2630
[code]

Note that `_SYSTEMD_UNIT` is not set if the unit file is run with `User=1000` but it works if the option is `User=0`.

[2016-05-17 09:22] iaguis commented on #2630
It is a combination of a short-lived process with it not being run by uid=0.

[code]

Upstream issue: https://github.com/systemd/systemd/issues/2913
Related bug reports:
* https://bugs.freedesktop.org/show_bug.cgi?id=50184
* https://bugzilla.redhat.com/show_bug.cgi?id=963620

[2016-05-17 09:25] tmrts commented on #2491
@alban I don't think we should keep extending `list` subcommand like this, instead we should use something `rkt image describe`, that prints out a dependency graph similar to `git log --decorate --graph --oneline`

[2016-05-17 10:04] tmrts commented on #2630
This is the warning I get when I run the command listed by @euank:
`stage1: warning: error setting journal ACLs, you'll need root to read the pod journal: unable to open a handle to libacl`

[2016-05-17 10:05] iaguis commented on #2630
That's just that you don't have libacl so we can't set ACLs for the journal directory which prevents users that are non root accessing the pod journal (even if they're in the `rkt` group)

[2016-05-17 10:07] tmrts commented on #2630
@iaguis I do have the libacl installed though, I double-checked just in case. Might be related to NixOS

[2016-05-17 10:09] iaguis commented on #2630
https://cloud.githubusercontent.com/assets/507354/11209721/3a55f5a6-8d23-11e5-8cf9-da9a8e66ed6b.jpg

[2016-05-17 10:09] iaguis commented on #2630
![](https://cloud.githubusercontent.com/assets/507354/11209721/3a55f5a6-8d23-11e5-8cf9-da9a8e66ed6b.jpg)

[2016-05-17 10:35] jonboulle opened #2642 "tests: don't run functional test for MAINTAINERS file"
from #2641

At the very least, we can add MAINTAINERS to https://github.com/coreos/rkt/blob/master/tests/build-and-run-tests.sh#L235
But while we're at it, maybe some other things to add or tweaks to make here - what other false positives are we catching? @tmrts

/cc @lucab starter issue for you :-)

[2016-05-17 10:39] jonboulle commented on #2638
@matthaias can you add the tests that actually failed? e.g. lines starting with `--- FAIL:`

[2016-05-17 10:43] tmrts commented on #2642
We can include `^logos/$` and `^.*\.(png|jpg|jpeg|svg)$`.

Also https://github.com/coreos/rkt/blob/master/tests/build-and-run-tests.sh#L237 is not correct,
the `^(CHANGELOG|.....)$` must have `\.md` suffix before the end of line anchor `$`

[2016-05-17 11:05] jonboulle commented on #1469
@s-urbaniak are you going to get to this, or do we need to find a new owner?

[2016-05-17 11:05] jonboulle commented on #1757
Hey @mike1729 , any progress? we'd be happy to take a look at any WIP stuff you have

[2016-05-17 11:27] alban opened #2644 "docs: security: communication between the host and the pod"
There are a number of communication channels between the host and the pod that are not all obvious. They should be [documented](https://github.com/coreos/rkt/tree/master/Documentation).

Examples:
- using host volumes. This gives the pod access to host files. Related discussions: https://github.com/coreos/rkt/issues/735 https://github.com/docker/docker/issues/12317
- nspawn’ s incoming mounts feat

[2016-05-17 11:52] matthaias commented on #2638
Of course. Sorry, i didn't see it, because my terminal history was too short. I thought it would fail if the first test fails.

[code]

[code]

[code]

[code]

[2016-05-17 12:30] jonboulle commented on #2115
Bump. These would be useful for rktnetes. @s-urbaniak think you can make some progress over the next couple of weeks?

[2016-05-17 13:25] f0 commented on #2619
@jonboulle  on opensuse thumbleweed with linux 4.5.3 it does work

[2016-05-17 13:34] iaguis commented on #2630
[It was suggested](https://github.com/systemd/systemd/issues/2913#issuecomment-219702148) using `SyslogIdentifier` to workaround this issue. However, we're already setting that to the argv[0] of the binary of the app.

This was done because we were wrapping the execution with appexec so it looked like the messages came from appexec. Using `SyslogIdentifier` causes processes forked by the app, pre

[2016-05-17 13:40] jonboulle commented on #2630
Now that we no longer need SyslogIdentifier=exec[0], it seems like changing
it to app name is already an improvement. SGTM...

On Tue, May 17, 2016 at 3:35 PM, Iago López Galeiras <
notifications@github.com> wrote:

[2016-05-17 13:42] jonboulle commented on #2167
closing for #2158

[2016-05-17 13:42] #2167 closed

[2016-05-17 13:43] jonboulle commented on #2158
from #2167:

[2016-05-17 13:43] jonboulle commented on #2629
@yifan-gu can you triage this one please

[2016-05-17 13:48] jonboulle commented on #2638
@yifan-gu any idea on this one?

[2016-05-17 14:19] alban opened #2648 "docs: security: capabilities should be documented"
Since rkt 1.6.0, the way rkt handles per-app capabilities is better defined. See:
- https://github.com/coreos/rkt/pull/2589
- https://github.com/appc/spec/pull/600

However, this is not [documented](https://github.com/coreos/rkt/tree/master/Documentation). This should be documented:
- the mechanism, how it is implemented
- how to use them in ACIs. As an example of scenarios that needs caps, there

[2016-05-17 14:39] iaguis commented on #2640
`journalctl -m` gets all the logs and merges them together, then you can filter (e.g. `_MACHINE_ID`.

[2016-05-17 14:40] iaguis commented on #2640
@pskrzyns Does the target of the log link exist? Do you know if rkt was run with `--interactive`?

[2016-05-17 14:56] jonboulle commented on #2581
Strictly speaking you're correct, although one could argue this behaviour is preferable from a usability perspective. I'm 50-50 on changing this or just loosening the spec from MUST to SHOULD. @sgotti strong feelings either way?

[2016-05-17 15:36] pskrzyns commented on #2640
@iaguis yes target existed
[code]

99% it wasnt run with interactive, cuase kubelet was creating pod, i will check it in few minutes

[2016-05-17 16:01] pskrzyns commented on #2640
Its not using --interactive
[code]
[code]

[code]

[code]

[code]

[code]

[2016-05-17 17:58] hectorj2f commented on #1917
I am also facing this issue when using rkt `v.1.6.0` and `stage1-kvm:1.6.0`.

[code]

[2016-05-17 18:07] jonboulle commented on #2630
is this _fixed_ by 2645? or just reduced?

[2016-05-17 18:07] #2494 closed

[2016-05-17 18:29] euank commented on #2630
The related journald/systemd race is still there. I think this reduces impact by allowing a workaround.

[2016-05-17 20:17] steveeJ commented on #1765
@jellonek way to go: https://github.com/containernetworking/cni/milestones/v0.3.0

[2016-05-17 20:19] yifan-gu commented on #2629
OK

[2016-05-18 00:38] yifan-gu commented on #2629
I will look at this tomorrow.

[2016-05-18 00:41] yifan-gu commented on #2629
@natostanco Could you paste the logs somewhere else again? The original link doesn't work now.

[2016-05-18 03:02] tjdett opened #2650 "systemd-run guide does not work for LKVM stage 1"
rkt hangs with `systemd-run` using the KVM stage 1 without a TTY.

When used with a TTY to run interactively, rkt behaves normally.

**Environment**

[code]

**What did you expect to see?**

_cgroups stage 1_

[code]

_KVM stage 1 with a TTY_

[code]

**What did you see instead?**

[code]

[2016-05-18 07:20] lucab commented on #2581
I'm personally in favour of keeping the MUST in the spec and adjusting the verifier to be stricter. If we are concerned about compatibility, we may first introduce a warning for a couple of releases before hard-rejecting.

[2016-05-18 07:29] jonboulle commented on #2581
@lucab want to take ownership of this one?

Luca Bruno <notifications@github.com> schrieb am Mi., 18. Mai 2016, 09:20:

[2016-05-18 07:41] jellonek commented on #1917
Please try kvm flavor from branch proposed in [this](https://github.com/coreos/rkt/pull/2592) PR.

[2016-05-18 07:53] jellonek commented on #1765
Still we don't have a release of cni, so it can not be bumped up there in rkt.

[2016-05-18 08:29] jellonek commented on #2650
I have probably other version of `systemd-run` (v229) because on my machine this parameter have `--pty` name and there is no mentioned `--tty` parameter.

[2016-05-18 09:06] jonboulle commented on #2650
@jellonek can we block the lkvm flavour from getting to this point if tty is not available?

[2016-05-18 09:12] #2642 closed

[2016-05-18 09:39] jonboulle commented on #1765
We should have a 0.3.0 release by the next rkt release and bump CNI here.

[2016-05-18 09:51] jellonek commented on #2650
Yes, we should do this in init.

[2016-05-18 09:55] lucab commented on #2581
While digging through code history, I found #1231 which explicitly introduced this. @alban, I would like to revert that on the basis that [it is a MUST in aci spec](https://github.com/appc/spec/blame/master/spec/aci.md#L29) and ACE has been fixed in the meanwhile. Is that ok for you?

[2016-05-18 10:09] alban commented on #2581
I'm personally in favour of loosening the rkt implementation to support both binary and ascii-armored signatures. I don't see what the strictness would bring for security or usability.

The spec says that a binary signature is not following appc/spec. But the rkt implementation could still accept them: appc/spec is a subset of the formats accepted by rkt. rkt also supports the Docker format.

But

[2016-05-18 12:59] iaguis commented on #2540
ping?

[2016-05-18 15:43] jonboulle commented on #480
@matthaias if you could take this that'd be great.

IIRC it will _only_ work with _no_ pubkey. So just remove it entirely from the latter examples.

[2016-05-18 15:55] iaguis commented on #2640
When I run rkt in a systemd unit file, my logs look like:

[code]

In the logs you pasted before you don't have the container process after the `rkt[9218]:`. That's weird.

[2016-05-18 16:29] s-urbaniak commented on #1469
yes, I'd like to keep on working on this, sync'ed with @iaguis last week already, this should be (hopefully) a low hanging fruit with the following ToDos:

1. update appc spec to accept a new "no_new_privs" linux isolator
2. Add this setting to the systemd unit generation
3. Functional test

[2016-05-18 16:30] jonboulle commented on #1469
SGTM

On Wed, May 18, 2016 at 6:30 PM, Sergiusz Urbaniak <notifications@github.com

[2016-05-18 17:33] f0 opened #2657 "/etc/hostname and hostname different content"
Hi,

/etc/hostname and the hostname command should output the same... but it differs....
/ # cat /etc/hostname
localhost
/ # cat /etc/hosts
127.0.0.1       rkt-1a644196-544f-4ef4-b4ac-c16e5b75111f        localhost       localhost.localdomain
/ #
/ # hostname
rkt-1a644196-544f-4ef4-b4ac-c16e5b75111f

rkt 1.5.1  + /etc/hosts  uuid fix

regards f0

[2016-05-18 18:56] hectorj2f opened #2658 "Re-building stage1-kvm fails"
I initially built my `stage1-kvm` without any problem using:

`./autogen.sh && ./configure --with-stage1-flavors=kvm && make`

If I try to rebuild it afterwards, I always get the error shown below. I believe a target should be added to clean the built.

I want to rebuild my stage1 `stage1-kvm` because I need to enable `CONFIG_CPUSETS=y` which was initially disabled by default in https://github.com

[2016-05-18 21:58] natostanco commented on #2629
[kubeletlogs.txt](https://github.com/coreos/rkt/files/271476/kubeletlogs.txt)

[2016-05-18 22:40] tjdett commented on #2650
@jellonek See systemd/systemd#3054 for why it's `-t` or `--tty` not `--pty` on systemd v229. If you use `--pty` with v229, you get `systemd-run: unrecognized option '--pty'` despite what the documentation says.

Would also appreciate some doco around how to run KVM with TTY in a non-interactive fashion. The main focus of the systemd-run documentation is to run non-interactive:

Running with `-t` s

[2016-05-19 04:13] chancez commented on #2629
@natostanco You need to mount in the rkt binary from host into the kubelet container for this to work. Your logs indicate this here:

[code]

I'm not quite sure of that panic that's going on though..

[2016-05-19 07:58] jellonek commented on #2657
Looking on [prepare-app.c](https://github.com/coreos/rkt/blob/e7393a40793bf16376419fa5d7bb65bfc9cdb5f1/stage1/prepare-app/prepare-app.c) - `/etc/hosts` is only modified file. Content of `/etc/hostname` for this moment is provided by app image. Maybe we should provide additional link from `/proc/sys/kernel/hostname` to `/etc/hostname` if there is no such file in rendered application?
What do you th

[2016-05-19 08:02] mike1729 commented on #1757
Although the kernel supports mixing legacy and unified cgroups (by allowing to mount unified cgroup hierarchy wherever you want), it seems that systemd can work with only one type of cgroup at a time, i.e. it expects both to be mounted at /sys/fs/cgroup. Likewise for nspawn.
Therefore as long as there is no cpu controler in the cgroup2, cpu recource control can't be handled by nspawn.
I started to

[2016-05-19 08:22] jellonek commented on #2658
Could you provide diff of you working directory, because I can not replicate such situation?
Also I have to ensure on which commit your branch is based. Do it contain change provided yesterday in [this commit](https://github.com/coreos/rkt/commit/6d57e40ec909824cc1be5207e1b816c580f7fc70)?

[2016-05-19 08:25] jellonek commented on #2658
Hmmm... looking on error message, this looks like you manually modified `.config`.
Better error message you will have if you will run `make` with `V=3` - you will get more detailed description of failure.

[2016-05-19 08:29] alban opened #2660 "rkt image list: image size vs disk usage"
Capturing https://github.com/coreos/rkt/pull/2501#issuecomment-218761643

**What did you do?**
- `rkt image list`
- get the image size from the API service

**What did you expect to see?**
- The size of the image
- The documentation mentioning what size it is reporting

**What did you see instead?**
- The size of the image + the space it occupies in the tree store.
- The documentation not mentioni

[2016-05-19 08:35] jellonek commented on #2650
Thanks for pointing me about `--tty`. Now I downloaded sources and in fact I see this `tty` long option.

For this moment as obvious workaround I see for example using `screen` (as in good old days) as `pty` provider. KVM flavor at this point can not be started without `pty` (but I did not had a time to try this under [qemu](https://github.com/coreos/rkt/pull/2592) branch).

[2016-05-19 09:34] #2636 closed

[2016-05-19 10:43] pskrzyns commented on #2640
@iaguis could you show me your unit file ?

[2016-05-19 10:48] iaguis commented on #2640
[code]

[2016-05-19 10:53] jonboulle commented on #1428
Fixed by #2030 ?

[2016-05-19 10:54] pskrzyns commented on #2640
In my case it looks like:
[code]

[code]

[2016-05-19 10:57] iaguis commented on #1428
We don't have exit time

[2016-05-19 11:00] jonboulle commented on #2249
@yifan-gu @s-urbaniak can you sync and update on the status of this one please

[2016-05-19 11:05] pskrzyns commented on #2640
for etcd i have similiar logs like you have

[code]

[2016-05-19 11:09] tmrts commented on #2390
A linter with configuration seems like the best option, as suggested by @s-urbaniak

[2016-05-19 11:17] jonboulle commented on #2657
Yeah, we should probably `ensure_etc_hostname` exists. @lucab wanna take this one too?

[2016-05-19 11:21] hectorj2f commented on #2658
@jellonek I used the latest version and it worked. However I can only succed to apply my kernel changes if I run the command with `make V=*`. Otherwise I am not asked during the compilation whether I want to apply new changes to my kernel configuration via a [y|n] steps.

Thanks for your help :)

[2016-05-19 11:26] jonboulle commented on #2619
#2600 probably needs to be resolved first, or incorporated in here.

[2016-05-19 11:41] jonboulle commented on #1818
@f0 do you want to spec this out in a bit more detail? e.g. what the semantic looks like for specifying/interacting with names + where exactly they're propagated

[2016-05-19 11:53] jonboulle commented on #2296
It might be, but I'd expect different errors rather than it still complaining about a read-only filesystem.. @iaguis  any ideas?

[2016-05-19 12:27] jellonek commented on #2658
So could we close this issue, as changing kernel configuration during compilation time shouldn't be IMO required as accessible "for usual cases"? :)

[2016-05-19 13:10] iaguis commented on #2296
I just tried http://tinycorelinux.net/7.x/x86_64/release/TinyCorePure64-7.0.iso with rkt-v1.6.0 and it seems to work:

[code]

[2016-05-19 13:15] jonboulle commented on #2619
also relevant: https://github.com/coreos/rkt/issues/1922#issuecomment-218863433

[2016-05-19 14:11] s-urbaniak commented on #2115
@jonboulle yes! I'm a bit scattered around, but it's on my stack (as also discussed in the community sync)!

[2016-05-19 14:24] pskrzyns opened #2664 "kvm: pod is not registered in machined"
**Environment**

[code]

**What did you do?**
[code]

**What did you expect to see?**
[code]

**What did you see instead?**
[code]

[2016-05-19 14:24] pskrzyns commented on #2664
cc @jjlakis @iaguis

[2016-05-19 14:28] lucab commented on #2619
Trying to summarize here, I think we are facing two scenarios

## Unsupported environments
Based on previous reports, this includes:
 * overlay-on-zfs - #2600
 * overlay-on-aufs

## Quirky kernels
This list is a bit more fuzzy to compile, but I've seen so far:
 * overlay-on-btrfs host freeze (affects >= 4.1 and <=4.5.2) - #2475
 * overlay-on-btrfs pod freeze (seen on 4.3.0) - possibly same as abov

[2016-05-19 14:32] pskrzyns commented on #2223
@euank what do you mean by "there are broader reasons why rktnetes (really kubernetes as a whole) doesn't work with kvm-stuff right now" ?

[2016-05-19 14:43] jonboulle commented on #2188
@dgonyeo ping

[2016-05-19 15:10] jonboulle commented on #2650
@jellonek what do you think we should do? document this?

[2016-05-19 15:11] jonboulle commented on #2223
@pskrzyns I think all of the stuff showing up in the bare-metal conformance tests.. which is you right?

[2016-05-19 15:37] s-urbaniak commented on #2249
@jonboulle thanks for the reminder, we'll meet today anyways, I'll discuss this today.

[2016-05-19 15:45] pskrzyns commented on #2223
@euank the obly problems that are not common for coreos and kvm are:
port forwarding
kubectl logs doesnt work (also not working for special cases in coreos, but different reason)
3 SchedulerPredicates tests - still under investigation

so its not so big numer of problems

other issues at this point of time looks like common for both flavors

[2016-05-19 16:00] jellonek commented on #2650
at the start, someone on intel side should test this against qemu WIP branch. if this will still not work, yes, we should document this.
other thing is to block `init` in such situation with appropriate error message.

[2016-05-19 18:08] f0 commented on #1818
@jonboulle

rkt has a --hostname flag for setting the pod hostname

rkt should have a --name or --alias flag for setting a pod name/alias , displayed e.g with rkt list and maybe machined and rkt api-service

Why a name/alias flag? If you look at the screenshot you see 3 pods with the same app
All pods are started with a systemd unit, the unit has a human readable name eg. releaseinfo01.service , n

[2016-05-19 18:10] f0 commented on #2657
@jonboulle  in my opinion , if the --hostname flag is set, the hostname  should be enforced

[2016-05-19 19:36] #2161 closed

[2016-05-19 20:50] euank commented on #2249
My understanding is that our setting up the network namespace in the kubelet instead of rkt (https://github.com/kubernetes/kubernetes/pull/25062) means that this is less of priority for kubernetes integration in the short-to-mid term at the least.

I'm less certain if we'd want this for rktnetes long term since I'm less clear what the longer term vision for kubelet container networking / sandboxin

[2016-05-20 00:02] euank commented on #2223
@pskrzyns I was thinking of places it shells out to nsenter, cadvisor-related features, and networking, but it seems like I was being overly pessimistic. Apologies for my misunderstanding, I was wrong on that point.

However, it does seem like for networking there are remaining issues. Per the above, the solution of setting the namespace up via kubelet and using `--net=host` doesn't work with kvm

[2016-05-20 03:40] nstott commented on #551
@chancez the debugging is a big thing for us (compose.io), and we have to jump through hoops to build a new aci interactively like that, I agree with both of those sentiments
I don't think though that for stateful services a stop command is strictly necessary, it is handy though for those use cases

does this make us diverge from the oci's runc implementation?  from what I can tell they've chosen

[2016-05-20 08:51] iaguis commented on #2640
The issue is basically https://bugzilla.redhat.com/show_bug.cgi?id=1212756

The nginx image writes its logs to `/var/log/nginx/access.log` which is a symlink to `/dev/stdout`. We run apps in a systemd unit file and, if we don't pass `--interactive`, we set the option `StandardOutput` to [journal+console](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#StandardOutput=). This mean

[2016-05-20 09:09] iaguis commented on #2640
Setting these values in `/etc/nginx/nginx.conf` in the image makes the error log go to both stderr and the journal and the access log go to the journal only:

[code]

[2016-05-20 09:44] alban commented on #2640
Implementing a "access_log stdout" in nginx and get the Docker image to use that would be my preferred option (https://github.com/coreos/rkt/issues/1617#issuecomment-148750804). I don't know how to fix this otherwise.

Alternatively, if we ever add an additional process for managing stdout/stderr as per #1799 and systemd/systemd#2069, that could fix this at the same time.

[2016-05-20 10:47] alban commented on #2287
This happened again on Fedora-Rawhide with the host flavor.

[2016-05-20 11:54] alban opened #2668 "TestResumedFetch failed on debian-8 (flavor coreos)"
**Environment**

Replace this with the output of:
`printf "$(rkt version)\n--\n$(uname -srm)\n--\n$(cat /etc/os-release)\n--\n$(systemctl --version)"`

**What did you do?**

- Run the tests in Jenkins with debian-8, coreos flavor.

**What did you expect to see?**

TestResumedFetch passes fine.

**What did you see instead?**

[code]

[2016-05-20 11:57] alban commented on #2363
Similar error on debian-8 (coreos flavor):

[code]

[2016-05-20 12:05] matthaias commented on #2363
I had a similar fail on Ubuntu 15.10 for me, see https://github.com/coreos/rkt/issues/2638#issuecomment-219695485

[2016-05-20 12:56] iaguis commented on #2363
That's a different error, but thanks!

[2016-05-20 15:51] jonboulle commented on #1614
@jfrazelle do you think you'll have any bandwidth to get to this soon? Otherwise we might start working on it as we'd love to see it in our next release. Thanks!

[2016-05-20 16:13] pskrzyns commented on #2640
@yifan-gu : do we have another method for logs gathering in kubernetes that the one currently implemented ?
nginx was just example of app writing to stdout

[2016-05-20 16:15] pskrzyns commented on #2223
@euank thats great idea ;)

[2016-05-20 16:23] jfrazelle commented on #1614
ok so sorry, definitely this weekend!

On Fri, May 20, 2016 at 8:52 AM, Jonathan Boulle <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-05-20 16:33] lucab commented on #2484
Nothing it here for further reference.

Needs to be RO:
 * /proc/sys/kernel/core_pattern - attacker-controlled crash dumper
 * /proc/sys/kernel/modprobe - attacker-controlled kmod loader
 * /proc/sys/vm/panic_on_oom - DoS via OOM
 * /proc/sysrq-trigger - SysRq invocation

Needs to be hidden:
 * /proc/kcore, /proc/kmem, /proc/mem - host physical memory dumping
 * /proc/sched_debug - host process le

[2016-05-20 16:41] lucab commented on #2484
I think this is well suited for systemd.exec [ReadOnlyDirectories= and InaccessibleDirectories=](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#ReadWriteDirectories=). I did [a](https://gist.github.com/lucab/35f9f16c4d217e294c854f94f11977b6) [couple](https://gist.github.com/lucab/861c6d34e706c6a0dd8746a7ccee3361) of tests, and it looks like `InaccessibleDirectories` will need t

[2016-05-20 19:49] mischief opened #2669 "create all rkt configuration directories in /etc/rkt in tmpfiles snippet"
there's a number of directories rkt reads configuration files from - net.d, auth.d, stage1.d, paths.d.

these should all be created in the tmpfiles snippet, alongside /etc/rkt.

[2016-05-20 20:40] lucab commented on #2581
I typically try to avoid having [shotgun parser](http://langsec.org/ShotgunParsersShmoo.pdf) anywhere nearby. The revert would go in that direction.

[2016-05-20 21:31] steveeJ commented on #2567
I'm not in favor for making recursive the default, is there enough interest for making this a configurable flag?

[2016-05-21 18:11] rwarren commented on #2296
Confirmed!  Great! I just tried rkt 1.6 and it works.

I'm actually a bit surprised that it did work. I've been educating myself on cgroups and it turns out that the tinycore kernel doesn't have the cgroup memory subsystem compiled in. I thought this might have been the obstacle and have been working on a new kernel build to enable it.

[2016-05-23 07:37] tmrts commented on #2232
@kbrwn I tried to reproduce this behavior using rkt 1.6.0 and systemd v229. Containers were all killed. Would you mind trying again to see if the bug is fixed for you in the new version as well?

[2016-05-23 08:30] iaguis commented on #2232
We had this theory where this might only be a problem on CoreOS, specifically on CoreOS versions without PAM, where there was no session support (https://github.com/coreos/rkt/issues/1664#issuecomment-150610708).

[2016-05-23 09:13] hectorj2f commented on #2658
Yes @jellonek, I guess you could close this issue :)

[2016-05-23 09:18] #2412 closed

[2016-05-23 09:27] iaguis commented on #2296
rkt doesn't require the memory cgroup subsystem. If it's not there, the memory isolator won't work but the rest should work.

Actually, it seems per-app isolators won't work if libsystemd is not present on the host, we should fix that.

[2016-05-23 09:47] #2658 closed

[2016-05-23 10:08] iaguis commented on #2432
This seems to happen again on rawhide.

[2016-05-23 11:46] #2418 closed

[2016-05-23 11:56] jonboulle commented on #2564
I think I'd prefer to make `run-prepared` and `rkt enter` show the brief error message (perhaps plus "Use --help for more information" or something). Otherwise it's just a wall of text and you need to scroll back up to see the actual error...

[2016-05-23 11:57] jonboulle commented on #2296
@iaguis close this and file follow up ..?

[2016-05-23 12:05] iaguis opened #2670 "stage1: per-app isolators don't work if libsystemd is not available on the host"
In the nspawn flavor, per-app isolators don't work if libsystemd is not available on the host. We should check if systemd is running on the host or assume that if libsystemd is not present, systemd is not running on the host and go on.

[2016-05-23 12:05] iaguis commented on #2296
https://github.com/coreos/rkt/issues/2670

[2016-05-23 12:05] #2296 closed

[2016-05-23 13:03] s-urbaniak opened #2671 "Linux isolators ignored at pod level"
**Environment**

[code]

**What did you do?**

I generated a pod with a linux isolator on the app level: https://gist.github.com/s-urbaniak/07ae867d3637a143456cc5754811d057#file-app-isolator-json

I get a correct result:
[code]

But when I define the same linux isolator on the pod level: https://gist.github.com/s-urbaniak/07ae867d3637a143456cc5754811d057#file-pod-isolator-json

[code]

I see that

[2016-05-23 13:09] s-urbaniak commented on #2671
I guess this dupes https://github.com/coreos/rkt/issues/293 ?

[2016-05-23 13:11] s-urbaniak commented on #2671
Oh wait, the spec sets those isolators as "Scope: app", ignore this issue, closing.

[2016-05-23 13:11] #2671 closed

[2016-05-23 13:24] alban commented on #1463
Unfortunately the work has not been started for 1.7.0. Moving milestone.

[2016-05-23 13:36] iaguis commented on #2232
I can reproduce it on CoreOS 1053.2.0

[2016-05-23 13:39] iaguis commented on #2202
The Debian/Ubuntu packages are currently broken because they don't ship systemd with `--enable-sysusers` https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823322

[2016-05-23 13:42] alban commented on #2590
From the logs, HTTP_PROXY is used by the discovery but not for the download itself.

[code]

It seems that the `--insecure-options=all` breaks the proxy feature there:
https://github.com/appc/spec/blob/master/discovery/http.go#L69

[code]

The http.Transport is overwritten without the proxy.

[2016-05-23 13:46] alban commented on #2590
https://github.com/appc/spec/issues/609

[2016-05-23 13:51] alban commented on #2385
Moving to next milestone.

[2016-05-23 13:52] alban commented on #2158
Moving to next milestone

[2016-05-23 13:55] alban commented on #2044
@steveeJ: can you help to prioritize each task?

[2016-05-23 13:58] alban commented on #1849
The code that does the copy is in [installAssets()](https://github.com/coreos/rkt/blob/master/stage1/init/init.go#L163). I guess that instead of using `proj2aci.PrepareAssets()`, this could use a new function that does bind mounts instead of copies.

[2016-05-23 14:01] alban commented on #2113
Given this has a workaround for the original use case, this has a lower priority. Moving to v1+.

[2016-05-23 14:08] alban commented on #2627
@jellonek could you help choose a milestone for this?

[2016-05-23 14:16] jonboulle commented on #2619
SGTM
@lucab assigned #2600 to you to shepherd in

[2016-05-23 14:22] tmrts commented on #2202
@iaguis thanks, let's close this one and follow-up with a debian specific TODO issue

[2016-05-23 14:38] alban commented on #2484
Could you [open an issue](https://github.com/systemd/systemd/issues) for this?

Also, for distributions using the "host" flavor (Fedora & Debian), we want to stay compatible with older systemd versions (<v231 in this case). So rkt in the "host" flavor, rkt will have to check the version of systemd to know whether it can put files in `InaccessibleDirectories`...

[2016-05-23 14:43] iaguis commented on #2319
I guess we won't fix this for v1.7.0, moving.

[2016-05-23 14:44] lucab commented on #2484
PR for reference: https://github.com/systemd/systemd/pull/3327

Regarding version checks, systemd will just skip them in that case, I think there is no need for different code paths.

[2016-05-23 18:26] jellonek commented on #2627
@jjlakis is better suited for this as he has this issue already planned for this sprint (this and next week).
@jjlakis could You propose which milestone more probable there?

[2016-05-23 18:29] yifan-gu opened #2675 "Seeing high systemd CPU usage during benchmarking the `too-many-apps.podmanifest` workflow"
**Environment**

Replace this with the output of:

rkt Version: 1.6.0+git5b6a3c4
appc Version: 0.8.1
Go Version: go1.6.2
Go OS/Arch: linux/amd64
Features: +TPM

Linux 3.19.0-56-generic x86_64

NAME="Ubuntu"
VERSION="15.04 (Vivid Vervet)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 15.04"
VERSION_ID="15.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="htt

[2016-05-23 18:30] yifan-gu commented on #2675
cc @dgonyeo @jonboulle @iaguis @alban

Ref https://github.com/kubernetes/kubernetes/issues/25581

[2016-05-23 18:38] jellonek commented on #2590
There was already similar problem and fix for this was trivial.
Fixed in https://github.com/coreos/rkt/pull/2354

[2016-05-23 19:13] yifan-gu commented on #2638
Looking into that. Does this reproduce every time or just flaky, cuz I cann't reproduce on ubuntu 15.04 with systemd 219 :( @matthaias

[2016-05-23 19:16] yifan-gu commented on #2638
nvm, I reproduced on my machine.

[2016-05-23 20:18] yifan-gu commented on #2640
@pskrzyns I don't think so, unless users redirect the log to a volume by themselves.

[2016-05-23 20:30] euank commented on #2375
xref https://github.com/kubernetes/kubernetes/pull/25899

[2016-05-23 20:41] yifan-gu commented on #2638
Added a fix for this in #2676

[2016-05-23 20:42] dgonyeo commented on #2675
I think this is the same as this issue: https://github.com/coreos/rkt/issues/2351

[2016-05-23 20:52] yifan-gu commented on #2675
@dgonyeo Thanks, I didn't realize that issue is reopened.

[2016-05-23 22:31] jfrazelle commented on #1614
aaaand no time sorry full time job + life is hard :(

On Fri, May 20, 2016 at 9:23 AM, Jessica Frazelle <me@jessfraz.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-05-23 23:37] dgonyeo commented on #2188
Just reworked the store to be able to hold on to an image's docker ID. Next I'll add support for selecting an image to run via this hash, probably something like `rkt run docker-hash://99a138d011d4`.

The other part of this issue, verifying docker images, I think will require modifying docker2aci to use docker notary to do the verification. I just created this issue in docker2aci to track that: ht

[2016-05-24 08:28] cvasseur opened #2678 "Runtime error when rm non-existing pod with uuid-file option"
**Environment**

[code]

**Got the following error**

[code]

**It works fine without uuid-file option**

[code]

**Expected behavior**

[code]

[2016-05-24 08:36] alban commented on #2351
I'll try to mount a new sysfs in the stage2 rootfs instead of a bind mount of stage1's rootfs.

[2016-05-24 09:45] alban commented on #2158
If we mount /sys without the cgroup fs in /sys/fs/cgroup with https://github.com/coreos/rkt/pull/2680, we will need to document how to mount the cgroup fs in this issue.

[2016-05-24 11:17] alban commented on #2484
Something to investigate: systemd-nspawn hides some entries in /sys via https://github.com/systemd/systemd/commit/d8fc6a000fe21b0c1ba27fbfed8b42d00b349a4b.

However, this security addition is disabled in rkt via:

- rkt mounts stage1's /sys itself: https://github.com/coreos/rkt/blob/master/common/cgroup/cgroup.go#L300
[code]

- systemd-nspawn skips the security addition if the container's /sys is

[2016-05-24 11:56] steveeJ commented on #2319
Yes that should be possible, as the IP address allocations are represented via files:

[code]

[2016-05-24 13:04] #2351 closed

[2016-05-24 13:06] alban commented on #2675
Fixed via #2681.

[2016-05-24 13:19] nstott commented on #2524
I tested this under the branch in which the stop work is happening, and it still shows the same behaviour,
I can `kill -INT` the process that is started in the container and it will shut down gracefully
however, if I issue a `capsule stop <uuid>` _or_ `kill -INT 1` from inside the container, then the container is shutdown aggressively, the process doesn't have a chance to clean up

[2016-05-24 13:42] iaguis commented on #2504
Partially fixed by #2655. We'll leave this open for a possible fix without having to wait for GC.

[2016-05-24 13:54] iaguis opened #2682 "Documentation: add Debian/Ubuntu instructions"
At the moment, rkt is broken on Debian/Ubuntu because `systemd-sysusers` is not included there (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823322).

When it's fixed, we should document how to install it.

[2016-05-24 13:55] iaguis commented on #2202
https://github.com/coreos/rkt/issues/2682

[2016-05-24 13:55] #2202 closed

[2016-05-24 13:58] lucab commented on #2484
Looking into systemd code, it is my understanding that it follows a different approach, propagating (as RO) only some specific `/sys` hierarchies (namely `block`, `bus`, `class`, `dev`, `devices` and `kernel`).

For the moment we can mimic the same behavior (making those RO and hiding all the rest), but I also prefer their whitelisting approach and would like to delegate /sys filtering to systemd-

[2016-05-24 14:16] alban commented on #2484
I agree. But this would need the unified cgroup hierarchy (#1757): the only reason rkt mount /sys itself is because required to mount read-write some knob files in `/sys/fs/cgroup/{memory,cpu}/.../apps` to allow systemd inside the pod to enforce the app-level isolators. Otherwise systemd-nspawn would keep the `memory` and `cpu` cgroup hierarchies entirely read-only. With the unified cgroup hierarc

[2016-05-24 14:19] #1528 closed

[2016-05-24 14:23] wamdam commented on #647
+1

[2016-05-24 15:12] alban commented on #2648
@lucab About capabilities, it should also be documented that if the process has CAP_SYS_PTRACE, then it can read /proc/1/root, and then the app can escape the isolation between stage1 and stage2 (#2483) and reach protected files in /proc and /sys (#2484).

[2016-05-24 17:01] #2678 closed

[2016-05-24 18:24] tmrts commented on #2675
Still experienced by @yifan-gu

[2016-05-24 18:30] yifan-gu commented on #2675
Maybe it's because I didn't clean the stage1 cache. Trying again.

[2016-05-24 18:46] yifan-gu commented on #2675
Sorry, my fault, forgot to remove the old stage1 under the same path of the rkt binary.

[2016-05-24 18:46] #2675 closed

[2016-05-25 09:59] iaguis commented on #1614
Let's try to get it for the next release.

[2016-05-25 10:39] alban commented on #2553
No progress on this. Moving milestone.

[2016-05-25 12:28] iaguis commented on #2540
Moving to v1+

[2016-05-25 12:57] alban commented on #2417
FYI this issue is reproducible easily without rkt:

[code]
--> output on stdout **and** journald

[code]
--> output on journald **only**

[2016-05-25 13:12] alban commented on #2417
I asked for a flag in etcd to request the output on stdout: https://github.com/coreos/etcd/issues/5449

[2016-05-25 13:30] alban commented on #2484
Reopen as requested on https://github.com/coreos/rkt/pull/2683#issuecomment-221551978

[2016-05-25 15:47] lucab opened #2694 "Allow pods to change sysctl"
Some sysctl entries are already properly namespaced and pods can be allowed to change them in their namespace to better suit their needs.

Kubernetes has a pending WIP proposal for this, https://github.com/kubernetes/kubernetes/pull/26057.

This partly overlaps with some features already provided by [CNI tuning plugin](https://github.com/coreos/rkt/pull/2140), and it also touches into the [bigger

[2016-05-25 15:59] jonboulle commented on #2694
putting this on the next milestone to make sure we stay on top of it as the k8s story develops

[2016-05-25 16:43] philips commented on #2640
@iaguis can't we fix up the base images of nginx to do this? And we should write a doc documenting this.

[2016-05-25 20:55] #2601 closed

[2016-05-25 22:48] Crafter6432 commented on #1109
Is there some way to get Ctrl+C working with a Pod as well?

[2016-05-26 04:27] sjpotter commented on #1496
for cadvisor testing this would be nice, i.e. I'm systemd-run'ing rkt to run-prepared the containers in the background and would just like to stop the uuid

[2016-05-26 09:31] jonboulle commented on #1109
@Crafter6432 no, because it's ambiguous where that signal would be sent. If you just need to kill the container, ctrl-] should do it. If you want to send a specific signal to a specific app, I'd suggest using `machinectl`

[2016-05-26 09:38] jonboulle commented on #2175
Please re-open if you can still reproduce on Linux 4.5.2+. We're also planning on adding some checks for these conditions in #2619. Thanks!

[2016-05-26 09:38] #2175 closed

[2016-05-26 10:01] tmrts opened #2701 "Deprecate 'fetch' and use 'image fetch'"
`rkt fetch` predates the `image` subcommand for historical reasons,

We should make `rkt fetch` a hidden command that invokes `rkt image fetch`.

[2016-05-26 10:38] alban commented on #2417
Moving milestone.

[2016-05-26 10:38] lucab commented on #2482
I think the smaller issue here (dropping before hitting the net) is worth to be addressed by itself, as it we can keep it even if we implement better separation later.

I took note and I also have some (not yet mature) comments for the global discussion about privileged execution, but I prefer to leave them out of here.

[2016-05-26 10:50] lucab opened #2702 "Several functional tests may be unnecessarily(?) running rkt with --debug"
It looks like many functional tests (~100 according to a quick grep) are running rkt with `--debug`. Given that we are having some long running-time issues for the testsuite, it may be worth having a look if we can gain some time from shaving those.

This came up in [a review](https://github.com/coreos/rkt/pull/2656#discussion-diff-64704437) for an unrelated PR introducing some functional tests.

[2016-05-26 13:54] jonboulle commented on #2410
Partially (?) addressed by #2656. @s-urbaniak not sure what else you want to do here - please let us know, moving milestone for now.

[2016-05-26 15:09] #2610 closed

[2016-05-26 15:39] jonboulle commented on #647
Is there something here that can't be achieved by using systemd's `EnvironmentFile` + rkt's `--inherit-env`?

[2016-05-26 18:11] artem-sidorenko opened #2706 "process can't listen to the network, permission denied (1.6.0)"
**Environment**

[code]

**What did you do?**
[code]

**What did you expect to see?**

[code]

**What did you see instead?**

`dnsmasq: failed to create listening socket for port 53: Permission denied`

[2016-05-26 18:38] artem-sidorenko commented on #867
I created a [project](https://build.opensuse.org/project/show/home:artem_sidorenko:rkt) on OBS in first line for myself and my [chef-rkt cookbook](https://gitlab.com/artem-sidorenko/chef-rkt).

I plan to maintain this packages as long as rkt isn't available via distributions. There are plans to add some additional tools like [actool](https://github.com/appc/spec/tree/master/actool) to this reposit

[2016-05-26 18:39] artem-sidorenko commented on #1304
I created a [project](https://build.opensuse.org/project/show/home:artem_sidorenko:rkt) on OBS in first line for myself and my [chef-rkt cookbook](https://gitlab.com/artem-sidorenko/chef-rkt).

I plan to maintain this packages as long as rkt isn't available via distributions. There are plans to add some additional tools like [actool](https://github.com/appc/spec/tree/master/actool) to this reposit

[2016-05-26 18:39] artem-sidorenko commented on #1305
I created a [project](https://build.opensuse.org/project/show/home:artem_sidorenko:rkt) on OBS in first line for myself and my [chef-rkt cookbook](https://gitlab.com/artem-sidorenko/chef-rkt).

I plan to maintain this packages as long as rkt isn't available via distributions. There are plans to add some additional tools like [actool](https://github.com/appc/spec/tree/master/actool) to this reposit

[2016-05-26 20:10] s-urbaniak commented on #2410
We initially wanted to refeed the generated config into  rkt. This is not critical ;)

[2016-05-27 01:05] #1469 closed

[2016-05-27 01:11] philips opened #2707 "docs: rendered on coreos.com stage1-implementors-guide"
Something is wrong with the rendering: https://coreos.com/rkt/docs/latest/devel/stage1-implementors-guide.html

![screen shot 2016-05-26 at 6 11 18 pm](https://cloud.githubusercontent.com/assets/33544/15594738/4dbd09be-236d-11e6-994d-c6983a71500f.png)

[2016-05-27 01:12] philips commented on #2707
cc @joshix

[2016-05-27 02:13] aaronlevy commented on #2629
I took a quick stab at this today:

rkt v1.6.0 (CoreOS 1053.2.0)

None of the static pods actually get started. The worrisome logline:

`May 27 02:06:29 localhost kubelet-wrapper[2322]: I0527 02:06:29.329752    2322 kubelet.go:2471] skipping pod synchronization - [network state unknown container runtime is down]`

I'm currently testing this using the single-node vagrant install with changes here:

[2016-05-27 07:39] #2648 closed

[2016-05-27 08:03] alban commented on #847
We worked on a Jenkins installation with several distributions. The plan is to make that Jenkins installation publicly visible but it is not there yet.

Moving to next milestone.

[2016-05-27 08:10] iaguis commented on #2706
This seems to be a bug on the dnsmasq image, it has a `os/linux/capabilities-retain-set` with `CAP_NET_ADMIN` in it. This means that [only those capabilities will be given to the app](https://github.com/appc/spec/blob/master/spec/ace.md#oslinuxcapabilities-retain-set), and without `CAP_NET_BIND_SERVICE` you can't bind a socket to privileged ports. This was not implemented in rkt before but it is s

[2016-05-27 08:19] iaguis commented on #2640
Let's try to figure out this for the next release.

[2016-05-27 08:19] lucab commented on #576
The issue described here has been fixed by implementing https://github.com/appc/spec/pull/600 via #2493. Even if stage1 still has `CAP_SYS_ADMIN`, there is now better separation between stage1 and stage2 and apps are receiving by default a much smaller capabilities bounding set.

[2016-05-27 08:19] #576 closed

[2016-05-27 08:23] lucab commented on #2619
#2600 got into 1.7.0, the second half will follow.

[2016-05-27 08:28] iaguis commented on #2435
We'll try to get some time and do the second half of this in the next release

[2016-05-27 09:23] jellonek opened #2709 "build system: warning about fly flavor even if it's not enabled"
**Environment**

[code]

**What did you do?**
[code]

**What did you expect to see?**
Usual output of `./configure`

**What did you see instead?**
[code]

[2016-05-27 09:25] jellonek commented on #2709
Argh - as pointed on irc channel - typo in `--with-stage1-flavors`.

[2016-05-27 09:25] #2709 closed

[2016-05-27 10:18] jonboulle commented on #2706
needs a patch @ https://github.com/coreos/coreos-baremetal/blob/e88e24912936afb3792ae11877a7cdc7c194aa6e/contrib/dnsmasq/build-aci#L36

[2016-05-27 10:28] artem-sidorenko commented on #2706
@iaguis @jonboulle thx for information and link, I assumed something like this

I tried it with unprivileged port as well (see above):
[code]
Does it mean dnsmasq image is missing some other capability too?

[2016-05-27 10:30] iaguis commented on #2706
Yes, it misses all the capabilities except `CAP_NET_ADMIN`. To change the group-id you need `CAP_SETGID`.

[2016-05-27 10:31] artem-sidorenko commented on #2706
Ok, I'll have a look and provide a PR to dnsmasq

[2016-05-27 12:02] #2638 closed

[2016-05-27 12:04] lucab commented on #2638
Closed via #2676

[2016-05-27 12:39] alban commented on #2459
I had this one again on debian-8 (flavor coreos):

[code]

[2016-05-27 12:51] tmrts commented on #2459
#2517 Fixes this

[2016-05-27 13:01] alban opened #2711 "tests: github.com/coreos/rkt/pkg/selinux: fails after 1min timeout"
**Environment**

Fedora-22

**What did you do?**

Run the unit tests

**What did you expect to see?**

No failure

**What did you see instead?**

[code]

The 1 minute time is defined there:
https://github.com/coreos/rkt/blob/master/tests/tests.mk#L29

Is the timeout triggered because it does not have enough entropy for the `GetRandom()` call?

[2016-05-27 13:04] #1970 closed

[2016-05-27 15:34] iaguis commented on #2319
Fixed by #2696

[2016-05-27 15:34] #2319 closed

[2016-05-27 15:35] iaguis commented on #1765
Fixed by #2696

[2016-05-27 15:35] #1765 closed

[2016-05-27 18:05] jonboulle opened #2716 "stage0: sporadic fetch failures with docker2aci"
Details in https://github.com/appc/docker2aci/issues/166

[2016-05-27 21:29] dghubble commented on #2706
Should be fixed in the `coreos.com/dnsmasq:v0.3.0` ACI release.

[code]

[2016-05-27 21:29] #2706 closed

[2016-05-27 21:35] nstott opened #2717 "LimitNOFILE in app.service?"
**Environment**

rkt Version: 1.6.0
appc Version: 0.8.1
Go Version: go1.6.1
Go OS/Arch: linux/amd64
Features: -TPM

Linux 3.13.0-85-generic x86_64

NAME="Ubuntu"
VERSION="14.04.4 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.4 LTS"
VERSION_ID="14.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"

I'

[2016-05-28 12:22] jellonek opened #2718 "tests: fetching failures"
**Environment**

semaphore

**What did you do?**
pushed new PR

**What did you expect to see?**
tests should PASS

**What did you see instead?**
https://semaphoreci.com/coreos/rkt/branches/pull-request-2715/builds/1
[code]

[2016-05-28 12:28] jellonek commented on #2718
IMO our tests should be independent from external (from build machine) resources. To achieve this - there should be an option to mock downloading them - possibly by using mocked reading files from local fs. This should also shorten time of tests execution.
Other option (a bit ugly and harder to achieve on local dev machines) would be to add entries like:
[code]
to `/etc/hosts` before running tests

[2016-05-28 12:52] jonboulle commented on #2718
Yeah, totally, the thing is we need to implement a docker registry process
and some mock images. I think there's a ticket for this somewhere.

In the meantime this failure you're seeing is tracked in another ticket
that's blocking 1.7.0 (check out the milestone)

Piotr Skamruk <notifications@github.com> schrieb am Sa., 28. Mai 2016,
14:28:

[2016-05-28 18:06] jellonek commented on #2718
Imo we don't need whole functionality of docker registry for this. Simple predefined answers should be enough.

Also we are running 12 combinations of tests for each of https://github.com/coreos/rkt/blob/master/tests/rkt_fetch_test.go#L116 configuration, what seems to be too precise - in fact this test do not do what one could read from func name, it's not only testing fetching, but also starting

[2016-05-28 20:32] #1935 closed

[2016-05-29 13:39] jonboulle commented on #2716
rkt with appc/docker2aci#167 - https://semaphoreci.com/jonboulle/rkt/branches/master

[2016-05-29 14:09] jonboulle commented on #2716
wat
[code]

[2016-05-29 15:22] jonboulle commented on #2716
Trying again + https://github.com/coreos/pkg/pull/63/, in https://semaphoreci.com/jonboulle/rkt/branches/master/builds/3

[2016-05-29 21:17] jonboulle commented on #2716
That passes!

[2016-05-30 09:54] jellonek commented on #2694
Btw. after cni bump we have `Godeps/_workspace/src/github.com/containernetworking/cni/pkg/utils/sysctl/sysctl_linux.go` for this purpose.

[2016-05-30 13:15] #2716 closed

[2016-05-30 16:54] pskrzyns opened #2721 "grpc: Server.Serve failed to create ServerTransport"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**
[code]

**What did you see instead?**
[code]

[2016-05-30 16:54] pskrzyns commented on #2721
cc @iaguis

[2016-05-30 18:56] matthaias commented on #2638
Thanks!

[2016-05-31 06:34] wamdam commented on #647
Probably a unitfile/environmentfile should do it. But afaik it's not easy to develop containers. I'd love to have local config-files for running/testing acis in my $HOME/develop path. Currently I have shell scripts with many --set-env options.
Or is there a way to use adhoc systemd unitfiles in a local path?

[2016-05-31 08:56] s-urbaniak commented on #2616
@tmrts ping, do you have any update on this?

[2016-05-31 09:00] jonboulle commented on #1935
Sorry you didn't get a reply on this - have you had any more luck on more recent rkt versions? I'm not sure on the latest state of the art here /cc @s-urbaniak for https://github.com/coreos/rkt/issues/2158

[2016-05-31 09:11] jonboulle commented on #2717
I think we can add this pretty easily, I'd rather it was plumbed through the appc/spec but it should be trivial to add there: https://github.com/appc/spec/issues/197
@lucab another one for you perhaps?

[2016-05-31 09:11] jonboulle commented on #2717
oops, didn't mean to actually assign you, feel free to unassign.

[2016-05-31 09:43] nyodas commented on #2064
Bump
Another use case.
I need to run the prometheus node exporter in combination with an aci to provide auto-discovery.
Not for sharing the same namespace , but for the sharing of the lifecycle of the pod.
ie :

[2016-05-31 09:45] jonboulle commented on #2064
@nyodas why can't they run in a pod?

[2016-05-31 09:55] nyodas commented on #2064
They can if i don't run the in fly.
But to have access to all the stuff that the host has the exporter need to be run within the namespace of the host.

For now as of 1.6.0 when i try to run them into a `fly pod`

[2016-05-31 10:00] lucab commented on #2717
I'll queue it after appc seccomp isolator.

[2016-05-31 10:31] pskrzyns commented on #2721
cc @jonboulle

[2016-05-31 10:32] pskrzyns commented on #2721
Error is occurring when i'm restarting kubelet

[2016-05-31 11:19] jonboulle commented on #2721
why is this necessary??

[2016-05-31 11:33] jellonek commented on #2721
This is extremely ugly... -9? Why not SIGTERM?
Systemd should terminate service without this line, sending signal defined as `KillSignal` (defaults to SIGTERM).
If SIGKILL is required (what would look like a bug), this line should be replaced with `KillSignal=SIGKILL`.

[2016-05-31 11:46] jellonek commented on #2721
Ok, this is a message on `rkt` side (correct one) when second side explodes (error on kubelet side).
Usage of `ExecStop=` in this situation is out of scope...

[2016-05-31 11:47] pskrzyns commented on #2721
Ok, after consulting with Piotr and removing this ExecStop, we came to conclusion that the reason is https://github.com/kubernetes/kubernetes/issues/26540.

[2016-05-31 12:15] woodbor commented on #2640
@iaguis : I can update the docs, but  what is the direction according to this:

- are we going to just fix a docs and an image
- or plan some deep research in the future release ?

[2016-05-31 13:53] jonboulle commented on #2064
Honestly I suspect the best bet here is going to be to start two `rkt fly` invocations alongside each other in systemd units, and use [`BindsTo=`](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#BindsTo=). @iaguis @alban might have other ideas.

[2016-05-31 14:03] mike1729 commented on #1757
Ok...it turned out to not be shortly at all. It took me hell to much time to get kvmtool+linux4.5+systemd230+cgroups2 to work. But it does now and I can test...

So, here is something to begin with (I don't how you would like me to share my WIP with you):
[https://github.com/mike1729/rkt/tree/1757-cgroup2-support](url)

It checks what is mounted in /sys/fs/cgroup. If tmpfs ( =cgroups1), then it us

[2016-05-31 14:08] yifan-gu commented on #2721
This seems like a known issue. https://github.com/kubernetes/kubernetes/issues/25218
When kubelet starts, it will make cadvisor connect to the api service's TCP port to test if the api service is running. And if so, it will disconnect the api service, which will cause such error message.

cc @sjpotter

[2016-05-31 14:09] jellonek commented on #1757
/cc @jjlakis

[2016-05-31 14:30] jjlakis commented on #2627
@mzylowski took this for this sprint.

[2016-05-31 16:57] alban commented on #1757
@mike1729 Thanks!

It should be even simpler than that: if we have the unified cgroups, we could skip any mounts and let systemd-nspawn do the job: nspawn should already mount everything in RO mode except the folder in RW mode. With cgroup2, rkt should not need to override nspawn's logic.

I would say not to do it. In practice, unified cgroups will still take some time to come to Linux distributio

[2016-05-31 17:58] iaguis opened #2727 "pkg/selinux: consider rewriting and moving to somewhere else"
The code on that package is smelly and not rkt specific.

We should consider fixing/externalizing it.

[2016-06-01 11:22] lucab commented on #2711
Closed via #2723

[2016-06-01 11:22] #2711 closed

[2016-06-01 11:43] lucab commented on #1614
Initial WIP draft for appc at https://github.com/appc/spec/pull/620

[2016-06-01 12:34] jonboulle opened #2734 "docs: update signing in release guide"
Need to talk about the new signing key process.

[2016-06-01 12:56] lucab commented on #2734
@dghubble @philips a couple of doubts I had related to signing git tags: how are other coreos projects handling tag/signature uid matching? I mean, should the tag author be adjusted to match key uid (security@coreos.com)? How does github "verified" badge work (ie. does it also check if the uid is matching)?

[2016-06-01 16:42] steveeJ commented on #2567
@mikedanese In your modified version of stage1-fly, are you simply adding the `MS_REC` flag to the mount call?

@iaguis any ideas on the UX of modifying mount options? For consistency we should align these throughout stages.

[2016-06-01 16:48] mikedanese commented on #2567
Recursive bind mounts are necessary for my use case but it's not difficult for me to maintain a fork of fly.aci.

[code]

[2016-06-01 21:56] joshix commented on #2707
Fixed in https://github.com/coreos-inc/coreos-pages/pull/711 and https://github.com/coreos/rkt/pull/2737, but see https://github.com/coreos-inc/coreos-pages/issues/713

[2016-06-01 21:56] #2707 closed

[2016-06-01 22:10] vishh commented on #1788
cc @dchen1107

[2016-06-01 23:33] euank opened #2738 "api_service: Panic for incomplete pods"
**Environment**
[code]

**What did you do?**

[code]

**What did you expect to see?**

No panic!

[2016-06-01 23:49] euank commented on #2738
I encountered this in the wild while running rktnetes is why I increased the priority; this doesn't only occur after manually messing with the pod directory. It's possible there's a more complex reason why the pod was in that state to begin with.

Other bits of possible interest: [list-pods.go](https://gist.github.com/euank/c6c4ebce967f914d945992cd44c95367) for easier repro, and [a commit](https:/

[2016-06-02 09:12] lucab commented on #1831
This is an interesting evolution, also in the context of https://github.com/coreos/rkt/issues/1585#issuecomment-184711873 and https://github.com/coreos/rkt/issues/2482. It would allow to better draw the line between privileged and un-privileged execution.

(Given the milestone-bumping here, and how far we are into 1.8.0 cycle, IMHO it would be honest to just de-milestone it, iron out the plan and

[2016-06-02 09:16] jonboulle commented on #1831
yes, sounds good

On 2 June 2016 at 11:12, Luca Bruno <notifications@github.com> wrote:

[2016-06-02 09:26] jonboulle commented on #2718
@s-urbaniak can you please add details of what you're experiencing - semaphore does not keep enough history and I actually think jell's failure here was pre-docker2aci fixes

[2016-06-02 10:10] yifan-gu opened #2740 "api_service: GetLogs() panic when setting `follow == true`"
**Environment**
[code]
**What did you do?**

Run the client example with `follow=true`:
[code]

**What did you expect to see?**

No panic

**What did you see instead?**

rkt api service panic.

[code]

cc @iaguis @alban @euank

[2016-06-02 15:40] alban commented on #2740
I can reproduce the issue.

In [go-systemd, Follow](https://github.com/coreos/go-systemd/blob/master/sdjournal/read.go#L164): `msg[:c]` is a `[]uint8`:
[code]

In [rkt api-service GetLogs](https://github.com/coreos/rkt/blob/master/rkt/api_service.go#L759): the writer is a LogsStreamWriter but the type gets lost on the way:
[code]

I am trying to figure out how to fix this.

[2016-06-02 18:39] s-urbaniak commented on #2718
I don't have the logs anymore, semaphore already wiped them out :-/ I am trying to reproduce now.

[2016-06-03 07:10] #2738 closed

[2016-06-03 08:55] jellonek commented on #2622
@blixtra ping

[2016-06-03 14:28] steveeJ commented on #2567
@jonboulle I would like to make the recursive flag optional for host volumes. Would this be an opportunity to factor out the host volume flags mentioned in the [appc volume type](https://github.com/appc/spec/blob/v0.8.4/schema/types/volume.go#L41)? If so, what did you have in mind?

[2016-06-03 14:46] iaguis commented on #2567
I agree that we should make this option consistent between stage1 implementations.

Right now, for example, the nspawn stage1 is already recursive:

From systemd-nspawn(1):

[code]

rkt uses plain `--bind` or `--bind-ro`.

[2016-06-03 14:51] steveeJ commented on #2567
@iaguis I don't agree that we should make the default consistent, but only the option to manipulate the flag. To prevent performance problems, stage1-fly should stick to non-recursive mount-binds by default, users who know what they're doing can opt-in. stage1-coreoes (nspawn) is less prone to this problem because it uses a separate mount namespace.

[2016-06-03 15:14] steveeJ commented on #2567
I've started a WIP in [appc/spec](https://github.com/appc/spec/pull/622).

[2016-06-03 15:57] alban commented on #2740
I have not fixed it but the following PRs are the first step:
- https://github.com/coreos/rkt/pull/2744
- https://github.com/coreos/go-systemd/pull/166

[2016-06-03 16:01] pskrzyns commented on #2740
@alban I just added comment on kubernetes github to have visible connection between those issues
Not to hurry you up :) @jellonek show me your status today

[2016-06-04 07:48] jellonek commented on #2718
Failure was probably connected with pre-docker2aci fixes, but still IMO this test should be rewritten ASAP, because this single test runs for ~5min and is a bit unpredictible.

E.x. https://semaphoreci.com/coreos/rkt/branches/pull-request-2745/builds/1 - 360sec for kvm flavor, 260sec for coreos flavor - and still, idk why there is 100sec difference, there is no single line of difference in this ar

[2016-06-04 09:47] alban opened #2746 "tests: rkt_api_service_test.go should test GetLogs"
We should add tests for GetLogs, with and without ' follow'.

xref https://github.com/coreos/rkt/issues/2740 and https://github.com/coreos/rkt/pull/2744#issuecomment-223743977

/cc @s-urbaniak

[2016-06-05 22:20] onlyjob commented on #2571
I fear that _systemd-sysusers_ [may not be introduced](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823322#79) any time soon... :( :(

Looks like it may be necessary to implement a fallback...

[2016-06-06 08:44] jellonek commented on #2616
ping

[2016-06-06 13:34] s-urbaniak opened #2748 "rkt fetch quay.io/quay/busybox fails with "bad arch""
**Environment**

Replace this with the output of:

[code]

**What did you do?**
[code]

**What did you expect to see?**

No error

**What did you see instead?**
[code]

[2016-06-06 13:35] s-urbaniak commented on #2748
As discussed OOB w/ @Quentin-M this might be a matter of adding that arch to https://github.com/coreos/rkt/blob/5aea9df7a70c8c4c65fd95de64f7d43d55f82274/stage0/arch.go#L17

[2016-06-06 17:52] ae6rt opened #2749 "Logged message when tree cache is in a bad state has a superfluous Printf verb"
**Environment**

[code]

**What did you do?**

In stage0/run.go around line 579, I propose to remove the %v Printf verb from the logged message in the event the tree cache is in a bad state.  The message is not subjected to verb replacement with Printf-type varargs.

[2016-06-06 19:35] pbx0 opened #2751 "Privileged Pod (kube-proxy) needs write access to proc"
The kube-proxy pod is failing with rkt 1.7. It appears it is unable to write to `/proc` likely due to https://github.com/coreos/rkt/pull/2683. This was discovered when testing rktnetes with use of `kubelet-wrapper`.

It'd be nice if there was some sort of escape hatch for this given it is a privileged pod. I attempted to use stage1-fly but that seemed to cause other problems so I didn't go too far

[2016-06-06 20:09] lucab commented on #2751
That path is not protected by the patch in #2683. Just to double-check I did a quick check reverting it, and I see the same failure. I think this was introduced by something else, possibly during the switch to systemd. @pbx0 what is the last known working version? Did you check with 1.6.0?

[2016-06-06 20:38] pbx0 commented on #2751
@lucab I had tried to test this against 1.6 to see if the issue went away but was blocked by another race condition I was struggling with so I ended up posting this issue before confirmation.

I'll make another attempt at reproducing this with 1.6, but it sounds like I was wrong about it being a 1.7 regression.

[2016-06-06 22:14] euank commented on #2751
Doing something like `rkt run --volume proc,kind=host,source=/proc --mount volume=proc,target=/proc ...` allows working around this.

It seems like the solution might be translating `--privileged` into also being a `proc` mount since privileged implies the ability to mutate proc. Does that seem like a sane solution? Would there be a reason that wouldn't work?

cc @yifan-gu

[2016-06-07 01:13] philips commented on #2751
I think we found mounting just the /proc/sys subtree seems sufficient in this case for kube-proxy.

[2016-06-07 01:15] euank commented on #2751
@philips my concern is if a user runs an arbitrary pod with privileged and expects the ability to write to proc, but not get the hosts proc, that can't happen.

Perhaps that's an incredibly unlikely use-case and we can ignore it, or perhaps the real issue here is that privileged in Kubernetes is ill-defined (really 'whatever Docker does') so it's expected we get the semantics wrong.

[2016-06-07 02:22] pbx0 commented on #2751
Also after bind mounting in /proc. It appears that the lack of `/sys/module` does cause a real problem with kube-proxy

`Error: open /sys/module/nf_conntrack/parameters/hashsize: no such file or directory"`

[2016-06-07 10:17] alban commented on #2740
I can reproduce the "rkt api-service" crash from https://github.com/coreos/rkt/pull/2747#issuecomment-224011011 *sometimes* when I run `./client_example` twice.

[2016-06-07 10:30] pskrzyns commented on #2375
cc @jjlakis @lukasredynk @jellonek

[2016-06-07 10:31] alban commented on #2751
systemd-nspawn always mount /proc/sys as read-only: https://github.com/systemd/systemd/blob/v230/src/nspawn/nspawn-mount.c#L302
It does not seem to have an option to make it read-write

[2016-06-07 11:05] blixtra commented on #2622
@philips I was looking at this and have some questions and comments.

What's the exact use case in general? I'm especially trying to get a grasp of the interplay between steps 1 & 2.

It would be fairly straightforward to send rkt's stderr to a file or discard it. I'd propose we first implement a `--quiet` flag that sends stderr to `ioutil.Discard` and then add a `--stderr` as you propose.

Are yo

[2016-06-07 13:51] iaguis commented on #2740
https://github.com/coreos/rkt/pull/2747#issuecomment-224011011 should be fixed by https://github.com/coreos/go-systemd/pull/169

[2016-06-07 17:43] Andrei-Pozolotin opened #2757 "rkt push"
`rkt push` was promised at v 1.0 announcement

currently it is not on the road map or any milestones
https://github.com/coreos/rkt/milestones
https://github.com/coreos/rkt/blob/master/ROADMAP.md

please put `rkt push` on the map along with `acserver`

[2016-06-08 01:03] yifan-gu commented on #2740
Seems like this is fixed. Will go to test it.

[2016-06-08 08:29] #2749 closed

[2016-06-08 08:32] lucab commented on #2544
Addressed (mostly) by #2741. Let's see how it goes for a bunch of releases, and then we will re-visit if necessary.

[2016-06-08 08:32] #2544 closed

[2016-06-08 09:48] lucab commented on #1614
rkt PR currently up at #2753. It follows the aggressive path of applying a default whitelist, which can be explicitly opted-out. Still marked as WIP as stage1 seems un-happy about unprivileged pods and seccomp.

[2016-06-08 10:15] lucab commented on #2757
Thanks for the report, I think the details here are still a bit too fuzzy on the spec side.

Did you have a look at [acpush](https://github.com/appc/acpush) and the [related spec discussion](https://github.com/appc/spec/issues/418)?

[2016-06-08 10:51] lucab commented on #2694
This is still ongoing on k8s side. I think CNI cover this for us, but I'm bumping and assigning to @euank as I guess he has a better view on this (feel free to adjust).

[2016-06-08 12:59] lucab commented on #2748
I guess there is even an [appc validation](https://github.com/appc/spec/blob/master/schema/types/labels.go#L23) to pass before that.

And personally I think we shouldn't start going down the path of custom arch labels if there are no strong needs to. Where is that invalid label coming from? Is it something coming from a docker translation or just a manually-applied label?

[2016-06-08 13:08] lucab commented on #2602
This fits into the larger DNS discussion at #2044.

[2016-06-08 13:53] alban commented on #2629
The logs from https://github.com/coreos/rkt/issues/2629#issuecomment-220170848 say:
[code]

It is not a message printed by rkt but by kubelet.go.

[2016-06-08 14:02] lucab commented on #2408
Visiting for triage. Low priority and unassigned, I'm de-milestoning for the moment. Anybody stepping in to push this further will be highly appreciated!

[2016-06-08 14:04] iaguis commented on #2740
Please let us know if it fixes the issue for you so we can close this.

[2016-06-08 14:52] lucab commented on #2727
Tracked upstream at https://github.com/opencontainers/runc/issues/897. I'm not sure about the timeline of externalizing it though, so I'm de-milestoning for the moment and assigning to myself for future tracking.

[2016-06-08 15:04] lucab commented on #2385
This is being addressed in #2735, currently targeted at 1.9.0 but waiting for an external PR. I'm removing the milestone from here, better tracked via PR.

[2016-06-08 15:18] lucab commented on #1614
Bumped milestone, appc spec update still pending. Current plan is to solve the unprivileged pods issue and land it with default whitelisting in 1.9.0; fallback plan is to merge support first and switch the default once everything is fine.

[2016-06-08 16:12] iaguis commented on #2721
Any updates on this? Should we do something about it?

[2016-06-08 16:31] lucab commented on #1463
#2375 has been de-prioritized and I'm not sure it will be followed further. I'm de-milestoning but I think I'm missing some background on the topic, @jonboulle can you please re-assess this later?

[2016-06-08 16:32] alban commented on #1463
https://github.com/kubernetes/kubernetes/pull/25899

[2016-06-08 16:35] lucab commented on #2629
De-milestoning, probably not a bug in rkt itself and not a blocker for 1.8.0.

[2016-06-08 16:36] euank commented on #2629
@pbx0's work to ensure rkt+kubelet work well under the kubelet-wrapper should resolve this as well; assigning to him.

[2016-06-08 16:44] euank commented on #2751
To get unblocked here it might be necessary to run kube-proxy as a fly pod or outside a pod since there's no simple fix for the above issue I can think of.

It would be great if there was a way to turn that feature off (akin to `--privileged` in docker turning it off).

[2016-06-08 17:54] pskrzyns commented on #2721
This is a problem on the grpc side and i dont think it will be fixed quickly - https://github.com/grpc/grpc-go/issues/668#issuecomment-218248007

[2016-06-08 17:57] jellonek commented on #2408
Closing it, as there is a plan to move interface creation into `cni` plugins, so they will be again needed.

[2016-06-08 17:57] #2408 closed

[2016-06-08 18:33] yifan-gu commented on #2740
This is fixed! Thank you @iaguis @alban !

[2016-06-08 18:33] #2740 closed

[2016-06-09 07:15] lucab commented on #2627
@jjlakis @mzylowski I moved this to next release, but feel free to adjust once you have an ETA.

[2016-06-09 07:19] lucab commented on #2670
Un-assigned and low-priority, de-milestoned. I had a quick look at the code and the only explicit check I found is [this](https://github.com/coreos/rkt/blob/1ebb525da910dbe3e40d3f503ad3fffb2cfa8a7b/stage1/init/init.go#L401), which seems completely unrelated.

[2016-06-09 07:21] lucab commented on #2567
appc update still pending, hopefully will be there for 1.9.0.

[2016-06-09 07:41] lucab commented on #2590
This is still blocked on appc PR, de-milestoned until that goes through.

[2016-06-09 07:46] lucab commented on #1917
Could it be some variation of https://github.com/coreos/rkt/pull/2747#issuecomment-224345913?

[2016-06-09 07:49] lucab commented on #1917
I'm bumping this to next release, but I think this would need some further assessment. @jellonek can you please re-target this to a reasonable ETA and find an owner?

[2016-06-09 07:53] lucab commented on #2363
I think this has also been fixed by #2676.

[2016-06-09 07:53] #2363 closed

[2016-06-09 07:59] lucab commented on #847
Tracked via #2732.

[2016-06-09 08:05] lucab commented on #2484
The initial systemd PR needs rework, so I'm bumping this a bit further to accomodate for that.

[2016-06-09 08:07] Rosco-github opened #2765 "Support for the modification of the MAC address of a container"
Some binaries, like the Flexlm license server, rely on the MAC address of the host for the validation of their license file. Could it be possible to add an option to the rkt binary so a specific MAC address chosen by the user would be used by the container?

[2016-06-09 08:09] s-urbaniak commented on #2158
moving to next milestone, didn't make it due to other activities

[2016-06-09 08:09] s-urbaniak commented on #2115
moving to next milestone, didn't make it due to other activities

[2016-06-09 08:09] lucab commented on #1197
Tracked via #2343.

[2016-06-09 08:14] lucab commented on #2232
@tmrts I tentatively moved this for 1.9.0, but feel free to re-schedule once you have an ETA for it.

[2016-06-09 08:15] s-urbaniak commented on #2718
k, I have `TestFetch` failures, again, this time I saved both Semaphore thread outputs: https://gist.github.com/s-urbaniak/cd0fc6aa8eb1d5b8abf7715b84849729

[2016-06-09 08:22] lucab commented on #2640
@woodbor I think documenting logging behavior is a good start. Same for #2417. We have some not-a-bug behaviors which works as intended but could surprise users. As they are related, can you please tackle the two tickets together?

[2016-06-09 08:22] s-urbaniak commented on #2718
Another `TestFetch` failure, same error output, seen on jenkins https://jenkins-rkt.prod.coreos.systems/job/rkt-matrix/170/dummy=dummy1,label=debian-8-flavor-coreos/consoleFull

[code]

[2016-06-09 08:23] lucab commented on #2417
Docs portion is related to #2640, assigning to @woodbor to organically cover the topic.

[2016-06-09 08:32] iaguis commented on #2670
It's actually [this function](https://github.com/coreos/rkt/blob/v1.7.0/stage1/init/init.go#L621) that fails [if it can't detect if its running from a system service](https://github.com/coreos/rkt/blob/v1.7.0/stage1/init/init.go#L721). In this case, we can assume we're not running on a system service and pick the [else branch](https://github.com/coreos/rkt/blob/v1.7.0/stage1/init/init.go#L739) and

[2016-06-09 08:39] lucab commented on #2188
@dgonyeo I just moved this to 1.9.0 given the P1 tag, but can you please re-assess your ETA for this?

[2016-06-09 08:49] lucab commented on #2746
Two more things that need tests:
 * `Since`
 * `AppName`

Reference PR  https://github.com/coreos/rkt/pull/2763

[2016-06-09 08:59] jellonek commented on #1917
This should be resolved by moving to hypervisors barnch, which defaults to qemu.
I can't say anything about ETA, as this is still in review - #2684.

[2016-06-09 09:10] iaguis commented on #2640
I don't think there's a way to fix the image to keep the current Docker behavior and make it work on rkt unless the option [access_log stdout](https://github.com/coreos/rkt/issues/2640#issuecomment-220562623) is implemented in upstream nginx.

[2016-06-09 09:13] lucab commented on #1917
@jellonek so we don't want to track down the root cause here and see if it can be fixed on lkvm?

[2016-06-09 09:18] alepuccetti commented on #1464
@jonboulle PR is under review to address this issue https://github.com/systemd/systemd/pull/3474.

[2016-06-09 10:00] lsjostro opened #2768 "rkt in rkt issue"
**Environment**
[code]

**What did you do?**

When running rkt in rkt without bind mounting /var/lib/rkt into the initial container the /proc/`<pid`>/exe symlinks to the rootfs outside the container. This causes some apps not to work properly (i.e JVM). Is this excepted? Can someone explain this?

Easily reproducible:

**Without** bind mount of /var/lib/rkt
[code]

**With** bind mount of /var/lib/

[2016-06-09 10:12] jjlakis commented on #1917
@jellonek @lucab Unfortunately, this PR consists only the hypervisor interface. The QEMU support will be added in another PR

[2016-06-09 13:12] alban commented on #1757
@mike1729 do you want to file a pull request for your work?

https://github.com/mike1729/rkt/tree/1757-cgroup2-support

[2016-06-09 13:40] iaguis commented on #2459
Maybe we should update the goroutine leak code to the latest version on [net/http](https://golang.org/src/net/http/main_test.go) or use the [etcd package](https://github.com/coreos/etcd/tree/master/pkg/testutil).

[2016-06-09 15:43] lucab commented on #2734
Nevermind, I got my doubts sorted out. https://github.com/coreos/rkt/pull/2772 is the resulting guide, those steps have been used for 1.8.0 signing ceremony.

[2016-06-09 17:15] dgonyeo commented on #2188
I'll probably be free from my current thing today or tomorrow, and can spend some more time on this.

[2016-06-09 18:20] s-urbaniak commented on #2459
xref #2770

[2016-06-09 18:40] bk138 commented on #2184
@lucab this is what I get with rkt 1.8.0:
[code]

/proc/cgroups looks like:
[code]

and ls -la /sys/fs/cgroup gives me
[code]

Unfortunately, I couldn't find any reference to the kernel patch so far, the latest on openvz.org covers 2.6.32, seems the 3.16 patch is done by HostEurope.

[2016-06-09 19:30] #480 closed

[2016-06-09 21:44] jellonek commented on #1917
@lucab: There is no one longer interested in lkvm. Using qemu solves a lot of pain and adds further possibilities.
lkvm is chosen to be deprecated.

[2016-06-09 21:52] yifan-gu commented on #2664
I think this might be the reason I cannot get the logs from journalctl on the host.

[2016-06-09 22:07] jellonek commented on #2664
Yes, it is. @pskrzyns had @woodbor another method to access these logs?

[2016-06-09 22:08] yifan-gu opened #2774 "The naming of the 1.8.0 release artifacts are inconsistent with older ones"
E.g. `rkt-1.8.0.tar.gz` vs `rkt-v1.7.0.tar.gz`

The `v` is missing in the names.

This could have a chance to break some scripts that fetches rkt release tarballs.
Do we want to fix this or have we decided to stick with the new naming?

cc @lucab

[2016-06-09 22:42] yifan-gu opened #2775 "Getlogs() cannot fetch the logs of exited pods"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

I tried to get the logs from an exited pod, using `journalctl -m` works fine, but using the `Getlogs()` API doesn't work.
[code]

**What did you expect to see?**

Using the `Getlogs()` API doesn't return the logs.
[code]

**What did you see instead?**

I should be able to fetch the log even the pod exited.

cc @alban

[2016-06-09 22:43] yifan-gu commented on #2775
This is causing https://github.com/kubernetes/kubernetes/pull/27098 to fail on some of the e2e tests.

[2016-06-09 23:04] yifan-gu commented on #2775
Oops, it's my fault, the client example only gets the logs within 5s, that's why I can't get the logs using the example...

[2016-06-09 23:04] #2775 closed

[2016-06-09 23:09] lucab commented on #2774
No, my bad. I was updating the release guide with signing steps at https://github.com/coreos/rkt/pull/2772, and didn't notice I dropped the prefix.
I've just renamed the artifacts without changing the content, can you check if it is ok and then close this? Otherwise I'll rebuild them tomorrow, as I don't have access to the signing key now.

[2016-06-09 23:21] steveeJ commented on #2482
@alban what do you think of additionally switching to the user that owns the treestore directory when fetching an image? I would make this the default for fetch operations, including the ones induced by `rkt run`.

[2016-06-09 23:29] yifan-gu commented on #2774
Checked, the result LGTM. Thank you @lucab !

[2016-06-09 23:29] #2774 closed

[2016-06-10 01:36] yifan-gu opened #2776 "api: GetLogs() skips first entry when lines > 0"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

I run a busybox image and executed a command to produce one log line.
I called `journalctl`, it read the logs correctly.
I called `GetLogs()` with `Lines=3`, it didn't return logs.

[code]

GetLogs() doesn't return the logs
[code]

And here is the [testlog.go](https://gist.github.com/yifan-gu/220c8458a2b28f91f166daabc

[2016-06-10 08:24] s-urbaniak commented on #2748
Not really sure, but I'd expect a quay hosted ACI image to "just" work in rkt ;-)

I don't really know the source of the image, but https://quay.io/repository/quay/busybox/image/769b9341d937a3dba9e460f664b4f183a6cecdd62b337220a28b3deb50ee0a02 indeed reveals it has been converted from docker.

@lucab any suggestions?

[2016-06-10 09:23] iaguis commented on #2184
`net_cls`, `net_prio` and `perf_event` have the same hierarchy (`0`) and so `rkt` will try to mount them together. However, on the host `net_cls` and `net_prio` seem to be mounted together and `perf_event` seems to be a separate mount. I guess the kernel rejects mounting the three together because on the host they're separated and the mount options have to match.

Can you paste the results of `cat

[2016-06-10 09:26] iaguis commented on #2664
It's slightly more complicated, see https://github.com/coreos/rkt/pull/2747#issuecomment-224289493 and following comments.

[2016-06-10 09:54] #2657 closed

[2016-06-10 09:56] alban commented on #2482
@steveeJ do you mean temporarily switching to the user that owns `/var/lib/rkt`? That will usually be root (user: root, group: rkt), so I am not sure of the benefit... My suggestion would be to drop the capabilities from the effective set and getting them back after the fetch from the permitted set.

Alternatively, @alepuccetti is working on https://github.com/systemd/systemd/issues/3414 ([mailing

[2016-06-10 10:00] s-urbaniak commented on #2748
xref #2369 which essentially is the same issue

[2016-06-10 10:02] alepuccetti commented on #2482
[code]

The commands with '!' run as root.

I will do a PR soon, I am testing the code and writing the docs now.

[2016-06-10 10:21] s-urbaniak commented on #2748
as discussed OOB w/ @lucab: there is currently an impedance mismatch between (appc) architecture labels and ABI compatibility. In rkt, and in the appc/spec we treat both terms equally but they are actually not.

Debian solved this in their [own way](https://wiki.debian.org/Multiarch/Tuples), but this would need to be solved in a wider picture (OCI?).

For now we need to make sure that `arch` entri

[2016-06-10 10:44] #2416 closed

[2016-06-10 10:56] bk138 commented on #2184
Sure!
[code]

[2016-06-10 11:39] mike1729 commented on #1757
Hi

I wanted to, but sth in the middle of rebasing to upstream/master and updating kernel/systemd triggered that cgroups are not mounting in container. I don't know why, but try to figure it out.

[2016-06-10 12:28] jonboulle commented on #2748
can you expand on this? isn't there a match between appc os+arch and the debian multi-arch tuple?

[2016-06-10 12:52] lucab commented on #2748
Another discussion on the same topic is at https://github.com/coreos/rkt/issues/2369

Between appc os+arch and debian *multi-arch tuples*: could be that we have a 1:1 matching, but it is implicit at best and corner-cases are fuzzy (`armv6l` could be either `arm-linux-gnueabi` or `arm-linux-gnu`)

Between appc os+arch and debian *architecture labels*: no. `aarch64_be`, `armv7b` are custom appc, and

[2016-06-10 13:08] lucab opened #2777 "kvm stage1 should return pod exit status"
While writing test cases, I realized that kvm flavors always return 0 even if the application exit with some other exit codes. Behavior should be aligned with non-kvm flavors, where user/caller gets a meaningful exit status upon termination.
I think @alban and others were already aware of this, but I didn't find any report tracking it.

/cc @jellonek

[2016-06-10 14:27] alepuccetti commented on #1464
My PR about notification in nspawn got merged. I am working on this issue to make it work on rkt.

[2016-06-10 14:49] lucab commented on #2751
With regard to opting-out, we are having a quick a brainstorm on the UX side here https://github.com/coreos/rkt/pull/2771#issuecomment-225182669, feel free to chip in. As @alban said, some of those are directly hardcoded in systemd so it may be a bit harder to un-protect.

[2016-06-10 14:51] iaguis opened #2778 "TestAPIServiceCgroup fails occasionally"
We've seen some occasional failures of this test on Jenkins:

[code]

The cgroup suffix of the Pod returned by the API service is the session one (`/user.slice/user-1000.slice/session-3.scope`) instead of having a `machine` scope (`machine-rkt\\x2de363eae5\\x2da67f\\x2d4e4c\\x2dae8a\\x2d3f6b0f1aea0a.scope`).

[2016-06-10 15:15] alban commented on #2751
As long as the app has CAP_SYS_ADMIN and it does not run in a new user namespace, it could un-protect /proc/sys by running `mount -o remount,rw /proc/sys`.

[2016-06-10 15:50] pskrzyns commented on #2664
@yifan-gu : its like @iaguis wrote, the problem is a little more complicated.
This is the reason why kubectl logs won't work with ```journalctl _MACHINE_ID=...```
We are currently investigating the problem between systemd and 9p - https://github.com/coreos/rkt/pull/2747#issuecomment-224345913

[2016-06-10 16:36] alban commented on #2778
I can reproduce the race easily by adding two sleeps, see the following patches in rkt and in systemd-nspawn:

- https://github.com/kinvolk/systemd/commit/45d3a787ba79ce1fa3843308d73f5d1bb1cbb1d0
- https://github.com/kinvolk/rkt/commit/c04f5a17202ea50738e1405cc14dc063ca41d7d9

I build rkt with my systemd-nspawn patch:
[code]

Then, I run the test:
[code]

I get the same failure:
[code]

I think th

[2016-06-10 16:49] alban commented on #2778
In @iaguis' words: this race is the opposite race of https://github.com/coreos/rkt/issues/2341#issuecomment-203481419

[2016-06-10 16:49] iaguis commented on #2778
kinda sorta in a way

[2016-06-10 16:57] iaguis opened #2779 "TestExitCodeWithSeveralApps fails occasionally"
We've seen some occasional failures of this test on Jenkins:

[code]

It seems the pod exits before `hello0` has a chance to print "HelloWorld", that is, `hello1` exits before `hello0` prints anything, causing the pod to exit and the test to fail.

We should probably sleep in every app, and sleep a bit more in `hello2`.

[2016-06-10 23:54] sym3tri commented on #1727
am having this same issue in Fedora 23

[2016-06-11 06:35] 0xbaadf00d opened #2781 "More examples and documentation"
Hi,

It's seems that Rocket was a good alternative to Docker, but it currently lack of documentation or real examples.  Okay you have a small example with a staticly compiled "Hello World" in Go, but in the real world, user want create container with real application with a lot of dependencies or in another languages like Java or Scala.

Is it possible to add some real use case with full explanati

[2016-06-11 09:03] chrisfarms opened #2782 "can't rm image from store when disk is full"
It would be good if the process of removing an image from the store didn't require writing to the disk. Currently if the disk is filled up with images then the only option is to go looking for other things to clean up (or manually hacking away at /var/lib/rkt) before coming back and actually performing the `rkt image rm` that was needed.

[code]

[2016-06-11 09:08] s-urbaniak commented on #2781
Having more real world examples is a great idea. I'll work on low level docs in the next few days, but packaging classical play/jetty/tomcat web apps and DB's is actually a great idea.

@farazfazli maybe you can help here as discussed? Let's make and document samples for psql/mysql, and Java/python web apps.

[2016-06-11 09:15] alepuccetti commented on #2482
@steveeJ my PR got merged, so the '!' features is going to be available on systemd v231. You might want to check it out.

[2016-06-11 09:20] #2734 closed

[2016-06-12 13:10] djtm commented on #1614
Would be great if the docker seccomp profile files could be reused.

[2016-06-12 14:03] Andrei-Pozolotin commented on #2757
@lucab thanks for getting back. is `acpush` supposed to work with `quay.io` now?

[2016-06-12 14:21] legeyda opened #2783 ""dial tcp: i/o timeout"-error while fetching any image"
Environment:

	rkt Version: 1.8.0
	appc Version: 0.8.4
	Go Version: go1.6.2
	Go OS/Arch: linux/amd64
	Features: -TPM
	--
	Linux 3.10.0-327.13.1.el7.x86_64 x86_64
	--
	NAME="CentOS Linux"
	VERSION="7 (Core)"
	ID="centos"
	ID_LIKE="rhel fedora"
	VERSION_ID="7"
	PRETTY_NAME="CentOS Linux 7 (Core)"
	ANSI_COLOR="0;31"
	CPE_NAME="cpe:/o:centos:centos:7"
	HOME_URL="https://www.centos.org/"
	BUG_REPORT_UR

[2016-06-13 05:16] farazfazli commented on #2781
@0xbaadf00d You can use both Docker images and ACI files with Rocket. A good place to find images is quay.io/

I am not familiar with play/jetty/tomcat, however I will post a tutorial on how to build ACIs for Postgres and Java 7 soon.

[2016-06-13 08:34] win-t opened #2784 "rkt: stdin and stdout redirection"
with docker i can do something like this

    echo hello world | docker run --rm -i --entrypoint /bin/cat busybox | cat

can i do that in rkt with one container pod?, i have tried

    echo hello world | rkt run docker://busybox --interactive --exec /bin/cat | cat

but it look like `--interactive` always allocate tty, is there flag like `--notty`?

[2016-06-13 08:43] iaguis commented on #1727
The fixes (https://github.com/fedora-selinux/selinux-policy/pull/100 and https://github.com/fedora-selinux/selinux-policy/pull/108) are in Fedora 24. There's one more fix (https://github.com/fedora-selinux/selinux-policy/pull/114) which I'm not sure it's included in 24, but it is in Rawhide.

[2016-06-13 08:46] alban commented on #2784
Indeed, there is no flag `--notty`.

I'll close this and let's track this in https://github.com/coreos/rkt/issues/2414

[2016-06-13 08:46] #2784 closed

[2016-06-13 08:46] alban commented on #2414
Capturing https://github.com/coreos/rkt/issues/2784:

[2016-06-13 09:59] iaguis commented on #2782
A quick and dirty way to reproduce this:

[code]

[2016-06-13 12:35] #2779 closed

[2016-06-13 17:07] jonboulle commented on #2757
@Andrei-Pozolotin acpush is on hold at the moment in favour of the work going on in the [OCI Image Specification](https://coreos.com/blog/oci-image-specification.html) - we're hopeful that an end-to-end story for rkt pushing images will emerge out of that.

[2016-06-13 17:22] lucab commented on #2482
@steveeJ rkt-fetch can drop to `nobody:rkt`and still works.

This may however kill two features:
 1. automatic key-discovery + trust
 2. image rendering

Point 1 can be easily addressed by also retaining `rkt-admin` group. Point 2 is a bit harder for me to foresee at the moment, I guess it could be addressed by not dropping some specific caps (to be checked which/how many), but I'm not much happy

[2016-06-13 17:31] btipling opened #2789 "Failure from attempting instructions from "trying out rkt""
**Environment**
I'm on OS X 10.11.5 with VirtualBox Version 5.0.20 r106931

Haven't gotten to a working rkt, but I'm at this commit e129fd78cdb190e09c88aa00d749352cae865026

**What did you do?**
These instructions: https://coreos.com/rkt/docs/latest/trying-out-rkt.html
[code]

**What did you expect to see?**

Expected vagrant command to succeed.

**What did you see instead?**

https://gist.github.

[2016-06-13 18:26] Andrei-Pozolotin commented on #2757
@jonboulle thanks. then: can you please comment on  your plans for `rkt` support of `aci`,
i.e. how long projects such as `dgr` will continue to be viable?

[2016-06-13 22:51] euank commented on #2392
cc @dgonyeo

[2016-06-14 00:17] steveeJ commented on #2482
I'll go further afield here than just the `rkt fetch` sub-command with my opinion about this, mostly caring about permissions on disk.

Any action that establishes or overrides (e.g. `--insecure-options=image`) trust should require elevated privileges. I like the approach of having a _rkt-admin_ group and using that to indicate privileges to rkt.
If that group doesn't exist, the user that ran the

[2016-06-14 00:36] steveeJ commented on #2765
This is currently being worked on in CNI https://github.com/containernetworking/cni/pull/145. I'll update this issue once code has been merged to support this.

[2016-06-14 02:05] steveeJ opened #2791 "networking/kvm: should not continue to duplicate CNI code"
The stage1-kvm flavor has been copying large snippets of code from CNI to mimic the behavior of the nspawn based stage1-coreos flavor, and I think it is time to move away from this pattern. This issue will be used to track progress as I think we need more than one PR for this.

[2016-06-14 02:13] steveeJ commented on #2553
@alban do you think you could write a test for this to demonstrate the issue?

[2016-06-14 02:55] steveeJ commented on #2085
I want to revive this and add my 0.02$.

@jonboulle
I understand your concerns about `fly` being a stage1 as it's not aligned with the features of the other stage1. OTOH, we've created fly for a different, admittedly much smaller, feature set.

I think that we should make the global contract between stage0 and stage1 smaller and write better documentation with an overview of different stage1's and

[2016-06-14 05:41] yifan-gu opened #2792 "pods.go: getContainerPID1() loops forever for rkt-fly stage1"
**Environment**

Replace this with the output of:

[code]
**What did you do?**

I run a rkt pod with stage1-fly, and try the rkt api service example (client_example.go)

**What did you expect to see?**

rkt api service stuck in ListPods() function

**What did you see instead?**

rkt api service should return

More details:
After some debugging, we found that it's because the [getContainerPID1()](h

[2016-06-14 06:19] dghubble opened #2793 "rkt v1.8.0 release tarball directory name changed"
[code]

[code]

[code]

Notice folder `rkt-1.8.0`, not `rktv1.8.0` as expected. In previous releases, the tarball was prepared with "rkt-" + "v" + "numeric version". If this is an intentional change going forward ok, but this also broke a script and seems like a mistake in the release process.

[2016-06-14 07:41] lucab commented on #2793
xref #2774

[2016-06-14 08:47] s-urbaniak commented on #2792
looking into it; fly's stage1 doesn't generate a `pid` file, only parent pid file `ppid`; I added `stage1common.WritePid(os.Getpid(), "pid")` next to https://github.com/coreos/rkt/blob/v1.8.0/stage1_fly/run/main.go#L337. The same is done for the `kvm` flavor.

The client example doesn't block any more, but I get a subsequent error which I am looking at now:
[code]

[2016-06-14 08:59] lucab commented on #2482
Just to be clear, this is not something I'm introducing here, it is [already in place](https://github.com/coreos/rkt/blob/master/dist/init/systemd/tmpfiles.d/rkt.conf#L26)

This coexistence of user-as-owner and group-as-owner makes things blurry and mixes single and multi-tenancy in global directories. If we want to move to user-specific data, user's home is the place. System directories are bette

[2016-06-14 09:29] lucab commented on #2793
As noted in the other ticket, this was not an intentional change. I've just re-uploaded a fixed 1.8.0 tarball and its corresponding signature.

[2016-06-14 09:29] #2793 closed

[2016-06-14 09:32] dghubble commented on #2793
Thanks!

[2016-06-14 09:36] lucab commented on #2783
This looks like something going on with host networking. @legeyda is your network setup non-standard in some relevant way, like having multiple interfaces, asymmetric routing, IPv6-only setup, some kind of proxying or something else you are aware of? Do other unrelated command-line and golang programs work with HTTPS traffic?

[2016-06-14 09:49] s-urbaniak commented on #2792
The `fly` flavor apparently has no systemd journal support. I am inclined in implementing a `LogsSupported() bool` api service method to check if a pod actually does have journal support.

@alban @iaguis please let me know if this is a feasible approach.

[2016-06-14 10:04] s-urbaniak opened #2794 "rkt: api service socket activation support"
This issue tracks the support of socket activation in the rkt api service.

Similar plumbing is already in place for the metadata service: https://github.com/coreos/rkt/blob/master/rkt/metadata_service.go#L572

xref https://github.com/coreos/rkt/pull/2272
xref https://github.com/coreos/rkt/pull/2686

[2016-06-14 10:06] jonboulle commented on #2757
@Andrei-Pozolotin we will certainly continue to support ACI for the foreseeable future - backwards compatibility is paramount (for now it's used by rkt as its internal format anyway). As of today there is still work happening in ACI to fulfil needs that aren't being met elsewhere - we just expect that new development effort will start to focus around OCI instead as that format gains traction and b

[2016-06-14 10:23] s-urbaniak commented on #2792
As discussed OOB w/ @jonboulle I'll try to detect if it's a rkt fly instance and omit these pods in the api service at all.

[2016-06-14 10:56] jellonek commented on #2791
First part will be adding hypervisor specific code to CNI (i'll start to do this today).
Second - remove this code from rkt and start using cni in new way.
Third - a bit external - change way how k8s uses rkt in this area.

[2016-06-14 12:29] s-urbaniak commented on #2789
I can reproduce this, looking into it.

[2016-06-14 12:40] Andrei-Pozolotin commented on #2757
@jonboulle great, good to know. at first sight (quick attempt to switch away from docker) it surely looked like `oci` was a clever misdirect designed to delay `rkt` acceptance :-)

[2016-06-14 14:16] philips opened #2797 "rkt: doesn't build under OSX"
[code]

There are many useful rkt subcommands like fetch, image, etc that should work under OS X. We should make sure rkt compiles and the subcommands that don't work simply error out.

[2016-06-14 14:22] iaguis opened #2798 "kvm: journald integration doesn't work"
Capturing my comment on https://github.com/coreos/rkt/pull/2795#issuecomment-225860400.

We currently don't create the link ` /var/log/journal/${MACHINE_ID} -> /var/lib/rkt/pods/run/.../var/log/journal/${MACHINE_ID}` so journalctl on the host can't find the logs of KVM pods.

Moreover, the machine ID we set is not related to the pod UUID:

[code]

[2016-06-14 17:09] steveeJ commented on #2792
WRT https://github.com/coreos/rkt/issues/2085, there should be an official list of features, and stage1's should have a way to declare what they support. API service and other introspection tools will then be able to handle missing features gracefully.

[2016-06-14 17:34] alban commented on #2792
@steveeJ what kind of features are you thinking about? Would that be an array of strings such as:
- "socket-activation" (cannot pass the fd from the host to a kvm pod)
- "journald"
- "rkt-enter" (fly does not have enter)
- "host-unix-socket" (using socket files on a host volume to communicate with the host does not work on kvm)

For some of those features ("rkt-enter"), we could use stage1s' annot

[2016-06-14 19:05] legeyda commented on #2783
I've just installed fresh centos7 in virtualbox (network of type "NAT"), and the result is the same
(installed precompiled binaries from https://github.com/coreos/rkt/releases/download/v1.8.0/rkt-v1.8.0.tar.gz).

[2016-06-14 20:12] steveeJ commented on #2482
Yep, I just wanted to state that I this the part of the current situation a.k.a. well done!

Using home-directories for anything that currently lives in _/var/lib/{rkt,cni}_ is questionable for a couple of reasons, surely not a complete list:
* image fetches/renders might be unnecessarily duplicated
* inconsistent state for CNI IPAM allocations

[2016-06-14 23:20] chancez opened #2800 "Pass arbitrary key=value metadata to journald"
It would be great if we could pass additional `key=value`pairs to `rkt run/run-prepared` that get added to the journald metadata.

Use-case:

Kubernetes has a bunch of useful data that we want included on a per-log-line basis for each container spawned by Kubernetes. Examples are container id, container name, kubernetes namespace, kubernetes pod name.

We want to avoid having to correlate data fro

[2016-06-14 23:26] yifan-gu commented on #2800
Set to v1.10.0 milestone because the cluster logging is marked as rktnetes 1.1 https://github.com/kubernetes/kubernetes/issues/21702

[2016-06-14 23:39] euank commented on #2800
I don't like the temporary hack (overloading syslog identifier) because I think we should consider existing fields of the journal log as an api contract, and we've already mutated that one once and are relying on it in rktnetes.

Perhaps special annotations in some namespace (e.g. `'coreos.com/rkt/log-tag/arbitrary-string': 'value'` resulting in `arbitrary-string=value` annotated in logs if the st

[2016-06-14 23:42] chancez commented on #2065
I'd like to bring this back up, as I haven't had time to work on non-tectonic things.

Being able to specify this would make the task of implementing aggregated logging for the entire host + all rkt containers as trivial as just running `journalctl -f` or reading directly from the sd_journal API.

Today a log collector system would need to spawn a thread for every rkt container that exists on a no

[2016-06-15 01:17] chancez commented on #2800
@euank Yeah, I think the blocker for arbitrary metadata fields is that systemd unit's don't really allow for it except for the syslog identifier basically. However the sd journal API does allow it, as far as I can tell. It might be blocked on systemd supporting this via unit files.

[2016-06-15 02:02] achanda opened #2801 "Exposing a port without putting it in the ACI"
**Environment**
[code]

**What did you do?**
Trying to see if there is a way to expose a port without putting it in the ACI. Looking for the equivalent of `docker run -p 8080:80 image`

**What did you expect to see?**
There should be a way to do this

**What did you see instead?**
Could not find a way to do this in the docs

[2016-06-15 11:59] s-urbaniak commented on #2789
@btipling thanks for reporting this!

The current `Vagrantfile` actually tries to **build** rkt (and fails to do so). This seems to be strange since I'd expect a "trying out rkt" documentation to use the released `rkt` binary instead of building from master which can fail anytime. It should be meant for people tryung out rkt, not rkt-developers.

I am tempted to refactor the current `Vagrantfile`

[2016-06-15 12:09] jonboulle commented on #2789
Agreed that for trying out rkt we should just use one of the released artefacts - not sure on the exact history here. But still presumably that build failure shouldn't happen :-)

[2016-06-15 12:14] jonboulle commented on #2801
This is tracked in #2113, please chime in there - thanks!

[2016-06-15 12:14] #2801 closed

[2016-06-15 12:46] alepuccetti commented on #1464
Depends on https://github.com/systemd/systemd/issues/3544

[2016-06-15 13:34] s-urbaniak commented on #2789
as discussed with @alban we'll also remove the following scripts which are not used anywhere:

- scripts/install-common.sh
- scripts/install-acbuild.sh
- scripts/install-rkt.sh

[2016-06-15 13:48] jonboulle commented on #2789
:+1: cleanup!

On 15 June 2016 at 15:34, Sergiusz Urbaniak <notifications@github.com>
wrote:

[2016-06-15 14:46] alban commented on #1464
Depends on https://github.com/appc/spec/pull/626 as well.

I made [some slides](https://docs.google.com/presentation/d/1OnHF948jvTRDfWwtWF6cuch-VjGmVObIrA1LD5vHORE/edit) for the [rkt Community sync](https://docs.google.com/document/d/1NT_J5X2QErtKgd8Y3TFXNknWhJx_yOCMJnq3Iy2jPgE/edit#bookmark=id.cqt9r8vdux4e).

[2016-06-15 16:44] euank opened #2803 "api_service: rkt assumes a pod is running"
In the code [here](https://github.com/coreos/rkt/blob/v1.8.0/rkt/api_service.go#L737), we assume a pod exists in the `run` directory. It's also possible for the pod to exist, with valid journal logs, in the `exited-garbage` directory.

It would be nice to check there if it's gcd and still return logs.

[2016-06-15 16:47] Quentin-M commented on #2470
This is related to https://github.com/coreos/rkt/issues/2751.

[2016-06-15 17:17] pskrzyns commented on #2751
subscribe

[2016-06-15 18:27] dghubble opened #2804 "stage1 gc: error cleaning up cgroups: open subcgroup: no such file or directory"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

Successful GC and be able to run containers on a previously used (but no longer used) IP. `sudo rkt run --net=metal0:IP=172.15.0.2`. This has been an ongoing issue since rkt 1.0, which was supposed to be solved in rkt 1.7+ see https://github.com/coreos/coreos-baremetal/issues/208.

**What did you see instead?**

[2016-06-16 00:14] achanda commented on #2113
In Nomad, we would like to expose a randomly allocated port to the host. This port may or may not be defined in the ACI. Correct me if I'm wrong, but I don't think there is a way of doing this currently. This flag will help in implementing the said functionality in Nomad.

Would it make sense to overload the `--port` flag to define a port (with a port number, name and host port) and then expose it

[2016-06-16 04:58] s-urbaniak commented on #2287
and again on seamphore

[2016-06-16 07:54] iaguis commented on #2804
Are the pods that error out pre v1.7.0? That error message is just a warning that doesn't impede the IP to be removed, it should not appear if the pods you're GCing were started with rkt >=v1.7.0.

[2016-06-16 09:43] jonboulle commented on #1463
@tmrts is going to explore feasibility of this and make a go/no-go decision

[2016-06-16 09:44] jonboulle commented on #2375
Initial draft targeted for 27/06

[2016-06-16 10:17] alban opened #2806 "*: resolveUUID resolves empty string to all pods"
Capturing discussion from https://github.com/coreos/rkt/pull/2438#discussion_r67315277

**What did you do?**

- `rkt stop "$UNSET_VAR"`: this kills all the pods
- `sudo rkt rm "$UNSET_VAR"`: this deletes all the stopped pods
- `sudo rkt enter "$UNSET_VAR"` enters whatever happens to be the first pod found.

**What did you expect to see?**

Empty strings should not match any uuids.

This could be f

[2016-06-16 10:31] #2792 closed

[2016-06-16 10:40] dghubble commented on #2804
Perhaps that is the cause, I have been hopping between versions. I'll re-open if we run into it again.

[2016-06-16 16:42] cdancy opened #2809 "json/rest API?"
Any chance of including a json/restful api for working with rkt? Much like what is planned for [etcd_v3](https://github.com/coreos/etcd/issues/5686) I was wondering if the same could be done here.

[2016-06-17 02:00] btipling commented on #2789
Why would this be true? `master` is not guaranteed to build? You guys merge in branches or commits that don't work into master? Maybe it does make sense to use a binary for trying out, but I'd still think it would be an important issue if the master branch failed to build and to not merge changes into the master branch if they cannot build successfully.

[2016-06-17 02:16] philips commented on #2789
@btipling Yea, ideally master always build but it isn't guaranteed. Mistakes happen and rkt depends on external git repos to build. So, relying on a binary is the best option.

[2016-06-17 08:24] slallema opened #2811 "Macvlan with KVM doesn't seem to work"
**Environment**
I have tested this on CoreOS stable and archlinux + rkt 1.8

[code]

**What did you do?**

Launch a container with kvm stage1 and macvlan network config

The network config
[code]
And I start it with :
[code]

**What did you expect to see?**
Ping the gateway and other hosts of the same lan.

**What did you see instead?**
No network connectivity on macvlan interface, but I can ping

[2016-06-17 08:44] slallema opened #2812 "Configure discovery endpoint for a given ACI prefix"
Hi,
It would be great to be able to configure an endpoint for a given ACI prefix and not always rely on DNS for discovery.
A use case can be : if I replicate an ACI registry from internet on an internal server, I want to tell rkt that all ACI with the prefix *example.com* are now located at *http://mycorpserver/examplecom/*

[2016-06-17 09:30] jellonek commented on #2811
Is 10.113.63.254 an address on host ethernet device? If so, could you ping for test some other address in this subnet? (other host for example).

[2016-06-17 10:11] jonboulle commented on #2789
master should definitely always be buildable, but using a release binary
provides a more predictable/consistent experience for those looking to just
try out rkt.

On 17 June 2016 at 04:16, Brandon Philips <notifications@github.com> wrote:

[2016-06-17 10:24] jonboulle commented on #2113
ping @steveeJ

[2016-06-17 11:03] slallema commented on #2811
no, it's an address on another physical host. I've tried to ping several adresses on the same host and on other hosts with the same result.

[2016-06-17 11:04] jellonek commented on #2811
Ack.

[2016-06-17 12:13] jonboulle commented on #2800
Can someone start this conversation upstream if it doesn't already exist?

[2016-06-17 12:22] #2668 closed

[2016-06-17 13:01] jonboulle commented on #2809
I don't think we'd be adverse to adding gateway support, although it's not on our roadmap. (I'd also reiterate [Xiang's comment](https://github.com/coreos/etcd/issues/5668#issuecomment-226000898) that it's not so much a RESTful API as it is RPC-via-JSON). Would gladly consider a contribution!

[2016-06-17 13:49] cdancy commented on #2809
@jonboulle yeah not something exactly RESTful but something along the lines of what etcd does. I'm not a go programmer (java/groovy/gradle guy) so I'm not entirely sure how to go about implementing what would be needed and/or if I could be any help at all (API documentation I can surely help with as I'm a bit of a stickler in this area). We currently use (I'm the owner) the [etcd-rest](https://git

[2016-06-17 14:28] tmrts commented on #2459
Fixed by #2770

[2016-06-17 14:28] #2459 closed

[2016-06-17 14:37] #2778 closed

[2016-06-17 17:35] djtm commented on #2113
@achanda: there are always ugly hacks. E.g. expose all (relevant) ports in the Dockerfile.

[2016-06-17 17:38] achanda commented on #2113
@djtm Nomad currently allocates random ports from a given range. And we don't know which port will be allocated while building the image. As you said, one hack will be to expose the whole range, but that's not clean!

[2016-06-17 18:22] dgonyeo commented on #2541
Mentioning here because it's relevant: I recently made a PR against docker2aci that adds docker v2.2 and OCI support: https://github.com/appc/docker2aci/pull/176.

This would result in rkt having the same support for OCI as it does for docker, so it's nothing like the native AppC support rkt has today but if you're interested in copying logic from docker2aci for fetching and/or manifest conversion

[2016-06-17 19:06] euank commented on #2800
Upstream RFE: https://github.com/systemd/systemd/issues/3041

[2016-06-18 15:02] antonyh commented on #2789
I've had this problem too; unfortunately the master branch is unstable. The workaround is to: `git checkout v1.8.0` and continue from a release tag. It's certainly one approach for those who want to just kick the tyres and try out rkt.

But.. as others have stated, it's not unreasonable to expect the master branch to work, and to have a broken master makes it hard for development to progress - any

[2016-06-18 16:54] s-urbaniak commented on #2789
Agreed to all that has been said. My motivation to refactor the Vagrant setup was not to be meant to disguise a broken master. The current master definitely is not broken, just the current Vagrant setup should be targeted to end users rather than developers.

[2016-06-19 12:56] antonyh commented on #2789
I get where you are coming from, and I can now see that the build isn't broken on master - it works just fine on Travis. The thing is.. why? I'm not familiar with Go yet, so it's puzzling to me that a build could work on CI but not in Vagrant.

So I'm experimenting... it doesn't work in debian/jessie, same result. It seems to fail on `go get github.com/appc/spec/...` so it seems there's a differen

[2016-06-19 17:06] tmrts commented on #1051
@s-urbaniak related to the discussion we had today before we realized that we're supposed to stop working on weekends :smile:

[2016-06-19 17:17] tmrts commented on #1051
Docker uses https://docs.docker.com/machine/ now

[2016-06-19 17:55] s-urbaniak commented on #1051
@tmrts :-) Thanks, that you refreshed this issue!

[2016-06-19 18:23] s-urbaniak commented on #2789
@antonyh Thanks for checking on debian/jessie! I just installed an empty `debian/jessie64` vagrant box, installed go 1.6.2 manually (debian jessy comes with go 1.3, which is too old), installed the necessary https://github.com/coreos/rkt/blob/master/scripts/install-deps-debian-sid.sh dependencies, and the build succeeded:
[code]

I see there's need for Vagrantfile for developers too, so I'll also

[2016-06-19 18:39] s-urbaniak commented on #2797
@tmrts you have OSX, do you want to give it a shot?

[2016-06-20 10:17] s-urbaniak commented on #2789
@tmrts ping

[2016-06-20 11:07] jellonek commented on #2797
@philips this is not a way how we are building `rkt` (we are using autotools instead of go build system).

There will be a bit of work in this area... md5sum, squashfs could be installed from `brew`, but later `configure` fails on libacl... (runned with `--with-stage1-flavors=coreos`).

Also this looks connected to topic of separation of commands/operations which could be used without root privile

[2016-06-20 15:06] alban commented on #2506
For the record, rkt prints "error code 203" when the binary is not statically compiled and it does not find the shared libraries. The code 203 comes from [systemd's ExitStatus](https://github.com/systemd/systemd/blob/v230/src/basic/exit-status.h#L47).

Example:
[code]

[2016-06-20 15:44] alban commented on #2584
I got the report on IRC that it still does not work.

go version xgcc (Ubuntu 4.9.3-0ubuntu4) 4.9.3 linux/amd64

[code]

Replacing `-ldflags` with `-gccgoflags` brought up new messages:
[code]

Is it because the go version is not correct? If so, the guide should say what go version should be used.

[2016-06-20 16:48] alban opened #2818 "TestFetch failed when using --store-only with an URL"
https://semaphoreci.com/coreos/rkt/branches/pull-request-2816/builds/1 (from #2816)

TestFetch fails as follow. @iaguis invested this issue and will follow-up.

[code]

[2016-06-20 16:59] alban commented on #2188
Add label dependency/external for https://github.com/appc/docker2aci/pull/171

@dghubble does rkt just need to get a new release of docker2aci, or is further work necessary?

[2016-06-20 17:12] dghubble commented on #2188
^ @dgonyeo

[2016-06-20 17:27] glevand commented on #2797
Maybe add ```--with-stage1-flavors=none``` to configure to only build stage0.

[2016-06-20 17:48] tmrts commented on #2797
It's a bit orthogonal to what we want to do in rkt, but we are and will be supporting vagrant for user/dev purposes. @jonboulle might have something to add to this discussion

[2016-06-20 20:20] dgonyeo commented on #2188
I'm blocking on this because I can't figure out how docker determines the ID for an image. It doesn't appear to be a sha256 hash of the manifest, and I can't find any documentation on this. If the image is pulled by digest or comes from the docker hub I can get the image id just fine, but if it comes from disk or is pulled from a different registry (like quay) I can't.

[2016-06-21 00:43] yifan-gu commented on #2287
Yeah, we should print the gids..

[2016-06-21 04:48] chancez commented on #1051
Docker also has `docker for mac` and `docker for windows` now. They're using xhyve and hyperv plus some other daemons to make it a more seamless experience.

[2016-06-21 04:56] chancez commented on #2085
Commenting on @alban's comment here:https://github.com/coreos/rkt/issues/2792#issuecomment-225956607

I really like that idea, and it means other tooling can use it since it's in the annotations (for example, rktnetes could use it to introspect if they can `enter` the fly containers (which need to show up in the api service)).

[2016-06-21 05:02] chancez commented on #2809
@cdancy Since you mention Java, Java supports creating grpc clients, any reason you can't use that?

[2016-06-21 05:34] cdancy commented on #2809
@chancez indeed there are many libraries that can accomplish this but my concern surrounds using and/or adding to [jclouds](https://github.com/jclouds/jclouds) a provider implementation for rkt. Currently jclouds only supports marshalling of POJO's (plain old java objects) into json/xml. Some work would need to be done to make this happen and get it accepted upstream which is why I reached out and

[2016-06-21 08:33] lukasredynk commented on #2627
Here's PR with implementation: https://github.com/coreos/rkt/pull/2769

[2016-06-21 08:50] iaguis commented on #2287
So maybe we should just merge https://github.com/coreos/rkt/pull/2805?

[2016-06-21 09:04] #2806 closed

[2016-06-21 10:28] jonboulle commented on #2188
@dgonyeo this?
https://github.com/opencontainers/image-spec/blob/master/serialization.md#id_desc

On 20 June 2016 at 22:21, Derek Gonyeo <notifications@github.com> wrote:

[2016-06-21 10:43] #2789 closed

[2016-06-21 12:42] jonboulle commented on #2584
We used to mention versions, not sure why they got removed?

On 20 June 2016 at 17:44, Alban Crequy <notifications@github.com> wrote:

[2016-06-21 12:44] alban commented on #1757
#2785 (unified cgroup) will need more testing and review, so let's move it to the next milestone.

[2016-06-21 13:46] alban commented on #2584
It was removed in 574a54180b589969a37dd0df2289d7ee410df6ec.

/cc @krnowak

[2016-06-21 15:27] steveeJ commented on #2482
@lucab We should make https://github.com/coreos/rkt/issues/695 happen, which will allow multiple stores on disk, including stores own by specific users. This could improve security significantly.

[2016-06-21 16:05] alepuccetti commented on #1464
I wrote a preliminary patch for this issue [here](https://github.com/coreos/rkt/compare/master...kinvolk:alessandro/sd-notify-integration).
While I am waiting that other issues are solved I like some thoughts about this.

To test this you need to use systemd current master thus build a stage1 image with it and use rkt with src flavor.

[2016-06-21 16:54] #647 closed

[2016-06-21 19:46] dgonyeo commented on #2188
Actually, I think I'm overthinking this. As of https://github.com/appc/docker2aci/commit/1a3e061816eb27d1460025a552ee93e03daefa85, I think all rkt needs to be able to run images by hash is a new docker2aci release it can vendor.

I bumped the docker2aci version locally and now this works:

[code]

[2016-06-21 23:16] yifan-gu commented on #2287
@dgonyeo caught this today:
[code]

So I think the reason is the hash of the image fetched by root has the same prefix as the hash of the image fetched by nobody, so the image both ends up in `/tmp/datadir-775069046/cas/blob/sha512/0a`, and this directory has the UID = root.

I recalled this problem has been mentioned somewhere before.

[2016-06-22 06:01] sttts commented on #2694
Here is a wip implementation with rkt support (untested). Would be great to get feedback: https://github.com/kubernetes/kubernetes/pull/27180

[2016-06-22 09:17] tmrts commented on #2797
@glevand the problem is not building rkt completely, but testing out packages with tools like `go test`. Most of the packages depend on other packages not buildable in OSX

[2016-06-22 09:47] alban commented on #2602
If this is not ready on time, we could at least update the tutorial to suggest `--dns=8.8.8.8`:
https://github.com/coreos/rkt/blob/master/Documentation/trying-out-rkt.md

[2016-06-22 09:51] jonboulle commented on #2602
:+1:

[2016-06-22 10:45] #1923 closed

[2016-06-22 12:41] lucab commented on #1614
@djtm yes it will expose (among the others) a docker-like profile. Feel free to take a look at #2753.

[2016-06-22 13:33] jonboulle commented on #2694
IIRC the CNI implementation only supports tunables within /proc/sys/net, but the sysctl proposal is for everything more generally?

[2016-06-22 13:56] sttts commented on #2694
Yes, that's the current situation. Somewhat related: we are discussing right now where to do validation. In the container runtime we could easily check that only net.* sysctls are passed for a pod and reject it.

[2016-06-22 15:48] alban commented on #2567
I am working on https://github.com/coreos/rkt/pull/2827

[2016-06-22 16:13] jonboulle commented on #2567
@pbx0 we're a bit unclear of the necessity of this after recent developments - are you able to help us understand how critical this is?

[2016-06-22 16:46] steveeJ opened #2828 "Confusion about the UID resolver in rkt: doesn’t work as expected on CoreOS for user ‘etcd’"
When running rkt on CoreOS and using the image flag  `--user=etcd`, rkt will throw the following error:

#### stage1-coreos
[code]

#### stage1-fly
[code]

### Expected

I would've expected the `--user` argument to be resolved to it's UID on the host, and was confused that it didn't do that.

### Workaround
Shelling out to `id` as in `--user=$(id -u etcd)` works around the issue but it's not ideal

[2016-06-22 17:24] steveeJ commented on #2567
@jonboulle I think it's important to be able to control this per volume as you would expect it for any mount you perform manually, so let's get it in regardless.

[2016-06-22 18:16] pbx0 commented on #2567
@jonboulle I don't believe this is critical anymore, i.e its not blocking my progress. However, @euank had concerns about what happens when the kubelet is restarted. `kubectl exec` might not work anymore.

[2016-06-22 19:28] alban commented on #2375
/cc @f0

[2016-06-23 00:44] steveeJ opened #2831 "stage1-fly: mounted volumes cannot be accessed by applications started as non-root users"
When a volume target path does not exist, stage1-fly will create all necessary directories using the permissions 0700. This will lead to only root being able to mounted files underneath, even if the mounted files allow access from the specified user.

[2016-06-23 00:56] steveeJ commented on #2831
This brings up a very serious limitation in Go once again, the lack of `fork()` functionality. It is not possible to e.g. run the code snippets that create the directories effectively under the non-root user, as the switch back to root would not be guaranteed to work, depending on how the routines get scheduled.

[2016-06-23 08:25] alban commented on #2567
@pbx0 ok, I am moving this to the next milestone then.

[2016-06-23 08:29] tmrts commented on #2798
@jjlakis I moved it to the next milestone, feel free to schedule it somewhere else if you have an ETA for it

[2016-06-23 08:32] tmrts commented on #2664
@pskrzyns do you guys have someone to shepherd this? I'm bumping the milestone for now

[2016-06-23 08:35] tmrts commented on #2640
@woodbor what's the status of this PR? I'm bumping the milestone

[2016-06-23 08:36] djtm commented on #1614
Great! looks like it would even work with the kvm stage 1.

[2016-06-23 08:40] tmrts commented on #2188
@dgonyeo do you need any help? maybe we can split this into parts. It's P1, but we've been bumping this for a while now. Hopefully this will be the last bump

[2016-06-23 08:44] tmrts commented on #2524
Assigning it to @jjlakis since it's related to `rkt stop`

[2016-06-23 08:47] tmrts commented on #2506
It needs a patch from systemd, bumping this to v1.11

[2016-06-23 08:48] tmrts commented on #2477
@steveeJ do you have any plans for this? feel free to reassign it

[2016-06-23 08:52] lucab commented on #2561
After discussing this with @alban, it makes sense to revisit all SELinux related stuff once kernel overlayfs support materialize. Demilestoning and tracking it via https://github.com/coreos/rkt/issues/1727

[2016-06-23 08:54] tmrts commented on #2158
@s-urbaniak will be focusing on architecture documentation for 1.10

[2016-06-23 08:56] lucab commented on #2562
This was probably not the root cause of test failure, https://github.com/coreos/rkt/pull/2723 should have addressed that.

After discussing this with @alban, it makes sense to revisit all SELinux related stuff once kernel overlayfs support materializes. Demilestoning and tracking it via https://github.com/coreos/rkt/issues/1727

[2016-06-23 08:57] tmrts commented on #2044
@steveeJ can we do something about this?

[2016-06-23 09:00] tmrts commented on #2417
@woodbor any updates?

[2016-06-23 09:01] tmrts commented on #2622
@philips ping for @blixtra's questions

[2016-06-23 09:07] tmrts commented on #2553
@steveeJ alban missed your message, assigning it to him for the next release

[2016-06-23 09:08] tmrts commented on #2115
@s-urbaniak will be prioritizing this one next release

[2016-06-23 09:09] lucab commented on #2564
Tracked via #2773

[2016-06-23 09:10] tmrts commented on #2777
@pskrzyns can you take a look at this one?

[2016-06-23 09:13] tmrts commented on #2602
@alban documenting the `--dns` flag in tutorial. This one did  not make it in

[2016-06-23 09:14] tmrts commented on #2627
@jjlakis @mzylowski ping

[2016-06-23 09:22] tmrts commented on #2694
@euank is away for conferences this week, bumping the milestone

[2016-06-23 10:00] alban commented on #2602
Actually, the [tutorial](https://github.com/coreos/rkt/blob/master/Documentation/trying-out-rkt.md) only starts nginx and etcd. They don't need DNS to work.

The issue raised on IRC was about [this CoreOS blog post](https://coreos.com/blog/getting-started-with-rkt-1.0.html). This uses:
[code]
and when using an interactive shell, users are more likely to need DNS. It would be nice to add `--dns=8.8

[2016-06-23 10:41] jonboulle commented on #2602
@dgonyeo think you could tweak that post?

[2016-06-23 15:28] alban commented on #1463
I would prefer to use that "private" socket if possible instead of adding dbus-daemon in stage1. It would be more lightweight. I did the following tests:

`/run/systemd/private` is not created in stage1 if we use the "coreos" flavor. But with the "src" flavor, it is created. systemd could be compiled with different `./configure` options...

Then, I tried `systemctl -M rkt-xxxx status ...` but it c

[2016-06-23 17:41] dgonyeo commented on #2188
@tmrts All this needs is for the docker2aci release (https://github.com/appc/docker2aci/pull/178) and then a rkt release that includes it.

[2016-06-23 17:44] dgonyeo commented on #2602
I guess so, but that blog post was explicitly for v1.0.0. Maybe it would be better to pull that post into another getting started tutorial that we can update as rkt changes?

[2016-06-23 19:40] pskrzyns commented on #2777
I'm on vacation till monday :)
@jjlakis @lukasredynk could you look at it ?

[2016-06-23 19:42] pskrzyns commented on #2777
@tmrts @alban can we create team kvm on this repo ?

[2016-06-23 19:43] pskrzyns commented on #2640
@tmrts plz assign it to me

[2016-06-23 21:15] yifan-gu opened #2835 "Bump go-systemd to include the sdjournal Read() panic"
Sorry, I originally filed the issue in go-systemd [here](https://github.com/coreos/go-systemd/issues/172) But not linked it to an rkt issue, so we didn't bump the go-systemd in 1.9 release.

We need to bump go-systemd in rkt to include the fix, which will fix https://github.com/kubernetes/kubernetes/issues/27228

Can we cut a v1.9.1 release for this? cc @euank @lucab

[2016-06-23 21:43] yifan-gu commented on #2835
cc @tmrts we need a 1.9.1 :sob:

[2016-06-24 05:09] tmrts commented on #2835
@yifan-gu on it :cry:

[2016-06-24 07:08] #2835 closed

[2016-06-24 07:23] lukasredynk commented on #2627
The test is implemented in https://github.com/coreos/rkt/pull/2769

[2016-06-24 09:45] s-urbaniak commented on #2435
Figured an uncomplicated way to host/discover ACI images on github while preparing the rkt8s workshop, see https://github.com/s-urbaniak/rkt8s-workshop/blob/gh-pages/inspector

We could make a gh-pages branch in this repo, having a "builder" file serving as a discovery point for the rkt-in-rkt-builder.

The builder would be reachable under i.e. `coreos.github.io/rkt/builder:1.8.0`

[2016-06-24 12:48] tmrts commented on #2777
@pskrzyns :+1:

[2016-06-27 11:56] dongsupark commented on #1403
... (just happened to read again the old issue) ...
I think I've never seen it again since upgrading distro to Fedora 23. So it might be a non-issue.
Thanks.

[2016-06-27 11:56] #1403 closed

[2016-06-27 12:10] #847 closed

[2016-06-27 12:17] jonboulle commented on #2831
#2836 presumably fixed this.

[2016-06-27 12:17] #2831 closed

[2016-06-27 12:34] jonboulle commented on #2783
@squeed perhaps you can try your hand at reproducing this one if you're working on a VirtualBox env

[2016-06-27 13:12] tmrts commented on #293
@alban please reassess the current status of this feature

[2016-06-27 13:23] tmrts commented on #1463
Bug report on https://github.com/systemd/systemd/issues/3610

[2016-06-27 13:31] tmrts commented on #1051
This is something we're looking into, at the moment. Any help is welcome of course!

[2016-06-27 20:59] lucab commented on #1799
After further research, it looks like the other solutions suggested in systemd bugs are not enough, as they handle the "attach" part of the job.

[2016-06-27 22:33] steveeJ commented on #2229
@jellonek I don't think that this belongs to CNI which only cares about DNS server IPs.

[2016-06-28 08:09] monstermunchkin commented on #1308
The Virtualization:containers project on OBS contains an up-to-date and actively maintained [rkt package](https://build.opensuse.org/package/show/Virtualization:containers/rkt), therefore this issue can be closed.

[2016-06-28 09:20] jonboulle commented on #1308
@monstermunchkin fantastic! any chance you could add this to https://github.com/coreos/rkt/blob/master/Documentation/distributions.md ? I think we could close this after that.

[2016-06-28 10:20] #1308 closed

[2016-06-28 10:22] jonboulle opened #2842 "*: release v1.10.0"
When it comes time to it, let's have @squeed cut the next release, following our release guide: https://github.com/coreos/rkt/blob/master/Documentation/devel/release.md

[2016-06-28 11:24] jellonek commented on #2229
Right. CNI should only give this information to execution engine (in this case - to `rkt`). How this would be then used by it, in time of application preparation - lays on execution engine side.

So... @alban who in your opinion should look on this?

[2016-06-28 12:38] lucab commented on #1464
I'm probably missing some details here, but to me it looks like the proposal is to bubble up notifications from apps. Does is implicitly mean that the first app to notify will mark the whole pod as ready? If so, does this semantic satisfy the initial use-case? Also, what happens when mixing apps with different notification types?