[2016-06-28 13:09] jonboulle commented on #1280
@dgonyeo is this fixed?

[2016-06-28 13:11] alepuccetti commented on #1464
@lucab
It is not the app that mark the pod as ready, it is systemd itself inside the pod that notifies outside when it reaches `default.target`.

It is ok to mix service's types because it is systemd (inside the pod) that notifies outside the container when it reaches `default.target`.

[2016-06-28 14:11] lucab commented on #1464
@alepuccetti Thanks for the clarification! I clearly mislooked the target unit in the context of notification bubbling, sorry for the noise.

[2016-06-28 15:05] alepuccetti opened #2843 "stage1: bumping systemd to v231"
To be able to get notifications from inside the container (https://github.com/systemd/systemd/pull/3474 , https://github.com/coreos/rkt/pull/2826) we need to bump up to the next systemd version v231.

-----

Depends on https://github.com/coreos/bugs/issues/1480

[2016-06-28 15:27] alban commented on #2229
Shouldn't it be fixed in the application instead? (in Java in this example)

I am worried about the implications of adding systemd-resolved:

I guess Java does not use resolved's D-Bus interface for DNS resolution. For the glibc NSS plugin, this would need to be added in stage2 to work and I don't think that rkt should inject code in stage2.

[2016-06-28 16:23] f0 commented on #2229
@alban the problem is the glibc resolving bahaviour.

glibc uses always the first nameserver (unless you set the rotate option , but this makes the problem bigger, then you have random timeouts), and if this nameserver is not reacheble , for each connection a timeout happems. With resolved, the timeout only happens once, and the you are back to normal operation.

I solved the Problem for me  with

[2016-06-28 17:18] squeed commented on #2782
When removing ACI, the process is:

1. Remove references from the DB (  `RemoveACIInfo()`, `RemoveRemote()` )
1. Commit the DB changes  ( [ `tx.commit()` ](https://github.com/coreos/rkt/blob/master/store/db.go#L156) )
1. Remove the blobs

This makes sense - we don't want to have dangling references in the metadata, so we make sure to clean them up first before actually deleting the blobs.

I did s

[2016-06-28 17:23] dgonyeo commented on #1280
I never addressed this for docker2aci. I'll look into it.

[2016-06-28 18:15] jellonek commented on #2229
Nice hint to be described in docs, but isn't this too much application specific for now?

Most applications (as based on glibc) expects only that there will be correctly configured `/etc/resolv.conf`...

[2016-06-28 18:19] f0 commented on #2229
@jellonek  hm i do not think this is app specific...

normally a app should use gethostbyname and then goes through the nssswitch.conf  config , this can end in resolv.conf, but also in /etc/hosts or resolve (resolved) depends on the config and order

[2016-06-28 19:05] yifan-gu opened #2844 "rkt: Show stage1 informatoin of the pods"
Today, there is no way to tell which stage1 a pod is using unless we introspect the rkt pod directory. We should provide facilities to show such information. (in rkt list(maybe?)/status/response from api service).

cc @joshix

[2016-06-28 19:59] sgotti commented on #2782
@squeed your analysis is correct.

The store assumes that if a blob is refernced in the db (aciinfo table) then it´s available on the filesystem (diskv). Breaking this will mean that all the store users that handle aciinfo (like the image renderer) will return an error when the blob isn't found (calling store.ReadStream).

I'm not sure this is fixable since it's an hard assumption.

[2016-06-28 20:26] pskrzyns commented on #2664
@tmrts this is not P1 anymore cause we can obtain logs through api-service (it was fixed by https://github.com/coreos/rkt/pull/2795 )
we need to evaluate if we really need this in kvm flavor (so the nearest possible milestone will be 1.11.0)

[2016-06-28 21:52] yifan-gu opened #2845 "Support per app volume relabel?"
Ref https://github.com/kubernetes/kubernetes/issues/28187

So basically with the `:Z` mount option, docker is able to relabel volumes on per container bases, the feature is currently supported by k8s. However we don't have the ability to do per container volume relabeling today in rkt.

Not really sure about the use case, but since the containers does not share mount ns within k8s pod, this featur

[2016-06-28 22:56] euank opened #2846 "stage1-fly: fails when only mountPoint defined, not mount"
**Environment**

`rkt Version: 1.9.1+git7b1eba6`

**What did you do?**

[code]

**What did you expect to see?**

Both fly and coreos should successfully run the above manifest

**What did you see instead?**

As shown above, fly fails. As a side-note, using `rkt run --volume .. --mount ...` generates a `mounts` object, not a `mountPoints` object.

@pbx0 ran into this when trying to run a rkt fly po

[2016-06-29 08:05] alepuccetti commented on #2782
@squeed and @sgotti This might sound a dirty solution, but we could reserve some space in the disk that can be freed up before doing `tx.commit()`, thus to ensure that the commit is possible. Of course this is space overhead but will ensure the possibility to do the commit and after delete the blob.

[2016-06-29 08:12] s-urbaniak opened #2849 "Identify packages in rkt/pkg to be potentially exported to coreos/pkg"
Currently we use some packages used as dependencies in various external projects. We should identify potential candidates to be moved to `coreos/pkg`.

xref https://github.com/coreos/rkt/pull/2848

[2016-06-29 08:13] jonboulle commented on #2782
Cute idea but it's a bit racey if something is still constantly trying to
write to disk?

On 29 June 2016 at 10:05, Alessandro Puccetti <notifications@github.com>
wrote:

[2016-06-29 08:35] alepuccetti commented on #2782
write to disk?

True, but this is always a problem even if you delete the blob first, after you do not have nay guarantees that the commit will succeeded.
To avoid this there are two options:
1) lock writes just for the time of the commit.
2) The DB should have allocate more than the space it actually use to guarantees one commit at anytime.
The second idea seems more elegant, but I do not know ho

[2016-06-29 10:15] tmrts opened #2850 "Broken DNS support link in documentation"
See the link in https://github.com/coreos/rkt/blob/master/Documentation/app-environment.md#etcresolvconf

[2016-06-29 10:20] jonboulle commented on #2850
it's faster to just fix this via a GH PR than to file an issue ;-)

[2016-06-29 10:20] #2850 closed

[2016-06-29 10:39] tmrts commented on #2540
@ltagliamonte It works for me in rkt 1.8 & 1.9.1 I'm closing this issue, feel free to re-open it if you are able to reproduce it with the latest rkt version.

[2016-06-29 10:39] #2540 closed

[2016-06-29 10:40] tmrts commented on #2147
I'm closing this issue as this bug hasn't been seen recently, feel free to re-open if it does.

[2016-06-29 10:40] #2147 closed

[2016-06-29 10:44] tmrts commented on #2850
😢

[2016-06-29 11:58] jellonek commented on #2229
What you mean by "normally"? This looks like you are assuming a glibc based application.
Do you know how golang based statically compiled application does name resolving? Hint: there is no mechanism to support `libnss_resolve` or even any other external to app library, so such application which does not require/use any glibc based "base image" (binary blob itself is the only needed thing in such a

[2016-06-29 13:33] s-urbaniak commented on #2803
@euank can you provide a bit more background on the use case? I am struggling with setting up a prio/version for this. Do we need it for proper k8s integration?

[2016-06-29 15:22] f0 commented on #2229
@jellonek  hm yes you are right, i assumed glibc and ignored the rest of the world

[2016-06-30 01:08] steveeJ commented on #1367
This has been introduced in CNI v0.3.0 which has landed in rkt.

##### Demo
[code]

[2016-06-30 01:08] #1367 closed

[2016-06-30 07:32] #2385 closed

[2016-06-30 09:42] #2507 closed

[2016-06-30 10:41] jonboulle commented on #2845
can we figure this out? I'd rather steer them away from features without use cases. k8s should be striving to minimise API, not maximise it

[2016-06-30 12:07] squeed commented on #2783
@legeyda, I'm not able to reproduce this. I created a fresh Centos7 machine in VirtualBox and it worked. Can you send the output of `url -v -o /dev/null https://coreos.com/dist/pubkeys/aci-pubkeys.gpg` please?

[2016-06-30 13:05] s-urbaniak opened #2855 "Define bisectability"
Currently we sometimes ask contributors to split commits for a given PR for the sake of reviewability. This potentially breaks bisectability for single commits if intermediate commits are not buildable. This is especially true for dependency bumps which have to go hand-in-hand with code changes atomically in one commit.

Let's decide for one variant and live with the pros/cons.

I am voting for bi

[2016-06-30 13:10] tmrts commented on #2855
I vote for enforcing small commits for PRs, but squash merges (effectively bisectability after merges)

[2016-06-30 13:18] squeed opened #2856 "`make manpages` is broken after vendor update"
[code]

[2016-06-30 13:24] lucab commented on #2855
I'm not a fan of squashing, but I see it could be a middle-ground solution here. It is however mutually exclusive with https://github.com/coreos/rkt/issues/2549.

[2016-06-30 13:46] jonboulle commented on #2855
Are there any cases _other_ than dependency updates where intermediate commits are not buildable?

Obviously bisectability is ideal from a purity perspective but I'm not sure I'm convinced it's yet a practical issue

[2016-06-30 14:25] alepuccetti opened #2857 "stage1: run time error for src flavor"
Building stage1 from source with systemd commit 2e0d8df13b1c1deda7b5769accae9e6cd5bf5966 produce the following runtime error:
```stage1/rootfs/usr/bin/systemd-nspawn: error while loading shared libraries: libsystemd-shared-230.so: cannot open shared object file: No such file or directory```

You should use this commit `f68032265d37ca933de72fbc9a9fb530bb284e97` for now.

[2016-06-30 14:55] lucab commented on #2857
As discussed on IRC, this seems a side-effect of https://github.com/systemd/systemd/pull/3516. Some other fallout is going on there, so I think some changes may follow on that topic. If everything stays as it is, we'll need to adjust `usr_from_src.mk` and check why the private lib is not being installed.

[2016-06-30 15:06] tmrts commented on #2855
@jonboulle

we can enable git-validation back to cover this case of course. it shouldn't take more than 15 minutes :+1:

[2016-06-30 15:47] lucab commented on #1468
Partially overlapping with this, machined already signals for us via dbus when a pod:
 * started -> `interface=org.freedesktop.machine1.Manager; member=MachineNew` with `string "rkt-$UUID"` and object path.
 * exited -> `interface=org.freedesktop.machine1.Manager; member=MachineRemoved` with `string "rkt-$UUID"` and object path.

[2016-06-30 15:48] discordianfish commented on #2797
Hi,

I'm interested in this as well. After installing autoconf, automake, md5sha1sum, squashfs and wget it fails on libacl as mentioned already. I've tried to build libacl which again fails for missing 'attr'. So I tried building that but had no success so far. `./configure` succeeds but make fails due to syntax errors in xattr.h:

[code]

I'm going to try clang next and will update this issue lat

[2016-06-30 15:58] jonboulle commented on #2855
filed under "unconstructive"

[2016-06-30 16:24] mzylowski commented on #2432
Hey!
Today I experienced the same (or similar) problem like @alban wrote in April (on ubuntu 16.04).
`=== RUN   TestSocketProxyd
Writing ptp0 to /tmp/localdir-743924341/net.d/ptp0.conf
--- FAIL: TestSocketProxyd (127.55s)
        rkt_socket_proxyd_test.go:200: read tcp 127.0.0.1:38908->127.0.0.1:44289: read: connection reset by peer
FAIL`

And from journalctl on the host:
`Jun 30 18:03:02 mzylowsk

[2016-06-30 17:03] steveeJ commented on #2831
@jonboulle

It's more of a workaround than a fix. I'd prefer to have the directories owned by the user that runs the applications and go back to the `0700` permissions. I'm not insisting since it'd be an optimization, so we can keep it closed if we have a consensus of accepting the workaround as a solution.

/cc @alban @iaguis

[2016-06-30 17:06] steveeJ commented on #2602
FWIW `--dns` has been mentioned in [a blog post from february '16](https://coreos.com/blog/rkt-cni-networking.html#making-dns-work).

[2016-06-30 17:15] steveeJ commented on #2477
@tmrts I have ideas but no plans on implementing this myself anytime soon.

The big picture that I have in mind is a multiuser capable store implementation. It can read from different locations which are configurable with rkt's system/user configuration mechanism. Users are only be able to write to their own store, and only root (read: privileged rkt users/group members) should be able to modify t

[2016-06-30 21:16] yifan-gu commented on #2845
The feature wass originally added in https://github.com/kubernetes/kubernetes/pull/15323
Maybe @swagiaal @pmorie has more clues.  Does the pod level separation good enough for k8s?

[2016-06-30 21:43] steveeJ commented on #2855
+1 for bisectibility with the squash-merge only approach. It will force developers to narrow down the focus of PRs but allows to use separate commits during the development process which makes updating PRs easier.

[2016-06-30 21:46] euank commented on #2855
For a second I thought it was `area/developer trolling` @tmrts :)

I've found that in-practice, most problems with intermediate broken code can be solved by just having `make || exit 125` in the git bisect script to skip non-building commits.

However, you can also just bisect only merge commits with only a bit of extra work (see the rev-parse example in [this blog post](https://blog.smart.ly/2015

[2016-07-01 04:22] Quentin-M opened #2861 "stage1: copy /etc/resolv.conf instead of mounting it"
Some applications require or expect to be able to modify `/etc/resolv.conf`.
This is however not currently possible as the file is [bind-mounted](https://github.com/coreos/rkt/blob/ea795a700d06ef758de10c9ee1ca2976b7eda349/stage1/prepare-app/prepare-app.c#L231).

Could it be possible to instead inject it by copying it?

#2044
#2430

[2016-07-01 05:40] f0 commented on #1765
@iaguis @jonboulle  @jellonek
Hm to problem is back with rkt 1.9.1 (how can i check the cni version?) and if i check the sysctl values inside the container  net.ipv4.conf.%s.proxy_arp is not set to 1

[code]

[2016-07-01 07:04] jellonek commented on #1765
Hmmm... I'm setting this on host side.
@jjlakis could You set this also on VM side?

[2016-07-01 07:05] jellonek commented on #1765
This could be a reason of #2811

[2016-07-01 07:59] f0 commented on #1765
@jellonek   hm on the host side its also missing ...  in this case these are trunk interfaces with attached vlan interfaces
[code]

[2016-07-01 08:10] lucab commented on #2861
Just to better understand the use-case, where did you encounter this and what was the expected behavior?

The code you pinpointed is preparing the app chroot, and it doesn't seem to mark it as read-only. Could it be just a user-permission issue?

If we switch this to copying, different apps in the pod may end up with different sets of resolvers; is this what you are trying to achieve?

[2016-07-01 09:53] pskrzyns commented on #2627
Test are implemented in https://github.com/coreos/rkt/pull/2859, https://github.com/coreos/rkt/pull/2769 was closed as duplicate

[2016-07-01 10:15] jjlakis commented on #2798
@tmrts We will fix for 1.11.
/cc @coreos/rkt-kvm-maintainers

[2016-07-01 11:54] sttts commented on #2694
There is a first sysctl implementation for Kubernetes now as well: https://github.com/kubernetes/kubernetes/pull/27180

It includes support for rktnetes using the kubenet plugin, at least for `net.*` sysctls. In no-op plugin mode though, there seems to be no way to dynamically set sysctls via the tuning plugin. So this won't work.

[2016-07-01 12:08] sgotti commented on #2477
@steveeJ Is there a strong use case for multiuser store? What about my original proposal?

[2016-07-01 12:46] jonboulle commented on #2477
Yes, we should just do @sgotti's proposal for now.

[2016-07-01 13:44] jonboulle commented on #2828
The user flag never resolves from the host; it expects the specified user to be in the filesystem of the app container image being run, and resolves it in there according to the [process in the appc spec](https://github.com/appc/spec/blame/master/spec/aci.md#L227)

[2016-07-01 14:00] jonboulle commented on #2629
ping?

[2016-07-01 14:19] s-urbaniak commented on #2828
The reason why you see `run: invalid user "etcd": invalid filename "etcd"` is because rkt fly only supports 1) numerical ids and 2) resolving user IDs from file stats. Since `etcd` does not start with a `/` it is not a valid filename.

[2016-07-01 14:36] jonboulle commented on #2855
+1 to @euank's

[2016-07-01 14:40] tmrts commented on #2855
@euank @jonboulle It's hard to enforce clean commit messages in even single commits, it takes time without automation and usually things slip through the cracks. Merge commits prevent having a cohesive commit history by both messing up the commit times and having a merge commit. Rebase is much better than merge. what is the benefit of keeping the merge commits? Not to mention the difficulty of enf

[2016-07-01 15:12] omkensey opened #2862 "scripts/setup-data-dir.sh is out of sync with init/systemd/tmpfiles.d/rkt.conf"
Currently the tmpfiles.d drop-in sets up the /etc/rkt directory owned by the group rkt-admin.  However, the setup-data-dir.sh script does not.  Per @lucab this needs fixing so he requested I file an issue.

[2016-07-01 15:16] omkensey opened #2864 "Documentation does not explain rkt-admin group"
The rkt-admin group is supposed to exist and own /etc/rkt -- the rkt release includes a tmpfiles.d drop-in that creates the directory owned by that group, but there is no documentation in the release (or in the website documentation, that I could find) about what the group is for, who needs to belong to it (if anyone), or that it needs to exist so it can own /etc/rkt.

[2016-07-01 15:18] gtrevg commented on #2864
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  gtrevg@gmail.com
    Domain plentyproductions.com has exceeded the max emails per hour (203/200 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message

[2016-07-01 15:43] lucab commented on #2862
Arguably `setup-data-dir.sh` should:
 * create a system group named `rkt`
 * create a system group named `rkt-admin`
 * if systemd-tmpfiles is in path, just pass `tmpfiles.d/rkt.conf` to it
 * if `/etc/tmpfiles.d/` exists, copy `rkt.conf` there
 * otherwise just continue with normal script execution

Bonus point: rework current script to parse items from rkt.conf instead of hardcoding them in two

[2016-07-01 15:52] lucab commented on #2862
I'll be happy to review/shepherd PRs fixing this. Feel free to ping me with any question/doubt related to this.

[2016-07-01 16:11] discordianfish commented on #2797
I spend some more time on this and made some progress. This is how I setup the env etc (assuming homebrew installed)

[code]

For now I've just change the function calls that are different on osx and removed the autoconf checks that fail. It looks like most of them shouldn't be necessary when running --with-stage1-flavors=fly.

Unfortunately `make` still fails:
[code]

The error on top (although I

[2016-07-01 16:14] discordianfish commented on #2797
For convience here links to my changes on github:

- https://github.com/discordianfish/rkt
- https://github.com/discordianfish/acl
- https://github.com/discordianfish/attr

[2016-07-01 17:17] jonboulle commented on #2855
It's really not that difficult to maintain and our history is not so bad. If you don't want to see merges, use `--no-merges`. Merges allow us to automatically reference GitHub issues and clearly distinguish between authors and mergers. Telling people to submit a new PR for every commit is not always feasible or convenient and doing large squash merges makes _true_ bisectability (figuring out which

[2016-07-01 18:24] lucab commented on #2797
@discordianfish you are hitting real linux-isms in the codebase. In detail:

I don't see anything Linux-specific here, so it is probably just mistagged.

This needs to access several cgroups endpoints under `/proc`. Stubbing this alone will not help, as the importer (api-service) is then tightly bound to dbus and systemd. It will require quite some rework and chasing transitive dependencies. I thi

[2016-07-02 08:39] Quentin-M commented on #2861
Hi,

I read the pod manifest and it appears that `/etc/resolv.conf` is mounted read-only by kubelet from the host ([source](https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/kubelet/rkt/rkt.go#L653)) as a workaround to #2430 when ``--net=host`` is used.

Forbidding users to override their `/etc/resolv.conf` is a limitation. It currently blocks our progress

[2016-07-02 12:42] thypon opened #2866 "compilation error inside os without systemd"
**linux without systemd compilation errors**

**What did you do?**

Tried to compile rkt on systems without systemd.

**What did you expect to see?**

A compiled rkt bundle.

**What did you see instead?**

[code]

[2016-07-02 13:55] lucab commented on #2866
Hi @thypon and thanks for the report!

`sd-journal.h` is a transitive dependency of go-systemd and thus it is also required to build rkt. Please note however that this doesn't imply having systemd running or installed on the systemd: the build system just needs to find development headers for libsystemd (under debian-like distros, they are typically in `libsystemd-dev`).

We can probably make the

[2016-07-02 13:59] lucab commented on #2866
Related: https://github.com/coreos/rkt/issues/2797#issuecomment-230015977.

[2016-07-02 19:53] jonboulle commented on #2861
Can you explain how exactly it blocks progress on Stackanetes? What is the
application you're having trouble with and what are its requirements?

On 2 July 2016 at 10:39, Quentin Machu <notifications@github.com> wrote:

[2016-07-02 21:00] thypon commented on #2866
Hi, i'm using voidlinux and i'm the package maintainer for this distribution.

The fact is some distribution like alpine/voidlinux/slackware doesn't even include systemd development headers. Wouldn't be better to include the header conditionally inside the source cod?

Another solution could be using the internal stage1 systemd devel headers instead.

[2016-07-03 17:46] onlyjob commented on #2571
Fixed in systemd/230-3 which introduced `systemd-sysusers` binary. All good. :)

[2016-07-03 17:46] #2571 closed

[2016-07-04 08:48] jonboulle commented on #2831
If you'd like that behaviour please file another issue to track

[2016-07-04 09:20] lucab commented on #2855
Thanks @euank for the hint on bisecting with merges, I'd also say +1 on that.

[2016-07-04 11:22] #2856 closed

[2016-07-04 11:33] s-urbaniak commented on #2855
It is settled then, I'll add the following statement to https://github.com/coreos/rkt/blob/master/CONTRIBUTING.md#format-of-the-pull-request:

If your PR includes multiple commits all intermediate commits must have clean commit messages and be relatively cohesive. All intermediate commits should compile and pass tests.

[2016-07-04 12:07] lucab commented on #2866
It doesn't look like good practice. Also, this requirement is coming from a dependency which would need to be adjusted, not rkt itself.

Only `src` flavor has them, so this won't work in general.

I have an additional proposal, which could work in your case via a `--enable-sdjournal=no` configure switch. Can you please give https://github.com/coreos/rkt/pull/2868 a try and let us know if it fits y

[2016-07-04 12:54] tmrts commented on #2855
We can't enforce this

[2016-07-04 12:55] s-urbaniak commented on #2855
@tmrts sorry, I updated the sentence PTAL. Yes, you are right, we can't enforce this right now.

[2016-07-04 13:08] tmrts commented on #2855
@s-urbaniak no, I'm saying that none of that makes sense @jonboulle. This is like telling people who follow bad practices to follow good practices, it's useless. If we enforce squash-only merges nobody has to make sure the intermediate commits are clean, or every commit message is good. I don't even want to spend time checking the messages of a single commit, that's why I enabled git-validation (c

[2016-07-04 13:43] jonboulle commented on #2855
Enforcing squash-only merges in GitHub does not enforce any commit message standards, because GH allows you to edit the commit message in-place at the time of merge. Also, squash preserves _some_ authorship information but is still inherently lossy, since a PR can involve up to (number of commits * 2) + 2 individuals (each commit can have a separate author/committer, the PR can be submitted by a t

[2016-07-04 16:03] lucab commented on #2776
Thanks @yifan-gu for your reproducer, it was very helpful in tracking down the bug. After a debugging session, I collected these elements:
 * your reproducer is correct, and the result is wrong only due to positive "lines" parameter
 * rkt code seems ok, an empty result is coming directly from go-systemd
 * it only affects the first line of a journal. Changing your example to `--exec sh -- -c 'ech

[2016-07-04 17:11] tmrts commented on #2855
@jonboulle if you feel strongly about it, then it's fine. But, let me state that this decision is practically the same as the one we've been using. I'm not arguing that it's hard to pay attention to even a single commit message. My point is that the harder we make mistakes to happen, the cleaner the project will be.

I'm not saying a clean commit chain can't be maintained as we can see from your e

[2016-07-05 10:31] s-urbaniak commented on #2115
gah, sorry, still traversing/learning the rkt code base, testing out external static analysis tooling to come up with better diagrams, but since we have the moratorium tomarrow, I'll move this the last time to the next release :-(

[2016-07-05 10:39] squeed opened #2870 "pod `post-stop` racing against `shutdown.service`"
Individual applications can define a `post-stop` in their manifest which directly maps to the systemd ` ExecStopPost=` directive. However, when the last application in pod exits, the `post-stop` races against `shutdown-service`, which calls `/usr/bin/systemctl --force exit`. Because we use `--force`, it means all running processes immediately get a `SIGTERM`.

This means that `post-stop` is not re

[2016-07-05 10:40] squeed commented on #2621
As part of fixing this, I found an issue with post-stop (#2870). That makes this test racy and unreliable.

[2016-07-05 13:50] alban commented on #2553
@steveeJ test implemented in https://github.com/coreos/rkt/pull/2871

[2016-07-05 14:20] iaguis commented on #2776
We need a release of go-systemd with https://github.com/coreos/go-systemd/pull/186

[2016-07-05 14:34] lucab commented on #2776
@iaguis right. I'd like @yifan-gu to have a look at it before tagging though. This is not a blocker for rktnetes, so I think the milestone/priority combo is overinflated.

[2016-07-05 15:51] iaguis commented on #2844
What's the priority of this?

[2016-07-05 16:03] iaguis commented on #2417
I guess what's missing here is

* Implementing a "force logging to stdout" flag on etcd (https://github.com/coreos/etcd/issues/5449#issuecomment-229721613)
* Updating the etcd ACI to use it

I'm de-milestoning this.

[2016-07-05 16:33] discordianfish commented on #2797
I cleaned up some more things and rkt now can be build via the regular autogen/configure/make. But building stage1_fly fails and fixing this looks a bit more involved:

[code]

So it looks like MS_RD, MS_REC and MS_SHARED flags are required.

- MS_RD: This should be simply called MNT_RDONLY
- MS_REC and MS_SHARED are linux only, found some good docs here: https://lwn.net/Articles/159092/

It doesn

[2016-07-05 16:49] iaguis commented on #2777
@coreos/rkt-kvm-maintainers can you set a proper milestone here?

[2016-07-05 17:07] squeed commented on #2783
I'm going to close this. @legeyda, feel free to open this again.

[2016-07-05 17:07] #2783 closed

[2016-07-05 19:37] yifan-gu commented on #2776
@lucab Tested with coreos/go-systemd#186 cherry-picked in the deps. I verified it is fixed.

[2016-07-05 23:45] pbx0 commented on #2629
I'm not sure what specific bug this originally was but, rktnetes requires kubernetes v1.3.0+ and rkt 1.9.1+ at the moment. There will be many problems trying to run on anything less as there has been significant development on both codebases recently to support rkt as the kubelet runtime.

I don't think there is any specific rkt bug being tracked here and that it is safe to close this issue. The s

[2016-07-05 23:46] #2629 closed

[2016-07-06 03:21] ae6rt commented on #2497
I can work on this under someone's guidance.  My expectation when reading the various *fetcher.go code was that all the concrete fetchers would implement a common function.  I identified a common Hash function, but the various implementations do not share a common function signature.  So my expectation was wrong.  What exactly do you want out of this issue?

Mark

[2016-07-06 03:24] tjdett opened #2874 "Volumes in /sys masked by later mounts using stage1-coreos"
When using `stage1-coreos` the `/sys` mounts occur after volume mounts, unexpectedly masking them. This does not occur with `stage1-fly`, because it does not mount `/sys`.

One example of a container image that requires volume mounts under `/sys` is Fedora's systemd container:
<https://github.com/fedora-cloud/Fedora-Dockerfiles/tree/master/systemd/systemd>

**What did you do?**
[code]

**What did

[2016-07-06 07:14] s-urbaniak commented on #2797
@discordianfish awesome results, thanks!

re 1) I think we should make stage0 work first.

re 2) I am inclined to have a dedicated stage1_fly for osx (, which could be the same as FreeBSD?!) since as you found out the current fly stage1 uses linux only APIs.

[2016-07-06 08:27] discordianfish commented on #2797
Ok, going to clean up my changes and submit a PR.

[2016-07-06 09:49] alban commented on #2874
I think that `stage1/prepare-app/prepare-app.c` should check if `/sys` (or a subdirectory) is already mounted before mounting it.

Note: it would be consistent with systemd-nspawn/systemd that only mounts new mounts if it is not already done (idempotence), to allow the container run-time to override mounts.

[2016-07-06 09:53] s-urbaniak commented on #2497
@ae6rt thanks for chiming in. The basic idea is to be able to support multiple image formats in a better way, like OCI, allowing new fetcher logic to be implemented.

There is already ongoing effort around this in https://github.com/coreos/rkt/pull/2830 with the idea of having external binary plugins.

I'll close this one since it is superseded with the aforementioned PR.

[2016-07-06 09:53] #2497 closed

[2016-07-06 12:40] s-urbaniak commented on #2158
sorry, same fate as https://github.com/coreos/rkt/issues/2115#issuecomment-230443598 :-(

[2016-07-06 12:45] iaguis commented on #2800
Not gonna happen for this release and it's marked as rktnetes 1.1.

[2016-07-06 12:52] iaguis commented on #2777
I'll move it to v1.12.0

[2016-07-06 13:07] s-urbaniak commented on #2748
closing this, as the original issue will not be resolved in quay because the referenced busybox image is very old.

[2016-07-06 13:07] #2748 closed

[2016-07-06 13:09] s-urbaniak commented on #2491
@tmrts ping

[2016-07-06 13:12] s-urbaniak commented on #2644
as discussed OOB with @lucab more investigation is needed, hence moving.

[2016-07-06 13:19] squeed commented on #2503
A quick investigation shows that this overhead is per pod, not per container.

[2016-07-06 13:26] iaguis commented on #2782
This needs more discussion. Moving.

[2016-07-06 13:37] alban commented on #1849
Low priority, moving to v1+

[2016-07-06 13:43] #2855 closed

[2016-07-06 13:43] alban commented on #2484
The systemd side will not be released for v1.10.0.

[2016-07-06 13:45] iaguis commented on #2435
@s-urbaniak would you be ok with owning this?

[2016-07-06 13:45] jjlakis commented on #2777
@iaguis Thanks

[2016-07-06 13:46] jonboulle commented on #2435
Seems this should tie in with the rkt-in-rkt guide he's supposed to be
owning :-)

On 6 July 2016 at 15:45, Iago López Galeiras <notifications@github.com>
wrote:

[2016-07-06 13:47] jonboulle commented on #2503
@euank @yifan-gu Can you help triage this for rktnetes needs?

[2016-07-06 13:50] squeed commented on #2503
I don't see an obvious way to change this without patching or pushing a change upstream to systemd.

[2016-07-06 13:51] alban commented on #1464
External dependencies not ready. Moving milestone.

[2016-07-06 13:51] jonboulle commented on #2503
@squeed fortunately that's something we're quite used to :-)

On 6 July 2016 at 15:50, Casey Callendrello <notifications@github.com>
wrote:

[2016-07-06 13:58] iaguis commented on #2503
Last time we talked about this with @poettering he said we could lower the minimal size since it's a define. Not sure he was talking about accepting upstream though :P

[2016-07-06 14:00] iaguis commented on #2435
Maybe next release :)

[2016-07-06 14:01] iaguis commented on #1463
This won't be ready for this release.

[2016-07-06 14:02] tmrts commented on #1463
We don't plan on adding the DBUS daemon either

[2016-07-06 14:05] s-urbaniak commented on #2435
assigned to myself

[2016-07-06 15:13] iaguis commented on #2694
Bumping a couple of milestones

[2016-07-06 15:14] iaguis commented on #2581
Let's discuss it further on the next milestone

[2016-07-06 15:15] iaguis commented on #2567
Any updates on this?

[2016-07-06 15:31] #2449 closed

[2016-07-06 15:31] #2456 closed

[2016-07-06 15:57] #2621 closed

[2016-07-06 17:55] squeed commented on #2329
Notes for my own consumption: we are testing that we conform to https://github.com/appc/spec/blob/master/spec/ace.md#volume-setup

[2016-07-06 20:22] euank commented on #2694
rkt / rkt in k8s supports the subset of sysctls that you can do with CNI tuning (so net.*) just fine, as said above.

For our reference, the current list of sysctls that support namespaces (the upper bound on the set we want to support) is [here](https://github.com/sttts/kubernetes/blob/40d627f3d5599018ac5fe169eca08ea4abacd521/pkg/kubelet/sysctls/whitelist.go#L23).

I think our options are roughly

[2016-07-06 21:47] yifan-gu opened #2877 "Reduce rkt api service CPU usage"
Ref https://github.com/kubernetes/kubernetes/issues/25581#issuecomment-226573122

We observed a higher CPU usage for rkt runtime than docker. I did some CPU/memory profiling for the rkt api service, It appears to me that the json encoding/decoding is taking a lot CPU circles.

CPU/memory profile of the rkt api service of creating and running of ~100 pods:
https://storage.googleapis.com/rktnetes-be

[2016-07-06 22:11] yifan-gu commented on #2503
@jonboulle I don't think this issue is very import atm.

[2016-07-06 22:32] steveeJ commented on #2567
- [ ] Blocked on https://github.com/appc/spec/issues/636

[2016-07-06 23:18] tjdett commented on #2874
@alban In the example case, I'm not sure a simple "not already done" check would produce the correct behaviour.

`/sys/fs/cgroup` is a volume, but the mounted `/sys/fs` does not contain `/sys/fs/cgroup`. Mounting the `/sys/fs` shadows `/sys/fs/cgroup`. For example, from `mount | grep ' /sys'` in an affected app container:

[code]

Short of not performing the `/sys/fs` mount, I don't see how you ca

[2016-07-07 01:40] euank commented on #2567
I don't think my concerns were valid after thinking about it a bit more and experimenting a little. I'll defer to any experimental results from @pbx0, but my results are that things in general should work (although in reality the kubelet-wrapper use-case is broken for other reasons probably not related to this; I'll file a separate issue).

[2016-07-07 02:10] yifan-gu commented on #2877
My next action is to:
1, Try out the other json encoding package, will replace the json/encoding in both appc/spec and rkt locally and measure the improvements.
2, Cache the expensive operations like reading pod/image manifest from disk.

Or maybe do 2 first, then 1.

[2016-07-07 02:24] euank opened #2878 "kubelet-wrapper / rkt gc: 'device or resource busy'"
**Environment**

`rkt Version: 1.9.1+gitda69783`

**What did you do?**

[code]

**Problem**

The above approximates how kubelet wrapper works and, most notably, the fact that pods are run on one side of the `/var/lib/rkt` shared bindmount (by systemd) but rm'd on the other side (by kubelet).

Because of how rkt rm/gc operate, namely that they re-mount everything as private prior to unmounting it,

[2016-07-07 02:57] yifan-gu opened #2879 "Writable API proposal"
### Goals ###

- To remove all rkt shell-outs in kubernetes.
- Much cleaner integration points, which can make kubelet_wrapper easier to run rktnetes.
- Make it easier for performance monitoring.

### Non-goals ###
Implement container runtime level interface

### Design ###
First, take a look at the rkt shell-outs we currently have:

`rkt fetch`
`rkt prepare --pod-manifest`
`rkt rm`
`rkt image rm`

[2016-07-07 06:57] SuperQ commented on #2877
Why not have kubernetes switch to gRPC[0] instead of spending time optimizing json?

[0]: https://coreos.com/blog/gRPC-protobufs-swagger.html

[2016-07-07 08:12] yifan-gu commented on #2877
@SuperQ Sorry for not being clear, the json encoding/decoding happens in rkt, it's marshaling/unmarshaling the appc spec's pod manifest and image manifest, not the k8s's pod spec.

[2016-07-07 08:35] SuperQ commented on #2877
Ahh, yes, I was thinking more about the wire protocol used.

[2016-07-07 08:40] iaguis commented on #2491
Since the PR is in v1.11.0, moving this accordingly

[2016-07-07 09:03] tmrts commented on #2491
@iaguis last bump hopefully

[2016-07-07 09:11] iaguis commented on #2627
Closed via #2859

[2016-07-07 09:11] #2627 closed

[2016-07-07 09:15] tmrts opened #2881 "Change the Flannel DoD IP space in tests"
See [tests/rkt_net_test.go](https://github.com/coreos/rkt/blob/master/tests/rkt_net_test.go#L865)

Use carrier-grade nat block? 100.64.0.0/10

@steveeJ @mischief

[2016-07-07 09:26] iaguis commented on #2524
We have rkt stop now but this seems to still be an issue, let's investigate it for the next milestone.

[2016-07-07 09:36] #2846 closed

[2016-07-07 12:56] lucab commented on #2881
I guess this usecase still fits into [RFC5737 space](https://tools.ietf.org/html/rfc5737).

[2016-07-07 13:19] jonboulle commented on #2877
Caching based on mtime/hash seems like a probable easy win for now

[2016-07-07 14:33] squeed commented on #2842
this is done.

[2016-07-07 14:33] #2842 closed

[2016-07-07 16:58] f0 commented on #1765
@jellonek   any news here? Can we reopen this?

[2016-07-07 17:21] yifan-gu commented on #2878
Link write-api proposal #2879

[2016-07-07 18:03] yifan-gu commented on #2877
SGTM.

[2016-07-07 18:30] chancez commented on #2879
Something like this would implementing something like docker for mac or boot2docker but for rkt much easier!

[2016-07-07 18:50] s-urbaniak opened #2886 "Move some packages from github.com/rkt/pkg to github.com/coreos/pkg"
The following packages are used outside of rkt, and could be moved to github.com/coreos/pkg, which is an unvendored shared library:

- http://godoc.org/github.com/coreos/rkt/pkg/fileutil
- http://godoc.org/github.com/coreos/rkt/pkg/multicall
- http://godoc.org/github.com/coreos/rkt/pkg/sys
- http://godoc.org/github.com/coreos/rkt/pkg/tar
- http://godoc.org/github.com/coreos/rkt/pkg/user

I also fo

[2016-07-07 20:55] euank commented on #2879
I'm not sure that a global config object should accompany each request.

For this like auth for fetch and stage1 for prepare, it does make sense to provide those optoins, but I don't think they have to be part of the same larger config struct.

Some options, like data dir, I don't think there's really a need to vary per api-service instance.

It also might be nice to have some discussion about how

[2016-07-07 21:01] sgotti commented on #2879
This will probably deserve its own issue but I'd like to use this as a starting point.

I think this will actually map to the current rkt command line in this way:

* aci: accept an image name string, aci hash, URL, file
* docker: use `docker://` scheme with docker image string
* oci: same as the above

I think that in future the current semantic will change (how to handle backward compatibility?)

[2016-07-08 09:19] lucab commented on #2879
This looks like a major design point, departing quite a bit from the current status quo.

Where do you plan to expose this interface? I see a comment related to TLS, so I guess some kind of network socket; if so how do you plan to do authn/authz there? And how should we map it to the current POSIX permissions model we are using?

[2016-07-08 10:11] jonboulle commented on #2879
This really troubles me - I don't understand the win here. We shouldn't design and implement an API knowing it's imminently going to be deprecated.

Is there evidence that this is causing issues today?

Can you explain how this would simplify kubelet_wrapper?

How does a writeable API help with this?

[2016-07-08 12:30] alban commented on #2874
@tjdett I think that rkt should also skip the /sys mount if the user provides a volume to mount in a sub-directory of /sys. This means the usual files in /sys will not be available, but users can mount directly /sys if it is necessary.

Implemented in https://github.com/coreos/rkt/pull/2888

[2016-07-08 12:38] lukasredynk commented on #2791
I looked into this and the main problem is that CNI creates veth devices and unfortunately kvm cannot use them. I could see two solutions here:
1) If  [1] would be merged then in rkt we could add code path for kvm flavor adding macvtap link to veth pair and passing it to kvm.
2) Add optional arg to the CNI (like CNI_VIRT) and if it'll be set then e.g. bridge plugin would setup macvtap/tap device a

[2016-07-08 12:49] Quentin-M commented on #2861
Hi,

Our containers requires to resolv kubernetes services using the cluster DNS. Currently, most of these containers use `--net=host`, some don't - it may change eventually. At startup, a script rewrites their `/etc/resolv.conf` to make them use the cluster DNS, cluster search domains and ndots option, regardless of the host/network configuration.

With the default runtime, it causes no particula

[2016-07-08 14:11] lucab commented on #2886
Just a note of warning: this may introduce additional cyclic dependencies that must be checked.

For example `rkt/pkg/user` depends on `rkt/pkg/group`, thus splitting them will introduce a dependency loop `coreos/pkg <-> coreos/rkt`.

[2016-07-08 15:36] s-urbaniak commented on #2886
@lucab that is unfortunate, I'll put `rkt/pkg/group` on the list.

[2016-07-08 19:39] yifan-gu opened #2890 "`rkt image rm` doesn't remove the rendered image in treestore"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

[code]

**What did you expect to see?**

After `rkt image rm`, the treestore should be removed when no pod is using it.

**What did you see instead?**

The treestore is left there until `rkt image gc`.

[2016-07-08 20:36] sgotti commented on #2890
@yifan-gu Before the explanation I want to preface that I'm writing some notes/issue on a store refactor that cover also this.

This is the wanted behavior (with appc) since in the chain fetch -> store -> render , the tree store is a caching layer of a rendered image (render phase).
But a tree store is not tied 1 to 1 with an ACI since it may have dependencies and since the dependencies are only r

[2016-07-08 20:59] yifan-gu commented on #2877
Added a PR for pod manifest caching https://github.com/coreos/rkt/pull/2891

Need to cache image manifest and image info as well, but that one seems trickier as every `rkt run` will change the mtime of the database file. And the mtime for other dirs like treestore, imageManifest, blob are not suitable for cache invalidation.

Still investigating.

[2016-07-08 21:12] yifan-gu commented on #2879
I agree, the argument is those APIs can be usable by other systems as well (true?), although in this proposal, I suggest we implement the onces used by k8s first.

See below.
Also as I mentioned, it causes profiling harder IMO.

See https://github.com/coreos/rkt/issues/2878

If all the commands go through API service, then we can just profile the API service to get the CPU / memory metrics. Otherw

[2016-07-08 21:27] yifan-gu commented on #2879
This is a good concern, we will need to face it anyway when a writable API (either pod level or container level) is going to be implemented.

On the realistic side, the kubelet is running as root today anyway, so in practice we don't lose much, and I am not sure we should dig into the authn/authz rabbit hole at this point?

[2016-07-08 21:30] yifan-gu commented on #2879
@sgotti Thanks for the input! So my understand of your concern is that only `ImageType` is not sufficient, right? I can replace that with [ImageFormat](https://github.com/coreos/rkt/blob/master/api/v1alpha/api.proto#L41) which is another protobuf message itself, and we can add things we need later, like distribution, etc.

[2016-07-08 22:59] yifan-gu commented on #2890
@sgotti Thanks for the explanation, it is helpful. The problem is that rktnetes is currently using `image rm`, not `image rm`, this is because that kubelet wants to implement its own image gc policy.

This is requested by k8s as well, as the image size is used for disk accounting, etc. But as we can see, in the docker case, removing the image whose size is **N** doesn't necessary mean we freed **N

[2016-07-09 08:46] thypon commented on #2866
https://build.voidlinux.eu/builders/x86_64_builder/builds/24492/steps/shell_3/logs/stdio it builds!

[2016-07-10 01:28] Andrei-Pozolotin opened #2892 "RFE: rkt stop --uuid-file"
1) `rkt rm` supports `--uuid-file`
https://coreos.com/rkt/docs/latest/subcommands/rm.html

2) `rkt stop` does **NOT** support `--uuid-file`
https://coreos.com/rkt/docs/latest/subcommands/stop.html

` rkt stop --uuid-file` is required for this sequence to work:
[code]

[2016-07-10 15:21] Andrei-Pozolotin opened #2893 "BUG: regression 1.9.1 -> 1.10.0"
either mounts (?) or overlay fs (?) or docker import (?) is broken after 1.9.1 -> 1.10.0 change

package: https://www.archlinux.org/packages/community/x86_64/rkt/

**Environment**

1) `export RKT_VER=1.9.1-1`
[code]
2) `export RKT_VER=1.10.0-1`
[code]

**What did you do?**

run manual script:
[code]
**What did you expect to see?**

1) `export RKT_VER=1.9.1-1`
`ls` output:
[code]

**What did you se

[2016-07-10 17:19] Andrei-Pozolotin opened #2894 "BUG: rkt rm: spurious errors in syslog"
`rkt rm` when called from `ExecStopPost` produces
```stage1 gc: error removing subcgroup ... operation not permitted```
errors in the journal, while all things seem to work fine

**Environment**
[code]
**What did you do?**
1) using systemd service unit:
[code]
2) running service start,  review log:
[code]

3) running service stop, review log:
[code]

**What did you expect to see?**

no errors when

[2016-07-10 17:58] Andrei-Pozolotin opened #2895 "RFE: provide bash based cni plugin reference implementation"
see https://github.com/containernetworking/cni/issues/265

[2016-07-10 19:08] s-urbaniak commented on #2893
Thanks for reporting!

I can reproduce this here. Interestingly enough when I reset the `PATH` value, everything comes back to normal:

[code]

[2016-07-10 21:29] sgotti commented on #2890
:smile: I'd like to integrate it in a rkt architecture doc. I think this decoupled architecture is needed for appc and I'd like to keep it also for future oci work since it has some advantages (but as a cons it'll also require more space), so I'll try to explain this in some proposals. Obviously if someone has an idea for different/better approaches I'd like to hear that.

Yeah. I think that the m

[2016-07-11 02:18] onlyjob opened #2898 "unsupported architectures?"
Recent release of _rkt_ [FTBFS on several architectures in Debian](https://buildd.debian.org/status/package.php?p=rkt) as follows:

    configure: error: *** unsupported host architecture specified

Shouldn't it be a warning instead of fatal error?
Is there a strong enough reason to abort build on architectures where all build dependencies are satisfied? In any case is seems utterly wrong to exclu

[2016-07-11 03:03] Andrei-Pozolotin commented on #2044
any chance to increase priority for:
  - [ ] Support DNS results from CNI ?

[2016-07-11 06:40] s-urbaniak commented on #2893
Possibly introduced by https://github.com/coreos/rkt/pull/2839

[2016-07-11 06:41] s-urbaniak commented on #2893
@alepuccetti do you mind to have a look?

[2016-07-11 07:35] s-urbaniak commented on #2893
@alepuccetti I fixed it locally ... was too curious :-D

[2016-07-11 07:36] alepuccetti commented on #2893
@s-urbaniak I was looking into it, which was the problem?

[2016-07-11 07:38] s-urbaniak commented on #2893
@alepuccetti The env var values contain a newline `\n` character

[2016-07-11 08:21] s-urbaniak commented on #2893
As discussed OOB with @alepuccetti the fix is be a straight-forward:
[code]
in https://github.com/coreos/rkt/blob/master/stage1/enterexec/enterexec.c#L193

The fix PR will also include a functional test ;-)

[2016-07-11 08:30] alepuccetti commented on #2893
I am writing the test now

[2016-07-11 08:31] jonboulle commented on #2893
Presumably we're going to need a 0.10.1 for this

[2016-07-11 10:35] squeed commented on #2329
We're divergent from the spec in a few ways:

This is correct

We don't do this. Instead, rkt quits with an error.

In the case of a directory, no warning is given.

`rkt` does not do this. It mounts the directory.

[2016-07-11 11:22] Quentin-M opened #2899 "gc: too many files opened"
**Environment**

[code]

[code]

**What did you do?**

```rkt gc --grace-period=0```

**What did you expect to see?**

https://github.com/coreos/rkt/blob/57167291fa8bb4c3d6e6f4e9bade645399794dff/rkt/image_gc.go#L51 closing the store and thus releasing the storeLock.

**What did you see instead?**

```gc: cannot open store: too many open files```

[2016-07-11 11:24] f0 commented on #2894
Hi,

i see the same with rkt 1.10

[code]

if i run the container without systemd, it works

regards f0

[2016-07-11 12:11] sgotti commented on #2899
Did you run`rkt gc` or `rkt image gc`? Because image_gc.go is used by `rkt image gc` not `rkt gc`. I can't guess it from the output since both commands prefix logs with the latest subcommand (`gc`).

If it's the former then something is leaking available filedescriptors (for example a defer in a for loop) but I'm not sure it's the store itself but probably something else exhausting user available

[2016-07-11 12:14] Quentin-M commented on #2899
Sorry for the confusion - I didn't read enough. I ran `rkt gc`. Yes, I had a lot of pods to gc (kubernetes retries after errors).

[2016-07-11 12:15] sgotti opened #2900 "rkt upgrade release notes/docs."
Probably the release notes (or a doc to point to from the release notes) should add some steps related to rkt upgrading.

By default rkt upgrade should work without required operations but in some cases I can see that some steps are required:
- When using the api-service it'll be better to stop it and start the latest version.
- If the store needs to do some migration it has to take an exclusive l

[2016-07-11 12:31] iaguis commented on #2894
It's not a real problem since systemd will clean up the cgroups anyway. The errors appear because running rm tries to clean up the cgroups but the unit file is still running, so it can't be cleaned up.

We could detect if we're running in a systemd unit and not clean the cgroups in that case but what if the unit running `rm` is different from the one running the rkt pod?

I wonder if we should jus

[2016-07-11 12:32] iaguis commented on #2894
What do you mean with "starting the systemd unit always fails"? It seems like a different problem.

[2016-07-11 12:46] f0 commented on #2894
@iaguis   correct, was another problem

[2016-07-11 12:47] iaguis commented on #2899
Maybe it's https://github.com/coreos/rkt/blob/57167291fa8bb4c3d6e6f4e9bade645399794dff/rkt/gc.go#L117 and https://github.com/coreos/rkt/blob/57167291fa8bb4c3d6e6f4e9bade645399794dff/rkt/gc.go#L175?

[2016-07-11 13:00] iaguis commented on #2899
I added at sleep at the end of `runGC()` and I see a lot of db file descriptors open and some `overlay-prepared` ones (?):

[code]

[2016-07-11 13:04] iaguis commented on #2899
Oh, it seems we never close the db lock :S

https://github.com/coreos/rkt/blob/e73846fca61cd758c7fe81c821da80b948b269db/store/store.go#L231

[2016-07-11 13:10] alepuccetti opened #2905 "Implement test for newline char at the end of environment variables"
The test should check if the environment variable is stored with at the and newline character `\n` before the end of line`\0`.

Relative to https://github.com/coreos/rkt/pull/2901, https://github.com/coreos/rkt/pull/2839, and https://github.com/coreos/rkt/issues/2893

[2016-07-11 14:26] Andrei-Pozolotin commented on #2895
@alban can you please:
* create location for this in `cni` or `rkt`,
* create dummy / placeholder plugin files,
* include new resources in the package / build

so I can send PR for cni bash bridge+dhcp plugin

[2016-07-11 14:42] sgotti commented on #2879
Yeah, basically I'm not sure which is the best way to define what image format/type and distribution to use, so I'm not sure if just a string (with specific scheme) will be enough for both. Will open a new issue on this.

IMHO ImageFormat sound strange to define both format and distribution but I'm not sure about a better name.

[2016-07-11 14:47] #2899 closed

[2016-07-11 14:48] iaguis commented on #2893
Are you from the past? :P

[2016-07-11 14:58] alban commented on #1757
I tested https://github.com/systemd/systemd/pull/3589 (cgroupns in nspawn) with:
[code]
and [some patches to fix LD_LIBRARY_PATH](https://gist.github.com/alban/4f1f5a2b49e18677f118a74de64067db).

At a first glance, rkt starts fine but actually, there are several issues:
- /proc/$pid/cgroup and /sys/fs/cgroup are desynchronized: they show views from different cgroup namespaces. This is because:
 -

[2016-07-11 15:10] jonboulle commented on #2893
:crying_cat_face:

[2016-07-11 16:25] squeed commented on #2794
Should be pretty simple. From a "ui" perspective, do we to always open the systemd-provided fds, or should that be a cli option?

[2016-07-11 16:26] squeed commented on #2794
Also, when operating with a systemd-provided FD, I assume we should not open the TCP socket?

[2016-07-11 16:36] glevand commented on #2898
I think the configure check can be changed to check if RKT_STAGE1_FLAVORS does not include ```kvm``` or ```coreos``` and if so, then set GOARCH to the correct value and set RKT_ACI_ARCH to something invalid.

[2016-07-11 16:38] lucab commented on #2900
I was wondering if we should make api-service SIGHUP-able in order to reload the store (and temporarily release the lock), but then I realized that it could end up in a situation where it doesn't understand store schema anymore.

[2016-07-11 16:51] lucab commented on #2898
This came as a by-product of arm64 support, where there was a need to bridge between golang and appc-spec usage of different labels (aarch64/arm64).

As not much changed compared to before (we still officially support amd64 and arm64, but acknowledge it should run everywhere else too) I think it is ok to introduce those kind of label bridging where we know about it (eg. x86) and turn the default b

[2016-07-11 16:58] glevand commented on #2898
@onlyjob I see that MIPS is failing also.  MIPS is now supported by the go compiler, so could you get that fixed, or at least create a Debian bug report for it?

[code]

@lucab I'll make a patch for configure.ac.

[2016-07-11 17:37] yifan-gu commented on #2879
@sgotti Or ImageSpec. But that will break current API.

[2016-07-11 18:19] euank commented on #2879
If we expect this API to be used by anything other than rktnetes, we shouldn't add and deprecate things based on its needs.

However, if we expect this API to be a rktnetes specific api, we should develop it in a separate repository (probably a k8s one) and feel free to do whatever adding/removing as is needed in the k8s code, and tie it closely to k8s releases.

Are we trying to make:

1. A gener

[2016-07-11 19:19] f0 commented on #1765
@iaguis @alban @jonboulle

can we reopen this bug please ,its a regression in 1.9.1 / 1.10

[2016-07-11 20:20] #2893 closed

[2016-07-11 21:21] steveeJ commented on #1765
@f0 are you saying it's a regression in 1.10 or in 1.9.1? It's working fine for me on 1.9.1.

[code]
[code]

[2016-07-11 21:40] Andrei-Pozolotin opened #2908 "RFE: rkt plugin framework"
1) it seems there are a lot conversations about  dns/resolv/hosts
https://github.com/coreos/rkt/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20dns%20
https://github.com/coreos/rkt/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20resolv
https://github.com/coreos/rkt/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20hosts
getting nowhere:
https://github.com/coreos/rkt/issues/2044

2) we suggest to

[2016-07-12 05:17] f0 commented on #1765
@steveeJ  yes  its correct set but it does not work as expected. I have the same behavior as before, the system is set up, but only if i ping from inside the container i can connect from the outside.

So what i the difference ? My network setup is:

[code]
The proxy arp is set ontop of the  vlan interface

[2016-07-12 08:28] lucab commented on #2898
@glevand Debian bug for golang MIPS support is at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=815998

[2016-07-12 08:48] s-urbaniak opened #2912 "make protobuf fails"
as reported by @yifan-gu

[code]

[2016-07-12 09:49] #2892 closed

[2016-07-12 10:10] alban commented on #2158
One possible use case for the documentation: https://github.com/blablacar/dgr/issues/170

/cc @nyodas

[2016-07-12 10:42] alban commented on #2894
What about checking that the current process (`getpid()`) is in the cgroup that we are trying to delete?

[2016-07-12 11:37] iaguis commented on #2894
That sounds good! In that case we can skip cleaning up cgroups assuming we're in the same systemd unit. I'll do some quick tests.

Thanks @alban!

[2016-07-12 13:17] lucab commented on #2329
Personal 2¢ on this:
 1. Already correct
 2. I'm not sure how well this could play with something like `readOnlyRootFS: true`, so I guess this could stay as-is until we have an actual use-case for it. We should add a short paragraph in the [run subcommand doc](https://github.com/coreos/rkt/blob/master/Documentation/subcommands/run.md#mount-volumes-into-a-pod)
 3. It makes sense to print a warning

[2016-07-12 14:40] #2894 closed

[2016-07-12 15:02] jonboulle commented on #2329
since those are all SHOULDs, I'm happy for rkt to do whatever y'all think is best from our perspective.

[2016-07-12 15:04] alban commented on #2794
I am not sure. I see that some services detects it automatically with $LISTEN_FDS but other services like dbus use `/usr/bin/dbus-daemon --address=systemd:` as a magic address that will use $LISTEN_FDS.

Correct, the fd we get from systemd is already the passive socket listening on the specified port. So we cannot call listen() a second time.

[2016-07-12 15:23] #2866 closed

[2016-07-12 16:04] iaguis commented on #1304
Patches were sent for overlay+SELinux to the kernel mailing list https://lkml.org/lkml/2016/7/5/409 :tada:

[2016-07-12 16:48] iaguis commented on #2794
That SGTM

[2016-07-12 21:58] sgotti opened #2920 "rkt version upgrade functional tests."
From https://github.com/coreos/rkt/pull/2896#issuecomment-231696814

Functional tests should also test that the rkt upgrade to a newer release doesn't triggers problems. Some examples:

* prepared pods with a previous version can run with the new one
* gc of pods executed with a previous version works with the new one
* store migration works
* tree store migration works and doesn't impact the pods

[2016-07-13 01:29] brianredbeard opened #2921 "Provide machine parsable output from rkt commands"
As rkt does not provide any direct API mechanism for the introspection of containers it would be helpful to have a machine parseable format.  Currently the output changes on a container by container basis for the purposes of readability (https://github.com/coreos/rkt/blob/master/rkt/list.go#L152) and it would be helpful to have something more on the order of a data structure.

The ramifications ca

[2016-07-13 01:29] brianredbeard commented on #2921
cc @tschuy

[2016-07-13 01:34] yifan-gu commented on #2921
@brianredbeard Can you use the [`rkt api-service`](https://github.com/coreos/rkt/blob/master/Documentation/subcommands/api-service.md)? It's a gRPC service that provides such introspection APIs.

[2016-07-13 01:43] Andrei-Pozolotin commented on #2893
works, thank you

[2016-07-13 06:00] onlyjob commented on #2898
Don't count on me: I have neither skills nor time to produce valid fix to this problem. :(

[2016-07-13 08:42] Quentin-M commented on #2899
Thanks!

[2016-07-13 08:45] s-urbaniak opened #2922 "remove isReallyNil"
https://github.com/coreos/rkt/blob/master/rkt/image/common.go#L90 should not be necessary, and uses reflection.

We should remove this method, find the places where it is used, and implement zero-value behavior instead.

[2016-07-13 08:54] jellonek commented on #1765
@steveeJ this setting is set inside of container, so probably it also should be set on outside counter part of device. IDK, as I leaved intel - I can not check this on my limited home setup.

[2016-07-13 08:55] jellonek commented on #1765
@f0 yes, i think that we should reopen this issue.

[2016-07-13 08:58] steveeJ commented on #1765
@f0 Please file a new issue with a detailed setup description so I can reproduce the issue.

[2016-07-13 09:14] jellonek commented on #2791
@lukasredynk second solution is what I had in mind and what I wanted to implement (but personal things putted me off for a quite long time).

[2016-07-13 10:23] #2898 closed

[2016-07-13 11:05] krnowak commented on #2922
I wrote it mostly to handle the case as described in one comment in this function - https://github.com/coreos/rkt/blob/master/rkt/image/common.go#L109, because if I remember correctly this code fails:
[code]

[2016-07-13 11:10] krnowak commented on #2922
Hm, my comment may be unclear a bit. An interface is not nil if it has an underlying type (which is `*os.File` in the example above), so doing the following will call `os.File.Close()` on a `nil` file.
[code]

[2016-07-13 11:17] f0 commented on #2276
@sgotti

as @n0rad says  this does redownload alle dependencies each time, and without --no-store it uses the local version  as latest.

Testet with rkt 1.10.1

[2016-07-13 11:27] jonboulle commented on #2921
Right, this is why api-service exists.

But we could still probably tweak the output in these cases or make some
guarantees around it to make it more explicit that it's safe to be parsed.

On 13 July 2016 at 03:34, Yifan Gu <notifications@github.com> wrote:

[2016-07-13 11:29] sgotti commented on #2276
@f0 offband on irc #rtk-dev we talked about the docker:// images, are you talking about the same issue or you experienced the same with appc image names?

[2016-07-13 11:37] s-urbaniak commented on #2922
@krnowak this particular example doesn't panic (https://play.golang.org/p/yu9N3KiWwz), but only because *os.File is nil-safe (https://golang.org/src/os/file_unix.go#L129), but it could panic if pointer receivers implementing this interface are not nil-aware.

I understand the motivation behind the method, but it is not needed generally, if i.e. `nopCloser` implementations are used.

[2016-07-13 12:10] sgotti commented on #2276
@f0 sorry I lost the `--no-store` options.

So the basic problem is that `--no-store` will disable the store for all the fetching and so also for dependencies.

This can happen with an image name string but also with an http url or a file providing an aci with dependencies (so it's not related to the latest behavior).

An option will be for example to just disable store for the provided image but

[2016-07-13 12:15] sgotti commented on #2276
Another idea:

since in the appc/spec golang implementation, when no version label is provided, automatically adds a discovery label `version =  latest` (that's not a behavior explicitly defined in the appc spec (appc/spec#575) but, with the current spec state, it's an useful/needed behavior).

Given that, for the above point, a missing version label is already treated as a special case, an option

[2016-07-13 12:15] jonboulle commented on #2877
If mtime is not sufficient, hashing might still be more efficient than json
deserialising.

On 8 July 2016 at 22:59, Yifan Gu <notifications@github.com> wrote:

[2016-07-13 13:03] #2506 closed

[2016-07-13 13:11] s-urbaniak commented on #2158
This feature is currently blocked by https://github.com/coreos/rkt/issues/2874, because currently it is not possible to mount `/sys/fs/cgroup` in the pod.

[2016-07-13 13:24] alban commented on #2158
Instead of bind-mounting `/sys/fs/cgroup` from the host into the outer rkt, I think that a better way would be to run a shell script in the outer rkt that mount manually the cgroup filesystems (new mounts instead of bind-mounts).

The benefits would be:
- it would not break when cgroup namespaces become a reality (coming up with https://github.com/systemd/systemd/pull/3589 and https://github.com/c

[2016-07-13 14:19] sgotti opened #2925 "Support for multiple image formats and distributions"
Currently the accepted rkt image string cover two kind of concepts: image format and distribution.

Distribution is sometime seen as just the transport but IMHO I tend to consider it different (for example appc/spec uses discovery + http or other transports, a docker registry has a specific API backed by http). So I don't see it just as a transport but how I can fetch an image starting with an ima

[2016-07-13 17:30] f0 commented on #2276
@sgotti  i see this with aci's too, but only when using discovery if i use
/opt/rkt/rkt fetch --insecure-options=all http://webserver//rkt/test.aci, it only downloads the image again if  the image changes

[2016-07-13 18:44] bwalex commented on #2252
So I had a brief look at this, and I think the bigger issue (possibly?) is that this is a limitation of the appc spec, not so much (just) rkt. Is that something that can likely be changed in the appc spec?

[2016-07-13 21:53] cancan101 commented on #2018
I am seeing the same issue where I can ping an IP but am unable to perform an `nslookup`.

I did run:
[code]

[2016-07-13 22:04] steveeJ commented on #2018
@cancan101 Please create a new issue for your instance of this problem. Even though it might look similar it's likely to have a different origin. Feel free to mention me in the new issue!

[2016-07-13 22:08] cancan101 opened #2928 "DNS Not Working"
/CC @steveeJ repost of: https://github.com/coreos/rkt/issues/2018#issuecomment-232498241

**Environment**

[code]

**What did you do?**
[code]

**What did you expect to see?**
[code]

**What did you see instead?**
[code]

I have run
[code]

[2016-07-13 22:09] steveeJ commented on #2252
@bwalex In addition to what appc/spec is about, rkt can always add new command line flags to enhance the featureset of the runtime. Therefore we could e.g. add a parameter to the `--port` argument to tie it to a specific CNI network name.

[2016-07-14 00:07] euank commented on #2928
Does the `resolv.conf` file exist? Based on #2044 and the [dns-support](https://github.com/coreos/rkt/blob/b4633f30c8b7cacd08d375510d65b7307f81564a/Documentation/networking/dns.md#dns-support) doc you'll likely need to add a `--dns` flag or bindmount through your `resolv.conf`.

[2016-07-14 00:09] cancan101 commented on #2928
Adding `--dns 8.8.8.8` solved the problem.

[2016-07-14 00:15] cancan101 opened #2929 "rkt running rkt"
is it possible to use `rkt` from within a container?

**Environment**

Inside the container:
[code]

outside:
[code]

**What did you do?**

Ran:
[code]
and then tried to run from within (after installing rkt):
[code]

**What did you expect to see?**
`ping` running

**What did you see instead?**
[code]

[2016-07-14 00:19] cancan101 commented on #2928
Ok. That fix does not seem to work when using stage1:
[code]
vs
[code]

[2016-07-14 04:49] s-urbaniak commented on #2929
Thanks for reporting! I am in the middle of finding out, if/how rkt currently supports this mode of operation, and will add documentation in the next release.

Closing in favor of #2158

[2016-07-14 04:49] #2929 closed

[2016-07-14 07:13] elimisteve opened #2931 "go get'ing rkt fails"
**Environment**

[code]

**What did you do?**

I ran

    $ go get -u -v github.com/coreos/rocket/rkt

**What did you expect to see?**

Go package URLs, then no output/exit 0/successful install

**What did you see instead?**

This:

[code]

[2016-07-14 07:14] elimisteve commented on #2931
[code]

[2016-07-14 07:23] tmrts commented on #2843
@euank @yifan-gu notifications sound useful for rktnetes at a first glance

[2016-07-14 08:51] sgotti commented on #2931
@elimisteve

The correct command is `go get -u -v github.com/coreos/rkt`

`github.com/coreos/rocket` was the original repository (some years ago) before `rocket -> rkt` renaming. Github created a link from it to the new repository so it's go gettable using the old repisitory but will create the issues you encountered due to the different package imports.

BTW go getting `github.com/coreos/rkt/rkt`

[2016-07-14 08:59] iaguis commented on #2928
It seems https://github.com/coreos/rkt/pull/2599 didn't actually fix https://github.com/coreos/rkt/issues/2141, it just removed the error.

For it to work we need to bind-mount `stage1/rootfs/etc/rkt-resolv.conf` to `stage1/rootfs/opt/stage2/$APP/etc/resolv.conf`.

[2016-07-14 09:13] lucab commented on #2931
@elimisteve are you following some guide? If so, can you please provide its URL (as we may need to update it)?

[2016-07-14 09:17] #2435 closed

[2016-07-14 09:58] s-urbaniak commented on #2931
@elimisteve rkt currently is not go get'able. If you want to compile rkt yourself, I recommend to follow https://github.com/coreos/rkt/blob/master/Documentation/devel/quickstart-dev.md.

[2016-07-14 10:29] squeed commented on #2329
I've merged all the spec tests that currently pass. Do we want to keep this issue (or spin off another one) to make any changes?

[2016-07-14 10:33] jonboulle commented on #2329
@squeed part of the motivation here was checking that the behaviour is consistent across the stage1s; if you think that's adequately taken care of I'm happy for this to be closed out

[2016-07-14 10:33] tmrts commented on #1193
Filed the issue in systemd to help rkt facilitate this feature [systemd#3726](https://github.com/systemd/systemd/issues/3726)

[2016-07-14 10:43] tmrts opened #2933 "Garbage collection during the pod execution"
With our move towards exposing application level operations and dynamic pods (see #2375 #2867 #2932), we should consider whether we need to modify our garbage collection model to be run during the execution.

Introduction of app-level operations means that we allow users to run pets instead of cattles, which are basically long-running pods, and when applications are ejected/removed out of a pod, a

[2016-07-14 11:18] lucab commented on #2925
A bunch of random thoughts on this:
 1) the `+` scheme format looks clean, but it can lead to a big matrix of combinations which are hard to document/parse and may confuse other tools (what's a `file+aci://` or a `http+oci://`?)
 2) appc should perhaps gets its own `appc://` scheme noting how to specify discovery properties (like os and arch) and schema syntax (maybe we already have this, but I di

[2016-07-14 12:19] s-urbaniak commented on #2925
My thoughts:

I do resonate with the `format+protocol` proposal, and agree with @lucab that this matrix could get big, but it already exists naturally.

To simplify things we could go with sane defaults:
- `aci://` defaults to `aci+http(s)://` (`aci` being shorter than `appc`?)
- `docker://`: defaults to `dockerv1+http(s)`/`dockerv2+http(s)` (autodetected)
- `oci://`: defaults to `oci+http(s)://`

[2016-07-14 13:46] sgotti commented on #2925
@lucab @s-urbaniak thanks for jumping in!

definitely.

appc:// or aci:// will mean `format: aci, distribution: discovery` .

Yeah, what I'm calling `appc image string` is just this. It's implemented in the appc/spec go implementation, widely used everywhere but just not documented: appc/spec#479

So the way to implement this for fetching will be to provide 2 per app command line options (and some

[2016-07-14 14:23] squeed commented on #2861
I did some quick investigation. `/etc/resolv.conf` is not being copied due to `--net=host`. Instead, `/etc/rkt-resolv.conf` being created in the stage1's rootfs because you are invoking `rkt run --dns...`. That file is then bind-mounted on to `/etc/resolv.conf` in the app's rootfs.

If you don't pass `--dns` to `rkt run`, then you are free to treat `/etc/resolv.conf` as any other pod / application

[2016-07-14 15:06] squeed commented on #2794
FWIW, the metadata service socket activation doesn't really make sense. The metadata service has a split-horizon, and presents different services on its TCP and Unix sockets. It only accepts the Unix socket from systemd - it opens its own TCP socket.

This strikes me as confusing.

[2016-07-14 15:10] Quentin-M commented on #2861
Relevant:
- [kubelet/generateRunCommand](https://github.com/kubernetes/kubernetes/blob/50172148e40cc2168d34172bb38137f8b34db7dd/pkg/kubelet/rkt/rkt.go#L946)
- [kubelet/makeHostNetworkMount](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/rkt/rkt.go#L654)

[2016-07-14 17:13] #2188 closed

[2016-07-15 02:20] elimisteve commented on #2931
@lucab Yes I thought I'd remembered that one could `go get` rkt so I searched for that and found https://coreos.com/blog/rocket-and-appc-0.3.1/ , which says to run the command I ran. I assumed that those instructions would still work.

[2016-07-15 02:35] elimisteve commented on #2931
@sgotti `go get -u -v github.com/coreos/rkt` error:

@sgotti @s-urbaniak `go get -u -v github.com/coreos/rkt/rkt` completed without error. But that's not exactly the same `rkt` as I'd end up with after cloning this repo and running `sudo ./scripts/install-rkt.sh` to install on Ubuntu? Thanks.

[2016-07-15 05:43] s-urbaniak commented on #2931
@elimisteve invoking `install-rkt.sh` will give you much more, than just `go get`, it will:

- compile rkt using autotools
- build all stage1 images (coreos, fly, kvm)
- setup all necessary rkt system directories
- install man pages
- install bash completion
- Create a deb package using checkinstall, so you can easily `apt-get remove rkt`

So there's quite a few more things it does. Sorry for my m

[2016-07-15 06:03] s-urbaniak commented on #2931
slight correction to my statement above, `install-rkt.sh` will download the latest release binary, not compile rkt ;-)

[2016-07-15 06:58] tmrts commented on #602
This use-case is being worked on in #2932

[2016-07-15 07:05] tmrts commented on #572
Should we have a new discussion around this issue? @jonboulle @alban @s-urbaniak @lucab

[2016-07-15 08:09] elimisteve commented on #2931
@s-urbaniak Gotcha; thanks for clarifying!

[2016-07-15 08:09] #2931 closed

[2016-07-15 09:10] #2794 closed

[2016-07-15 09:15] alban commented on #1727
The pending kernel patches for SELinux + Overlayfs:
[[RFC PATCH 0/9][V3] Overlayfs SELinux Support](https://lkml.org/lkml/2016/7/13/545)

/cc @mjg59

[2016-07-15 10:25] squeed commented on #2622
We probably should spin up a separate issue for cleaning up rkt's exit codes - given that `rkt run` passes the underlying app's exit code, we should stop using 1. That means probably following SSH's convention of using 255 for rkt-level failure (or maybe 254).

[2016-07-15 10:36] tmrts opened #2935 "Accepting cgroup parents to create a pod"
# Feature
Allow users to pass parents for pod cgroups so that they can implement their own resource limiter logic on top of rkt.

# Motivation

Cluster scheduling/orchestration systems implement mechanisms to ensure high cluster utilization. One of these mechanisms is overcommitting resources. If users specify limits for every pod, cluster utilization is poor. Pods often don’t use all the resource

[2016-07-15 10:37] jonboulle commented on #2935
Whoever is invoking rkt can start it in whatever cgroups they like - what else is needed?

[2016-07-15 10:55] alban commented on #572
When this issue was filed, rkt didn't have a build mechanism to build different flavors of stage1. Since then, new flavors were added:
- the "src" flavor: https://github.com/coreos/rkt/pull/634
- `./configure --with-stage1-flavors=...`: https://github.com/coreos/rkt/pull/1100
- the "lkvm" flavor: https://github.com/coreos/rkt/pull/1174
- the "fly" flavor: https://github.com/coreos/rkt/pull/1833

T

[2016-07-15 11:09] alban commented on #2935
When rkt is started as a systemd service, it can be in any cgroup specified in the `.service` file (specified with `Slice=` and the unit name). When rkt is started without a systemd unit, the cgroup where it ends up cannot be controlled.

The details are in:
https://github.com/coreos/rkt/blob/master/Documentation/devel/cgroups.md

I don't think that Kubernetes or any other scheduling/orchestration

[2016-07-15 11:57] tmrts commented on #572
@alban I just wanted to confirm that our view hasn't changed and close this issue if it hasn't

[2016-07-15 12:01] jonboulle commented on #572
We can reopen if needed.

[2016-07-15 12:01] #572 closed

[2016-07-15 12:54] jonboulle commented on #2375
@tmrts how about closing this one and creating a new issue that captures the current state of CRI and starts to tease out how we are going to implement the different parts of it

[2016-07-15 12:54] jonboulle commented on #2375
kubernetes/kubernetes#28789

[2016-07-15 14:38] squeed commented on #2329
I think we should probably open a v.whenever issue for the file-masking warning, then close this. Unless anyone objects, I'll do this.

[2016-07-15 14:40] tmrts commented on #2375
@jonboulle on it I'll capture this discussion and open issues

[2016-07-15 14:45] iaguis commented on #2874
Some files inside `/sys` are still masked because of https://github.com/coreos/rkt/pull/2683

We should find a way to disable those protections for some use-cases like this one.

[2016-07-15 14:47] Quentin-M commented on #2874
And we should be able to toggle this from a kubernetes manifest.

[2016-07-15 15:30] #2912 closed

[2016-07-15 15:45] rhatdan commented on #1727
Yes, it currently looks like this will land in 4.9 kernel.

[2016-07-15 15:48] euank commented on #2935
:+1: to @jonboulle's comment, xref https://github.com/kubernetes/kubernetes/issues/27204 for some discussion of this already.
I'm not convinced rkt needs to, nor should make, any changes here.

@alban For better or worse, Kubernetes is going to handle this by managing a cgroup and duplicating some such information (e.g. memory / cpu) for vm flavours.

Mind clarifying your second point though? If t

[2016-07-15 21:56] mtanski opened #2937 "rkt fetch doesn't ever fetch updated image if download locally"
**Environment**

[code]

Ubuntu 14.04

**What did you do?**

Trying to download an updated image using rkt fetch for a quay.io repo with a docker image. We label our images with stuff like a format like ${image}:${env} where env can be like prod, integration, dev. That way when somebody promotes an image (using the quay.io UI) and a period update task is run, the nodes update to the latest version

[2016-07-15 23:35] Andrei-Pozolotin commented on #2937
+1

[2016-07-15 23:51] Andrei-Pozolotin opened #2939 "RFE: rkt fetch --discover"
1) `rkt fetch` discovery mechanisms resolves uri, i.e.:
[code]
2) the problem arises when trying to match `rkt run` with `rkt image rm`:
[code]
3) currently, it seems there is no easy way to obtain fetch resolution result

4) so we suggest to add `rkt fetch --discover` option that would ouput discovery result only
without actual image download, etc.

[2016-07-16 05:26] sgotti commented on #2939
This is something that always bothered me.

The primary cause is that you can fetch in multiple ways (appc image string, file, http, docker URL) but you interact with the store via image hash or image name and labels from the stored image manifest. This also causing other issues and complexities.

For oci and docker v2 the final solution will happen when rkt will have native integration since the

[2016-07-16 07:32] sgotti commented on #2937
Thanks for reporting this. It was also discussed on irc some days ago.

I can see two primary issues:

* Now docker registry images are converted to a squashed ACI using docker2aci. When rkt will support native oci/dockerv2 images it'll be able to store the different blobs instead of a single converted ACI and so fetch only the new blobs and update the ref to the new manifest. To fix this before t

[2016-07-16 10:10] alban commented on #2935
@euank I was indeed referring to application-level limits. If Kubernetes only touches pod-level limits, that should be fine.

[2016-07-16 15:58] Andrei-Pozolotin commented on #2939
@sgotti got it, thank you

[2016-07-17 02:00] Andrei-Pozolotin commented on #2925
can you please also kill this
[code]
in favor of
[code]

[2016-07-17 15:03] lucab commented on #2371
Fixed by https://github.com/coreos/rkt/pull/2771.

[2016-07-17 15:03] #2371 closed

[2016-07-18 04:53] lorddaedra opened #2940 "docs: add example of using taskset to restrict CPUs"
I'm looking for way to guarantee some CPU cores to project (project is group of containers (I use .service files and run them on single server) )  and  some shared CPU cores to all projects. It's useful for managed hosting (customer select how much dedicated cores he needs and pay for them, shared cores he get as free bonus) etc.

For example, we have 6-core CPU.

0 core we dedicate to system cont

[2016-07-18 04:58] lorddaedra commented on #2940
how Docker implement this: https://docs.docker.com/engine/reference/run/#/runtime-constraints-on-resources

[2016-07-18 06:47] s-urbaniak commented on #2940
You are right, rkt does not implement this feature. Since rkt does not run as a daemon (you run the pod/container directly), this also does not need to be implemented by rkt itself.

To achieve simple CPU affinity as described in your first use case, I'd simply go with `taskset`. I just wrote a little `stress` utility saturating all CPU cores it finds on the system and I can easily tame it by pinn

[2016-07-18 06:47] s-urbaniak commented on #2940
You are right, rkt does not implement this feature. Since rkt does not run as a daemon (you run the pod/container directly), this also does not need to be implemented by rkt itself.

To achieve simple CPU affinity as described in your first use case, I'd simply go with `taskset`. I just wrote a little `stress` utility saturating all CPU cores it finds on the system and I can easily tame it by pinn

[2016-07-18 06:49] s-urbaniak commented on #2940
PS: I'll add a sample service unit file, and the above `taskset` example in the rkt documentation for the next release.

[2016-07-18 07:52] squeed commented on #2044
As for populating `/etc/resolv.conf` without user input, this would be a backwards-compatability breaking change. I propose adding an option (probably `--host-dns` or `--dns=host`) which will read-only bind-mount the host's `/etc/resolv.conf`.

[2016-07-18 11:25] pskrzyns commented on #2417
@tmrts assign it to me, i will be writing documentation this week

[2016-07-18 11:44] Quentin-M commented on #2861
Hi,

Fixed by https://github.com/kubernetes/kubernetes/pull/29024.

[2016-07-18 11:44] #2861 closed

[2016-07-18 13:46] lorddaedra commented on #2940
Thank you! May I also ask, if I will use Kubernetes in future, how to combine it with Rkt and taskset?..

[2016-07-18 13:49] lorddaedra commented on #2940
I've read this article, nothing about dedicated to pods/containers cores too https://github.com/kubernetes/kubernetes/blob/master/docs/design/resources.md#processor-cycles

[2016-07-18 14:15] #1197 closed

[2016-07-18 14:22] alban commented on #2843
Things to check when taking future v231:
- [ ] With some luck, we will also get https://github.com/systemd/systemd/pull/3685 in v231.
- [ ] We need to check if https://github.com/systemd/systemd/pull/3589 brings any regressions (cf https://github.com/coreos/rkt/issues/1757#issuecomment-231760090).

[2016-07-18 14:50] s-urbaniak commented on #2940
@lorddaedra In Kubernetes, the canonical way would be simply to use resource requests/limits, see http://kubernetes.io/docs/admin/limitrange/. It should "just work" with ;-) If you want to try rkt+Kubernetes=rktnetes on your machine, have a look at https://github.com/coreos/rktnetes-workshop.

@yifan-gu comments regarding any requests/limits in rktnetes?

[2016-07-18 15:29] mtanski commented on #2937
@sgotti Thanks. I would say that having a exit status or some kind of way to tell if fetch updated the image would also be a "must have" for admins scripting their rkt workflows.

[2016-07-18 16:51] lorddaedra commented on #2940
Thanks!

Also I know about nice site with labs https://www.katacoda.com/learn there are some labs related with Kubernetes & Rkt there...

If I understand correctly, this dedicated cores (via `taskset`) can be used as replacement for CPU hard limits (I mean CPU CFS quota). And CPU shares are useful as way to split shared cores between containers (it can be useful at least for 5 core in my first exa

[2016-07-18 17:00] squeed commented on #2044
I am currently working on CNI-DNS. A question: what do we do if multiple network plugins return DNS information? Or, if stage0 was supplied `--dns`?

[2016-07-18 19:43] sgotti commented on #2925
@lucab provided OOB a lot of great suggestions and I started a POC for a ref and cas based store for multiple image types (appc ACI, OCI image) that will require this.

I think that a good solution will be:

* Use a single string will all the required information
* Use an internal URL based representation
* Put in the scheme of this URL representation the distribution
* Image type is different sin

[2016-07-18 20:09] Andrei-Pozolotin commented on #2044
re: `multiple network plugins return DNS information?`
1) make it configurable
2) support different behaviors
* `--dns=cni:use-first`
* `--dns=cni:use-last`
* `--dns=cni:merge-all`

[2016-07-18 20:12] yifan-gu opened #2943 "Test TestNetDefaultRestrictedConnectivity fails"
Capture https://github.com/coreos/rkt/pull/2887#issuecomment-233443046

Some of the jenkins jobs on fedora-22/24 and debian-8 are failing the test.

[code]

cc @steveeJ

[2016-07-19 06:22] alepuccetti commented on #2857
Related to https://github.com/coreos/rkt/issues/2843

[2016-07-19 09:13] #2798 closed

[2016-07-19 09:40] monder commented on #2044
I thought that cni order is not guaranteed. And there are some edge cases with `default` and `host` networks. I suggest csv as wit `--net` itself.
[code]

[2016-07-19 09:43] #2905 closed

[2016-07-19 10:21] sgotti commented on #2925
After talking with @s-urbaniak the above comment needs to be updated. Before updating it I'm going to implement the proposal to see if all fits well or directly discuss it in the upcoming PR.

[2016-07-19 11:23] s-urbaniak commented on #2158
Having a working rkt-in-rkt story is unfortunately a pretty long story. We can start a "privileged" pod using:
[code]

After further experimentation, and as @alban explained above, the general strategy is to establish new cgroups mounts in this "privileged outer pod. But currently we get this:
[code]

This is because `/sys/fs` is marked as a [inaccessible directory](https://www.freedesktop.org/sof

[2016-07-19 11:45] Andrei-Pozolotin commented on #2044
@monder +1

[2016-07-19 12:00] Quentin-M commented on #2158
Related to #2874

[2016-07-19 14:15] Andrei-Pozolotin opened #2946 "RFE: document proxy setup"
see
https://github.com/appc/acbuild/issues/235

[2016-07-19 14:38] Andrei-Pozolotin opened #2947 "RFE: rkt fetch performance"
1) caching issue aside
https://github.com/coreos/rkt/issues/2590
https://github.com/coreos/rkt/issues/2925
https://github.com/appc/acbuild/issues/235

2) `rkt fetch --no-store` in our tests is slower then analogous docker invocation, it seems due to single-threaded compression pipeline (?)

3) if so, we suggest to switch `rkt fetch`, `acbuild`, etc to parallel (de)compression, i.e.:
http://compres

[2016-07-19 16:13] lucab commented on #2947
Do you have profiling traces pointing to this culprit or is it just a guess?

[2016-07-19 17:18] alban commented on #2158
It works with the following:

- cgroup.sh
[code]

- `rkt-in-rkt`
[code]

With the following steps:
- Run `rkt-in-rkt`, and inside that container:
 - Run `cgroup.sh`
 - Run `rkt run --net=none --debug --insecure-options=image --interactive docker://busybox --exec=/bin/sh`

[2016-07-19 17:18] iaguis commented on #2158
This capability list should work

[code]

[2016-07-19 17:35] Andrei-Pozolotin commented on #2947
1) no traces, just bunch of quick manual tests and a wild guess

2) coming back to rkt plugins
https://github.com/coreos/rkt/issues/2908
docker allows to control image re-render externally, i.e.:
http://olavgg.com/post/89859509533/saving-and-loading-docker-images-to-a-compressed

3) rkt could also externalize all compression pointcuts  to a plugin, right?

[2016-07-19 17:36] alban commented on #2857
I had it working with https://github.com/kinvolk/rkt/commit/8f223159133d2cf1beb49774788ed425aa1dd997:

[code]

I am not quite sure which of the 3 changes in that patch is required... @iaguis ?

[2016-07-19 18:18] squeed commented on #2044
For CNI order is not guaranteed, but rkt at least claims to enforce lexicographic ordering :-). In any case, we should accept CNI DNS results without requiring them to be explicitly enabled?

[2016-07-19 18:20] Andrei-Pozolotin opened #2949 "RFE: rkt build"
1) since `aci` is superseded by `oci`, and `acbuild` + `acpush` are struggling for functionality already provided in `rkt` (cas, transport, etc)

2) we suggest to convert/merge `acbuild` into `rkt build` now and call it "appc build reference implementation"

3) then `build/push` functionality would naturally migrate from `aci` to `oci` along with `rkt` evolution

4) and meanwhile it would allow th

[2016-07-19 18:20] Andrei-Pozolotin commented on #2757
proposed to merge into `rkt build`
https://github.com/coreos/rkt/issues/2949

[2016-07-19 20:50] monder commented on #2908
Doesn't `stage1` customisation cover most of the plugin functionality?
[code]

I had an idea a while ago to add "Volume Plugin" support as in docker but with CNI-like interface.

It was all possible just by supplying custom `stage1` image. The only trouble was the `appc` spec schemas that `rkt` checks before executing anything. (e.g. I couldnt set the volume type other than `host` or `empty`, but

[2016-07-20 00:00] Andrei-Pozolotin commented on #2044
re: `explicitly enabled?`
1) if there is a place for global defaults, like `/etc/rkt/net.d`(?) - control from there
2) if not, then must be explicitly enabled

[2016-07-20 00:24] Andrei-Pozolotin commented on #2908
@monder: good point, thank you.

1) this request was inspired by ease with which we were able to add missing form CNI standard plugins features with own simple bash plugin https://github.com/containernetworking/cni/issues/265 and simultaneously by prolonged lack of  "normal" CNI dns support in rkt

2) yes, image content/layout can be customized via `--stage1`, although for core lifecycle concerns

[2016-07-20 11:40] iaguis opened #2951 "functional tests: rkt fly tests fail on debian 8"
rkt fly tests [fail on debian 8](https://jenkins-rkt-public.prod.coreos.systems/job/rkt-master-periodic/) because we use an old kernel (3.16) which triggers https://github.com/coreos/rkt/issues/1922. That's why we [require 3.18+](https://github.com/coreos/rkt/blob/v1.10.1/Documentation/dependencies.md#run-time-dependencies).

I think we should test on debian stretch (testing) since we already use

[2016-07-20 12:10] lucab commented on #2951
I agree. The problem there is that Debian doesn't provide [testing|unstable] images, so we either bake our own AMI (which is feasible and let us pin components, but requires a bit of maintenance) or we upgrade+kexec every time (which requires less maintenance, but it's slower and doesn't allow fine-pinning) or we convince debian to provide testing-flavor AMI (which is the cleaner way, but probably

[2016-07-20 12:16] iaguis commented on #2951
We already create our own AMIs (using https://github.com/coreos/rkt/pull/2736) so I think we can just update the cloudconfig there to upgrade to stretch.

[2016-07-20 12:59] iaguis commented on #2951
I updated the AMI and it passes now https://jenkins-rkt-public.prod.coreos.systems/job/rkt-master-periodic/os_type=debian-testing,stage1_flavor=fly/

[2016-07-20 13:33] alban commented on #2484
Current status:

@alepuccetti took over https://github.com/systemd/systemd/pull/3327 and it was merged via https://github.com/systemd/systemd/pull/3685. It will be in systemd-v231.

However, there is still some work to do to make it work when `InaccessiblePaths=` is used inside a nspawn container (see https://github.com/systemd/systemd/pull/3685#discussion_r70128321):

@alepuccetti is working on t

[2016-07-20 13:34] alban commented on #2484
Moving milestone because systemd-v231 will not be there in time.

[2016-07-20 13:46] alban commented on #2951
Fixed by https://github.com/coreos/rkt/pull/2736

[2016-07-20 13:46] #2951 closed

[2016-07-20 13:51] alban commented on #2943
Let's investigate for the next milestone.

[2016-07-20 13:55] alban commented on #2874
Capturing discussion from https://github.com/coreos/rkt/issues/2158#issuecomment-233603912:

This will be for next milestone.

[2016-07-20 14:08] alban commented on #2890
@yifan-gu @sgotti could you please reassess the milestone?

[2016-07-20 14:18] alban commented on #2879
This needs more discussions.
@euank @yifan-gu @tmrts : could you reassess the milestone?

[2016-07-20 14:25] alban commented on #2877
Depends on #2891 and #2910. Moving milestone.

[2016-07-20 14:30] alban commented on #2432
It happened again on Fedora-23: https://github.com/coreos/rkt/pull/2860#issuecomment-233966270
Reopening...

[2016-07-20 15:02] iaguis commented on #2864
Maybe in the next milestone?

[2016-07-20 15:09] #2701 closed

[2016-07-20 15:11] iaguis commented on #2640
Moving to v1+, please reassess

[2016-07-20 15:12] iaguis commented on #2602
Moving to v1+ like #2044

[2016-07-20 15:18] iaguis commented on #2477
I missed that we had a decission, let's do that on the next milestone.

[2016-07-20 15:19] iaguis commented on #2375
This doesn't seem to fit into one milestone, assigning to v1+

[2016-07-20 15:20] iaguis commented on #2115
We're slowly doing this, but I don't think it fits a single milestone.

[2016-07-20 15:24] iaguis commented on #2553
@steveeJ could you reproduce this issue with @alban's "test"?

[2016-07-20 15:46] siddharthist commented on #1305
@lsm5 Any updates? We'd love to use rkt in https://mantl.io, but we can't until it's packaged for Centos 7.2.

[2016-07-20 16:09] sgotti commented on #2925
Created PR #2953 that uses the distribution concept for the image strings (and proposes a different URI format). PTAL.

[2016-07-20 17:34] Andrei-Pozolotin commented on #2925
re: #2953
1) it seems "User friendly distribution strings" are just "null/default/unnamed" uri/urn name space? if so, can you make scheme explicit, say call it `rkt:`, or `name:`, or ...?
2) dash `-` is still permitted? `ociimagelayoutarchive` -> `oci-image-layout-archive`?

[2016-07-20 18:28] lucab commented on #2843
v231 also contains a seccomp-related fix: https://github.com/systemd/systemd/pull/3701

[2016-07-21 10:53] Quentin-M opened #2956 "Mounting /run leads to systemd failure with 226/NAMESPACE"
While they used to be able to on my environment, the containers that mount _/run_ cannot not start properly anymore.

**Environment**

[code]

**Note:** Tested with 1.9.1 and 1.10.0 too on the same machine.

**What did you do?**

[code]

**What did you expect to see?**

[code]

**What did you see instead?**

[code]

With strace, we read that stage1 systemd exits with `226/NAMESPACE` when mounting

[2016-07-21 11:20] s-urbaniak commented on #2956
Let's evaluate if we can provide a quick fix, labeling as 1.12 for now, since it was already there in previous version. If we find a quick fix, we can shoot for a 1.11.1.

[2016-07-21 11:23] squeed opened #2957 "`rkt enter` for fly doesn't work, misleading error message"
When you `rkt enter` in to a pod running on fly, it fails. This is as intended. However, the error message should be improved.

Currently it is: `enter: not doing anything here!`. Ideally, it would just work. Less ideal but helpful would be to generate a copy-and-pasteable chroot command.

[2016-07-21 11:37] alban commented on #2956
We suspect the failing mount comes from https://github.com/systemd/systemd/blob/v229/src/basic/mount-util.c#L315 but we don't know why.

I would like to see `/proc/self/mountinfo` from the host, especially the `/run/netns/*` mounts.

[2016-07-21 12:27] Quentin-M commented on #2956
The list was *really* long. As suggested by @alban, I ran the gc on my nodes (for a long time..) and it looks like the pods are able to start now...

[2016-07-21 13:15] s-urbaniak opened #2959 "TestFetch fails sporadically"
Capturing the Jenkins log from the 1.11.0 build (https://github.com/coreos/rkt/pull/2955), TestFetch failed with `EOF.

[code]

[2016-07-21 21:41] derekmahar commented on #2223
For what it's worth, here's an example that illustrates this behaviour.  I was a bit surprised that `ping postgres` inside the container (pod) didn't produce the same result as `ping localhost`.

[code]

I first documented this example in https://groups.google.com/d/msg/rkt-dev/pjJ6knYiB-Q/pdZyzL6TAgAJ.

[2016-07-21 22:27] lucab commented on #2223
@derekmahar's problem seems to be a bit different, as the `quay.io/coreos/postgres` image already comes with an `/etc/hosts` file that we don't touch, thus it doesn't reflect the custom hostname.

[2016-07-21 22:39] yifan-gu commented on #2879
@philips Sorry for not being clear. The writable API proposed here (which is still on pod level that aligns with the rkt cli) is not targeted for the k8s CRI (operated on container level).
And this is part of the reason we are arguing whether we should put effort implement and maintain it, given that we are moving towards container level APIs.
The other reason is the rpc style writable API seems t

[2016-07-21 23:03] yifan-gu commented on #2879
Can we add some field in the `FetchImageRequest` later for describing the discovery scheme?

[2016-07-22 00:44] lucab opened #2962 "RFE: provide a "privileged" command-line override"
We have been growing a larger set of security features/isolators, and every new one adds several per-app fine tuning knobs which include all the low level details.

In order to bring a bit of UX sanity, it would perhaps makes sense to have a per-pod option to `run`
that let users opt-out of those security features. However, in order to avoid introducing a catch-all insecure option, there should be

[2016-07-22 00:49] lucab commented on #2879
@yifan-gu regarding format/distribution, there are some sketches for a unified scheme at https://github.com/coreos/rkt/pull/2953

[2016-07-22 10:11] alban commented on #2962
So far, all options of `--insecure-options` were about fetching images and the images themselves (image, tls, ondisk, http, pubkey). They are also not Linux-specific.

The new options of `--privileged` are about run-time (they only make sense for `rkt run` and rkt run-prepared` commands). So I think I prefer a different flag to make the distinction. That would allow users to write `rkt run --privi

[2016-07-22 10:16] alban commented on #2962
Also, all parameters of `--privileged=` will have to be passed to stage1 via [the run entrypoint](https://github.com/coreos/rkt/blob/master/Documentation/devel/stage1-implementors-guide.md#arguments). This is changing the API between stage0 and stage1.

On the other side, `--insecure-options`  only contains parameters for stage0.

[2016-07-22 10:18] s-urbaniak commented on #2962
From a pure technical perspective this makes sense, from a user perspective I would be very confused what the semantic difference between `--privileged` an `--insecure-options` is.

[2016-07-22 11:39] alban commented on #2962
@s-urbaniak

To implement a bitfield parameter in stage1's run entrypoint, I was wondering whether to reuse [rkt/flag/bitflags.go](https://github.com/coreos/rkt/blob/master/rkt/flag/bitflags.go) or to use my own string flag.

Currently, `bitFlags` is not exported. And stage1 does not import anything from the "rkt/" directory. So that would be easier to just have a string flag. Otherwise, we could

[2016-07-22 11:54] s-urbaniak commented on #2962
@alban I don't see a contradiction to move it to `pkg`. I don't quite understand what the alternative ist, just `string` flags?

[2016-07-22 12:40] lukasredynk commented on #2791
I've got local version of code which uses both PRs [1] [2] with default-restricted netwrok (ptp). I think that porting other plugins after the path would be set will be relatively easy.

[1] Related WIP PR in cni repo: https://github.com/containernetworking/cni/pull/271
[2] Related PR in netlink repo: https://github.com/vishvananda/netlink/pull/154

[2016-07-22 13:02] sgotti opened #2968 "Wrong ACI size calculation logic"
Currently the ACI size calculation as been put inside the store and is not completely correct since it assumes there can be only on treestore per ACI. Instead an ACI if a dependency changes can generate multiple different treestore.

Since the treestore and imagestore for various reasons (see #2911 ) should be decoupled (it's the treestore that call image store functions) I'd like to do the fix in

[2016-07-22 17:50] yifan-gu opened #2969 "Parallelize the execution of the function in walkPod()?"
During profiling the rkt api service. I found that most of the time is spent on `ListPods()`, where the api service tries to read out the information for each pod.

The implementation of `ListPods()` uses `rkt.walkPod(f func(pod))` which walks the pod directory for every pod and run the arbitrary function `f` for each pod.

The execution is serialized, so the pod information is retrieved one by on

[2016-07-22 20:46] sgotti commented on #2969
@yifan-gu Are you referring to api-service's ListPods rigth? (rkt/pod.go ListPods just readdir a bunch of dirs)

My fear is that, reading the trace graph in another issue, that a lot of time is spent on ql db access. And due to it's nature the access to the db is serialized.

Perhaps this deserves another issue but if we can prove this (if you can provide some CPU performance traces) we can try to

[2016-07-22 20:54] euank opened #2971 "api_service: grpc dependency should be updated so it can be co-vendored alongside etcd"
ref: https://github.com/kubernetes/kubernetes/pull/29399#issuecomment-234648879

I think our best option is probably to bump the grpc version we use here and then vendor in a newer version there.

Other possible options include import path rewriting or potentially kubernetes regenerating the client.

In the longer term, I expect kubelet + rkt to be further decoupled from the storage client so this

[2016-07-22 20:58] timothysc commented on #2971
You'll want to match against etcd-3.0.4 release which is my new target.

[2016-07-22 20:59] yifan-gu commented on #2971
@timothysc Is 3.0.4 already release? I only saw 3.0.3, but I think using what's in the HEAD is fine?

[2016-07-22 21:00] timothysc commented on #2971
@yifan-gu Next Wed. https://github.com/coreos/etcd/issues/6027#issuecomment-234618649

[2016-07-22 21:04] hongchaodeng commented on #2971
There is some dependency issues found. There is gonna be etcd v3.0.4 release next week to fix that. We should be able to co-update dependencies of rkt and etcd next week.

[2016-07-22 21:12] yifan-gu commented on #2971
@hongchaodeng @timothysc Is 3.0.4 going to change the grpc version as well? If not we can use what in the etcd master:HEAD.

[2016-07-22 21:14] hongchaodeng commented on #2971
Yes

[2016-07-22 21:17] yifan-gu commented on #2971
OK, if you could provide us what grpc version you are going to use, we can update here. @hongchaodeng

[2016-07-22 21:24] yifan-gu commented on #2969
@sgotti I didn't save the data, but from what I observed these days, the ql db operation is talking a lot of time, e.g. the `ResolveKey` you mentioned takes hundreds milliseconds to several seconds for each pod when doing `api-service.ListPods()`. I can imagine it might get worse if we parallelize it, but I haven't experimented with this idea yet, so I am not sure.

To mitigate, now I check the le

[2016-07-22 21:28] lucab commented on #2971
It looks like https://github.com/coreos/etcd/pull/5948 updated grpc explicitly to `v1.0.0-6-g02fca89` in order to fix https://github.com/coreos/etcd/issues/5871. Can we have a bugfix tag (which includes https://github.com/grpc/grpc-go/pull/756) to sync projects on?

/cc @heyitsanthony @iamqizhao

[2016-07-22 23:00] yifan-gu commented on #2933
So for the rktnetes, I am not sure we really want to redesign the gc, as the kubelet will enforce it's gc policy, and all it needs is the `RemoveContainer` interface.

I think we can keep today's gc for cleaning up at pod levels?

[2016-07-22 23:05] yifan-gu commented on #2935
So what's the action item for this issue? I guess it's none? I think we will still use systemd to monitor the podsandbox, so a slice in the unit file should be good enough.

[2016-07-22 23:52] lucab commented on #2962
You both have good arguments (@s-urbaniak: UX will be terrible, @alban inducing unsecure fetches is bad). Middleground perhaps is having wildcard groups to `insecure-options` (ie. `all-fetch` for all the existing ones, `all-run` for the new ones here, `all` for union of all existing).

@alban: can we avoid API/entrypoint changes, at least for the moment? I think this RFE is doable by just overiddi

[2016-07-23 17:01] thockin commented on #1149
Trying to figure out what API kubernetes should support (https://github.com/kubernetes/kubernetes/pull/20698/files) but I don't have all the context.  What is actually supported in rkt now?

[2016-07-23 20:50] Quentin-M commented on #2694
I would strongly be interested in this for Stackanetes if it allows to run sysctl on net.* from within the pod. Otherwise Openvswitch cannot function properly.

[2016-07-23 23:35] steveeJ commented on #2694
@Quentin-M

Have you looked at [CNI's tuning plugin](https://github.com/containernetworking/cni/blob/master/Documentation/tuning.md)? As described above it should work for _net.*_ parameters.

[2016-07-24 00:57] Quentin-M commented on #2694
Open vSwitch, running inside the rkt container with --net=host, would like to tweak some sysctl parameters for the interfaces it manages.

[2016-07-24 21:22] sgotti opened #2973 "Use of a key/value db (boltdb) for future implementations."
I'd like to propose the use of a key/value db https://github.com/boltdb/bolt for the future implementations (store, treestore, transport cache data etc...).

The idea started by some consideration:

* ql is really good and its perfectly doing its job, but, like any sql, impose a strict schema
 * the strict schema makes adding new fields hard (schema migrations etc...). On the other side makes addi

[2016-07-25 05:45] yifan-gu commented on #2973
cc @coreos/rkt-maintainers @coreos/rkt-engineering

[2016-07-25 07:27] tmrts commented on #2973
@sgotti thank you for the detailed analysis, I agree with most of the points and since we don't utilize SQL that much (sorting with `order by`), moving to a KV store like Bolt shouldn't present a challenge on that front.

cc @s-urbaniak as per the discussion we had OOB a while back

[2016-07-25 10:40] tmrts opened #2976 "Use a declarative configuration for Jenkins CI"
Right now Jenkins test jobs are configured via the web UI.

We should use the [yaml-plugin](https://wiki.jenkins-ci.org/display/JENKINS/YAML+Project+Plugin) and maintain it under this repository to allow developers/users to run their local Jenkins jobs.

cc @alban

[2016-07-25 10:41] #2776 closed

[2016-07-25 10:46] alban commented on #2956
The nsfs files can be remounted successfully. The one which fails is actually a tmpfs:
[code]

[2016-07-25 12:33] alban commented on #2956
It should be fixed after https://github.com/systemd/systemd/issues/3793 and https://github.com/systemd/systemd/pull/3794

[2016-07-25 12:56] tmrts commented on #2969
@yifan-gu I inspected the execution path of `ListPods` and it seems to me like the migration to boltdb would be the way to go before parallelizing the the walk function.

See #2973

[2016-07-25 15:30] tmrts commented on #2935
My concern was when starting rkt without a systemd service (unlike rk8s codebase) since it wouldn't be a consistent behavior, but if this behavior is acknowledged and fine, then there is no action item for this one.

@yifan-gu I agree that a slice addition is good enough

[2016-07-25 16:49] steveeJ commented on #862
In general the behavior remains as is, but the bridge plugin [received a new 'isDefaultGateway' attribute](https://github.com/containernetworking/cni/pull/50) for convenience.

[2016-07-25 16:49] #862 closed

[2016-07-25 16:50] alban commented on #2956
It will be fixed in systemd-v231 (see https://github.com/coreos/rkt/issues/2843).

Meanwhile, as a workaround, masking a mount under another mount should be avoided (e.g. mounting something on `/run/netns/foo` before mounting something on `/run/netns`, hiding the `/run/netns/foo` mount).

[2016-07-25 16:57] steveeJ opened #2980 "net: IP argument has no effect"
**Environment**
[code]

**What did you do?**
1.  Repeatedly run `rkt run --net=default:IP=172.16.28.2 ...`
2. run `rkt run --net=default:IP=172.16.28.10 ...`

**What did you expect to see?**
1. Error for the 2nd run that the IP is already taken.
2. Pod having the requested IP

**What did you see instead?**
1. No error; sequential IP assigning
2. Pod having a sequential IP

[2016-07-25 17:07] alban commented on #1149
@thockin
- With the default stage flavors ("coreos", based on systemd-nspawn), rkt does only "slave" volumes. It is because systemd-nspawn does not support other modes. I think that would be significant change to do in systemd-nspawn, if we ever want to support other modes.
- With the "fly" flavor (running in the host namespaces), rkt does only "shared" volumes.
- With the "kvm" flavors, I don't t

[2016-07-25 17:10] thockin commented on #1149
I am not sure I understand the implications here.  If Kubernetes said "all
volumes must be mounted 'shared', rkt can not comply?  If Kube exposed it
as an API option, it wouldn't work on some platforms?

How can we allow kubelet to run in a container and still mount volumes?

[2016-07-25 17:33] Quentin-M commented on #2956
Thanks! Note that I do not mount any `/run/netns/*` by myself. Interestingly, I can reproduce by simply trying to start kubelet on one of my nodes, while there is no `/run/netns/*` mount yet at all.

[2016-07-25 17:45] alban commented on #1149
volumes must be mounted 'shared', rkt can not comply?  If Kube exposed it
as an API option, it wouldn't work on some platforms?

Exactly, that's how it is at the moment.

We should not default to "shared" for normal pods: that would allow containers to mount things on the host, breaking the normal isolation that containers should provide.

I think "rslave" is a better default. rkt (via systemd-nsp

[2016-07-25 18:40] lucab commented on #2976
We should check if yaml-plugin supports everything we use (we currently have a heavily customized matrix). Also we currently have multiple projects (a big recurring matrix and a more focused CI for github).

I'm giving low priority to this, as I don't see any immediate advantage here (excepted from having the current config versioned). Why should a developer run a full-bloated jenkins on its own?

[2016-07-25 18:43] tmrts commented on #2976
:+1: to finding a plugin with feature parity.

stage1 flavor developers might want to run their own Jenkins CI for rkt.
Also a full end-to-end test suite might be useful to developers in addition to the build/test commands we list out in our guides.

[2016-07-25 18:45] lucab opened #2981 "rkt: release v1.12.0"
Expected in August, for the fine details see https://github.com/coreos/rkt/milestone/45

[2016-07-25 19:00] euank commented on #2976
The [jenkins-job-builder](http://docs.openstack.org/infra/jenkins-job-builder/) tool from the OpenStack project is another option and if you need to drop into raw blocks of xml instead of yaml, you can (say for unsupported plugins). It still doesn't version control which plugins are installed, but I'm not sure of a solution that does.

[2016-07-25 19:27] euank commented on #2935
@tmrts without systemd, we can do the equivalent of `cgexec`; depend on whatever actually launches rkt to drop it in the right cgroup.. the point just being that the responsibility is a layer up, not rkt.

Closing, feel free to reopen if you think this still needs more discussion.

[2016-07-25 19:27] #2935 closed

[2016-07-25 19:49] yifan-gu commented on #2969
@tmrts sgtm

[2016-07-25 21:31] lucab commented on #2973
Concerns:
 * Going schemaless may cause issues on upgrade (when renaming fields, changing content's semantic and such)
 * BoltDB has its own non-LMDB interoperable binary format, so we are locking ourself into it
 * This is already a binary format, I don't see any gain in putting the value as JSON (messagepack suggestion seems more reasonable)

Non-concerns:
 * The mmap-limit doesn't look like a b

[2016-07-25 21:56] s-urbaniak commented on #2973
- msgpack vs. JSON: In https://github.com/ugorji/go-codec-bench we should be aware that https://github.com/ugorji/go/codec has benefits mainly in the space domain, not so much in the time domain; i.e. pure serialization/deserialization will not be dramatically faster (also https://github.com/alecthomas/go_serialization_benchmarks has some data), hence I wouldn't demonize the JSON format.

- :+1: o

[2016-07-25 23:09] yifan-gu commented on #1149
@thockin Some context fwiw:

`coreos-stage1` -> `systemd-nspawn`, systemd as PID1.
`fly-stage1` -> `chroot` without namespace, no systemd as PID1 either.
`kvm-stage1` -> lkvm based vm, (planning to switch to qemu).

[2016-07-26 08:15] #2857 closed

[2016-07-26 09:16] Quentin-M commented on #2064
One use-case emerges when one tries to make his Kubernetes cluster use `rkt` instead the traditional runtime. If that user wants to use fly, or **requires** it, because he has to run privileged containers (accessing sysctl, devices, ...) for example, annotations make it fairly easy. Except that he will have to split any Kubernetes pods that use multiple applications to do so. It could cause some t

[2016-07-26 09:26] f0 commented on #2976
why not using a Jenkinsfile? https://jenkins.io/doc/pipeline/jenkinsfile/

[2016-07-26 10:49] alban commented on #2962
@lucab Disabling `paths` cannot be accomplished with just changing an isolator in the pod manifest, since appc/spec does not specify any isolator for that. Or do you mean rkt specific annotation such as "coreos.com/rkt/insecure-options/disable-paths" or something specified in appc/spec?

The advantage of a parameter in the "run" entrypoint is that a stage1 can return an error if it is asked to do

[2016-07-26 10:52] alban commented on #2962
"paths" is the highest priority to implement compared to "capabilities" and "seccomp" because it cannot be worked around by modifying the pod manifest.

[2016-07-26 12:58] Andrei-Pozolotin commented on #2892
works, thank you

[2016-07-26 12:59] Andrei-Pozolotin commented on #2894
works, thank you

[2016-07-26 16:31] alban commented on #2491
Reopen because there is still ongoing discussions in https://github.com/coreos/rkt/pull/2960 after it was merged.

Also, I would still like to have information about the dependencies (https://github.com/coreos/rkt/issues/2491#issuecomment-218479147). Is this information somewhere on disk or in the database?

This would be useful for security (audit trails) but also for dgr in https://github.com/bl

[2016-07-26 16:50] sgotti commented on #2491
That's not practically possible, in appc dependencies may only be fetched via discovery and so they may change if the discovery and fetch returns another ACI. That's the reason why you can have multiple rendered images in the treestore for the same starting ACI (see also #2911 )

For this reason this information cannot be saved in the image store and doesn't make much sense to show them in the `rk

[2016-07-26 17:02] alban commented on #2491
@sgotti what about the dependencies for a running pod or an exited pod? (Rkt list)

[2016-07-26 17:28] yifan-gu opened #2984 "TestCaps fails on coreos"
Captured from the jenkins test in https://github.com/coreos/rkt/pull/2891
Logs: https://jenkins-rkt.prod.coreos.systems/job/rkt-github-ci/os_type=fedora-22,stage1_flavor=coreos/721/

[code]

[2016-07-26 19:03] sgotti commented on #2491
@alban yeah, that looks like the unique place where this information should live (since an image can be rendered directly in a stage2 without using the treestore + overlayfs).

I think we should define how this could be represented in the pod layout (since its appc specific and, not sure if needed, but if oci needs to provide something similar it'll be quite different)

Some additional thoughts:

[2016-07-26 20:11] squeed commented on #2980
This is really weird! It only happens with the default network. No problems with custom networks.

[2016-07-26 20:58] squeed commented on #2980
Neat, rkt is eating cni arguments for default networks.

[2016-07-26 21:11] squeed commented on #2980
@steveeJ out of curiosity, do you know what version this was broken?

[2016-07-27 00:13] euank commented on #2962
One natural user of this feature will be `rktnetes` to make it so existing privileged pod specifications are more likely to be compatible with rkt (though we'd of course prefer the finer-grained knobs be used).

To that end, I'd like to detail what Docker currently does when you do `--privileged`, which naturally matches the expectations of some docker containers  run in Kubernetes with a privileg

[2016-07-27 00:59] steveeJ opened #2986 "rkt run: `--cap-retain` causes isolators capabilities-retain-set to be ignored"
When using `--cap-retain=CAP_SYS_ADMIN` and having `CAP_NET_ADMIN` in the imagemanifest's isolators dict, _CAP_NET_ADMIN_ will not be retained for the application in question.

[2016-07-27 08:36] HuKeping opened #2987 "Introduce Notary to Rocket"
Hi guys,

Do you ever consider about introducing [Notary](https://github.com/docker/notary/) into Rocket?

AFAIK, Rocket has its own trust mechanism-using gpg to sign image which is similar with PKI.

Notary is another thing, it's a generally useful [TUF](https://github.com/theupdateframework/tuf) implementation which can also help to sign rkt images.

[2016-07-27 10:06] alepuccetti commented on #2524
@nstott

I am a bit confused by all this container inception.

What do you mean with "from inside the container", which container? The redis container or the container that runs the redis container?

Also can you provide some the rkt command, the ACI, and any configuration file/parameters you used ("What did you do?" section in the issue template)?
In this way we can run your scenario and reproduc

[2016-07-27 10:08] #2928 closed

[2016-07-27 10:33] alban commented on #2984
https://github.com/coreos/rkt/blob/master/pkg/tar/chroot.go#L90
[code]

The `err` parameter does not seem to be printed. This function "extractTarCommand" is called from a [multicall](https://github.com/coreos/rkt/blob/master/pkg/multicall/multicall.go) in a different process. The [log](https://github.com/coreos/rkt/tree/master/pkg/log) package might not be initialized there.

/cc @blixtra

[2016-07-27 11:09] alban commented on #2986
I think it was done on purpose, although it is not said explicitely in the [capabilities guide](https://github.com/coreos/rkt/blob/master/Documentation/capabilities-guide.md#overriding-capabilities-at-run-time): `--cap-retain=` replaces completely the retain set in the manifest, it does not patch it.

An user can use `--cap-retain=CAP_SYS_ADMIN,CAP_NET_ADMIN` to have both.

Maybe the capabilities

[2016-07-27 14:45] tmrts commented on #1799
**Status:** currently Kubernetes users depend on `attach` for doing debugging/image build operations. These operations can further be refined to better solutions that doesn't include `attach`, however atm this is still required for feature completeness.

[2016-07-27 15:32] tmrts opened #2990 "Rkt Cluster Logging and Journald"
Logging in rkt is handled by journald. But, there are problems related to container logging in journald regarding resource isolation, container awareness, and throughput (i.e. journald indexing logs).

Higher order systems might want to handle the lifecycle of logs and/or  manage the disk I/O performance. The higher-order system right now is Kubernetes.

The required features by Kubernetes are:

-

[2016-07-27 15:39] alban commented on #2990
We could add an option in `rkt --log-directory=/srv/mylogs/` and rkt could mount /src/mylogs from the host in stage1's /var/log/journal?

[2016-07-27 15:40] s-urbaniak commented on #2986
It works as expected, we implemented _override_ semantics when `--cap-retain` is being specified to minimize confusion in case the user is not the author of the manifest, and to simplify the implementation. I will make a PR to the capabilities guide.

[2016-07-27 16:04] tmrts opened #2992 "Container Runtime Interface (CRI) Integration"
# Container Runtime Interface (CRI) Integration

## Application Level Operations

This issue tracks the progress of the application-level interface of rkt and the
Kubernetes integration with rkt using the application-level interface.

**Relevant Issues:**

- [CRI Proposal](https://github.com/kubernetes/kubernetes/pull/25899)
- [Client-Server Proposal](https://github.com/kubernetes/kubernetes/pull/

[2016-07-27 16:05] tmrts commented on #2375
Closing this in favor of #2992

[2016-07-27 16:05] #2375 closed

[2016-07-27 16:50] s-urbaniak opened #2993 "Support for stage1-specific command line options"
This issue is a discussion point whether to introduce stage1-specific command line parameters.

As rkt evolves, and more command line options appear, the more the subtle differences between the current stage1 implementations (nspawn, kvm/qemu, fly) leak in the UX experience.

The current PR to opt-out of security in stage1 (https://github.com/coreos/rkt/pull/2983) is bound to the runtime environme

[2016-07-27 17:20] tmrts commented on #2933
As previously discussed in #2932, gc by entrypoints seems to be enough for our purposes.

After our discussions AFAICT we don't need any changes to garbage collection semantics in rkt.

[2016-07-27 17:49] jellonek opened #2995 "build system: common functions for scripts"
Follow up for #2988

@dkrzyszczyk introduced in earlier version of merged patch in #2988 function to extract rkt build version into shell variable, which IMO could be reused in other scripts, instead of using hardcoded values which are updated on each version bump.

IMO `scripts/common-functions.sh` is a right place to define such helper function which could be then included in other scripts, what

[2016-07-27 19:41] tmrts commented on #2987
cc @lucab @coreos/rkt-maintainers

[2016-07-27 21:47] dgonyeo commented on #2987
I think we'll want notary support for OCI images at some point, it's just that A) the OCI image spec doesn't specify how to do image signing/verification afaik so no there's no standard-compliant way to do it and B) it's not worth adding to AppC images at this point imo since AppC has its own signing model.

[2016-07-27 22:04] hongchaodeng commented on #2971
etcd v3.0.4 has released with grpc commit hash [02fca896ff5f50c6bbbee0860345a49344b37a03](https://github.com/coreos/etcd/blob/00c9fe475321c7d117f70ab087c15b06aa56b6eb/cmd/Godeps/Godeps.json#L241).

@timothysc @euank We will try to coordinate and update grpc version in rkt as well. Thanks!

[2016-07-27 23:10] euank opened #2996 "Per-app security option opt-out"
Followup to https://github.com/coreos/rkt/pull/2983#issuecomment-235581233 and #2962

The above PR includes pod-level flags that disable various security features, which can be useful in initial container building/debugging.

In line with the principal of least privilege, however, it would make sense to be able to opt out of said security options on a more granular level on a per-app basis.

Curre

[2016-07-28 02:04] HuKeping commented on #2987
@dgonyeo per A, I don't think the spec should contain this things, image signing is somehow a external  functionality and the spec should focus on the image itself as what it's doing at present. Per B, you are right, there is already a signing model for AppC, but what if there was another more efficient way to do it.

Would you mind looking a little deeper for that project, it was not designed for

[2016-07-28 06:01] lucab commented on #2987
@HuKeping yes, we are aware of TUF and we have it on our radar. Unfortunately are resources are limited and we have to prioritize among all the nice things we'd like to have, and this is not an high priority at the moment. What @dgonyeo was saying, is that TUF (or a similar discovery/distribution/updates scheme) will probably come anyway with OCI, so we are deferring this specific topic in order t

[2016-07-28 14:22] timothysc commented on #2971
@euank @yifan-gu if you have a tag I can reference I will lock-step update both etcd and rkt in my kube pr.

[2016-07-28 15:11] lucab commented on #2971
I've filed https://github.com/grpc/grpc-go/issues/788 asking for regular releases, but I don't have much hope for this to change soon. We may just take an update to `v1.0.0-6-g02fca89` for rkt 1.12.0 as well in the meanwhile.

[2016-07-28 22:03] CyBeRoni commented on #2892
It'd be pretty cool if this --uuid-file worked generically for every command where a pod UUID is expected on the command line somewhere. (rkt enter for instance.)

[2016-07-28 23:23] eyakubovich opened #3000 "pod-manifest: unexpected/not clear enough overriding behavior"
**Environment**

[code]

**What did you do?**
Ran rkt with pod manifest specified and it ignored `os/linux/capabilities-retain-set` isolator that was specified in the image.

**What did you expect to see?**
In generated stage1 service file, I expected to see `CapabilityBoundingSet=CAP_NET_ADMIN` (that's what I added to retain set).

**What did you see instead?**
`CapabilityBoundingSet=CAP_AUDIT_WR

[2016-07-28 23:27] eyakubovich opened #3001 "rkt prepare splitting up quoted args"
**Environment**
[code]

**What did you do?**
`rkt prepare quay.io/coreos/flannel --exec /bin/sh -- -c "mount -o remount,rw /proc/sys && /opt/bin/flanneld --etcd-endpoints=http://10.100.0.1:2379 --iface=eth0"`

**What did you expect to see?**
stage1 service file to contain
`ExecStart="/bin/sh" "-c" "mount -o remount,rw /proc/sys && /opt/bin/flanneld --etcd-endpoints=http://10.100.0.1:2379 --iface=e

[2016-07-29 09:17] #2477 closed

[2016-07-29 09:44] iaguis commented on #3000
Where are you putting the isolator?

Note that [its scope is app](https://github.com/appc/spec/blob/master/spec/ace.md#oslinuxcapabilities-retain-set) and so it must be inside the `"app"` section of the pod manifest.

[2016-07-29 09:59] iaguis commented on #3001
I'm not seeing this behavior:

[code]

[2016-07-29 14:29] iaguis commented on #2432
@alban forgot to reopen

[2016-07-29 14:31] tmrts commented on #2990
@alban in such a case, the journald format would still pose a problem.

I've updated the issue PTAL

[2016-07-29 14:45] sgotti opened #3002 "stage0/run tpm event Rootfs/RootHash issues"
**Environment**

[code]

Looks like the tpm event emitted in https://github.com/coreos/rkt/blob/55393e28679372554e8b600e39ef0720751d01b8/stage0/run.go#L552 uses for the `Rootfs` the value provided in `cfg.CommonConfig.RootHash` but:

* Since `cfg.CommonConfig.RootHash` is populated on prepare, I'm not sure it'll be populated on run when preparing a pod with `rkt prepare`.
* It's overwritten by sub

[2016-07-29 16:13] lucab commented on #2892
@CyBeRoni that makes sense. Feel free to point out all the places where we are missing that in a dedicated bug report.

[2016-07-29 17:18] Quentin-M opened #3003 "Bump docker2aci to v0.12.3"
As soon as https://github.com/appc/docker2aci/pull/188 gets merged, docker2aci should be bumped.

A minor version of rkt should probably be released too as `rkt fetch docker://` is currently broken.

[2016-07-29 17:44] eyakubovich commented on #3000
The isolators are inside the image manifest of an ACI. The pod manifest was merely used to launch the app and doesn't contain any additional isolators.

[2016-07-29 17:58] jonboulle commented on #3000
Can you paste the manifest of the image?

On 29 July 2016 at 10:44, Eugene Yakubovich <notifications@github.com>
wrote:

[2016-07-29 20:30] eyakubovich commented on #3000
[code]

[2016-07-29 20:31] CyBeRoni commented on #2892
Sure I'll take a look at that.

[2016-07-29 20:47] CyBeRoni opened #3005 "RFE: support --uuid-file generically"
As in #2892, I think it would be useful for automation to support the 'uuid-file' argument in any situation where a pod UUID is expected as an argument.

So far as I can tell, that is currently the case (but not yet supported) for:
- cat-manifest
- enter
- run-prepared
- status

Also, 'rkt prepare' should accept the '--uuid-file-save' argument.

I believe this would make a couple of things easier

[2016-07-29 21:57] timothysc commented on #2971
status?

[2016-07-29 22:24] eyakubovich commented on #3001
My bad. This was inside a bash script and my bash knowledge is limited :(
Sorry for the trouble.

[2016-07-29 22:24] #3001 closed

[2016-07-29 22:27] iamqizhao commented on #2971
grpc-go will have a formal 1.0.1 tag release within 2 weeks. Can you wait for that?

[2016-07-29 22:45] eyakubovich opened #3006 "Add --cap-remove and --cap-retain to "rkt prepare""
These options are available in "rkt run" and should be available in "rkt prepare".

[2016-07-29 23:38] timothysc commented on #2971
Probably not b/c that is near upstream code freeze, and etcd 3.0.4 has already been cut.

[2016-07-30 07:40] f0 commented on #2229
@alban @steveeJ @jellonek

This is no longer needed , systemd v231 has a new feature
[code]

[2016-07-30 14:45] 0xAX opened #3009 "rkt trust: dial tcp: i/o timeout error"
Hello,

**Environment**

[code]

**What did you do?**

I'm trying to add trusted key as it described in the [documentation](https://coreos.com/rkt/docs/latest/subcommands/trust.html):

[code]

**What did you expect to see?**

Expected result is downloaded key.

**What did you see instead?**

Instead, I see following error:

[code]

First view shows that actual error:

[code]

and it is occured in

[2016-07-30 16:45] #3006 closed

[2016-08-01 08:07] sgotti commented on #695
I'm resuming this since it'll be important to choose the right direction for the store refactor I'm working on (https://docs.google.com/document/d/1FVhzqCGMQEsuQ4fVV96JIiXNPz4sAuOeSzcFi1wRxT0/edit#heading=h.ugavtg2od4nh). Basically I can see two different roads that will clash so one must be choosen:

1. rkt will have its internal CAS/ref store. A store is intended as a local cache used to render

[2016-08-01 09:14] sgotti commented on #2933
@tmrts @yifan-gu Just trying to imagine how the workflow will be (considering that rkt is not based on a central daemon model):

* Who will handle the app level "prepare" (render image) phase?
* Who will cleanup thing if the prepare phase (render image) or run phase fails (mount overlayfs etc..) at any point? Since the rkt process could just exit/die, who will remove the stale data?
* Who will han

[2016-08-01 09:20] jellonek commented on #2229
Much cleaner resolution with full support of "legacy" applications.
So maybe we could use this as default, if there is no `--dns` option provided and there is listening process on `127.0.0.53:53`?

[2016-08-01 09:56] iaguis commented on #3000
I tried to reproduce it with a minimal busybox image but I couldn't:

[code]

[2016-08-01 10:11] alban commented on #3000
@iaguis can you try with `rkt run --pod-manifest=...` with a pod manifest using your busybox-isolator.aci?

[2016-08-01 10:27] iaguis commented on #3000
[code]

[2016-08-01 10:28] iaguis commented on #3000
The only way I can think of this not working is if the `"isolators"` section is not in the `"app"` section in the pod manifest...

[2016-08-01 10:36] iaguis commented on #3000
@alban pointed out that you might not be putting any isolator in the pod manifest. If that's the case, the behavior you see is the intended one.

The Pod Manifest overrides the Image Manifest completely, so if you don't specify anything on the Pod Manifest, rkt will give the default capabilities to the app.

[2016-08-01 10:38] iaguis commented on #3000
Maybe it's not very clear from the documentation. You can sort of infer it from [the spec](https://github.com/appc/spec/blob/master/spec/pods.md) but maybe we should say it explicitely in rkt's docs.

[2016-08-01 11:44] sgotti commented on #3000
@iaguis Basically `--pod-manifest` means the `runtime manifest` (in [the spec](https://github.com/appc/spec/blob/master/spec/pods.md) and not the deployable template

[2016-08-01 11:47] sgotti commented on #3000
@iaguis Basically `--pod-manifest` means the `runtime manifest` (in [the spec](https://github.com/appc/spec/blob/master/spec/pods.md) and not the `deployable template` right?

For example rkt doesn't do image fetching from the provided pod manifest, ignoring the name and labels section but only using the imageID section.

+1 for clarifying it in the rkt doc.

[2016-08-01 11:48] iaguis commented on #3009
`insecure` will have a value of `2` when the option `InsecureSkipTLSCheck` is passed, that is, `--insecure-options=tls` (it is a global flag).

The two different meanings are:

`--insecure-allow-http`: Allow HTTP for discovery
`--insecure-options=tls`: Allow insecure TLS connections

[2016-08-01 12:01] tmrts opened #3010 "Pod and Application Labels"
# Pod and Application Labels

## Problem

Right now pod manifests and images allow attaching metadata through labels.
However, there is also a need for attaching metadata to pods and apps.
Especially now that we are working towards providing an app-level API #2992.

## Labels

Labels will be key/value pairs that can be attached to app and pod instances.
Labels are used to attach metadata in a loos

[2016-08-01 12:14] tmrts opened #3011 "rkt Core System Metrics"
# rkt Core System Metrics

rkt doesn't have a recommended/endorsed way to analyze resource usage and
performance characteristics of apps/pods. Monitoring and profiling is
an important part of container workflows.

## Solution

As I see it, we have two options:

1. Leave the responsibility completely to cAdvisor (current way)
   - Coupled to cAdvisor
   - Code duplication when integrating with othe

[2016-08-01 12:18] alban opened #3012 "Follow-up to "Store ACI fetching information""
#2960 was merged but @sgotti reported the following (https://github.com/coreos/rkt/pull/2960#issuecomment-234766557):

The discussion went on on the closed PR, so I am creating this issue to keep track of the task for the next milestone.

/cc @sgotti @iaguis @tmrts @jonboulle

[2016-08-01 12:21] sgotti commented on #3012
Also the InsecureOptions issue: https://github.com/coreos/rkt/pull/2960#discussion_r72434382

[2016-08-01 12:24] alban commented on #2990
xref https://github.com/kubernetes/kubernetes/issues/24677

[2016-08-01 12:32] tmrts commented on #1799
It doesn't make sense to allow attaching to every app. We should provide an option that sets `attachability` and if its set, then the app will be started using a supervisor that handles the stdin/stdout (it can be systemd too).

I believe the problem now is allocating a tty/pty for every app inside a pod if all of them are attachable.

@lucab @alban any ideas on how to proceed?

**Note:** Possibly

[2016-08-01 13:17] alban commented on #1799
@tmrts If that option `attachability` is set, that would be something like that:

![image](https://cloud.githubusercontent.com/assets/27575/17294983/4387492a-57fa-11e6-8041-62ee80d78cdf.png)

([source](https://goo.gl/asQq3Z))

How would "rkt attach" connect to the tty-mux? It could enter the network namespace with setns() and connect to a port that tty-mux is listening on... Or it could be a file

[2016-08-01 16:22] iaguis opened #3013 "systemd v231 breaks the CPU isolator if you specify more than one core"
On systemd 231, [`CPUQuota` values of more than `100%` don't work anymore](https://github.com/systemd/systemd/issues/3851).

This means that specifying more than 1000 milli-cores on the CPU isolator won't work on rkt:

[code]

[2016-08-01 17:49] steveeJ commented on #2878
I'm suggesting to run `rkt rm/gc` the same way that `rkt run` is executed, using systemd. Eventually all commands that mutate the state of rkt pods can be migrated to the writeable-API or something equivalent.

[2016-08-01 17:51] euank commented on #2878
The hacky solution we're going with in the mean-while is having the `rkt` script within the kubelet wrapper break out of the chroot jail and run `rkt rm` outside the chroot, and thus also not needing to bindmount through `/var/lib/rkt` at all. This isn't too different from using systemd to do it, but is much easier to accomplish in practice.

[2016-08-01 17:55] squeed commented on #3010
I see that these are intended to act as selectors for classifying pods / applications. I'm curious how these are different from annotations in the pod manifest?

[2016-08-01 17:56] iaguis commented on #2959
Let's try to fix it again... https://github.com/coreos/rkt/pull/3014

[2016-08-01 18:29] eyakubovich commented on #3000
Yeah, that would explain why it didn't work for me. I have to say that this is extremely surprising. I thought of a pod as saying, here, launch these apps together. I understand that it also provides a means to override some parts but by default it should not be overriding anything (IMHO).

[2016-08-01 18:52] 0xAX commented on #3009
@iaguis thanks for explanation.

But my main question is still not resolved. Any ideas about:

[code]
?

[2016-08-01 19:47] lsm5 commented on #1305
still WIP, biggest blocker is ensuring a painless rpm upgrade from systemd-219 to systemd-220, which so far hasn't worked on my test machines :| . Haven't been spending a lot of time on this lately, but looks like I gotta resume

[2016-08-01 20:14] sgotti commented on #3012
Given the release deadline and the #2517 issues that will need some times to be rethought, I'll go for reverting it if it's ok to break stores for people running on master.

Then, beside the store redesign, the changes should be done also in the current one:
* put these information in aciinfo
 * is it ok to just save the latest aci/asc URLs?
* save InsecureOptions as a list of strings.

[2016-08-01 20:15] alepuccetti commented on #2844
I started the work on this, for now only `rkt status` print the stage1 image name.

[2016-08-01 21:07] yifan-gu commented on #3010
+1, Could the upper level user(rktnetes) use the annotations to organize labels **and** annotations?

e.g. for labels:

`annotation["k8s.io/rktnetes-label-key-foo"] = "foo"`.

And for annotations:

`annotation["k8s.io/rktnetes-annotation-key-bar"] = "bar"`.

Although I agree providing a separate label type could make it more convenient.

[2016-08-01 21:28] yifan-gu commented on #2993
SGTM. But not sure about how to inject into cobra as well.

[2016-08-01 22:26] yifan-gu commented on #2933
@sgotti Good question especially when an app is a crashloop but the pod is still running.... I guess we will need k8s to handle this as it is the one who creates the crashloop.

In other cases, we can let `rkt gc` to remove them when it removes the whole pod.

[2016-08-01 22:37] yifan-gu commented on #3011
For the CPU/memory usage, we already have `--cpuprofile` and `--memprofile` flags to dump cpu/memory usage after execution, what do you think we are missing for this part?

Something came to my mind immediately is the response time of the APIs, we could to something similar to [kubelet](https://github.com/kubernetes/kubernetes/blob/v1.4.0-alpha.2/pkg/kubelet/kubelet.go#L1549) to add metrics for th

[2016-08-01 22:39] yifan-gu commented on #2992
@tmrts Thanks for the write-up :+1: :+1:

[2016-08-02 08:48] iaguis commented on #3009
Did this happen only once? Maybe it was a network error?

[2016-08-02 08:55] 0xAX commented on #3009
Hello @iaguis

No, it happens every time. Actually I've found problem. If I'd increase value of `defaultDialTimeout` from the [vendor/github.com/appc/spec/discovery/http.go#L31](https://github.com/coreos/rkt/blob/master/vendor/github.com/appc/spec/discovery/http.go#L31) it works perfectly. With the current value of the `defaultDialTimeout` I can reproduce it every time.

Any ideas how to solve thi

[2016-08-02 09:31] lucab commented on #3009
@0xAX can you please verify your network and DNS configuration? I think I have seen a similar bug report, where the root cause was one or more faulty DNS resolvers at the top of `resolv.conf`.

[2016-08-02 09:35] 0xAX commented on #3009
Hello @lucab, right, problem was in `resolv.conf`. Now everything is ok, sorry for noise. I'm closing the issue

[2016-08-02 09:35] #3009 closed

[2016-08-02 09:38] #2971 closed

[2016-08-02 09:47] lucab commented on #3009
@0xAX no problem, nice to see it is solved. Regarding your previous questions, I don't think a `--timeout` flag is feasible as discovery may happen in several places. According to `man resolv.conf` the default timeout for a resolver is 5s, perhaps we may consider a small increase in appc/spec discovery just to cross that bar, but I'm not sure that hiding issues is a good way forward. @iaguis?

[2016-08-02 10:29] iaguis commented on #3009
I agree with that but I checked and Firefox, Chromium, wget and curl work with a bogus nameserver in `resolv.conf` so maybe we should increase the timeout.

[2016-08-02 10:31] lukasredynk commented on #2992
CC @jjlakis @pskrzyns we need a plan how to address those items with kvm flavor.

[2016-08-02 10:52] iaguis commented on #3012
https://github.com/coreos/rkt/pull/3017

[2016-08-02 11:15] blalor opened #3018 "trying-out-rkt: unable to run nginx from docker hub"
**Environment**

[code]

**What did you do?**

`rkt run --net=host --insecure-options=image docker://nginx` from [trying-out-rkt](https://github.com/coreos/rkt/blob/v1.11.0/Documentation/trying-out-rkt.md)

**What did you expect to see?**

Nothing at all, really; `docker run -i -t --rm nginx` produces no output.

**What did you see instead?**

[code]

## investigation

`/etc/passwd` doesn't contai

[2016-08-02 11:53] iaguis commented on #3018
It seems to be a docker2aci bug: https://github.com/appc/docker2aci/issues/189

[2016-08-02 11:53] iaguis commented on #3018
Thanks for reporting!

[2016-08-02 12:49] pskrzyns opened #3019 "Rkt monitor results of start/stop time of different flavors"
**Environment**
rkt - from master
[code]

**What did you do?**
I run 200 iterations for 60s for all stressers and all flavors i.e.

[code]

**Results**
![start](https://cloud.githubusercontent.com/assets/16152568/17328696/70ecdbda-58bf-11e6-920b-d10ce3f72a56.png)
![stop](https://cloud.githubusercontent.com/assets/16152568/17328698/753248e2-58bf-11e6-9d63-c350b4ac5ed0.png)

cc @alban

[2016-08-02 13:17] iaguis commented on #3019
As I mentioned in the community sync, these results seem very strange, 1ms for starting a rkt container is way too fast.

So I checked the code that gathers the stats and I believe it's wrong. It starts the timer [before starting rkt](https://github.com/coreos/rkt/blob/v1.11.0/tests/rkt-monitor/main.go#L116) but [stops it after calling `exec.Start()`](https://github.com/coreos/rkt/blob/v1.11.0/tes

[2016-08-02 16:00] tmrts commented on #2992
@lukasredynk we can also provide feedback if you guys can create a public
tracker issue for KVM flavor even if its incomplete.

On Tue, Aug 2, 2016 at 1:31 PM Lukas Redynk <notifications@github.com>
wrote:

[2016-08-02 16:11] tmrts commented on #3011
@yifan-gu it is my understanding from the documentation and the my
experience with rkt profiling that those flags are for profiling and not
for production. The wording of this issue might be a bit confusing, however
this issue aims to facilitate real-time telemetry workflows (e.g. Heapster)
that has minimal overhead.

Improving and extending the current CPU and Memory profiling flags for more
metr

[2016-08-02 16:18] tmrts commented on #2990
If we were to pursue that solution, the next action item would be to
collect performance metrics on journald proxying performance overhead.

However, we still need to provide a way to access raw logs on disk as well
in case the log aggregator fails, restarts and requires the latest logs.

[2016-08-02 16:26] tmrts commented on #1799
Thank you for the illustration, this is a good representation of what we
can achieve :+1:

We can create a `/rkt` directory perhaps for such cases? I think both of
them are good solutions and I'd be in favor of using a file socket due to
the simplicity.

I believe both solutions are more or less equally portable across different
stage1 flavors (let me know if its incorrect)

[2016-08-02 16:58] squeed commented on #2990
Why do we need to provide on-disk logs? If the user has requested that pod logs be forwarded to an alternative journald destination, isn't that then their responsibility?

This is option 2 in https://github.com/kubernetes/kubernetes/issues/24677

[2016-08-02 19:06] dm0- commented on #3013
For reference, this is due to systemd/systemd@9184ca48ea43e009cd6f379f319926109a30926c.

I've verified it by rebuilding CoreOS and the rkt stage1 file systemd with systemd v231.  The container seems to run normally without the `CPUQuota` setting taking effect.

If upstream doesn't have a fix for us to cherry-pick in the near future, we can undo the relevant part of that commit in our branch before

[2016-08-02 19:35] meganuke19 opened #3021 "s3/swift kinds in rkt's volume flag"
please add the feature,so one could do something like:

[2016-08-02 20:17] euank commented on #3021
Comment from https://github.com/appc/spec/issues/643#issuecomment-237028948 should be duplicated here too :smile:

Basically, I have significant concerns that this should live a level above rkt if at all and, more seriously, that there is not a safe consistent recommended way to create a posix filesystem out of an S3 bucket.

[2016-08-02 20:38] meganuke19 commented on #3021
Hm..  sorry i had not considered s3 & etc object storages as POSIX FS, only as object storage. maybe... adding this as object storage volume type, with certain restrictions?

[2016-08-02 21:25] philips commented on #3000
We may need to consider a way of specifying copy-up or something. I remember making this decision about the pod-manifest a long time ago and it makes sense. But, for CLI options it is a bit weird to not have some munge behavior.

[2016-08-02 22:18] sgotti commented on #2933
@yifan-gu that case covers an application crashing, but what will happen when rkt has some problems preparing/starting/stopping the app? My impression is that using pods like lifecycle (with the assumption that an app when failed cannot be restarted but needs to be trashed and recreated) will ease and prpbably required by the rkt model.

Perhaps I'm missing something and if this is really needed w

[2016-08-02 22:32] euank commented on #3011
Ref https://github.com/google/cadvisor/issues/1050 since the conclusion will likely relate to what the best path for kvm-stage1 integration is

[2016-08-02 23:13] euank commented on #3021
Since a volume type is ultimately going to be exposed as a path in the application, I'm not sure how you'd restrict it to not be a filesystem. Mind clarifying further what you mean?

What is the use-case where you'd like to use a rkt-exposed interface to S3 rather than the AWS-provided client-library for your language of choice? (including the aws cli if your language of choice is bash :)

[2016-08-02 23:59] steveeJ commented on #2230
@klingtnet IMO this is going beyond the scope of rkt but I checked it out anyway. Gogs supports [configuration parameters for the server](https://gogs.io/docs/advanced/configuration_cheat_sheet#server-(server)), namely `HTTP_ADDR` which you can set to `127.0.0.1` in your case.

[2016-08-03 07:05] #2986 closed

[2016-08-03 07:51] tmrts commented on #1799
cc @alepuccetti

[2016-08-03 08:21] lucab commented on #3000
I agree that the behavior may look surprising for casual users, but CLI seems quite consistent: `--pod-manifest` also overrides all other per-app CLI switches, so it makes sense that its content behaves as the final runtime manifest.

I guess we may split this bug in two tasks:
 * [ ] document that `--pod-manifest` specifies a `runtime manifest`, which has the highest priority and overrides any ot

[2016-08-03 08:33] lucab commented on #2777
Bump, @jjlakis any chance you can have a look at this?

[2016-08-03 09:49] jellonek commented on #2777
I see no other way to support this than running hypervisor engine (lkvm, qemu) by other process, and then collect status from remains of pod as this is already done by rkt status. So rkt binary would not exec directly to hypervisor engine, but to this overlapping helper binary. This looks annoying but seems to be very simple in implementing...
Imo this binary should be statically linked C program,

[2016-08-03 10:09] #2980 closed

[2016-08-03 10:31] pskrzyns commented on #3019
@jjlakis @mzylowski @dkrzyszczyk looks like we need additional fixes to rkt-monitor

[2016-08-03 13:02] jonboulle commented on #1305
@lsm5 is that a rkt-related issue or just a general RPM/systemd upgrade
problem?

On 1 August 2016 at 21:47, Lokesh Mandvekar <notifications@github.com>
wrote:

[2016-08-03 13:06] sgotti commented on #2973
Some simple benchmarks to test the required multiple db open/close calls (https://github.com/sgotti/benchqldb):

[code]

So looks like that just opening/closing the db using an empty (RO for bolt) transaction takes much less with bolt (with a bolt RW but empty tx it takes much more probably just due to the tx setup). Since the db will be opened and closed at every call (due to the multi process lo

[2016-08-03 13:29] jonboulle commented on #2229
@f0 is @jellonek's comment what you are suggesting?

[2016-08-03 14:55] JackieKu opened #3022 "The iptables rules generated by rkt is hard to cooperate with other tools/scripts."
Rkt currently (1.11.0) generates chain names are _fairly random_, and are directly attached to built-in chains. I have shell script to that generates a bunch of non-trivial iptables rules, and it cooperate with other applications by saving & restoring the chains they generated. This works fine for every apps I ever engaged so far, they creates a set of static chain names and insert their own rules

[2016-08-03 16:13] alban commented on #2956
systemd-v231 is released and merged in coreos-overlay. But CoreOS is not yet released with it yet. Moving to next milestone.

[2016-08-03 16:49] lsm5 commented on #1305
just a systemd upgrade problem, not a rkt problem

[2016-08-03 16:52] alban commented on #3022
This was done by https://github.com/containernetworking/cni/pull/168 to limit the size of the chain name. There was a discussion to add more context in the iptables comments. I don't know if this was done.

/cc @steveeJ

[2016-08-03 16:57] f0 commented on #2229
@jonboulle  yes

[2016-08-03 19:18] meganuke19 commented on #3021
i think, use the as webdav-path for application for example. Approved methods are GET/PUT/PROPFIND also for example.
If i can't find better methods, i wiil use this :) but me seemed method over volume, restricted only approved methods is more true.

[2016-08-04 01:55] tjdett opened #3025 "Incorrect layer used with Docker images"
When rkt runs some Docker images, it exposes files which are not from the uppermost layer of the Docker image.

I've confirmed this behaviour with  [dit4c/dit4c-container-openrefine](https://hub.docker.com/r/dit4c/dit4c-container-openrefine/) and [dit4c/dit4c-container-base:alpine](https://hub.docker.com/r/dit4c/dit4c-container-base/). (The latter is a parent of the former.)

This sounds like it's

[2016-08-04 06:06] lucab commented on #3025
This seems to be https://github.com/appc/docker2aci/issues/189

Can you check if https://github.com/appc/docker2aci/pull/190 fixes this for you? You may need to build a patched docker2aci first, use it to convert your container to an ACI image and then run it.

[2016-08-04 06:50] tjdett commented on #3025
@lucab I've confirmed that appc/docker2aci#190 fixes this problem for both images.

[2016-08-04 07:08] lucab commented on #3025
@tjdett Thanks for confirming. We'll queue this up in upcoming 1.12.0.

[2016-08-04 07:21] lucab commented on #2567
Demilestoned, tracked via #2880.

[2016-08-04 07:29] lucab commented on #2694
@euank is this something we should be concerned of? It seems to push toward point 3) or 4) from your suggestions.

[2016-08-04 07:48] lucab commented on #1464
This still needs a newer appc tag.

[2016-08-04 07:56] lucab commented on #2329
@squeed SGTM.

[2016-08-04 07:56] lucab commented on #2329
Nothing interesting to see here anymore, demilestoning.

[2016-08-04 07:57] lucab commented on #2962
Tracked via #2983.

[2016-08-04 08:03] lucab commented on #2874
Tracked via #2983.

[2016-08-04 11:02] #3003 closed

[2016-08-04 11:02] #3018 closed

[2016-08-04 11:02] #3025 closed

[2016-08-04 13:16] lucab commented on #3012
Closed via #3020.

[2016-08-04 13:16] iaguis commented on #3012
Still some work to do here for the next milestone.

[2016-08-04 13:17] jonboulle commented on #2800
cross link #3010

[2016-08-04 14:52] lucab commented on #3013
Fixed upstream:
 * https://github.com/systemd/systemd/pull/3886
 * https://github.com/coreos/systemd/pull/55

We'd want to align on next alpha.

[2016-08-04 16:01] lucab commented on #3005
This definitely makes sense, and would be a nice UX improvement. @CyBeRoni, do you want to make a try at it?

[2016-08-04 16:42] mzylowski commented on #3019
I will prepare PR with some improvements of rkt-monitor in next week.
For now this issue can be assign to me.

[2016-08-04 19:01] squeed commented on #2044
After talking with @steveeJ, here is my proposal for how DNS should work.

In order of precedence:

1. the `--dns` flags at runtime. I intend to add two new special values for the `--dns` flag:
  * `--dns=host`: bind-mount the host's `/etc/resolv.conf` in to the pod
  * `--dns=none`: Do not manage DNS at all, letting each application manage it.

  Passing multiple `--dns{-opt|search}` flags when o

[2016-08-04 20:05] monder commented on #2044
What do you mean by 'magic'?

So basically if I just run `rkt run --net=default,net1`, the `resolv.conf` will come from `net1` because the `default` has no configuration, right?

And does that mean that if I don't specify any third-party CNI, there will be no dns, and I should always enable it via `--dns=host` explicitly?

[2016-08-04 20:38] squeed commented on #2044
@monder

The standard meaning of `--dns=1.2.3.4` is to create an `/etc/resolv.conf` with `nameserver 1.2.3.4`. I'm proposing overloading this flag with some non-IP options. That's what I mean by 'magic' values.

Correct, but be careful. Rkt's network ordering *always* comes from the lexicographic ordering of the network configuration files. The order specified on the command line has no effect. Th

[2016-08-05 00:07] yifan-gu opened #3029 "rkt prepare should copy pod manifest into pod dir?"
If pods fail at `rkt prepare --pod-manifest` (e.g. the image is malformed), then rkt doesn't copy the pod manifest into the pod dir today.

Later, when queried with filters, rkt api service cannot return the pod because it doesn't have the pod manifest.

Thus the zombie pod stays there until someone runs `rkt gc` manually.

Besides, such zombie pods don't appear in `rkt list` as well.

[2016-08-05 07:27] sgotti commented on #3029
@yifan-gu  I think that you shouldn't rely on the pod manifest being available in a prepare failed pod since preparing a pod may fail in multiple code points and it can't be assured (or not possible) that a pod manifest will exist (machine reboot, rkt killed etc...).

The current lifecycle (https://github.com/coreos/rkt/blob/master/Documentation/devel/pod-lifecycle.md)
 is good at handling all of

[2016-08-05 07:51] sgotti opened #3031 "rkt garbage collections handling proposal"
There are many places inside rkt that needs some form of garbage collections for different cases.

Garbage collection can be sometimes mitigated with good cleanup inside the code but cannot be completely avoided since they usually cover multiple non atomic operations and a process can be killed, segfault, the machine can reboot, panic etc...). Another need for garbage collection is when different

[2016-08-05 09:59] sgotti commented on #3029
#3031

[2016-08-05 13:11] iaguis commented on #3031
So we would have `rkt gc` which will clean up everything, with some subcommands/flags to clean up only specific things and then `rkt image cleanup` (or should we keep gc?) to remove images older than X time. Then the treestores will be GCd with `rkt gc`.

Is that what you're proposing?

[2016-08-05 14:06] sgotti commented on #2890
I'd like to put some points on this since it covers different areas.

On the logical side the image store and the treestore are completely decoupled and can be managed (for ex. removed) independently from each other.

One point that will connect them toghether is for size reporting. What's the size of an image? This is a tricky point:

* Just the size of a single ACI
* The size of an ACI + all its

[2016-08-05 14:11] sgotti opened #3034 "ACI treestore gc enhancements"
I'd like to propose two different changes on treestore cleanup:

* Change treestore gc moving it outside `rkt image list` as a global gc function (#3031).
* Do treestore gc of all the "old" not referenced (by some pods) treestores for that specific ACI. An old treestore is the one that has a different treestore ID that the one calculated at the time of the gc call (this means that some dependencie

[2016-08-05 14:11] sgotti commented on #3031
@iaguis correct

[2016-08-05 14:35] jonboulle commented on #2940
changed the title and assigned this to @s-urbaniak to follow up per https://github.com/coreos/rkt/issues/2940#issuecomment-233245904

[2016-08-05 15:14] lucab commented on #3031
I'm not sure I've correctly understood this. It seems to be like a good example of your general proposal: a specific subcommand to cleanup specific resource (images), and the same routine can be re-used by the umbrella `rkt gc`. I fear you are trying to express a slightly different proposal perhaps?

What is the integration point between these two components? Will `gc` subcommand be directly golan

[2016-08-05 15:40] sgotti commented on #3031
yeah, this can be confusing. My thought was that, despite `Remove leftover data` and other points like `exited/prepare failed pods`, `remove old treestores` that will be needed to prevent an incremental increase of internal rkt unused data not under the direct control of the user, the `rkt image gc` can be an user choice, it could also choose to keep the images forever if it wants (also if I prefe

[2016-08-05 15:55] #2962 closed

[2016-08-05 20:50] euank commented on #2694
In rktnetes no-op plugin mode it uses rkt's cni directory, so you should be able to set them via configuration in `/etc/rkt/net.d`... except for the issue that the network is hardcoded as `rkt.kubernetes.io` and rkt's CNI support only will execute a single config file for a given network name, resulting in having to choose between tuning or bridge/flannel/real-networking.

Supporting this in `no-o

[2016-08-08 10:40] jonboulle commented on #2229
@squeed think you could do a preliminary investigation of this?

[2016-08-08 10:41] jonboulle commented on #2843
now https://github.com/coreos/coreos-overlay/pull/2106 is done, can we do this?

[2016-08-08 10:44] iaguis commented on #2843
There's no release with it yet.

[2016-08-08 10:48] jellonek commented on #2229
Case should be more or less like:
- if there is `--dns` flag - use it, else
- if there is process bound on udp `127.0.0.53:53` - use `127.0.0.53` like `--dns` flag value.

[2016-08-08 11:27] sgotti commented on #3000
I agree with @lucab plan.

Reading the [pod manifest description](https://github.com/appc/spec/blob/master/spec/pods.md) looks like when providing the image name and labels the tools should also do discovery/fetching and then populate the imageID with the correct one. This is limited to appc discovery only (like dependency resolution).

[2016-08-08 11:39] sgotti opened #3039 "Extend pod manifest to accept other image formats"
This is a cross issue but I'm opening it in rkt since it looks like a pod manifest extension to the appc pod manifest definition.

To run OCI images there's no need to implement the [OCI runtime spec](https://github.com/opencontainers/runtime-spec) but like already done by docker2aci the [OCI image config](https://github.com/opencontainers/image-spec/blob/master/serialization.md#image-json-field-d

[2016-08-08 11:42] tmrts commented on #3011
@jonboulle per the label `needs/more-information` you applied, does it require information from my side? can you elaborate?

[2016-08-08 11:45] tmrts commented on #3010
Labels are meant to be used for identification, whereas annotations are for metadata. We can get away with using annotations as labels and as annotations, but drawing a line with separate types would make the intention clear. Similar to the Kubernetes labels vs annotations.

[2016-08-08 11:49] tmrts commented on #2990
@squeed the problem with the 2nd solution is that I/O resource limits and isolation for logging is not doable with the Journald

[2016-08-08 15:28] lucab commented on #3000
@sgotti I had the same idea, however in the spec `imageID` is required while the other fields you mentioned are just optional (correctly IMHO), so this won't work with my proposal as it is worded right now (only required keys). That's why I'd like to know from @eyakubovich and @philips , are the resulting constraints above (in-store, refer by hash) fine for your usecases?

[2016-08-08 15:48] lucab commented on #3039
I have to say I'm not a great fan of this kind of conversions (because there are always small crucial details going missing during translation) and blurring the lines between different specs (because of bugs caused by different semantics).

Is the goal here some kind of interim solution? Otherwise, I'd like plan instead for the long-term and and see how rkt could handle ACI and OCI natively and ru

[2016-08-08 15:59] sgotti commented on #3039
I should have added this but also oci runtime does a conversion from the oci image config to the runtime config (see the oci runtime spec README diagram and https://github.com/opencontainers/image-spec/blob/master/image/config.go#L93). So this is needed. It's just a conversion to an appc manifest and rendered image instead of to an oci bundle.

IMHO no.

That why I said the OCI is made by multiple

[2016-08-08 21:41] pquerna commented on #2957
FWIW, we have a rkt run w/ fly stage1, and `rkt enter` would be very helpful for debugging.  We have ~14 volumes mounted (yeah, yeah, yeah...), and we can manually construct a rkt run that runs a shell, that is kinda close enough, but direct rkt enter would be great.

[2016-08-09 01:10] yifan-gu commented on #2973
@sgotti Great job!

[2016-08-09 01:31] euank commented on #2990
You do end up getting isolation if you want since the journal does live in the pod's cgroup (so blkio limits will apply afaik).

@squeed unfortunately, the general consensus on that issue is towards not-option-2 I think.
My understanding of the issue is that the desired outcome is a known path with a known format (determined by the kubelet, likely raw lines with timestamps) for stderr/stdout, and

[2016-08-09 09:33] alban commented on #2874
#2888 and #2983 are merged.

This now works with `--insecure-options=paths`:
[code]

[2016-08-09 09:33] #2874 closed

[2016-08-09 09:42] kayrus opened #3040 "docs: XFS support prerequisites"
When rkt var-lib-rkt is located on the XFS which was created with the `ftype=0` rkt can not run containers.

There should be an information in docs regarding XFS, that you have to create fs with the `-n ftype=1` option to avoid error messages below:

[code]

raw mount commmands:

[code]

[2016-08-09 10:35] alban commented on #3040
I didn't know what is d_type. It is explained in (man readdir](http://man7.org/linux/man-pages/man3/readdir.3.html).

Does it worth adding a call to `readdir()` in rkt to detect this issue, so this can return a better error message than "invalid argument"? That would be more discoverable than mentioning it in the docs...

[2016-08-09 10:56] jellonek commented on #3040
IMO adding a call to `readdir()` improves usability (a lot), but a place with information what is required _before_ preparing to run rkt is still important.

[2016-08-09 14:03] lucab commented on #3000
Related: https://github.com/coreos/rkt/pull/1326

[2016-08-09 14:32] lucab commented on #2990
#### Raw braindumping

To avoid fiddling with journald, rkt may leverage [a systemd-journal-upload service](https://www.freedesktop.org/software/systemd/man/systemd-journal-upload.html) and hand-over logs to whatever k8s component wants to handle them (both stdout/stderr and syslog together). Depending on the intended design, this could be an additional service running either per-pod (in stage1, a

[2016-08-09 16:41] lucab commented on #3039
I agree with this, but not with the rest of the proposal. Braindump: I'm starting to wonder if we should derive (or maybe just evolve?) a simpler template manifest starting from current appc pod manifest schema, which we can use to stitch together multiple apps or (runtime+image) configs.

[2016-08-09 18:57] sgotti commented on #3039
I'm not sure I completely got a part of this. I see two different things in your proposal:

* design a new pod template that will handle multiple image formats. I can see this useful if we want to handle multiple distribution types (instead of only appc disoxcery) with a provided template part.

*) Are you suggesting to just directly use the OCI image (not runtime) provided config and make stage1

[2016-08-10 02:17] vcaputo opened #3043 "rkt litters / with mcs state files when selinux is enabled"
https://github.com/coreos/rkt/blob/master/pkg/label/label_selinux.go#L37
calls
https://github.com/coreos/rkt/blob/master/pkg/selinux/selinux.go#L415
calls
https://github.com/coreos/rkt/blob/master/pkg/selinux/selinux.go#L348
before
https://github.com/coreos/rkt/blob/master/pkg/label/label_selinux.go#L57

So mcs files get created before the mcsdir is set, mcsdir default is "", so they land in /.

[2016-08-10 04:16] vcaputo opened #3044 "`rkt gc` doesn't clean up mcs state files for exited containers"
These mcs state files currently accumulate until reboot, and I don't think that's necessary unless exited containers may get restarted using the same context or something?

If gc integration of mcs state reclamation is appropriate, it's not happening currently.

[2016-08-10 08:26] lucab commented on #3044
Partially related: https://github.com/coreos/rkt/issues/3031.

[2016-08-10 11:06] alban commented on #3040
I can detect whether the filesystem supports d_type with the following. I would like to add detection code in the overlay pkg (common/overlay/overlay.go).

[code]

[2016-08-10 12:06] hightoxicity opened #3048 "Been able to turn on tcp_fastopen in a pod"
I'm currently running rkt (1.3.0) on a coreos (1010.6.0)

rkt Version: 1.3.0
appc Version: 0.7.4
Go Version: go1.6
Go OS/Arch: linux/amd64
Features: -TPM
--
Linux 4.5.7-coreos x86_64
--
NAME=CoreOS
ID=coreos
VERSION=1010.6.0
VERSION_ID=1010.6.0
BUILD_ID=2016-06-28-0910
PRETTY_NAME="CoreOS 1010.6.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/

[2016-08-10 12:51] sedalu commented on #2452
Would you prefer a direct mapping to the fmt.Print[f|ln]? functions? Or a single function that behaves like fmt.Printf if the first argument is a string, and like fmt.Println if the first argument is not a string?

[2016-08-10 12:55] lucab commented on #3048
According to https://github.com/torvalds/linux/blob/v4.7/net/ipv4/sysctl_net_ipv4.c#L668, `tcp_fastopen` is not namespace aware. It can be tweaked (globally) by running your pod in the host network namespace (eg. via `--net=host`).

[2016-08-10 13:00] krnowak commented on #2432
The failures of the TestSocketProxy test on the fedora rawhide distro are likely because of a race between the echo server and the systemd-socket-proxyd. The latter is set to require the echo server and to start after echo server is ready. But currently nspawn sends the ready notification before inspect binary in the echo server has a chance to run and set up communication channels. So proxy daemo

[2016-08-10 13:00] iaguis commented on #2432
I'm disabling the test for now: https://github.com/coreos/rkt/pull/3049

[2016-08-10 13:01] krnowak commented on #2432
Also, the documentation at https://github.com/coreos/rkt/blob/master/Documentation/using-rkt-with-systemd.md#bidirectionally-proxy-local-sockets-to-another-possibly-remote-socket will likely need some fixes to reflect what I said above.

[2016-08-10 13:35] hightoxicity commented on #3048
Thanks for your response!

[2016-08-10 13:36] richm commented on #2990
@tmrts

Do you have some documentation about the throughput overhead of journald?

[2016-08-10 13:42] alban commented on #2452
I am convinced it would improve the readability. `os.Exit` is easily understandable because it is part of the Golang standard libraries. With `exit.Success`, readers will have to lookup that package. And this is just saving one line of code.

[2016-08-10 13:55] iaguis commented on #1464
¬¬'

[2016-08-10 14:16] krnowak opened #3051 "Drop Fedora 22 from testing on Jenkins"
Fedora 22 has reached an end of life on 19th July, 2016, so we should consider dropping it from Jenkins.

[2016-08-10 14:54] lucab commented on #3051
Only the src flavor or completely? It still helps us discerning flakes and spotting if we break runtime compatibility.

[2016-08-10 15:03] iaguis commented on #3051
For now I just disabled the src flavor for Fedora 22.

[2016-08-10 15:15] jonboulle commented on #3048
Do we need to document this, or is it too niche? if so, shall we close it out?

[2016-08-10 15:19] lucab commented on #2694
Another usecase pushing for 3 or 4: tweaking non-namespaced net sysctl endpoints.

Reference: https://github.com/coreos/rkt/issues/3048#issuecomment-238857708

[2016-08-10 15:28] krnowak commented on #3051
I was rather thinking about dropping it completely. I'm not sure what do you mean by runtime compatibility - accidentally requiring the newer version of some library than as listed in documentation about dependencies?

And flakes are flakes, I don't think they will magically resolve themselves by upgrading the distro to the latest and greatest.

All in all, I just don't think that it is worth to s

[2016-08-10 15:29] sedalu commented on #2452
I'm planning to include `exit.SetCode` and `exit.SetOutput` to allow setting the exit code used for `exit.Error` and output destination. These would help with issue #2622 (adding a quiet mode).

Any comment on my question above?

[2016-08-10 15:37] lucab commented on #2751
@pbx0 gentle ping in case you missed the new pod-level insecure-flags in https://github.com/coreos/rkt/pull/2983.

[2016-08-10 16:04] jonboulle commented on #3029
+1. Since we report something about failing to deserialise bad pod manifests during rkt list, we should probably do similar for missing manifests? And the corresponding API calls will need to decide how to deal with corrupt pods.

[2016-08-10 17:36] euank commented on #2452
I agree with @alban; I don't think it improves readability to introduce a new concept and save 1 line of code.

In addition, there are already several uses of `log.Fatal*` which accomplishes this already, and more likely to be familiar to readers already. Perhaps this issue should be to choose consistent choice between those two options?

I also think that running quietly is somewhat orthogonal to

[2016-08-10 21:15] squeed commented on #2229
I did some quick research. The current systemd documentation states:

Given this, I'm not sure we're going to want to encourage its use. Nonetheless, we may wish to enable the stage1's resolved.

[2016-08-11 07:18] #3043 closed

[2016-08-11 09:49] lucab commented on #3031
Related (abandoned?) PR https://github.com/coreos/rkt/pull/2047

[2016-08-11 09:57] jellonek commented on #2229
Please look on previous comments in discussion.
Statically linked programs in golang do not use glibc nss, and this is why this discussion was going.

[2016-08-11 09:58] sgotti commented on #3031
Yes, also if that was related to just pod GC adding fine grained selection of which pod GC function to execute.

[2016-08-11 10:45] iaguis opened #3054 "functional tests: add a better test for export"
Following up on https://github.com/coreos/rkt/pull/3030, we should create a test that exports an image from a pod with several apps doing something like what was mentioned in https://github.com/coreos/rkt/pull/3030#issuecomment-238188787

[2016-08-11 10:45] iaguis commented on #3054
@tjdett do you want to give it a shot?

[2016-08-11 13:19] alban opened #3056 "stage1: follow up with #3027: DevicePolicy= and DeviceAllow="
Capturing some comments I added on https://github.com/coreos/rkt/pull/3027 but too late. Some minor issues and one failure with user namespaces.

/cc @iaguis

[2016-08-11 13:52] sgotti commented on #2660
related to https://github.com/coreos/rkt/issues/2890#issuecomment-237859449

just lost this. @alban @yifan-gu where do you prefer to continue the discussion?

[2016-08-11 13:59] lucab commented on #3048
I forwarded this as a kernel feature request [#151951](https://bugzilla.kernel.org/show_bug.cgi?id=151951) and noted that we should take similar cases into account for the sysctl rework, as the tuning plugin doesn't work with host networking.

This specific case seems too nichey to document and it may go away once/if `tcp_fastopen` gets namespaced, thus closing.

[2016-08-11 13:59] #3048 closed

[2016-08-11 14:02] jonboulle commented on #3011
@tmr

[2016-08-11 14:14] krnowak commented on #2531
What is the issue exactly? No `/usr/lib/systemd/systemd` in the stage1 image? How can I reproduce it?

[2016-08-11 14:14] sgotti commented on #2491
Since #2960 has been reverted I'd like to focus on the @robszumski proposal in https://github.com/coreos/rkt/issues/2491#issuecomment-214510111 since it'll be probably the best way to go for handling multiple image types (see OCI native integration with a CAS + reference based store).

Working on an almost ready initial implementation I'd like to keep the `rkt image list` UX clean.
Since ACI and O

[2016-08-11 14:17] lucab commented on #3056
It looks like we may be missing a testcase around the failure you spot.

[2016-08-11 14:22] jonboulle commented on #2531
@krnowak not sure, it turns up intermittently when re-building without blowing away the build directly. Maybe just try a few consecutive builds of the kvm stage1? or one failed build followed by one build that should succeed

[2016-08-11 14:51] squeed commented on #2044
As a followup, it seems like `rkt-resolv.conf` generation / management will have to be moved to the stage1s. We shouldn't be doing bind-mounts in stage0, especially with a view to cross-platform.

[2016-08-11 18:24] jellonek commented on #2531
I can't remember exact procedure to reproduce this bug, but i'm pretty sure that it was connected with rerunning `./configure` and `make` without `make clean`.

[2016-08-12 04:41] euank opened #3060 "api-service: slow for machined-incompatible stage1s"
Currently, the `api_service` code, as of #2788, waits 500ms for a pod to register with machined prior to returning a result.

Some containers, such as ones using stage1-fly, or those using stage1-coreos on systems that do not support such registration, will not ever be registered.

This results in a latency of 500ms per fly pod when calling e.g. the `ListPods` operation... which is, needless to sa

[2016-08-12 09:04] lucab commented on #2491
@sgotti :+1: on the latest proposal, barring a sane definition of "common image properties".

[2016-08-12 10:03] lucab commented on #3060
It looks like we should be addressing two issues here.

If registration support is missing for a specific stage1, it should have a way to specify that (eg. via an annotation) so that stage0 is aware and can prepare the environment to avoid useless delays in api-service.
The situation at the moment is a bit messy, as stage1-coreos and stage1-host self-register, while stage1-fly and stage1-kvm are n

[2016-08-12 10:31] alban commented on #3060
I think @euank's PR #3061 will reintroduce the race that the api service returns the wrong cgroup path (#2778) when a rkt pod is started from the command line. But in k8s, rkt pods are never started from the command line but as systemd services instead. So the race should not be visible in Kubernetes.

Doesn't cadvisor rely on getting the correct cgroup path?

[2016-08-12 10:36] alban commented on #3060
Systems without systemd-machined >= v216.

The code for probing the D-Bus interface already exists in [machinedRegister](https://github.com/coreos/rkt/blob/v1.12.0/stage1/init/init.go#L142).

[2016-08-12 11:59] lucab commented on #3060
(for context, this seems to have spawned from here https://groups.google.com/forum/#!topic/coreos-dev/afwEjwEMlPE)

[2016-08-12 12:28] jonboulle commented on #3051
I tend to agree with @krnowak; but on @lucab's point about tracking
compatibility, perhaps we could base that around some LTS distro?

On 10 August 2016 at 17:28, Krzesimir Nowak <notifications@github.com>
wrote:

[2016-08-12 12:36] lucab commented on #3051
Spotting whenever we start depending on something new implicitly (glibc, systemd, transitive dependencies, etc)

I was not speaking about solving them, I was saying that it is nice to have a baseline (ie. other non-flaking builds) to *spot* flakes.

[2016-08-12 13:02] lucab commented on #3000
Related appc discussion: https://github.com/appc/spec/issues/627

[2016-08-12 13:50] krnowak commented on #3051
Then it sounds like ubuntu trusty (14.04) and xenial (16.04) may be good replacements for fedora 22. But I'm not sure - trusty may be a bit too old, and xenial - too new. ;)

[2016-08-12 16:03] lucab commented on #2524
ping @nstott

I'm also quite confused by your whole setup and what you are trying to achieve. Would you mind posting somewhere the image you are using, the commands you use to run and kill it, and how/where the current execution differs from your expected outcome?

[2016-08-12 17:19] nstott commented on #2524
@alepuccetti sorry, it's not actually container inception, that was me being unclear..
we run redis in a container, as a foreman process

[2016-08-12 17:21] nstott commented on #2524
@lucab,
I'm trying to shutdown a container, and let the database quiesce, which it currently doesn't do

when i shut down a rkt container, the processes inside are hard killed, and not allowed to shutdown gracefully

[2016-08-12 17:26] euank commented on #3060
If so, only indirectly (by getting the pid and getting it from there) as best I can tell.

The immediate issue is that mixing in `stage1-fly` pods ends up with the api-service very quickly hitting the configured grpc timeout, and things don't get better from there.

The solution of a stage1 annotation is probably the cleanest way to solve the immediate problem, but I think this issue is something

[2016-08-12 18:41] nstott commented on #2524
so I haven't tested this in a while, it seems to be working as expected on the latest rkt using `rkt stop`, so this issue can probably be closed

what i was doing, was using a file like this, which should pretends to do some work after getting a signal,

[code]

running this, and issuing a `rkt stop ..` gives me something like
[code]
which is good..

what i was seeing before, when stopping contain

[2016-08-12 18:41] #2524 closed

[2016-08-12 19:48] euank commented on #3060
After discussing with @yifan-gu, I'd like to figure out if we can just write the cgroup the pod should be expected to be in ahead of time in pretty much all cases.

Each stage1 could be required to write a "cgroup" file in its root which specifies information about what its cgroup root will be. In general, it could just write its current cgroup, but machined based stage1s could write the cgroup it

[2016-08-13 04:39] hightoxicity commented on #3048
Thanks guys, you rock!

[2016-08-14 11:10] hamhut1066 opened #3065 "Network Issues: veth pair: operation not supported"
**Environment**

[code]

**What did you do?**

I was running through the [Getting Started Guide](https://coreos.com/rkt/docs/latest/getting-started-guide.html). I managed to build an aci using `acbuild`.

When Running `rkt --insecure-options=image run hello-0.0.1-linux-amd64.aci`, I got an error.

**What did you expect to see?**

I expected to see the output of the container successfully starting

[2016-08-15 09:41] HuKeping commented on #1901
Hi @steveeJ do you think #3068 could cover this?

[2016-08-15 09:47] lucab commented on #3056
This has been fixed by https://github.com/coreos/rkt/pull/3058

[2016-08-15 09:47] #3056 closed

[2016-08-15 09:47] HuKeping opened #3069 "Fix Go-Report-Card"
Get it to 100% across the checking if #3068 was acceptable.

[2016-08-15 09:51] lucab commented on #3021
I agree with both comments from @euank (this is probably not the proper place, plus it may not have the semantic you'd expect), thus we are probably not going to implement this. Closing.

[2016-08-15 09:51] #3021 closed

[2016-08-15 11:40] lucab commented on #2877
Visiting for triage. @yifan-gu I guess for the moment we are fine just with the two caching-related PRs?

[2016-08-15 11:43] lucab commented on #2800
I've tried to re-spin the discussion on journald side, but the proper solution to this may take longer than expected due to missing components on the process->kernel->journald path. If k8s already has all the information it needs, IMHO this is simpler to implement on that side.

[2016-08-15 11:56] lucab commented on #3065
I'm not completely sure what's going on here, but I'm not able to reproduce this and it may be something specific to your host. A couple of information which could be helpful in tracking this down:
 * what's the content of `00-default.conf`?
 * it looks like some syscall may be falling here. Can you please `strace -f` this rkt run and post the output?
 * something may be missing on the kernel side

[2016-08-15 12:26] s-urbaniak commented on #2959
Let's close this then.

[2016-08-15 12:26] #2959 closed

[2016-08-15 13:26] jonboulle commented on #2973
#3071

[2016-08-15 13:43] lucab commented on #2777
I see. I was probably too optimistic asking for stage1 to just bubble-up the return value from systemd, but skimming a bit I realized lkvm/bzimage have no concept of a return value (uml has, though).

Thinking a bit more on this, the binary wrapper may not even be such a great solution because we don't want to introduce another long-running component, and it will miss anyway errors from failed sta

[2016-08-15 17:41] yifan-gu commented on #2877
Yes. Closing for now. We can move follow up discussion in changing the storage backend #2973

[2016-08-15 17:41] #2877 closed

[2016-08-16 01:22] b-ramsey opened #3074 "Seccomp filters require syscalls not called by application binary"
**Environment**
rkt Version: 1.12.0
appc Version: 0.8.5
Go Version: go1.6.2
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL
--
Linux 4.6.5-300.fc24.x86_64 x86_64
--
NAME=Fedora
VERSION="24 (Workstation Edition)"
ID=fedora
VERSION_ID=24
PRETTY_NAME="Fedora 24 (Workstation Edition)"
ANSI_COLOR="0;34"
CPE_NAME="cpe:/o:fedoraproject:fedora:24"
HOME_URL="https://fedoraproject.org"
BUG_REPORT_URL="htt

[2016-08-16 07:36] l1x commented on #1305
Hi guys, we would like to try rkt as an alternative to Docker but without official RPM support it is not going to happen. Is there any chance that you provide RPMs to CentOS/RedHat users any soon (in 2016)?

Thank you in advance.

[2016-08-16 08:54] s-urbaniak commented on #3039
The referenced conversion https://github.com/opencontainers/image-spec/blob/master/image/config.go#L93 is code from the oci-image-tool which does not implement a runtime (as rkt does) and as @lucab mentions already blurries the lines between the image manifest and the runtime spec.

When I was implementing this conversion routine I indeed had a lot of question marks about the correctness/valid con

[2016-08-16 09:17] sgotti commented on #3039
@s-urbaniak we talked with @lucab and @jonboulle on this on #rkt and also outband with @lucab so I tried to explain the rationale.

We should distinguish betweebln the image format and the runtime config (like oci is doing).
If you are talking about image formats its current rkt state (oci images converted by docker2aci to an ACI), sticking with this will drop all the ideas and work around native

[2016-08-16 09:45] lucab commented on #3074
Thanks for the report. There are some additional syscalls that are need during a process lifespan, but these should be already [implicitly whitelisted](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#SystemCallFilter=). I also checked if rkt has any interposed shim using this one, but I didn't find any.

So this may be a bug in how systemd sets up apps in stage1, or something el

[2016-08-16 12:58] lucab commented on #3074
I think I was able to reproduce it separately, with a simple alpine image running a random binary.

Running the container as:
[code]

in the relevant thread I'm observing this:
[code]

This is already well within stage1 systemd setting up the application. I was looking for culprits between seccomp setup and the execve [there](https://github.com/systemd/systemd/blob/v231/src/core/execute.c#L2430) b

[2016-08-16 13:56] s-urbaniak commented on #3039
OK, I needed an OOB discussion locally to catch up with this ;-) So not to confuse things further I now also agree to support referencing OCI image manifests by the pod manifest app ImageID.

[2016-08-16 14:18] ae6rt opened #3078 "./dist/init/systemd/rkt-api.service contains quotes that breaks service start"
**Environment**

[code]

[code]

**What did you do?**

Start rkt with this systemd service definition

[code]
which I obtained from https://github.com/coreos/rkt/blob/v1.12.0/dist/init/systemd/rkt-api.service

**What did you expect to see?**

When I run

[code]

I expect the service to start.

**What did you see instead?**

[code]

Removing the quotes around the listen address in the service defin

[2016-08-16 15:41] hamhut1066 commented on #3065
Hi, I have since reformatted my computer, and installed another operating system, and it seems to be working fine now.

For reference, I checked the 00-default.conf, and copied one of them (from the etcd aci) into my /etc/net.d/ directory. It seemed to be something affecting `systemd_nspawn`. I tried running through the following: [Arch Nspawn Wiki](https://wiki.archlinux.org/index.php/Systemd-nsp

[2016-08-16 15:53] s-urbaniak commented on #3078
Hi, I cannot reproduce this locally, but I have systemd 231 which might have solved this issue. It seems the starting quote is being passed to systemd.

Out of curiosity: can you recheck if `ExecStart=/usr/bin/rkt api-service "--listen=127.0.0.1:15441"` works?

[2016-08-16 15:57] ae6rt commented on #3078
I can confirm that this works:

[code]

[2016-08-16 19:58] lucab commented on #3074
This has been fixed in systemd v231 by https://github.com/systemd/systemd/commit/1280503b7e74cacfa091f7e270a89c5811388c2b.

If you need it right now you can use the "src" stage1 flavor together with systemd-v231, or the "host" flavor if your distribution already has a newer systemd. Otherwise, we will most probably bump it for stage1-coreos in 1.14.0.

[2016-08-16 20:27] lucab commented on #3065
Thanks for the followup. I think we don't have enough elements to track down this one single strange case, which seems anyway related to some specific host state. I'm closing this, but we'll keep an eye open if we spot something similar.

[2016-08-16 20:27] #3065 closed

[2016-08-17 00:52] ae6rt opened #3081 "Add an option to rkt-run to add custom /etc/hosts file entries"
**Environment**
[code]

**What did you do?**

Read the options for *rkt run -h", where -h means "help".

**What did you expect to see?**

An documented option for adding entries to a container's /etc/hosts file.

**What did you see instead?**

I did not see an option for this.

I'm asking for a consideration of adding the equivalent of docker's *--add-host* option.  Sometimes DNS does not contain

[2016-08-17 01:44] HuKeping commented on #3069
As per #3068 , closing.

[2016-08-17 01:44] #3069 closed

[2016-08-17 03:31] HuKeping opened #3082 "Logging: handle logs directly via a new `rkt logs` subcommand"
hi there,

I haven't seen a CLI like `rkt log` or `rkt logs`  that could use to get the container log directly from CLI, I wonder if we plan to add that feature or it does not make much sense since rkt will send logs directly to `stdout/stderr` and we can use `journalctl` for example to get it.

Thanks a lot!

[2016-08-17 07:40] lucab commented on #3082
Hi @HuKeping and thanks for the kind request! At the moment, we are not planning to handle logs directly in rkt. Instead we rely on users to consume `stdout/stderr` or to integrate via `journald`. We have some [docs related to logging](https://github.com/coreos/rkt/blob/v1.12.0/Documentation/commands.md#logging), so just let us know if you spot anything missing.

Do you have any specific use-cases

[2016-08-17 07:44] #3078 closed

[2016-08-17 07:54] HuKeping commented on #3082
Thanks for check in @lucab ! I'm new to rkt and was trying to figure out what rkt can do and can not do at present, and where rkt would like to go. For now I can hardly give out any use cases about `logging`, just find the docker side have it and rkt seems not, so file an issue asking for it :), I'd like to  feekback after talking to my colleague though.

[2016-08-17 08:24] lucab commented on #3082
Understandable. We are currently aware of two small corner-cases that are being document at https://github.com/coreos/rkt/pull/2954, and we'll happily collect feedback if you spot more. I'm closing this, feel free to followup with any other specific issue.

[2016-08-17 08:24] #3082 closed

[2016-08-17 12:04] jonboulle commented on #3081
related: #2223

[2016-08-17 12:11] lucab commented on #3074
For the sake of clarity, I was able to reproduce/see the `getrlimit` calls in my strace (ie. not app termination). The default rkt whitelist already include those, so this is not affecting/terminating normal app lifecycle.

As per the original report, this mainly interferes with users who are doing strict whitelist filters, who need to also account for this in their filters. For this reason, I'm d

[2016-08-17 12:17] lucab commented on #3081
@ae6rt do your containers typically need/come with own hardcoded hosts file? What do you expect `rkt run -h` to do for containers with an existing populated file?

[2016-08-17 12:31] ae6rt commented on #3081
@lucab For now, the option would assist rkt users during development and debugging.  For example, I am debugging the startup of calico networking with this debug script

[code]

For certain reasons, I must use hostnames to refer to the etcd cluster when the cluster is secured with TLS (urllib3, which calico uses for now, does not support IP SANs in certs).  The etcdN hostnames are not yet in DNS,

[2016-08-17 12:54] jonboulle commented on #1305
@l1x would this be predicated on an RPM being in the official Fedora/CentOS repositories or do you just need RPMs that function well on such systems?

[2016-08-17 13:17] s-urbaniak opened #3085 "build: introduce "diagrams" make target"
#2945 introduced some graphviz based diagrams but no way of regenerating them when someone changes the *.dot source files.

A new `make diagrams` target must be introduced.

[2016-08-17 15:33] lucab commented on #2694
Given that we'll need this anyway in appc for a smoother transition to OCI, I started from that side with https://github.com/appc/spec/pull/647.

[2016-08-17 15:35] lucab commented on #2956
Still waiting for next Alpha release.

[2016-08-17 15:38] lucab commented on #1757
Tracked via https://github.com/coreos/rkt/pull/3032

[2016-08-17 15:52] lucab commented on #3029
So we seem to agree that we should **NOT** copy manifest when pod setup fails.

Which other actionable item do we have out of this that can be moved to their own tickets?

[2016-08-17 16:29] euank commented on #2064
In my opinion, any time someone wants to move from `docker --privileged` to `rkt`, the answer is not `rkt fly`, but rather adding support for more granularity in security options for `rkt`.

[2016-08-17 16:48] Quentin-M commented on #2064
Since the `--insecure-options` parameter exists now, I couldn't agree more. Thanks.

[2016-08-17 19:42] mischief opened #3086 "use go 1.6.3 and go 1.7 in travis.yml"
travis no longer supports selecting the latest patch version if you specify only a minor version, so go 1.6 in travis.yml effectively means go 1.6.0. also, go 1.7 should be tested against since it was just released.

[2016-08-17 23:20] achanda opened #3088 "Pulling an image with rkt without running it"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

Trying to pull an image using rkt without running it

**What did you expect to see?**

A CLI option to do that maybe?

**What did you see instead?**

A run subcommand but no subcommand to just pull it

[2016-08-18 00:03] euank commented on #3088
The `fetch` command should do what you want (accessible as `rkt fetch` or `rkt image fetch`).

[2016-08-18 00:06] achanda commented on #3088
I was so hung up on pull that I totally missed `rkt fetch`. Thanks @euank :)

[2016-08-18 00:06] #3088 closed

[2016-08-18 08:02] l1x commented on #1305
It does not matter that much, I just need an RPM that can be installed on CentOS 7.x / RedHat 7.x.

[2016-08-18 12:11] s-urbaniak commented on #3086
- Go 1.7 compatibility is being tackled in #3084, and #3077
- For specifying minor versions I'll set up a PR.

@mischief Do you have a link where they document this setup? I can't seem to find anything here https://docs.travis-ci.com/user/languages/go.

Thanks!

[2016-08-18 12:16] jonboulle commented on #3086
@s-urbaniak I think it's implied how gimme works: https://github.com/travis-ci/gimme

Closing this in favour of #3077

[2016-08-18 12:16] #3086 closed

[2016-08-18 12:32] lucab commented on #2843
Still waiting on an Alpha release.

[2016-08-18 13:03] lucab commented on #2943
Was this a solitary flake? I don't remember having seen this recently, and we didn't do anything in the meanwhile. I'm leaving this open and bumping a couple of milestones forward to re-check at that point.

[2016-08-18 14:06] jonboulle commented on #2973
@sgotti what do you think about putting up the proposals/ doc from #3071 as a PR, which we can review/merge to close this issue, and then consider the implementation in #3071?

[2016-08-18 14:08] jonboulle commented on #2085
@steveeJ if fly counts as a stage1 what is even retained from the contract between stage0 and stage1? There's very little it supports, really. Feel free to throw up a prototype/strawman if you have something in mind.

[2016-08-18 15:12] lucab opened #3091 "TestRktStop on stage1-kvm often fails on SemaphoreCI"
Recently we are seeing an increasing number of failure on SemaphoreCI, while testing stage1-kvm. They are failing on `TestRktStop`, as follows:

[code]

One such example is https://semaphoreci.com/coreos/rkt/branches/pull-request-3090/builds/1

[2016-08-18 15:12] lucab commented on #3091
@coreos/rkt-kvm-maintainers can you please have a look at it? This is now popping up quite often.

[2016-08-19 00:11] tjdett commented on #2576
Unless I've misunderstood where #2952 has headed, it sounds like QEMU will be an additional stage 1 and not a replacement.

Given that, and assuming LKVM isn't being deprecated, then can we take another look at fixing this bug? It's currently a show-stopper for me using hypervisor-contained containers.

[2016-08-19 00:18] tjdett commented on #2650
@jellonek which QEMU branch should I be testing, and is there any likelihood it'll merge soon?

In the meantime, can we document this given LKVM doesn't look like it's going away?

[2016-08-19 07:38] sgotti commented on #2973
@jonboulle The initial implementation, before #3071, was done in #2972 for the new treestore. Is it ok if I take just the boltdb part from it (boltdb vendoring and boltdb manager) in its own PR?

[2016-08-19 08:02] #3054 closed

[2016-08-19 08:46] sgotti opened #3098 "Stage1 should only use the pod manifest and not the image manifests."
The stage1 implementors guide says that only the pod manifest is needed by a stage1 for setting up the apps.
Instead, currently, the various stage1s also need/use the image manifests for different things:

* Needed for choosing the no-volume behavior (empty or docker implicit empty + image contents copy).
* Used for checking if app.Exec isn't empty.
* Used for writing the app.Name in some logs and

[2016-08-19 11:22] kminooie commented on #558
systemd files would be good, also why does it ignore the dns?

[2016-08-22 08:23] lsjostro commented on #2768
@jonboulle still exist in v1.13.0
anyone?

[2016-08-22 09:10] lucab commented on #2768
I had a look at it, and unfortunately I don't have a clear answer for this. When trying to reproduce your setup with 1.13.0, I also observed some strange permission issues which seems related to overlayfs. I also see you are using a quite old kernel when doing this overlayfs-on-overlayfs setup, and I fear it may be confused by root pivoting in that scenario.

Can you please try running with `--no-