[2016-08-22 09:24] s-urbaniak commented on #558
/cc @squeed @steveeJ ^^

[2016-08-22 09:24] jellonek commented on #2576
@jjlakis PTAL
IMO lkvm stage1 should be marked as deprecated ASAP and AFAIK there is no additional ongoing work at Intel side on lkvm.

[2016-08-22 10:16] lucab commented on #2694
Fleshing out some more details for the rkt side, once appc will be ready.

Following docker path, k8s would like the runtime to perform some filtering and fail if sysctl keys are found outside of this namespaced/safe whitelist. I'm not a great fan of this, as this gives a false sense of security/control, the namespaced keys varies between kernel versions and it may get in the way of whatever the u

[2016-08-22 10:17] squeed commented on #2042
To set the domain name, we need to manipulate the entry for 127.0.0.1 in `/etc/hosts`. There are other requests for the ability to modify `/etc/hosts` as well. This is probably dependent on #3081.

[2016-08-22 10:20] squeed commented on #3081
We'll need to munge `/etc/hosts` to set the pod's domain name too. Any solution for this will also need to take this in to account.

My instinct is to solve this the same as `resolv.conf`: we create a `rkt-resolv.conf` in the stage1 rootfs, then bind-mount via `prepare-app.c` in to every app's rootfs. However, this *will* break existing applications that have an `/etc/hosts` in their rootfs. What

[2016-08-22 10:28] sttts commented on #2694
It's less about a guarantee that a sysctl is namespaced, but about being able to tell whether the container runtime did what the pod specification described (fail early).

In kube we have a whitelist in addition which only includes those sysctls which are namespaced **and** resource isolated. We do not (yet) tweak this whitelist by kernel, but might add that in the future if necessary.

[2016-08-22 11:09] monder commented on #3081
It will break applications that have custom `/etc/hosts` file. Most rkt containers, and the ones coming from `docker://` just have `localhost` inside.
I'm for breaking change and better app architecture design. Similar options should have the same behavior. :)

BTW, how does the -h work? Does it also generate and mount /etc/hostname? https://github.com/coreos/rkt/blob/2dac543bf9f594f7a03f76e5abd37

[2016-08-22 11:28] ae6rt commented on #3081
btw, when I originally wrote "rkt run -h", I literally meant I was searching the help output for how to add a custom entry in the container /etc/hosts file.  I was not then proposing that this be the name of the new command line option itself.  The way I read some of the followup comments, I feel I may have been misunderstood.  Hope this helps.

[2016-08-22 15:05] monder commented on #3081
@ae6rt ops, I meant `--hostname`, not help ;)

[2016-08-22 16:45] s-urbaniak opened #3104 "systemd journal compression"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

Entries in the journal log.

**What did you see instead?**

No entries in the log.

[code]

By default stage1 journal creates a `xz` compressed log. If the host has no or only another compression method enabled we will get no journal entries on the host.

We could:

1. make an option to disable journal compress

[2016-08-22 16:51] s-urbaniak commented on #3104
Given we chose 2. we can update the documentation for the next release.

[2016-08-22 16:53] s-urbaniak commented on #3104
/cc @lucab

[2016-08-22 16:54] lucab commented on #3104
For reference, a matching host should have:
[code]

[2016-08-22 20:12] euank commented on #2933
Perhaps we should strongly encourage (and default?) to having a data directory specific to Kubernetes. This would allow the rktnetes code to nuke any pod it can't recognize vs the current state of things where we have to carefully classify "owned" vs "not owned" pods and avoid nuking ones we don't know about.

[2016-08-22 20:52] sgotti commented on #2933
@euank I think that this issue should also cover how to handle garbage for pods not managed by k8s.

Instead I see this related #3029 (my understanding was that a missing pod manifest can't help distinguishing a k8s managed pod from other pods).
I'm not sure how to handle upgrades if the new version changes the datadir since it'll leave old k8s pods unmanaged.

[2016-08-22 23:19] euank commented on #2042
@squeed "need to" or "should"? We can set the domainname and still provide value to anything that expects `getdomainname` to provide some value.

[2016-08-22 23:46] derekmahar commented on #3081
I would also like to see `rkt run` have this capability in order to resolve issues like the following `java.net.UnknownHostException`:

[code]

[code]

In order to workaround this error, I added option `--hostname=localhost` so that the result of `java.net.InetAddress.getLocalHost()` (`hostname`) or `localhost` is present in `/etc/hosts`:

[code]

[2016-08-23 06:56] squeed commented on #2042
@euank AFAIK, the standard way of setting the domain name is to add an entry in `/etc/hosts` (though not for the loopback address, I was mistaken). Some systems allow a FQDN in `/etc/hostname`, but by no means all. Is there something I'm missing?

[2016-08-23 13:08] jjlakis commented on #2576
@tjdett It's made as additional stage1, but we're planning to make it default

[2016-08-23 19:44] euank opened #3106 "stage1-kvm: "Operation not permitted" for accessing devices"
**Environment**

rkt's current master; close to v1.13.0

**What did you do?**

`rkt --stage1-path=./stage1-kvm.aci --insecure-options=image run docker://nginx --interactive --exec=sh -- -c 'echo hi > /dev/stdout'`

**What did you expect to see?**

...
hi
...

**What did you see instead?**

`/bin/sh: 1: cannot create /dev/stdout: Operation not permitted`

I suspect this is related to the recent `De

[2016-08-24 00:43] robszumski opened #3108 "Docs: add walkthrough of generating a pod manifest manually"
Instead of having to point folks to seperate places for building a pod manifest, there should be a guide in the rkt repo.

Existing resources:
https://github.com/appc/acbuild/blob/master/Documentation/getting-started.md
https://github.com/appc/spec/blob/master/examples/pod_template.json

[2016-08-24 08:00] jellonek commented on #2650
Look at https://github.com/coreos/rkt/pull/2952

@jjlakis will you document this?

[2016-08-24 09:52] jellonek commented on #3106
/cc @jjlakis

[2016-08-24 14:55] lsjostro commented on #2768
you are right regarding to old kernel..
Verified with a newer kernel and it seems to be fixed.

[2016-08-24 14:55] #2768 closed

[2016-08-24 15:08] lucab commented on #2768
Great :)
@lsjostro thanks for following up with the good news! If you actually find anything more specific regarding what was this overlayfs/permission bug and when/where it has been fixed, we'll gladly note it down in the docs.

[2016-08-24 15:57] lucab commented on #3106
This was working fine in 1.12.0 so yes, it may be a regression due to https://github.com/coreos/rkt/pull/3058 and https://github.com/coreos/rkt/pull/3027.

[2016-08-24 16:19] s-urbaniak opened #3109 "api-service panics"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

`systemctl status api-service`

**What did you expect to see?**

a running api-service

**What did you see instead?**

[code]

[2016-08-24 16:34] squeed commented on #2044
There is a potential backwards-compatability-breaking change needed for setting the DNS domain name. In the case where a CNI plugin supplies a domain name AND an application in the pod provides an /etc/hosts, we will have to overwrite it with our own.

By default, I think this is OK - `/etc/hosts` in most images is just the default file included with each distribution. We shouldn't merge the files

[2016-08-24 16:34] iaguis commented on #1757
Since https://github.com/systemd/systemd/pull/3965, systemd will try to mount a cgroup2 fs in `/sys/fs/cgroup/systemd` even if cgroup1 is used for the other controllers.

We should see how this affect rkt.

[2016-08-24 17:57] euank commented on #2042
We had a bit of offline discussion, all better; conflated domainname with domainname.

I'm not sure if there actually are systems that restrict having an FQDN in `/etc/hostname`, and you can pass a FQDN to rkt's `--hostname` flag now just fine. If you pass a fqdn, then that part of this issue could be considered a dupe of #2223 I think, since doing that + --hostname=fqdn solves that problem entire

[2016-08-24 18:01] euank commented on #3106
It might make sense to just not apply such limitations in the case of kvm; the `/dev` device nodes in and out of the kvm are different, so the security/isolation concerns don't really apply, right?

[2016-08-24 21:10] euank commented on #3109
I'm pretty sure this is actually a bug in the go standard library (or its documentation). The important details:

1) The documentation for `file.Readdir` says `if Readdir returns an empty slice, it will return a non-nil error explaining why`
2) We call `fdir.Readdir(1)` and then carefully error check... and then assume the slice is of length at least 1. According to the documentation this assumpti

[2016-08-24 21:13] squat opened #3110 "Arch failed to setup network: iptables: No chain/target/match by that name"
**Environment**
[code]

**What did you do?**
[code]
I tried to run the container from the getting started guide; this failed so I tried to run a basic container I know should work.

**What did you expect to see?**
I expected to see my container start up successfully.

**What did you see instead?**
[code]

**stacktrace**
`# strace -f rkt run --interactive docker://busybox:latest --exec=/bin/sh --in

[2016-08-24 22:47] onlyjob opened #3112 "1.13.0: FTBFS: fails to build man pages on i686"
On Debian GNU/Linux i686 `make manpages` fails as follows on _i386_ (a.k.a. _x86_32_):

[code]

On _amd64_ (a.k.a. _x86_64_) it works so we have a build problem at least on _x86_32_...

[2016-08-24 22:51] squat commented on #3110
I am sad to announce that rebooting fixed this issue.

[2016-08-25 00:02] dghubble commented on #3110
I think this should be re-opened. These first time install issues are important.

[2016-08-25 00:05] squat commented on #3110
This was definitely a headache. It would be nice to figure out why this was occurring.

[2016-08-25 00:06] dghubble opened #3113 "run: Failed to register machine: Access denied"
After updating from rkt 1.8.0 to 1.13.0 and rebooting, basic images cannot be run.

**Environment**

rkt Version: 1.13.0
appc Version: 0.8.6
Go Version: go1.6.3
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL
--
Linux 4.6.6-300.fc24.x86_64 x86_64
--
NAME=Fedora
VERSION="24 (Workstation Edition)"
ID=fedora
VERSION_ID=24
PRETTY_NAME="Fedora 24 (Workstation Edition)"
ANSI_COLOR="0;34"
CPE_NAME="cpe

[2016-08-25 00:11] dghubble commented on #3113
Actually, this is because SELinux is in enforcing mode. Typically, rkt's SeLinux violations would be reported by SELinux Troubleshooting, but that isn't happening.

For anyone who finds this later:

    sudo setenforce Permissive

[2016-08-25 00:16] tgeoghegan opened #3114 "rkt leaks netns if CNI plugin fails"
**Environment**

rkt Version: 1.7.0
appc Version: 0.8.4
Go Version: go1.5.4
Go OS/Arch: linux/amd64
## Features: -TPM
## Linux 4.6.3-coreos x86_64

NAME=CoreOS
ID=coreos
VERSION=1068.9.0+2016-08-16-2219
VERSION_ID=1068.9.0
BUILD_ID=2016-08-16-2219
PRETTY_NAME="CoreOS 1068.9.0+2016-08-16-2219 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
## BUG_REPORT_URL="https://github.com/coreos/bug

[2016-08-25 00:21] yifan-gu commented on #3114
@tgeoghegan This should be fixed with later rkt version. Have you tried the latest (1.13.0) ?

[2016-08-25 02:01] lsm5 commented on #1305
@l1x It's just me at this point working on CentOS packaging but I'll see what I can do. Can't make any promises as to availability at the moment, but I'll update this space whenever I have something.

Could we interest you in Fedora though? Fedora rawhide already has rkt packaged.

[2016-08-25 03:13] philips commented on #2606
ping @mjg59

[2016-08-25 03:13] philips commented on #2484
Is this on track for 1.14.0 now that systemd v231 is going along?

[2016-08-25 03:15] philips commented on #2313
@dgonyeo Did docker2aci get the ability to pull by hash?

[2016-08-25 03:15] philips commented on #2482
Ping on this issue.

[2016-08-25 06:08] sgotti commented on #2313
@philips Yes: appc/docker2aci#171

[2016-08-25 06:13] sgotti commented on #2541
To keep track, the ongoing work for natively supporting multiple image types and related requirements is here:

#2953 #3101 Distribution point concept (the base for all ongoing work)
#3071 Reference based image handling and related store
#3039 Pod manifest extension for different digest types.
#2964 Fetchers refactor, they'll become disitrbution handlers and will use transport plugins. The docker

[2016-08-25 06:17] sgotti commented on #2313
The ongoing work for native multiple image support types is tracked in #2541.

[2016-08-25 06:40] s-urbaniak commented on #3109
@euank great catch! I confirm your observation, and can reproduce the behavior using your example.

[2016-08-25 06:41] #3109 closed

[2016-08-25 07:01] lucab commented on #3112
If it is building on a real x86_32, the line above looks a bit suspicious. Is this some kind of cross-compiling environment perhaps?

[2016-08-25 08:42] jonboulle commented on #3109
Could you please cross link the upstream bug here?

[2016-08-25 08:45] lucab commented on #2482
I started attacking this in https://github.com/coreos/rkt/pull/2796 before realizing we have many other places where we trigger fetching as a side-effect, and fetch itself as some side-effects related to preparing/unpacking. Moreover, golang runtime makes playing with user, groups and capabilities quite painful. This so far for the negative part. On the positive side, this may be feasible via fork

[2016-08-25 08:54] lucab commented on #3113
Couple of questions to follow up on this:
 * is this a regression compared to 1.8.0 or was that one running in permissive mode?
 * can you please attach AVC entries from journal to pinpoint what is blocking machined registration?
 * optionally, it would be interesting to known if this also happen in CoreOS under enforcing mode or if it is something related to fedora policies

[2016-08-25 08:55] dghubble opened #3116 "rkt run --set-env-file errors if file contains comments"
Support for `rkt run --set-env-file some-file ...` was added in 1.9 with https://github.com/coreos/rkt/pull/2816. According to docs "Lines starting with # or ; and empty ones will be ignored." This was true until 1.10.1 when a regression was introduced by https://github.com/coreos/rkt/pull/2901.

**What did you do?**

Running a container with an env-file which contains an error complains about mal

[2016-08-25 09:03] lucab commented on #3114
Reference: https://github.com/coreos/rkt/pull/2696

[2016-08-25 09:18] lucab commented on #3110
This is a bit hard to track down only with the information at hand and no live reproducers, but we can at least try to narrow it down.

From a quick skim, I didn't find anything relevant in the strace (if you happen to see it again, please run with `strace -o rkt -ff` next time).

However, your lsmod may be more interesting. I don't see `xt_comment` loaded, which seems suspicious. Can you please a

[2016-08-25 09:33] s-urbaniak commented on #3110
at least `xt_comment` _is_ available as a kernel module in the stock Arch kernel: https://git.archlinux.org/svntogit/packages.git/tree/trunk/config.x86_64?h=packages/linux#n1060

[2016-08-25 10:01] onlyjob commented on #3112
Just a clean 32 chroot on 64 host. Nothing to worry about.

[2016-08-25 10:06] jellonek commented on #3106
They apply a bit - because this will limit isolation of applications, but for sure pod is isolated from host, so this would be a security violation, but IMO quite small. Still it would be.

/cc @jjlakis @pskrzyns @lukasredynk - could someone from Intel also leave comment here?

[2016-08-25 12:00] mzylowski opened #3117 "Profiling doesn't work"
**Environment**

Replace this with the output of:

`rkt Version: 1.13.0+gitc4b224a
appc Version: 0.8.6
Go Version: go1.6
Go OS/Arch: linux/amd64
Features: +TPM +SDJOURNAL
--
Linux 4.4.0-31-generic x86_64
--
NAME="Ubuntu"
VERSION="16.04 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com

[2016-08-25 12:03] mzylowski commented on #3117
cc @lucab @yifan-gu

[2016-08-25 12:29] lucab commented on #3112
It looks like the configure is getting confused about this setup and you are ending in a strange scenario. Are you by chance passing a `--host` (or similar) flag to the configure? Can you please attach the config.log from inside the chroot?

[2016-08-25 12:36] lucab commented on #3117
Assigning @yifan-gu who knows this part better. However, my naïve guess is that profiling is expected not to work together with run as it is intended to profile the execution of go-code.

[2016-08-25 12:50] jonboulle commented on #2484
As soon as an image with v231 is available we'll bump to it

[2016-08-25 13:41] squeed commented on #2042
Warning: significant fun ahead: different distros do this differently.

Command: `rkt run ... --dns=4.2.2.2 --hostname=core.d.t  ...`

| image | hostname | hostname -d | hostname -f | hostname -s |
| ------ | --- | --- | --- | --- |
| docker://fedora | core.d.t | d.t | core.d.t | core |
| docker://centos | core.d.t | d.t | core.d.t | core |
| docker://debian | core.d.t | fail | fail | core |
| doc

[2016-08-25 14:49] sgotti commented on #2042
@squeed

```/sysadmin mode on```

As you said the host `dnsdomainname` simply doesn't exists in the "host"/"kernel" (and setting the system hostname with a fqdn is sometimes possible but not a good/correct idea, a related discussion can be found [here](https://lists.freedesktop.org/archives/systemd-devel/2013-February/008899.html), and the `sethostname` call correctly accepts the right size for a

[2016-08-25 17:32] s-urbaniak opened #3118 "Dubious overlay check in rkt/image/fetcher.go"
In https://github.com/coreos/rkt/blob/master/rkt/image/fetcher.go#L58 we have a check determining if the system supports OverlayFS at all skipping rendering. At first sight this suprised me because it was not apparent to me why we would skip rendering the tree store if the operating system does not support OverlayFS.

As discussed OOB with @sgotti I understood the plan is to use the rendered tree

[2016-08-25 18:24] tgeoghegan commented on #3114
I tried this with rkt 1.13.0 (from the tar.gz at https://github.com/coreos/rkt/releases/tag/v1.13.0) and it still reproduces. Besides using a newer rkt and stage1-coreos.aci, my environment is otherwise unchanged from the original issue.

[code]
For this experiment, I'm using a temporary rkt dir to avoid tainting my "real" one at /var/lib/rkt. To start out with, no pods running and no network name

[2016-08-25 19:17] yifan-gu commented on #3114
@tgeoghegan This seems like a different issue from before. I am trying to see if I can reproduce it on my machine, thank you for reporting!

[2016-08-25 19:53] yifan-gu commented on #3029
Closing this, the action item would be:
1, Have `rkt list` return the pod even if it does not have pod manifest.
2, Have rktnetes manage k8s pods in a dedicated pod dir, so it can safely gc all failed/partial pods.

[2016-08-25 19:54] #3029 closed

[2016-08-25 19:56] sgotti commented on #3118
The skipping is probably done to avoid wasting some disk space.

The current state, if I haven't lost something, is:

* overlayfs isn't used when not supported or when passing `--no-overlay` (also required when using user namespace).

* When using overlayfs the treestore is used for pod stage1 and stage2 as the overlayfs lower layer.
* When not using overlayfs the treestore is used for copying the

[2016-08-25 20:11] yifan-gu commented on #3117
That's right, the profiling only profiles the go code part of rkt (the main use case is profiling the rkt api service). When rkt runs containers, the go code execution is short and run once only, so it doesn't record down any data points.

[2016-08-25 20:26] yifan-gu opened #3119 "`rkt fetch` should check the remote images's hash before trying to download."
Today, when docker pulls an image, it will check the hash of the image, if that's the same as the one stored on disk, it will not try to download, which reduces the pulling latency in such cases. I think rkt should be able to provide such ux as well.

[code]

cc @coreos/rkt-maintainers cc @sgotti

[2016-08-25 20:36] sgotti commented on #3119
similar to #2937
My answer is https://github.com/coreos/rkt/issues/2937#issuecomment-233117585

[2016-08-25 20:38] euank commented on #3119
Looks like an exact duplicate, thanks for the link! Maybe we should close that and just follow there?

[2016-08-25 20:42] sgotti commented on #3029
If you're interested I wrote a related comment here: https://github.com/coreos/rkt/issues/2933#issuecomment-241546605

* Does the related issues for the two points in your last comment already exists?

* Since the need is to distinguish k8s managed pods from other pods and its not possible to always rely on the podmanifest, perhaps other solutions (like prefixing the pod uuid or tagging using anot

[2016-08-25 21:34] #3119 closed

[2016-08-26 05:12] onlyjob commented on #3112
Right, it is actually builds on raw _i386_... Somehow build scripts became confused when run in _pbuilder_... It used to work in the past. Somehow build systems seems to became more sensitive to build environment... I'll experiment more and report back.

[2016-08-26 06:57] l1x commented on #1305
@lsm5 thanks for the update. In this case would you provide what you already got? I have experience in building RPMs and I definitely need this done in the next month. Using Fedora is not an option, we need CentOS/RedHat because most of our clusters are on that. This involves support contracts, security auditing, etc.

[2016-08-26 07:06] lucab commented on #3112
/cc @glevand @krnowak

[2016-08-26 07:10] lucab commented on #3118
I'm in line with @sgotti's analysis above. I guess we are trying to be smart here avoiding an extract+copy when not using overlayfs, directly extracting in the destination.

/cc @iaguis for insights

[2016-08-26 07:42] lucab commented on #3114
Right, I can observe this on 1.13.0 too. @squeed can you have a look at what's going on here?

I also see the "no subcgroup file/dir" which I think is benign here, but no "networking: teardown" at all.

/cc @steveeJ

[2016-08-26 07:44] lucab commented on #3116
Closed via #3115

[2016-08-26 07:44] #3116 closed

[2016-08-26 09:37] lsm5 commented on #1305
@l1x TRY THIS ONLY ON A *CATTLE* MACHINE, as I'm pretty certain it'll get b0rked.

add this repo to your yum repos list:

    [virt7-rkt-common-candidate]
    name=virt7-rkt-common-candidate
    baseurl=http://cbs.centos.org/repos/virt7-rkt-common-candidate/x86_64/os/
    enabled=1
    gpgcheck=0

and then try `yum update systemd`. This will atleast update to systemd-222, but quite uncertain if yo

[2016-08-26 09:56] lucab commented on #3117
Thanks for confirming my thoughts. I guess we may have three (low-priority) actionable items out of this:
 * abort when profiling is used together with `run` (and maybe make it more explicit in the performance doc?)
 *  check why the cpu profile is empty for gc (seen here too)

@mzylowski if you need to profile container execution, I guess you are better served by generic linux profilers.

[2016-08-26 11:22] jonboulle commented on #2843
CoreOS 1151.0.0 is out w/systemd v231

[2016-08-26 12:53] monder opened #3121 "seccomp: ElasticSearch calls non-existing syscalls and is killed by the default filter"
**Environment**

[code]

**What did you do?**

Today after CoreOS from 1122.0.0 to 1151.0.0 updates elasticsearch cluster nodes could not start.

I have an _aci_ image of https://hub.docker.com/_/elasticsearch/ built using docker2aci manually because in `rkt v1.11.0` docker support was broken. So the issue is not in the docker conversion.
Test image is [here](https://s3-eu-west-1.amazonaws.com/mon

[2016-08-26 13:14] lucab commented on #3121
Thanks for the report, and sorry for breaking your setup. We're steadily proceeding in adding more isolation layers and providing sane defaults so that they can be turned on by default, and sometime this require new tweaks in existing setups.

For your specific case:
 * what is the returned exit value here and what does `rkt status` says about the exited pod?
 * can you please also share the entir

[2016-08-26 13:52] monder commented on #3121
Regarding the exit code... Thats another unexpected thing. Along with elasticsearch I run a [sidekick](https://github.com/monder/rkt-sidekick). The elasticsearch app exited with status 0, but the pod remained. And its status was `running` in `rkt list`. Thats probably because the `sidekick` app was still running. and I could `rkt enter` this pod, the filesystem and other namespaces are there, just

[2016-08-26 15:04] monder commented on #3121
I think the issue is not a regression and could be closed if it is indeed just a security flaw of the image itself.

[2016-08-26 15:10] lucab commented on #3121
The problem you are seeing here is because ES wants to setup its own seccomp filter (fine), but before doing that it does a bit of magic probing (ok-ish) by calling [random syscalls and passing garbage arguments](https://github.com/elastic/elasticsearch/blob/2.4/core/src/main/java/org/elasticsearch/bootstrap/Seccomp.java#L278:L279) (uhm). This is getting your application killed, and there is no sa

[2016-08-26 15:21] l1x commented on #1305
I have added this, could I install rkt? I can't find the package.

[2016-08-26 15:57] monder commented on #3121
Shouldn't it somehow kill the whole pod?

[2016-08-26 16:42] lucab commented on #3121
It should kill the application. That in turn should halt the pod. Which is not what's happening here, you are right.

From what I'm seeing, even when our seccomp filter blocks ES, it is not being abruptly killed but it cleanly exit instead. This (correctly) doesn't halt the pod, as there are other applications still running in the pod. My guess is that ES has some broad signal handler and exit cle

[2016-08-27 03:13] andir opened #3123 "install-rkt.sh: checkinstall fails on (some) debian systems leading to missing files"
**Environment**

[code]

**What did you do?**

Run install-rkt.sh on a debian jessie host.

**What did you expect to see?**

A package that is build & installed with every file being installed.

**What did you see instead?**

A package that was installed with the first files in `/usr/lib/systemd/system/` & `/usr/lib/rkt/stage1-images/` missing.

**What did you figure out / How did you workaround/f

[2016-08-27 03:19] andir commented on #3110
Missing kernel modules is a common issue with arch users. You usually update the kernel and do not reboot right away. Arch does remove the old modules (of the running kernel) while installing a newer kenel version.
You a are probably off to a goose hunt with this bug :-)

[2016-08-27 04:01] squat commented on #3110
@andir that could honesty be it. I updated the kernel in the last day before installing rkt

[2016-08-27 05:53] chancez commented on #3109
@euank i wasnt able to reproduce if you remove `len(files) == 0` from https://gist.github.com/euank/72cc2f1d13630eecd5459d8fe68e60b6#file-readdir_bug-go-L44

It seems your getting an empty slice, but not a nil slice in that code example. A slice of zero length is not a nil slice, but a nil slice has a length of zero. So I think that's expected behavior.

[2016-08-29 00:05] andir commented on #3123
I could provide a PR with a workaround if that is desired.

[2016-08-29 09:49] lucab commented on #3112
I see 1.13.0 has been [properly built](https://buildd.debian.org/status/package.php?p=rkt&suite=unstable) on Debian autobuilders, which confirms this is somehow confined to pbuilder chroot.

Just for an heads-up, ppc64 support will come with https://github.com/coreos/rkt/pull/2936 and s390x will follow soon in appc https://github.com/appc/spec/pull/651. Both require a newer appc/spec version.

[2016-08-29 09:56] s-urbaniak commented on #3123
@andir good catch, thanks for finding the issue. Sure, go ahead, and please submit a PR, that'd be great!

[2016-08-29 14:07] s-urbaniak commented on #3000
bumping this to the next release, since there are two issues to be created yet, and the related PRs/discussions are also ongoing.

[2016-08-29 14:16] s-urbaniak commented on #2622
@squeed do you mind to open a separate issue? bumping this to the next release.

[2016-08-29 14:25] s-urbaniak commented on #2694
let's target this for the next release, since it is WIP

[2016-08-29 14:25] squeed opened #3129 "Improve rkt exit codes"
If rkt has failed, it always exits with code 1. This is problematic, because it *also* passes through the app's exit code. This can make it hard to distinguish in cases where `rkt run` is scripted.

Rkt should follow the lead of SSH and use a less-commonly-used exit code on failure. SSH uses 255, so rkt should use 254.

[2016-08-29 14:25] squeed commented on #2622
Opened #3129

[2016-08-29 14:52] s-urbaniak commented on #3012
@sgotti bumping to the next release. the revert is merged, though the question arises if we should re-introduce this feature.

[2016-08-29 15:10] s-urbaniak commented on #2491
@sgotti bumping to next release

[2016-08-29 16:12] anas-aso opened #3130 "'rkt rm' panic"
**Environment**
rkt Version: 1.7.0
appc Version: 0.8.4
Go Version: go1.5.4
Go OS/Arch: linux/amd64
## Features: -TPM
## Linux 4.6.3-coreos x86_64

NAME=CoreOS
ID=coreos
VERSION=1068.10.0
VERSION_ID=1068.10.0
BUILD_ID=2016-08-23-0220
PRETTY_NAME="CoreOS 1068.10.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
## BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

systemd 229
+PAM +A

[2016-08-29 16:21] alepuccetti opened #3131 "Make better errors in testing"
**Environment**
[code]

**What did you do?**

The error returned by `return errwrap.Wrap(errors.New("error seeking signature file"), err)` was missing the `err` part. Instead by doing `return errwrap.Wrapf("error seeking signature file {{err}}), err)` the `err` part shows up.

**What did you expect to see?**

To see the whole error.

**What did you see instead?**

Only the constant string (first p

[2016-08-29 16:30] Quentin-M opened #3132 "run-prepared ignores --insecure-options"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

[code]

**What did you see instead?**

[code]

[2016-08-29 17:05] tomdee opened #3133 "rkt passes different CNI_PATHS values to CNI plugins for ADD and DELETE"
**Environment**

[code]

**What did you do?**
- Downloaded Calico CNI plugin
- Wrote CNI config - `echo '{"name": "dev", "log_level":"info","type":"calico","etcd_authority":"127.0.0.1:2379","ipam":{"type":"calico-ipam"}}' >/etc/rkt/net.d/calico-info.conf`
- Ran container under rkt
- Removed rkt container (Using `rkt gc`)

`sudo rkt run quay.io/coreos/alpine-sh --exec ifconfig --interactive=true --

[2016-08-29 17:20] lucab commented on #3130
Thanks for the report @anas-aso.

If anybody passing by here wants to tackle this and provide a PR, I'll be happy to review and shepherd this in!

[2016-08-29 17:29] lucab commented on #3133
@squeed can you take a look at this?

[2016-08-29 17:42] euank commented on #3130
After taking a brief glance, we have a nil pod at https://github.com/coreos/rkt/blob/v1.7.0/rkt/rm.go#L80 .. which means that `getPod` returned `nil, nil`, which would be the real bug. The `getPod` function has some heavily indented code which I'd be wary of.

[2016-08-29 17:52] philips opened #3134 "docker2aci: add an experimental flag for OCI pull support"
The OCI spec work is still in draft lets add an `--experiment=oci-image` or something until it settles down to ensure we don't accidentally break something while registries start their implementations.

cc @dgonyeo

[2016-08-29 17:56] dgonyeo commented on #3134
We'll also need to add that flag to docker2aci then I think.

[2016-08-29 21:11] euank commented on #3109
Filed: https://github.com/golang/go/issues/16919

[2016-08-29 22:27] yifan-gu opened #3135 "Implementing `rkt app list`, `rkt app status`, `rkt app exec`"
This follows https://github.com/coreos/rkt/pull/2932

These three doesn't require much changes to existing rkt. So I put them altogether.
### rkt app list

`rkt app list` will provide minimum information on what are running in the pod, and their states.
More detailed information can be retrieved by `rkt app status` in further.

The example output for `rkt app list` would be:

[code]
### rkt app st

[2016-08-29 22:46] lsm5 commented on #1305
@l1x yup, rkt isn't a part of it yet. We need to make certain the systemd upgrade goes fine and the system reboots fine after the upgrade. Have you tried that yet?

[2016-08-30 01:01] yifan-gu opened #3136 "Implementing `rkt app add` and `rkt app rm`"
This follows https://github.com/coreos/rkt/pull/2932
### rkt app add

`rkt app add <pod-uuid> --app=<app-name> <image-id> <arguments>`

This can be just a stage0 sub-command, it will
- Extract the image and mount it into "/var/lib/rkt/pods/run/**pod-uuid**/stage1/rootfs/opt/stage2/**app-name**/".
- Create an image manifest under the directory
- Update the pod manifest with this additional app info

[2016-08-30 01:09] philips commented on #2252
@coreos/rkt-maintainers can we get this fixed in a forthcoming release? Maybe a move to the v1.15.0 milestone?

[2016-08-30 01:47] yifan-gu opened #3137 "Implementing `rkt app start` and `rkt app stop`"
Follows #2932
### rkt app start

[code]

This should be implemented as a stage1 entrypoint (e.g. `coreos.com/rkt/stage1/app/start`) as different stage1s could have different implementation. The semantics feels similar to `rkt run-prepared` which it starts a pre-added app. For default nspawn stage1, it will:
- Read the pod manifest and look for the app section.
- Use `machinectl bind` to mount the

[2016-08-30 08:56] lucab commented on #2252
@squeed will have a look at it, tentatively going for 1.15.0.

[2016-08-30 09:15] lucab opened #3140 "Release process: v1.14.0"
@s-urbaniak will be the release pilot for rkt v1.14.0.

 * Tentative schedule: 2016-09-01
 * Milestoned tasks: https://github.com/coreos/rkt/milestone/48
 * Release process: https://github.com/coreos/rkt/blob/master/Documentation/devel/release.md

[2016-08-30 09:17] lucab opened #3141 "Release process: v1.15.0"
@squeed will be the release pilot for rkt v1.15.0.

 * Tentative schedule: 2016-09-15
 * Milestoned tasks: https://github.com/coreos/rkt/milestone/49
 * Release process: https://github.com/coreos/rkt/blob/master/Documentation/devel/release.md

[2016-08-30 09:34] #3123 closed

[2016-08-30 11:29] #3132 closed

[2016-08-30 12:49] jonboulle commented on #3130
@euank it's even sillier than that - `getPod` is returning {nil, non-nil},
but there is no actual return in the error case - it just prints an error
then continues to try remove it anyway...

On 29 August 2016 at 19:42, Euan Kemp <notifications@github.com> wrote:

[2016-08-30 12:50] jonboulle commented on #3130
Probably we just want a `continue` added on line 78.

[2016-08-30 13:08] #3040 closed

[2016-08-30 15:36] #3104 closed

[2016-08-30 15:58] s-urbaniak commented on #2158
Resumed work implies the following TLDR: rkt-in-rkt basically now works with `--insecure-options=all-run`, but we are not quite there yet.

using the following invocation:

[code]

Unfortunately it doesn't work with networking yet (by removing `--net=none`), showing the following error:
[code]
We can workaround this by remounting `/proc/sys`:
[code]

The reason why this doesn't work is because sys

[2016-08-30 15:59] s-urbaniak commented on #2158
bumping to next release for having a complete network story.

[2016-08-30 17:54] jonboulle opened #3144 "*: package simple RPM/Debian packages"
We should create and publish simple .rpm and .deb packages for users alongside each release.

While generally we encourage rkt to be packaged idiomatically in downstream distributions (e.g. in [Debian](https://packages.debian.org/sid/utils/rkt) and [Fedora](https://admin.fedoraproject.org/pkgdb/package/rpms/rkt/)), this can be a slow process and isn't always practical. Basic rpm/debs can be useful

[2016-08-31 08:56] lucab commented on #3013
Closed via https://github.com/coreos/rkt/pull/3122

[2016-08-31 08:56] #3013 closed

[2016-08-31 08:57] lucab commented on #2843
Closed via https://github.com/coreos/rkt/pull/3122

[2016-08-31 08:57] #2843 closed

[2016-08-31 08:59] #3085 closed

[2016-08-31 09:05] lucab commented on #2956
Closed via https://github.com/coreos/rkt/pull/3122

[2016-08-31 09:05] #2956 closed

[2016-08-31 09:05] lucab commented on #3074
Closed via https://github.com/coreos/rkt/pull/3122

[2016-08-31 09:05] #3074 closed

[2016-08-31 09:08] lucab commented on #1464
Systemd v231 landed in https://github.com/coreos/rkt/pull/3122 and appc/spec in https://github.com/coreos/rkt/pull/3143.

I think there are no more blockers for this and we can proceed with implementation. Tracked via https://github.com/coreos/rkt/pull/2826.

[2016-08-31 09:58] s-urbaniak commented on #2158
short update: systemd v231 still doesn't help unfortunately. system-nspawn remounts `/proc/sys/net` iff `--private-network` was being passed which we don't. We should probably pass an env var to systemd-nspawn signalling we are already in a network namespace similar as it is done here https://github.com/systemd/systemd/commit/0c582db0c6ec3330953270cf0324038cb6615617.

/cc @alban is this is an appr

[2016-08-31 10:06] s-urbaniak commented on #3144
https://github.com/coreos/rkt/blob/master/scripts/install-rkt.sh produces a valid deb package. We could invoke that in the rkt-builder image (being Debian).

We could just add a bit more metadata like `--pkglicense`, `--pkgarch` et al, see http://manpages.ubuntu.com/manpages/trusty/man8/checkinstall.8.html.

[2016-08-31 10:08] s-urbaniak commented on #3144
Oh, I just found that checkinstall apparently can produce rpm packages by specifying `--type rpm`.

[2016-08-31 12:21] #2417 closed

[2016-08-31 12:21] #2640 closed

[2016-08-31 13:51] lucab commented on #2232
I went for a bit of investigation on this, and it seems to be still affecting recent CoreOS Alphas, even the ones with logind.

For reference, the testing environment is CoreOS Alpha 1153.0.0 (systemd v231 on host) with logind service running and rkt 1.13.0 (stage1-coreos with systemd v229). This is latest plain alpha at this time, straight out of coreos-vagrant setup.

Running an interactive rkt

[2016-08-31 14:47] tmrts commented on #3135
SGTM with the exception that `rkt app status` requires a JSON-like entrypoint mentioned in the docs

[2016-08-31 15:10] lucab commented on #2232
Another interesting observation is that the re-parented systemd has a different PID than the original one. It is somehow re-executing/forking when systemd-nspawn is killed.

[2016-08-31 15:38] #2864 closed

[2016-08-31 21:01] alban commented on #2232
More investigation on this:

When rkt is executed via ssh without interactive mode (`sudo /var/tmp/rkt run docker://busybox --exec=/bin/sh -- -c 'sleep 999'`), all the processes are killed correctly when ssh is killed (keys `~.`).

But with `--interactive` (`sudo /var/tmp/rkt run --interactive  docker://busybox`), the following happens:
- the shell exits because it reads `-1 EIO (Input/output erro

[2016-08-31 21:44] #3060 closed

[2016-08-31 22:08] alban commented on #2158
@s-urbaniak I guess yes... they seem open to more env var (https://github.com/systemd/systemd/pull/4018#discussion_r76971862)

But instead of an env var about network namespace, it could be an env var about disabling custom paths protections in general.

[2016-09-01 07:16] lucab commented on #2484
We just got systemd v231 in via https://github.com/coreos/rkt/pull/3122, so this can be target at next release.

[2016-09-01 07:20] lucab commented on #3019
Tracked via #3093.

[2016-09-01 08:57] lucab commented on #3110
Anything actionable here?

Can we somehow confirm that this was due to not-loaded kernel modules? Why there is no auto-loading support in place here?

Should CNI/rkt have some new by-default side-effects where it actively tries to load modules?

Is there a way to check that kernel has all the features we need? Just loading and checking modules will not solve this for monolithic kernels.

[2016-09-01 09:15] lucab commented on #3136
@yifan-gu @sgotti how does this fit within the context of https://github.com/coreos/rkt/issues/3098 and https://github.com/coreos/rkt/pull/3100?

[2016-09-01 10:31] #3140 closed

[2016-09-01 13:12] #2232 closed

[2016-09-01 13:21] lucab opened #3152 "Release process: v1.16.0"
@lucab will be the release pilot for rkt v1.16.0.

 * Tentative schedule: 2016-09-29
 * Milestoned tasks: https://github.com/coreos/rkt/milestone/50
 * Release process: https://github.com/coreos/rkt/blob/master/Documentation/devel/release.md

[2016-09-01 13:34] lucab commented on #3136
@yifan-gu @euank In a mutable pod there are some host&guest resources that needs to be updated with new/removed apps (sysctl, port-forwarding, mount-volumes, etc). Should the pod-sandbox be updated at injection removal/time or on start/stop?

[2016-09-01 13:40] jjlakis commented on #3106
I agree with this, IMO it's a small security violation, and also we can't make `--insecure-options=path` work the way it's been created, since vm isolation provides this kind of security by default. Disabling this option for kvm flavor seems to be the best idea.

It's true, but it's a different topic. We shouldn't provide this using option created for something completely different that has no sen

[2016-09-01 13:41] #2567 closed

[2016-09-01 13:45] s-urbaniak opened #3153 "Implementing `rkt app sandbox`"
This follows #2932, and #3147
### rkt app sandbox

`rkt app sandbox --uuid-file-save=<uuid-file>`

This is a stage0 subcommand, which will:
- Create a stage1 rootfs in `/var/lib/rkt/pods/run/<pod-uuid>/stage1/rootfs`
- Rearchitect the current systemd dependency graph (https://github.com/coreos/rkt/blob/master/Documentation/devel/rkt-systemd.png) to allow empty pods
- Start systemd with no apps bei

[2016-09-01 13:46] steveeJ opened #3154 "recursive mounts tests and functionality is incosistent among different stage1s"
Follow-Up Issue for #2880

- [ ] unite the tests
- [ ] unite the volume/mount stage1 code
- [ ] test & fix advanced cases with recursive mounts @alban to file an issue for these

[2016-09-01 13:59] squeed opened #3156 "stage1: port forwarding needs to support pod mutation"
We need to be able to add and remove port forwards to a running pod.

Right now `forwardPorts()` is thankfully idempotent, but we don't have the ability to partially remove forwards.

We probably want to tag individual rules with a comment indicating the appname, so we can remove them. This might break idempotency, as we're adding an artificial primary key, but only if we accidentally allow multip

[2016-09-01 13:59] squeed commented on #3156
@lucab this is for the CRI - not sure if you want to add any more areas.

[2016-09-01 15:04] s-urbaniak commented on #3153
I am testing the following idea:

- create a `pod-sandbox.target` coming "After" `default.target`: once this "runlevel" is being reached, apps can be created, this also gives a timeframe for initialization between the `default`, and `pod-sandbox` targets.
- remove any dependencies to `shutdown.service`, and only leave a conflicting dependency between `pod-sandbox.target`, and `shutdown.service`, s

[2016-09-01 16:07] iaguis commented on #3110
FWIW I got this a couple of times and the reason was what's explained in https://github.com/coreos/rkt/issues/3110#issuecomment-242892466

[2016-09-01 17:47] iaguis commented on #3153
That scheme sounds good to me on a first look.

I was playing with just removing the restriction of >=1 apps in a pod and it works too, but if the last app exits, the pod stops.

To allow apps to be stopped without the pod exiting I removed the `exit.target` unit. You might want to do the same: https://github.com/kinvolk/rkt/commit/62f5f5e7b341abc1a1648e8a8f034772ccd6c4d9

[2016-09-01 18:46] thattommyhall opened #3157 "Fetching images from ECR"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

Running the image from the Elastic Container Registry

**What did you see instead?**

[code]

It does seem to auth, as if I dont have the correct password set in `/etc/rkt/auth.d/ecr.json` I get

[code]

[2016-09-01 19:15] euank commented on #2921
I think it would be nice to prioritize this a bit. I think that adding `--output=json` (with an option of `tabular` or `text` that behaves identically to now for sorta consistency) as a global flag for pretty much every command is a worthwhile endeavor.

There was also discussion about making rkt more usable as a library (cc @lucab @yifan-gu), which would be used in similar use-cases, but I think

[2016-09-01 19:43] yifan-gu commented on #3136
@lucab Arguments for doing these during 'removal':
- Usually the 'stop' operation is synchronized, and removal is usually in asynchronized (gc running in background). So leave the cleanup in gc makes performance a little bit better?
- We would still need to read out termination messages, logs, so mount-volumes are definitely preferred to be there until removal.

[2016-09-01 20:15] sgotti commented on #3136
I think it'll be ok if the stage1s only rely on the pod manifest and ignore the image manifest. So it's ok if the new implementation won't rely on the app manifest (while the current parts using it will be fixed by #3098).

The image manifest extracted inside the pod dir is currently used by the points explained in #3098 for the stage1 and also by other parts in the stage0 (e.g. `rkt export`) (and

[2016-09-01 20:31] sgotti commented on #3153
@s-urbaniak Some notes on how I'll approach some parts of the implementation (sorry if these are obvious):

* I'll just reuse the current pod lifecycle without reiventing the wheel. So `rkt app sandbox` will just execute a pod prepare (extended to support no apps) and a pod run (like `rkt run`). The pod management will be the same (stop, gc, `rkt rm`).
* Since this should work with any stage1 (als

[2016-09-01 21:29] lucab commented on #3157
/cc @dgonyeo as I think docker2aci may need some enhancements for this.

Moreover it looks like users still need to fiddle a bit to bridge image fetching and AWS auth. @thattommyhall can you try getting an ECR temporary token as explained in http://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html#registry_auth?

[2016-09-01 22:58] Quentin-M opened #3158 "libvirt on rkt"
As part of bringing OpenStack on rkt and Kubernetes, the goal is to use libvirtd inside a rkt container and use it to manipulate (e.g. create) VMs on the host. To achieve this, libvirtd [communicates](https://libvirt.org/cgroups.html) via D-Bus with the host's systemd, to create scopes to hold the virtual machines. With the virtual machines living on the host, the libvirtd container can potentiall

[2016-09-01 23:16] euank opened #3159 "stage1-coreos: too long line in stage1 generated systemd unit"
I was able to reproduce this in two ways that we should think about

1) by running an app with a *ton* of bindmounts. Each of the individual bindmounts was a small path, but it added up to a lot. Per @iaguis, we probably just need to split up the `ReadWriteDirectories` line based on length into multiple pieces. The output for this mode of failure can be seen [here](https://gist.github.com/euank/bc

[2016-09-01 23:49] euank commented on #3110
I ran into something that looked a lot like this and boiled it down to the following simpler repro. I don't know if this will be the same for you:

https://gist.github.com/euank/85be2beb64c59a8b1646d0f42151a584

[code]

I straced the second of those iptable commands since that one has a surprising result: https://gist.github.com/euank/08c288ec894dcb114d4018eff84243f3

the string "ERROR" popping up

[2016-09-02 10:01] s-urbaniak commented on #3153
@sgotti @iaguis thanks a lot for your comments and the hints, this is extremely helpful!

@sgotti yes, I indeed do not want to reinvent the wheel, and hope to keep all the existing functionality intact. The refactored systemd dependency tree must not affect existing commands.

Regarding unsupported stage1 implementations I think as a first step it is indeed a very good idea to introspect an annota

[2016-09-02 10:45] GreatSUN commented on #2430
Also I would suggest if mounting to test if the file is not already mounted, as for example I am mounting it to the reasonable hosts manually already and this should not fail due to some automated approach.

[2016-09-02 12:33] thattommyhall commented on #3157
I did that (good for 12h), then copied it into the auth file.

[2016-09-02 15:28] s-urbaniak commented on #3153
Some progress, with just a few adjustments to @iaguis code (https://github.com/coreos/rkt/compare/master...s-urbaniak:iaguis/cri-systemd) I am actually able to start an empty pod resulting in the following dependency tree:

running
[code]

reveals the following dependency graph:

![empty](https://cloud.githubusercontent.com/assets/375856/18208767/09791574-7131-11e6-904a-12a447427c45.png)

I figure

[2016-09-02 15:37] s-urbaniak commented on #3153
also, when starting a "classical" app pod, my changes above cause the following error:

[code]

which I am not sure why the manifest file write is omitted, I'll keep on debugging this on next week.

[2016-09-02 21:14] yifan-gu commented on #2430
@GreatSUN Sounds reasonable.

[2016-09-03 01:43] yifan-gu commented on #3153
@s-urbaniak Awesome! Not sure about `rkt app sandbox --uuid-file-save=<uuid-file>`, I feel like we can just use `rkt run / prepare` for this, don't have to create a new command, and we can provide `--mutable` flag to the commands. WDYT?

@iaguis I think the `rkt app add` commit looks good, I am thinking about how to pull it into a library.

Great progress, team!!

[2016-09-03 09:06] jellonek commented on #3106
Seems fine to me.

[2016-09-03 19:31] lucab commented on #3118
This is some lower priority performance/design cleanup, thus I'm moving it a bit further down the road.

[2016-09-03 19:40] lucab commented on #3153
@yifan-gu `app sandbox` is coming from https://github.com/coreos/rkt/pull/3147 I think it is quicker to keep all the CRI things under the `app` umbrella and do our experiments there. It doesn't need to know about parsing application overrides, we won't touch existing stable things and we can kick better UX down the road. Are we on the same page on this?

[2016-09-05 13:03] s-urbaniak commented on #3153
@yifan-gu yes, `app sandbox` is coming from #3147 as @lucab stated, also as discussed with @iaguis we'd like to keep the implementations for the sandbox and rkt run separate for now, since the internal systemd dependency infrastructure differs quite a bit.

[2016-09-05 13:04] s-urbaniak commented on #2430
/cc @squeed

[2016-09-05 16:37] iaguis commented on #3136
Here's my WIP branch for this: https://github.com/kinvolk/rkt/commits/iaguis/rkt-app-add-rm

It's based on https://github.com/coreos/rkt/pull/3149

[2016-09-06 15:34] squeed commented on #2229
It looks like systemd-resolved introduces some problems around wildcard socket binding and go - so if we do this, it needs to be opt-in.

[2016-09-06 15:58] jonboulle commented on #3156
link to the specific requirements from CRI for this?

[2016-09-06 16:08] s-urbaniak commented on #3153
Here's my WIP branch for this: https://github.com/s-urbaniak/rkt/commits/rkt-app-sandbox

It is  based on #3149

[2016-09-06 16:26] squeed commented on #3156
We need `app add` and `app rm`

[2016-09-06 16:27] squeed commented on #3156
This is needed for `app add` and `app rm` - we need to be able to mutate port forwarding as the apps (and their respective configurations) are changed.

[2016-09-06 19:06] yifan-gu commented on #3153
OK, agree with you guys.

[2016-09-06 20:46] yifan-gu opened #3167 "rkt service should return stage1 image of the pod."
Capture from https://github.com/kubernetes/kubernetes/pull/32126#discussion_r77684053

[2016-09-06 21:51] ghost opened #3168 "How to: systemd + rkt prepare/run prepared"
**Environment**

rkt Version: 1.14.0
appc Version: 0.8.7
Go Version: go1.6.3
Go OS/Arch: linux/amd64
## Features: -TPM +SDJOURNAL
## Linux 4.4.0-36-generic x86_64

NAME="Ubuntu"
VERSION="16.04.1 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.1 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpa

[2016-09-06 22:16] lorddaedra commented on #3168
So if execute rkt prepare in ExecStop= and try to restart - all should work, but if try to reset server , it will not start, because of error something like that:

[code]

[2016-09-07 01:12] euank commented on #3168
One thing that might help a bit here would be the ability to use `--uuid-file` for `run-prepared` and `uuid-file-save` for `prepare`. Ref #3005

I think that this issue is getting into orchestration a bit (e.g. Kubernetes-land) and you're using systemd features to make a mini little orchestration system on top of rkt. I'm not sure how much rkt docs should talk about this specific use case.

My 2c

[2016-09-07 03:29] lorddaedra commented on #3168
Thank you! I will use it (#3005) after release. Currently I can use ```rkt prepare --quiet ... > /tmp/rkt/project/service/prepared-pod-uuid``` and ```rkt run-prepared | cat /tmp/rkt/project/service/prepared-pod-uuid```

About orchestration: I know about Fleet and Kubernetes, they are nice tools, but not really simple and best way to work with rkt containers on single server, they are for clouds (3

[2016-09-07 07:00] lorddaedra opened #3169 "credentials for docker registry "registry-1.docker.io" are already specified"
**Environment**

latest Rkt on Ubuntu

**What did you do?**

I would like to fetch images from dockerhub. I have 2 users (2 different private repositories on docker hub)

I copied my current /etc/rkt/auth.d/docker.json to new /etc/rkt/auth.d/docker-emotionfolio.json and change credentials

**What did you expect to see?**

ability to load images, docs ( https://coreos.com/rkt/docs/latest/configurat

[2016-09-07 11:41] jonboulle commented on #3169
Unfortunately we don't support this at the moment:

So for now you'd need to remove one of them from the local configuration directory (or change the repository it points to). If you need this behaviour we could consider it as a feature request, but perhaps you could provide information on what you'd expect/desire the UX to be? thanks!

[2016-09-07 11:49] lorddaedra commented on #3169
It's was possible in Docker load images from Dockerhub via different accounts. Just use docker login several times and he will save passwords...

I host my own projects and projects of my friend on my server. We can use shared repository but this is not very clear way - we can change tags on images of each other etc. mistakes.

So better to use separate repositories. So we have separate users and

[2016-09-07 11:50] lorddaedra commented on #3169
So yes, please, add this ability in new releases, it's feature request...

[2016-09-07 11:56] lorddaedra commented on #3169
Why this hack is bad: what if several .services like that will try to stop and execute that in parallel mode?.. (for example, I will restart all projects .targets )

[2016-09-07 12:14] lorddaedra commented on #3169
I suggest replace

[code]
with
[code]

and if rkt fetch will find something like that

docker://emotiofolio/emotionfolio:nginx-latest

it will use user&password combination to fetch it, where user is emotiofolio (word between second and third slash) and password come from credentials

And do same for quay.io, please, too...

[2016-09-07 21:11] euank commented on #3159
I've tentatively put this on the v1.15 milestone since I hope we can at least workaround the more common case of "I have a lot of bindmounts".

This has real impact, e.g. when trying to use nvidia gpu stuff you can end up with an overflow of bindmounts resulting in the pod not launching.

[2016-09-07 21:46] euank opened #3170 "docs: We should document how to use block devices in rkt"
This comes from the tracking down I did for this comment: https://github.com/kubernetes/kubernetes/pull/30756#issuecomment-245427257

Basically, rkt does do some device cgroup stuff when you bindmount through. Essentially, we do "if IsDeviceNode set deviceAllow".

We should document that bindmounting through block devices "just works" more or less, and give some examples for common use cases. The

[2016-09-07 23:19] philips commented on #3134
@lucab can this be added to the next milestone?

[2016-09-07 23:46] philips commented on #2313
@dgonyeo @sgotti how do I use this?

[code]

[2016-09-07 23:56] philips commented on #2313
I think this is a bug because Tag will be empty but we actually don't care about checking the tag: https://github.com/appc/docker2aci/blob/master/lib/internal/backend/repository/repository2.go#L337

[2016-09-08 05:04] yifan-gu commented on #1799
@iaguis @s-urbaniak @alban

Some recent thoughts with @euank on implementing `rkt attach`, maybe similar to @alban's comments https://github.com/coreos/rkt/issues/1799#issuecomment-236577575

Before having attach, we have:
[code]

With attach, we have:
[code]

**app-preparer** is the parent process of the real app, it will:
- Open `/dev/ptmx`, creates consoles, and other necessary things to get a

[2016-09-08 12:45] alban commented on #1799
With this, we cannot let systemd set up the seccomp, uids, capabilities, chroot, etc. anymore and the new "app-preparer" will have to do all of this. :/

[2016-09-08 13:47] BlauerHunger opened #3176 "packet_write_wait: Connection to 127.0.0.1 port 22: Broken pipe"
**Environment**

[code]

**What did you do?**

I have an openssh-server running in a container and I want to connect to it from outside. To do this, I tried to connect it to a bridge as explained on this page: [rkt docs Networking](https://coreos.com/rkt/docs/latest/networking.html)
Here the problem mentioned here appeared for the first time. After that, I tried port forwarding with the same resul

[2016-09-08 16:11] lucab commented on #3134
I think we may have other similar cases during the OCI transition (ie. translating manifests), but I don't like to pollute the CLI with more corner-case switches. I think it makes sense to have an `OCI_EXPERIMENT_FETCH=true|false` env flag and get rid of it later.

@dgonyeo do you have a slot to take this and the docker2aci one too?

[2016-09-08 16:15] dgonyeo commented on #3134
I don't, currently my plate's full with school and I really want to finish
the transport handlers thing for sgotti's distribution changes.

On Thu, Sep 8, 2016 at 12:11 PM, Luca Bruno <notifications@github.com>
wrote:

[2016-09-08 16:46] squeed commented on #2252
This is not possible without a change to the [appc schema](https://github.com/appc/spec/blob/f329150233aa3ac6c83ab5ba02a2b5a8bd03d365/schema/types/port.go#L35).

All runtime port forwarding information is still passed by an AppC pod manifest.

[2016-09-08 20:55] lucab commented on #1799
I had a quick look at this in the past, and I had an open question at the time: how do we fit this together with logging/journald?

From what I understand, systemd already does this kind of tricks in order to pass fds to journald. Can we somehow re-use [TTYPath=](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#TTYPath=) to connect the process to an external tty-mux? Is it compat

[2016-09-08 21:53] philips commented on #2313
@lucab can you put fixing this bug in the next release milestone?

[2016-09-09 04:31] mischief opened #3178 "switch to go-systemd for metadata socket activation"
**Environment**

rkt Version: 1.14.0
appc Version: 0.8.7
Go Version: go1.6.3
Go OS/Arch: linux/amd64
Features: +TPM +SDJOURNAL
--
Linux 4.5.3-gentoo x86_64
--
NAME=Gentoo
ID=gentoo
PRETTY_NAME="Gentoo/Linux"
ANSI_COLOR="1;32"
HOME_URL="http://www.gentoo.org/"
SUPPORT_URL="http://www.gentoo.org/main/en/support.xml"
BUG_REPORT_URL="https://bugs.gentoo.org/"
--
systemd 229
+PAM -AUDIT -SELINUX +IMA -

[2016-09-09 08:19] jonboulle commented on #3106
did #3155 fix this?

[2016-09-09 10:46] jellonek commented on #3106
IMO yes

[2016-09-09 11:04] kushaldas commented on #1304
I was trying out the [rkt-v1.14.0](https://github.com/coreos/rkt/releases/download/v1.14.0/rkt-v1.14.0.tar.gz) on a Fedora 24 cloud vm today. I had to copy ```init/systemd/*``` to ```/usr/lib/systemd/``` first, and then executed ``` sudo ./scripts/setup-data-dir.sh```.

Without SELinux disabled, I am getting the following output.

[code]

Disabling SELinux helped it to run normally.

[2016-09-09 11:20] kushaldas commented on #1304
From the ```audit.log```

[code]

[2016-09-09 13:03] kushaldas commented on #1304
Even with ```--no-overlay=true``` I am getting the following in the audit.log

[code]

[2016-09-09 13:46] jonboulle commented on #3178
Why is cadvisor connecting to the metadata service?

On 9 September 2016 at 05:31, Nick Owens <notifications@github.com> wrote:

[2016-09-09 13:52] s-urbaniak commented on #3153
A first PoC version is now merged in the https://github.com/coreos/rkt/tree/cri feature branch.

[2016-09-09 14:36] #3106 closed

[2016-09-09 16:15] lucab commented on #1799
I did some experimentations around this today, and at the moment I see a bunch of options feasible on top of what we already have:

 1. moving to `StandardOutput=tty` (in/out/err actually) and an external per-app tty handler
 2. adapting systemd to let `StandardOutput=journal+console` work with `TTYPath`, and handle in/out/err separately from logging
 3. a middleground solution, where we keep usin

[2016-09-09 16:19] steeef opened #3179 "Problems running a binary with setcap as an unprivileged user"
**Environment**
[code]
**What did you do?**

I'm running a Docker image that runs a binary as an unprivileged user. The binary in question (`/usr/bin/caddy`) has NET_BIND_SERVICE capability set as part of the Dockerfile, which should allow the unprivileged user to mount ports below 1024.

Dockerfile: https://github.com/steeef/stp5net/blob/master/Dockerfile
rkt run command:
[code]

**What did you e

[2016-09-09 19:16] euank commented on #1799
@alban when I was talking through it before with @philips I think we thought it was post-namespacing.

However, reading it again, it needs to remount `/dev` after its `ptmx` work, so it clearly is still fairly privileged if it's able to do so. Looks like you're right :)

@lucab I think it's true that there can be some impact on logging. If that's the case, it's possible we should accept it and mak

[2016-09-09 19:46] mischief commented on #3178
@jonboulle because @sjpotter made it so! :-)

https://github.com/google/cadvisor/blob/master/container/rkt/client.go

[2016-09-09 20:19] euank commented on #1799
So, option 1 of TTYPath above.. I did some quick prototyping:

I ran this perl script:
[code]

And then this systemd unit:
[code]

Before starting the unit, I created a bindmount for my pts over to my alpine-root. I also had to fiddle with my proc mount.

That gave me what I expected; a running 'sh' process which the new perl-spawned urxvt could talk to, where the `tty` command agreed with the TTY

[2016-09-09 20:24] euank commented on #1799
@lucab  missed your comment for a second: my take on your options

1. That's what I'm leaning towards above, we might be able to do 1 + helper that writes to journald to end up in an okay place. I don't think this needs a new stage1 if we gate it with an `--attachable` flag or such.
2. That seems like a better long-term solution if systemd thinks it's a good idea! Unfortunately, if systemd is conn

[2016-09-09 20:33] jonboulle commented on #3178
That's the API service, which is very different from the metadata service.

[2016-09-09 21:40] mischief commented on #3178
@jonboulle oops, that explains some confusion.

however, the bug report still stands, i think rkt metadata should handle socket activation correctly with multiple sockets :-)

[2016-09-09 22:38] euank opened #3181 ""sharing" the rkt data directory across a shared bindmount breaks rkt rm"
This was uncovered while @pbx0 was working on `kubelet-wrapper` + rktnetes.
I'm reviving the discussion since I'd like to have a definitive answer as to whether creating shared bindmounts of the rkt data-directory should be supported or not in light of containerized-kubelet + rktlet.

I think that this is something we should try to support for the sort of "rkt in rkt, but with a shared data direct

[2016-09-09 22:42] euank commented on #2878
This issue hasn't gotten any traction, closing in favor of #3181 which has a simpler reproduction and better explanation of the problem I think.

[2016-09-09 22:42] #2878 closed

[2016-09-10 02:23] AnneTheAgile commented on #745
Without admin access to this repo, what are the parts that desire 'help wanted'? Unless I misunderstand, it seems like it should be pretty clear if one has approval from coveralls for the app and then adds the config?
Refs
51.[] ; ; ; ; ; ; ; ; ; ;  X.Install Coveralls · Integrations Directory ; ; https://github.com/integrations/coveralls
54.[] ; ; no need to run go test separately, as goveralls r

[2016-09-11 06:12] kushaldas commented on #1304
I have also filed a [bug](https://bugzilla.redhat.com/show_bug.cgi?id=1374934) with SELinux issues in RH bugzilla.

[2016-09-11 12:04] erikvanoosten commented on #1734
Can someone please make clear where said documentation is available?

[2016-09-12 07:02] HuKeping opened #3184 "why says docker doesn't support OCI runtimes"
Hi,

Why we say that docker doesn't support OCI runtimes on [the website of CoreOS](https://coreos.com/rkt/)

![image](https://cloud.githubusercontent.com/assets/9958621/18427317/e50820c4-78f9-11e6-83c6-96a5688c06cc.png)

[2016-09-12 09:55] s-urbaniak commented on #3179
@steeef thanks for reporting this. It seems we are loosing the xattr when unpacking and/or converting internally, so it is probably somewhere inside docker2aci.

Keep in mind that you will still have to specify `rkt run --cap-retain=CAP_NET_BIND_SERVICE`. I was trying to come up with a quick workaround but we also loose `CAP_SETFCAP` for `setcap` itself :-/

[2016-09-12 10:22] jonboulle commented on #3184
This is probably an out of date comparison. @robszumski can we just scrap this?

[2016-09-12 10:31] HuKeping commented on #3184
@jonboulle this illustration is great, just want it be more precise

[2016-09-12 10:31] jonboulle commented on #1727
is this resolved?

[2016-09-12 10:40] jonboulle commented on #3178
#1267

[2016-09-12 11:10] jonboulle commented on #3159
1) seems like an easy fix we should do; 2) something we can just document as a known limitation for now.

[2016-09-12 12:14] jonboulle commented on #2252
@squeed we can just augment that with the necessary information

[2016-09-12 12:15] rhatdan commented on #1727
SELinux and Overlayfs are currently working in the Fedora Rawhide Kernel and Fedora 25.

[2016-09-12 13:04] alban commented on #3176
It does not seem related to the network set up by rkt then. Could you attach the ssh output when you try from inside the container (`ssh -v -v ...`)?

[2016-09-12 14:09] alepuccetti commented on #3167
As part of the work for https://github.com/coreos/rkt/issues/2844, I am working on this too.

[2016-09-12 16:02] alban commented on #3181
The "remount unshare" (MS_PRIVATE) is done in [MountGC](https://github.com/coreos/rkt/blob/v1.14.0/stage0/gc.go#L195). It was done initially for `rkt fly`.

I can reproduce the error "device or resource busy" without rkt with the following:

[code]

/cc @steveeJ

[2016-09-12 16:18] steeef commented on #3179
@s-urbaniak thanks for the tip re: `--cap-retain`. I missed that part of the docs. BTW, is it `--cap-retain` or `--caps-retain`? This page uses both:
https://coreos.com/rkt/docs/latest/capabilities-guide.html

Good find on docker2aci being the issue. That'd be my guess as well. I noticed that it also didn't carry over the `ulimit` setting from the Dockerfile. Running `ulimit -n` as the created use

[2016-09-12 16:27] BlauerHunger commented on #3176
Here is the ssh -v -v output:
[ssh output.txt](https://github.com/coreos/rkt/files/467804/ssh.output.txt)

[2016-09-12 17:05] lucab commented on #3176
@BlauerHunger I have a similar environment (debian testing) but I'm having issues reproducing what you are seeing.

To track this down, it would be helpful to know:
 * the command you use to run rkt
 * the command you use to connect via ssh
 * current network configuration
 * any log from inside the container

[2016-09-12 17:17] alban commented on #3181
@euank You're right, it is the same issue as the thing with systemd-udevd again:
[code]

Not only systemd-udevd, but any services that is started with `MountFlags=slave` or equivalent:
[code]

[2016-09-13 07:52] lucab commented on #1799
@euank thanks for the feedback. I'm going with option 1, while leaving an open window for option 2 for later (once we have a working PoC on our side we can re-discuss systemd details). I'm dropping option 3 for the moment.

I'm starting from stage1/stage2 internals, hoping to have something crude and working at the low level. Once there, I'll gather some more feedback before implementing host inte

[2016-09-13 09:49] jjlakis commented on #2380
@jellonek Is this issue still valid?

[2016-09-13 10:14] jellonek commented on #2380
Yes (but forgotten).
Code for this starts at https://github.com/coreos/rkt/blob/427f47a3ddde4c3c8d167ba3133215540354cf23/stage1/init/common/pod.go#L921

Do you want to reassign it to you?

[2016-09-13 10:15] mzylowski commented on #3019
We have new charts after changes made in rkt-monitor:
![cpu-stoptime](https://cloud.githubusercontent.com/assets/13780868/18469834/053351d8-79aa-11e6-9fae-c733dba4e56e.png)
![cpu-starttime](https://cloud.githubusercontent.com/assets/13780868/18469833/0531fa36-79aa-11e6-8d3a-ee5078fd7066.png)
Start time looks now OK, and coreos flavor is better then kvm solutions.
Stop time for qemu and lkvm is sta

[2016-09-13 10:17] jjlakis commented on #2380
Just asking, don't have much time to refactor this now.

[2016-09-13 10:18] jellonek commented on #2380
Exactly like me ;)

[2016-09-13 20:00] pbx0 commented on #3181
Just to add, this is the current work around we add to our rktnetes configuration in coreos-kuberetes: https://github.com/coreos/coreos-kubernetes/pull/551/commits/78acfe9c99822cf369fe9a12addd514a1331c719

Any extra configuration steps required just make rktnetes more fragile to install by people not using that repo's install scripts.

[2016-09-13 21:03] colhom opened #3188 "rkt run should offer to do container cleanup"
Similar in functionality to `docker run --rm`.

This would make writing cli tools which wrap `rkt run` cleaner. When operating outside of systemd, the state of the art as of now is to resort to bash traps and the like for cleaning up transient rkt containers after they have exited.

\cc @aaronlevy

[2016-09-13 21:43] lorddaedra opened #3189 "[Feature request] Rkt for Mac (xhyve integration version) and PyCharm IDE integration guide"
As web-developer I would like to use Rkt for Mac (native Mac app) instead of Vagrant + Virtualbox, it will improve my UE.

I would like to open terminal and use rkt (and acbuild too) commands on macOS system, but actually this app should execute it on virtual machine via xhyve...

I would like have ability to mount local project repository and use it inside virtual machine (copy code to image duri

[2016-09-14 10:05] alban commented on #3181
My previous comment was wrong: this is not related to systemd-udevd, bluetoothd or others. I tested again without services like systemd-udevd that "captures" the mount and the same issue still happens.

This is caused by the way [vfs_rmdir()](https://github.com/torvalds/linux/blob/v4.7/fs/namei.c#L3814) and [__is_local_mountpoint()](https://github.com/torvalds/linux/blob/v4.7/fs/namespace.c#L709)

[2016-09-14 10:16] s-urbaniak commented on #3179
@steeef and again, for the pointer in the documentation! :-) Indeed, the seccomp guide needs a fix. To clarify: `--cap-retain` is deprecated (but still works), so pleas use `--caps-retain` in the future.

[2016-09-14 12:09] s-urbaniak commented on #2984
This seemed to have reoccured today on fedora-23, coreos flavor in #2826:

[code]

[2016-09-14 12:36] jonboulle commented on #3179
for posterity, cross-referencing #2994

[2016-09-14 12:47] alban commented on #2992
To add an app with new volumes/mounts, we will need two patches: one in systemd-nspawn and one in systemd (stage1): https://github.com/systemd/systemd/issues/3860
If we want CRI in the default flavor before the next release of systemd, we will need to backport them.

[2016-09-14 16:29] jonboulle commented on #621
Requested once again in #3188.

For posterity, the technical difficulty here is that the rkt execution model fundamentally doesn't support this kind of operation because rkt itself (stage0) invokes `systemd-nspawn`/`lkvm` or  `exec()`s stage1 (`systemd-nspawn`/`lkvm`/`qemu`) - i.e. after a container has been launched, there is no long running process that could handle this automatic cleanup for th

[2016-09-14 16:29] jonboulle commented on #3188
Another call for #621

[2016-09-14 16:29] #3188 closed

[2016-09-14 18:34] lsm5 commented on #1305
@l1x So, if I have all my partitions (except swap, of course) under `/` and I `yum update systemd`, the machine mostly reboots fine, is ssh-able, except that the swap partition can't be brought up:

    -- The start-up result is done.
    Sep 14 14:20:13 minato systemd[1]: dev-disk-by\x2duuid-c2211bf2\x2dd5ed\x2d42c7\x2dadfd\x2da68cd4bb0006.device: Job dev-disk-by\x2duuid-c2211bf2\x2dd5ed\x2d42c7\

[2016-09-14 18:49] lsm5 commented on #1305
Oh btw, the systemd error when /home was separate was `systemd local-fs.target failed with result 'dependency'`

[2016-09-15 08:32] s-urbaniak opened #3195 "stage1: support for volume binds in mutable pods"
For attaching volumes in a running pod we need to propagate directories from the host to the running container. Currently there is a bug in systemd preventing this.

upstream issue: https://github.com/systemd/systemd/issues/3860

xref https://github.com/coreos/rkt/issues/2992#issuecomment-247001771

[2016-09-15 09:00] s-urbaniak commented on #3167
@alepuccetti bumping to next release, since this is stil WIP.

[2016-09-15 09:02] s-urbaniak commented on #3159
@lucab bumping to the next release, as it seems there's no PR yet.

[2016-09-15 09:06] s-urbaniak commented on #3158
@iaguis bumping to the next release. We can make a quickfix too once there is a solution.

[2016-09-15 09:07] s-urbaniak commented on #3134
bumping to the next release, since this is still WIP.

[2016-09-15 09:07] s-urbaniak commented on #3114
@squeed do you think you can tackle this in the next release? I am bumping for now.

[2016-09-15 09:09] lucab commented on #3159
I hit the same problem when doing seccomp support, but I thought it was enough of a corner-case to just workaround it there. I'd like to spend a bit of time debugging to see where this is coming from, as I feel we may encounter it in other places where workarounds are less feasible.

[2016-09-15 09:09] s-urbaniak commented on #3110
I'll bump this to the next release, and assign it to myself, rechecking with a fresh Arch install.

[2016-09-15 09:11] s-urbaniak commented on #3112
@onlyjob pinging, do you have some feedback from the build env? Until then, I am bumping this to the next release.

[2016-09-15 09:18] lucab commented on #3184
@robszumski updated this.

[2016-09-15 09:18] #3184 closed

[2016-09-15 09:18] s-urbaniak commented on #3179
github was too smart on closing this one, I just fixed the documentation issue, hence re-opening.

[2016-09-15 09:38] #2044 closed

[2016-09-15 09:39] iaguis commented on #3159
https://github.com/systemd/systemd/issues/3302

[2016-09-15 09:41] squeed commented on #2252
This will probably happen with the CRI port forwarding implementation, since we have to rework the stage0-stage1 API.

[2016-09-15 10:10] squeed commented on #2602
This is part of 1.15.0

[2016-09-15 10:10] #2602 closed

[2016-09-15 10:10] squeed commented on #3081
This is part of v1.15.0

[2016-09-15 10:10] #3081 closed

[2016-09-15 10:16] alban commented on #3195
xref https://github.com/systemd/systemd/pull/4152

[2016-09-15 11:31] BlauerHunger commented on #3176
To run the container, I use `rkt run blauerhunger.de/nas-sftp --interactive --port=ssh:10000`

To connect via ssh, I use `ssh ftpuser@localhost -p 10000` from outside of the container and `ssh ftpuser@localhost` from inside the container.

The container network is not touched.

You can find the content of /var/log under log/ in [https://blauerhunger.de/owncloud/s/ATNTl7NEuxq7lQh](https://blauerhun

[2016-09-15 12:07] s-urbaniak opened #3198 "functional tests for systemd `sd_notify` notifications"
#2826 introduces the possibility to forward systemd `sd_notify` events from the container to the host.

It is missing functional tests though.

[2016-09-15 13:05] s-urbaniak opened #3200 "Get rid of references to `--cap-remove`, `--cap-retain` in the documentation"
xref https://github.com/coreos/rkt/pull/3192#issuecomment-247318724

[2016-09-15 13:09] #1464 closed

[2016-09-15 13:52] JulienBalestra opened #3202 "rktnetes contains zero apps"
**Environment**

[code]

**What did you do?**

Building over Openstack Juno a bunch of instances to setup a rktnetes cluster.
How I did this here: https://github.com/JulienBalestra/openstack_kubernetes

The container jds_kafka works well with rkt, and over any Unit I choosed to ran:
https://github.com/JulienBalestra/openstack_kubernetes/blob/f237ec67d3653de9f6b8b24617d9cbd48a22120c/image/generate_

[2016-09-15 13:57] lsm5 commented on #1305
You can find rkt in this repo now, the build is available at: https://cbs.centos.org/koji/taskinfo?taskID=109148

[2016-09-15 13:59] s-urbaniak commented on #3202
/cc @yifan-gu

[2016-09-15 14:05] lsm5 commented on #1305
but beware, the systemd issue still exists on discrete partitions

[2016-09-15 14:25] s-urbaniak opened #3203 "stage1: support for isolators in mutable pods"
CRI specifies a couple of Linux specific container configurations which have to be applied to mutable pods:

This involves:
- [ ] Resource constraints: [k8s/kubelet/runtime/api#LinuxUser](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L326)
  - [ ] cpu_period
  - [x] cpu_quota
  - [x] cpu_shares
  - [x] memory_limit_in_bytes
  - [x] oom_score_adj
-

[2016-09-15 14:29] s-urbaniak commented on #3156
xref https://github.com/kubernetes/kubernetes/issues/25113

[2016-09-15 15:18] derekmahar commented on #3081
Good news!  Thank you!

[2016-09-15 16:24] squeed commented on #3153
Based on my analysis from the [api spec](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L154), we will need to support something like the following options:

* `--hostname`
* `--dns-server` and `--dns-option`
* Some way of specifying the fields of a port mapping [api spec](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1

[2016-09-15 16:29] philips opened #3204 "oci: add support for fetch from on-disk OCI image layout"
The OCI image-layout represents a single image and a number of "tag" refs. It should have all of the required blobs for layers, etc.

The imagined UX would be something like:

[code]

See the spec here: https://github.com/opencontainers/image-spec/blob/master/image-layout.md

[2016-09-15 16:29] philips commented on #3204
cc @vishvananda

[2016-09-15 16:30] vishvananda commented on #3204
it would be nice if it also supported a tar of the oci layout and even a tar.gz!

[2016-09-15 16:31] vishvananda commented on #3204
related to https://github.com/coreos/rkt/issues/2392

[2016-09-15 17:19] squeed commented on #3153
Based on my analysis from the [api spec](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L154), we will need to support something like the following options in `rkt app sandbox`

* `--hostname`
* `--dns-server` and `--dns-option`
* Some way of specifying the fields of a port mapping ([api spec](https://github.com/kubernetes/kubernetes/blob/master/pkg

[2016-09-15 21:59] ericchiang commented on #2804
Seeing the exact same issue with v1.13 and coreos-baremetal. No switching between versions

[code]

[2016-09-16 07:32] HuKeping commented on #3184
Thanks for checking this!

[2016-09-16 07:47] cmpitg opened #3206 "Roadmap is gone from master?"
Hi,

I believe from 90c82df30317317620f5f5bc38b5c605180b26f2 the roadmap file is gone.  The [link](https://github.com/coreos/rkt/blob/master/ROADMAP.md) from [README](https://github.com/coreos/rkt/blob/master/README.md) results in a 404.

[code]

Ha-Duong

[2016-09-16 08:51] lucab commented on #3206
I think that @squeed deleted it from the latest release as we are now more effectively tracking tasks via GitHub milestones/projects. Also, rkt as a projects is strongly driven by whatever are the needs and evolutions of the surrounding environments (kubernetes, OCI, etc.) so our ROADMAP file was not really accurate except for the very next release.

[2016-09-16 09:18] #3141 closed

[2016-09-16 10:07] squeed commented on #3136
Based on my understanding of the [API spec](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L393), we'll need to support the following options:

- `--exec` and args
- `--set-env` and `--set-env-file`
- `--annotation` and `--label`
- `--caps-remove` and `--caps-retain`
- `--readonly-rootfs`
- `--uid=`, `--gid=`, and `--additional-gid=`
- some [SELinux

[2016-09-16 11:04] jonboulle commented on #3206
Can we restore some version of this file? even if it's just pointing towards the milestones and mentioning the other surrounding environments.

[2016-09-16 11:23] squeed commented on #3206
Darn, I was hoping nobody would notice :-)
I removed it because it fell out of date, and it takes 30 minutes to harass
everyone and write it during a release. Whatever we put back should be
either better maintained, or not require significant maintenance at release
time.

On Fri, Sep 16, 2016 at 1:04 PM, Jonathan Boulle <notifications@github.com>
wrote:

[2016-09-16 11:29] jonboulle commented on #3206
How about adding some verbiage describing how we use the milestones, that
we do fortnightly releases, and restoring the 1.0 compatibility note?

On 16 September 2016 at 13:23, Casey Callendrello <notifications@github.com>
wrote:

[2016-09-16 11:52] lucab commented on #3206
I see some value in having a doc pointing out to:
 * next release version
 * timeframe (month granularity seems enough to me)
 * pointers to milestone, projects, etc.

Fine-detailing what we will do and when in a static file instead didn't seem to work too well, I agree.

[2016-09-16 12:25] jonboulle commented on #3114
Does this relate to #2804?

[2016-09-16 12:41] krnowak commented on #3200
Just want to point out that cap-remove and cap-retain flags are still available as not-deprecated flags in prepare - https://github.com/coreos/rkt/blob/cf0aa2e4c6062e76c6a18a8af99641e84aac9ecc/rkt/prepare.go#L76.

Likely @alban will fix this as a part of #3207.

[2016-09-16 14:05] s-urbaniak commented on #3202
@JulienBalestra Do you mind double-checking if you have the `flannel` CNI binary in the `/opt/cni/bin` directory? That is the default location where Kubernetes expects it. I see `flanneld` output in your log, so I am not sure if that is the problem, but might help triaging the issue.

[2016-09-16 15:25] jonboulle commented on #3144
@squeed to close this out could you add some language to https://github.com/coreos/rkt/blob/master/Documentation/distributions.md please? maybe a separate "generic Debian/RPM packages" section?

[2016-09-16 16:15] ericchiang commented on #3114
Yes, they seem like the same issue.

[2016-09-16 20:30] yifan-gu commented on #3202
@JulienBalestra Can you do the following and paste results here?
`systemctl status k8s_$uuid.service`
`journalctl status k8s_$uuid.service`
`rkt cat-manifest --pretty-print $uuid`

[2016-09-16 23:38] yifan-gu opened #3210 "Bump appc/spec to support arbitrary string in annotation's key."
Currently I can't insert annotations/labels during `rkt app add` because the key in kubernetes annotations/labels contains [upper case letters](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/labels.go#L34-L41), which doesn't satisfies appc's [annotation key format](https://github.com/appc/spec/blob/master/schema/types/annotations.go#L27), which only allows lower case

[2016-09-17 00:32] lorddaedra opened #3211 "rkt fetch: failure when pulling from private repository"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

Rkt will fetch updated image...

**What did you see instead?**

[code]

`# cat /etc/rkt/auth.d/docker.json`

[code]

I can confirm, that in 1.13 rkt fetched some images for me from Docker Hub, but in 1.15 I can't do same...

Did you changed auth.d formats for config in 1.14 or 1.15?.. Please, update docs  (http

[2016-09-17 00:35] lorddaedra commented on #3211
Also may be will be good idea add something like  --no-store-if-image-changed-in-repository (short version :-) )

[2016-09-17 08:58] akermu opened #3215 "stage1-host doesn't run containers: failed to execute "--notify-ready=yes""
**Environment**

[code]

**What did you do?**

I tried to run the nginx-latest-linux-amd64.aci build with this [example](https://github.com/containers/build/blob/master/examples/nginx/build-nginx.sh).

**What did you expect to see?**

A running container.

**What did you see instead?**

[code]

[2016-09-17 20:17] JulienBalestra commented on #3202
The cni dir I chose is /opt/cni/ so the *bin* isn't here: https://github.com/JulienBalestra/openstack_kubernetes/blob/5389572e544a654b8e5c30c1624eaf003143dbf3/image/generate_image.yaml#L795 but I specify the argv for the kubelet: https://github.com/JulienBalestra/openstack_kubernetes/blob/5389572e544a654b8e5c30c1624eaf003143dbf3/kubernetes/kube-node.yaml#L177

The kubelet doesn't take care of the

[2016-09-18 07:15] TerraTech commented on #3170
@euank Thank you for the indicator that this could be done as I needed access to the host's /dev/fuse for lizardfs.

[2016-09-18 15:36] lucab commented on #3215
Thanks @akermu! As you already noticed, this is due to wrong argument ordering when building the command-line for systemd-nspawn.
As a side note, this only affects stage1-host flavors on those distributions that are shipping with systemd >= v231. A workaround is for users to use the prebuilt stage1s (ie. stage1-coreos) and for downstream distributors to temporarily cherry-pick the patch at https:/

[2016-09-19 08:35] #3215 closed

[2016-09-19 10:26] s-urbaniak commented on #3210
@yifan-gu the PR https://github.com/appc/spec/pull/656 by @squeed addresses this issue (superseeding your PR https://github.com/appc/spec/pull/655).

The idea is to also have a `cri` branch in appc itself, which we would vendor the rkt `cri` branch to keep things moving forward swiftly.

[2016-09-19 13:48] lucab commented on #1799
I have a very crude ttymux service (based on `TTYPath=` above) working in my [iottymux branch](https://github.com/lucab/rkt/tree/wip/lucab/iottymux), which just exposes the pty raw binary stream over a network socket for stage0 consumption. Out-of-band signaling (eg. for resizing) is not implemented at the moment. This is effectively quite similar to a per-app tty telnet service.

However, it look

[2016-09-19 16:27] alban commented on #3203
https://github.com/coreos/rkt/pull/3207 addresses some of the isolators above.

[2016-09-19 17:11] lucab commented on #3203
The SELinux one looks strange and I'm not even sure that it is feasible on our side. It looks like it is being moved from v1 API where it was a pod-wide property under [http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_podsecuritycontext](PodSecurityContext).

@euank @tmrts @yifan-gu any way this could be reverted back in CRI as it was in v1?

[2016-09-19 18:10] psy commented on #3110
same issue here as @andir reported.

[2016-09-19 20:18] yifan-gu opened #3221 "`rkt app rm` should succeed when removing an app even if the pod is not running"
Today when `rkt app rm` an app, it will error out if the pod is not running:
[code]

However, IMO it should succeed in this scenario that `rkt app rm` should be able to remove the app after the pod is stopped, because for kubelet to do garbage collection, it will remove the stopped apps individually before removing the stopped sandbox.

[2016-09-19 23:49] TerraTech opened #3223 "rkt cross mounting between two containers in same pod"
This is an arbitrary example, but should explain what my goal is.

I have two ACIs
1) alpine-sh.aci
2) helloworld.aci

Within helloworld.aci, it is a pseudo data/app container, that _only_ contains a golang: /app/helloworld

My goal is to start this as a pod and cross mount as such:
[_psuedo_] mount -o bind _helloworld.aci_:/app _alpine-sh.aci_:/apps/helloworld

Resulting in: _alpine-sh.aci_:/apps

[2016-09-20 00:18] yifan-gu commented on #3203
@lucab ACK, I will take a look.

[2016-09-20 06:45] lucab commented on #3211
Hi @lorddaedra and sorry for breaking your environment. We didn't change auth format recently, this smell more like a docker2aci glitch. Can you please try using latest docker2aci directly and see if that works?

[2016-09-20 08:30] lorddaedra commented on #3211
@lucab

If I understand correctly, it's separate component for downloading & converting images. Yes, I can test it but not sure how to login to private repository via docker2aci, there is no docs about it...

I use private repository on DockerHub. Currently going to switch to other things.. may be my own or free account on quay...

So how to give docker2aci my login and password to private reposit

[2016-09-20 08:35] lucab commented on #3211
Yes, it is a separate component which fetches and translates docker images to appc, and it is also used internally as a library by rkt. According to https://github.com/appc/docker2aci/pull/41, it should be able to use your existing .dockercfg for auth credentials.

[2016-09-20 08:53] lucab commented on #3200
Fixed by https://github.com/coreos/rkt/pull/3209.

[2016-09-20 08:53] #3200 closed

[2016-09-20 09:14] alban commented on #3203
rkt exposes `CPUQuota` via the ["resource/cpu" isolator](https://github.com/appc/spec/blob/master/spec/ace.md) but not `cpu_period`, `cpu_shares` or `oom_score_adj`.

`cpu_shares` could be added with the systemd directive [CPUShares](https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html#CPUShares=weight), but I don't know about the other ones.

[2016-09-20 09:21] iaguis commented on #3203
quota and period go together, I don't think separating them makes sense, they express a percentage of cpu time...

* cpu.cfs_quota_us: the total available run-time within a period (in microseconds)
* cpu.cfs_period_us: the length of a period (in microseconds)

https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt

[2016-09-20 11:35] sgotti commented on #3204
The distribution concept introduced in #2953 has some examples for the oci image layout (and future oci image distributions). This, with the move to a reference based store ( #3071 ), will permit something like

[code]

In addition in #3071 there's a proposal to add a `rkt image set-ref $DIGEST $REFERENCE` command where an user can set additional refs to an image digest. So the proposed behavior i

[2016-09-20 13:31] iaguis commented on #3221
Closed via #3222

[2016-09-20 13:31] #3221 closed

[2016-09-20 17:56] utahcon opened #3228 "fly: incorrectly mounts symlinked targets outside of app chroot"
**Environment**

[code]

**What did you do?**
- In GCE start new instance of CoreOS 1122
- Copy certificate and CA chain file to `/etc/ssl/certs`
- Copy private key to `/etc/ssl/keys`.
- Create flannel options file

[code]
- Start flanneld:

[code]

**What did you expect to see?**

Flannel to start running using rkt

**What did you see instead?**

When the `flannel.service` calls to rocket is pass

[2016-09-20 18:09] lucab commented on #3228
I'm not completely sure I've understood the context, and in particular the symlinking part. Can you please post a `systemctl cat flannel.service` showing the unit and rkt invocation?

[2016-09-20 20:37] utahcon commented on #3228
You bet...

[code]

[2016-09-20 20:43] utahcon commented on #3228
To clarify what I see happening, that I don't think should be.

When I start flanneld `systemctl start flanneld.service`, it fails. It fails because flannel is unable to stat my files `/etc/ssl/certs/server.crt` and `/etc/ssl/certs/company-ca-chain.pem`

This is because (I think) rkt is mounting `/usr/share/ca-certificates` to `/etc/ssl/certs` on the host

Mounts before starting flannel:
[code]

M

[2016-09-21 07:57] s-urbaniak commented on #3110
After a clean install of Arch I cannot reproduce this. Apparently my downloaded CD image was new enough so there was no kernel update necessary.

I am there currently pretty confident that this happens when a kernel has been updated, which forces a reboot anyway.

[2016-09-21 08:35] iaguis commented on #3110
Yep, I just got this last week too when I updated my kernel without rebooting.

[2016-09-21 11:51] s-urbaniak commented on #3110
ok, closing this for now, since it is simply the nature of Arch which needs a reboot after a kernel upgrade.

[2016-09-21 11:51] #3110 closed

[2016-09-21 13:01] s-urbaniak commented on #2943
I am still seeing this sporadically with an output like this:
[code]

[2016-09-21 14:34] mzylowski commented on #3019
I made additional measure for core OS stop time.
Rkt monitor started with -r 1000 and -d 30s (1000 iteration and 30s - container lifetime).
The problematic trend is also visible:
![coreos_stoptime_1000iterations](https://cloud.githubusercontent.com/assets/13780868/18715255/ed400970-8018-11e6-9299-f7ce2bdaf5f2.png)
I think it is good moment to assign to this issue somebody who is more advanced in c

[2016-09-21 16:09] yifan-gu commented on #3203
Opened an issue about adding pod level selinux discussion  https://github.com/kubernetes/kubernetes/issues/33139

[2016-09-21 17:16] squeed commented on #2252
This will go out as part of the CRI changes.

[2016-09-21 19:40] UgnilJoZ commented on #2252
Hi,
Thats a cool feature.
After a quick look into the code, I think that this does not support IPv6 yet; do you have plans to do? Correct me if I'm wrong.

[2016-09-22 08:35] lucab commented on #3228
Thanks for the detailed feedback! Just to keep you updated, I think that fly behavior here is fine but either the service file may require some tweaking or the flannel docs need to better explain this setup. I asked in private about this, hopefully @marineam or @mischief have a better overview on this. @utahcon may I ask if you are following any guide to set this up?

Moreover, it looks like your

[2016-09-22 08:40] lucab commented on #3223
As mentioned in the referenced issue, applications are chroot'ed into different paths so there is no direct FS relationship between them. On top of that, nowadays we have several isolation features (eg. profcs masking, read-only rootfs, etc.) that as a side-effect will also confine applications into a separate mount namespace.

I don't see any easy way of doing exactly what you are requesting. I m

[2016-09-22 09:25] squeed commented on #2252
Hi there,
We don't currently support IPv6 in pod networking (this is dependent on IPv6 support in CNI).
This feature sets up some iptables rules to NAT traffic coming to the host's IPs. While iptables does not support cross-stack nat, you could probably set up a local 6to4 tunnel to accomplish this.

If you'd like, feel free to open an issue exploring 6to4 NAT.

[2016-09-22 11:17] TerraTech commented on #2276
This may be overly simple, but for me 'latest' could simply be comparing the remote aci's sha512 against the local store's sha512 and if different, then fetch the remote dependency.  During development, I generally tweak a dependency and push it to the remote store, jump on the test system and run the pod there.  I would expect that the remote and local hashes would be compared, and if different,

[2016-09-22 19:21] TerraTech commented on #3223
@lucab Thank you for your response and I came to the same conclusion that you had explained.  I am now approaching this by adding dependencies to the pod's build/composition routines and dropping my use of 'alpine-sh'.

My initial reason for asking was that I wanted to create two apps for a pod, one that was based on 'alpine-sh' (worker) and another that had 'Ubuntu+lizardfs'.  Alpine doesn't supp

[2016-09-22 21:19] dansteen opened #3237 "rkt in docker container gets wrong cgroup device pathing"
**Environment**

Replace this with the output of:
There are two environments at play here.  The first is my host machine, and the second is the docker container in which rocket is run.

Host Machine:
[code]
Docker Container:
[code]

**What did you do?**
I am attempting to run rkt inside a docker container.   I realize this sounds dumb, but the use-case is for chef test-kitchen so I can test my coo

[2016-09-22 21:39] monder commented on #3223
Just for discussion I'll add the use-case I had a while back, which I resolved by [combining images](https://github.com/containers/build/blob/master/Documentation/subcommands/dependency.md) as was mentioned already.

There is one app (`nginx`, `mongo`, `elastic`, anything...) and I wanted to have another app that is able to read/write config files ([confd](https://github.com/kelseyhightower/confd)

[2016-09-23 00:26] yifan-gu commented on #3010
Fixed by #3224 and #3205

[2016-09-23 00:26] #3010 closed

[2016-09-23 00:28] robszumski opened #3238 "Using rkt with the kubelet wrapper, flags with an equals sign are not applied"
**Environment**

rkt 1.14.0

**What did you do?**

Use a flag like `rkt run --volume=resolv,kind…`. Note the `=`.

**What did you expect to see?**

Have it work the same as `rkt run --volume resolv,kind…`

**What did you see instead?**

The flag is silently dropped, at least in terms of using the kubelet-wrapper with `$RKT_OPTS`. This issue was originally brought up in Kubernetes slack: https://ku

[2016-09-23 00:28] robszumski commented on #3238
Related: https://github.com/coreos/coreos-kubernetes/pull/684

[2016-09-23 10:11] alban commented on #3195
Initial branch: https://github.com/coreos/rkt/pull/3239

[2016-09-23 15:33] slallema commented on #2811
I've tried again with the latest version of rkt, it still does not work.
Has anyone got a working setup of macvlan + stage1-kvm ?

[2016-09-23 21:12] yifan-gu opened #3241 "Add caps-add"
Current CRI has [add capabilities, and remove capabilities](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L353-L358)

But rkt/appc doesn't provide a way to do add capabilities today. In order to implement that, we need to add `os/linux/capabilities-add-set` in appc, and then implement it in rkt.

[2016-09-23 22:12] yifan-gu opened #3242 "Expose relative cpu shares"
Today, k8s API expose [cpu limit and cpu request]() for cpu resource restriction.

The kubelet translates cpu limits to cpu-quota/cpu-period, and translates cpu request to relative cpu shares [here](https://github.com/kubernetes/kubernetes/blob/v1.5.0-alpha.0/pkg/kubelet/kuberuntime/kuberuntime_container.go#L101-L125)

Then, it passes runtime the **cpu share, cpu quota, and cpu period**.

But for

[2016-09-23 22:36] lucab commented on #3241
Capturing from a private conversation: we are probably not going to do this, at least for now.

We already provide a whitelist and a blacklist capability isolators, which can be used here. In particular, it looks like CRI is trying to mimic [Docker command-line](https://docs.docker.com/engine/reference/run/#/runtime-privilege-and-linux-capabilities) but they are currently a bit underspecified (are

[2016-09-23 22:53] lucab commented on #3228
Even though the root-cause analysis above is probably correct (environment causing nested mounts), it looks like there is indeed a rkt-fly bug here.

In case of nested mounts (`/etc/ssl/` and `/etc/ssl/certs` here), fly execution may results in mounts that are leaking outside of the chroot. This seems to happen because systemd default all mount to a `MS_SHARED` semantic which enabled propagation i

[2016-09-23 23:23] lucab commented on #2811
/cc @coreos/rkt-kvm-maintainers

[2016-09-24 01:40] marineam commented on #3228
Well, if rkt fly is in the host's mount namespace it should not not go changing everything to `MS_PRIVATE` since that changes the behavior of the rest of the system. If rkt fly did create a new mount namespace it could take advantage of `MS_PRIVATE` vs `MS_SHARED` to control exactly what is exported to the host system vs not but transitioning to this scheme may be tricky given rkt fly currently do

[2016-09-25 08:14] s-urbaniak commented on #3228
Instead of going down up to `MS_PRIVATE` couldn't we pick the lesser evil `MS_SLAVE` which enables unidirectional mount propagation towards the slave only?

This would cover much more use cases in the wild than just `MS_PRIVATE` and using the following sample mount sequence resolves the issue:

[code]

[2016-09-25 08:19] s-urbaniak commented on #3228
Nevermind, I missed the use case with the kubelet where a slave towards master propagation is also needed :-/

So it might be that we need another propagation parameter `--mount volume=logs,target=/var/log,flavor=[shared|slave|private|unbindable]`.

[2016-09-25 14:30] jellonek commented on #2811
I can't workout this - maybe someone from Intel?
/cc @jjlakis @lukasredynk

[2016-09-26 10:38] TerraTech commented on #2751
I tried switching over to _rktnetes_ and have slammed headfirst into this problem.  @lucab is there a current workaround that can be applied to kubelet-wrapper or some config option I can update?

I'm running on: CoreOS-1153.4.0  (rkt-1.13.0)

Also, I noticed that trying to stop the kubelet:  systemctl stop kubelet
doesn't stop kube-{schedular,controller-manager,apiserver}

I end up having to stop

[2016-09-26 10:46] lucab commented on #2751
@TerraTech this should work by passing `--insecure-options=paths` (or `all-run` for more) to the privileged pod.

[2016-09-26 11:30] TerraTech commented on #2751
@lucab I'm not sure where to pass that option.  I tried to add it to kubelet.service RKT_OPTS, but it had no effect.  Is it instead supposed to be added to: /etc/kubernetes/manifests/kube-proxy.yaml ?

Sorry, I'm just stepping into the rktnetes realm and a gentle nudge in the right direction would be greatly appreciated so I can start learning this environment.  TIA!

[2016-09-26 12:02] Quentin-M commented on #3158
I worked-around the use-case in Stackanetes for now by using stage1-fly, splitting my pod into multiple pods, by writing a runtime specific Kubernetes manifest (no `/sys/fs/cgroup` mount, remount `/dev/pts` with `gid=5,mode=620,ptmxmode=666`, remount `/sys/fs/selinux`).

[2016-09-26 12:04] s-urbaniak commented on #2751
@TerraTech can you please specify `privileged: true` as described in [1] in your `kube-poxy.yaml`? If the pod is marked as privileged, we set the `--insecure-options=all-run` as per [2]

[1] http://kubernetes.io/docs/user-guide/security-context/
[2] https://github.com/kubernetes/kubernetes/blob/41ece9a90169237849692ad9f24f0c1460ea7d41/pkg/kubelet/rkt/rkt.go#L967

[2016-09-26 12:12] Quentin-M commented on #2751
Hi,

This might help as well:
- https://github.com/coreos/coreos-baremetal/blob/master/examples/ignition/rktnetes-controller.yaml
- https://github.com/coreos/coreos-baremetal/blob/master/examples/ignition/rktnetes-worker.yaml

I am running two rktnetes clusters with Kubernetes 1.4, the CNI network plugin and rkt 1.14 without noticeable issue.

[2016-09-26 12:17] Quentin-M commented on #2751
You need Kubernetes v1.4.0-alpha.3+ in order to fix this issue by simply specifying `privileged: true` and rkt 1.14+.

Reference:
- https://github.com/kubernetes/kubernetes/commit/173dbd700bb2c5b5061da477a7d035d6ae6d95db
- https://github.com/coreos/rkt/pull/3138

[2016-09-26 12:19] jonboulle commented on #3241
I'd like to try pushing upstream towards the retain/remove semantic that we have today; the cat is out of the bag for add/remove being in the public k8s pod API, but at the very least we could fix this for the [internal CRI API](https://github.com/kubernetes/kubernetes/blob/13357bd653cde58e9438b00de374bd406dd720ec/pkg/kubelet/api/v1alpha1/runtime/api.proto#L352).

[2016-09-26 16:35] grepory commented on #3206
I would also be satisfied with the removal of the broken link from README.md and instead perhaps a link to github projects/etc or whatever the interface for that is. Just saying... Because broken links are a tragedy.

[2016-09-26 17:34] jonboulle commented on #3206
@squeed could you take a look at this please?

On 26 September 2016 at 18:35, Greg Poirier <notifications@github.com>
wrote:

[2016-09-26 21:49] yifan-gu commented on #3241
+1. Action item would make a PR upstream to change the CRI, and runtime's implementations.

[2016-09-26 23:18] euank commented on #1799
I'm confused as to why those systemd changes are needed. Why can't the `iottymux` program just speak a different protocol that is sufficiently rich to support everything?
At worst/messiest, it seems like you could just have a bind-mounted directory that it writes ttys to which are then consumed by the external user however they seem fit.

Mind clarifying why additional iottymux code or tweaking it

[2016-09-27 00:19] TerraTech commented on #2751
@Quentin-M Thank you very much, that was the boost I needed to get rktnetes working.

I had to do the following:
  1. Upgrade to CoreOS 1164.1.0 (felt it was just easier this way to have rkt-1.14.0 + OS integrated)
  1. Use kubernetes-1.4.0-beta.10_coreos.0
  1. Update kube-proxy.yaml
    1. Add the _annotations_ for stage1-fly
    1. Add the dbus mount
  1. (_unrelated_) I had forgotten to create

[2016-09-27 00:29] Quentin-M commented on #2751
Glad to hear!

Actually, you can either have rkt manage the network - that's what you've done by having the flannel configuration in `/etc/rkt/net.d`, or let kubelet do it with the help of the CNI plugin. For the latter, the following parameters have to be given to kubelet: `--network-plugin=cni --network-plugin-dir=/etc/kubernetes/cni/net.d` and then `/etc/kubernetes/cni/net.d/flanneld.conf` shou

[2016-09-27 00:31] #2751 closed

[2016-09-27 08:10] lucab commented on #1799
@euank the problem is not between k8s and `iottymux`, but between `iottymux` and single apps (as systemd services). When running with a `TTYPath=` applications are attached to a pty, which means that there are terminal semantics (eg. resizing, echo, etc.) and that all output streams (stdout/stderr) are muxed together. As `iottymux` is reading from pty fd, it won't be able to distinguish stdout fro

[2016-09-27 09:15] JulienBalestra commented on #3202
@s-urbaniak I changed the directory where the CNI binaries are stored as you mentioned before.

[code]

[code]

@yifan-gu this is the output you asked me for.
[code]
[code]

[code]

[code]

The same container image run with fleet:
[code]
[code]

[2016-09-27 14:01] JulienBalestra commented on #3202
The `rkt cat-manifest --pretty-print` lead me in a good path, I guess.

Apparently the Kubernetes cannot run image over public http/s object storage (like Openstack Swift, AWS S3). At least I didn't find suitable examples to do it.

With rkt I do a quick and easy ExecStartPre `rkt fetch http://swift/aci/image.aci` but it quietly doesn't work with rktnetes.

Also, if you try stop delete the deploym

[2016-09-27 14:08] jonboulle commented on #3237
Do you have a Dockerfile we could use to reproduce this?

[2016-09-27 15:06] s-urbaniak commented on #3202
@JulienBalestra Ahh, now I see that you are trying to start an aci, sorry that I didn't see this earlier.

Yes, unfortunately we only support docker image in rktnetes currently, see [1].

Nevertheless you could try to version your aci, like `jds_kafka:0.0.1`, pre-fetch it and then start it, maybe even using `imagePullPolicy=Never`? At least I have been able to launch aci images locally here in the

[2016-09-27 15:07] dansteen commented on #3237
It's pretty simple:

[code]
Then, if you log in and install rkt from a package (generated using these instructions: `https://coreos.com/rkt/docs/latest/distributions.html#ubuntu`,  you can test running any container, and the same error is given.

Thanks!

[2016-09-27 15:17] JulienBalestra commented on #3202
Yes it works, with any pre fetched correctly versionned aci.

Thanks for your help.

[2016-09-27 15:17] #3202 closed

[2016-09-27 16:19] s-urbaniak commented on #3156
@squeed can I close this one, since https://github.com/coreos/rkt/pull/3231 landed?

[2016-09-27 16:26] #3156 closed

[2016-09-27 22:23] mtanski commented on #3211
I just ran into this while using a new rkt 1.15 trying to fatch docker images quay.io

[2016-09-27 23:04] yifan-gu commented on #3241
Filed an issue upstream https://github.com/kubernetes/kubernetes/pull/33614

[2016-09-28 09:00] s-urbaniak opened #3245 "--insecure-options=all-run should mount /proc/sys read-write"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

[code]

**What did you expect to see?**

`/proc/sys` is mounted read-write.

**What did you see instead?**

[code]

Despite specifying `--insecure-options=all-run` `/proc/sys` is mounted read-only.

[2016-09-28 09:01] s-urbaniak commented on #3245
xref upstream discussion https://github.com/systemd/systemd/pull/4018#r76971862

[2016-09-28 09:05] s-urbaniak commented on #3245
/cc @lucab

[2016-09-28 09:13] lucab commented on #3245
For reference, this `/proc/sys` protection is coming from systemd-nspawn [mount_all()](https://github.com/systemd/systemd/blob/v231/src/nspawn/nspawn-mount.c#L303). It is disabled when systemd-nspawn creates its own netns, but we should introduce a way to switch it off from the outside as discussed in the cross-reference above.

[2016-09-28 19:05] euank commented on #3181
@alban what's the reason we needed to remount with `MS_PRIVATE` bit in `MountGC`?
If we can get away without that, it seems like the simplest fix, and if it was only needed for some specific case in rkt fly maybe we could detect `needsRemount` better and fix this that way.

[2016-09-28 19:15] ajanthan opened #3246 "Roadmap is not available"
**Environment**
N/A

**What did you do?**
Click on roadmap link in README.md

**What did you expect to see?**
Details on roadmap

**What did you see instead?**
404 page

[2016-09-28 20:57] lorddaedra opened #3247 "/proc/self/fd/2 inside Rkt-containers"
I can set error_log = /proc/self/fd/2 in /etc/php7/php-fpm.conf and it will work via Docker, but not in case of Rkt. How to fix it and get similar things in Rkt containers?

I would like to use systemctl status <my-php-fpm-custom>.service command to see anything related with php-fpm errors. How to get alternative behaviour with Rkt?..

[2016-09-28 21:04] lorddaedra commented on #3247
Related question about Docker php-fpm image: http://serverfault.com/questions/658367/how-to-get-php-fpm-to-log-to-stdout-stderr-when-running-in-a-docker-container

[2016-09-28 22:05] lorddaedra commented on #3247
``` lrwx------    1 root     root            64 Sep 29 00:38 /proc/self/fd/2 -> /dev/pts/0```

[2016-09-29 08:23] lucab commented on #3223
Do we have any action item out of here or should we just mark this as solved? More documentation is always good, but this seems to concern containers operational topics more than rkt itself so I don't see any obvious place for this kind of information in this repo. Would anybody of you interested in capturing this operational discussion in an external blog/article/gist/etc?

[2016-09-29 09:38] lucab commented on #3228
(Following here some insights from a short brainstorm we had on this, no definitive answers yet)

@s-urbaniak is right, in the long term we probably need individual options for mount propagation. This was already discussed in https://github.com/coreos/rkt/issues/1149 and the caveat is that several combinations are not feasible, lead to unexpected behavior or just make little sense in practice. Thi

[2016-09-29 09:40] lucab commented on #3154
Bumping a couple of releases further.

[2016-09-29 10:02] lucab commented on #2694
The same concerns at https://github.com/coreos/rkt/issues/3245#issuecomment-250114248 applies here: we first need to be able to let systemd-nspawn aware that we want a writable `/proc/sys/net` when it is inside a netns provided by CNI.

[2016-09-29 10:05] lucab commented on #3178
I'm demilestoning this for the moment, until we have a free slot to tackle it.

[2016-09-29 10:19] JackieKu opened #3248 "cgroup devices.allow list should be configurable for arbitrary devices."
Currently only the volumes are allowed to be accessed inside the pods. I could not find a straightforward way to allow pods to access other devices such as _character devices_.

For example I had an app that runs VPN service needs to create tap devices, which requires the access to /dev/net/tun. And it failed with required capabilities granted. To demonstrate the failure:
[code]

I ended up with a

[2016-09-29 11:01] Quentin-M commented on #2694
As a temporary workaround on my privileged + hostNetwork pod, I [ended up](https://github.com/stackanetes/stackanetes/pull/91) mounting `/proc/sys` from the host. Another workaround is remounting `/proc/sys` RW from the inside. It's nasty but it unblocked me for now.

[2016-09-29 13:31] TerraTech commented on #3223
I have since gone the strategic ACI layering route, so it can be closed unless @monder wants to branch this discussion as you suggested.

[2016-09-29 13:31] #3223 closed

[2016-09-29 13:44] lucab commented on #2940
@lorddaedra as you are the one that knows better the usecase and the requirements, can you have a look at what systemd units provide for CPU affinity [around here](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#CPUSchedulingPolicy=) and see if there is something missing for your usecase there? Having it implemented at that layer, it would make re-use in kubernetes easier.

[2016-09-29 13:45] lucab commented on #3198
Tracked via #3227.

[2016-09-29 13:58] lucab commented on #3179
The underlying docker2aci issue is at https://github.com/appc/docker2aci/issues/202.

[2016-09-29 14:23] lucab commented on #2943
This is still appearing, so it needs proper investigation.

[2016-09-29 14:30] lucab commented on #3158
So the current setup requires two fly pods (kubelet and libvirt) on a node, with some cross-mounting between them for token, cgroups, etc.

Looking at this scenario, we noticed several mounts leaking to the host and messing around with other mountpoints. This is probably because of https://github.com/coreos/rkt/issues/3228, so the current plan is to start fixing on that side and come to a stable s

[2016-09-29 14:36] lucab commented on #3158
Another approach that @iaguis was following is to get away from fly, by using `SYSTEMD_NSPAWN_SHARE_NS_PID` (see https://github.com/systemd/systemd/pull/4023) and running without a dedicate pid namespace. This may anyway happen later on to support `--pid=host`, but requires checking if systemd in stage1 is happy not being pid1 and for stackatenes it is anyway not clear if we need to remove blocker

[2016-09-29 15:28] jonboulle commented on #3246
@squeed please take a look at this

[2016-09-29 15:28] jonboulle commented on #3246
#3206

[2016-09-29 16:55] euank commented on #3245
I don't think it's unreasonable to rescope this slightly by saying `all-run` should make both `/sys` and `/proc` read-write. Ref bullet point 3 from https://github.com/coreos/rkt/issues/2962#issuecomment-235444606

[2016-09-30 00:32] tjdett opened #3250 "Include KVM QEMU stage 1 as a release binary"
Building the QEMU stage 1 is not a trivial task. It statically compiles QEMU, which brings in a number of dependencies not covered by rkt's helper scripts. For new users, its likely to be entirely too much hassle to try out this new KVM stage 1 flavour.

There are known deficiencies in the LKVM stage 1 (eg. #2576). It would be good to have both LKVM & QEMU stage 1 images pre-compiled for new relea

[2016-09-30 04:42] tjdett opened #3251 "Port forwarding does not work with QEMU stage 1"
Port forwarding consistently fails when using the KVM QEMU stage 1.

**What did you do?**
[code]

**What did you expect to see?**
[code]

**What did you see instead?**
[code]

**Environment**
[code]

[2016-09-30 05:49] #3152 closed

[2016-09-30 05:49] #3206 closed

[2016-09-30 05:49] #3246 closed

[2016-09-30 05:59] tjdett opened #3252 "KVM (LKVM & QEMU) stage 1 /dev/ptmx permissions prevent non-root pseudo terminal creation"
Both the LKVM and QEMU stage 1 have overly-restrictive permissions on `/dev/ptmx` which prevent non-root pseudo terminal creation. This prevents most images that embed web-based shells from working properly. (eg. GoTTY, Jupyter Notebook, etc)

This behaviour does not occur in any other stage 1, and is not usual for most Linux distributions. `man ptmx` on most systems notes in the description:

See

[2016-09-30 07:01] jjlakis commented on #3252
@jjlakis @pskrzyns @lukasredynk

[2016-09-30 07:06] jjlakis commented on #3250
@tjdett There was an agreement for now, that we won't check 3rd party dependencies during rkt building process. But including pre-compiled QEMU stage1 in new releases is necessary. @s-urbaniak, what you think?

cc @coreos/rkt-kvm-maintainers

[2016-09-30 09:54] jonboulle commented on #3245
Who's going to own this? @euank @lucab @s-urbaniak

[2016-09-30 10:02] s-urbaniak commented on #3245
This gives me the opportunity to do more low-level work, so I am self-assigning this.

[2016-09-30 11:14] jonboulle commented on #3250
Yep, we should build and distribute the QEMU stage1 with our releases.

[2016-09-30 11:55] s-urbaniak commented on #3250
@jjlakis sgtm, the rkt-builder builds on debian-sid, so we shouldn't have issues with the glib static libs needed for quemu compilation.

[2016-10-01 12:18] jonboulle commented on #3248
What would your desired UX be for this? `--device=foo` resolving automatically to the equivalent volume mount? Or are there other things you'd need too?

[2016-10-02 09:48] JackieKu commented on #3248
@jonboulle `--device=/dev/net/tun` or `--device=<major>:<minor>` should simply make corresponding  device node **accessible** (whitelisted by cgroup/devices.allow) in the container, and nothing beyond that.

For example, the device node can even absent in container at beginning. The app will mknod() by itself on demand.

As I said, the concept is different from mount/volume. Character devices are

[2016-10-03 10:02] lucab commented on #3247
Thanks for the report @lorddaedra. For future reference, quoting the full commands/images/units being run would help us in reproducing and triaging issues.

From a quick look at this, it seems you hit https://github.com/coreos/rkt/issues/2300. The current status of this is issue is that we discourage such setup in non-interactive mode, because the `/proc/self/fd/2` provided by journald is going to

[2016-10-03 10:09] lucab commented on #3251
/cc @coreos/rkt-kvm-maintainers

Who among KVM maintainers can investigate this and provide an estimate on the timeline?

[2016-10-03 10:45] lucab commented on #3019
@mzylowski sure! Can you please just move these findings to its own ticket, attaching:
 * your host environment setup
 * kernel, go, and rkt version
 * command invocations and images being run
 * data-points and graphs

Sorry if any of this is already obvious from the tests, but I'm not used to rkt-monitor so I'd prefer to have your recipe explicitly written down to reproduce as-is in my environme

[2016-10-03 10:58] lucab commented on #3250
I agree that there should be pre-built qemu flavors and I also agree that it would be nice to re-use rkt-builder for that.

What I'm more concerned about is:
 * it seems we may be hitting bugs in qemu interaction with regards to [9p](https://github.com/coreos/rkt/pull/3219#issuecomment-250422142), [net](https://github.com/coreos/rkt/issues/3251) and [devices](https://github.com/coreos/rkt/pull/323

[2016-10-03 13:20] jellonek commented on #3251
/cc @jjlakis @lukasredynk

[2016-10-03 15:38] pskrzyns commented on #3251
@tjdett could you show me output of ```iptables-save | grep RKT``` ?

[2016-10-03 20:28] ErnestG4 commented on #1063
Bump in ref to https://coreos.zendesk.com/agent/tickets/11548 by Daniel Aquino
Quote:

"Appears to be dynamically linked against GLIBC_2.14 which causes problems trying to use rkt on other systems. ...Would be nice if it were actually statically built."

"Attempting to Compile rkt on Centos6 my self

Had to quickly patch an empty `if` expression:

./configure: line 5668: syntax error near unexpect

[2016-10-03 20:32] ErnestG4 opened #3253 "Rkt GC Issue"
# MOVED FROM https://coreos.zendesk.com/agent/tickets/11546

I’ve also noticed that we can’t correctly GC old pods. I’m not sure if this is something to do with our setup [1]

maybe these? https://github.com/coreos/rkt/issues/2878 https://github.com/coreos/rkt/issues/2804

or the fact were using systemd templates

switched over to doing this https://github.com/coreos/rkt/issues/1171 which eliminat

[2016-10-04 02:55] tjdett commented on #3250
@lucab I'm certainly sympathetic in relation to the maturity question. I realise there are going to be bugs in the QEMU stage 1, and I'm happy to put the work into reporting them in as much detail as I can when I find them. Nothing gets stable overnight.

However, you can't say ["KVM stage1 flavor is now a mature alternative to traditional namespace-based engines"](https://coreos.com/blog/rkt-cont

[2016-10-04 05:05] tjdett commented on #3251
@pskrzyns I've updated to rkt 1.16.0 and recompiled the QEMU stage 1:
[code]
[code]
This looks functionally identical to the working configuration with the default stage 1, so I suspect that it may possibly be my compilation of QEMU.

Do you have a compiled 1.16.0 stage 1 that I could test?

[2016-10-05 05:41] tjdett commented on #3251
I've updated the title and description, as the behaviour is only related to the loopback address.

ie.
When running:
[code]
you can access the service on all ports except loopback:
[code]

@pskrzyns can you replicate this behaviour, and is it expected? (My QEMU stage 1 is publicly available as shown in the example if you want to test it.)

[2016-10-05 08:16] s-urbaniak commented on #3195
Superseded by https://github.com/systemd/systemd/pull/4252

[2016-10-05 08:55] s-urbaniak opened #3257 "Clarify per-app SELinux options support."
xref https://github.com/kubernetes/kubernetes/issues/33139

[2016-10-05 09:52] s-urbaniak commented on #2990
as this is a design issue, I'm bumping this to 1+

[2016-10-05 10:03] s-urbaniak commented on #3242
This sounds good to me, and is (nearly) en par with the expected interface wrt CRI.

[2016-10-05 12:21] pskrzyns commented on #3251
@tjdett I checked it and it worked for me with rkt 1.14.0 and 1.16.0+gitc5e67a2
@mzylowski can you check it ?

[2016-10-05 13:00] s-urbaniak commented on #3242
@yifan-gu as discussed OOB with @jonboulle this seems to be mainly motivated by docker CLI options [1]. In fact, looking at the k8s code [2] setting `cpuShares`/`cpuQuota` the source for setting those knobs is `cpuLimit`/`cpuRequest` anyways.

In the case of rkt the existing CPU isolator already understands the user-facing cpu requests/limits so I agree that introducing yet another indirection see

[2016-10-05 13:13] Quentin-M commented on #3228
Actually, the issue with the token mount might not be even related to mount propagation.

[code]

[2016-10-05 13:16] Quentin-M commented on #3228
I verified on a real rktnetes environment with fly pods, the secret data is available on `/var/run/secrets/kubernetes.io/serviceaccount/` as expected with a CentOS / BusyBox image, but it isn't on a Debian-based image.

[2016-10-05 13:26] Quentin-M commented on #3228
One difference between the two images is that on Debian: `/var/run -> /run` while on CentOS: `/var/run -> ../run`.

[2016-10-05 15:26] s-urbaniak opened #3258 "CRI: document sandbox systemd dependency graph"
We introduced a "mutable" pod environment with changed systemd dependencies. This needs to be documented.

[2016-10-05 15:28] s-urbaniak opened #3259 "CRI: synchronize app add/rm operations"
Currently when adding/removing apps in a sandbox, these operations are not synchronized.

[2016-10-05 16:07] jonboulle commented on #3248
I understand it is not a 1:1 conceptually with volumes, but if we step back
to the use case of accessing the devices then the mounts do fulfil it for
now. To push back on your suggestion a bit: wouldn't it be a confusing UX
for `--device` to _only_ whitelist the devices but not make them actually
available in the containers?

On 2 October 2016 at 11:49, jackieku <notifications@github.com> wrote:

[2016-10-05 16:25] squeed commented on #3181
IIRC, the `MS_PRIVATE` remount is so we don't do something silly like unmount `/proc` when tearing down a `rkt fly` pod.

[2016-10-05 18:22] Quentin-M commented on #3228
As I was testing my issue further, I may have found the reason.

First run:
[code]

We notice that:
- The target mount point doesn't exist, it is created
- The mount is realized
- stage1 fly enters into stage2 with chroot, etc.

Let's re-run another container with the same command:

[code]

This time, it seems that the mount point already exists...
"It was at this moment, Jackson knew he fucked up

[2016-10-06 09:13] s-urbaniak opened #3260 "CRI: use sd_notify to signal sandbox readiness"
Currently the rktlet polls the presence of the `uuid` file to recognize sandbox readiness. We should use the `sd_notify` feature instead.

xref https://github.com/kubernetes-incubator/rktlet/issues/21

[2016-10-06 09:27] JackieKu commented on #3248
I agree it might be a little confusing, but not as confusing as the current lengthy `--mount/--volume`. The document does not even indicates how to make a **character device** accessible, I spent an afternoon searching the solution and eventually get the idea from the source code.

It should be quite common that the `/dev/NODE` exists in the pod but is not usable. I am not strongly opposed the ide

[2016-10-06 09:36] s-urbaniak commented on #3260
The biggest drawback of this solution is that this won't work with the kvm/qemu based flavors.

[2016-10-06 12:52] mzylowski commented on #3251
It also working fine in my environment. (For current master)

`./autogen.sh`
`./configure --with-stage1-default-flavor=kvm --with-stage1-kvm-hypervisors=lkvm,qemu`
`make -j4`
`sudo rkt run --interactive --stage1-path=/home/mzylowski/Repos/rkt/build-rkt-1.16.0+git/target/bin/stage1-kvm-qemu.aci --port 80-tcp:900 --insecure-options=image docker://nginx --port 80-tcp:9003`

On the second terminal:
[c

[2016-10-06 12:57] mzylowski commented on #3251
@tjdett You can try with my stage1 qemu image:
https://drive.google.com/open?id=0BwWKF_Ev2vv4MHVKaUUyUFE3REk

[2016-10-06 13:22] s-urbaniak commented on #3260
It turns out, we don't have to implement anything in the case of `app sandbox` for `sd_notify` to work, it already does signal readyness correctly:

1. If the app sandbox starts, it launches  `systemd-journald` signalling its readyness via `sd_notify` [1], [2]
2. Once `systemd-journald` signals readyiness, stage1-`systemd` reaches `default.target`, and itself signals readyness [3].
3. `systemd-nsp

[2016-10-06 13:22] #3260 closed

[2016-10-06 16:26] lucab opened #3262 "stage1-coreos: new systemd (v232-pre) fails on TestSupplementaryGIDs"
Jenkins seems to have catched a regression on systemd master branch (soon v232) on  `TestSupplementaryGIDs`. Here's the error log captured on Fedora24:

[code]

Full build log [here](https://jenkins-rkt-public.prod.coreos.systems/job/rkt-master-periodic/225/os_type=fedora-24,stage1_flavor=src_master/consoleText).

Exit code 216 corresponds to [EXIT_GROUP](https://github.com/systemd/systemd/blob/v2

[2016-10-06 20:01] euank opened #3264 "Some tools want mtab. Some images don't have mtab."
The easiest way to reproduce this is to run one of the following:

[code]

The "mount from util-linux 2.25.2" included with that debian image expects mtab to exist, as does the coreutils df.

There are some images, such as alpine, that include a working mtab symlink, thereby solving this issue. There are other mount implementations, such as the busybox one, which just don't need mtab. However, the

[2016-10-07 04:54] tjdett commented on #3251
I was using an OpenStack VM to run CoreOS. On the off-change there was some difference, I replicated the behaviour on CoreOS 1192.0.0 installed from ISO using a KVM VM on my desktop, using rkt 1.16.0 from publicly-released tarball and @mzylowski's stage 1.

I'll try it against master on the same platform now. I have an ACI for building rkt, so I guess it's just a matter of compile time.

[2016-10-07 05:21] tjdett commented on #3251
Replicated against master:
[code]
and then in a second terminal:
[code]

[2016-10-07 06:34] tjdett commented on #3251
Replicated on a clean Debian 8 install:
[code]
and in a second terminal:
[code]

[2016-10-07 06:40] tjdett commented on #3251
@pskrzyns @mzylowski as you might have noticed from my previous comment, I've uploaded my rkt build ACI (409MB) to a public location, so you should be able to build rkt exactly as I am.

I am completely mystified by the lack of replication at this point, so either I'm doing something really stupid or you've got some extra magic in your environments that I don't.

Note that for both environments I'

[2016-10-07 07:20] jellonek commented on #3251
I'm not sure, but the key seems to be:
[code]
Do you have same line for coreos flavor?
As I understand this - tcp flow from 127.0.0.1 to port 80 on VM - masquerade. That seems to be cause and also seems to be wrong for me.
Also I don't recall where such line could be generated (afair as i was writing kvm flavor - we called common logic to construct port forwarding rules, without adding anything sp

[2016-10-07 07:22] jellonek commented on #3251
Please try to remove this line manually (iptables-save, edit, iptables-restore) - and run again your test.

[2016-10-07 09:41] lucab commented on #3253
Is this a centos with a pre-4.x kernel by chance? If so, it is known to have a bad behavior due to being an old version with heavy patching, see https://github.com/coreos/rkt/issues/1922.

[2016-10-07 09:50] tjdett commented on #3251
Yes, the rule is there for the default stage 1:
[code]

[code]

[2016-10-07 10:08] tjdett commented on #3251
@jellonek removing the rule manually (`sudo iptables -t nat -D RKT-PFWD-SNAT-5378a7ad 1`) has no effect on behaviour.

[2016-10-07 10:25] squeed commented on #3242
Regardless of the source of these options, they definitely have distinct behavior and, IMO, should be exposed separately.

The big difference between cpu-shares and cpu-quota is that the quota is a hard percentage limit enforced by the scheduler, whereas cpu-shares is a relative value that is then normalized.

If Kubernetes presents these settings distinctly, then we should not commingle them.

[2016-10-07 11:00] jellonek commented on #3251
Ok, so my guess was failure. @pskrzyns please continue this investigation.

[2016-10-07 12:13] Quentin-M commented on #3228
After some brainstorming, here is an idea to solve the issue:

- If `path.EvalSymlinks` on the mount target returns an absolute path: prefix it with the stage2 rootfs,
- Otherwise, verify that the absolute representation of it is prefixed by the stage2 rootfs.

The first condition deals with `rootfs/var/run` -> `/run` symlinks, and the second one deals with `rootfs/etc/shadow` -> `../../../../../e

[2016-10-07 12:23] s-urbaniak commented on #3210
closing this one, as https://github.com/appc/spec/pull/656 is merged.

[2016-10-07 12:23] #3210 closed

[2016-10-07 12:30] s-urbaniak commented on #2158
The outstanding issue (having `/proc/sys` read-write) is tracked in #3245

[2016-10-07 12:31] s-urbaniak commented on #3245
since this requires a change in systemd, I am buping this to v1.18.0.

[2016-10-07 12:31] lucab commented on #3257
Waiting on the outcome of that discussion, hopefully getting back to the original pod-level semantic.

The only actionable item we have at the moment is an additional isolator/annotation (on the pod or on apps, still to be decided above) containing the SELinux context, mostly for introspection at this point.

I'll wait for the dust to settle on this.

/cc @yifan-gu

[2016-10-07 14:13] jonboulle commented on #3257
https://github.com/kubernetes/kubernetes/pull/34329

[2016-10-07 20:24] yifan-gu commented on #2430
Closing as this is already implemented in kubelet/rktnetes

[2016-10-07 20:24] #2430 closed

[2016-10-10 01:28] tjdett commented on #3252
From <https://www.kernel.org/doc/Documentation/filesystems/devpts.txt>:

with permissions 0000.

it is possible to place a symlink to /dev/pts/ptmx at /dev/ptmx or
to bind mount /dev/ptx/ptmx to /dev/ptmx.  If you opt for using
the devpts filesystem in this manner devpts should be mounted with
the ptmxmode=0666, or chmod 0666 /dev/pts/ptmx should be called.

I suspect the reason why this is only a

[2016-10-10 07:29] lucab commented on #1917
@coreos/rkt-kvm-maintainers can anybody of you confirm that this is actually fixed in the QEMU-based stage1-kvm flavor that we plan to transition to?

[2016-10-10 15:25] lucab commented on #1497
Removed, docs is now served on coreos.com and here on GH. Closing.

[2016-10-10 15:25] #1497 closed

[2016-10-10 15:28] jonboulle commented on #1497
@lucab how did you do this? or did it just happen?

On 10 October 2016 at 17:25, Luca Bruno <notifications@github.com> wrote:

[2016-10-10 15:32] lucab commented on #1497
Magic!

(I've randomly stepped into this report today for the first time, and noticed that the link is 404)

[2016-10-10 17:51] squeed opened #3270 "rename cri_annotations to user_annotations in the appc spec."

[2016-10-11 06:09] s-urbaniak commented on #3242
@squeed @jonboulle Agreed, I was initially assuming both settings are being equivalent, but they are not, hence it does make sense to include setting.

[2016-10-11 06:14] s-urbaniak commented on #3259
fixed via #3255

[2016-10-11 06:14] #3259 closed

[2016-10-11 06:21] s-urbaniak commented on #3012
Bumping to the next release, but we maybe could tackle this iteratively. @lucab I am a bit lost in this issue, maybe we could discuss together what makes sense to include in the next release.

[2016-10-11 06:36] tjdett opened #3272 "Allow mounting KVM volumes without "slave" propagation flag"
(Carrying on from https://groups.google.com/d/topic/rkt-dev/ALKgQgDldv0/discussion)

I wish to share mounts between two apps (stage 2s) in the same pod, so as to avoid a mount outside the KVM hypervisor.

The following `findmnt` output is a normal QEMU stage 1 with a `/data` mount to an empty volume.

[code]

As you can see, all mounts are shared, but with "slave". I want to mount a new filesystem

[2016-10-11 06:43] tjdett commented on #3272
@lucab Unfortunately your suggestion of masking `ReadWriteDirectories` didn't yield any success in removing the "slave" flag. ie.

[code]

[2016-10-11 07:54] lucab commented on #1305
Capturing from another discussion, it is possible to build the stage0 only via:
[code]

and let the user retrieve an existing stage1:
[code]

We don't suggest this for general packaging, but it could be a good solution in a complex backporting scenario.

[2016-10-11 10:38] #3264 closed

[2016-10-11 13:39] jonboulle commented on #3272
Slave is getting added by systemd - see the last section of:
https://www.freedesktop.org/software/systemd/man/systemd.exec.html#MountFlags=

and discussion in https://github.com/coreos/rkt/pull/2603

Since we use `ReadWriteDirectories=` (precursor to `ReadWritePaths`) we
trigger that downgrade.

Not really sure how to fix this short of introducing a new systemd feature
for services to share a moun

[2016-10-11 13:53] lukasredynk commented on #3252
I was able to reproduce it, but I'm still working on it. I thought that adding fstab with custom mode would be sufficient, but unfortunately that wasn't the case.

[2016-10-11 16:57] jonboulle commented on #3242
sorry, I started typing a reply and never sent it.

The reasoning was that they are not exposed in the Kubernetes API (ref: http://kubernetes.io/docs/user-guide/compute-resources/#resource-requests-and-limits-of-pod-and-container), just in CRI. Basically what Kubernetes exposes to users is its abstraction notion of a CPU, and then the kubelet does [this process](https://github.com/kubernetes/kuber

[2016-10-11 17:13] squeed commented on #3242
Hmm, [this part of the doc](http://kubernetes.io/docs/user-guide/compute-resources/#how-pods-with-resource-limits-are-run) seems to imply that both Shares and Quota are exposed in the podspec?

[2016-10-11 17:30] jonboulle commented on #3242
Thanks for correcting me. I need better reading glasses today.
I maintain that that's particularly lazy/stupid behaviour, but looks like
the cat's out of the bag.

On 11 October 2016 at 19:13, Casey Callendrello <notifications@github.com>
wrote:

[2016-10-12 09:46] lucab commented on #3272
If I'm reading systemd source correctly, the current logic in [setup_namespace()](https://github.com/systemd/systemd/blob/v231/src/core/namespace.c#L461:L466) means that services with a `RootDirectory=` property (ie. all rkt apps) are now getting a separate namespace and a `rslave` rootfs.

This is probably the reason why you see the `/data` mountpoint marked as `shared,slave`, as it is prepared b

[2016-10-12 10:15] lucab commented on #3272
As a followup, [exec_needs_mount_namespace()](https://github.com/systemd/systemd/blob/v231/src/core/execute.c#L1502) has the logic which triggers the mount-namespace creation. As stated in https://github.com/coreos/rkt/pull/2603, we always pass `MountFlags=shared` so we always get a dedicated per-stage1 mount-namespace.

[2016-10-12 11:30] s-urbaniak commented on #3242
Bumping to the next release. I have a nearly working version, but systemd refuses to set the `cpu.shares` cgroup for some reason. I need to investigate this further to find the root cause.

[2016-10-12 11:31] s-urbaniak commented on #3114
@squeed do you think you can tackle this for the next release? Bumping until then.

[2016-10-12 11:36] s-urbaniak commented on #3158
bumping this to the next release, as mount propagation configuration needs a bigger overhaul.

[2016-10-12 11:38] s-urbaniak commented on #3134
Unfortunately I have to bump this one further, as we are concentrating on CRI work right now.

[2016-10-12 11:49] s-urbaniak commented on #3144
@squeed ping re: the documentation update. Until then bumping to the next release.

[2016-10-12 11:51] s-urbaniak commented on #3159
@lucab It seems there was some work done upstream, bumping for the next release.

[2016-10-12 11:55] s-urbaniak commented on #3195
fixed via #3267

[2016-10-12 11:55] #3195 closed

[2016-10-12 11:57] s-urbaniak commented on #2252
@squeed bumping to the next release, as there doesn't seem to be a PR out yet.

[2016-10-12 12:01] s-urbaniak commented on #3262
@lucab bumping to the next release, as there doesn't seem to be a PR in flight.

[2016-10-12 12:03] s-urbaniak commented on #3258
Bumping to the next release, as I didn't make it yet :-(

[2016-10-12 12:05] lucab commented on #3245
Starting from v232 systemd-nspawn will also gain an hardcoded always-on protection for `/proc/sysrq-trigger`, making our `TestPathsWrite` fail. That one should probably be covered in same way as this ticket.

[2016-10-12 12:28] iaguis commented on #3242
You need to remount the relevant knobs RW like we do with the other CPU/memory isolators :)

[2016-10-12 12:42] s-urbaniak commented on #3242
@iaguis thanks, that was it :+1:

[2016-10-12 14:05] lucab commented on #3262
I investigated this a bit more, and it seems to actually be a regression in systemd master. Reported as https://github.com/systemd/systemd/issues/4357.

I'm de-milestoning and de-prioritizing this, as the issue should be fixed upstream and doesn't concern rkt.

[2016-10-12 14:52] euank commented on #3159
@s-urbaniak We don't need upstream work to just split lines (problem 1 in my first comment)

[2016-10-12 15:02] jonboulle commented on #3159
yes, we should do this soon.

@s-urbaniak what is the upstream work you're referring to?

[2016-10-12 15:57] #2484 closed

[2016-10-12 16:42] s-urbaniak commented on #3159
I was referring to iagius comment pointing to https://github.com/systemd/systemd/issues/3302.

I agree we can tackle this locally, and I can work on this.

[2016-10-12 21:23] bcg62 commented on #3253
yes, its centos7 which is believe is 3.10

[2016-10-13 06:56] #3159 closed

[2016-10-13 08:01] #2940 closed

[2016-10-13 08:24] lucab commented on #3237
@s-urbaniak is doing some cleanup on the cgroup code right now, so he can probably investigate this issue while there. Assigning to him.

[2016-10-13 09:44] s-urbaniak commented on #3144
fixed via #3281

[2016-10-13 09:44] #3144 closed

[2016-10-13 14:32] squeed opened #3284 "Documentation: update CoreOS manifest instructions to check ARM arch too"
The [CoreOS upgrade documentation](https://github.com/coreos/rkt/blob/master/Documentation/devel/update-coreos-stage1.md) includes some verification steps, but only verifies the amd64 binary.

The instructions should be updated to check the arm64 image too. Then, they should also use the arm64 binutils / glibc to verify proper linking.

[2016-10-13 14:38] lucab commented on #2694
Status update: appc/spec portion already landed, currently blocked on https://github.com/coreos/rkt/issues/3245.

[2016-10-13 17:33] lucab commented on #2369
/cc @s-urbaniak

[2016-10-13 18:25] s-urbaniak opened #3286 "common/cgroup/v1#mountFsRO: make mount flags a parameter"
As per the discussion in https://github.com/coreos/rkt/pull/3277#discussion_r83202248 we should make the mount flags in https://github.com/coreos/rkt/blob/dece112c3fe88fe1d87242e3f3e96b99b1191954/common/cgroup/v1/cgroup.go#L43 a parameter of that function.

[2016-10-13 23:45] minhdanh commented on #2113
Any updates on this issue?

[2016-10-14 09:37] lukasredynk commented on #3251
@lucab could you assign this to me?

I think the reason for the port forwarding is not working is loopback interface inside VM: in coreos flavor there's not loopback in net namespace, so 127.0.0.1 is routed via default gateway. In kvm flavour we can't do this, so I think the solution here will be adding iptables unit setting SNAT for each forwarded port to route it via default gateway.

[2016-10-14 09:46] lukasredynk commented on #3252
Interesting, I checked Fedora and ArchLinux: they both have 000 perms for /dev/pts/ptmx. Apparently systemd also used to set it this way, I'm still investigating why there's such difference between coreos and kvm.

[2016-10-14 09:53] lucab commented on #3251
Re-assigned. Also /cc @squeed, as the statement above regarding coreos-flavor seems strange to me but I don't have enough direct knowledge about it to be sure.

[2016-10-14 10:01] squeed commented on #3251
coreos flavor definitely has loopback!

So, that SNAT / Masquerade rule is important: it rewrites the source address on the host side so that connections to localhost work.

Consider a forwarded connection to `localhost:9090`. The DNAT rule will rewrite the destination from 127.0.0.1 to (say) 172.16.0.3. However, without the SNAT rule, the source will still be localhost, which is not a unique addr

[2016-10-14 10:08] lukasredynk commented on #3251
Ok, I was wrong about part about coreos. But I think that par about KVM is valid: there's no SNAT rule in VM  (like on host in the case of coreos), so packed could 'get in', but couldn't 'get out' form VM.

[2016-10-14 10:22] squeed commented on #3251
I don't think it should matter, really. The NAT rules are all in the host namespace anyways. The pod interface sees a connection *from* 172.16.28.1 (or whatever host-side interface corresponds to the pod's network).

[2016-10-14 12:24] jonboulle commented on #2113
passing to @squeed to take a look (could this be required for CRI..?)

[2016-10-14 22:33] tjdett commented on #3252
@lukasredynk note that `/dev/ptmx` can be a symlink to `/dev/pts/ptmx` or a distinct device node. (See Docker & CoreOS output above.)

In the former case, `/dev/pts/ptmx` is 0666, but in the latter it's often 0000. I run Fedora as my main desktop, and its separate `/dev/ptmx` node (with mode 0666) helped me realise `/dev/pts/ptmx` wasn't my problem. Only `/dev/ptmx` is expected to be globally writ

[2016-10-17 12:08] s-urbaniak commented on #3245
upstream PR: https://github.com/systemd/systemd/pull/4395

[2016-10-17 22:10] gyuho opened #3288 "Question: mount host volume to etcd 'data-dir'"
**Environment**

[code]

<br>
**What did you do?**

With `rkt v1.17.0`, I run the following commands

[code]

<br>
**What did you expect to see?**

[code]

<br>
**What did you see instead?**

[code]

<br>
I have been building etcd ACI image with old version of acbuild (v0.2.x), and does not understand why `rkt` doesn't host the local volume when the image was built with

[code]

https://github.com

[2016-10-17 23:01] philips opened #3289 "docs: improve capabilities docs to focus on runtime"
https://coreos.com/rkt/docs/latest/capabilities-guide.html

This doc should remove everything about acbuild and editing ACIs and instead show you how to configure/add/remove capabilities via the command-line, etc.

[2016-10-18 00:06] tjdett commented on #3272
@lucab If I'm understanding you right (I had to read your comments several times before I really took things in), then what I'm attempting to do is extremely difficult because of the stage2 isolation provided by systemd? The mount namespace is doing exactly what's intended (isolating the stage 2s individually from the host stage 1 environment inside the pod VM) and in the process it prevents the a

[2016-10-18 07:48] lucab commented on #3288
Thanks for the detailed report, @gyuho.

Looking at the snippets above, I think the problem may be in how you are running the image.

From the non-working case:
[code]

It seems that you are setting an env flag, but overriding it later via CLI. When running, this results in:
[code]

So I tried switching to `--data-dir /data-dir`, and this seems to just work :smiley:.

[2016-10-18 08:14] lucab commented on #3288
Unrelated question: do you know (or is it documented somewhere) why this is running in a fly pod instead of a normal stage1-coreos?

[2016-10-18 08:32] lucab commented on #3289
There is already a section covering CLI-overriding near the bottom of the doc, but I agree there should be a more prominent/focused quick tutorial after the introduction.

I'm not too happy about removing the build/edit part, as that document is a single walk-through and examples are intertwined. If it sounds reasonable, I'll just add a "how to configure/add/remove capabilities via the command-lin

[2016-10-18 08:54] #3129 closed

[2016-10-18 10:39] lucab commented on #3272
@tjdett Your understanding is right, mounts back-propagation is hard in the general case (see https://github.com/coreos/rkt/issues/1149#issuecomment-121599843) so we currently support it only for fly. On top of that, systemd behavior is not very homogeneous per-se (see https://github.com/systemd/systemd/issues/4393#issuecomment-254191948).

To my knowledge, this is supposed to be a non-reversible

[2016-10-18 12:05] lucab opened #3291 "stage1: implement IPC namespace sharing"
rkt run/sandbox should gain an option to run a pod/stage1 within the host IPC namespace.

Stage0 details:
- via CLI option, proposed --ipc=[auto|private|parent] (default to `auto` if missing)

Stage1 details:
- this will require a new argument to stage1 `run` entrypoint, with `auto`  being stage1-specific default
- stage1-fly only supports "parent" mode
- stage1-coreos can support both "private" a

[2016-10-18 12:28] lucab commented on #2313
This has been addressed in https://github.com/appc/docker2aci/pull/207 and will land with next docker2aci bump.

[2016-10-18 13:12] lorddaedra opened #3292 "Improve rkt fetch (file:// + docker:// )"
I have build script and run it using ```./build``` command, inside this script I use this steps:
1. I build on develop MacBookAir / CI new image via Docker ```docker build -t byvshie -f "$DIR/Dockerfile" $DIR```
2. next I would like to upload this image directly to server (quay and hub.docker is slow and I waiting a lot of time,.. and I have no time to maintain my own registry so I would like just

[2016-10-18 13:21] lorddaedra commented on #3292
Ideally if it will be possible replace
```docker save byvshie | pv | ssh root@algenubi.entropia.us "cat > /root/incoming/byvshie/latest.docker"```
with
```docker save byvshie | pv | ssh root@algenubi.entropia.us "rkt  --insecure-options=image fetch"```

[2016-10-18 15:26] gyuho commented on #3288
@lucab I was using `fly` as in https://github.com/coreos/coreos-overlay/pull/2205/files.

No strong preference :)

As you suggested, this works as expected.

[code]

[code]

[code]

Thanks!

[2016-10-18 15:26] #3288 closed

[2016-10-18 19:26] jadekler opened #3293 "Does rkt use runc? Or libcontainer?"
Thanks! Can't find it in the documentation.

[2016-10-18 20:04] lucab commented on #3293
Neither of those, it supports multiple swappable stage1 (eg. systemd-nspawn, lkvm, etc) as described in the docs: https://github.com/coreos/rkt/blob/master/Documentation/devel/architecture.md#stage-1

For future reference, if you have any doubts still not answered by the docs, feel free to ask via the mailing list: https://groups.google.com/forum/#!forum/rkt-dev

[2016-10-18 20:05] #3293 closed

[2016-10-19 00:17] dgonyeo opened #3294 "Populate /dev/std(out|err)"
Not sure if this has come up before, but it might be useful to have a flag on `rkt run` to have it populate `/dev/stdout` and `/dev/stderr` at runtime.

The request comes in via an acbuild issue: https://github.com/containers/build/issues/261

[2016-10-19 04:17] tjdett commented on #1917
@lucab No, it's not fixed.

[code]

[2016-10-19 05:45] tjdett commented on #3272
@lucab Aside from the volume issue mentioned in #3290, it works for my use case:
[code]
[code]

[2016-10-19 07:36] lucab commented on #3294
Same discussion as https://github.com/appc/spec/issues/641, I think.

[2016-10-19 08:40] lucab commented on #3292
I think we don't currently support fetching a docker image from a local file, and the `missing manifest` error is the result of trying to handle the file as an ACI image. But @dgonyeo may know better if there is a special syntax for docker retrieval from a local path.

[2016-10-19 10:46] lorddaedra commented on #3292
I hope, they will implement saving to OCI format (as I understand, it's future for Docker and for Rkt), but for now I need converters...

[2016-10-19 11:22] jonboulle commented on #3228
That proposal SGTM. (incidentally, I wonder what systemd-nspawn does when destinations are symlinks..?)

[2016-10-19 14:29] jadekler commented on #3293
Thank you! @lucab

[2016-10-19 16:21] dgonyeo commented on #3292
I think @lucab's understanding of the situation is correct. We should add the ability to fetch local docker files, but as a temporary workaround you could use [docker2aci](https://github.com/appc/docker2aci) to convert the local docker file into an AppC image and then fetch the converted image (this is what rkt would do under the hood anyway).

[2016-10-19 21:56] pbx0 opened #3295 "fly: unable to stop pod if the main pid is gone but children are still running"
**Environment**

[code]

**What did you do?**
I ran a rkt fly pod and wish to start doing a `rkt rm --uuid-file=/...` as an ExecPreStart line to clean up the pod. However, when I stop the service from running and the PID has long since exited rkt still thinks the pod is `running` and lists the correct PID (which no longer exists). So both running `rkt stop` and `rkt rm` will fail to work.

rkt sto

[2016-10-19 23:09] vishh commented on #2622
`rkt` outputs a lot of debug messages which are not useful by default.

Here is a sample output:

[code]

[code]

[2016-10-20 09:02] lorddaedra commented on #3292
May be not only files?..

I mean, you can add support to commands like this ``` docker save byvshie | pv | ssh root@algenubi.entropia.us "rkt --insecure-options=image fetch" ``` , where there is no local files, I save image on local machine and transfer it directly to rkt fetch input

[2016-10-20 12:42] s-urbaniak opened #3298 "feature request: rkt image list --format=json"
We can list pods in JSON format:

[code]

but we cannot do so for images:

[code]

I think this is quite unexpected from a user perspective, as I would expect a symmetry here betweek `rkt list`, and `rkt image list`.

[2016-10-20 15:14] jonboulle commented on #3295
What actually happens when you run `rkt rm`?
Why do you need an `ExecStop` that's calling `rkt stop`? `systemctl stop` should be able to kill the process fine. Does this reproduce if you remove that?

[2016-10-20 16:33] lucab commented on #3295
Summary: the `KillMode` of kubelet.service is wrong.

The root cause for the issue you are seeing is something that is currently not manageable in rkt, and works as follows. When exec-ing whatever stage1, rkt pass a fd holding a lock on the pod directory down to the actual child process. While this lock is in place, a pod is seen as "running" from rkt point of view. If the main process fork+exec w

[2016-10-20 16:51] lucab commented on #3295
I think this situation is a bit pathological and should be addressed in the supervisor unit. However, one improvement we could perhaps have in fly to address this "unstoppable half-running pod" situation is to set a PGID before exec-ing the pod and killing the PGID on stop.

[2016-10-20 20:02] pbx0 commented on #3295
@jonboulle to answer your question `rkt rm` just reported the same error it would report if you try to rm a running pod.  The `rkt stop` line is superfluous here and removing it didn't change anything.

[code]

Setting KillMode=control-group solve my problem just fine. Thanks lucab. I'm fine with this being closed from my end at least.

[2016-10-20 20:14] euank commented on #3295
I think we should still leave this open; this is something `rkt stop` should be able to do too!

[2016-10-20 20:54] chaosaffe commented on #894
This tends to be a pretty big pain point for most of our larger corporate clients, and hampers rkt/rktnetes adoption. Any chance we can get this added to an upcoming version?

[2016-10-20 21:42] euank commented on #3292
I think doing the typical `rkt fetch -` implies `stdin` type thing would be a good feature to have.

I also think that that feature's a good argument for allowing the image type to be optionally overridden with a flag (e.g. `rkt fetch --image-type=docker -` to fetch a docker image through stdin) since something like `docker://-` looks a little crazy to me :smile:

[2016-10-21 00:43] euank opened #3301 "rkt app add --mnt-volume: unable to mount directories with commas"
Example:
[code]

I don't think there's a way in cri-pods to mount a volume with a comma in it. I know that before you could get around these sorts of issues by just using the `--pod-manifest` arg, but for the `app` subcommands we don't have that option.

It seems possible that the best thing to do would be to allow passing in a raw json struct of a manifest for an individual app, but I'm open to o

[2016-10-21 02:50] tjdett opened #3302 "KVM readOnly=true host volumes aren't read-only"
**What did you expect to see?**

`readOnly=true` on a host volume should make it read-only.

#### stage1-coreos
[code]

**What did you see instead?**

#### stage1-kvm-lkvm
[code]

#### stage1-kvm-qemu
[code]

**Environment**
[code]

[2016-10-21 03:11] tjdett commented on #1917
@lucab @coreos/rkt-kvm-maintainers of all the KVM bugs, this is the biggest one preventing me from using KVM. I want KVM so I can run user code, and I want package installation available for those users.

It's also a pain point when submitting examples for other rkt KVM bugs, because I can't do on-the-fly package installation with Fedora/Debian containers to get the utilities required to show prob

[2016-10-21 06:15] tjdett commented on #3302
There's some irony in my discovering this, as I was checking that KVM stage 1s were immune to read-only mount writing using [Dirty COW](https://dirtycow.ninja/).

[2016-10-21 07:32] GreatSUN commented on #894
Also from our side this is very critical, as:
1. we (and other big companies) have proxies for internet connections, though no direct internet
2. we also have registry proxies
3. it's hard to train the people not to use internet repos but local repos
4. there are a lot of problems heading up when using proxy configurations in Kubernetes clusters
5. internal customers already going crazy because of

[2016-10-21 09:44] lucab commented on #3295
I'm keeping the bug open and retitled to align with the underlying issue. @euank suggested another approach to fixing this, which is making fly more cgroup-aware and signal all the processes in the group. I'm still open to both at the moment, but I'd stay with the pgid one if possible.

[2016-10-21 10:14] lucab commented on #3302
This is because the mounting logic in stage-1kvm init is buggy. With additional (readonly or recursive) flags, `doBindMount` tries to [perform a bind-mount](https://github.com/coreos/rkt/blob/v1.17.0/stage1/init/kvm.go#L121-L135) assembling together MS_BIND+MS_REC+MS_RDONLY. Those flags cannot be set in the first bind-mount, an additional remount is needed. Pinging @squeed who was also having a lo

[2016-10-21 10:21] lucab commented on #3301
I didn't check the code, but I fear this is a more widespread issue than just --mnt-volume. If I recall correctly, most of current option parsing logic is just a `split(,) + split(=)`. And the solution to that is probably agreeing on the separator, how to escape it (a custom `\,` or some broader `""` quoting?) and then introducing a proper parser.

[2016-10-21 15:12] squeed commented on #3301
Ironically, a lot of the code actually parses these as CGI parameters, so you could theoretically use %-escaping. I don't think that's a very good idea, though.

[2016-10-21 15:55] #2590 closed

[2016-10-21 16:22] lucab commented on #2622
rkt now has a dedicated exit code (254) which should overlap with the nested container processes. This has been changed in https://github.com/coreos/rkt/pull/3261 and will be in the next release (1.18.0). stage1-fly debug output is not supposed to be there. That, together with the initial silence-mode request, is currently under review at https://github.com/coreos/rkt/pull/3297.

[2016-10-21 17:04] euank commented on #3301
Allowing escaping would be a little messy from a regular UX perspective because you'll have to double quote or double escape to get around the shell (`--mnt-volume=..,source='"/foo/bar,baz"'` type stuff).

Allowing an input of json for that field somehow would gain json escaping for free and would also be programmatically a bit easier to work with, but that's an even worse cli ux I think.

[2016-10-22 17:06] s-urbaniak commented on #3179
I am working on this now, and found that the bug is most likely in rkt itself, not in docker2aci, see https://github.com/appc/docker2aci/issues/202#issuecomment-255540487.

[2016-10-23 08:55] s-urbaniak commented on #3179
Note to myself: This place https://github.com/coreos/rkt/blob/master/pkg/tar/tar.go#L147 misses xattr handling.

[2016-10-23 17:33] lorddaedra opened #3306 "Improve install-rkt installation script"
I feel, you should add iptables to dependencies at least for Ubuntu/Debian systems.

[code]

[2016-10-24 06:09] b-ramsey opened #3307 "Minimum environment setup fails on mounting /dev/null with SeLinux"
**Environment**
rkt Version: 1.17.0
appc Version: 0.8.7
Go Version: go1.7.1
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL

--
Linux 3.10.0-327.28.3.el7.x86_64 x86_64

--
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL=

[2016-10-24 07:59] lucab commented on #3307
I guess this is similar to https://github.com/coreos/rkt/issues/1304#issuecomment-245884027. Does it also fail with `--no-overlay`?

/cc @lsm5

[2016-10-24 09:48] jjlakis commented on #3302
@lucab I think we will simply bump the kernel to the next stable release (right now there's only one small [patch](https://github.com/coreos/rkt/blob/master/stage1/usr_from_kvm/kernel/patches/0001-reboot.patch) applied to the kernel, so technically it's trivial). I don't see any case that could prevent it. Any concerns about that @pskrzyns @lukasredynk @iaguis @s-urbaniak ?

[2016-10-24 10:07] jjlakis commented on #1917
@tjdett @lucab Looking for the previous comments and found the source of the problem. After changing [9p mount caching mode](https://github.com/coreos/rkt/blob/master/stage1/init/kvm/hypervisor/hvqemu/qemu_driver.go#L36) from "mmap" to "loose" problem disappears. For LKVM, there is a [patch](https://github.com/coreos/rkt/blob/master/stage1/usr_from_kvm/lkvm/patches/do_synchronous_writes.patch) to

[2016-10-24 12:01] lucab commented on #3262
As per https://github.com/systemd/systemd/issues/4357#issuecomment-255694948, this is now fixed for v232. We still have a minor regression related to writable proc, but that is in progress at https://github.com/systemd/systemd/pull/4395, tracked separately and not a blocker. Closing.

[2016-10-24 12:01] #3262 closed

[2016-10-24 12:02] #3306 closed

[2016-10-24 12:11] pskrzyns commented on #3302
💯  @jjlakis go for it

[2016-10-24 12:41] squeed opened #3311 "Consolidate & cleanup bind mount code"
Our bind-mount code is duplicated in a few places:
- `stage1/init/common/mount.go`
- `stage1_fly/run/main.go`
- `stage1/init/kvm.go`
- `prepare-app.c` (probably not removable)

Along with some further logic in `stage0/gc.go`

This should be consolidated in to a library (with tests).

[2016-10-24 14:15] slallema commented on #1917
could this be related : http://www.spinics.net/lists/stable/msg140096.html ?

[2016-10-24 15:04] lucab commented on #3301
@euank I think I misread your initial suggestion, so my answer was a bit off-target, sorry for that.

I agree we should have some way of specifying a JSON runtime config, possibly allowing appc and oci formats in the future.

The problem with commas in CLI flags remains, though, and this is where I was suggesting escaping.

Braindumping mode: another option is a sed-like  syntax, where the first c

[2016-10-24 15:46] #2622 closed

[2016-10-24 17:01] euank commented on #3301
Yeah, I'm for fixing both.

My own braindump: another option would be to allow two ways to specify it, one with the commas, one with multiple flags. E.g.:

`--mnt-volume-name=foo --mnt-volume-source "/foo/bar,baz" ...`

However, that comes up with the problem of grouping flags. We already sorta have that with associating things to specific images, and we could do the same thing where the volume na

[2016-10-24 22:55] b-ramsey commented on #3307
Yes I tried it with --no-overlay as well and it still failed to run with the same error message.

[2016-10-25 07:43] #3179 closed

[2016-10-25 17:04] philips commented on #894
@chaosaffe @GreatSUN rkt should support HTTP_PROXY https://gist.github.com/philips/4a0486ca563413fe2a0d60daa1daf667

We do need to plumb this through the kubelet integration though.

[2016-10-25 17:41] lucab commented on #894
https://github.com/coreos/rkt/pull/3303 also fixed some issue in docker-fetching over a proxy. This is going to land in 0.18.0.

[2016-10-25 18:18] jonboulle commented on #3295
+1

On 20 October 2016 at 22:14, Euan Kemp <notifications@github.com> wrote:

[2016-10-25 18:25] jonboulle commented on #3302
Hrm, why do our read-only tests not run against the KVM flavours?

On 21 October 2016 at 08:15, Tim Dettrick <notifications@github.com> wrote:

[2016-10-25 19:07] squeed commented on #3302
Some of them do, but there was a gap.

[2016-10-25 19:39] #3302 closed

[2016-10-25 20:05] euank commented on #3295
What are the tradeoffs between cgroup and pgid anyways?

My understanding is some applications want components to be in a given pgid and will adjust their fork-exec'd children as such, but pgid doesn't have any form of hierarchy so that will necessarily break detecting those.

On the other hand, if an application wants to fork something off into a cgroup, cgroup hierarchies do nest and so that wil

[2016-10-25 21:09] Crosse opened #3316 "rkt-build-rkt.md still references scripts/acbuild-rkt-builder.sh"
In trying to do some other documentation clean-up, I noticed that 6065b5b5ff1a57a394ad7f551a86fc7a33f3e8fb removed scripts/acbuild-rkt-builder.sh, but https://github.com/coreos/rkt/blob/68301bdc0735487c0e170fa0f50a496c8324ca3e/Documentation/rkt-build-rkt.md still references this file. I couldn't find a similar file in the repo (thinking that maybe the name changed), but after looking at commit his

[2016-10-25 22:10] lucasallan commented on #3298
I'd love to give it a try.

[2016-10-26 06:49] lucab commented on #3316
Yes, I think it can be removed. I'm not sure if there is any unique information in there that should be moved somewhere else, @s-urbaniak? Otherwise feel free to just shoot a PR to remove it, @Crosse. And thanks for noticing!

[2016-10-26 07:11] lucab commented on #3298
@lucasallan feel free to, and welcome! Most of the code involved in this should be located under `rkt/image_list.go` (and it may need a bit of cleanup).

[2016-10-26 08:24] squeed commented on #3114
Taking a look at this. Related discussion is in containernetworking/cni#309 - the DELETE CNI command should probably never error.

[2016-10-26 10:08] squeed commented on #3114
Nevermind, not a CNI problem. Just needed better checkpoint logic.

[2016-10-26 10:08] squeed commented on #3270
Fixed in #3285

[2016-10-26 10:08] #3270 closed

[2016-10-26 12:47] s-urbaniak commented on #3316
good catch, thanks @Crosse. Indeed this file has been moved to the new rkt-builder repo, and is available now here https://github.com/coreos/rkt-builder/blob/master/acbuild.sh. I will remove the paragraph in a PR.

[2016-10-26 13:45] squeed commented on #2782
Filed cznic/ql#140 to request some sort of tunable headroom.

[2016-10-26 13:48] s-urbaniak commented on #3316
The instructions to build the rkt-builder itself have been moved to the readme of the repo: https://github.com/coreos/rkt-builder.

[2016-10-26 14:23] kfirufk opened #3320 "stage1-images directory doesn't contain asc files for the aci images"
**Environment**

rkt Version: 1.14.0
appc Version: 0.8.7
Go Version: go1.7.1
Go OS/Arch: linux/amd64
## Features: -TPM +SDJOURNAL
## Linux 4.7.3-coreos-r2 x86_64

NAME=CoreOS
ID=coreos
VERSION=1185.2.0
VERSION_ID=1185.2.0
BUILD_ID=2016-10-20-2326
PRETTY_NAME="CoreOS 1185.2.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
## BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

system

[2016-10-26 15:16] Crosse commented on #3316
Great! Since it looks like @s-urbaniak has already submitted a pull request to update the doc, I'll go ahead and close this issue.

Thanks!

[2016-10-26 15:16] #3316 closed

[2016-10-26 18:22] lorddaedra commented on #3292
Currently I'm waiting for merge https://github.com/docker/docker/pull/26369 and release their new Docker for Mac beta with support for `docker save --format=oci`, are you ready for OCI image files on your side?.. Can I use rkt fetch for them?..

[2016-10-27 09:14] lucab commented on #2313
Pulling by digest is fixed in 0.18.0, but I'm keeping the original ticket open as part of the multi-format store rework.

[2016-10-27 09:19] eryx commented on #551
== my use cases

i have a big cluster, create thousands of containers (current use docker), in most of time only parts of containers are running, and the others stopped and waiting the control master to give them command-message todo some work:

* case 1: search engine: most of time, the realtime indexing engine containners running, but in a specific time or logic, the control master will stop all

[2016-10-27 09:43] squeed commented on #3114
Bumping to 1.19 - the code is done, but it needs review.

[2016-10-27 10:11] lucab commented on #3134
Work on the docker2aci side is ongoing on this, but didn't make into this release. Tracked via https://github.com/appc/docker2aci/issues/216.

[2016-10-27 10:18] s-urbaniak commented on #3286
Unfortunately workshop presentation, and sickness didn't give me enough air to tackle this, hence bumping.

[2016-10-27 10:18] s-urbaniak commented on #3258
Unfortunately workshop presentation, and sickness didn't give me enough air to tackle this, hence bumping.

[2016-10-27 10:18] s-urbaniak commented on #3237
Unfortunately workshop presentation, and sickness didn't give me enough air to tackle this, hence bumping.

[2016-10-27 10:19] s-urbaniak commented on #2158
https://github.com/coreos/rkt/issues/3245 is still WIP, hence bumping.

[2016-10-27 11:46] s-urbaniak commented on #3320
@kfirufk thanks for the issue report. Can you do a `systemctl cat` of the failing service, and post it here?

[2016-10-27 13:35] kfirufk commented on #3320
sure.. it happens on calico-node and kubelet.

calico-node:
[Unit]
Description=Calico per-host agent
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
PermissionsStartOnly=true
Environment=ETCD_CA_CERT_FILE=/etc/ssl/etcd/ca.pem
Environment=ETCD_CERT_FILE=/etc/ssl/etcd/etcd1.pem
Environment=ETCD_KEY_FILE=/etc/ssl/etcd/etcd1-key.pem
Environment=CALICO_DISABLE_

[2016-10-28 01:11] grep-stripe opened #3326 "Cannot correctly guess image type from name of format: image-name-with-hyphens:some_hash"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

I expected it to start a container.

**What did you see instead?**

It emitted an error.

This is because url.Parse() is a little screwy when you pass it an argument that includes a string with hyphens followed by a colon. The hash/tag bit at the end of the image name doesn't matter. See these two play.golangs:

[2016-10-28 01:39] grep-stripe commented on #3326
As a workaround, we are just renaming our images to include a /.

[2016-10-28 04:05] philips commented on #1799
What is the next step on this?

[2016-10-28 07:13] jjlakis commented on #2576
@tjdett @jonboulle For QEMU stage1 issue does not occur

[2016-10-28 09:26] squeed opened #3327 "Investigate integrating Runc"
## PLAN
### First pass
- [x] pull in runc into stage1
- [x] proof-of-concept for `rkt app add`
- [ ] proof-of-concept for appc -> runc
### Second pass
- [ ] Enable mounts
- [ ] Capabilities
## `app add` design

Plan: create a separate subcommand, app add-runc (though I expect this will change), that accepts an image spec and a path to a config. Adds a stub application to the pod manifest. Writes a

[2016-10-28 16:12] grep-stripe commented on #3326
I'm happy to write a fix for this if anyone has a suggestion as to the correct approach. If some-image-name isn't a valid rkt image name, then that should be detected and summarily rejected during ACI creation. This would be an issue with appc/spec?

[2016-10-28 17:42] lucasallan commented on #1875
I just had to add `config.vm.synced_folder ".", "/rkt", type: "rsync"` to `Vagrantfile` and everything works fine for me.

[2016-10-28 21:15] grep-stripe opened #3329 "rkt image rm by image name cannot find image"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

I expected the the registry-1.docker.io/library/busybox:latest image would be removed.

**What did you see instead?**

The error message in the "what did you do section". The image wasn't found.

[2016-10-28 23:35] mjg59 opened #3330 "rkt stage1 kvm kernel is out of date"
The kernel used in the kvm stage1 is *very* out of date. We need to ensure it's updated in sync with kernel security releases in general, and probably need an equivalent process for qemu. We also need to figure out whether this will include point releases of previous versions of rkt.

[2016-10-29 09:15] lucab commented on #3329
I guess this is mostly a UX problem. `rkt image rm` has some slightly special semantics, and it accepts either an image-id or an image-name (without the version label/tag). This means that if you have multiple versions of the same image in store (eg. `busybox:musl` and `busybox:glibc`) you can use `rm busybox` to remove all of them at once, and `rm sha512-xyz` to remove a specific one.

I see this

[2016-10-31 11:44] s-urbaniak commented on #3320
@kfirufk thank you a lot for providing the systemd unit files, that helped a lot for debugging. `/usr/lib` is a symlink to `/usr/lib64` in CoreOS. Furthermore only `/usr/lib64/rkt/stage1-images` is the trusted location for rkt on CoreOS, hence only the following config will work without any ACI checks:

[code]

Nevertheless, I am trying to understand what you are trying to accomplish. `/usr/lib64/

[2016-10-31 12:58] kfirufk commented on #3320
Hi! thanks a lot for your response. I misunderstood the rkt documentation which led me to believe that I must add this configuration for rkt to find the stage1-images. removing the file /etc/rkt/paths.d/paths.json and restarting the service did the trick. thanks again!

[2016-10-31 12:58] #3320 closed

[2016-10-31 15:30] jonboulle commented on #1875
Seems like we should consider changing the default or at least adding a note

[2016-10-31 16:07] jonboulle commented on #3326
`some-image-name` should definitely be a valid image name.

[2016-10-31 17:53] lucab commented on #3326
It looks like the heuristic in `guessImageType()` is not working well enough for this case. I think that the suggestion here (checking the scheme and keep going if it isn't a supported one) is a good one if we don't want to hit the store at this point before the real lookup.

@grep-stripe contributions are much appreciated! Let us know if you still want to tackle this yourself and if you need any

[2016-10-31 21:25] grepory opened #3336 "rkt rm fails if no free space left on device"
**Environment**

[code]

**What did you do?**

We downloaded images until the partition rkt lives on was full, then we went to remove an image:

`rkt image rm sha512-f04e27b32e58`

**What did you expect to see?**

I expected the image to be removed.

**What did you see instead?**

[code]

I'm not actually sure how to recover from this besides blowing away /rkt which means we lose all of our images

[2016-10-31 22:34] euank commented on #3336
I think this is the same as #2782

[2016-11-01 02:14] grepory commented on #3336
OH! I tried to find one, thanks!

[2016-11-01 02:14] #3336 closed

[2016-11-01 14:35] copumpkin commented on #1758
Not that it matters much, but here's another vote for making it work nicely on NixOS 😄

[2016-11-01 18:38] squeed commented on #3327
This is mostly working. It relies on a version of Runc build against a new version of go-systemd, which shouldn't be too hard to get merged.

[2016-11-02 12:49] s-urbaniak opened #3338 "`rkt run --pod-manifest` incorrectly allows to start empty pods"
**Environment**

[code]

**What did you do?**

[code]

where `empty.json`

[code]

**What did you expect to see?**

An error message, because the pod has no apps defined.

**What did you see instead?**

A working rkt pod with no apps defined:

[code]

[2016-11-02 17:05] squeed commented on #3327
https://github.com/squeed/rkt/tree/runc

[2016-11-02 18:57] lucasallan commented on #3338
I'd like to give it a try.

[2016-11-03 08:58] lucab commented on #1799
Systemd implementation is done and merged into systemd git (master, post v231): https://github.com/systemd/systemd/pull/4179

According to plans, systemd v232 should have already been released but unfortunately this release seems to be taking longer than expected, so I just asked for an ad-hoc backport in order to have this available in stage1: https://github.com/systemd/systemd/pull/4179

I've po

[2016-11-03 13:45] s-urbaniak commented on #3242
As discussed with @lucab OOB we will stick for now with the `--cpu` CLI. We do a mechanical conversion from cpu-millis to percent as per [1], hence deprecating this flag doesn't make a huge difference.

This was addressed in https://github.com/coreos/rkt/pull/3299, and is merged.

@lucab I hope I summarized the current state correctly, therefore I am inclined to close this issue, unless we have a

[2016-11-03 14:13] s-urbaniak commented on #3338
@lucasallan It's all yours :-)

As a side-note I rechecked in https://github.com/appc/spec/blob/master/spec/pods.md, that indeed the `apps` field is not optional, hence it makes sense to validate the length of the `apps` field to be `> 0`.

[2016-11-03 21:03] lucasallan commented on #3338
thanks @s-urbaniak I'll start it once I finish the other task I'm currently working on.

[2016-11-04 09:51] h0tbird commented on #2574
I feel this pain in:

[code]

[code]

[code]

[2016-11-04 10:51] lucab commented on #2574
@h0tbird I think you are hitting some other issues, as I just tried with 1.18.0 and I don't see any change of behavior compared to 1.17.0 (except being less verbose) even with parallel downloads:

[code]

Can you please open a separate issue with all the information above, also adding the content of systemd unit and trying to run the same rkt command with `--debug` to see if we have any relevant h

[2016-11-04 11:38] h0tbird commented on #2574
Sure @lucab, here you have it https://github.com/coreos/bugs/issues/1648

[2016-11-04 11:49] trusch commented on #2369
I see that there are the necessary translation functions in appc/spec but they are not called in the check for a valid os/arch tuple. It looks trivial to implement it.

* update appc schema from master
* use the convert function

Should I create a pull request after testing?

[2016-11-04 13:01] lucab commented on #2369
We are slowly and steadily improving our arch-related compatibility, but this is unfortunately not our direct roadmap at map so any external contributions on that topic are much appreciated, @trusch!

Regarding the appc/spec bump, we'll need a 0.8.9 release to have it in rkt (which should happen soon), but on the other hand you can still develop/test against master until that happens.

Regarding a

[2016-11-04 13:30] squeed commented on #3327
Added support for bind mounts. I think we've proven that this works; I'll leave this be for now.

I may also prototype running the stage1 as a runc, if I have the time.

[2016-11-04 13:35] squeed commented on #3133
We're actually not exactly CNI version 0.2.0 compliant - I'll fix this as part of it.

[2016-11-04 13:47] lucab commented on #3133
@squeed once getting to it, please milestone accordingly.

[2016-11-04 13:58] s-urbaniak opened #3343 "lkvm stage1 doesn't build"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

A working build.

**What did you see instead?**

[code]

I did a at first sight innocent version bump in rkt-builder from [1.1.0](https://github.com/coreos/rkt-builder/releases/tag/v1.1.0) to [1.1.1](https://github.com/coreos/rkt-builder/releases/tag/v1.1.1) but unfortunately it seems that the lkvm build stoppe

[2016-11-04 14:03] jonboulle commented on #3327
Worth a PR + experimental env variable?

[2016-11-04 15:04] s-urbaniak commented on #3343
re-pinging @coreos/rkt-kvm-maintainers, as my account was disabled temporarily.

[2016-11-04 15:12] squeed commented on #3327
Not yet - it's a bit too sketchy. Probably needs a day or two to clean up all the glaring TODOs.

[2016-11-04 17:47] evverx opened #3344 "`./configure --with-stage1-systemd-version=master` changes the `rkt`-behaviour due to `GetFlavor == 0`"
[code]

**What did you do?**
[code]

**What did you expect to see?**
[code]
https://github.com/systemd/systemd/pull/4533#issuecomment-258327773

**What did you see instead?**
[code]

Possible solutions:
* Adapt that code: https://github.com/systemd/systemd/commit/5a46d55fc8f3dc4a86f399
* Reject branch names that don't match`^v\d+` (I prefer this option)

[2016-11-04 18:31] jonboulle commented on #3329
sorry but I'm missing the specific issue here: is it that we don't consider the tag when trying to match by name?

[2016-11-04 19:34] evverx commented on #3344
Oh, sorry. I mean https://github.com/coreos/rkt/blob/102e05de679f10042b39054b14da15d401cbcc34/stage1/init/common/pod.go#L617
[code]

[2016-11-05 09:44] lucab commented on #3329
@jonboulle yes, it looks like rm lookup is only based on image name at the moment and this allows for removal of multiple images/tags at once. After a second look at this, I'm starting to think that this is not intentional (ie. a parser bug) and rm should be aligned with other subcommands whose lookups are image+tag based.

[2016-11-05 20:35] TerraTech opened #3345 "Download failure: coreos.com/rkt/stage1-coreos"
**Environment**
*bare metal deployment*
[code]
**What did you do?**
I'm running rktnetes with the following kubelet options:
[code]
as recommended via:  https://coreos.com/rkt/docs/latest/using-rkt-with-kubernetes.html

While trying to see why my rktnetes pods were stuck with status: _ContainerCreating_
[code]

The kubernetes events pointed to being unable to download  stage1-coreos
I manually tes

[2016-11-05 20:39] TerraTech commented on #3345
Should this be posted at coreos/bugs instead?

[2016-11-05 20:43] euank commented on #3345
This is a cross cutting issue; but I think having it here is fine.

There are two issues here. 1) No latest tag is published for stage1 images; only specific versions are published (e.g. `coreos.com/rkt/stage1-coreos:1.14.0` to match your rkt version). AFAIK this is intentional.

2) The rktnetes instructions assume that the stage1 image was already fetched into the local store or, failing at that,

[2016-11-05 21:42] TerraTech commented on #3345
@euank sounds good, thank you for the clarification.

As an aside, if I'm running rkt 1.14.0, is it ok to run stage1 images that are greater than current rkt version?  If so, are there any downsides?  e.g. latest right now is 1.18.0

[2016-11-05 23:24] gyuho opened #3346 "rkt run: openpgp: signature made by unknown entity from Google Storage"
**Environment**

[code]

**What did you do?**

I have an etcd image signed by my personal gpg2 key

[code]

**What did you expect to see?**

This command should work

[code]

**What did you see instead?**

[code]

Am I doing anything wrong?

I want to have signed images on cloud storage, and be able to fetch from cloud storage. `rkt trust` on `https://storage.googleapis.com/etcd/tip/etcd-20161105-

[2016-11-06 18:12] lucab commented on #3346
You forgot to mention how you added trust for your key, but this seems to work fine here:
[code]

(`pgp.mit.edu` is just a random keyserver where to get your key from over HTTPS. Any other remote/locale file should work as well)

[2016-11-06 19:02] gyuho commented on #3346
Works great! Thanks @lucab!
Good to learn this.

[2016-11-06 19:02] #3346 closed

[2016-11-06 19:49] evverx commented on #3344
BTW: I'm using an ugly workaround to run test against https://github.com/systemd/systemd/pull/4594:
[code]

Also
[code]

[2016-11-07 05:57] SamSaffron opened #3347 "Does rkt plan to release an LTS release?"
As it stands every few months rocket releases a new version containing UX changes, bug fixes and features.

This release cycle is very similar to Docker's release cycle where there is only one "supported" release out there.

Are there any plans for a long-term-support release for those more change averse sys admins?

[2016-11-07 07:52] jjlakis commented on #3343
I will check this

[2016-11-07 10:16] lucab commented on #3211
@mtanski is the quay.io problem also related to a private repository? How are you fetching from it? quay.io does automatic conversion to appc, so this might work slightly different unless you pull from it using a `docker://` schema.

[2016-11-07 10:24] lucab commented on #3242
I think that for the time being we are fine with `--cpu` and `--cpu-share`. We may revisit `--cpu` semantics if we need at some point in the future, but I don't see a clear need for doing it now. I consider the original report fixed by #3299, thus closing.

[2016-11-07 10:24] #3242 closed

[2016-11-07 10:45] lucab commented on #3136
Regarding last comment, most of those topics have already been addressed and for the remaining ones we have specific tickets:
 * SELinux at https://github.com/coreos/rkt/issues/3257
 * IO and TTY (attach/exec/logging) at https://github.com/coreos/rkt/issues/1799

[2016-11-07 11:06] lucab commented on #3203
I think that all bits here are now addressed, except for SELinux which is separately tracked at https://github.com/coreos/rkt/issues/3257. @s-urbaniak can you double-check and close if not needed anymore?

[2016-11-07 12:20] #3135 closed

[2016-11-07 12:20] #3136 closed

[2016-11-07 12:20] #3137 closed

[2016-11-07 12:20] #3153 closed

[2016-11-07 12:20] #2252 closed

[2016-11-07 12:27] #2804 closed

[2016-11-07 12:27] #3114 closed

[2016-11-07 13:58] lucab opened #3349 "app: implement functional tests for mutable pods"
We currently have no functional tests at all concerning mutable pods features.
This is a request to implement the first batch of tests which will:

 - [x] smoke test for `rkt app`
 - [x] check that `rkt app` is gated behind an env var
 - [x] check that app sandbox brings up an empty pod
 - [x] check that add/start work
 - [x] check that stop/rm work
 - [ ] check that a mutable pod is still running

[2016-11-07 14:38] #3298 closed

[2016-11-07 15:02] lukasredynk commented on #3343
This could be related: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=841368

[2016-11-07 15:14] h0tbird commented on #1756
I am running cAdvisor `v0.24.1` with this systemd unit:
[code]

and I can confirm I have the problem described by @alban with the `\134` scape sequence.

[2016-11-07 15:21] jjlakis commented on #3343
It is caused, more specifically, on:
`ld -r -b binary -o guest/guest_init.o guest/init`
in lkvm-static make. Adding `-fPIC` to [lkvm make](https://github.com/coreos/rkt/blob/master/stage1/usr_from_kvm/lkvm.mk#L32) solves the problem, but I'm not sure whether we want to have it there. It seems like @lukasredynk is right, since we are using sid distro in rkt builder aci.

[2016-11-07 15:58] s-urbaniak commented on #3237
@dansteen sorry for the late response, can you give a hint how you `docker run` the container?

[2016-11-07 16:23] jonboulle commented on #3329
If there _are_ other subcommands that take image+tag as input (??) then I agree

[2016-11-07 16:52] lucab commented on #3329
At least all the other `rkt image` subcommands seem to use a common `getStoreKeyFromAppOrHash()` which allows users to specify either a hash or an image(+tag) like:
[code]

[2016-11-07 16:56] lucab commented on #3330
These two components got an ad-hoc update, but we still need a better process for updating dependencies that we end up shipping inside release artifacts.

[2016-11-07 18:05] jonboulle commented on #3329
ok, we should clarify that in the CLI help too

On 7 November 2016 at 17:52, Luca Bruno <notifications@github.com> wrote:

[2016-11-07 18:59] euank commented on #1756
Self-assigned, one way to fix this will be making cadvisor's per-runtime support "opt in" vs default all. I have an issue over there for this too https://github.com/google/cadvisor/issues/1483

[2016-11-07 20:12] mtanski commented on #3211
@lucab yes it's a private repository with with our internal applications. It gets called from salt by running

`rkt  --insecure-options=image fetch --no-store docker://...`

[2016-11-07 20:17] lorddaedra commented on #3211
Just to note, I tried to use quay without docker:// but got some bugs with some containers.. (strange startup errors), it was something from [postgresql-debian, uwsgi-alpine, php-fpm-alpine, nginx-alpine] images (official Docker images from DockerHub + some of my custom code in settings)...

So for now I use docker:// and later going to use OCI/OCF (use docker build --save oci and save to server d

[2016-11-08 10:10] trusch opened #3352 "Provide ARM releases"
Are there any plan on providing rkt releases for ARM architectures?

[2016-11-08 10:18] lucab commented on #3257
This has been address in kubernetes https://github.com/kubernetes/kubernetes/pull/34811. We should introduce a pod-level and an app-level SELinux context in rkt too.

[2016-11-08 10:24] lucab commented on #3352
If you are asking for pre-built artifacts for rkt release, then the answer is that we are not going to provide any non-amd64 binary.

However, we encourage downstream packagers to build and distribute binaries for architectures that can be sensibly supported. For example, Debian currently distributes packages for multiple ARM flavors: https://packages.debian.org/unstable/rkt

[2016-11-08 13:26] #3352 closed

[2016-11-08 14:38] lucab commented on #3211
I did a bit of investigation today and I'm unable to reproduce this. Pulling from a private dockerhub repository works even in recent releases (checked on 1.18.0) and I don't recall any changes related to that.

At this point I can only have raw guesses about what's going wrong. Perhaps for some reasons rkt is not able to read your auth.d, thus not performing any authentication.

Can you please pa

[2016-11-08 15:24] lukasredynk commented on #3343
Ok, I've found a way to build newest lkvm with Debian's version of GCC, now I'm looking for workaround for building kernel (because vanilla kernel from kernel.org is uncompillable with Debian's GCC...)

[2016-11-08 15:28] lucab commented on #3329
As a note of warning, this will partly revert the behavior requested in https://github.com/coreos/rkt/issues/1779. I agree with @s-urbaniak that we prefer having support for removing single images, and a short one-liner to remove multiple ones, instead of not accepting a tag specifiers and doing wildcard-removing by default.

[2016-11-08 16:06] lukasredynk commented on #3343
https://github.com/coreos/rkt/pull/3354 should fix this

[2016-11-08 16:09] #3286 closed

[2016-11-08 16:09] jjlakis commented on #3343
Big up @lukasredynk for this investigation

[2016-11-08 16:54] mtanski opened #3355 "Named image fetch image even if unchanged unless insecure=image enabled"
**Environment**

[code]

**What did you do?**

We're fetching images from our orchestration tool (salt stack). If there's a new image we restart the service.

**What did you expect to see?**

I expect the `rkt fetch` functionality to skip image fetch if the image is unchanged.

**What did you see instead?**

It always re-downloads the image.

[code]

**Suggested cause?**

After spending some time

[2016-11-08 17:01] mtanski commented on #3211
@lucab I just tried fetching the info and reproducing it it now and I cannot. For all I know this was an error on my end and if that's the case I'm sorry for the hassle. The other option was that somehow that wasn't working between rkt / quay.io as a docker:// fetch.

[2016-11-08 17:14] lucab commented on #3355
It looks like https://github.com/coreos/rkt/pull/2965 re-introduced support for etags, but forgot to propagate this logic to `fetchVerifiedURL()`. It should be safe to just augment that one too to be cache/etag aware. We'll gladly accept patches for this; otherwise let us know and we'll take over.

[2016-11-08 20:22] jason-riddle opened #3357 "[Question] How to convert rkt images to docker images?"
Is this possible? I couldn't find any documentation in regards to this.

[2016-11-09 00:33] lorddaedra commented on #3211
Maybe it works now, can't reproduce because of I do not use any private repositories on this services (dockerhub & quay) anymore... So you can close this issue if you think it was fixed (or try to reproduce with old rkt and see why it may happen)..

[2016-11-09 00:43] lorddaedra commented on #3211
Anyway it was hard to use for me because of if I will use private repositories - I need multiple user login&passwords [and if I will use link&unlink of different `/etc/rkt/auth.d/docker.json` - it can  make bug with starting services in parallel ]

But even with this fixing this bug and after adding feature `Multiple dockerhub & quay login credentials` I see big latency in downloading from this se

[2016-11-09 01:43] chancez commented on #3357
It depends on exactly what you're looking for, but I've got some very primitive options you might try. None of these examples will handle converting the defined ports, volumes, etc from the image manifest into the equivalent DOCKERFILE VOLUME, EXPOSE, options. The options below will take a rkt image stored in rkt's CAS (something you've rkt fetched).

Rkt doesn't support convert to docker images d

[2016-11-09 01:50] jason-riddle commented on #3357
That's all I really needed.  I'll play around wth those commands. Thanks!

[2016-11-09 01:50] #3357 closed

[2016-11-09 10:27] #3272 closed

[2016-11-09 10:43] lucab opened #3358 "store: support rollback of database versions (down migration)"
https://github.com/coreos/rkt/pull/738 introduced support for forward updating database versions (up migrations).

However if an existing store is carried on during a system rollback involving rkt, the older rkt version will fail to run due to the schema version being unknown / too new:
[code]

On the other hand https://github.com/coreos/rkt/pull/1177 introduced DB backups on migration, so the use

[2016-11-09 10:44] lucab commented on #3358
/cc @s-urbaniak

This is also relevant as part of the the store rework and if we move to a K-V store as proposed in https://github.com/coreos/rkt/pull/2972.

[2016-11-09 11:15] s-urbaniak opened #3359 "rkt image list --fields=name is broken"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

[code]

**What did you expect to see?**

An output filtered showing only the `NAME` field

[code]

**What did you see instead?**

An output showing all fields

[code]

[2016-11-09 11:16] s-urbaniak commented on #3359
It smells like a regression introduced by #3334.

[2016-11-09 11:34] jjlakis commented on #3330
For kernel update we needed updated config, for QEMU - another bios binary so this process cannot be automated easily

[2016-11-09 11:36] jonboulle commented on #3359
$ rkt image list --fields=name
NAME
coreos.com/rkt/stage1-host:1.18.0
coreos.com/rkt/builder:1.1.1
...
[code]
coreos.com/rkt/stage1-host
coreos.com/rkt/builder
[code]

[2016-11-09 13:02] #3343 closed

[2016-11-09 14:04] s-urbaniak commented on #3344
Hey @evverx nice to meet you here too :-)

So the prolem is that the systemd version is set to `v232applymounts`, the same as the branch name.

Instead of modifying the above code to include more heuristics to guess the systemd version, I am more inclined to introduce an additional `--stage1-systemd-revision` (set to `--stage1-systemd-version` by default) `configure` parameter which allows you to

[2016-11-09 15:12] #3133 closed

[2016-11-09 16:54] lucasallan commented on #3359
I'll take a look later today.

[2016-11-09 16:56] lucab commented on #3359
@lucasallan No worries, I've already submitted https://github.com/coreos/rkt/pull/3361 in order to not introduce a regression in a stable release (happening tomorrow). Feel free to have a look there in case I missed anything!

[2016-11-09 16:56] lukasredynk commented on #3330
@lucab: for QEMU it should be fairly easy. For kernel: maybe before kernel compilation we could add one more step: "make silentoldconfig"? -> this should update current kernel config to be ready to use with new kernel.

[2016-11-09 17:18] dansteen commented on #3237
@s-urbaniak the easiest thing to do is just to shell into the docker container and then try to run any rkt container command:
[code]

[2016-11-09 17:34] #3359 closed

[2016-11-09 18:49] lucasallan commented on #3338
@s-urbaniak Cool, should we also have `field` filters for json output? I'm currently working to add tests to `json` and `json-pretty` outputs.

btw: ignore the commit above, I put the wrong issue number on it - already fixed.

[2016-11-10 07:11] martinpitt commented on #1757
https://github.com/systemd/systemd/pull/4628 reverted this for now, but you can still boot with `systemd.legacy_systemd_cgroup_controller=0` to get the unified behaviour; that is useful for developers to make runc/docker/lxc/etc. work with the unified hierarchy eventually.

[2016-11-10 08:31] #3329 closed

[2016-11-10 12:05] lucab commented on #1757
@martinp thanks for the heads-up!

[2016-11-10 15:58] jonboulle commented on #3338
IMO we don't need `field` filters for json; since it's more intended for programmatic consumption it should be easy for the consumer to filter out (or with something like `jq` for CLI use)

[2016-11-10 17:02] lucab commented on #3347
The containers ecosystem is still evolving at a quite fast pace, so we don't think it makes sense from our side to nominate some blessed release version.

On the other hand, downstream distributors may decide to freeze and snapshot at some point in time with specific rkt versions for their own stable release, and backport specific fixes. While we don't do that ourself, we try to be good citizens h

[2016-11-10 21:36] #3338 closed

[2016-11-11 14:29] evverx opened #3367 "--- FAIL: TestNoNewPrivileges (35.51s) (systemd >= 232)"
https://github.com/systemd/systemd/pull/4619#issuecomment-259678992

**Environment**

rkt: a252c4c3078f746eca
I cherry-picked https://github.com/coreos/rkt/pull/3362/commits/08ed25360b8ddb686c1332f046c0cbff9893c56d on top

**What did you do?**
[code]

**What did you expect to see?**

[code]

:-)

**What did you see instead?**

[code]

[2016-11-11 15:30] bcg62 commented on #3291
+1

[2016-11-11 16:00] jonboulle commented on #3291
@lucab is the only thing really blocking this getting a new systemd release? (or backported patch)

[2016-11-11 16:16] lucab commented on #3291
Probably, but I didn't do any further investigation after adding the systemd-nspawn flag.

[2016-11-11 17:18] #3130 closed

[2016-11-11 17:31] lucab opened #3368 "OCI: preparing for runtime-spec support at app-level"
This is a followup to the investigation at https://github.com/coreos/rkt/issues/3327, splitting out a piece of https://github.com/coreos/rkt/issues/2541

It looks like it should be possible to start supporting runc at the app-level without too many problems. As such, as part of the OCI evolution we should start preparing for supporting runtime-spec at the app level and land some initial code for t