[2014-11-12 05:46] philips opened #1 "rkt: initial run working"
Take an already mounted and setup stage1 and stage2 filesystem and run it. The basic steps involve:
- [ ] Generating unit files from the container manifest
- [ ] Placing unit files into the stage1 filesystem
- [ ] Exec'ing systemd nspawn

This should all work as a service file and be cleaned up.

[2014-11-12 05:48] philips opened #2 "metadata: networking prototype"
Prototype and document how to setup a container with systemd-nspawn that can talk to and uniquely identify a container by its incoming IP address.

[2014-11-12 05:53] philips opened #3 "standard: basic verification binary"
Built and uploaded on some public http server and runnable under rkt.

[2014-11-12 05:54] philips opened #4 "rkt: app datastore"
We need a datastore that can hold on to the app name secondary indexes for an image and deploy a given image to a new directory on request.

[2014-11-12 05:58] philips opened #5 "rkt: run by app name"
Use the store to find all of the apps that are needed for the run and setup the stage2 filesystems automatically.

[2014-11-12 06:02] philips opened #6 "rkt: lifecycle management"
We need to define how rkt knows how all of the processes running in a given stage1 have been destroyed and that the root filesystem can be cleaned up.

[2014-11-17 00:39] philips opened #13 "rkt: can run some practical applications"
We should be able to run applications such as:

- [x] fleetd - #399
- [x] etcd
- [x] dockerd - #638
- [x] flanneld - #389

[2014-11-18 18:53] philips opened #16 "rkt: investigate container socket activation"
We will want to be able to socket activate applications in a rkt container. Investigate how both tcp and unix socket activation works with systemd-nspawn.

http://0pointer.de/blog/projects/socket-activated-containers.html

[2014-11-19 02:44] #16 closed, assigned to nobody

[2014-11-19 02:46] philips opened #18 "stage1: build and host somewhere"
Build and host a stage1 on a public HTTP server so we can share it and not build it everytime. We can use the storage at developer.storage.core-os.net for now.

[2014-11-20 03:51] #2 closed, assigned to nobody

[2014-11-20 03:54] philips opened #25 "rkt: integrate with the metadata service"
- [x] Make the metadata service socket activate on some socket
- [x] Teach rkt how to register a UUID with the service (perhaps not attempting if the /var/run/rktmetaadmin.sock unix socket doesn't exist so we can fall back)
- [ ] ????

[2014-11-20 17:37] jonboulle opened #28 "rkt: generate unique UIDs for containers"
Currently we simply use a fixed ID for every container.

[2014-11-20 20:19] philips opened #31 "rkt: use sha256- everywhere"
sha1 shouldn't be used for new [applications](https://www.schneier.com/blog/archives/2012/10/when_will_we_se.html). Move everything to sha256. I will update the spec.

[2014-11-21 02:41] philips opened #33 "metadatasvc: launch one per container"
By default launch a "local only" metadata service. We can use the AC_METADATA_URL environment variable to make this work on localhost if needed.

[2014-11-24 19:04] #28 closed, assigned to nobody

[2014-11-25 00:56] jonboulle opened #35 "rkt: basic gc command"
Implement `rkt gc` to garbage collect containers based on a lifecycle policy.

[2014-11-25 03:03] philips opened #36 "rkt: append stage1 to binary"
Use this to append a stage1 to the rkt binary and take over the /var/lib/rkt folder. https://github.com/jteeuwen/go-bindata

[2014-11-25 19:14] eyakubovich opened #37 "rkt: create trivial networking solution"
To get something going, rkt should setup a container on a private network plugged into a linux-bridge. rkt should allocate a bridge if one is not already present (rkt0), assign it a well known IP network (e.g. 10.111.0.0/16) and give out random IP addresses to individual containers.

This requires putting in systemd-networkd into the stage1 rootfs and generating a .network file.

[2014-11-25 19:22] eyakubovich opened #38 "rkt: figure out general networking solution"
We need to figure out the production solution for rkt networking:
- What networking options we will support. E.g. linux bridge, veth, ovs, macvlan, ipvlan, host?
- How do we assign IP addresses (ourselves, host systemd-dhcpd, network DHCP server)?
- How do we integrate with flannel?
- How pluggable is the solution (Docker has no shortage of requests for pluggable networking solution)?

[2014-11-26 00:41] #18 closed, assigned to nobody

[2014-11-26 00:42] #1 closed, assigned to nobody

[2014-11-26 00:44] philips opened #39 "document how to run system wide metadata service"
@eyakubovich Can you help write some docs on running the system wide metadata service. Ideally it would talk about how to run it, etc.

[2014-11-26 03:13] vcaputo opened #40 "rkt: stage1 systemd-nspawn refuses to run on non-systemd host even with --register=no"
It checks if the /run/systemd/system directory exists (lstat) and fails, simply mkdir -p this path on a non-sysd host and things work fine.

Maybe we can just LD_PRELOAD a shim in stage1 which spoofs success on lstat of that path, rather than vendoring systemd to hack on systemd-nspawn.

[2014-11-26 19:59] philips opened #43 "store: use group permissions"
It would be nice to run `rkt fetch` as a non-privileged user and then launch the container with zero outbound connections. We need to implement something like git's core.sharedRepository/setgid thing.

[2014-11-26 23:03] philips opened #51 "rename afs to aci"
App Container Filesystem = afs
App Container (fileset) Image = aci

Do %s%afs%aci%g

[2014-11-26 23:15] #51 closed, assigned to nobody

[2014-11-27 01:40] jonboulle opened #58 "rkt: fix the container timezone warning"
This is annoying, get rid of it:

[code]

[2014-11-27 01:53] jonboulle opened #59 "run: use labels for -volumes"

[2014-11-27 04:00] philips opened #65 "run: "download" from local file"
Support doing rkt run ./mylocal.aci

[2014-11-27 05:10] #36 closed, assigned to nobody

[2014-11-27 05:12] philips opened #68 "*: move to coreos/rocket"
Move this repo to coreos/rocket. I will do this sometime Saturday.

[2014-11-27 05:18] philips opened #69 "stage1: build a static compiled version"
We have two annoying options to get around this:

1) Chroot into the stage1 which makes doing bind mounts more annoying

2) Statically compile the stage1 so it doesn't depend on the host. Also patch out the stupid logic to check `/run/systemd/system` and talk to dbus to get the machine-id.

/cc @eyakubovich Where is that machine-id thing you were talking about? Can you add some more info on this?

[2014-11-27 05:21] philips opened #70 "app-container: flesh out the AC README"

[2014-11-27 05:22] #5 closed, assigned to nobody

[2014-11-27 05:22] #4 closed, assigned to philips

[2014-11-27 05:23] philips opened #71 "store: secondary index on name"
We already have an index on the remote URL. Having an index on the name would be great too.

[2014-11-27 06:35] kelseyhightower opened #74 "cannot build on OS X"
[code]

On Linux systems mktemp does not require a template, but OS X does. Should we even bother to fix this?

[2014-11-27 06:47] #74 closed, assigned to kelseyhightower

[2014-11-27 09:09] jonboulle opened #76 "actool: validate should support `--signature`"

[2014-11-27 09:10] jonboulle opened #77 "actool: validate should work against directories"
To validate directory layouts.

[2014-11-27 09:14] jonboulle opened #78 "verify ExtractTar safety"
Let's ensure that we don't have a nasty case of deja vu

https://github.com/docker/docker/blob/master/pkg/archive/archive.go#L311

[2014-11-27 10:19] kelseyhightower opened #80 "Add a Dockerfile for building rocket"
The following command works:

[code]

[2014-11-28 17:18] #65 closed, assigned to nobody

[2014-11-28 22:57] #77 closed, assigned to nobody

[2014-11-29 02:17] #80 closed, assigned to nobody

[2014-11-29 08:18] #78 closed, assigned to nobody

[2014-11-30 18:27] #68 closed, assigned to philips

[2014-12-01 05:55] philips opened #104 "actool: help flag is missing a new line"
For example try:

[code]

[2014-12-01 06:28] #104 closed, assigned to nobody

[2014-12-01 06:28] #70 closed, assigned to jonboulle

[2014-12-01 06:35] philips opened #106 "rkt: support socket activated units"
This should be a straight forward conversion from the ports list to loading in socket units.

[2014-12-01 06:44] philips opened #108 "actool: gzip after build"
actool currently doesn't gzip the aci's after build, this would be a great feature to add.

[2014-12-01 07:43] philips opened #111 "discovery: walk up the tree"
For example if the user has `example.com/project/subproject` and we first try `example.com/project/subproject` but don't find a meta tag then try `example.com/project` then try `example.com`.

[2014-12-01 19:07] antoinerg opened #123 "rkt: support passing through stdin FD"
Will it be possible to pipe to the standard input of a container? Docker supports this right now.

[2014-12-01 20:22] SEJeff opened #126 "actool/build: support compression other than gzip"
In specific, xz is fantastic using lzma/lzma2. The [Linux kernel](https://www.kernel.org/pub/linux/kernel/v3.x/?C=S;O=D) uses xz, bzip2, and gzip. Notice how much smaller the xz produced artifacts are?

The GNOME Project, of which I'm a Sysadmin Alum, [stopped using gzip and only use bzip2 + xz](http://ftp.gnome.org/pub/GNOME/sources/) for all of their most recent releases due to the space it save

[2014-12-01 20:26] eparis opened #127 "Spec difficult to understand surrounding mount namespace"
https://github.com/coreos/rocket/blob/master/app-container/SPEC.md#container-runtime-manifest

States that all apps in a container share the same mount namespace. But then goes on to talk about how volumes are mounted into specific apps.

Apps sharing the mount namespace seems really hard to get right, so I'm assuming that different apps in the same container have different mount namespaces?

[2014-12-01 21:32] sthulb opened #132 "Question: Metadata URL with EC2 instances"
How does the metadata service work with EC2? EC2 offers a metadata service on the same URI. I'd probably still want to access the EC2 metadata service from a container.

[2014-12-01 21:58] #132 closed, assigned to nobody

[2014-12-01 23:05] technicool opened #136 "Metadata service should provide the mapping of network ports"
One key requirement for a container to publish or register itself with another service that is outside or independent of the container architecture is to provide your public IP address(es) and port number(s).

I don't see any provision for those mappings to be available via the metadata service.

For instance, Amazon provides `/network/interfaces/macs/mac/public-ipv4s` as a metadata resource ([aws

[2014-12-01 23:40] mikeal opened #139 "Ownership, Governance, TM, etc"
I hate to be "that guy" but I would like to know what the plan is here in terms of ownership, governance, and the trademark, although I'm skeptical you could actually trademark "rocket" :P

The post announcing this project cited some divergences in philosophy from Docker (the project and the company). It would be good to know if this project intends to be a pure community effort or if this is just

[2014-12-01 23:45] philips opened #140 "app-container: add library for fetching and assembling dependent filesets/images"
AC images can have [dependent images](https://github.com/coreos/rocket/blob/master/app-container/SPEC.md#fileset-images) however we don't have a library for finding, fetching and assembling these dependent images.
- [ ] Add a library to fetch dependent sets
- [ ] Add a library that given all of the images are in the store renders the correct filesystem to disk

[2014-12-01 23:52] philips opened #142 "app-container: add a library to convert docker image to ACI"
It would be interesting to make the app-container spec inter-op with docker registries. After implementing fileset dependencies (#140) we can write a tool that converts layers into filesets. The pkg should have an entry point where the user can start with a docker registry URL and tag (e.g. quay.io/coreos/etcd:v0.4.6) then:
- [ ] Talk to the registry API and fetch the layers
- [ ] Download the lay

[2014-12-01 23:57] #108 closed, assigned to nobody

[2014-12-01 23:59] #126 closed, assigned to nobody

[2014-12-02 00:00] philips opened #143 "wanted: xz and bzip2 compressors in Go"
Currently ACI's can be compressed with xz or bzip2 but `actool build` can only do gzip compression because Go libraries don't exist for xz or bzip2.

This feature would require implementing these specs in pure-go. Shelling out or linking to a C library won't fix this bug.

[2014-12-02 00:03] voznesenskym opened #144 "actool?"
Hello,

I got to
### Validate the application manifest

[code]

in the getting started guide... and I got:

[code]

[2014-12-02 00:04] philips opened #145 "rkt: run from a docker registry URL"
`rkt run docker://localhost:5000/mything` should work. This depends on #142.

[2014-12-02 00:54] shamrin opened #147 "Feedback and a use case"
I've read the spec. And I like Rocket! Thank you! I already see how it would solve a couple of problems I had with Docker.

E.g. I wasted quite some time trying to setup a private Docker Registry when it was still new. It was nearly impossible to do so a year ago. In contrast, your idea of registry is so simple and transparent.

Another issue I had with Docker is all-ports-are-closed-by-default an

[2014-12-02 01:09] #144 closed, assigned to nobody

[2014-12-02 02:25] thockin opened #151 "Spec first read feedback"
Collected notes as I read through.  Sorry for the length.  If any of these become worth discussing, we can fork to different topics.

This changes the established naming from what Docker calls a container to what Kubernetes calls a pod.  I think that changing the meaning of "container" at this point might be detrimental to the overall comprehension of the system.  I would propose to keep container

[2014-12-02 09:18] OscarBarrett opened #158 "rkt does not work on OS X"
build works fine on OSX if `GOOS` is set to `darwin`. However, when trying to launch an ACI, it fails due to a deadlock.

I'm using go 1.3.3.

[code]

[2014-12-02 11:58] grossws opened #160 "Isolator defaults/overrides from container runtime manifest"
Currently (as of spec) runtime manifest supports only overriding isolators config.

I think, some reasonable (and configurable) isolation defaults support should be present both in container runtime manifest and in system-wide config.

[2014-12-02 14:59] hwinkel opened #161 "systemd app activities"
Have you considered the ideas presented at LinuxCon Europe 2014. The systemd people also have some Ideas about app container models around systemd-nspawn, systemd-networkd, btrf etc.

refer to the apps section of the talk:

http://events.linuxfoundation.org/sites/events/files/slides/linuxconeurope2014.pdf

[2014-12-02 15:20] pierrebeaucamp opened #162 "rkt: add a list-containers subcommand"
Essentially a function to list all running containers will be needed at some point or another. As I understand [rkt/status.go](https://github.com/coreos/rocket/blob/master/rkt/status.go), the status function will only work for one particular container at a time?

[2014-12-02 18:32] #161 closed, assigned to nobody

[2014-12-02 18:36] #147 closed, assigned to nobody

[2014-12-02 18:58] jonboulle opened #165 "stage0: deadlock on rkt run"
As reported in #158

[code]

[2014-12-02 19:46] #158 closed, assigned to nobody

[2014-12-02 19:57] #165 closed, assigned to jonboulle

[2014-12-02 20:02] jonboulle opened #168 "stage1: pin + cache release image"
In [`mkrootfs.sh`](https://github.com/coreos/rocket/blob/master/stage1/mkrootfs.sh), instead of retrieving the "current" URL (i.e. `http://stable.release.core-os.net/amd64-usr/current/coreos_production_pxe_image.cpio.gz`), we should:
- [ ] pin to a specific release version so this is consistently reproducible
- [ ] cache the artefact so we don't need to download it every time

[2014-12-02 20:28] jonboulle opened #169 "*: re-enable tests + travis"
Tests exist for much of the `app-container/` package + subpackages, but they're not currently being run with any regularity. Re-introduce a test script and wire it up to Travis.

[2014-12-02 20:34] #3 closed, assigned to philips

[2014-12-02 21:17] hwinkel opened #172 "Multi Architecture"
as a Docker user we are waiting quite some time for the multi arch promise given. We really like to deploy container on different architectures. therefore the container meta data should know about the supported architecture. We are not thinking abut any emulation, just having app container for x86, ARM, MIPS with a main focus on x86 64Bit and ARM.

Anything on the spec roadmap  for that?

[2014-12-02 21:36] kushaldas opened #173 "build: stage1/init suitable for OS packaging"
We are packaging [1] rocket for Fedora and while doing so we found that init executable will have a name collision with /usr/sbin/init from systemd package.

Can we please have the init executable with something more specific name?

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1169966

CC: @lsm5

[2014-12-02 22:40] #172 closed, assigned to nobody

[2014-12-03 00:35] #168 closed, assigned to nobody

[2014-12-03 01:44] #31 closed, assigned to nobody

[2014-12-03 01:49] ibuildthecloud opened #179 "Don't assume 169.254.169.254"
I speak from experience here.  Don't assume a magic IP where the meta data will reside.  The problem is that there are so many network configuration that finding a way to always intercept 169.254 becomes tricky.  Instead set an environment variable with a URL to where the meta data is.  This allows different environments to us different IPs and also embed authentication info in the URL

[2014-12-03 02:12] #179 closed, assigned to nobody

[2014-12-03 02:48] philips opened #182 "spec: get rid of fulfills for the volumes"
Right now volumes in the container can fulfill particular labels. This is a bit troublesome because there might be colliding names for the same volume.

https://github.com/coreos/rocket/blob/master/app-container/SPEC.md#container-runtime-manifest-schema

Instead of doing this give each volume a name and each app will get volumes filled in by name to its mountpoints.

[code]

[2014-12-03 03:02] jonboulle opened #185 "appc: move {version,os,arch} to a `labels` field"

[2014-12-03 03:49] jonboulle opened #186 "appc: decide about version/arch/os"
Currently these fields are required in app manifests but _not_ required in filesets or e.g. dependencies. We need to clear this up:
- should filesets simply also have them as required fields?
- should we tweak the fileset concept slightly?

[2014-12-03 04:32] davidstrauss opened #187 "Use SHA-512 because it's faster"
A modern 64-bit processor can compute a SHA-512 hash in about 50-75% of the time it takes to create a SHA-256 hash. (This is because SHA-512 primarily uses 64-bit data types.) Considering that container images can become rather large, this is substantial.

If the concern is over the length of the hash output, SHA-512/256 is a nice standard; it's based on computing a SHA-512 and only using half of

[2014-12-03 07:59] shinningstar opened #188 "rkt launches ACI FAIL"
I'm trying rocket followed by README, but it fails during launching ACI:

sudo ./rkt run sha256-701c24b2d275f0e291b807a464ae2390bcd8d7c5b4f2d7e47e6fd917cd5e5588
stage1/usr/bin/systemd-nspawn: error while loading shared libraries: libseccomp.so.2: cannot open shared object file: No such file or directory

I'm using Ubuntu14.04 , kernel version:3.13.0-39-generic

[2014-12-03 10:28] deepak1556 opened #190 "clarification on working with volumes"
https://gist.github.com/deepak1556/11061cc9731dc03b4268 , so first yeah whether have i understood the working of volumes in rocket correctly . If yes can you explain the need for fullfills to be a array instead of a label as it looks here https://github.com/coreos/rocket/blob/master/stage0/run.go#L145 a new object gets appended for each volumeflag passed on cli or a better can you explain the situ

[2014-12-03 16:22] timothysc opened #193 "App Container Spec Governance"
Not to put too fine a point on it, but how are folks planning on establishing governance around the App Container spec?

Ideally, the rocket is 1 implementation of that spec.

Cheers,
Tim

[2014-12-03 17:13] #193 closed, assigned to nobody

[2014-12-03 17:14] rckclmbr opened #194 "rkt: authentication when fetching images"
Let's say there's a "rocket registry" similar to the docker hub or quay.io.  I understand how retrieving a public aci would work, but what about private/authenticated aci's?

[2014-12-03 18:09] #190 closed, assigned to nobody

[2014-12-03 18:19] #136 closed, assigned to nobody

[2014-12-03 18:30] philips opened #195 "actool: take manifests in yaml format"
JSON is difficult for people to write and a number of people have asked for
another format for the manifest. Instead of complicating the spec with multiple
serialization formats for the ACI manifests add a feature to actool build to
take manifest files with a .yaml extension and convert the YAML to JSON before
laying the manifest down.

/cc @jonboulle thoughts on this?

[2014-12-03 21:27] brosner opened #198 "actool: unable to build from debootstrap"
I am attempting to build an ACI from a rootfs built by debootstrap. This is failing:

[code]

I believe I tracked this issue down to the handling of files here: https://github.com/coreos/rocket/blob/master/app-container/actool/build.go#L60-L73

[2014-12-03 21:52] vcaputo opened #199 "store: add cache-control and etag handling"
Since our cas/remote files are addressed by the hash of the url, we don't realize a remote has changes unless the url has changed.

Is the publishing of modified acis at the same url simply unsupported or is it just a TODO item to respect the Last-Modified and Cache-control headers on the url for keeping cached copies coherent?

[2014-12-03 22:08] lynchc opened #200 "Utility for chef converge comparisons?"
I was speaking with @robszumski in the coreos room about how I could create an aci that would contain and run many services for a monitoring host (ganglia, statsd, carbon, httpd, graphite. just an example) that was created from a chef converge. I was curious if it was as simple as creating a utility that compares the file system before and after a converge to create the rootfs needed for the aci.

[2014-12-03 23:18] #40 closed, assigned to nobody

[2014-12-04 00:23] jonboulle opened #202 "appc: add an example fileset manifest"
We have examples/app.json and examples/container.json; add examples/fileset.json.

[2014-12-04 09:33] TomasTomecek opened #208 "rkt: show progress when fetching images"
I'm well aware of fact that you are gathering feedback atm and CLI polishing is out of the scope, so take this issue as a low prio, please.

I followed tutorial from official readme. Started with fetch. Executed it and it looked like it got stuck. Had to go for `strace` to figure out what's really happening. It would be nice if `rkt` displayed progress of the download, so we know it's not stuck an

[2014-12-04 16:44] #169 closed, assigned to nobody

[2014-12-04 17:36] bacongobbler opened #210 "appc: support HTTP headers for discovery"
I was sifting through the app-container spec on [image discovery](https://github.com/coreos/rocket/blob/master/app-container/SPEC.md#app-container-image-discovery) when I stumbled across this:

This works for the general use case, but some URLs may not have a content type of `text/html` e.g. in the case of an API.

For example, if I had a SaaS product and I wanted to have a discoverable URL to our

[2014-12-05 05:45] philips opened #215 "rkt: trusted keys configuration"
Users should have full control over the keys that they trust for ACI validation. This includes the pubkeys that are trusted for signing and what they are trusted to sign.

For simple cases a user can say they trust a pubkey for signing any image name. We will call this a "root" trusted key. Alternatively, a key will only be trusted for a given prefix. For example a pubkey that is installed for the

[2014-12-05 14:45] dw opened #219 "Consider a random-access friendly archive format"
The use of streamy compressed tar in ACI effectively prevents a variety of future optimizations both at runtime and for storage of the images.

As an example of a runtime optimization, for containers that need to boot quickly, it would prevent creation of a custom union filesystem that was backed by a writeable directory, (probably a decompressed file cache), and hierarchy of read-only random acce

[2014-12-05 17:50] philips opened #223 "store: implement tree cache"
The store currently has a "blob" store where the ACIs are stored. In order to optimize container launch times we should keep a "tree" store where unpacked ACIs are kept for faster startup times. For example stage0 could setup the appc rootfs by putting a RW overlayfs on top of the app trees and running out of that. This will be a huge optimization

Implementation hints:

- [x] Add a new type to th

[2014-12-05 17:52] #219 closed, assigned to nobody

[2014-12-05 22:35] mpasternacki opened #224 "build: scripts use `#!/bin/bash`"
The assumption that Bash in particular not only is installed, but that it also resides in `/bin`, is Linux-centric. Other Unix-like operating systems may not have bash installed by default, and when they have, it can be in a different path. In particular, FreeBSD does not have bash installed in the base system, and the ports/pkgng installation goes into `/usr/local/bin/bash`, as `/bin` is reserved

[2014-12-06 00:58] #58 closed, assigned to nobody

[2014-12-06 03:27] adamstac opened #227 "Rocket on The Changelog!"
Howdy from The Changelog!

We'd love to get y'all on the show to talk about Rocket sometime soon.

I'm guessing you've heard of the show, but if not -- The Changelog is a podcast covering what's fresh and new in open source. Listen to the show here http://thechangelog.com/podcast/ or here http://5by5.tv/changelog

We record the show every Friday, but we're now scheduling into the new year. Let me

[2014-12-06 14:20] frankrousseau opened #228 "Micro PaaS Based on Rocket"
I don't know if it's the right place to have this kind of discussion. Feel free to remove that issue if I was wrong.

I read about Rocket on Wired and it looked very interesting regarding of the need our company have. At Cozy we are building a PaaS for indivuals. Basically, it allows users to manage their own server easily by adding/removing apps like on their smartphone. Today we support only Nod

[2014-12-06 19:12] c4milo opened #230 "ACI magic number detection seems to be failing for regular tar files"
I exported a Docker busybox container in order to run it with Rocket and got this:

[code]

To fix it I had to gzip the ACI file. I was using rocket v0.1.0

[2014-12-06 19:17] #230 closed, assigned to nobody

[2014-12-07 18:46] #227 closed, assigned to nobody

[2014-12-07 20:38] #228 closed, assigned to nobody

[2014-12-08 15:04] sarnowski opened #233 "Exact specification of the ACI layers"
Hello,

I am currently implementing writing and reading of ACIs and I am unsure about the exact ordering where encryption fits in. I think I know how its meant in the specification but maybe it makes sense to make it more clear. From my understanding the procedure is as follows:

**Writing:**
1. write tarball
2. hash tarball with sha256 for *.sig file (currently, maybe 512 in the future?)
3. [opti

[2014-12-08 15:23] sarnowski opened #234 "Standard for "os" and "arch" definition"
Hi,

is there a list of standard naming for the "os" and "arch" definitions?

**os**:
- linux
- windows(?)
- macosx (?)
- ... (?)

**arch**:
- amd64
- i386 (?)
- armel (?)
- ...

One cannot and should not cover all cases but I think to avoid some chaos, it makes sense to suggest some defaults.

[2014-12-08 16:02] sarnowski opened #235 "How to parse a user given ACI fqn?"
Given a user that wants to run "example.com/reduce-worker-1.0.0-beta+3" - how do I parse it to make the HTML discovery? That is directly related to https://github.com/coreos/rocket/issues/151#issuecomment-65327369 . According to semver, this is a valid version but now I don't know how to split this String into domain+path, name and version to make the correct https://example.com/reduce-worker?ac-d

[2014-12-08 16:33] sgotti opened #236 "Some clarifications on Fileset.files"
Hi,

I'd like to help on #140 and #142 as they are the base for other features that I'd like to share (and also for #223)  but first I have some doubts about the "files" entry in the fileset manifest.

The "files" entry is a list of all the files provided by this fileset.

Looking it from another point of view, taking an incremental approach (like, if I understand it correctly, docker does and als

[2014-12-08 16:54] pwaller opened #237 "Asset s1rootfs.tar not found"
I built rkt by cloning the repository and running the `./build` script in the root of the repository (after installing `sudo apt-get install -y cpio realpath squashfs-tools` and `go get github.com/jteeuwen/go-bindata/...`). I'm on trusty 14.04.

Unfortunately, when I try to run rkt, I get this error, which I can't find any reference to other than [the rkt source].

[code]

[2014-12-08 16:55] pwaller opened #238 "`rkt fetch` succeeds instantly when there is no internet connection"
I just did a `rkt fetch` whilst on a mobile connection, and it succeeded with exit status 0 in 30ms. I then realised I didn't have any connectivity, so it can't have succeded. I suspect an error is being swallowed silently somewhere.

May be related somehow to #237?

[2014-12-08 17:06] philips opened #239 "appc: document a suggested CLI format for apps"
We implemented a serialization format for the app and labels in the discovery package but never documented it. It isn't really necessary in the appc spec itself but is a reasonable suggestion:

https://github.com/coreos/rocket/blob/master/app-container/discovery/parse.go#L37

[2014-12-08 17:06] #235 closed, assigned to nobody

[2014-12-08 18:26] #237 closed, assigned to jonboulle

[2014-12-08 18:32] #238 closed, assigned to nobody

[2014-12-08 19:42] jzelinskie opened #240 "coreos-gh IRC bot doesn't report on this repository"
The bot that notices #coreos@freenode on issues/PRs/etc doesn't notice for the rocket repo.

[2014-12-08 20:08] #240 closed, assigned to nobody

[2014-12-08 21:03] philips opened #242 "appc: use TXT dns records for discovery"
@blalor said "I feel like there should be a DNS component to this, as well. Perhaps a TXT record?" in #210.

Lets discuss that topic here.

/cc @geekgonecrazy

[2014-12-08 21:48] #202 closed, assigned to nobody

[2014-12-08 22:07] #208 closed, assigned to nobody

[2014-12-08 22:59] jonboulle opened #243 "rkt: add `exec`/`enter` subcommand"
Discussed in [this rocket-dev thread](https://groups.google.com/d/msg/rocket-dev/aJ5n5Tq3XOQ/fbEvIGO9hZ4J) - we should add a `rkt exec` and/or `rkt enter` command that allows users to either exec a specified binary within an image, or do an `nsenter`-like operation on a running container.

[2014-12-09 05:33] rbucker opened #247 "rat run "no type returned from DetectFileType""
coreos 522.0.0
vagrant virtualbox
I also installed GO(amd64) on my coreos box in order to compile hello
I followed the instructions per the Documentation ...
I validated the manifest and the ACI file
rat run hello.aci returned "I also installed GO(amd64) on my coreos box"

[2014-12-09 06:07] #247 closed, assigned to nobody

[2014-12-09 09:15] mcuadros opened #248 "actool: tar validation does not accept directories without trailing slashes"
The actool is giving me the following error:

[code]

but the container scaffolding looks correct with enough permissions to read it:

[code]

I used this small tool to build the container:
https://github.com/mcuadros/rocketizer

[2014-12-09 09:58] #186 closed, assigned to nobody

[2014-12-09 10:22] jonboulle opened #250 "actool: create parent directories for files during tar extraction"
Noticed in #248. [GNU tar](http://www.gnu.org/software/tar/manual/html_node/extract-dir.html) and probably most other implementations do this, we should likely too:

[2014-12-09 17:37] #248 closed, assigned to nobody

[2014-12-09 18:42] philips opened #254 "appc: test issue"
test

[2014-12-09 19:19] #254 closed, assigned to nobody

[2014-12-09 19:26] #250 closed, assigned to nobody

[2014-12-09 19:33] #242 closed, assigned to nobody

[2014-12-09 19:33] #239 closed, assigned to nobody

[2014-12-09 19:33] #236 closed, assigned to nobody

[2014-12-09 19:33] #234 closed, assigned to nobody

[2014-12-09 19:34] #210 closed, assigned to nobody

[2014-12-09 19:36] #187 closed, assigned to nobody

[2014-12-09 19:36] #198 closed, assigned to nobody

[2014-12-09 19:36] #185 closed, assigned to nobody

[2014-12-09 19:37] #160 closed, assigned to nobody

[2014-12-09 19:37] #151 closed, assigned to nobody

[2014-12-09 19:38] #182 closed, assigned to nobody

[2014-12-09 19:38] #143 closed, assigned to nobody

[2014-12-09 19:39] #142 closed, assigned to nobody

[2014-12-09 19:39] #140 closed, assigned to nobody

[2014-12-09 19:40] #127 closed, assigned to nobody

[2014-12-09 19:40] #111 closed, assigned to nobody

[2014-12-09 19:47] #233 closed, assigned to nobody

[2014-12-09 19:48] #76 closed, assigned to nobody

[2014-12-10 22:14] jonboulle opened #265 "stage0: accept stage1-containing ACI rather than --stage1-init/--stage1-rootfs"
Right now stage0 (i.e. `rkt run`) will use the stage0 rootfs and init that are either [embedded in it](https://github.com/coreos/rocket/blob/master/build#L27) or specified with the [command-line flags](https://github.com/coreos/rocket/blob/master/stage0/run.go#L79) `-stage1-init` and -stage1-rootfs`

Ideally `rkt run` will instead take a `-stage1-image` flag, which would have to be an ACI containi

[2014-12-11 02:54] jonboulle opened #267 "stage0: oom while extracting images"
Large images can cause rocket to exhaust memory and panic while extracting.

Filing this as a tracker ticket; root cause in https://github.com/peterbourgon/diskv/issues/17

[code]

[2014-12-11 09:23] caizixian opened #268 "add resource control"
I want to use rocket to build my private PaaS and some of the containers need network speed rate limit(like 10Mbps) and bandwidth quota(like 100GB/month), CPU usage(like 1 or 2 core or max 30%),mem (like 512MB), disk quota(like 10GB).

Adding graph support to monitor resource usage and cluster performance is also necessary.

[2014-12-11 16:53] milosgajdos opened #270 "rkt run hello.aci exits straight after start"
Hey, I've been following [getting started example](https://github.com/coreos/rocket/blob/master/Documentation/getting-started-guide.md) and when I tried to run hello.aci image, it crashed straight away with the following output:

[code]

I'm running this on `Ubuntu Trusty` - not sure how that matters.
The rocket manifest is exactly the same as in the example:

[code]

After the rocket crash, syslo

[2014-12-11 19:45] jonboulle opened #271 "rkt: validate OS/arch during run/unpack"
After https://github.com/appc/spec/pull/33 lands, the spec will no longer enforce `linux/amd64`, so rocket needs to do this itself (since currently that is the only combination `rkt run` supports). Most likely when unpacking images during stage0.

[2014-12-12 03:10] eyakubovich opened #273 "Proposal: Rocket Networking"
Here is a proposal for Rocket networking model. It is not a spec -- it's too loosely worded but it should provide enough to generate a discussion. Feel free to comment on the Google Doc or here:

https://docs.google.com/document/d/1PUeV68q9muEmkHmRuW10HQ6cHgd4819_67pIxDRVNlM

[2014-12-12 19:47] #268 closed, assigned to nobody

[2014-12-12 23:51] #267 closed, assigned to nobody

[2014-12-14 08:59] rminnich opened #284 "Proposal: using rocket to build standard working environments for development."
I use docker to build standard environments for my work on Akaros, coreboot, u-root, and Linux kernels. See docker.io rminnich/akaros:14 or rminnich/u-root:18.

This is extremely handy, since no matter what machine I find myself on, I can always just run a docker command to start the container with a bash running in it, and in a very short time I've got my build environment again. Very short is ma

[2014-12-15 22:28] philips opened #286 "stage1: warn on execs with missing dynamic links"
If you are missing libraries from a dynamically linked executable the stage1 doesn't return a very friendly error:

[code]

This can be reproduced by any go binary that is linked against libc, for example.

[code]

Reported by @milosgajdos83

[2014-12-15 22:32] #270 closed, assigned to nobody

[2014-12-16 20:07] hwinkel opened #289 "Versioned Container"
HI,

Has rocket the versioned Container with differential updates also in mind? We like to ship only the changes to an image over the wire.

[2014-12-16 20:30] #289 closed, assigned to nobody

[2014-12-18 22:33] jonboulle opened #293 "stage0: implement pod isolation"
The app container spec defines two levels of [isolation](https://github.com/appc/spec/blob/master/SPEC.md#isolators):
1) at the top level container (i.e. defined in the [Pod Manifest](https://github.com/appc/spec/blob/master/SPEC.md#pod-manifest-schema))
2) per-app (i.e. defined in the [Image Manifest](https://github.com/appc/spec/blob/master/SPEC.md#image-manifest-schema)).

Since we currently us

[2014-12-18 22:43] jonboulle opened #294 "rkt: run from pod manifests"
The [App Container spec](https://github.com/appc/spec/blob/master/SPEC.md) defines `Image Manifest`s (IMs) to describe individual applications, and [`Pod Manifest`s](https://github.com/appc/spec/blob/master/SPEC.md#pod-manifest-schema) (PMs) to describe running a group of applications together.

Currently, `rkt run` takes a set of IMs on the command line and implicitly creates a PM during stage0,

[2014-12-18 22:50] #69 closed, assigned to nobody

[2014-12-19 00:46] robszumski opened #295 "docs: container lifecycle"
I'd be great to document the life cycle of a container at a high level.

For example, if #43 lands, calling out the privileges of each operation would be ideal.

[2014-12-19 07:20] chadcao opened #296 "can not find the executable file under rootfs while launching an image via rkt"
running environment:  coreos (VERSION_ID=522.2.0)
1. the image is like this:
   $tar tvf hello-app.aci
   drwxr-xr-x 500/500 0 2014-12-19 05:44 rootfs
   -rwxr-xr-x 500/500 34936 2014-12-19 05:44 rootfs/echo
   -rw-r--r-- root/root 390 2014-12-19 05:44 manifest

Here echo is the common linux command copied for /bin
1. the manifest is like this:
   $ more manifest
   {
   "acVersion": "0.1.1",
   "

[2014-12-19 07:55] #296 closed, assigned to nobody

[2014-12-24 18:18] #215 closed, assigned to nobody

[2014-12-24 19:03] #35 closed, assigned to nobody

[2014-12-31 00:19] #286 closed, assigned to nobody

[2014-12-31 00:23] #224 closed, assigned to nobody

[2015-01-01 09:47] philips commented on #59
@jonboulle I don't remember the details of this one, do you?

Is this related to this? https://github.com/appc/spec/issues/13

[2015-01-02 18:43] jonboulle commented on #59
@philips Yes, this is basically predicated on that one getting done now..

[2015-01-03 12:49] errordeveloper commented on #195
Should this be reopened in the appc/spec repository?

[2015-01-03 16:57] hectorj2f commented on #199
@philips @jonboulle I am testing my PR and I always get a 200 status code even when using the Etag and the header "If-None-Match". It should return a 304 status code as neither the ETag and cache control header have changed. As an example, I am using the image etcd-v0.5.0-alpha.4-linux-amd64.aci.ACI detailed in the README.
Don't you validate the ETag at the server side ? Is that the expected behav

[2015-01-05 16:50] kelseyhightower commented on #200
@lynchc I think this question has been answered. I'm closing this out.

[2015-01-05 16:50] #200 closed

[2015-01-05 16:51] kelseyhightower commented on #271
@mcuadros Thanks for stepping up to take this on; have you made any progress?

[2015-01-05 16:53] kelseyhightower commented on #294
@jonboulle I'm going to grab this one, before hacking on the gpg signature validation.

[2015-01-05 17:40] errordeveloper opened #321 "Grouping of exec() arguments"
Given a manifest:
[code]

The systemd unit generate doesn't pass expected number of arguments to `exec`, i.e.:
[code]

The output looks like this:
[code]

[2015-01-05 17:44] errordeveloper commented on #321
You can test this with:
[code]
Otherwise the image should be pretty usable.

[2015-01-05 17:50] errordeveloper commented on #321
I can see this is being tested for in [coreos/go-systemd](https://github.com/coreos/go-systemd/blob/415a79c4bfa377b484b16c632347b3925a0f35ff/unit/deserialize_test.go#L211), but not sure may be it's actually still a coreos/rocket bug.

[2015-01-05 18:04] errordeveloper opened #323 "Standard I/O"
I would expect that adding this:
[code]
would work,  except that doesn't.

[2015-01-05 18:11] sgotti commented on #223
@philips I'd like to implement it using the acirenderer library proposed in #297. What do you think about it?

Point 2 talks about a single tar, but, as the rendered aci, can have dependencies and being composed by multiple tar I have to think on how to implement it. If I understand it correctly the need is to verify, in every moment, that the rendered ACI wasn't modified/corrupted. Am I right?

[2015-01-05 18:46] jonboulle commented on #199
@hectorj2f are you talking about the published ACIs on GitHub? If so, that's just using the basic GH object store, which I am guessing doesn't support ETags/cache control. We have not yet implemented a store of our own, so you'll need to set up your own HTTP server to test the PR against (`net/http/httptest` should be fine for unit tests)

[2015-01-05 18:46] jonboulle commented on #195
@errordeveloper Yes, it should - I will migrate it across.

[2015-01-05 18:48] jonboulle commented on #195
Migrated to https://github.com/appc/spec/issues/77

[2015-01-05 18:48] #195 closed

[2015-01-05 19:08] kelseyhightower commented on #294
@jonboulle After reading through the spec again, it seems that we don't have enough info in a CRM to discover and setup a complete stage0 for the container. For example, the CRM does not include app dependencies or labels required for ACI dependency matching.

Maybe I'm approaching this the wrong way. Seems like the list of apps in the CRM should be used to recursively build the rootfs and then ha

[2015-01-05 19:34] jonboulle commented on #321
@errordeveloper sorry I am unclear on what exactly the mismatch is here; what's your expected/desired behaviour?

[2015-01-05 19:37] jonboulle commented on #323
What are you trying to accomplish here?

This should work, but is unnecessary since it defaults to `inherit` (which inherits from the standard-output option)

This doesn't exist and is unlikely to ever. See the discussion in https://github.com/coreos/rocket/issues/123 - does that help?

[2015-01-05 19:45] eyakubovich commented on #38
Please submit further comments on the concrete proposal in https://github.com/coreos/rocket/issues/273

[2015-01-05 19:45] #38 closed

[2015-01-05 19:47] sgotti commented on #71
Is this something like what I did in #297 commit 5050a107a9ec7b546921953c21325c41a2bc776c (named "cas: add AppIndex to easily retrieve all ImageManifests ordered by app name." as the commit id may change in future updates).

My primary need was to retrieve all the acis with a given name (using a diskv index).

Plus:
Are there some thought on keeping these indexes managed by diskv files or putting

[2015-01-05 19:47] eyakubovich commented on #37
This issue was only to get something going for initial POC. We're now working on long-term networking solution in https://github.com/coreos/rocket/issues/273

[2015-01-05 19:47] #37 closed

[2015-01-05 19:53] vcaputo commented on #321
Looks like just a lack of quoting of the ExecStart words in the unit file, I fix.

[2015-01-05 21:27] errordeveloper commented on #323
Well, I just tried running bash, and it would just exit without error or prompt.

This should work, but is unnecessary since it defaults to inherit (which inherits from the standard-output option)

Ok, makes sense.

This doesn't exist and is unlikely to ever. See the discussion in #123 - does that help?

Ok, right. So `stdin` is non-trivial... I'll join the discussion in #123.

[2015-01-05 21:27] #323 closed

[2015-01-05 22:05] errordeveloper commented on #123
A native systemd approach would be with `machinectl login`. Perhaps this could be an optional, and implementation-specific feature.

On the spec side, best I could imagine, would be an ssh access with provisioning of keys etc. On the other hand, may be this could be just a re-usable component that someone implements. A combination of screen (or tmux) and ssh is something that hasn't been mentioned

[2015-01-05 22:06] jonboulle commented on #71
Yes, we definitely want to move these into a database, probably just sqlite. I thought there was an issue filed for this already but I guess not...

[2015-01-05 22:45] cdaylward commented on #294
It feels that "app" is a bit overloaded in the spec. It seems that this was probably on purpose originally (apps _are_ images), but perhaps it would be better to make a stronger separation between images and apps (at least in nomenclature, possibly in the specification itself). The use of "app image" and "app" almost interchangeably is somewhat confusing for certain use cases. An image _may_ decla

[2015-01-05 23:13] errordeveloper commented on #321
@vcaputo great work!

[2015-01-05 23:13] #321 closed

[2015-01-06 00:09] jonboulle commented on #123
Yeah, we definitely want to keep this implementation specific for now, I don't think we will likely come up with a sufficiently generic model that makes sense for the spec.

[2015-01-06 10:22] sgotti commented on #71
@jonboulle thanks! Are you going to open a new issue?
Do you think the move to a db is blocking for the work a did in #297 or it should be postponed?

[2015-01-06 10:32] hectorj2f commented on #199
@jonboulle Yes, you're right. Then, I'll go ahead with the implementation of my own HTTP server to test this PR.

[2015-01-06 15:18] iaguis commented on #43
I'm not sure I understand this. Do you mean being able to download the image as a user so we can later run it without Internet access (zero outbound connections)?

What's the use case?

[2015-01-06 16:11] sgotti commented on #43
Is this related to appc/spec#73 (the part that talks about manual import and "offline" mode)?

[2015-01-06 17:18] jonboulle commented on #43
The local CAS should be shareable among multiple local users on the system - there's no need for access to be restricted to the superuser or any particular user. So, user A should be able to download an image into the CAS and then user B should be able to use that same image from the cache without re-downloading it.

[2015-01-06 18:16] jonboulle commented on #71
@sgotti Hmm, I would really rather get the DB in before all of #297 lands (since I don't really want to introduce more indices using diskv). But I don't want to have your stuff blocked since I'm very aware you have a few outstanding PRs now. Let me take a look at that one in more detail..

[2015-01-06 19:42] jieryn opened #328 "rkt: version information is old/wrong"
coreos-stable-00 rocket-v0.1.1 # ./rkt version
rkt version 0.1.0

coreos-stable-00 rocket-v0.1.1 # ./rkt help
NAME:
        rkt - rocket, the application container runner

USAGE:
        rkt [global options] <command> [command options] [arguments...]

VERSION:
        0.1.0

[2015-01-07 10:08] iaguis commented on #43
OK. I'd like to work on this.

[2015-01-07 12:03] sgotti commented on #223
@philips I started implementing this using acirenderer in #297
As the rendered aci is not that same as the tar (as it's rendered from dependency) my idea for point 2 is:

*) On writing, after the rendering, walk the files tree (the order is lexically the same using filepath.Walk if no files are removed or added), build a new tar like actool build does but just stream the output to an hash and stor

[2015-01-07 12:39] krnowak commented on #194
Should we assume that discovery never requires any auth, so only discovered URL might require it? If not then some changes are required in appc/spec repo as well.

Also, about configuration - are we interested in user-specific config (this is per #43)? Or only global config somewhere in /etc is sufficient?

(I can see a conflict after #43 and #194 are implemented when user A downloads protected im

[2015-01-07 15:23] alban commented on #162
I am interested in working on this as well.

@pierrebeaucamp Are you still on this?

[2015-01-07 17:27] sgotti commented on #71
@jonboulle yes please do (if you have some time). I think that a DB will avoid some ugly indexes now needed by #297. In the meantime I also proposed #332 (also based on #297).
Thanks!

[2015-01-07 19:02] jonboulle commented on #43
Yeah, the simplest way to go here is probably to just define a `rocket` Unix group and open write permissions up for it. Then administrators can control access to the CAS as strictly (e.g. add no users to the group) or openly (e.g. add all local users to the group) as they want.

While execution is restricted to root (due to systemd-nspawn), I would expect the reading of the image files themselves

[2015-01-07 19:04] jonboulle commented on #43
Let me rephrase slightly: we will inevitably have a configuration file at some point (e.g. #194) but I am not quite convinced it's necessary to make this particular parameter configurable yet; relying on good old Unix group perms seems like a fine approach to me for now.

[2015-01-07 22:14] jonboulle commented on #265
Ping, any update on this?

[2015-01-07 22:15] jonboulle opened #336 "rkt: support multiple apps using the same image"
Right now, during `rkt run`, we block at an early stage from running multiple instances of a particular app image within a container, by simply enforcing that app names are unique within the set of images associated with a container:
https://github.com/coreos/rocket/blob/a9ced663fdb950770b76be6cc1847993ba3e2ec6/stage0/run.go#L129

This assumption greatly simplifies the implementation but prevents

[2015-01-08 15:25] iaguis commented on #43
I wrote a proof of concept (https://github.com/endocode/rocket/commit/094f2f6a29e5cbb17f60f2d5a1963d64d477e933) that adds a new command `setup` which creates the necessary directories in `/var/lib/rkt/`with the right permissions. This needs to be run as root and, after doing that, any user belonging to the `rocket` group can fetch and run images (running will not work because of systemd-nspawn).

[2015-01-08 16:35] aledbf opened #344 "steps to compile and use rkt and actool from git"
I'm trying to build some images with actool from master but if I try to run that image with the published rocket version I see error with the manifest. I thought that building rocket from master could solve the problem but running the generated image I see this:
[code]

I'm compiling and running rocket inside a docker container (with --privileged)
Any idea what I'm doing wrong?

[2015-01-08 17:48] jonboulle commented on #344
@aledbf to confirm, this is building rocket from the very latest master?

Failed at step USER spawning /diagexec: No such file or directory
[code]

[2015-01-08 17:58] aledbf commented on #344
@jonboulle yes from https://github.com/coreos/rocket/commit/aededdd58e9e3532d19fc783a7e924db8f083652 with the same result

[2015-01-08 20:50] vcaputo commented on #344
@aledbf can you paste the output from:
file /var/lib/rkt/containers/67d10a08-21dd-49a2-8b2a-4ce9146f4fe1/stage1/diagexec
ldd /var/lib/rkt/containers/67d10a08-21dd-49a2-8b2a-4ce9146f4fe1/stage1/diagexec

From within the root of the built rocket source:
file stage1/rootfs/diagexec/diagexec
cat stage1/rootfs/aggregate/install.d/10diagexec

[2015-01-08 20:55] aledbf commented on #344
@vcaputo  sure:

`/var/lib/rkt/containers/67d10a08-21dd-49a2-8b2a-4ce9146f4fe1/stage1/diagexec: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), statically linked, for GNU/Linux 2.6.26, BuildID[sha1]=0x6a60a1c3e96c3383f18eae2c0409b81053b922b0, stripped`

`	not a dynamic executable`

From within the root of the built rocket source:

`stage1/rootfs/diagexec/diagexec: ELF 64-bit LSB executab

[2015-01-08 21:03] vcaputo commented on #344
@aledbf OK, that all appears correct.

Let's see what the generated service file contains:
cat /var/lib/rkt/containers/67d10a08-21dd-49a2-8b2a-4ce9146f4fe1/stage1/usr/lib/systemd/system/sha512-efde961b558f6670d74db3c501d5d070.service

[2015-01-08 21:05] aledbf commented on #344
[code]

[2015-01-08 21:17] vcaputo commented on #344
@aledbf I suspect this is just the User/Group not existing, not the error from systemd says `Failed at step USER`

Try setting User and Group to 0 in the aci and see if it starts working.

[2015-01-08 21:26] aledbf commented on #344
@vcaputo same result
[code]

[2015-01-08 23:38] vcaputo commented on #344
@aledbf Can you paste the output of:
`od -a /var/lib/rkt/containers/67d10a08-21dd-49a2-8b2a-4ce9146f4fe1/stage1/usr/lib/systemd/system/sha512-efde961b558f6670d74db3c501d5d070.service`

Also, is it possible for me to grab the aci you're using to try reproduce here?

[2015-01-08 23:47] aledbf commented on #344
@vcaputo https://www.dropbox.com/s/faytkyero8n502u/rocket-herokuish-nodejs.aci?dl=0

[2015-01-09 00:40] vcaputo commented on #344
@aledbf I was able to reproduce the error by using your aci, it's definitely due to the User setting.

After recreating the aci with User=0 and Group=0, now this error is reported:

Which is correct, because the path /runner/init does not exist in the aci's rootfs.

Those systemd errors (Failed at step USER spawning...) are pretty ambiguous and aren't even documented from what I can tell, annoying

[2015-01-09 00:44] aledbf commented on #344
@vcaputo great. What I'm doing wrong in the manifest?
About the error the manifest contains a dependency but I never saw the second download:
[code]

[code]

[2015-01-09 01:15] vcaputo commented on #344
Automatic handling of dependencies is pending, right now you can get multiple apps running by explicitly enumerating them on the commandline like:
rkt run app1.aci app2.aci app3.aci ...

[2015-01-09 06:58] jonboulle commented on #43
This was really just for convenience to make initial versions of rocket easy to obtain and run - having a single, self-contained artefact that people can download and run is handy.

I definitely anticipate it being split out into separate components and then integrated with different (OS) distribution packaging systems, though (see for example #265, #173), so requirements like creating the directo

[2015-01-09 13:37] iaguis commented on #43
Alright, I just wrote a comment mentioning this to https://bugzilla.redhat.com/show_bug.cgi?id=1169966

[2015-01-09 15:02] aledbf commented on #344
@vcaputo If I use `rkt run app1.aci app2.aci` the rootfs of `app2` is applied "on top" of `app1` (i.e. one big rootfs)?

[2015-01-09 18:18] jonboulle commented on #344
@aledbf No, I'm afraid that is not yet implemented. What @vcaputo was suggesting is slightly different and doesn't deal with the dependencies case. You are doing the right thing, it just doesn't work in rocket yet ;-)

Implementation of the dependency resolution + rendering is in flight (see for example https://github.com/coreos/rocket/pull/297)

[2015-01-09 18:21] aledbf commented on #344
@jonboulle ok. I will wait the merge of #297 :)

[2015-01-09 18:23] jonboulle commented on #344
@aledbf Do you mind if we close this out for now since I think we addressed your original issue?

[2015-01-09 18:23] aledbf commented on #344
@jonboulle nop

[2015-01-09 18:23] #344 closed

[2015-01-11 20:38] sgotti opened #362 "cas: db for acis data (secondary indexes)"
Hi,

I would like to share my thoughts on the db choice for the cas (see #71).

What I'll propose is something like this:
* Keep the acis on diskv (as they can be big files and they should be addresses only by the imageID)
* Save all the needed informations in a db (see below) that will make easy to:
  * satisfy some or all the ACID properties.
  * search by various parameters (app name, imageID e

[2015-01-11 21:10] philips opened #363 "master rkt doesn't work with coreos.com/etcd discovery"
[code]

[2015-01-12 12:54] pierrebeaucamp commented on #162
Actually, I was waiting until the whole gc thing is sorted out (see #6), but I wasn't aware of #313 so far.

Your work in #343 looks great and does everything I wanted in the first place. I'm not too sure if a separate command is the way to go thought. In my opinion, an integration into the `rkt status` command would be nicer to have - maybe something like `rkt status --list`.

[2015-01-12 19:12] jonboulle commented on #162
Ack, I don't really want `rkt list` to just be a wildcard `rkt status`. Not sure on the exact semantics that makes sense for it, though.

[2015-01-12 22:26] josephschorr opened #365 "rkt fetch does not include port when discovering"
Issuing a fetch with the `rkt` tool drops the port:

[code]

As seen above, the URL that was loaded does not have the port given.

[2015-01-12 22:37] josephschorr opened #366 "Panic when attempting rkt pull"
[code]

[2015-01-12 22:38] eyakubovich commented on #273
I created v2 document based on the feedback in the original proposal. Please see and comment on the new document: https://docs.google.com/document/d/1PUeV68q9muEmkHmRuW10HQ6cHgd4819_67pIxDRVNlM

[2015-01-12 22:53] jonboulle commented on #366
@josephschorr can you repro on master? The fetch code has changed significantly since 0.1.1.

[2015-01-12 23:35] robszumski opened #367 "rkt: better UX for establishing trust"
The process for trusting a key in @kelseyhightower's [signing and verification guide from #335 is fairly long and it's easy to mistype the commands. I propose that `rkt` have a subcommand to trust a given key for a certain prefix.

Here are the steps from Kelsey's guide:

[code]

We can reduce these to a simple command:

[code]

And it's even easier to trust a key for all containers:

[code]

Open

[2015-01-13 11:50] iaguis commented on #365
The reason for this behavior is that the [SPEC.md](https://github.com/appc/spec/blob/master/SPEC.md) describes discovery as based on the app name and some attributes.

The app name is is restricted to [characters accepted by the DNS RFC and "/"](https://github.com/appc/spec/blob/8010a931a1bc6e0946de5131ddd6c20b65aa0ae9/schema/types/acname.go#L13-18]) so the port number is not included.

Now, being

[2015-01-13 13:25] alban commented on #13
What is the use case for running dockerd inside a rocket container? Is it to have containers inside containers, or to limit what dockerd could do on the host?

[2015-01-13 15:38] kelseyhightower commented on #366
@josephschorr I've confirmed that the same command now times out on master:

[code]

I did notice that the time out was like 1 minute.

[2015-01-13 15:42] markllama opened #376 ""bad os" when unmarshalling ace-validator image"
Rocket reports 'bad os "" (must be one of [darwin freebsd linux)' when attempting to run ace-validator 0.1.1 images.

When attempting to run the v0.1.1 ace-validator images:

sudo bin/rkt run -volume database:/tmp     https://github.com/appc/spec/releases/download/v0.1.1/ace-validator-main.aci     https://github.com/appc/spec/releases/download/v0.1.1/ace-validator-sidekick.aci
rkt: starting to fet

[2015-01-13 15:56] markllama commented on #376
This looks like it might be an issue rather with appc/spec.  The image manifests contain labels:

    "labels": [
...
        {
            "name": "os",
            "val": "linux"
        },
...
    ],

But it appears that appc/spec/schema/types/labels.go is not processing it correctly (or that input is actually invalid)

[2015-01-13 16:00] sgotti commented on #376
@markllama this was due to renaming of "val" to "value" done after v0.1.1 in appc/spec#94

[2015-01-13 16:01] markllama commented on #376
But rocket is not updated yet?

[2015-01-13 16:01] markllama commented on #376
Oh! I'll rebuild the local aci with "value" and try.

[2015-01-13 16:28] markllama commented on #376
replacing "val" with "value" in the main and sidekick aci manifests resulted in a successful execution.

Should the ace-validation images be updated, either the v0.1.1 or some later "not yet tagged" version?

[2015-01-13 16:28] #376 closed

[2015-01-13 18:21] jonboulle commented on #366
Please reopen if you can reproduce.

[2015-01-13 18:21] #366 closed

[2015-01-13 19:00] jonboulle commented on #243
@vcaputo is there anything remaining here? if not please close it out.

[2015-01-13 19:10] jonboulle commented on #13
@alban One benefit is to reduce the number of components that need to be baked into the CoreOS distribution itself. Once we can deploy docker in a container, we can update it out-of-band with the OS release cycle.

[2015-01-13 19:11] jonboulle commented on #194
I think for now this assumption is fine, authenticated discovery complicates things a bunch, we can explore adding that if it emerges as a broad use case.

Yeah, this gets a little complex. We should put some more thought into it and probably come up with a proposal.

[2015-01-13 19:40] jonboulle opened #378 "run: add a "tmpfs" volume type"
When specifying volumes to `rkt run`, there should be a type that is essentially a new empty/temporary volume created for the container.

[2015-01-13 21:12] jonboulle commented on #33
ping @eyakubovich

[2015-01-13 21:25] eyakubovich commented on #33
@jonboulle @philips it's done but it didn't get merged as part of my massive PR attempts. so I broke that PR into multiple and they're trickling in now. This one will be the last one in (as it has dep on networking now).

[2015-01-13 21:26] vcaputo commented on #243
implemented in https://github.com/coreos/rocket/pull/330

[2015-01-13 21:26] #243 closed

[2015-01-13 21:49] jonboulle commented on #367
I quite like the experience described above. The one major thing I would want to add is that users should be prompted before trusting a key (with the fingerprint printed to stdout, after it is retrieved). (The prompt _might_ be overridable, but only with a flag no shorter than `--yes-i-really-want-to-trust-this-pubkey-url`)

[2015-01-13 22:02] robszumski commented on #367
@jonboulle Great suggestion. What if it worked similar to SSH known_hosts:

[code]

And for trusting all containers:

[code]

And if you pass debug, we should print out *where* the key was written, so you can learn or debug:

[code]

[2015-01-14 10:04] alban commented on #162
@robszumski : are you working on the rocket UI design? Maybe you have an opinion on "rkt list-containers" vs "rkt status --list".

[2015-01-14 10:56] krnowak commented on #194
My short proposal would be to have separate image cache for each user. Then we would have no global configuration, but instead each user would have his/her own one. This is not feasible now as we cannot do rkt run as nonroot. Introducing a daemon would solve this problem and that's what basically docker does, right? But that would stomp on rocket aim of being simple.

So, a counterproposal would b

[2015-01-14 13:52] alban commented on #363
I don't have that error about ACI meta tags.

Instead, I see:
[code]

But that error was fixed by https://github.com/coreos/etcd/pull/2061

So it should start to work next time an etcd image is uploaded on coreos.com.

[2015-01-14 14:26] alban opened #381 "Remove features from shim.c"
systemd-nspawn is started with LD_PRELOAD=...fakesdboot.so to alter systemd-nspawn's behaviour which is not upstream:
https://github.com/coreos/rocket/blob/master/stage1/rootfs/shim/shim.c#L28

It would be better to add the missing features in systemd-nspawn upstream when possible.

systemd-nspawn upstream is currently adding a locking mechanism similar to rocket, so it should be possible to use t

[2015-01-14 16:09] yamishi13 commented on #284
+1

[2015-01-14 18:42] vcaputo commented on #381
Another option is to simply replace nspawn in our stage1, we're not utilizing much of its functionality right now.  With the direction @eyakubovich is headed with networking, it doesn't look like we'll be using any of the networking stuff nspawn makes available either.

[2015-01-14 18:58] robszumski commented on #162
@alban Yep, happy to help!

I definitely like `rkt <command>` vs having to pass a flag. Flags are less discoverable since they'll only show up in the help for `rkr status -h` instead of the global `rkt -h`.

Since we'll have lists of containers, trusted keys, and downloaded ACIs (I think?), it probably needs to be `list-containers` not just `list`.

[2015-01-14 21:10] vcaputo commented on #162
It's unfortunate that a likely to be used subcommand must be so verbose.

Perhaps have plain `rkt list` as an alias for `rkt list-containers` and the others only have the more specific form?

[2015-01-14 22:00] robszumski commented on #162
I think the intention is to have `machinectl` be the ideal way to find out more info about your containers. It will feel very familiar to systemd users, gives you context about the unit file that ran the container, etc. For machines that don't have systemd, `list-containers` should provide the base functionality as well.

Fleshing out what the actual output looks like...it seems like the top piece

[2015-01-14 23:26] alban commented on #381
The systemd-nspawn locking code landed:
http://cgit.freedesktop.org/systemd/systemd/commit/?id=30535c16924a3da7b47ea87190d929d617d95c5a
http://cgit.freedesktop.org/systemd/systemd/commit/?id=733d15ac7a23c80f2e447f6c2fca0406bc9960db

[2015-01-15 16:08] sgotti commented on #367
@jonboulle @robszumski

Additionally: as meta discovery provides a way to discover public keys, should rkt, if no gpgkey but only --prefix is provided, try to download (automatically or if an option is provided) the key using meta discovery? (simple discovery cannot provide a way to get public keys url)

[code]

[2015-01-15 17:32] jonboulle commented on #367
Yeah, that seems like a reasonable extension.

[2015-01-15 18:14] tandrews1 opened #384 "How to build rkt & appc/spec/aci dependency"
Maybe this is a stupid question but I'm not very familiar with go packages. In hacking.md I see the requirement

Go 1.3+
github.com/jteeuwen/go-bindata
github.com/appc/spec (not yet vendored as it's in a continuous improvement phase)  <======

and building produces the following error:

$ ./build
Building init (stage1)...
gopath/src/github.com/coreos/rocket/path/path.go:25:2: cannot find package "

[2015-01-15 18:42] jonboulle commented on #384
You need to make sure the packages referred to are available in your `GOPATH`. The simplest way of doing this is to use the self-contained gopath, so run the following:
[code]

Then try `./build` again.

This is a bit of a wart in our build process now, sorry. We plan to fix it soon as the spec stabilises.

[2015-01-15 18:42] jonboulle commented on #384
Please re-open if you have further issues.

[2015-01-15 20:18] tandrews1 commented on #384
I can't re-open since a collaborator closed the issue.

Running that command gave me the following:

$ GOPATH=$(pwd)/gopath go get github.com/jteeuwen/go-bindata github.com/appc/spec/...
# github.com/appc/spec/ace
gopath/src/github.com/appc/spec/ace/validator.go:230: unknown http.Client field 'Timeout' in struct literal

[2015-01-15 20:30] jonboulle commented on #384
@tandrews1

[2015-01-15 20:53] tandrews1 commented on #384
Oh, thanks. I had 1.2. I installed 1.3.1 and re-ran. Got a little further.

`$ ./build`
`Building init (stage1)...`
`Packaging init (stage1)...`
`./build: line 26: go-bindata: command not found`

[2015-01-15 21:00] jonboulle commented on #384
Does `gopath/bin/go-bindata` exist? It'll need to be in your PATH..

[2015-01-15 21:17] tandrews1 commented on #384
Huh. It does not. `GOPATH=$(pwd)/gopath go get github.com/jteeuwen/go-bindata` completes with no errors. But
`$ ls gopath/bin/`
`ace  actool`

[2015-01-15 21:20] jonboulle commented on #384
My bad, the binary is not actually in the root of the repo; try `GOPATH=$(pwd)/gopath go get github.com/jteeuwen/go-bindata/...` instead.

[2015-01-15 21:26] tandrews1 commented on #384
Okay. That fixed that.  Got further:

$ ./build
Building init (stage1)...
Packaging init (stage1)...
Building rootfs (stage1)...
make: Entering directory `/disks/sdc1/rocket/stage1/rootfs'
make -C usr
make[1]: Entering directory `/disks/sdc1/rocket/stage1/rootfs/usr'
gpg: can't open `cache/pxe.img.064df037c5dccba0f8a688e582603fd7.sig'
gpg: verify signatures failed: file open error
  % Total    % R

[2015-01-15 21:30] jonboulle commented on #384
Key piece here is:
[code]

Per hacking.md, you'll need `squashfs-tools` installed

[2015-01-15 21:38] tandrews1 commented on #384
Oh, sorry.  Great, seems to have built.  I found rkt in the bin folder.

[2015-01-15 21:38] #384 closed

[2015-01-15 21:38] tandrews1 commented on #384
Thanks for all the help!

[2015-01-15 22:25] jonboulle commented on #384
No problem!

[2015-01-16 06:15] jonboulle commented on #265
@Unknwon are you going to be able to have the bandwidth to get back to this soon? Otherwise we might have to get someone else to look at it. Let me know!

[2015-01-16 06:17] Unknwon commented on #265
@jonboulle I'm sorry for my busy days. Feel free to let someone else to work on it!

[2015-01-16 06:18] jonboulle commented on #265
@Unknwon OK, no prob.

[2015-01-16 06:21] jonboulle commented on #162
@robszumski The entity that is signed/verified isn't the container but rather the ACI. A container can consist of one or more ACIs.

[2015-01-16 07:27] jonboulle opened #387 "stage0: use overlayfs to render ACI images"
When rendering ACI images into the filesystem for a container to use, rocket should be able to leverage overlayfs on systems where it is available.

This is a tracker ticket, this feature is going to require a bunch of prerequisite work:
- [x] ACI rendering needs to be implemented for the simple case:
  - #322
- [x] tree cache will need to be implemented
  - #223
  - #332
- [x] will require an abs

[2015-01-16 14:28] alban opened #389 "rkt: can run flanneld"
As part of #13, it would be nice to be able to run flannel from a container. When trying to containerize flannel in a ACI, I ran into the following issues:

* Static compilation?

I changed the build script to statically compile flanneld:

[code]

But this does not work: backend/udp/cproxy.go does not get compiled when it has the 'import "C"'. I guess it is an issue with cgo?

To avoid this issue,

[2015-01-16 16:17] lsm5 commented on #173
@jonboulle ping no update on packaging yet, though I hope to get that going asap.

Fedora is [going to use a local DNS](https://lists.fedoraproject.org/pipermail/cloud/2015-January/004862.html) by default come fedora 22 (optional on f21). Is this going to be an issue for rocket containers? /cc @kushaldas

[2015-01-16 16:30] markllama commented on #173
Are the network plugins also embedded in the rkt binary now? Should they be?

I'm also working on an RPM for rocket just to make it easy for me to track and test updates for myself.

Does it make sense to start splitting out (at least optionally) these kinds of default assumptions into something that can be overridden in an /etc/rkt/rkt.conf (and plugins.d/*.conf)?

[2015-01-16 16:51] markllama commented on #389
So the way to include /dev files in an image is to create the dev file manually and statically inside the image rootfs?  Does this pose a problem with the possibility of udev on the host creating /dev/<something> with different device file mappings than those found in the container at runtime?

[2015-01-16 19:31] vcaputo commented on #389
With regards to your static compilation issue, maybe this can help:
https://bugs.gentoo.org/show_bug.cgi?id=493328

[2015-01-16 19:55] vcaputo commented on #162
@robszumski The uuid type used is safe to use in truncated form, rkt just needs to be changed to accept the truncated forms and perform the matching.  Today the cli just screams at you whenever you don't provide a full and correctly formatted uuid anywhere one is expected.

As jonboulle already mentioned, the container may contain multiple acis, do we want to enumerate them inline with this output

[2015-01-16 21:21] alban commented on #389
@markllama : I've done it this way in my tests to quickly identify the problems ahead. I don't know if it will be the correct way. Good question for dynamic device file major/minor mappings. For the TUN device, this won't be a problem because the Linux kernel assign this one statically and it's part of the ABI:
* include/uapi/linux/major.h #define MISC_MAJOR 10 used in misc_register()
* include/li

[2015-01-16 21:22] robszumski commented on #162
@vcaputo Each ACI has a status, right? Since we're using systemd inside, does it make sense to show the `active` and `sub` statuses, just like `systemctl/fleetctl`?

[code]

[2015-01-16 21:31] alban commented on #162
To display the status, the rkt command looks at the filesystem and the locks without communicating with the processes inside the container. So a bogus container (or malicious container) cannot block the list-containers command.

If we decide to print the status of systemd units inside the containers, rkt will need to communicate to the systemd process inside the container. If it does not respond,

[2015-01-16 22:42] vcaputo commented on #162
I'm not sure it really makes sense to include the per-image information in the `rkt list` output.

`rkt status` should probably just encompass this in addition to the exit statuses.  Systemctl can be utilized within the container for querying the per-app service states.

[2015-01-16 22:45] jonboulle commented on #162
Yes, let's keep list containers to the minimum for now and not dupe it with
status imho
On Jan 16, 2015 2:43 PM, "Vito Caputo" <notifications@github.com> wrote:

[2015-01-17 01:18] jonboulle commented on #376
@markllama we are in a slightly awkward situation with the versioning because we would like to keep a "stable" example if possible (ie the released versions, to which the docs refer) as we iterate really quickly on the spec and rocket; but it does mean that this kind of thing doesn't work from master :-/.  Hoping to have a good answer for this in the next couple of weeks.

[2015-01-19 16:26] alban commented on #389
Change in the spec: appc/spec#128 to add deviceFiles
Implementation in rocket: coreos/rocket#396 to implement deviceFiles

Misc bug fix appc/spec#123 for tar archive containing device files directly.

[2015-01-20 11:42] alban commented on #389
Isolators issues addressed in:
* appc/spec#131
* coreos/rocket#397

[2015-01-20 16:25] alban commented on #162
I am not working on this at the moment. So feel free to take over if you would like to.
@pierrebeaucamp

[2015-01-20 18:22] alban opened #399 "rkt: can run fleetd"
As part of #13, it would be nice to be able to run fleetd from a container.

Fleetd needs to have access to the D-Bus system bus to talk with systemd on the host.

I enabled that communication with the following in the manifest:

[code]

And starting the container with:
[code]

With this method, there will be no security isolation between the fleetd container and the host but I guess that's ok if

[2015-01-20 18:29] jonboulle commented on #399
Yeah, I certainly can (this has already come up in a couple of other issues although the exact ones escape me right now)

[2015-01-21 02:34] vcaputo commented on #367
I would like to hack on this, looks like a good opportunity for exposure to some new go packages.

[2015-01-21 17:40] jonboulle commented on #367
@vcaputo go for it, please assign to yourself if you start working on it.

[2015-01-21 21:20] jonboulle commented on #173
sorry for the late reply but I think you got this addressed in the [proposal doc](https://docs.google.com/a/coreos.com/document/d/1PUeV68q9muEmkHmRuW10HQ6cHgd4819_67pIxDRVNlM/edit#heading=h.ievko3xsjwxd)?

Certain things like network plugins, certainly. For general rkt configuration, I'd probably prefer to stick with the CLI/env-as-configuration approach (where there is a 1:1 between command line

[2015-01-22 00:17] jonboulle opened #405 "rkt: fetch should support bittorrent via magnet URIs"
When performing [image meta discovery](https://github.com/appc/spec/blob/master/SPEC.md#meta-discovery), or run directly with a magnet URI on the command line (e.g. `rkt fetch magnet:?xt=urn:btih:TDC4GYOQXZPSUB7KR6SQKLS2USAJPZ7Z&tr=tracker.example.com%3A80%2Fannounce`)  rocket should be able to retrieve images via the BitTorrent protocol.

Specifically, it should support magnet URIs that point to

[2015-01-22 20:01] vcaputo commented on #367
https://github.com/coreos/rocket/pull/406 is a first pass at this, still needs the --prefix discovery.

[2015-01-22 21:21] markllama opened #409 "metadatasvc: HTTP AppContainer header"
The specification indicates that queries to the metadata server must have an HTTP header:

Metadata-Flavor: AppContainer

  https://github.com/appc/spec/blob/master/SPEC.md#container-metadata

The metadata server source code actually checks for

Metadata-Flavor: AppContainer header

I think this is a spec implementation typo, and that the word "header" was not meant to be part of the Metadata-Flav

[2015-01-22 21:39] vcaputo commented on #409
You're correct, thanks!

[2015-01-22 21:39] #409 closed

[2015-01-22 22:41] jonboulle commented on #33
@eyakubovich this is still blocked on networking right?

[2015-01-22 22:42] jonboulle commented on #59
Blocked on the spec so bumping.

[2015-01-23 03:35] vcaputo commented on #6
https://github.com/coreos/rocket/pull/414 is a first stab at an explanation

[2015-01-23 04:10] jonboulle commented on #145
This now depends on endocode/docker2aci#3

[2015-01-23 04:11] jonboulle commented on #145
/cc @iaguis

[2015-01-23 07:29] jonboulle commented on #367
thinking out loud, should we extend this command to act more generally on the keystore? e.g. `trust --disable-key`

[2015-01-23 07:46] robszumski commented on #367
@jonboulle Good point, I hadn't thought of the opposite action. More brainstorming:

Flags on commands like you suggested aren't very discoverable IMO. A subcommand could work, but I don't know if we've done that in any of our other tools. Avoiding that would mean something like `rkt disable-key` I guess...the antonym of trust doesn't really exist (untrust? distrust? undo trust? remove trust?).

I

[2015-01-23 07:48] robszumski commented on #367
@vcaputo Does #406 accept a public key on disk? I dunno exactly what the use-case is for this, but it might make sense.

[2015-01-23 10:46] hectorj2f commented on #199
[#319] (https://github.com/coreos/rocket/pull/319)

[2015-01-23 18:17] vcaputo commented on #367
@robszumski yes, it accepts http/https-schemed urls and bare paths just like `rkt fetch`

[2015-01-23 19:52] jonboulle commented on #265
@vcaputo if you are looking for something to hack on I would really love to see this get done so we can move away from go-bindata

[2015-01-23 22:26] #33 closed

[2015-01-24 01:44] jonboulle commented on #363
This is fixed with v0.2.0

[2015-01-24 01:44] #363 closed

[2015-01-24 01:45] jonboulle commented on #6
Fixed by #414, thanks @vcaputo

[2015-01-24 01:45] #6 closed

[2015-01-25 03:44] jbayer opened #427 "trying etcd aci example - keystore: error loading keyring fingerprint mismatch"
i'm using a stock ubuntu trusty image and i'm sure i'm doing something silly wrong.

i thought it would be more appropriate for a new issue than to pile on to https://github.com/coreos/rocket/issues/367 that seems like it's making good progress on it's own. if i figure this out, i'll be happy to update the docs.

[code]

[2015-01-25 03:51] jonboulle commented on #427
The name of the keyring file needs to be the fingerprint of the key - check out [this part](https://github.com/coreos/rocket/blob/master/Documentation/signing-and-verification-guide.md#capture-the-public-key-fingerprint) of the documentation.

it is definitely something we want to make simpler! #367 should land in master next week.

[2015-01-25 03:51] #427 closed

[2015-01-25 03:51] jonboulle commented on #427
(hmm, that direct link may not have worked - skip to the "Trusting the example.com/hello key" part of the doc)

[2015-01-25 04:33] jbayer commented on #427
i'm new to GPG and how to get the fingerprint (the email for kel was a step i was missing in the docs, i expect other n00bs will get caught up in this as well. i'm happy to contribute this as a new doc page with a link from the README in the steps about trusting the coreos image if you think that would be helpful.

[code]

[2015-01-25 04:36] jonboulle commented on #427
@jbayer I am hoping once `rkt trust` is in place we won't need it, but I would certainly accept a doc page in the meantime, thanks!

[2015-01-25 05:02] jbayer commented on #427
ok, i sent a PR to update the ubuntu getting started doc i had originally for 0.2.0. https://github.com/coreos/rocket/pull/428

[2015-01-25 23:24] polvi opened #429 "rkt: host provided stage1"
It would be cool to have a feature where rkt can be compiled to just assume host dependencies and not bundle in a stage1. This would allow a system that already has all the dependencies on the host to not need to have a fat binary. Primary use case is on CoreOS, where rkt builds its stage one from.

[2015-01-25 23:45] jonboulle commented on #429
This is covered by another ticket fwiw (support stage1 aci), I want to
prioritise it this week or next
On Jan 25, 2015 3:24 PM, "polvi" <notifications@github.com> wrote:

[2015-01-25 23:52] polvi commented on #429
ok

[2015-01-25 23:52] #429 closed

[2015-01-26 03:34] philips commented on #265
@jonboulle Hrm, we would still need to use go-bindata even if it was an ACI, right? It would be slightly annoying if you downloaded rkt from github and then it had to download more stuff.

[2015-01-26 03:38] jonboulle commented on #265
@philips the tar ball from github can easily contain the acis alongside the
binary, no?
On Jan 25, 2015 7:34 PM, "Brandon Philips" <notifications@github.com> wrote:

[2015-01-26 20:57] vcaputo commented on #265
@jonboulle then what, require the (probably new/first time) user run rkt from the expanded tarball root directory?  Require they extract it in / and put everything where we expect it as the out-of-box experience?  Require they put it somewhere specific and configure rkt to know where it is?

I must be missing something.

[2015-01-26 22:47] jonboulle commented on #265
This is a distribution (as in both the verb and the noun) problem, not a rocket build problem. AIUI the reason for distributing a single fat binary was to make things very simple for people to play with at an early stage. When it's production time and it comes to actually packaging rocket for CoreOS/RH/Ubuntu/etc, no-one is going to simply drop the fat binary on the system. It's going to be a comp

[2015-01-27 00:35] markllama opened #433 "rkt - enter command does not set container environment"
When using rkt enter to run a shell inside a running container, the container environment is not set.
Instead, the calling user's environment remains:

[code]

[2015-01-27 02:09] vcaputo commented on #265
I'm a bit concerned about the apparent disregard for potential issues surrounding the rkt<->stage1 interface.

Today the interface is extremely malleable since rkt and stage1 are monolithically developed and distributed.  Things like @eyakubovich casually plugging metadatasvc into stage1 and expanding /init to support -metadata-svc and -private-net options will probably need to be done with greate

[2015-01-27 07:36] sgotti opened #434 "Build new ACI based on another ACI"
In https://github.com/sgotti/acido I implemented a basic way to build an ACI starting from another one with only the differences between them.
Acido depends on acirenderer #297.

I'd like to drop acido and integrate it with rocket. A workflow will be to start a container, rkt enter it, do changes and then save them to a new ACI.

Does this makes sense or will be better to keep acido as a separate

[2015-01-27 17:28] jackpal commented on #405
FWIW I wrote a BSD-licensed golang torrent library here: https://github.com/jackpal/Taipei-Torrent
It has support for magnet links courtesy of https://github.com/nictuku/dht

You're welcome to use it or just look at it for parts and ideas. I made it modular enough to allow self-contained tests, so I think that it would be possible to use those same APIs to reuse the code in your project.

I guess

[2015-01-27 18:33] jonboulle commented on #265
@vcaputo totally valid concern but clearly that is something we need to
address sooner or later since that's the whole point of the stages, imho
On Jan 26, 2015 6:09 PM, "Vito Caputo" <notifications@github.com> wrote:

[2015-01-27 18:42] jonboulle commented on #434
The workflow definitely makes sense and is something we want to provide tooling to support. I am on the fence about baking it into `rkt` proper. What do you have in mind? `rkt save`? `rkt export`? What would the semantics look like?

Related: https://github.com/coreos/rocket/issues/284

[2015-01-28 02:07] eyakubovich opened #437 "metadatasvc: secure container registration/unregistration"
Currently any process on the host can issue registration and unregistration requests and they will succeed. Secure that via Authentication header or only listening for these requests via a unix socket (and granting permissions to the socket only to a certain group).

[2015-01-28 10:04] jonboulle commented on #145
appc/docker2aci#3

[2015-01-28 11:19] jonboulle commented on #381
Can we bump systemd-nspawn to drop some of this code now?

[2015-01-28 11:23] sgotti commented on #434
I'll try to summarize my idea:

### A generic library to build an aci from a base one ###
* Inputs:
  * An extracted ACI path (an app path inside a container, a rendered aci ecc...)
  * The base ACI infos (depending on the way to get differences from the base one)
  * The new aci manifest (it should be provided by the tool calling the library functions, it can be a modified base ACI manifest, a ne

[2015-01-28 11:24] jonboulle opened #438 "rkt: integrate with host systemd where possible"
When running on a host which uses a modern systemd as its init system, `rkt run` should be able to register its containers through [`systemd-machined`](http://www.freedesktop.org/wiki/Software/systemd/machined/).

Ideally this is done in such a way that all methods like ListMachines, KillMachine, TerminateMachine etc all work as would be expected.

[2015-01-28 11:25] jonboulle commented on #438
@vcaputo was this disabled because it causes issues on non-systemd systems?
https://github.com/coreos/rocket/blob/master/stage1/init/init.go#L118

[2015-01-28 12:53] jonboulle commented on #367
Another use case that philips brought up earlier that we should start thinking about how we might be able to support:

Suppose we ship public keys for coreos.com in the operating system image (e.g. in `/usr/lib/rkt/trustedkeys/prefix.d/coreos.com/`). A user/sysadmin wants to disable all those keys, but supply their own for the same prefix (e.g. in `/etc/rkt/trustedkeys/prefix.d/coreos.com/`)  Curr

[2015-01-28 17:13] robszumski commented on #295
Closing since https://github.com/coreos/rocket/blob/master/Documentation/container-lifecycle.md has been added

[2015-01-28 17:13] #295 closed

[2015-01-28 17:54] rminnich commented on #284
Is this one solved yet? If not I can take a look now that I'm able to build it :-)

[2015-01-28 22:38] vcaputo commented on #438
@jonboulle In part, it actually caused issues even on systemd systems having a differing version of systemd.

It seems like the best way to integrate with the systemd of the host is to use the binaries of the host, maybe we just bind mount /usr when the host uses sytemd?

[2015-01-29 11:12] jonboulle commented on #284
Nope, definitely not solved yet, feel free to get started!

[2015-01-29 11:19] jonboulle commented on #295
I actually intentionally left this open because I thought there might be some more detail we would want there but I guess if you're happy with it that's fine for now :)

[2015-01-29 18:37] philips commented on #438
I think the best way would be to just add machined support to our Go library.

[2015-01-29 18:38] philips commented on #437
Unix socket sounds good to me.

[2015-01-29 19:14] robszumski commented on #295
I'm sure it will still need to be improved, but I didn't have any more concrete info to include so it seemed kind of worthless. I'll make a new in the future :)

[2015-01-29 20:27] vcaputo commented on #381
How does the passing of the container's PID via sd_notify() address our needs?  What are we expected to do when the host isn't running systemd?

Are we going full systemd dependence or do we still aim to provide a general solution where rkt works on any modern linux regardless of init system? /cc @philips

[2015-01-29 20:37] vcaputo commented on #433
Should the `rkt enter` environment be a union of the two or only the environment of the app entered?

I had left it this way because there seemed to be value in being able to do things like:
`FOO=bar rkt enter f4c3 /cmd/to/run`

How exactly do we want this to behave?

[2015-01-29 20:55] tlperkins commented on #433
I think it would be more secure if rkt only took explicit environment variables via args for run/enter.  As a file or multiple tags:

rkt run f4c3  /cmd/to/run --env PORT=8080 --env LOG=/tmp/log

or

rkt run f4c3 /cmd/to/run --env-file ./environment.txt

environment.txt (should be simple, explicit with no expansion):
PORT=8080
LOG=/tmp/log

As a side note, how do ports tie into this?  Manifest tak

[2015-01-29 21:27] tlperkins opened #440 "rkt: Specifying/Overriding Environment Variables and Ports at Runtime"
It would be more secure if rkt only took explicit environment variables via args for run/enter. As a file or multiple tags:

rkt enter f4c3 /cmd/to/run --env PORT=8080 --env LOG=/tmp/log (available for just this app)

or

rkt run f4c3 --env-file ./environment.txt (this environment is global in the container)

environment.txt (should be simple, explicit with no expansion):
PORT=8080
LOG=/tmp/log

P

[2015-01-29 23:31] jonboulle commented on #381
No

At this stage, yes. But you can imagine that some more advanced features (e.g. #438) are only available on certain systems.

[2015-01-29 23:39] jonboulle commented on #367
First part of this is solved with #406 merged, I'm going to leave the issue open for now to track the rest of it. Bumping to next milestone

[2015-01-30 01:59] robszumski commented on #433
This is systemd specific, but it's really useful to be able to specify Environment=FOO=bar in a unit and have it propagate to the container. Keeping this behavior also greatly amplifies the usefulness of systemd drop-in units. For example, the current process for configuring etcd on CoreOS would be the exact same, but would allow etcd to run in a container:

[code]

For those unfamiliar, I'll expl

[2015-01-30 11:50] thedrow opened #445 "Container Provisioning"
One of Docker's major disadvantages is that it only allows provisioning using Dockerfiles.
You can use something like [buildstep](https://github.com/progrium/buildstep) if you want more modularity but it's still plain bash.
If I wanted to use a real configuration management system I'd have to compromise.
I can either run the provisioning process as one step and loose all caching and intermediate c

[2015-01-30 17:52] philips opened #450 "rkt fetch <local file path> fails, instead import the local file into the cas"
[code]

[2015-01-30 17:53] polvi commented on #450
This also appears to be out of wack:

[code]

The second rkt run should be a cache hit, right?

[2015-01-30 17:55] jonboulle commented on #450
Yes but could you please file a separate issue for that?
On Jan 30, 2015 6:53 PM, "polvi" <notifications@github.com> wrote:

[2015-01-30 19:13] pierrebeaucamp commented on #162
As #415 is now merged, I'm happy with the current state of the `list` command. So if no one wants to add some additional features, I will close this issue. @alban @jonboulle ?

[2015-01-30 19:41] robszumski commented on #162
The UUIDs take up a ton of room. What do we think about using short IDs with the long ID available via a flag?

[2015-01-30 19:42] polvi opened #451 "cache seems broken"
After running an aci, the global name should be cached. This appears to be broken.

[code]
The second rkt run should be a cache hit, right?

[moving into sept issues from #450]

[2015-01-30 19:42] polvi commented on #450
@jonboulle you got it, moved it to #451

[2015-01-30 19:57] vcaputo commented on #265
fixed by https://github.com/coreos/rocket/pull/436

[2015-01-30 19:57] #265 closed

[2015-01-30 20:04] vcaputo commented on #173
@lsm5 @kushaldas @vpavlin https://github.com/coreos/rocket/pull/436 landed, enabling the swapping out of the stage1 aci at runtime.

[2015-01-30 20:10] robszumski commented on #162
Brainstorming a bit more...since we don't have any port mapping to do, should we output the default IP address given to the container? My thinking is that this is the item that users will interact with when testing a container. Launch something, `curl 10.10.10.100:80` to make sure it works. It also highlights and teaches users how ACI networking works.

[code]

[2015-01-30 20:48] jonboulle commented on #265
\o/
On Jan 30, 2015 8:57 PM, "Vito Caputo" <notifications@github.com> wrote:

[2015-01-30 23:41] jonboulle commented on #451
For this to work as I think you expect it to, rkt would need to maintain indices on name and version, which it currently does not. Right now it only indexes on URL, and since the original `rkt run` here was not a URL it can't relate the two of them.

https://github.com/coreos/rocket/issues/71

I am not sure what you mean by "global name": the only real unique ID for an image is its image ID (i.e.

[2015-01-30 23:41] #451 closed

[2015-01-30 23:48] jonboulle commented on #450
@philips as far as I can tell, this behaviour _never_ worked. Do you have reason to believe otherwise?

`rkt run` obviously does, but that's a much longer path: https://github.com/coreos/rocket/blob/master/rkt/run.go#L79

[2015-01-31 01:47] philips commented on #445
@thedrow This is a HUGE part of why we defined the [application container spec][appc]. We want other systems to be able to build a container that can run on top of rocket or any other appc execution environment. Nothing should happen in Rocket to make this happen, what needs to happen is systems like Salt, Chef, Puppet and Ansible should be modified so that instead of operating on a running system

[2015-01-31 01:48] philips commented on #445
I am going to close this, really happy to continue the conversation on the appc mailing list or IRC: https://github.com/appc/spec/blob/master/CONTRIBUTING.md#email-and-chat

[2015-01-31 01:48] #445 closed

[2015-01-31 07:48] thedrow commented on #445
I was told by @robszumski that a Github issue would be best.
I can raise this issue again on the mailing list if that's required.

I'm not sure that it makes sense or make it easier for CM systems to implement provisioning Rocket containers. I think we should involve the CEOs/CTOs of all major CM systems and see what fits them best and how they would like it to work.

[2015-02-01 00:30] lsm5 commented on #173
@vcaputo oooh :heart:, will give this a shot, thanks for the headsup!!

[2015-02-02 05:36] strangemonad opened #452 "how to create and run a java ACI"
(though this might as well apply to anything that's not statically linked e.g. an ACI with the ruby or python interpreters).

I've taken a progressively heavier hammer to building an ACI that will at least attempt to run java.

I have:
/manifest
/rootfs/jre1.8.0_31
/rootfs/lib64

- The jre is a standard linux 64 tarball you can download from oracle. It links many .so's though. NOTE that `ldd java`

[2015-02-02 12:08] blalor commented on #452
Seems like you'd be best off just creating a base OS image and building on top of that.  I've got a script for doing that for CentOS: https://github.com/blalor/docker-centos-base

[2015-02-02 14:48] iaguis opened #453 "stage0: user:group not set when extracting images"
Right now user and group are not set to the ones specified in the tar image when extracting it: [tar.ExtractFile](https://github.com/coreos/rocket/blob/29d53af8d46f2a84491f41e4f4fd05611c6f706a/pkg/tar/tar.go#L96)

This breaks images that rely on correct file permissions being set.

[2015-02-02 15:05] iaguis opened #454 "stage0: image extraction fails when conflicting tar entries are present"
While working in the [squash feature for docker2aci](https://github.com/appc/docker2aci/issues/2) I found one docker image with a tar entry like `/var/www/html/index.html` in one layer and, in a later layer, another entry like `/var/www/html -> /app`.

After squashing the image and trying to run it in rocket, the extraction process fails because the file already exists.

The way to make it work is

[2015-02-02 15:11] jonboulle commented on #454
@iaguis I think this is covered by https://github.com/coreos/rocket/pull/297 (or some of the related ones) - any chance you could help out reviewing that code?

[2015-02-02 15:28] iaguis commented on #454
OK. I'll try not to get lost through all the links :P

[2015-02-02 15:40] jonboulle commented on #454
Yeah, it's a bit of a maze which is part of the reason I keep
procrastinating :-(

On Mon, Feb 2, 2015 at 4:28 PM, Iago López Galeiras <
notifications@github.com> wrote:

[2015-02-02 17:45] pierreozoux commented on #106
:+1:

[2015-02-02 18:53] jonboulle opened #457 "rkt run: missing stage1 message needs improvement"
If stage1.aci doesn't exist in the same directory as rkt (and isn't explicitly specified on the command line), the message is incredibly unintuitive:
[code]

I think for now we should keep things simple and not put the ACI through the same fetch path as for actual application ACIs. The idea of autodiscovering stage1 ACIs is both magical and terrifying, I think we should leave that to explore at a

[2015-02-02 18:53] jonboulle commented on #457
/cc @vcaputo

[2015-02-02 20:47] sgotti commented on #453
@iaguis I had a patch on this, but not opened again a PR, as I was waiting some feedback on #276.

[2015-02-02 22:08] vcaputo commented on #457
Agreed, should we even support http/https at all for the stage1 aci?

[2015-02-03 00:33] vcaputo commented on #457
https://github.com/coreos/rocket/pull/459 keeps the potential for remote fetching if --stage1-image is a url, but disables discovery.

[2015-02-03 04:44] strangemonad commented on #454
@iaguis I'm also playing around with your squash branch locally. Would it instead make sense to overwrite duplicate files in docker2aci during the squash and leave the rocket stage0 implementation simple? (note, I'm still just getting familiar with both projects)

[2015-02-03 07:09] sgotti commented on #454
mmm. Yesterday I wrote a comment but it has been lost...

@iaguis @jonboulle yep. Sorry. It's a mess due to changes to the cas to add a db and the various functions like GetACI.

BTW, in #297 (the last commit), if you can provide a list of dependencies with the manifest and the key of the ACI in the store you can directly use `renderACI`. It needs to be exported and of the ACIProvider interface on

[2015-02-03 07:13] jzelinskie commented on #450
Regardless of previous behavior, I think that `runFetch` should also use `findImage` simply because there isn't (and correct me if I'm wrong) a way to just import a local ACI without also running it.

[2015-02-03 09:49] jonboulle commented on #450
Yes, probably, it is basically a `rkt import`

[2015-02-03 14:30] sgotti opened #460 "store: add locking around cas diskv"
As a reminder (I'll post patches when the various #392, #393 lands) there's the need for some locking around cas diskv stores. Now they are needed to avoid multiple processes writing the same image and image manifest to the store and also when (in future) a delete functions will be added to the store.

This is my proposal:

* Do not lock on basic diskv funcs like Read, Import etc... as there's the

[2015-02-03 14:32] sgotti opened #461 "store: add image list and delete functions"
cas should provide some functions to list and delete images from the store. (see also #460).

These functions can be used by a rkt command to list and remove images from the cas.

[2015-02-03 17:11] sgotti commented on #454
@iaguis I think i need time to take a look at your squash PR. My proposal was to pull the acirendering bits leaving out the dependency resolution part (which is the one that triggers all the other PRs) so docker2aci can directly use it. If you and @jonboulle think this is feasible I can split #297 in two PRs.

[2015-02-03 20:29] strangemonad commented on #145
:+1:

[2015-02-04 00:41] vcaputo commented on #433
https://github.com/coreos/rocket/pull/463 fixes this to at least produce a consistent environment for the `rkt run` and `rkt enter` processes.

[2015-02-04 01:40] vcaputo commented on #433
@robszumski Judging from your example, it appears you'd like to be able to inherit the parent environment in `rkt run` invocations down to the individual apps, is that correct?

Today the only thing affecting the environment is the images themselves, and I think we'd need to make things a bit more explicit than just inheriting whatever happens to be in the calling environment.

/cc @philips @jonbo

[2015-02-04 12:30] #457 closed

[2015-02-04 14:45] jonboulle commented on #433
Hmm yes, we would need to change the spec to be prescribing a minimum set rather than an absolute set of environment variables.

[2015-02-04 20:49] #453 closed

[2015-02-05 20:26] sgotti commented on #460
@jonboulle I'm willing to work on this after #362, #392, #393. Honestly I already have some patches but, opening a PR will mean a lot of rebasing between this and the other PRs. Just let me know what you'll prefer. Tnx!

[2015-02-05 20:34] philips opened #471 "rkt install command"
It would be great if someone could setup the initial store and the stage1 ACI via a subcommand like `rkt install --default-stage1 stage1.aci`

[2015-02-05 23:47] robszumski opened #472 "Minor bug with rkt trust --prefix meta discovery"
[code]

Seems like we should ignore any protocol given and append HTTPS to it, which would make this work.

[2015-02-06 00:06] robszumski opened #473 "rkt trust: add --debug flag"
If your meta discovery process fails, there isn't any way to see what locations were attempted. Ideally we output something similar to:

[code]

[2015-02-06 00:12] robszumski opened #474 "rkt trust: unclear handling of HTTP address"
[code]

A few questions:

1. Did the request get automatically upgraded to HTTPS?  If so, we should indicate that in the `Key: ...` output.
2. Should requesting a key over HTTP be allowed?
3. If so, should it warn you?

[2015-02-06 00:59] eyakubovich opened #476 "net: allow for customizing MTU in bridge and veth"
Both bridge and veth plugins should allow for customization of MTU via the net config file.

[2015-02-06 01:02] eyakubovich opened #477 "net: bridge plugin should allow bridging a host iface"
As a convenience feature, bridge plugin should have an ability to connect host interface to the bridge (when the bridge is created).

[2015-02-06 01:04] eyakubovich opened #478 "net: implement macvlan plugin"
While ipvlan maybe a better alternative, it requires a very new kernel and probably doesn't work with DHCP. macvlan is a great option for taking advantage of an existing DHCP server.

[2015-02-06 01:08] eyakubovich opened #479 "net: implement ipvlan plugin"
New kernels support ipvlan -- multiple interfaces with different IP addresses but sharing the MAC address. This has some advantages over macvlan:
- No way to conflict on made-up MACs
- Less MACs for the switch to remember

[2015-02-06 01:45] philips commented on #473
[code]

[2015-02-06 02:15] robszumski opened #480 "rkt trust: Improve UX for root keys"
The error message you get when trusting a root key is decent, but I think we're missing an opportunity to educate a few topics:

1. What is a prefixed vs non-prefixed key
2. How rkt keeps you secure by not blindly allowing you to trust non-prefixed keys

Here's what it looks like today:

[code]

I propose a rewritten error message:

[code]

[2015-02-06 02:15] robszumski opened #481 "rkt fetch: improve UX when encountering untrusted signature"
If you fetch an ACI without trusting the signature before hand, the error you encounter doesn't give any hint how to fix the problem and is also a bit "raw":

[code]

Instead of outputting the raw error, I propose we rewrite as:

[code]

[2015-02-06 09:26] rimusz commented on #479
:+1:

[2015-02-06 15:45] jonboulle commented on #473
@robszumski can you take master or v0.3.1 for a spin and close this ticket
out if that looks OK? or let us know what else you'd like to see.

On Fri, Feb 6, 2015 at 2:45 AM, Brandon Philips <notifications@github.com>
wrote:

[2015-02-06 16:00] jonboulle commented on #474
Hrm, yes, we should

We should probably make this an explicit flag

yes. We are not trying to encourage scripting of `rkt trust` so I am happy for the stdout to be nice and verbose for now.

[2015-02-06 17:13] philips commented on #473
Master looks like this now. Closing.

[2015-02-06 17:13] #473 closed

[2015-02-06 20:23] sym3tri opened #495 "build fails on mac"
using a fresh clone and running `./build` with go 1.3.3 produces:

[code]

[2015-02-06 21:43] jonboulle commented on #471
So this would have to write the image ID of the "installed" stage1 somewhere to disk so rkt run would subsequently know where to find it?

[2015-02-06 21:45] philips commented on #471
@jonboulle Yes, essentially put the stage1 into the cas. I think we can have the default hash burnt into the rkt binary at runtime though.

[2015-02-06 21:57] jonboulle opened #497 "docs: document stage1 requirements"
Now that stage1s are swappable (with the `--stage1-image` flag), we need to document what the exact requirements are for people wishing to build their own stage1s. This document becomes the contract between stage0 (`rkt`) and stage1.

@vcaputo would you mind taking the lead on this?

[2015-02-07 02:01] robszumski opened #500 "rkt trust --root and --prefix are broken for root urls"
Seems like an issue with the file vs url detection on `0.3.1`:

[code]

[code]

Oddly, this outputs nothing at all:

[code]

[2015-02-07 02:26] kelseyhightower commented on #500
@robszumski I'll take a look at this one in the morning

[2015-02-07 18:43] polvi opened #504 "fetch should be smarter about latest"
Not if this is a bug in appc or rkt, but it seems like this should work:

[code]

[2015-02-07 18:46] polvi commented on #500
I'd also like to add that the default UI should probably be pretty simple. Today it is this:
[code]

What about doing something like this:

[code]

Even better:

[code]

If we trust TLS, we should be able to trust the coreos.com/etcd key for coreos.com/etcd image automatically. /cc @philips

[2015-02-07 18:52] polvi opened #505 "rkt trust UI"
Moving to new issue from #500.

Seems like we might be able to imply trust in some scenarios.

Here is how it works today:

[code]

What about doing something like this:

[code]

Even better, just automatically trust it if it is in the same domain:

[code]

If we trust TLS, we should be able to trust the coreos.com/etcd key for coreos.com/etcd image automatically. /cc @philips

[2015-02-07 18:58] polvi commented on #505
And I should read other issues before contributing.

[2015-02-07 18:58] #505 closed

[2015-02-07 18:59] polvi commented on #481
Moving to new issue from #500.

Seems like we might be able to imply trust in some scenarios.

Here is how it works today:

[code]

What about doing something like this:

[code]

Even better, just automatically trust it if it is in the same domain:

[code]

If we trust TLS, we should be able to trust the coreos.com/etcd key for coreos.com/etcd image automatically.

[2015-02-07 20:53] robszumski commented on #481
I'm going to attempt to deconstruct a few things from what you posted:

#### trust
1. You don't think there needs to be an explicit presentation and acceptance of the key fingerprint/signatory email/etc.
2. If a prefix isn't given, assume the most narrow scope possible

#### run
1. trust TLS and be as smart as possible about fetching the correct keys

Does that sound correct?

[2015-02-08 15:21] polvi commented on #481
Nailed it. We need to double check the cryptosystem behind this is valid... i.e. that we can make these assumptions safely. But looks good.

[2015-02-08 22:42] polvi opened #506 "rkt run: applications that require /proc segfault"
I was trying to get docker to work under rkt, and it seems to keep segfaulting. Happy to try to do more to help debug, but I'm not sure what to do next.
[code]

[code]

Here is my Dockerfile that was used to create the image:

[code]

[2015-02-08 22:45] barakmich commented on #506
Actually, I've seen this in my demos with `rkt enter`. Try running `ps` when you enter a container, and sure enough, no dice.

/proc isn't mounted. Yes, it's that simple. I figured this out on stage.

As a workaround, if you `mount -t proc /proc` before execution, you should be set.

[2015-02-09 01:17] philips commented on #481
Yes! I want to make the default for trust and run to be trust TLS certificates and make it optional for the user to turn this off.

[2015-02-09 01:20] robszumski commented on #504
I ran into this too. I think it's just a limitation on the decentralized discovery. Rocket just replaces the template in the url with latest. I can't think of how to handle this without a backend that has more knowledge of the available containers.

FWIW, the quay.io ACI integration can handle this because it has knowledge of your tags and knows that latest is really v2.0.0.

[2015-02-09 03:18] blakelapierre opened #507 "Not in CoreOS Alpha Channel"
Not sure if this should go here or in another repo ([manifest](https://github.com/coreos/manifest) maybe?)

I can see not wanting to do this if there's no way to withhold it from being automatically promoted up into the beta and stable channels, but...

It would be nice to have this in the images that are available on the cloud platforms. As-is, it looks like you get to write a custom install step

[2015-02-09 11:11] jonboulle commented on #504
Yes, this really requires the underlying store to have a bit more smarts i.e. symlinks (e.g. http://alpha.release.core-os.net/amd64-usr/current/); I doubt there's an easy way to achieve this while we're serving from GitHub.

[2015-02-09 11:17] jonboulle commented on #504
@polvi what would you actually expect rkt to do here?

[2015-02-09 11:27] jonboulle commented on #481
This is fine, let's just be super explicit about what's happening.

[2015-02-09 11:49] alban commented on #506
About mounting /proc:  appc/spec#127

[2015-02-09 19:47] robszumski commented on #481
@jonboulle explicit enough?

`TLS certificate for "https://coreos.com" is valid and includes a public key`

Full output:

[code]

[2015-02-09 21:14] vcaputo commented on #497
sure

[2015-02-09 22:22] eyakubovich commented on #476
Implemented in https://github.com/coreos/rocket/pull/508

[2015-02-09 22:22] #476 closed

[2015-02-09 22:58] robszumski opened #511 "docs: explain interaction between gc and the CAS"
Expanding a question I had from #502 into its own issue:

How does gc interact with the CAS? I don't see anything mentioned in the lifecycle doc. Does this operation reclaim disk space? Or do I have to do something else to the CAS?

How do you prune the CAS?

[2015-02-09 23:00] vcaputo commented on #500
@kelseyhightower @robszumski WRT `./rkt trust --root coreos.com`, that's not a UX the current implementation implements.  --root enables installing a root key without any prefix at all, it's not a discovery-eligible usage.  --root activates use of keystore.StoreTrustedKeyRoot() (not a domain's root, a global root), and requires a path to a local key file be specified.

[2015-02-09 23:15] vcaputo commented on #495
@sym3tri does https://github.com/vcaputo/rocket/commit/cf6603fbeac7f477ed3ac8f91abeec4c22bbe774 do the trick for you?  (no osx here)

[2015-02-10 00:07] sym3tri commented on #495
closer, but still getting:

[code]

[2015-02-10 00:15] robszumski commented on #500
@vcaputo At a minimum, we need to make that clear in the error message. Right now it doesn't say anything about a local file at all.

At a higher level, IIRC all of the other trust parameters support local or discovery, so we're teaching people how to use it one way and then this one command is different. Sometimes that is unavoidable but we can try to mitigate any confusion through the error mess

[2015-02-10 00:21] vcaputo commented on #495
@sym3tri Thanks Ed, this do the trick? https://github.com/vcaputo/rocket/commit/e352599902ed76aa3f8ae177475e3eb806444384

[2015-02-10 00:22] sym3tri commented on #495
that works. thanks.

[2015-02-10 00:46] #495 closed

[2015-02-10 03:00] philips commented on #145
This is ready to go now that docker2aci is a library. If anyone wants to help out :) http://godoc.org/github.com/appc/docker2aci/lib

[2015-02-10 08:51] kelseyhightower commented on #479
I've tested ipvlan on a dev build of CoreOS and everything seems to be working great. The next battle will be global ip allocation, but this is something that flannel can help with.

[2015-02-10 10:27] jonboulle commented on #145
@philips this is already done - #489

[2015-02-10 14:44] mclarkson commented on #452
I don't know much about Java so this might be silly question, but is there 1.4GB of RAM in the rkt host? Also does knob twiddling make sense in this case, such as adjusting: -Xms512m -Xmx1g -Xss256k -XX:PermSize=128m -XX:MaxPermSize=256m -XX:+UseG1GC

Maybe adding busybox to the ACI will allow easier testing?

[2015-02-11 10:34] rasschaert commented on #457
Still getting a similar error today on a fresh Rocket build from the [latest source](https://github.com/coreos/rocket/commit/3b494a802984403a5db010aaa1fc854fffdac262):
[code]

Not sure what that error means and what I need to do.

[2015-02-11 18:35] jonboulle commented on #457
@rasschaert can you copy bin/stage1.aci (which should be created after you ran the build script) to the same directory as rkt? that is where it looks at present, e.g.
[code]

[2015-02-11 18:57] rasschaert commented on #457
@jonboulle Thanks! That fixes it.

Turns out the Arch Linux [rocket-git](https://aur.archlinux.org/packages/rocket-git/) package in AUR only puts the rkt binary in /usr/bin/ and throws away all the rest.

Seems a bit... *peculiar* to have a non-executable file called stage1.aci in $PATH though. Is this something that might still change in a future release?

[2015-02-11 19:15] jonboulle commented on #457
@rasschaert oh wow, had no idea there was a rocket package already, that's cool!

We do it this way at the moment because it's the most straightforward way to provide a self contained package on GH that works out of the box; we don't actually intend people to put it into /usr/bin generally. The intention is that when people are packaging Rocket for distributions that they will a) potentially creat

[2015-02-11 19:26] rasschaert commented on #457
@jonboulle Arch has a reputation for living on the bleeding edge ;)

Thanks for the explanation and sorry about hijacking this issue.

[2015-02-11 20:06] #474 closed

[2015-02-11 20:08] jonboulle commented on #457
@rasschaert No problem at all. Definitely feel free to open more issues as things like this come up - we very much want Rocket to be packageable/distributable on a variety of systems.

Also relevant (and a bit of a tracking ticket for this stuff): #173

[2015-02-11 20:09] jonboulle commented on #173
I am actually going to close this ticket since it has become a little broad and the original issue is definitely resolved. As you work on building different stage1s please file issues for particular things that come up so we can deal with them more specifically.

Also see: #497

[2015-02-11 20:09] #173 closed

[2015-02-11 22:11] robszumski opened #518 "Question: Why does rkt run --volume require type?"
The ACI spec talks about `host` and `empty` [volume types](https://github.com/appc/spec/blob/master/SPEC.md#container-runtime-manifest-schema). The `host` type is defined as a bind mount:

Why does `--volume bind:/opt/storage` require the type `bind`. Can't that be inferred? Same with `tmpfs` proposed in #378, which I assume maps to the `empty` type from the spec.

[2015-02-11 23:07] jonboulle commented on #378
related: appc/spec#183

[2015-02-12 10:22] rasschaert opened #520 "Default stage1 path should be configurable with a build option"
As mentioned in https://github.com/coreos/rocket/issues/457#issuecomment-73944496, the path where the rkt binary looks for stage1 should be something you can specify when building rocket.

Looking at [the code](https://github.com/coreos/rocket/blob/68a0c0b6567a3e9b2feb4fbf476f1730f27b6fb5/rkt/run.go#L51-L56), this doesn't currently appear to be the case.

This is currently blocking a fix to the [A

[2015-02-12 19:23] vcaputo opened #521 "rkt run fails ambiguously on kernels without CONFIG_SECCOMP"
This is because systemd from the CoreOS image is built with +SECCOMP, causing systemd-nspawn to fail when it tries configuring seccomp.

We should either explicitly require CONFIG_SECCOMP or be more flexible.

[2015-02-12 19:44] #497 closed

[2015-02-13 03:36] philips commented on #507
This issue was moved to coreos/bugs#266

[2015-02-13 03:36] #507 closed

[2015-02-13 03:36] philips commented on #507
Thanks, I moved it to the CoreOS repo. We will let you know when it shows up in an image.

[2015-02-13 06:27] blakelapierre commented on #507
Awesome. Thanks!

[2015-02-13 07:49] philips commented on #59
This made it into 0.3.0. Closing.

[2015-02-13 07:49] #59 closed

[2015-02-13 07:54] philips commented on #472
I don't really like the fix in #514. We should detect schemes and error out instead.

[2015-02-13 09:44] rasschaert opened #522 "Source archives don't include dependencies"
When trying to build from the [source archive hosted on GitHub](https://github.com/coreos/rocket/releases), I get the following error:

[code]
[The dependencies](https://github.com/coreos/rocket/tree/master/Godeps/_workspace/src) that are in this repository are not in the source archive. This is probably by design (it's other people's code, after all), but I don't think it's documented anywhere th

[2015-02-13 17:19] jonboulle commented on #522
Hmmmm, I think this might be an issue with godep and canonical import paths. What version of Go are you using to build?

The dependencies are definitely in the archive:
[code]

[2015-02-13 18:04] jonboulle commented on #145
Fixed by #489

[2015-02-13 18:04] #145 closed

[2015-02-13 19:28] eyakubovich opened #528 "net: handle net-plugins having dependencies"
A network plugin may have dependencies. For example, a binary may rely on shared objects or external executables (e.g. iptables); a bash script relies on bash. We need to allow the plugin to specify or bring with it its dependencies, e.g. as an ACI.

If we support ACIs, it would only be used as packaging format. It will not be running under conformant ACE.

[2015-02-13 20:13] vcaputo commented on #472
Error with:
"--prefix must not contain a URL scheme, omit %s://", u.Scheme
instead?

[2015-02-13 20:29] vcaputo commented on #472
I struggled with the best phrasing for the error.  Part of me wants to mention the availability of --insecure-allow-http if the scheme is being specified to disable http for example, but that would be an awkward thing to mention when the user isn't even interested in discovery, nor is it something we want to promote slapping into the argument list without really understanding what they're doing. *

[2015-02-16 09:43] sgotti commented on #511
@robszumski After the work on the cas to introduce a db for secondarary indexes (#361 #362), aci info table (#393), aci searching functions (#395) etc.. I also opened #461. I think this is related to your question.

If this will land there'll be the ability to remove images from the cas.
Other than the user being able to manually remove images maybe a gc on the cas images should be helpful (for ex

[2015-02-16 14:06] sgotti commented on #434
@jonboulle I implemented this proposal in https://github.com/sgotti/acibuilder, it uses https://github.com/sgotti/fsdiffer and by now you can test it with `acido` (https://github.com/sgotti/acido).

[2015-02-16 19:31] jonboulle commented on #522
Ping?

[2015-02-17 01:07] philips commented on #522
I am going to close this. Please re-open if you are still encountering problems.

Thanks!

[2015-02-17 01:07] #522 closed

[2015-02-17 01:08] philips commented on #518
I think this can be closed and was based on an existing version of the project and docs. Closing for now.

[2015-02-17 01:08] #518 closed

[2015-02-17 18:12] #472 closed

[2015-02-18 13:21] alban opened #539 "rkt cannot run applications as non-root"
(issue discovered while working on #536)

The image manifest says an application can be started as a non-root user:
[code]

But it does not work in Rocket.

Rocket creates a systemd unit file for the application in appToSystemd():
https://github.com/coreos/rocket/blob/master/stage1/init/container.go#L113
[code]

But then diagexec needs to be root (or at least have CAP_SYS_CHROOT):
https://github.c

[2015-02-18 17:39] eyakubovich opened #541 "Network plugins as ACIs"
## Problem
We want to have an ability to have 3rd party network plugins. So far I have been assuming that they are some executables that resides in a well known path on the host (currently /usr/lib/rkt/plugins). I wasn't concerned how they get there and what dependencies they have. Now it's time to consider that.

## Solution 1: Punt
One solution is to say that these plugins are like any other sof

[2015-02-18 18:58] eyakubovich commented on #528
Closing in favor of https://github.com/coreos/rocket/issues/541

[2015-02-18 18:58] #528 closed

[2015-02-18 19:05] jonboulle commented on #541
@eyakubovich is there a meaningful distinction between first party and third party plugins? (Is there a case for someone wanting to use Rocket _without_ using the first party ones, for example?)

[2015-02-18 19:26] eyakubovich commented on #541
@jonboulle first party ones are the ones with source in rocket tree and shipped in stage1.aci. Third party are the ones supplied outside of rocket. It is possible to _just_ use third-party plugins but I'm not sure if there's a good use case for at least not using the default veth one.

[2015-02-18 19:38] jonboulle commented on #539
It would be much nicer if systemd more cleanly exposed the information we're using diagexec for :-/

[2015-02-19 10:56] alban commented on #539
Systemd has option RootDirectory, see man systemd.exec(5):
[code]
I didn't know about it. It looks cleaner to use that option rather than the fix I suggested above.

[2015-02-19 13:49] philips commented on #539
@alban Oh, I thought we WERE using RootDirectory. We should absolutely being using RootDirectory.

[2015-02-19 15:32] mezcalero commented on #381
Heya, I am actually open to remove explicit systemd check in nspawn too. We don't have any such check in the other tools, so we can remove this here I guess, too. I mean, I have no intention to supporting nspawn on non-systemd, that's something you have to deal with downstream, but with that check gone I figure you can do entirely without that LD_PRELOAD hack...

Lennart

[2015-02-19 20:07] jonboulle commented on #539
capturing out of band clarification: we were using `RootDirectory` originally but when diagexec was introduced we moved away from it because it would have expected diagexec to be within the app's filesystem.

[2015-02-19 23:45] alban commented on #539
For systemd to use "RootDirectory=/opt/..." (for this issue) and "PrivateDevices=true" (discussed in #540) together, it needs a fix:
http://lists.freedesktop.org/archives/systemd-devel/2015-February/028609.html

I would like if diagexec was either copied or bind-mounted into the application's chroot so that we could both use the "RootDirectory" option in the systemd unit file and we could still be

[2015-02-20 00:34] vcaputo commented on #539
We specifically avoided introducing the diagexec to the app rootfs's

Additionally don't forget that `rkt enter` uses diagexec, so even if systemd implemented what diagexec does, it doesn't exactly make it available to the `rkt enter` entrypoint.

If it's desirable to make `rkt enter` also become the user and group of the application, then we should probably teach diagexec to do that as well.

[2015-02-20 21:48] philips opened #543 "Checkpoint/Restore (CRIU) Test of Rocket"
It would be good to test out if checkpoint restore in userspace works well with Rocket. It should be doable but some possible problem points come to mind:

1. If the systemd journal is attached inside of the stage1 then we have to repair that connection http://www.criu.org/--ext-unix-sk
2. Bind mounts  http://www.criu.org/External_bind_mounts

Working on this isn't high priority but would be inter

[2015-02-20 22:00] philips opened #544 "store: implement "store-verify", save tar and compression information"
Rocket should store the compression and tar headers along with the original filesystem in the store. This way the user can verify the crypto hash at anytime. Desired example use case:

[code]

1. Store the raw tar headers @vbatts has started to implement a library to do this: https://github.com/vbatts/tar-split
2. Store the compression headers, this will be part of the work that @pbx0 is doing wit

[2015-02-22 04:19] jonboulle commented on #434
Super cool! I am keen for some of the diffing and building to stuff land upstream in the spec libraries, then implement this stuff in a workflow tool in Rocket.

[2015-02-24 17:02] kofalt opened #547 "Validating rocket results in 404"
The [validating rocket](https://github.com/coreos/rocket/blob/master/Documentation/app-container.md#validating-rocket) documentation may be out of date, as the image signature is not found:

[code]

[2015-02-25 21:22] yifan-gu opened #549 "Get uuid of app containers before it runs"
Hey guys,
As for the k8s integration, in order to get the UUID of the app container(which can be used later to kill, inspect container), we will need a way to map the UUID with the systemd unit file before the container is actually run. (because systemd will use this unit file to run the container)

Several options are:
1.
``` $ rkt init```, which only prepares a uuid and returns it.
    ``` $ rkt

[2015-02-25 21:27] philips commented on #549
cc @vcaputo @robszumski

[2015-02-25 21:55] robszumski commented on #549
I don't like the word `init` because it has so many connotations, especially in the container space. What about `prepare`?

[2015-02-25 22:31] vcaputo opened #550 "Add `rkt prepare` for preparing a container and allocating its uuid independent of `rkt run`"
Then have `rkt run-prepared` accept just a uuid to run what was prepared at the uuid returned by `rkt prepare`.

`rkt prepare a.aci b.aci c.aci` will allocate the uuid by creating a directory under `/var/lib/rkt/prepared`, then perform all the image fetching and expanding `rkt run` would perform up to but excluding executing the stage1 run entrypoint.  The uuid is printed on the stdout following w

[2015-02-25 23:31] vcaputo commented on #549
https://github.com/coreos/rocket/issues/550

[2015-02-25 23:37] yifan-gu commented on #550
Override with the options of ```rkt run-prepared``` seems to be more reasonable to me personally, sort of last/latest wins

[2015-02-26 02:41] vcaputo commented on #550
Something along these lines? https://github.com/vcaputo/rocket/commit/270a496ab6e00ac50b1141f3647a1f22620e8e2a

/cc @yifan-gu @philips @eyakubovich

[2015-02-26 05:00] yifan-gu commented on #550
Just popped up from my mind: How does `rkt run ${UUID}` sound?

[2015-02-26 09:28] sgotti opened #551 "Persistent/stateful containers."
By now rkt containers aren't "persistent": when they end their contents become garbage. I think that this behavior fits perfectly with k8s, microservices etc... (the concept of stateless/stateful/persistent/non-persistent containers can be interpreted in different ways so someone can have different ideas about them).

I don't know if in a future there'll be the need for "persistent" containers: co

[2015-02-26 10:25] sgotti commented on #544
@philips @vbatts I think this should be useful also for #332. This is quite different as the tree store represents a rendered aci, so there isn't a starting tar. Now it's implemented computing an hash that tries to be consistent but in an adhoc way that can be improved.

[2015-02-26 12:19] tberch commented on #551
I absolutly have the need for persistance, there are some apps like elasticsearch, that dont reaatach themselves nicely again after being tebuilt via docker, i am forced to do some things manually when i rebiild graylog every time the machine reboots, potentially persistance will retain the state of my graylog2 hosts, so i dont keep losing my history and settings. Id like a boot to last good state

[2015-02-26 19:21] yifan-gu commented on #551
I didn't follow why the state can't be stored in mounted volumes? Or it actually can be stored, but does not provide better ux compared to stop/resume?

[2015-02-26 20:44] sgotti commented on #551
@tberch that's quite strange as if you keep all data/config etc on external volumes it should work.

@yifan-gu
In #531 there's the discussion about pause, resume and checkpointing with CRIU.

What I was thinking about is just really stopping (not pausing in memory or checkpointing on disk) and starting keeping the stage2 data (like docker stop/start). Maybe someone wants to use a container like a

[2015-02-27 01:00] Watney opened #554 "Trying out Rocket: "permission denied""
I followed the README.md guide:

``wget https://github.com/coreos/rocket/releases/download/v0.3.1/rocket-v0.3.1.tar.gz``
``tar xzvf rocket-v0.3.1.tar.gz``
``cd rocket-v0.3.1``
``sudo ./rkt help``
``sudo: unable to execute ./rkt: Permission denied``

I'm admittedly in over my head ... even changing the ownership of rkt to root returns the same error

[2015-02-27 02:39] yifan-gu commented on #550
I found that after `rkt prepare`, I might get error from other operations (such as writing unit files to disk) and abort the creation of the container, so that uuid might be never used.
We might need to gc it...

[2015-02-27 03:24] philips commented on #554
Can you give me more information on the host you are using? Also an `sudo strace -o rkt.log ./rkt` would be helpful.

[2015-02-27 04:22] Watney commented on #554
Hello, I'm on Chrome OS. I'll reply with details tomorrow evening. Thanks so much!

[2015-02-27 05:03] philips commented on #547
Since that container isn't signed then you need `rkt  -insecure-skip-verify` to get it downloaded. Unfortunately, we also need to build the validator for the most recent version of the spec, 0.3.0, this 0.1.1 release won't work because the spec has changed since then. I will try and fix this later.

[2015-02-27 09:58] alban commented on #550
What should ``rkt enter uuid`` do when given a uuid that has been prepared but not yet run? I guess it should fail because there is no container to enter yet. It would not find the uuid in containers/run/$uuid because it is still in containers/prepared/$uuid.

[2015-02-27 10:39] iaguis commented on #550
How is this interacting with overlayfs?

The benefit of overlayfs is that we have an expanded tree in the cas so we can then merge it with another directory to allow writes without changing the ACI tree. This expanded tree can be shared between executions of the image saving space and memory (when running several instances of an image at the same time). Since stage1 is an ACI it also benefits from

[2015-02-27 16:29] iaguis commented on #387
I've been playing with overlay fs building on top of @sgotti's work (#332) so I think it's time for some discussion.

### Idea

My original idea was to use the cool new tree store cache and, instead of extracting the ACIs in `/var/lib/rkt/containers` it will mount an overlay fs in the rootfs of the corresponding image `/var/lib/rkt/containers` with `lowerdir=/var/lib/rkt/cas/tree/#imageID`, `upper

[2015-02-27 18:13] eyakubovich opened #558 "net: implement dhcp ipam plugin"
DHCP is particularly useful in MACVLAN. It is an well understood and standard part of network infrastructure and having ability to leverage it for containers (just like VM's do) is important.

[2015-02-27 18:13] yifan-gu opened #559 "Current master cannot run aci?"
```$ sudo ./bin/rkt run coreos.com/etcd:v2.0.0```
returns

`Error finding stage1 image "/home/yifan/github.com/coreos/rocket/bin/stage1.aci": /home/yifan/github.com/coreos/rocket/bin/stage1.aci: error writing ACI Info: DELETE FROM: table aciinfo does not exist`

Looks like this commit makes it break on my machine.
commit da92f8acd94dff895630466d2aafb4b4aa5f0257

[2015-02-27 18:16] iaguis commented on #559
You need to clear your CAS: [#393](https://github.com/coreos/rocket/pull/393#issuecomment-74931942)

[2015-02-27 18:17] yifan-gu commented on #559
@iaguis Thanks :+1:

[2015-02-27 18:17] #559 closed

[2015-02-27 18:56] vcaputo commented on #550
Yesterday I threw these together to support `rkt prepare` and `rkt run-prepared`:
https://github.com/coreos/rocket/pull/556
https://github.com/coreos/rocket/pull/557

still need to update containers_test.go, but there's enough there to kick the tires.

I went ahead and made it so `rkt status --wait UUID` handles waiting for a container to get from uuid allocation down to exited, even if the contai

[2015-02-27 19:44] sgotti commented on #387
@iaguis That's really great!

To add more things to consider, I have some patches almost ready for cas locking ( #460 ) and then image removing (other than listing etc...). Related to image removing (remove entry from db, aci, imagemanifest and in future the treestore) there's the need to detect if the treestore is a lowerdir of a mounted overlayfs to block the removal.

Plus I'm all for avoiding

[2015-02-27 20:13] vcaputo commented on #550
@yifan-gu I personally think `rkt run` already supports enough (too much) flexibility in its arguments, especially when combined with the support for abbreviated UUIDS we'd support for `rkt run-prepared`.  Running a prepared container requires no discovery and should have zero potential for ambiguity in terms of things like a file existing having the same name as the supplied UUID, for example.

W

[2015-02-27 21:19] vbatts commented on #544
For `tar-split`, I'm targeting having a `Packer`/`Unpacker` that will operate on `io.Writer`/`io.Reader` respectively. With an initial json implementation. Since they're interfaces, perhaps msgpack or something can be later. As it is, `compress/gzip` on the streams works nicely. And is would be per tar archive.

Thoughts on where these (un)pack data files would be arranged? or is that enough of a

[2015-02-27 22:12] vcaputo commented on #554
Never used Chrome OS myself, but it wouldn't surprise me if it were locked
down such that running downloaded binaries, especially via sudo, will
require some magic incantations before succeeding.

The error you've pasted can be from something as simple as the file not
being executable (chmod +x) or the filesystem it resides on being mounted
with the `noexec` flag.  I'm not optimistic on strace out

[2015-02-28 01:48] Watney commented on #554
@vcaputo thanks for putting me on the right track.

In case another Chromebook user stumbles onto this issue, I'm going to explain how I successfully set up `rkt`. Note that I'm using the directory /usr/local/, which was created by [crouton](https://github.com/dnschneid/crouton). Whether this proves to be a good choice, only time will tell. Here's a high-level outline of the steps:

1. Create a fo

[2015-02-28 01:48] #554 closed

[2015-03-01 21:14] sgotti commented on #387
@iaguis I tested you branch.

It worker well, but sometimes I saw randomic problems like:
* Sometimes the overlayfs mounts appears in the host's mountns
* Errors like: `run: error setting up stage0: error setting up image sha512-683438b100a48aead6c37e4f581105713763bb41c3f995ad58a2cc49eb744d68: error reading app manifest: open /var/lib/rkt/containers/b5ad7b04-c2ee-44d2-a247-3618b2c8e0d9/stage1/root

[2015-03-02 04:13] h4ck3rm1k3 opened #561 "missing Godeps?"
Howdy,
Godeps/_workspace/src/github.com/cznic/mathutil/mersenne/mersenne.go
contains an import ‘github.com/remyoudompheng/bigfft
but it is not stored in the Godeps/_workspace/src/, is there a reason for that?

also I am missing golang.org/x/text/encoding from the deps.

[2015-03-02 08:50] wuqixuan opened #562 "rkt: support running interactive containers"
I have a ubuntu rootfs, the files come from docker image(ubuntu 14.04), and I made it to aci by myself. I use actool to verify it without issue.
But I run this container and failed (exit with the info "Service exit-watcher.service is not needed anymore. Stopping" . Can anybody help? Thanks very much.

<pre><code>
root@wood-ubuntu:/home/rocket-v0.3.2# ./rkt --debug run ubuntu-wuqixuan.aci
2015/03/0

[2015-03-02 09:05] sgotti commented on #561
@h4ck3rm1k3 for Godeps/_workspace/src/github.com/cznic/mathutil/mersenne/mersenne.go it's inside github.com/cznic/mathutil so it's copied, but godeps is smart enough to detect that it's not imported by any package so it's not importing and rewriting its deps.

The same reason should apply to golang.org/x/text/encoding.

If there were some building problems due to missing packages it should be noti

[2015-03-02 11:46] h4ck3rm1k3 commented on #561
thanks for the feedback, will look into this more. Maybe I can link rocket without them.

[2015-03-02 11:46] #561 closed

[2015-03-02 13:19] iaguis commented on #387
GOMAXPROCS only limits the number of simultaneous threads so it won't fix it. runtime.LockOSThread should work, it'll lock the goroutine to the thread and then we will exec init (which also calls LockOSThread).

It can be moved. Just removing the check in [rkt/enter.go:150](https://github.com/coreos/rocket/blob/a9a76302eb2efa2566e27cfe0758d58a56ee9f20/rkt/enter.go#L150) (if the binary doesn't exis

[2015-03-02 13:20] iaguis commented on #550
Yes, basically leaving the overlayfs mounts present between `prepare` and `run-prepared`. Maybe it's not important, especially if we mount it in a mount namespace. (#387)

[2015-03-02 14:00] h4ck3rm1k3 opened #563 "Please Review gccgo port"
I have gotten rkt to link using gccgo.
https://github.com/h4ck3rm1k3/rocket
please review.

[2015-03-02 16:15] iaguis commented on #562
This doesn't work for now because rocket doesn't set up the right pseudoterminals and without a terminal bash exits immediately.

As a "workaround" you can run a `sleep` command and `rkt enter` the container to get a shell.

[2015-03-02 17:46] philips commented on #563
Can you please send a PR? I am going to close this for now.

[2015-03-02 17:46] #563 closed

[2015-03-02 18:02] philips opened #564 "cli: append command line flags"
We need a way to specify additional command line flags to a given image. This is pretty common so we should be able to do it from the command line without introducing a manifest. Here are some obvious options to start a discussion:

1. Quote the image and append: `rkt run 'example.com/foo:v2.0.3 --hello-world'`
2. Positional append flag: `rkt run example.com/foo:v2.0.3 --append-args='--hello-world

[2015-03-02 18:04] philips opened #565 "rkt: inherit environment"
All of the applications should inherit the environment by default. This is because we should assume that the user is running rkt under a tool like an init system where the environment is significant. To turn off environment inheritance we should have something like:

`rkt run --inherit-environment=false example.com/foo:v2.0.4`

/cc @robszumski

[2015-03-02 18:07] philips commented on #539
@alban What is the status of this?

[2015-03-02 19:08] vcaputo commented on #564
Is this expected to dovetail with the app's eventHandlers or is it intended to be limited to app.exec?

The process of determining what arguments are already being provided and how your CLI-introduced arguments will interact with them requires a level of visibility into the constituent aci manifests we don't currently make available on the CLI.  Does this imply there's a need for some kind of dry-

[2015-03-02 19:12] h4ck3rm1k3 commented on #563
Sure, it is not quite ready for a pr, but the main rck does build.

[2015-03-02 20:07] vcaputo commented on #565
What takes precedence when the app has its own explicit environment settings?
i.e. if the app's image.json sets PATH=/foo/bar, do we really want to inherit the user's PATH all the way down to the app's environment and override /foo/bar with "/usr/local/bin:/usr/bin..." as the default behavior?

This doesn't strike me as particularly well thought out.  When implementing `rkt enter` I had originally

[2015-03-02 20:11] nederdirk commented on #565
@vcaputo raises a good point, this was something I stumbled upon while working on this. Unfortunately there is no way to distinguish between intentionally and unintentionally set env vars.

[2015-03-02 20:20] nederdirk commented on #481
Probably related: #367 (especially the part of trusting TLS signatures)

[2015-03-02 20:20] vcaputo commented on #565
It also doesn't seem like a very wise default choice to automatically inherit all environment variables down to a container's execution environment, there's potentially significant information leaking into something the user has opted to execute as a container, that generally implies a desire for isolation.

[2015-03-02 20:53] robszumski commented on #564
I like @philips "Quote the image and append" idea because it matches the existing way you provide flags to a container or regular process. The grouping mechanism is then clear when you do something like:

[code]

I do worry about escaping quotes and the burden that this places on you when writing up your `rkt run` the first time or adding additional frustration when you're debugging. You aren't su

[2015-03-02 21:22] vcaputo commented on #564
@robszumski This also leaves us to implement shell-style semantics for word splitting.  We're responsible for taking that argument list and turning it into an array of strings since we don't execute these things via `/bin/sh -c`.

It's annoying on both ends, we have to (re)implement this shell feature and the user has to escape things appropriately from their shell.  It would be preferable to have

[2015-03-02 21:33] eyakubovich commented on #564
@vcaputo That's not bad at all. Another alternative is to always require `---` between ACIs:

`rkt run example.com/foo:v2.0.3 args to example.com/foo:v2.0.3 follow here --- other.com/bar args to other.com/bar go here`

This makes the one ACI case has very natural at the expense more awkward syntax for multiple ACIs.

[2015-03-02 22:28] vcaputo commented on #564
I'd prefer not requiring the `---`.  It keeps the more likely use simple and intuitive.  We can just put in the description for `--` that `---` may be used to explicitly terminate the appended argument list.

If this is satisfactory for everyone, the remaining question is: append vs. replace, what's the default and how to control it?

[2015-03-02 22:41] philips commented on #565
Here is how I think of the inheritance:

- rkt execution environment
- image environment
- pod manifest environment

I am fine with having `--inherit-environment` be false by default but I can see it as being a very nice feature that I would use.

We could also add a `--environment` flag that would essentially belong to the "pod manifest" and explicitly set environment variables that would clobber

[2015-03-02 22:45] philips commented on #564
I think it is append from the command line, we can drop down to requiring a pod manifest for everything else. Just so I am clear we are saying `---` is required if you have multiple images? So:

Run two ACIs with arguments:
[code]

Run two ACIs without arguments:
[code]

[2015-03-02 22:55] vcaputo commented on #564
@philips I think so, though your last example has a trailing `args` in contradiction with the `Run two ACIs without arguments:` caption.

Run two ACIs without arguments:

Run two ACIs, the first with arguments:

Run two ACIs, both with arguments:

The last example could have had a `---` at the end, with no impact:

I'm not sure if we're expecting to keep --rkt-flag positionally sensitive, but noth

[2015-03-02 22:58] philips commented on #564
Right, I think if we constrain it to say the rkt flags come before the image names it is nicer from a simplicity standpoint. In any case this all seems good to me. Even though it will mean some non-standard flag parsing code.

[2015-03-03 03:19] vcaputo commented on #564
@philips well, modifying the argument parsing to support the restricted case where it's only acis and appended arguments after the rkt flags wasn't too tricky:
https://github.com/vcaputo/rocket/commit/e501e5128d0ae70cfc892cfd37742ca733d6ec53

It's not clear to me however if it's appropriate to rewrite the stage2 manifest files when there are appended arguments, or if the stage1 CRM should be amend

[2015-03-03 05:03] wuqixuan commented on #562
Thanks  iaguis.
By modifying the enterpointer from bash to sleep.sh( sleep 100000), the container is running and I can also rkt enter.

[2015-03-03 05:05] wuqixuan commented on #562
Hi  Iaguis,

   Do you know the plan about who is doing the pseudoterminals setup functionality or not ?

Thanks &Regards
wuqixuan.

[2015-03-03 09:07] alban commented on #387
If the overlayfs is mounted during ``rkt prepare`` and used later during ``rkt run-prepared``, it means the overlayfs mount needs to stayed mounted while no Rocket processes are running. If the overlayfs mount is done in a separate mount namespace, then we need to keep a reference on the mount namespace with a bind mount on the procfs file representing the mount namespace. But then, what's the ben

[2015-03-03 18:06] robszumski commented on #564
The triple dash is pretty elegant and solves the quoting issues. I like it.

Should we run this by rocket-dev for more input since its kind of non-standard?

[2015-03-03 18:24] philips commented on #564
@robszumski Lets do it. Could you send it out to the list?

[2015-03-03 19:09] #478 closed

[2015-03-04 00:55] philips opened #568 "stage1: use systemd from host /usr"
On hosts like CoreOS where we already have a copy of systemd that is up to date we should use that instead of relying on the default stage1 ACI version. So, we should have some new stage1 ACI option that we build that bind mounts in the /usr from the host and uses that instead of providing a copy of systemd in /usr.

This will help people packaging rkt for other OSes too.

[2015-03-04 09:37] rimusz commented on #568
:+1:

[2015-03-04 10:34] alban commented on #568
Do you suggest to bind mount the directory /usr or bind mount specific files such as /bin/systemd and its dependencies like libselinux.so.1?

If /usr from the host is bind mounted in the container, that gives the container access to a lot of things on the host. The application is chrooted but chroot is not proper isolation and the application can easily escape the chroot to get files from stage1 (

[2015-03-04 10:38] alban commented on #568
/cc @mattthias.

[2015-03-04 11:26] iaguis commented on #562
I've been doing some research on this and it turns out we can make it work by giving the App process the control of a terminal. We can do that by setting the `StandardInput` option to `tty` in the App's unit file, it will then connect standard input to a TTY (`/dev/console` by default) and set the process as the controlling process of the terminal ([systemd.exec(5)](http://www.freedesktop.org/soft

[2015-03-04 14:35] alban commented on #539
I've been trying to use RootDirectory to fix this bug and I wrote the following branch:
https://github.com/endocode/rocket/commits/alban/RootDirectory

But when systemd sees the following options in the app unit file:
[code]
It tries to get the username, uid, gid, home and shell from ``/etc/passwd``. Since ``stage1.aci`` does not provide any ``/etc/passwd``, this fails.

It works with User=0 or Us

[2015-03-04 17:52] philips commented on #568
@alban Bind mounting in /usr seems like the quickest path to me and having a specific bind mount list would be a nice optimization overtime but I don't know. I don't really care which way we go.

Can we use overlayfs to take the "partial" stage1 and mount the /usr volume below it and then just store that into /usr/share/rocket/stage1 or whatever?

/cc @marineam

[2015-03-04 18:00] philips commented on #565
Anyone have thoughts on this order of operations? Seems straightforward and easy to understand. The primary use case will be things like `REDIS_HOST=foobar MAILSERVER=baz` types of stuff so I think it is OK in most cases.

cc @vcaputo

[2015-03-04 18:47] yifan-gu commented on #549
Following discussion in #550, closing this one.

[2015-03-04 18:47] #549 closed

[2015-03-04 20:53] sgotti commented on #565
@philips the inheritance makes sense. I'll prefer to leave --inherit-environment disabled by default as it can expose sensitive data but also change the app behavior in unexpected ways.

I also think that a per app --environment flag that will add env vars to the pod manifest (permitting to add new vars and override the app's and the inherited ones) will be very useful.

[2015-03-04 21:45] vcaputo commented on #564
I'm proposing https://github.com/appc/spec/pull/219 in support of this feature (and any future runtime overriding of app defaults).

Updated my patch based on the spec change, end-to-end argument appending works here:
https://github.com/vcaputo/rocket/commit/e0f4ec5c37b2604010f15bdc6c40dcf95940cb2a

[2015-03-04 22:13] vcaputo commented on #550
@iaguis minimizing the startup latency and potential for failure of `rkt run-prepared` are both desirable.

[2015-03-04 23:48] vcaputo commented on #387
This is annoying.

[2015-03-05 00:10] vcaputo commented on #565
Fine with me provided wholesale inheritance is disabled by default.

Just to confirm my understanding, when `--inherit-environment` is specified *everything* in the user's environment will make it into the environment of *all* the apps.  Even environment variables explicitly set by the app's image will be overridden by the inherited values of same name.

[2015-03-05 00:13] philips commented on #565
@vcaputo Yes, it will be in all apps. The environment of the app takes precedence. In order of evaluation I see:

1. rkt execution environment with `inherit-environment`
2. image environment
3. pod manifest environment

If FOO=bar in step 1 and FOO=baz in step 3 then FOO=baz will be the final value.

[2015-03-05 00:38] marineam commented on #568
@alban: the idea was to make use of the host system, and in CoreOS the whole system is under /usr so there isn't any need to worry about different things being installed in /lib vs /usr/lib. Systems where /usr doesn't include everything would complicate matters. To cover the case of getting updates from the host distro into the stage1 aci perhaps we are better served by making it easy to build and

[2015-03-05 00:38] #568 closed

[2015-03-05 00:40] vcaputo commented on #565
Ok, the utility seems fairly limited when it doesn't influence variables defaulted by the app, as those variables are likely impactful ones you'd like to alter via `FOO_THING=bar rkt run foo.aci`.  But if we cover that with `--environment` then I guess it's fine.

In an `rkt prepare` and `rkt run-prepared` world, where is `--inherit-environment` honored?  From the implementation's perspective, it'

[2015-03-05 00:53] robszumski commented on #565
That does seem kind of limited. Wouldn't you want it:

1. image environment
1. pod manifest environment
1. rkt execution environment with inherit-environment

Another semi-related question: is there a way in a systemd unit to have the namespace/whatever inherit only env vars specified in the unit but not from anywhere else?

[2015-03-05 00:54] philips commented on #565
@robszumski The problem is that there are important environment variables already in the environment like PATH, TERM, HOME, etc. Making some sort of blacklist gets really tricky pretty fast.

[2015-03-05 00:56] philips commented on #565
cc @jedsmith

[2015-03-05 01:26] philips commented on #564
@vcaputo overall this looks fine, is there anyway to do it without the proposal in #219 because @jonboulle was cleaning a bunch of that stuff up and technically we aren't even using the CRM as-is anyways.

[2015-03-05 01:39] marineam opened #572 "stage1: split stage1 builder and translator code into new project"
Follow up from https://github.com/coreos/rocket/issues/568#issuecomment-77282946

We need to split the current stage1 into an independent project as a first step to establishing a solid interface between rocket and stage1, allowing us to support alternate stage1 builds and implementations in the future. Tightly coupling stage1 to rocket in one repo ties the project closely to CoreOS and makes port

[2015-03-05 02:13] vcaputo commented on #564
@philips Well, *the* way of expressing this stuff to stage1 is through either the CRM or the IM.  Since the CRM is generated by stage0 and we don't currently modify the IMs at all, and it's a nice property to have the IMs intact and any override differences on-hand for a given run by comparing the stage1 CRM to the stage2 IMs, this seems like the ideal approach.

We could just modify the vendored

[2015-03-05 11:44] iaguis commented on #550
@vcaputo mounting the overlayfs takes almost no time and we can verify the image's tree cache in `rkt prepare` to be sure `rkt run-prepared` will run correctly.

I think moving overlayfs mounting to `run-prepared` should be fine. If it's not supported by the system we would still do the extracting in `prepare`.

I implemented a POC of this in [endocode/rocket:iaguis/prep](https://github.com/coreos

[2015-03-05 12:02] blang opened #573 "rkt fetch: check signature identity before downloading image"
`rkt fetch` downloads the image and checks signature afterwards.
If entity is not trusted download is discarded.
[code]

I suggest, check signature first, don't download if not trusted.

Related: #481

[2015-03-05 18:25] sgotti commented on #550
@iaguis @vcaputo If a user removes (when implemented) an image (and so also the tree store) between prepare and run-prepared, is it ok for you that run-prepared fails? I think it can be ok.

Instead, if a way to avoid this is needed, a possible solution will be to check that the image isn't referenced in the CRM's of the prepared containers.

[2015-03-05 18:46] vcaputo commented on #550
I don't think it's acceptable to permit removal of an image actively referenced, perhaps we need to maintain some kind of reference state?

[2015-03-06 01:49] philips commented on #572
I think it should stay in this project for now but under a subdirectory or something. Ideally we have two build options like CoreOS PXE and build systemd from scratch!? I don't know how to proceed here. What is the first action? Build systemd from git tag stage1 option?

cc @vcaputo

[2015-03-06 01:59] vcaputo commented on #572
The first course of action we had arrived at was simply splitting the current stage1 implementation out of tree into a new repo.  Then we'd iterate from there in directions like reproducible builds of a probably forked/patched systemd from source.

[2015-03-06 09:25] sgotti commented on #550
@vcaputo Given that an "image" is composed (aci in the blob store, imagemanifest in the im store and the tree store) I previously though only about active containers. An active container can take locks on the images (using #571) and keep them opened (see last part of https://github.com/coreos/rocket/issues/387#issuecomment-76631101 with a proposal to let shim.c and capsule keep multiple file descr

[2015-03-06 10:10] alban opened #576 "stage1: rkt pods should not be given CAP_SYS_ADMIN"
In this issue, I talk about how rkt's security is reduced because of CAP_SYS_ADMIN and give some ideas how to make rkt work without giving CAP_SYS_ADMIN to stage1's systemd.

# Current status

systemd-nspawn does not drop CAP_SYS_ADMIN by default so stage1's systemd and stage2 have CAP_SYS_ADMIN.

Docker does not give CAP_SYS_ADMIN to containers by default. Correct isolation is ensured by the fact

[2015-03-06 15:47] philips commented on #564
@vcaputo Now that we merged the CRM changes we should get vcaputo@e0f4ec5 up as a PR.

[2015-03-06 17:52] philips commented on #572
I would like to avoid splitting things out into a new tree until there is a compelling reason to; it gets really complex to coordinate things otherwise. We can iterate on the separation in a different directory then when it makes sense to put it into a new project move it out.

[2015-03-06 17:52] philips commented on #572
In any case what is the first course of action on doing this and who is in charge of making it happen?

[2015-03-06 18:43] marineam commented on #572
@philips forcing coordination to solidify the interaction between rkt and stage1 is exactly *why* we would like to split. If we want to assemble stage1 from different sources (be it a patched systemd, the current CoreOS binaries, or assembling one from a host system) we need the interface to not be a moving target. If there is there any work that needs to be done to prepare for that? @vcaputo thou

[2015-03-06 18:45] marineam commented on #572
As for who, @vcaputo can handle it.

[2015-03-06 19:37] shettyg commented on #273
Is there any known timeline when this proposal would likely be merged? My main interest is around experimenting integration with OVS and Open vSwitch Virtual Networking (OVN) project.

[2015-03-08 02:13] #550 closed

[2015-03-09 11:32] jonboulle commented on #273
/cc @eyakubovich

[2015-03-09 11:33] jonboulle commented on #572
@vcaputo if stage1 were to be in a separate repo tomorrow what do you see the coreos/rocket build process looking like?

[2015-03-09 11:44] jonboulle commented on #573
To be clear, we couldn't check the contents of the signature, just that it is made by a known entity.

[2015-03-09 11:45] jonboulle commented on #387
What ended up happening there? is `run-prepared` taking care of all the mounting?

[2015-03-09 11:45] blang commented on #573
Yap, checking if the entity is known, that's what i meant

[2015-03-09 11:46] jonboulle commented on #568
I like the idea that installations of Rocket could build a stage1.aci at install time or so based on the host operating system.

[2015-03-09 12:03] iaguis commented on #387
I have a branch with `run-prepared` doing the mounting, if everybody is ok with that I can make a PR. We still need to merge the tree-store patches before that.

[2015-03-09 12:07] jonboulle commented on #539
Hmm, we have been kicking the uid/gid stuff down the road a bit, we should definitely come up with an answer that addresses (not necessarily supports, but at least discusses) arbitrary users, and uids/gids in ACIs.

[2015-03-09 12:08] jonboulle commented on #387
@iaguis trying to unravel everything; do you mean #322?

[2015-03-09 12:15] iaguis commented on #387
We need #394, #395, #533 and #332

[2015-03-09 12:24] jonboulle commented on #562
Yeah I think we should have it as a flag in Rocket and not add it to the spec yet, maybe at a later state after we finalise pods.

The single-app-container approach seems best to me for now.

[2015-03-09 12:36] jonboulle commented on #387
hmm is 332 just 394+395+533? if so let's close it..

[2015-03-09 13:14] iaguis commented on #387
332 needs rebasing, it includes the db stuff that's already merged and probably @sgotti made some changes to the commits in 394, 395 and 533.

We could put everything in 533 or merge the PRs individually, I don't have a preference.

[2015-03-09 13:16] iaguis commented on #387
Oh, I see what you mean. 332 adds the tree cache (last 3 commits) on top of 394, 395 and 533.

[2015-03-09 13:45] sgotti commented on #387
Correct. I'll rebase #332 when the other lands as #533 needs #580 to pull in `github.com/appc/spec/pkg/acirenderer`.

[2015-03-09 20:46] vcaputo commented on #572
@jonboulle for starters I envisioned the coreos/rocket build process would cease concerning itself with stage1 creation altogether (including the go binaries that fall into stage1's domain).  There'd be another step necessary for acquiring and building the stage1 from source, but if you have on need to develop stage1 the coreos/rocket build script could just know where we publish signed stage1 aci

[2015-03-10 01:16] #564 closed

[2015-03-10 01:16] #565 closed

[2015-03-10 01:23] wuqixuan commented on #562
Thanks all for replay.
I also think have it as a flag in Rocket is better. But i guess multiple images scenario should be very common. So suggest support multiple images also.

[2015-03-10 01:40] philips commented on #572
My sense is that we are up to a month or two away from there being a stable ABI between the stage1 and the stage0. Once we have a documented ABI then we can move the project out but it just seems too soon to do that.

I support the goal but having another thing to Godep and manage will just be too much of a pain right now. I learned this with etcd/etcdctl/go-etcd when we thought separating the pro

[2015-03-10 02:28] philips commented on #43
@iaguis I think having this `rkt install` subcommand would be helpful for many people at this early stage of the project, we can make it easy for distributors to remove it if they want or just make it a no-op if we detect all of the dirs setup. Could you mind getting this into a PR?

[2015-03-10 02:30] philips commented on #433
@vcaputo @jonboulle Now that we have `--inherit-environment` #584 this is easy to solve, right? We just don't inherit in enter by default.

[2015-03-10 10:51] iaguis commented on #43
Sure :)

[2015-03-10 15:01] iaguis commented on #43
#588

[2015-03-10 17:35] jonboulle commented on #572
@vcaputo SGTM, agree with most of your points (except I don't like "rats nest" :-)

@philips I am broadly sympathetic, although I don't see where Godep would come into it since this should really be a complete decoupling in codebases.

Let's push for this in the O(1.5) month timeframe.

[2015-03-10 17:36] jonboulle commented on #562
@iaguis would you mind shepherding this into a feature/pull request?

[2015-03-10 17:47] philips commented on #572
@jonboulle Godeps comes into this because we rely on several appc/spec packages and they would need to stay in sync until the ABI is established.

[2015-03-10 17:49] philips commented on #71
I think this is fixed now actually, closing.

[2015-03-10 17:49] #71 closed

[2015-03-10 20:06] philips opened #592 "networking: document the metadatasvc more completely"
- [x] Document how to run and configure it
- [x] Create a .service and .socket file for the metadatasvc
- [x] Point users to docs if network plugins cannot contact metadatasvc. Currently the error message is  fairly cryptic.

[2015-03-10 20:06] philips commented on #592
cc @eyakubovich

[2015-03-10 21:19] philips opened #593 "network: provide IP list via rkt status"
Somehow we need some way of getting at the IPs a container is using.

[2015-03-11 03:26] jonboulle commented on #576
thanks for the awesome write-up!

I am starting to wonder if we should move away from strictly requiring a shared mount namespace, and instead use the slightly more agnostic stipulation that apps within a pod must be able to access the same shared volumes (c.f. https://github.com/GoogleCloudPlatform/kubernetes/pull/4701#discussion_r25125656 ). Then we could potentially do something like give each

[2015-03-11 05:19] philips commented on #573
Published a fix at #596

[2015-03-11 09:33] alban opened #600 "Functional testing for Rocket"
Rocket has some unit tests but no functional tests. I would like if there was functional tests for the following features:

- [ ] --volume
 - [ ] Read-only / read-write
 - [ ] kind: host or empty
- [ ] Network
 - [ ] rkt run --private-net=true/false
 - [ ] bridge
 - [ ] macvlan
 - [ ] veth
 - [ ] dhcp (#558)
- [ ] Environment variables (rkt run / rkt enter)
 - [ ] variables defined in the manifest

[2015-03-11 09:39] iaguis commented on #562
Sure! #601

[2015-03-11 10:01] alban opened #602 "rkt enter is too limited for debugging stage1 or ACIs"
When developers want to debug their ACIs, it is useful to enter in the container to debug it in that environment. However, the ACI might not have a shell (/bin/bash) or the usual debugging tools (ip, gdb, strace...) so rkt enter does not help much.

When debugging changes to stage1, it is useful to enter in stage1 rather than in the chrooted environment for the app. I have a script in ``/var/lib/r

[2015-03-11 11:17] alban commented on #539
This issue depends on https://github.com/appc/spec/issues/231

[2015-03-11 12:32] alban commented on #576
If the apps are in a different mount namespace, they can still access the rootfs of stage1 if they are in the same pid namespace through ``/proc/1/root/``. The apps running as root can steal capabilities from stage1 systemd by adding a new systemd unit file in ``/proc/1/root/usr/lib64/systemd/system/foo.service`` and start it through the socket file ``/proc/1/root/run/systemd/private``.

Being in

[2015-03-11 12:53] alban commented on #576
I am fine with apps running in different mount namespaces but it does not fix the issue of CAP_SYS_ADMIN when apps can run as root.

If we allow apps to run as root, I think that systemd must not be given more capabilities than the union of the caps of the apps. Then, an app running as root cannot get CAP_SYS_ADMIN, unless another app in the same pod is already allowed to have CAP_SYS_ADMIN.

[2015-03-11 15:05] alban commented on #576
In the section "5-1. CAP for resource control" of the [Cgroup unified hierarchy](https://www.kernel.org/doc/Documentation/cgroups/unified-hierarchy.txt) documentation, it is explained that control knobs (which will need to be used for Rocket isolators) currently don't need a special capability (being root is enough because the knob files belong to root with -rw-r--r--) but it is planned to change

[2015-03-11 16:38] philips opened #604 "tevckelilufcvibbgvvclb"

[2015-03-11 16:38] #604 closed

[2015-03-11 16:38] philips opened #605 "tbckjgclllljutkdbh"

[2015-03-11 16:38] #605 closed

[2015-03-11 17:24] alban opened #606 "Make /sys available for apps"
The spec requests to make /sys available for apps, along with /proc and some /dev device nodes: https://github.com/appc/spec/pull/221

However, the implementation in Rocket https://github.com/coreos/rocket/pull/546 does not handle /sys. It should be added.

Make sure it is mounted read-only.

/sys can have a few submounts on the host:
- /sys/fs/cgroup/
- /sys/kernel/debug
- /sys/fs/fuse/connection

[2015-03-11 17:38] alban commented on #606
@philips : in order to start a Docker container inside a Rocket container, the cgroup tree /sys/fs/cgroup/* will need to be mounted in read-write mode in the Rocket container with the same options as on the host. The [Docker inside Docker script](https://github.com/jpetazzo/dind/blob/master/wrapdocker) does that. So this issue is a prerequisite for recursive containers.

[2015-03-11 17:45] blalor commented on #604
Gesundheit.

[2015-03-11 18:14] jonboulle commented on #600
The functional tests should also definitely run the ACE validator.

[2015-03-11 18:56] vcaputo commented on #433
Not quite, `rkt enter` simply reuses the environment file stage1 derived for stage2 from the CRM.

Implementing --inherit-env/--set-env for `rkt enter` is a different beast.  Diagexec consumes an environment file so we'd have to produce an ephemeral file for influencing the `rkt enter` environment, without influencing subsequent executions of the apps themselves (think app restart, diagexec will r

[2015-03-11 20:18] philips commented on #573
#596 doesn't fully fix this issue. It fixes a missing signature file but we need to validate the identity of that signature and check it against the store next.

[2015-03-11 23:16] jonboulle commented on #294
Blocked on appc/spec#207, but shooting for 0.5.0.

[2015-03-11 23:20] jonboulle commented on #433
Can you explain, I don't understand, the OP seems to be referring specifically to enter

[2015-03-12 00:35] vcaputo commented on #433
Instead, the calling user's environment remains:

This is no longer true https://github.com/coreos/rocket/issues/433#issuecomment-72768174

We set the environment on `rkt enter` now using the same environment file the app was executed with.

[2015-03-12 15:00] philips opened #613 "metadata-service: validator doesn't seem to work"
[code]

cc @eyakubovich

[2015-03-12 17:50] eyakubovich commented on #613
@philips I'll take a look. I wasn't able to run the validator yesterday b/c of schema/manifest changes. Was the metadata svc running? If not, you can use --spawn-metadata-svc/--spawn-metadata-service (latter was version as of yesterday).

[2015-03-12 17:51] philips commented on #613
@eyakubovich Yea, the metadata-service was running.

[2015-03-12 17:57] eyakubovich commented on #273
@shettyg Current version of Rocket implements the proposal for the most part. I don't think it's locked in stone yet but there's enough there to start experimenting with writing plugins. Feel free to comment on the proposal as you experiment or ask questions about what's not clear.

[2015-03-12 18:58] jonboulle commented on #433
Thanks for clarifying, sorry for the noise. Let's deal with this separately.

[2015-03-12 18:58] #433 closed

[2015-03-12 21:35] eyakubovich commented on #613
@philips can't reproduce (although I get plenty of other validator errors). Is this pretty reproducible with your setup?

[2015-03-12 22:04] yifan-gu opened #615 "Deal with `readOnly` in the `--volume` cmd line option."
This `readOnly` flag in `--volume` is currently not being used, it's shadowed by the `readOnly` field in the mountPoints in image manifest. However maybe we want to overwrite the image manifest's `readOnly` setting sometime.

I am trying to find some use cases in k8s.

@jonboulle

[2015-03-12 23:03] eyakubovich opened #616 "net: gc should cleanup the networks"
$CONTDIR/net contains netconf files for networks that need to be cleaned up.

[2015-03-13 09:46] alban commented on #593
If a Rocket container reconfigures its IP address inside its network namespace (assuming it has CAP_NET_ADMIN for that), do we want ``rkt status`` to show its current IP address or to show the IP address that ``/etc/rkt/net.d/`` thinks it should have?

When systemd-nspawn forks the first process in the container, it gets a Netlink socket and passes that socket to the parent process before the exec

[2015-03-13 12:32] philips opened #619 "Documentation: document how to run docker container image"
We haven't documented how to run a docker registry hosted container in Documentation/commands.md yet.

Thanks to Brian Candler for the report.

[2015-03-13 19:44] sym3tri opened #621 "rkt run: ux around increasing disk usage"
I have a simple `rkt run` command wrapped in a systemd unit with a restart policy. If there are repeated failures the number of container artifacts on disk grows dramatically. This can be worked around with some gc units (see below), but from a UX perspective there might be a better way to manage this.

It would be nice to have some mechanism to achieve a "remove on exit", or "restart on failure".

[2015-03-13 19:49] robszumski opened #622 "Documentation: Running the Metadata Service"
When working on #620, I realized there are no instructions for how to run the metadata service. Since it's required for private networking (vs host), I'd like to link to this non-existent document to explain how to set it up.

Some questions that we should cover:
 - general overview, what the metadata service does
 - how you run it
 - how you know its working correctly

[2015-03-13 21:21] finid opened #623 "Search for images"
In looking at available commands, I don't see any one that could be used to search for images, like `rkt search <image_name>`, for example.

Would be nice to have that.

[2015-03-13 21:37] jonboulle commented on #623
To be clear, are you talking about images that Rocket already has stored
locally? Or ones it has not yet retrieved?

Assuming the latter: this is tricky because app container images are
inherently decentralised - there's no single/central repository that `rkt
search` could query. The only way I see we could facilitate something like
this is by adding something to the spec describing how those host

[2015-03-13 22:55] #562 closed

[2015-03-13 23:18] jonboulle commented on #622
(assigned to @eyakubovich )

[2015-03-13 23:20] jonboulle commented on #389
@alban do you think you could try this with docker2aci as @eyakubovich mentioned [here](https://github.com/appc/goaci/issues/15#issuecomment-76493721)?

[2015-03-14 00:40] eyakubovich opened #624 "networking: expose ports to the host"
Need a way to expose the ports that are specified in the image manifest. Open questions: is this done by default or by opt-in? What happens in case of port conflict?

[2015-03-14 01:21] jonboulle commented on #624
My take is that the ports stipulated in the image manifest are primarily informative. Hence this should always be opt-in, and I would expect that we don't do anything about port conflicts (caveat lector)

[2015-03-14 01:24] jonboulle commented on #551
I'd essentially just echo the sentiments of sgotti and yifan-gu.

#550 and similar (i.e. the new [container lifecycle](https://github.com/coreos/rocket/blob/master/Documentation/container-lifecycle.md)) do suggest a direction for allowing more arbitrary state transitions like stop/start, but I'm not convinced it's a path we should go down unless there is very clear use case/demand.

[2015-03-14 01:31] jonboulle commented on #606
@alban do you have time to take this?

[2015-03-14 05:28] finid commented on #623
The ones it has not yet retrieved, assuming that there's a central repo or hub for images, along the same lines as that of Docker.

If there's no central repos, is there any plans of implementing it?

[2015-03-14 07:43] candlerb commented on #551
I do have some use cases, and they are essentially the "lightweight VMs" case. However I'm happy to accept that if that's not where rocket wants to go, then it's not the right tool for these applications.

Case 1: I have a production environment where there are a bunch of ad-hoc services which have been installed on various boxes by various developers.  I want to put all these in their own contain

[2015-03-16 09:30] alban commented on #551
It possible to "reboot" the container and keep the same UUID and the same filesystem by sending the signal [SIGRTMIN+15](http://www.freedesktop.org/software/systemd/man/systemd.html#SIGRTMIN+15) to the systemd process in the container:

[code]

It does not fully solve the use case though.

[2015-03-16 16:15] alban commented on #506
@iaguis and I managed to run the redis Docker container inside Rocket with the following command:.

[code]

We needed the following changes on the manifest:
[code]

Because Rocket does not use ``systemd-nspawn --private-net`` so CAP_NET_ADMIN is not automatically added by ``systemd-nspawn``.

The next error was:
[code]

It is because ``/dev/shm`` is not available for chrooted apps. Docker makes ``

[2015-03-16 21:15] jonboulle commented on #623
Nope, the appc image discovery is specifically designed to facilitate decentralised storage and retrieval of images, so organisations that produce containers are able to easily host them themselves and make them available to the public.

I am going to close this, but feel free to open an issue in the [appc repository](https://github.com/appc/spec/issues) if you would like to discuss further. Thank

[2015-03-16 21:15] #623 closed

[2015-03-16 21:44] gitmonster opened #629 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with rocket. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable rocket on @Sourcegraph by going to https://sourcegraph.com/github.com/coreos/rocket and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2015-03-16 22:31] philips commented on #629
It is difficult for us to manage the OAUTH access levels to give sourcegraph what it needs. If GitHub and Sourcegraph work together to make it easier for us we will enable it but until that happens I won't be enabling sourcegraph. Thank you.

[2015-03-16 22:31] #629 closed

[2015-03-17 03:25] philips commented on #547
@kofalt This should work now with the latest release:

[code]

[2015-03-17 03:25] #547 closed

[2015-03-17 03:27] philips commented on #547
I also fixed the docs: 66f2a64afc12ab8d7d2ac188a9cbe27fd8569805

[2015-03-17 03:37] philips commented on #624
I think it should work something like volumes work. So the ports exposed by the image are like the "mountPoints" and then we map the image ports to host ports at runtime "maybe via the pod".

[2015-03-17 03:39] jonboulle commented on #624
@philips yep that is the proposal in https://github.com/appc/spec/pull/244
fyi
Am 16.03.2015 20:37 schrieb "Brandon Philips" <notifications@github.com>:

[2015-03-17 07:15] blakelapierre opened #630 "signature verification for docker images is not supported (try --insecure-skip-verify) | flag provided but not defined: -insecure-skip-verify"
So, I tried to run a container off Docker Hub on Alpha (618.0.0):

    sudo rkt run docker:cloudlauncher/docker-hub-nginx-cache-proxy

This spits out:

    signature verification for docker images is not supported (try --insecure-skip-verify)

Ok, let's try:

    sudo rkt run --insecure-skip-verify docker:cloudlauncher/docker-hub-nginx-cache-proxy

Now I get:
[code]

Using a single dash (`-`) does

[2015-03-17 07:22] blakelapierre commented on #630
Looks like this is the correct call:

ginx-cache-proxy

Could be a bit more clear.

[2015-03-17 08:02] jonboulle commented on #630
Sorry about that, it is a bit of a known issue with flag parsing (see for
example https://github.com/coreos/rocket/pull/183).

In the not too distant future we will likely move to a better command line
library to clear this up.
Am 17.03.2015 00:23 schrieb "Blake La Pierre" <notifications@github.com>:

[2015-03-17 08:37] blakelapierre opened #631 "Docker images with CMD parameters with spaces"
Try to run:

    rkt --insecure-skip-verify run docker://cloudlauncher/discovery-etcd-nginx-proxy

And you'll get the error:

    nginx: invalid option: "off"

The image/container (not sure on what the nomenclature is here, are containers the thing that runs AND the thing that is sitting around waiting to be run?) was built with the Dockerfile:
[code]
https://github.com/cloud-launcher/discovery-et

[2015-03-17 08:42] blakelapierre commented on #630
Not too big of a deal, but did cause a WTF moment.

It would be nice to be able to use flags anywhere.

[2015-03-17 10:12] iaguis commented on #631
Thanks for the report! I fixed it in appc/docker2aci#30 so whenever we bump docker2aci it will work on rocket too.

In the meantime you can use docker2aci and run the generated ACI:

[code]

[2015-03-17 10:15] blakelapierre commented on #631
Awesome, thanks!

[2015-03-17 10:15] #631 closed

[2015-03-17 11:12] alban commented on #606
https://github.com/coreos/rocket/pull/626

[2015-03-17 17:05] alban commented on #389
I got ``coreos-flannel-0.3.0.aci`` from https://quay.io/repository/coreos/flannel?tag=0.3.0 with docker2aci. The aci required some changes before working and then we could start successfully a CoreOS cluster of 3 nodes in Vagrant with the following setup:
- Flannel running inside Rocket
- Busybox running inside Docker
- The 3 busybox containers on the 3 VMs are able to ping each other successfully

[2015-03-17 17:41] jonboulle commented on #631
@iaguis would you mind following up to bump the dep?

[2015-03-17 22:27] jonboulle commented on #606
Fixed by #626

[2015-03-17 22:27] #606 closed

[2015-03-17 22:33] jonboulle opened #632 "rkt: adopt CLI framework"
As touched on in #183 and #630 (and probably elsewhere), we should just evaluate and adopt a framework for the `rkt` CLI so we can provide a better and more consistent UX experience.

Two key suggestions so far have been:
- [go-docopt](https://github.com/flynn/go-docopt) (or [docopt.go](https://github.com/docopt/docopt.go)?), ports of the classic Python [docopt](http://docopt.org/)
- [coreos/cobra

[2015-03-17 22:33] jonboulle commented on #630
Closing this, opened #632 to track.

[2015-03-17 22:33] #630 closed

[2015-03-17 23:04] jonboulle commented on #25
@eyakubovich can you update/close this as appropriate?

[2015-03-17 23:07] jonboulle commented on #440
The environment variable support has landed in https://github.com/coreos/rocket/pull/597, and ports will be addressed in #624, moving to there.

[2015-03-17 23:07] #440 closed

[2015-03-17 23:08] jonboulle commented on #624
Capturing comment from #440:

[2015-03-17 23:15] jonboulle commented on #454
ACI rendering has landed (thanks sgotti!), so this should be resolved now.

[2015-03-17 23:15] #454 closed

[2015-03-17 23:27] jonboulle commented on #506
Fixed by #546

[2015-03-17 23:27] #506 closed

[2015-03-17 23:32] jonboulle commented on #471
A `rkt install` command landed in #588 but it does not yet encompass this particular behaviour.

[2015-03-18 00:36] bcwaldon opened #633 "fetch & unpack ACI rootfs to local FS"
I would like to be able to discover, download, verify and unpack a given ACI to a directory on my local filesystem. For example, an ACI with the following structure discoverable at `aci.example.com/foo`:

[code]

...could be securely unpacked into a local directory like this:

[code]

Usage options:

`rkt unpack <image> <output-dir>`  // default output-dir to cwd

`rkt unpack [-C <output-dir>] <im

[2015-03-18 00:42] jonboulle commented on #633
@bcwaldon why rkt and not actool?
Am 17.03.2015 17:36 schrieb "Brian Waldon" <notifications@github.com>:

[2015-03-18 00:44] bcwaldon commented on #633
@jonboulle I might be misinformed, but wouldn't `rkt` be necessary for the discovery & download piece? I could see this as an option: `rkt fetch aci.example.com/foo | actool unpack -C output/ /bin`

[2015-03-18 09:12] iaguis commented on #631
Sure: #635

[2015-03-18 14:33] alban commented on #389
@jonboulle @eyakubovich @iaguis : how can we automate the changes needed in the aci produced by ``docker2aci``? With @sgotti's [acido](https://github.com/sgotti/acido)?

[2015-03-18 15:19] jonboulle commented on #633
actool can perform discovery, it seems reasonable to me that it could also
perform the next step of retrieving the discovered artefact
Am 17.03.2015 17:44 schrieb "Brian Waldon" <notifications@github.com>:

[2015-03-18 15:50] alban commented on #13
@philips Since https://github.com/coreos/rocket/pull/626 is merged, running Dockerd inside Rocket works fine as long as the isolator "os/linux/capabilities-retain-set" contains ``CAP_NET_ADMIN``. The test was reported on [this issue](https://github.com/coreos/rocket/issues/506#issuecomment-81769185). The [dind](https://quay.io/repository/polvi/dind?tag=latest) aci was generated by docker2aci.

We

[2015-03-18 16:47] iaguis commented on #387
#636

[2015-03-18 17:22] bcwaldon commented on #633
@jonboulle sure, whatever you think is best

[2015-03-18 17:44] jonboulle commented on #631
Fixed in master.

[2015-03-18 18:46] jonboulle commented on #633
@philips y/n?

[2015-03-18 19:57] jonboulle commented on #43
Somehow this didn't get closed - fixed by #588 and already in 0.4.1

[2015-03-18 19:57] #43 closed

[2015-03-18 19:59] yifan-gu commented on #624
+1
@philips

[2015-03-18 20:03] philips commented on #633
@jonboulle @bcwaldon I am OK with this sort of feature. I can see people wanting to poke around at an image in the rocket CAS for debugging/inspection so putting it in rkt makes sense to me. `rkt unpack-image` or something?

[2015-03-18 21:06] #593 closed

[2015-03-18 21:14] jonboulle commented on #633
I think this is getting a bit muddled; IMO the feature _exactly as described in the OP_ is something sufficiently generic that it should be in upstream appc tooling. Something for "extracting" images from the Rocket CAS _also_ makes sense but is a slightly different request. I don't really care which is implemented (ultimately both are fine).

[2015-03-18 22:06] bcwaldon commented on #633
I don't think I care, either. I basically need a way to securely download an ACI from the internet and unpack it into a specific directory. I'm leaving implementation up to you dudes.

[2015-03-18 22:55] jonboulle commented on #615
@yifan-gu could you take a stab at fixing this?

[2015-03-18 23:00] jonboulle opened #638 "rkt: run dockerd"
As part of #13, it would be nice to be able to run dockerd from within a Rocket pod.

(thinking out loud), while dockerd is running under Rocket, we could mimic the Docker client on the host with something like `alias docker="rkt enter $RKT_DOCKER_UUID docker run $@"` or similar

Latest status from https://github.com/coreos/rocket/issues/13#issuecomment-83029561:

---
Since #626 is merged, running

[2015-03-18 23:17] jonboulle commented on #438
Note that when https://github.com/coreos/rocket/pull/634/files lands there are potentially two places to modify:
https://github.com/coreos/rocket/pull/634/files#diff-79cb1c68b8fe156975cc48378500204eR18
https://github.com/coreos/rocket/pull/634/files#diff-cae5adf28c5bfc1a0dd826a2f1313ac7R112

[2015-03-18 23:42] yifan-gu commented on #615
@jonboulle So what are the semantics we want?

manifest  | cmdline |  result
-----|-------|-----------------------
RO | RO | RO
RO | RW | RO ? RW?
RW | RO | RO ? RO?
RW | RW | RW

[2015-03-18 23:50] yifan-gu commented on #615
@jonboulle I think we can let RO overwrite RW, this feels safer for me... And I haven't find any use cases that will let RO be overwritten by RW yet. So I think I will go with this:

manifest  | cmdline |  result
-----|-------|-----------------------
RO | RO | RO
RO | RW | RO
RW | RO | RO
RW | RW | RW

Do you have any other concerns?

[2015-03-18 23:52] jonboulle commented on #615
This kinda ties in to the more generic question of the relationship between IM/cmdline/CRM. Essentially, today we have:
`IM --> cmdline --> CRM (execution)`
and in future (#294) we'll have:
`IM --> CRM (template) --> cmdline --> CRM (execution)`

My initial thinking is that each step is an opportunity for overrides, so cmdline options would always take precedence.

[2015-03-18 23:58] jonboulle commented on #389
I haven't really used acido but FWICT it doesn't help a huge amount here because it's based around Rocket specifically? I guess we could have a dead simple go app (using the appc/spec/schema libs) to extract + mutate the manifest inline? :-/

[2015-03-19 06:53] #25 closed

[2015-03-19 09:09] iaguis commented on #638
If you don't have aufs support enabled (debian has it by default) docker will try to use the devicemapper Storage Driver. This will not work because it uses loop devices which are not inside the container.

I could make it work with the overlay Storage Driver.

[2015-03-19 09:29] alban commented on #293
App level isolators: isolators based on cgroups cannot be modified from systemd in stage1 because cgroup knobs are mounted read-only, and changing that is a can of worms, see #576.

[2015-03-19 11:33] tlperkins commented on #440
Sweet!

[2015-03-19 15:53] alban commented on #615
I prefer to have the cmdline to be an override, rather than specifying a default. This would be:

manifest | cmdline | result
------------ | ------------- | -------------
RO | ``--volume name,kind=host,source=/`` | RO
RO | ``--volume name,kind=host,source=/,readonly`` | RO
RO | ``--volume name,kind=host,source=/,readwrite`` | RW
RW | ``--volume name,kind=host,source=/`` | RW
RW | ``--volume name,k

[2015-03-19 17:09] jonboulle commented on #615
@alban right, that is what I was proposing basically.
@yifan-gu thoughts?

[2015-03-19 17:10] jonboulle commented on #638
I think it is fine if we have to be a little more restrictive about what storage backends can be used running it inside Rocket; in CoreOS itself we can always rely on overlayfs

[2015-03-19 17:53] yifan-gu commented on #615
@jonboulle +1 for @alban
Let me update the #641

[2015-03-19 18:42] yifan-gu commented on #615
@alban @jonboulle
But I think we need to change appc, either change `readOnly` from `bool` to `*bool` or to `string`. Otherwise we cannot tell if its unset or false.

I updated the patch with change to `*bool`. But might prefer string personally. Want to hear your thoughts :)

[2015-03-19 18:49] jonboulle commented on #615
Er, I dunno, if it's a string then you need to implement a bool on top of it. What is wrong with *bool?

[2015-03-19 19:40] philips commented on #633
I have often times wanted Waldon's feature just to understand and debug WTF was going on with an image. So, it seems initially adding it to rkt WFM. I agree actool should have this "render-to-dir" functionality but adding it to rkt initially particularly for the CAS is useful.

[2015-03-19 19:42] philips commented on #600
One idea on nearly all of those flags is to simply render to a PodManifest and then check if it matches the expected Pod. Hopefully for all of those flags there is a 1-to-1 mapping of flag to PodManifest state.

[2015-03-19 20:37] yifan-gu commented on #615
@jonboulle Did the *bool

[2015-03-19 23:16] jonboulle opened #645 "rkt: export ACI from CAS"
Teasing apart #633 - to solve @bcwaldon's use case I propose that we add something like `rkt export`, which would extract an image from the CAS and render it to a specified directory/file.

Open questions:
- what should it be called?
- what should it be able to extract?
  - rootfs
  - complete ACI
  - image manifest
  - all of the above

[2015-03-19 23:16] jonboulle commented on #633
appc/spec#250 and #645

[2015-03-19 23:16] #633 closed

[2015-03-19 23:45] philips commented on #645
@jonboulle do you want me to write a fake doc or are you working on it?

[2015-03-19 23:46] jonboulle commented on #645
@philips Please do.

[2015-03-20 01:08] philips commented on #399
It seems like this is done then, right?

[2015-03-20 01:51] #615 closed

[2015-03-20 01:55] jonboulle commented on #399
I don't think so. I think the deliverables will be:
- [ ] `build-aci` script in `github.com/coreos/fleet`
- [ ] instructions for running it (probably in `github.com/coreos/fleet/Documentation/`?)

[2015-03-20 15:24] alban commented on #389
I wrote a simple go app named [acipatch ](https://github.com/endocode/acipatch) and it can patch an aci to add the missing capability in the isolator. I plan to add a way to add the missing mount points too: https://github.com/endocode/acipatch/issues/1.

[2015-03-20 15:32] iaguis commented on #399
I did some more research on this.

To make things clear, the goal is to run the fleet daemon inside the container. The daemon will talk to systemd on the host to start the services and so on.

Apart from what @alban said you'd also need to
* Mount `/run/fleet/units` so the host systemd can start them
* Inherit the environment to get `$FLEET_PUBLIC_IP`

After that you can start services with `fleet

[2015-03-20 17:05] bcwaldon opened #646 "rkt: enter without executing process"
I would like to be able to run `rkt enter` without executing a new process inside the container itself. I routinely have minimal containers with no `/bin/bash` that I need to get in and debug manually, but I cannot if `rkt enter` wants to execute a shell.

[2015-03-20 17:07] jonboulle commented on #646
are you talking about #602 ?

[2015-03-20 17:08] bcwaldon commented on #646
yep, dupe

[2015-03-20 17:08] #646 closed

[2015-03-20 19:57] philips opened #647 "rkt: run/prepare --set-env-file"
systemd has this really nice method of setting a number of environment variables from an "env file". Essentially it looks like a newline delimited list in the same format as the `--set-env` only via a file.

We should support something like this too. It will make it easy to consume things like etcd configuration which has a list of environment variables that need to be set and `inherit-env` might

[2015-03-20 20:17] vcaputo commented on #646
@bcwaldon I'm confused, what is it you want `rkt enter` to do upon entering the namespaces of the container if not execute something from within those namespaces?

It's not as if `rkt enter` can hand execution back to the calling process once it has been executed, it must either provide you with a shell itself if that's what you expect or run something provided by the container.

Your description

[2015-03-20 21:58] achanda opened #650 "Cannot enter a running container"
I just built rocket from HEAD. Now when I try to enter a container, I get an error:

[code]

[2015-03-20 23:26] alban commented on #602
I would like if ``rkt enter`` could mount a debug volume inside the contains with busybox, strace, gdb, etc. It could come from a debug.aci? I'm not sure where it would mount it though...

At the moment, my script copying busybox is enough, but it might stop working if the container gets read-only.

[2015-03-20 23:56] jonboulle commented on #650
What images are in your container? Until #602 is worked out, you'll need to
include a copy of bash in the container for `rkt enter` to work (or pass it
another executable that you want to run)

On Fri, Mar 20, 2015 at 2:59 PM, Abhishek Chanda <notifications@github.com>
wrote:

[2015-03-20 23:58] achanda commented on #650
@jonboulle I ran `sudo rkt run https://github.com/coreos/etcd/releases/download/v2.0.4/etcd-v2.0.4-linux-amd64.aci`. I guess what you said explains my situation.

[2015-03-21 00:27] #650 closed

[2015-03-23 17:18] jonboulle commented on #399
@iaguis I don't quite understand, `fleetctl` should only execute `systemctl` when it's being run remotely (`fleetctl status`/`ssh`), but `fleetd` itself just talks directly over DBUS. Can you give an example?

[2015-03-23 17:30] iaguis commented on #399
@jonboulle: after I run `fleetctl start hello.service` I can see that the service got started in one machine in the cluster but if I run `fleetctl list-units` I can't see any and if I run `fleetctl list-unit-files` I can see

[code]

and I can't stop the unit because fleet thinks it's not running...

So I was assuming that fleetd couldn't get the status of the units because it tried to run systemc

[2015-03-23 18:39] jonboulle commented on #399
That's symptomatic of the fleet agent not reporting state correctly. Can you check fleetd's logs?

[2015-03-23 19:22] dwalter opened #655 "keystore: error loading keyring fingerprint mismatch"
# wget https://github.com/coreos/rocket/releases/download/v0.4.2/rocket-v0.4.2.tar.gz
 # tar xzvf rocket-v0.4.2.tar.gz
 # cd rocket-v0.4.2
 # sudo ./rkt run https://github.com/coreos/etcd/releases/download/v2.0.4/etcd-v2.0.4-linux-amd64.aci
rkt: fetching image from https://github.com/coreos/etcd/releases/download/v2.0.4/etcd-v2.0.4-linux-amd64.aci
Downloading signature from https://github.com/core

[2015-03-23 19:54] dwalter opened #656 "rkt fetch: support proxy authentication"
# sudo ./rkt version
rkt version 0.4.2
appc version 0.4.0+git
 # sudo ./rkt fetch coreos.com/etcd:v2.0.4
rkt: searching for app image coreos.com/etcd:v2.0.4
Get http://coreos.com?ac-discovery=1: dial tcp: lookup coreos.com: No address associated with hostname

Working w/o proxy but fails with environment setup for proxy with user+password.

[2015-03-23 20:31] jonboulle commented on #655
I'm unable to reproduce this. What do you have in `/etc/rkt/trustedkeys/...` ?

[2015-03-23 20:54] vbatts commented on #544
this needs to tie back into https://github.com/coreos/rocket/pull/332 which was just merged.

[2015-03-23 20:54] jonboulle commented on #656
The default `ProxyFromEnvironment` stuff in the golang HTTP client doesn't support authorization out of the box, so it's not too surprising this doesn't work.

[2015-03-23 21:21] philips commented on #656
@dwalter Can you give me an example environment variable that you want to work? I am assuming you have some proxy that works like: `https://username:password@internal-proxy.example.com`?

[2015-03-23 22:31] vcaputo commented on #655
if #657 lands and you can readily reproduce this it would be helpful to see the `gpg -v /keyfile/from/etc/rkt/trustedkeys` output and the improved `fingerprint mismatch` error message.

[2015-03-23 23:41] jonboulle commented on #223
@sgotti would you mind confirming that this can be closed out, or is there other stuff remaining?

[2015-03-24 00:43] philips commented on #655
@dwalter #657 landed in master, could you please test with the latest master?

[2015-03-24 01:49] philips commented on #539
@alban Hrm, that is rather annoying. So, systemd requires an /etc/passwd be created?

[2015-03-24 06:44] alban commented on #539
Yes, it requires it for non-root users.

But I should investigate whether ``systemd-sysusers`` helps us here. Some discussions about booting without /etc/passwd:

http://0pointer.net/blog/projects/stateless.html

[2015-03-24 06:51] alban commented on #539
I just noticed this paragraph: "in addition to fully dynamic, and fully static UID/GID assignment for the users to create, it supports reading UID/GID numbers off existing files in /usr"

[2015-03-24 09:27] sgotti commented on #223
@jonboulle No other stuff remaining. I hope it satisfies the @philips original idea.

[2015-03-24 14:59] iaguis opened #660 "rkt: /etc/resolv.conf doesn't get populated"
When running containers with rocket, `/etc/resolv.conf` doesn't get populated so name resolving doesn't work.

[Systemd-nspawn](http://cgit.freedesktop.org/systemd/systemd/tree/src/nspawn/nspawn.c?id=48861960acbdf93000087bbf546b6589778fb460#n1231) copies it from the host but it doesn't reach stage2.

Some questions:
* Should we copy/bind-mount the file from stage1 in every case (even with private-

[2015-03-24 16:54] philips commented on #660
@iaguis I was thinking about this today; perhaps we define some well-known OS volumes in the OS-SPEC. For example `appc.io/linux/etc/resolv.conf`or something would provide a mountpoint for an appropriate resolv.conf and `appc.io/linux/etc/hosts` would provide an appropriate etc hosts file?

[2015-03-24 18:47] jonboulle commented on #660
https://github.com/appc/spec/issues/144

[2015-03-24 20:24] philips commented on #616
@eyakubovich Has any progress been made on this? It is currently in the milestone for 0.5.0, this week.

[2015-03-24 20:24] philips commented on #592
@eyakubovich Has any progress been made on this, it is set for v0.5.0, this week.

[2015-03-24 20:27] philips commented on #294
@jonboulle This is now unblocked! Is anyone working it? The idea is to run from a JSON pod manifest given on the command line instead of a list of images, right?

[2015-03-24 20:51] eyakubovich commented on #616
@philips I didn't see that it was for 0.5. I haven't made progress on this. I'll move it to 0.6