[2016-11-13 20:48] wmark commented on #2183
Friendly ping.

To add a specific use-case: This is handy for distributing large-ish parameter files for **zcash**. The corresponding image is architecture-independent, and a second dependency to the actual (arch-dependent) daemon.

[2016-11-14 12:36] lukasredynk opened #3370 "glide: packages under CNI dependency stanza listed twice"
From glide.yaml:
[code]

Under "cni" dependency packages are listed twice, looks like merge issue.

[2016-11-14 14:21] #3203 closed

[2016-11-14 14:22] TerraTech commented on #894
@philips Will this give rkt fetch the same type of behavior that docker provides with:
```docker daemon --registry-mirror=http://mirror.example.com:5000```

We run an internal registry mirror, mostly because rktnetes is a bit aggressive with its downloads (especially those tagged 'latest'), so we cache as much as we can in an effort to be good netcitizens.

I tried to rkt fetch from our internal v

[2016-11-14 15:58] lucab commented on #3327
Perhaps we can already start shipping runc in stage1 (ie. cherry-picking https://github.com/squeed/rkt/commit/3360a59a64a7eb3797ef7deeea5fd3b56358489a), how big is the size increase?

[2016-11-14 18:30] #3370 closed

[2016-11-14 19:22] tusharkarkera opened #3373 "machined is not registering"
**Environment**

rkt Version: 1.8.0
appc Version: 0.8.4
Go Version: go1.5.4
Go OS/Arch: linux/amd64
Features: -TPM
--
Linux 4.7.0-coreos x86_64
--
NAME=CoreOS
ID=coreos
VERSION=1122.2.0
VERSION_ID=1122.2.0
BUILD_ID=2016-09-06-1449
PRETTY_NAME="CoreOS 1122.2.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"
--
systemd 229
+PAM +AUDIT

[2016-11-14 19:23] achanda commented on #3373
Note that the above k8s cluster was started using Openstack Magnum, which uses the scripts here https://github.com/openstack/magnum/tree/master/magnum/drivers/k8s_coreos_v1/templates/fragments

[2016-11-14 19:30] euank commented on #3373
I believe the above pods are all using `stage1-fly`. `stage1-fly` does not support machined registration as far as I know.

[2016-11-14 19:31] achanda commented on #3373
Thanks @euank . What's the best way to look at logs of individual apps in this case?

[2016-11-14 19:39] euank commented on #3327
I guess the benefit of that would be that we can allow people to choose runc with older CoreOS stage1s if all other code changes don't require additional stage1 changes and if we expect this to be used as part of stage1-coreos.

I think that it makes more sense to create a `stage1-runc`, even if it duplicates lots of `stage1-coreos`. If we do that, I dont' see any benefit in shipping the runc bina

[2016-11-14 19:45] euank commented on #3373
`stage1-fly` just dumps on stdout/stderr as any other process would. That means that if it's run as a systemd unit, its logs will be picked up by journald and you can use the normal `journalctl -u kubelet.service` or `journalctl -u flanneld.service` commands you'd use for any other systemd daemon.

[2016-11-14 20:51] tusharkarkera commented on #3373
Thank you @euank I do see the logs using journalctl.

[2016-11-14 22:01] lucasallan commented on #3326
I can work on this. Let me know.

[2016-11-14 22:09] grep-stripe commented on #3326
There is at least _some_ likelihood that I could work on this in the next 2-4 weeks. Don’t let me impede progress if someone can take this on, however.

[2016-11-15 06:00] jaohaohsuan opened #3375 "some errors while running kubelet with rkt fly stage1"
**Environment**
Rkt version: 1.14.0
Docker version: 1.11.2
Hyperkube: v1.4.6
[code]

**What did you do?**

I am running kubelt with official /usr/lib/coreos/kubelet-wrapper on coros 1185.3.0.

**What did you see instead?**

[code]
The errors shows repeatedly. It looks like cgroup tree problem.
Anyone can help ? or I just avoid the errors? Thanks :)

[2016-11-15 09:11] #3355 closed

[2016-11-15 09:34] lucab commented on #3326
I'd suggest @lucasallan to go ahead on this, if he has some free time slots for it at the moment. I guess @grep-stripe could be helpful for reviewing/testing then :)

[2016-11-15 10:01] lucab commented on #3375
The double `/system.slice/kubelet.service/` seems a bit strange here, but I'm honestly not sure what's going on. @pbx0 @euank perhaps have better ideas here?

[2016-11-15 10:36] lucab commented on #3327
The idea is to start from stage2, replacing systemd-unit properties with runc + runtime-spec. This applies to all stage1 and won't require a new flavor. We will probably introduce a `stage1-runc` flavor at a later point if/when we plan the switch from systemd-nspawn to runc for pod setup.

[2016-11-15 11:37] s-urbaniak commented on #3326
@grep-stripe @lucasallan This overlaps with the work around distribution points I am doing in #3369, so let me take this to reduce merge-complications :-)

[2016-11-15 12:12] kurojishi commented on #2571
if this issue has been closed shouldn't this be updated https://github.com/coreos/rkt/blob/master/Documentation/distributions.md#debian

[2016-11-15 12:23] lucab commented on #2571
@kurojishi definitely, you are right. Would you like to send a PR for amending that doc? We'll gladly take it.

[2016-11-16 12:23] lucab opened #3378 "appc->oci: get rid of docker2aci"
As part of OCI, we will need to get rid of docker2aci conversion when handling OCI, importing them directly.

Current plan is to adopt the [c/image library](https://github.com/containers/image) for fetching and storing it in its native format.

[2016-11-16 12:51] lucab opened #3380 "Investigate restart policy and mutable pods by default"
As app-sandbox matures, we should investigate what's needed to make pods mutable by default. This is possibly coupled with supporting a more advanced per-pod restart policy directly in rkt, as needed by Kubernetes.

[2016-11-16 14:30] jaohaohsuan commented on #3375
I try to run `rktnetes` way and the errors still pop out :(
[code]

[2016-11-16 14:39] s-urbaniak commented on #3375
I don't see that you specify `--container-runtime-rkt` in the kubelet-wrapper. This maybe not related to rktnetes at all?!

[2016-11-16 15:02] jaohaohsuan commented on #3375
@s-urbaniak
I just try another way(rktnetes) to test what different `container-runtim` between Docker and rkt to make sure what cause the errors.

[2016-11-16 16:22] lucab opened #3382 "kvm: too low thread limit"
I haven't fully debugged where the value is coming from, but (as of rkt 1.19.0) the current  thread/proc limit on kvm is too low:
[code]

This results in a very low thread/proc limit on systemd-pid1 itself:
[code]

This in turn results in occasional fork/clone failures, eg. during a daemon-reload. This was spotted while writing the CRI tests at https://github.com/coreos/rkt/pull/3371.

[2016-11-16 16:26] lucab commented on #3382
/cc @jjlakis @lukasredynk @grahamwhaley @sameo

I'm currently disabling the CRI smoke test on kvm. The `threads-max` value used to be correlated with RAM value, but changing lkvm doesn't seem to influence it here.

[2016-11-16 17:46] euank commented on #3375
I know we're aware of some transient errors related to systemd cgroups (in or out of kubelet-wrapper). This looks like a different error than the ones related to systemd units vanishing and causing such false alarms though.

All the same, these errors should be safe to ignore. cadvisor only needs to track pods, and the fact that it watches every cgroup it can find and noisily reports errors even i

[2016-11-16 19:59] euank commented on #3368
As long as we continue using systemd-nspawn, a small subset of functionality might not work.

Specifically of note, mingling host and non-host pid namespacing in a pod, and shared bindmounts both would not work as expected I believe.

Do we have ideas for what to do there? Presumably ditch nspawn eventually, but any other options worth thinking about?

[2016-11-16 22:48] benjumanji commented on #1305
Can I ask a bone-headed question? If the rpm on the release page works, which doesn't touch the host systemd, why does "packaging for centos" require this potentially world-ending systemd upgrade? I ask because I desperately would like to use rkt, and our clients are all on rhel7. Are doing something nuts when we just used the released rpm? The current docs are a bit confusing and the "not product

[2016-11-17 07:27] lucasallan commented on #2669
can I work on it?

[2016-11-17 07:50] s-urbaniak commented on #2669
@lucasallan that'd be great, thanks!

[2016-11-17 09:37] lucab commented on #3368
Along those lines, some more issues we are aware of:
 * /proc and /sys RW access (but there is some good progress at https://github.com/systemd/systemd/pull/4395)
 * hardcoded seccomp filters (eg. [this](https://github.com/systemd/systemd/blob/master/src/nspawn/nspawn-seccomp.c#L64) will block further keyring manipulation by runc)

Current approach is to patch systemd-nspawn to make those bits con

[2016-11-17 10:58] benjumanji commented on #1305
#3263 I think I understand. This is about using centos 7 to build rkt, which is needed so thatit can be part of "real" centos packaging, but if you just need a rkt install the released rpm is fine. I think that will work for me.

[2016-11-17 11:09] lucab commented on #1305
@benjumanji right, proper distribution builds are self-contained, so they need to have a newer packaged systemd in order to use it for building rkt stage1. But this is a mostly build-dependency problem, not a runtime one.

[2016-11-17 20:37] dansteen opened #3385 "rkt image gc will remove images for *running* containers"
**Environment**
[code]

**What did you do?**

[code]
let that run, and in a different shell
[code]

**What did you expect to see?**

I expected rkt to consider images with still running containers to still be "in use", and to not clean them up.

**What did you see instead?**

rkt bases its "in use" metric off the last time a container was *started* off that image and deletes images with still runn

[2016-11-17 21:14] dansteen opened #3386 ""last used" metric in rkt image list is not updated"
**Environment**
[code]
**What did you do?**
[code]
**What did you expect to see?**

I expecte the "last used" field in the output of `rkt image list` to be updated

**What did you see instead?**
It was not:

[code]

[2016-11-17 21:50] dansteen opened #3387 "`rkt image gc` does not consider prepare and run_prepared as having been used"
**Environment**
[code]
**What did you do?**
[code]
**What did you expect to see?**

I expected rkt to not remove the images that had `prepare` and `run_prepared` run against them within the last 2 minutes.

**What did you see instead?**

rkt does not consider `prepare` and `run_prepared` as having been "last used" and deletes them.

[2016-11-18 08:36] lucab commented on #2369
@trusch if you are still interested in this https://github.com/coreos/rkt/pull/3384 just landed, so you can just proceed using the conversion functions from there.

[2016-11-18 11:00] #2922 closed

[2016-11-18 16:38] lucab commented on #3385
@dansteen thanks for the report. You are right, the name is definitely misleading as the timestamp is taken from the DB and it is updated at pod starting time. As there is no daemon doing realtime book-keeping for us, image gc/list don't know about currently running pods.

This is not a problem for the treestore, as it knows about running apps from their treestoreid (to be checked: what about non-

[2016-11-18 16:47] lucab commented on #3386
See https://github.com/coreos/rkt/issues/3385#issuecomment-261577894 for a full explanation of this. I think we may do two things here:
 * rename "last used" to "last started"
 * add some kind of flag for images involved in a running pod, eg. "xxx ago - running" for textual output and and a bool "running: true" for JSON

@dansteen as this is mostly a UX issue, are your ok with the proposed fix? Am

[2016-11-18 16:49] lucab commented on #3387
See the explanation at https://github.com/coreos/rkt/issues/3385#issuecomment-261577894. This seems to me a duplicate of that, linked to the same root cause. Am I missing something or may I just close this @dansteen?

[2016-11-18 17:58] dansteen commented on #3386
@lucab thanks for the reply!  yeah, I think that this one really is mostly UX.   I think changing it to "last started" would remove the confusion.

[2016-11-18 18:02] lucab commented on #3386
Ack, thanks. I'm keeping this open to track the `image list` UX part.

[2016-11-18 18:03] dansteen commented on #3387
@lucab thanks for the reply!

I'm not sure if this is the same issue or not.   I would assume that the `prepare` command would create all the resources needed for a pod.  In that case, I don't understand why it doesn't update the `last used` field currently (since, per you're comments in #3385 , it's using that to determine the value).  But then, I'm really just making assumptions :-)

[2016-11-18 18:09] lucab commented on #3387
You are right, I mixed things up and forgot some bits there. It looks like the "last used" field is indeed not correctly updated under some circumstances. This is is somehow related to rendering and overlay, as I didn't see this happening when using `--no-overlay`. My guess is that we always update it when rendering, but we somehow take shortcuts for the overlay case and forgot to update the DB. I

[2016-11-19 20:18] namsral opened #3390 "Error calling sd_pid_get_unit in stage1 with Docker image"
**Environment**

[code]

**What did you do?**

Run Docker image using rkt:

[code]

Run Docker image using rkt from systemd-run:

[code]

**What did you expect to see?**

I expected the Docker image to be active and running using the systemd-run and rkt combination.

**What did you see instead?**

[code]

[2016-11-20 13:53] s-urbaniak commented on #2158
rkt-in-rkt basically works using #3389, and https://github.com/systemd/systemd/pull/4395 when invoked as follows:

[code]

It reveals the following process tree:

[code]

Overlay in the inner container doesn't work though (needs investigation).

[2016-11-20 13:58] s-urbaniak commented on #2158
The proc, and sys mounts in the container now are as follows:

[code]

[2016-11-20 17:54] s-urbaniak commented on #2158
When running the container with overlay (aka overlayfs-over-overlayfs), I get the following error which needs investigation:

[code]

[2016-11-20 19:55] s-urbaniak commented on #2158
Regarding the overlay-over-overlay problem, I see the following kernel log entry:

[code]

The kernel docs https://www.kernel.org/doc/Documentation/filesystems/overlayfs.txt say:

[code]

Since `/` in the outer container is mounted on an overlay filesystem the above constraint is not satisfied.

There are several possibilities which work:

1. Start the outer container using the `--no-overlay` opti

[2016-11-20 22:02] wmark opened #3391 "rkt defaults and/or tutorial neglects outgoing connections, leaves beginners lost"
This is about usability, documentation, and barrier of entry. Which, I feel, is currently unintuitive, mismatched, and too high for the beginner who already learned Docker. I suggest:

* Have *rkt* configure more *iptable rules* by default. Especially given `*filter \n :FORWARD DROP`
* And/or improve the documentation, especially the supplied tutorial. There is too much in it, but not enough to mo

[2016-11-21 09:38] lucab commented on #3391
Thanks for the report @wmark, we appreciate user feedback on docs!

This report is quite dense and I think it touches multiple topics, so I'll try to further split it below here.

**Additional routing**

You are following here a section called "*Container networking on a Vagrant VM*". Unless you are also trying this in a local VM (it doesn't look like) this won't apply to your case. Which is proba

[2016-11-21 09:42] lucab commented on #3390
I think @s-urbaniak was already tracking down a similar regression, which should be related to cgroups. If I remember correctly, this appeared around 1.16. I'm however surprised that this broke under systemd-run; are systemd units affected as well?

[2016-11-21 09:43] s-urbaniak commented on #3390
@namsral can you check if systemd-machined is running, i.e. by issuing `systemctl status systemd-machined`?

[2016-11-21 09:46] lucab commented on #3327
@squeed can you please upstream https://github.com/squeed/runc/commit/9f7d0a5e5e96bf665dcd73a32273e6a9d551a554?

[2016-11-21 09:47] namsral commented on #3390
I can confirm the container service is running.

Output of `systemctl status systemd-machined`:

[code]

[2016-11-21 09:55] namsral commented on #3390
@lucab systemd unit are also affected.

[2016-11-21 09:56] s-urbaniak commented on #3390
Ahh, I rechecked if this really was the same error (I have to correct the commit message in the r/w PR), and it is not! I got `error calling sd_pid_get_owner_uid` which is different from what we see here.

The `util.IsRunningSystemd` already passed successfully, and the reported error in this issue originates from `util.CurrentUnitName()` inside stage1/init: https://github.com/coreos/rkt/blob/mast

[2016-11-21 09:59] #3344 closed

[2016-11-21 10:49] lucab commented on #3390
@namsral I just tried on a debian testing and on a coreos alpha, and it looks like I'm not able to reproduce the issue locally, so we may need a couple more information from your side:
 * the output of systemd-cgls
 * the content of `/run/systemd/system/<unit>.service.d/50-Slice.conf`
 * does it work if you remove `--slice=machine`?
 * can you check if 1.15 works?

[2016-11-21 10:51] lucab opened #3392 "fly: enter should honor uid/gid/supp-gid"
Following up on https://github.com/coreos/rkt/pull/3377#discussion_r88637292. Whenever we enter into a running fly chroot, we should honor user and group details as specified when running the app.

[2016-11-21 10:53] lucab opened #3393 "fly: enter should honor env variables"
Following up https://github.com/coreos/rkt/pull/3377#discussion_r88636830. stage1-fly run should write env information, so that enter can set them back and also ensure that there is a sane $TERM set.

[2016-11-21 10:53] #2957 closed

[2016-11-21 11:30] namsral commented on #3390
Q: the output of systemd-cgls
A: See https://gist.github.com/namsral/c535fd258ddf94c272c4824244065986

Q: the content of /run/systemd/system/<unit>.service.d/50-Slice.conf
A: From the container mentioned the OP:

[code]

Q: does it work if you remove --slice=machine?
A: No, same error

Q: can you check if 1.15 works?
A: The container runs with rkt v1.15 despite the same error:

[code]

[2016-11-21 12:12] jonboulle commented on #2158
@s-urbaniak this is on a modern kernel? thought it was fixed in https://github.com/coreos/rkt/issues/1537 (which we call out in README.md)

[2016-11-21 12:14] s-urbaniak commented on #2158
@jonboulle this is kernel `4.8.8` (running Arch)

[2016-11-21 12:16] s-urbaniak commented on #2158
i.e. the test from https://github.com/coreos/rkt/issues/1537#issuecomment-145478517 fails with the above message.

[2016-11-21 12:20] s-urbaniak commented on #2158
Note that this is another error message "not supported as upperdir" vs. "No such device or address"

[2016-11-21 12:23] jonboulle commented on #2158
OK, I suggest closing this out and adding a caveat + follow-up issue for nested overlay (also README note might need a tweak?)

[2016-11-21 12:57] jonboulle opened #3394 "docs: update known logging issues"
The copy added in https://github.com/coreos/rkt/pull/2954/files needs an edit to reflect that https://github.com/coreos/etcd/issues/6799 landed, and now we have a better suggestion here

[2016-11-21 19:23] squeed commented on #3327
Opened runc PR 1199

[2016-11-21 19:57] philips commented on #3204
xref #3292

[2016-11-21 20:03] philips opened #3397 "Documentation: add docs on docker image pull by digest"
Pulling by digest works but we should update the docker image doc and remove the "insecure" flag if user is pulling by digest: https://github.com/coreos/rkt/issues/2313#issuecomment-256589420

This is the doc to update: https://github.com/coreos/rkt/blob/master/Documentation/running-docker-images.md

[2016-11-22 10:07] lucab commented on #3390
Confirming that this regression was introduced in 1.16.0. PR 3032 [dropped](https://github.com/coreos/rkt/pull/3032/files#diff-cae5adf28c5bfc1a0dd826a2f1313ac7L694) the fallback case for the error that @namsral is hitting. https://github.com/coreos/rkt/pull/3389 is doing some cleanup around that code, we'll likely re-introduce the fallback once that is merged.

However, I'm failing to reproduce th

[2016-11-22 10:11] #3326 closed

[2016-11-22 10:41] namsral commented on #3390
The 4.8.0 kernel is available at http://kernel.ubuntu.com/~kernel-ppa/mainline/v4.8/.

[2016-11-22 10:43] euank opened #3398 "CRI: "cannot find corresponded volume for mount" error after adding images with volumes"
**What did you do/see?**

[code]

**What did you expect to see?**

Neither of those errors.

[2016-11-22 11:03] lucab commented on #3382
For reference, this affects both lkvm and qemu. I also have a strong feeling that the "stop" non-deterministic test failures in https://github.com/coreos/rkt/issues/3091 are due to this.

[2016-11-22 11:14] grahamwhaley commented on #3382
Hi @lucab (I'm now back at desk...) Thanks for the info - I'll go track down where those values come from and report back here.

[2016-11-22 11:45] lucab commented on #3382
Thanks @grahamwhaley. I did some code reading the other day, here are the references I collected while at it:
 * pid1 rlimit set in [fork_init()](http://lxr.free-electrons.com/source/kernel/fork.c#L303)
 * threads-max handled via [set_max_threads()](http://lxr.free-electrons.com/source/kernel/fork.c#L278)
 * [MAX_THREADS](http://lxr.free-electrons.com/source/kernel/fork.c#L100) definition

However

[2016-11-22 11:50] lucab commented on #3398
/cc @squeed

[2016-11-22 14:22] bogdando commented on #1149
Note, docker allows to control mount propagation mode per volume, see https://github.com/docker/docker/pull/17034

[2016-11-22 22:03] euank opened #3402 "rkt list --format inconsistent behaviors"
1. `--format=tabbed` should work. Right now, `--format=asdf` does not print a pretty error.
2. error reporting/handling is different. e.g
[code]
3. `format=json` can have null entries (e.g. in the case above, an entry is null). This seems unexpected to me.

[2016-11-23 09:39] #3367 closed

[2016-11-23 09:55] lucab commented on #3211
Closing as it seems to have disappeared in the meanwhile. It can be re-opened if we get further evidence.

[2016-11-23 09:55] #3211 closed

[2016-11-23 10:01] lucab commented on #3257
Remaining blockers removed after https://github.com/appc/spec/pull/673 and https://github.com/coreos/rkt/pull/3384, this now needs the implementation bits in rkt itself.

[2016-11-23 10:04] lucab commented on #1799
All blockers for this should be now gone. Tracking implementation progress at https://github.com/coreos/rkt/pull/3396.

[2016-11-23 11:14] TerraTech commented on #2113
I just ran into this tonight with docker://influxdb where only port 8086 is exposed, yet the admin port 8083 is not exposed.

[2016-11-23 18:47] squeed opened #3408 "Use runc as the stage2 execution environment [phase 1]"
We are going to move away from using systemd as our "isolation engine" for stage 2 execution in favor or runc:

STEPS:
- [ ] Get runc integrated in the build process
- [ ] Generate a `config.json` file from the pod manifest
- [ ] Write a lightweight unit file
- [ ] Make sure cgroups, other tunables are writable

[2016-11-23 18:48] squeed commented on #3327
This experiment was successful - I'm closing this in favor of a more focused PR, #3408

[2016-11-23 18:48] #3327 closed

[2016-11-23 20:32] ErnestG4 opened #3409 "Feature Request: Pull based on architecture / Variable base image."
Basically as you're likely aware, there's not much out there by way of docker arm (let alone power8 or arm64!) images. This situation could even be said to suck. But we in the land of Linux containers we see suck, like hypervisors, and set keyboards to kill.

Anyway.

Why not automatically mutate base images to follow the architecture. Here's the most common example:

Billy is on Linux/AMD64. He h

[2016-11-23 20:49] ErnestG4 commented on #3409
RE: https://coreos.zendesk.com/agent/tickets/11927
User: faddat@gmail.com

[2016-11-23 20:51] namsral commented on #3390
Same issue with kernel 4.6.7, my server must be jinxed!

http://kernel.ubuntu.com/%7Ekernel-ppa/mainline/v4.6.7/

[2016-11-23 22:24] lucab commented on #3390
I'm postponing this investigation a bit as it seems pretty much specific to the mixed environment described above. @namsral can you see if it is reproducible with the stock kernel?

Also paging @martinpitt: is there something special when combining Xenial kernel and mainline kernel from PPA which can make `sd_pid_get_unit()` cgroup detection failing under systemd-run?

[2016-11-23 23:04] namsral commented on #3390
Also, same issue with older stock kernel 3.13.0-35-generic.

[2016-11-24 06:38] #3258 closed

[2016-11-24 06:43] #3402 closed

[2016-11-24 06:50] s-urbaniak commented on #3245
still WIP, hence bumping to the next release.

[2016-11-24 06:54] s-urbaniak commented on #3228
@lucab this fell under the radar, but we should fix this and evaluate the proposed workaround (Feel free to assign this to me, unless someone else should tackle this).

[2016-11-24 06:56] s-urbaniak commented on #3167
@euank Is this still something we need in the context of CRI/rktlet work? De-milestoning for now, since I am unsure if we actually need the functionality.

[2016-11-24 06:57] s-urbaniak commented on #3134
stil WIP, hence bumping

[2016-11-24 07:35] s-urbaniak commented on #2694
#3245 should land in v1.21.0 (with systemd v232), hence bumping.

[2016-11-24 07:36] s-urbaniak commented on #1756
@euank ping, do you think we have a chance to land this in the next release?

[2016-11-24 07:55] s-urbaniak commented on #1537
Reopening the issue since newer kernel (needs bisection) enforce restrictions on the upperdir (, and workdir) not to be on an overlayfs itself, see https://github.com/coreos/rkt/issues/2158#issuecomment-261800957.

I.e. overlay-over-overlay mounts on newer kernels (at least >=4.8.8) fail with the https://github.com/coreos/rkt/issues/1537#issuecomment-145478517 example with the folowing error messa

[2016-11-24 08:00] #2158 closed

[2016-11-24 10:22] lucab commented on #3409
This is not trivially feasible with rkt at the moment. The reasons are rooted quite deep into architectural design, thus I'm marking as won't fix as it requires a complete overhaul of the stage0/stage1 interface, which we are not doing anytime soon.

To be a bit more explicit, these are the design bits that need to be changed to run non-matching stage0/stage1 architectures:
 * stage0 assumes that

[2016-11-24 10:36] lucab opened #3411 "CRI: app-rm should clean mountpoints"
app-rm doesn't clean mounpoints (custom volumes and ancillary stage1 mounts) on removal. This means that mounts always accumulate in a pod and past mount namespaces are kept alive by stage1 helper processes. This also causes issues similar to https://github.com/coreos/rkt/issues/1922 on older kernels.

Technically, this can be reproduced by running a full add/start/stop/rm cycle:
[code]

and then

[2016-11-24 11:50] blalor commented on #2158
Should running rkt in a rkt container work in 1.19.0 with --no-overlay, now?  I'm still running into a couple of different problems when trying it on CentOS 7 with kernel 4.8.9 (mlkernel from elrepo).  I looked at the issues closed on the v1.20.0 milestone for actual code changes related to running rkt in rkt, but nothing stood out to indicate this shouldn't now work with 1.19.0.

Based on @s-urba

[2016-11-24 12:17] jonboulle commented on #1537
@s-urbaniak perhaps a new issue for that one?

[2016-11-24 12:49] s-urbaniak commented on #2158
@blalor The corresponding PR didn't land yet in `master`, it will land in v1.21.0.

[2016-11-24 12:55] jonboulle commented on #2158
@s-urbaniak but this issue is against 1.20.0?

[2016-11-24 13:06] s-urbaniak commented on #2158
@jonboulle whoops, you are right, let me reassign this issue to v1.21.0, it is still pointing to the initial target release, and I will also create a follow-up issue regarding overlay.

[2016-11-24 13:06] s-urbaniak commented on #1537
@jonboulle ok, I will close this then, and create a dedicated issue.

[2016-11-24 13:07] #1537 closed

[2016-11-24 13:18] s-urbaniak opened #3414 "Investigate overlay-over-overlay mounts for rkt-in-rkt use cases"
https://github.com/coreos/rkt/pull/3389 will add read/write support for `/sys` and `/proc`. This opens the door for using rkt-in-rkt. Nevertheless we have one outstanding issue for a seamless integration, namely launching the inner container still fails with:

[code]

This is because the kernel doesn't like the inner upperdir to be on a overlay filesystem, see https://www.kernel.org/doc/Documentat

[2016-11-24 22:31] lorddaedra opened #3416 "Errors in rkt gc output"
**Environment**

Any versions of Rkt on Ubuntu (output from Rkt v.1.20.0)

**What did you do?**

I use rkt gc to clean vps from old containers

**What did you expect to see?**

Output without errors

**What did you see instead?**

[code]

This is how I run them:
[code]

[code]

I see this errors every time I use gc on different VPS'es, but I did not see  them as something important..

But may be I

[2016-11-25 06:24] trusch commented on #3416
I think you could remove this stuff by hand, but this is not a "fix", it's
just a workaround.

BTW: is there a good reason for you to explicit pull docker images from
quay.io? They handle docker to aci conversions on the fly, so there is no
need to do this.

Lord Daedra <notifications@github.com> schrieb am Do., 24. Nov. 2016, 23:31:

[2016-11-25 08:01] lucab commented on #3416
@lorddaedra thanks for the report. Can you please provide more information regarding your setup? Which Ubuntu release, kernel version and systemd version are there? Is systemd-machined installed and running? Are there other rkt/docker/systemd-nspawn containers running when you perform a gc? Can you please paste the output of `systemd-cgls` and `rkt list` just before your manual gc run?

[2016-11-25 08:40] lorddaedra commented on #3416
@trusch It's not something critical for me, all things works fine, but I see that errors every time I use rkt gc every version and may be developers forgot or do not know about this bug.. So I opened this issue ...

quay.io?

Yes, I tried to do that some months ago, it was bugged on quay.io side, containers did not started (I forgot, which of them: it can be 1 or several from this list: python3-al

[2016-11-25 09:59] squeed commented on #3416
I think I've seen this happen too. Let me see if I can reproduce it.

[2016-11-25 11:49] grahamwhaley commented on #3382
Digging into this some more, changing the RAM values in `stage1/init/kvm/resources.go` does effect the value you get in the runtime - *but* - due to the, err, quirks of the make system, if you just do a modification and rebuild, then those do not turn up in the relevant aci afaict :-(

Just for example:

Clean build:
And in build dir, ```md5sum `find . -type f -name init` ```

[code]

`touch stage

[2016-11-25 14:49] grahamwhaley commented on #3382
Just to add more info, extending the memory on the command line also works for me. This:

```sudo ./rkt --debug --stage1-path=./stage1-kvm-lkvm.aci run --insecure-options=all  docker://debian --memory=1G --exec /bin/bash --interactive```

Gives me (still with the 512 in the resources.go) ~1.4G in `free` and 11417 in `thread-max`, for both `lkvm` and `qemu` runs.

[2016-11-25 15:15] lucab commented on #3382
Ah, I overlooked this. I'd guess that some stamp files are not properly setup for kvm init.

Then with stop and CRI tests we hit pathological cases, as the pod start with either one or no app, thus 128(+128) MB of RAM, thus a very low thread-max setting and an even lower nproc limit on pid1.

For the short term I think we should bump the `systemMemOverhead` and ensure that VM are always spawned wi

[2016-11-25 15:53] lucab commented on #3416
@lorddaedra is there a reason why those properties are set on the unit?

[code]

This seems to be root cause of your issues, as it results in some processes be left around in the cgroup thus making it impossible to be cleaned up. All those `/usr/lib/systemd/systemd` shouldn't be there.
Can you please remove those settings from all your units, start from a fresh boot and see if the gc issue is stil

[2016-11-25 16:30] lucab commented on #1204
Fixed by #3205.

[2016-11-25 16:30] #1204 closed

[2016-11-25 18:15] grahamwhaley commented on #3091
@lucab I tried to force this to happen locally by shrinking the memory for kvm - no luck so far (but I will try a little more). I went to have a look at the semaphore link above, but it is 404 for me - maybe it has expired... can you give me a very brief description of they core symptom (whilst I get used to decoding the test fails) - is it a hang up and timeout?

[2016-11-26 04:46] lorddaedra commented on #3416
I added it because of

(from https://uwsgi-docs.readthedocs.io/en/latest/ThingsToKnow.html )

[ and uWSGI 2.1 still in beta without any public versions ]

I think, I should add --die-on-term to uwsgi in CMD in Dockerfile...

Not sure completely but it helped me to restart and stop container much faster...
Anyway with ```--die-on-term``` it should work now...

I will test it soon and post results h

[2016-11-26 06:44] lorddaedra commented on #3416
Okay, I changed this lines (replaced `KillSignal=SIGQUIT` in concord and byvshie .service files to  `--die-on-term` in CMD for byvshie and concord projects in their Dockerfile's and removed `KillMode=mixed` in byvshie, concord, byvshie-nginx and concord-nginx .services files)

For now I saved `KillMode=mixed` for both postgresql services but removed in other .services. (I do not understand complet

[2016-11-28 14:07] squeed opened #3419 "Replace stage1 arguments with pod annotations"
Now that `app sandbox` and `app add` are different commands and entrypoints, we need to be able to access these stage1 CLI parameters in different processes.

So, we need to move at least some of the [cli params](../tree/master/Documentation/devel/stage1-implementors-guide.md) to annotations. So, let's just move them all.

## Proposed API
Any argument in the form of `--name=value` will be replaced

[2016-11-28 14:28] squeed commented on #3408
This depends on #3408

[2016-11-28 14:40] squeed commented on #3408
This depends on #3419 -- working on that now.

[2016-11-28 18:46] squeed commented on #3419
Upon further discussion, I'm closing this. I'm going to leave the API as-is.

[2016-11-28 18:46] #3419 closed

[2016-11-28 21:34] blalor opened #3422 "rkt pod hostname missing from /etc/hosts"
**Environment**

[code]

**What did you do?**

[code]
**What did you expect to see?**

The rkt pod hostname (`rkt-3d000125-3ef1-4be3-ac47-fcbbaca2faac`) in `/etc/hosts`.

**What did you see instead?**

[code]

[2016-11-28 22:21] blalor commented on #3422
This behavior worked in v1.14.0:

[code]

[2016-11-28 22:28] lucab commented on #3422
/cc @squeed

[2016-11-29 01:04] euank opened #3423 "CRI: racyness between app sandbox and app add with mounts"
**Environment**

rkt v1.20.0

**What did you do?**

[code]

**What did you expect to see?**

Exit 0 within a short while

**What did you see instead?**

Sometimes it exits successfully, but about 20% of the time on my computer I get:

[code]

[2016-11-29 01:07] euank commented on #3423
cc @squeed

[2016-11-29 01:17] euank commented on #3423
I also sometimes get "error executing stage1 entrypoint: stage1: error creating propagate mountpoint: open /run/systemd/nspawn/propagate/rkt-d1a43ce0-44e3-41c9-8a43-eff37774264c/rkt.mount: is a directory" but I can't figure out a reliable repro for that one. It seems like it could be related though!

[2016-11-29 01:22] euank commented on #3167
I'm okay with leaving this de-milestoned for now.

We should probably have a discussion about the fate of api-service in another issue and/or the next community meeting.

[2016-11-29 16:33] lucab commented on #3411
Fixed by #3371.

[2016-11-29 16:33] #3411 closed

[2016-11-29 23:25] euank commented on #2943
My pet theory for this one is that it's expecting [here](https://github.com/coreos/rkt/blob/7eac694ddaafdfe336b152d83eff018020c0cd1e/tests/rkt_net_test.go#L115-L124) "I see 'serving on' and then a Get works"

... while in reality the server component [prints "serving on"](https://github.com/coreos/rkt/blob/7eac694ddaafdfe336b152d83eff018020c0cd1e/tests/testutils/httputils.go#L45-L68) before it nec

[2016-11-30 02:47] euank opened #3428 "CRI: sandbox should have `--hosts-entry` option"
Per the title, I think we have the other important networking knobs, but that one was missed it looks like.

This should be a low hanging fruit.

cc @squeed

[2016-11-30 08:48] s-urbaniak commented on #3245
Reopening this issue since we are still blocked on the systemd backport: https://github.com/coreos/systemd/pull/71

[2016-11-30 10:54] s-urbaniak commented on #2943
We already [opened a socket](https://github.com/coreos/rkt/blob/7eac694ddaafdfe336b152d83eff018020c0cd1e/tests/testutils/httputils.go#L35) before we [print "serving on"](https://github.com/coreos/rkt/blob/7eac694ddaafdfe336b152d83eff018020c0cd1e/tests/testutils/httputils.go#L45-L68) so I guess that is why you can't reproduce it.

[2016-11-30 10:57] s-urbaniak commented on #2943
I am also tempted to assert that there is another element in the puzzle causing the "connection refused" error, as we are definitely listening on the socket before we print "serving on".

[2016-11-30 11:49] grahamwhaley commented on #1917
Hi.
 I'll see if we can narrow in on this, get more details, and a fix. It is a long standing known issue with 9pfs afaik. We have seen it in the 01org/cc-oci-runtime#47 for instance, and there are some fixes in https://github.com/01org/qemu-lite/commit/e92ce82614409b7e640db5c43fa42207f4b9ff62

And, I think there is probably more than one 9pfs bug in this area. In 01org/cc-oci-runtime#152 you can

[2016-11-30 12:37] squeed commented on #2943
This particular test has some unnecessary goroutines. I'm going to de-parallellize it and see if that helps.

[2016-11-30 16:49] #3428 closed

[2016-11-30 17:08] squeed commented on #3408
I have runc building (though it always rebuilds). I'm working on some small init cleanups now.

[2016-11-30 19:35] s-urbaniak opened #3431 "stage1-host: systemd-nspawn (v232) wrongly returns error code on success"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

[code]

**What did you expect to see?**

A shell

**What did you see instead?**

[code]

Note that it works using `--stage1-path=/usr/lib/rkt/stage1-images/stage1-coreos.aci`

I see the same in https://github.com/coreos/rkt/commit/dd9cbd1c63956c5bd13a3d35d66f42e7d3bb6f21 (current master) using the host flavor:

[code]

[2016-11-30 19:39] s-urbaniak commented on #3431
Side-note: with the current update to systemd v232 on Arch Linux using the stock community rkt package fails, because it uses the host flavor by default.

[2016-12-01 09:11] #3423 closed

[2016-12-01 10:46] lucab commented on #3431
It doesn't seem to fail under debian (testing, with systemd-v232).
What does `/usr/bin/systemd-nspawn --version` says?

[2016-12-01 11:52] s-urbaniak commented on #3431
[code]

The `stage1: cannot get environment` output seems suspicious.

[2016-12-01 13:03] s-urbaniak commented on #3431
I found the issue, systemd-nspawn --version returns with exit code 1 on
Arch, don't ask me why.

On Thu, Dec 1, 2016, 12:52 PM Sergiusz Urbaniak <notifications@github.com>
wrote:

[2016-12-01 13:26] lucab commented on #3431
Confirmed that it returns 0 on success on Debian. Disto-patching?

[2016-12-01 14:33] s-urbaniak commented on #3431
forget what I just wrote ;-) we are printing this error.

I just found that `systemd-nspawn --version` (at least on my Arch system) returns with exit code 1 :-/

[code]

[2016-12-01 14:34] s-urbaniak commented on #3431
I'll recheck Arch's `PKGBUILD` and try to find out why systemd-nspawn is behaving like this here.

[2016-12-02 06:22] s-urbaniak commented on #3431
(as expected) Arch uses a pretty vanilla upstream systemd v232 https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/systemd.

I recompiled locally systemd on tag v232 and can confirm that `systemd-nspawn --version` exits with code 1.

[2016-12-02 09:42] lucab commented on #3431
It looks like a real systemd v232 regression: https://github.com/systemd/systemd/issues/4605.

[2016-12-02 10:55] squeed opened #3438 "Default and Default-restricted networks can collide IP addresses"
The CNI host-local allocator maintains separate per-cni-network stores. This means that if two networks share the same IP space, their allocations are still independent and can conflict.

So, it's very possible that `--net=default` and `--net=default-restricted` containers can collide on IPs. This is causing the test failures in #2943.

We need to change the subnet for `default-restricted`. Howeve

[2016-12-02 12:27] lucab commented on #3091
@grahamwhaley semaphore logs get garbage collected after a while, but the full log is above. The main failure is:
[code]

Which means that the lvkm process on the host is still running for some reason (it holds a pod lock, thus the pod is still marked as running). My initial guess is that `systemctl halt` in the VM is failing, perhaps due to the thread limit above.

However I also realized that th

[2016-12-02 13:21] grahamwhaley commented on #3091
@lucab Right - I've been trying to figure out if the still running/locked status was maybe just because the timeout was too short. I did some experiments with semaphoreci on my repo clone and saw timeouts of upto 2s so far, but have more investigation to do. I was going to ask if we might just want to bump the timeout up and try it, but was going to gather some more info first. So, let's see how t

[2016-12-02 14:27] s-urbaniak commented on #3431
Filed as https://bugs.archlinux.org/task/52029 in the Arch bug tracker.

[2016-12-02 14:38] #2943 closed

[2016-12-02 14:38] #3438 closed

[2016-12-02 15:43] squeed opened #3441 "Builds should cache downloads somewhere outside the build directory"
I have to remove the build directory often enough - builds should cache downloaded artifacts somewhere outside of it.

I'm looking at you, kvm and coreos flavors.

[2016-12-02 15:48] squeed commented on #3422
Oh, good catch.
This does however present us with a problem - when using --hosts-entry=host, then we bind-mount the hosts's /etc/hosts in to the container. I doubt we want to edit /etc/hosts on the host.

[2016-12-02 15:51] blalor commented on #3422
seems like you could either copy and modify the host's `/etc/hosts` (which would cause it to go out of sync…) or just not include the container's hostname if that option is provided (as is the case when `/etc/hosts` exists in the container image).

[2016-12-02 17:21] lucab commented on #3431
Backport for CoreOS Linux at https://github.com/coreos/systemd/pull/72.

[2016-12-02 18:52] euank commented on #3422
I'd vote for `--hosts-entry=host` implying that neither the hostname is added.

It's already special in that it conflicts with any other `--hosts-entry` flags, and making it more special in this way makes sense to me at least.

[2016-12-04 20:55] n0rad opened #3444 "rkt fetch and run are slow"
[code]

fetch and run preparation use to be slow, and is getting slower with each version but we see a bump with few latest version.
I don't have numbers there, but we use to work with aci dependencies of ~200Mb, ending with a 1Gb rootfs and comparing 1.20 to what we remember on version ~1.0 is very different.

Now specifically on version 1.20, using dgr that is importing 2 small aci at each build

[2016-12-04 22:30] n0rad commented on #3444
With a simple dgr init image.
There is no dependencies but still importing 2 small aci to build.

rkt 1.20: sudo dgr build  4.22s user 0.57s system 32% cpu 14.776 total
rkt 1.15: sudo dgr build  3.84s user 0.55s system 33% cpu 13.081 total
rkt 1.13: sudo dgr build  4.11s user 0.54s system 38% cpu 12.035 total

It's even more visible with complex build with dependencies on stage1 and aci built, but

[2016-12-05 02:18] SamYaple commented on #1149
I have recently been looking back into running openstack with rkt instead of docker (as part of the Kolla project). Mount propagation using the "shared" flag is a required feature to make that a reality.

The specifics for that are explicitly for neutron-{l3,dhcp}-agent creating network namespaces. If they propagate back to the host ("shared") then the container can be safely restarted. If not, th

[2016-12-05 02:25] SamYaple commented on #3158
I have recently been looking back into running openstack with rkt instead of docker (as part of the Kolla project). Obviously, running libvirt is a must and this issue is of great interest to me.

Excluding libvirt, _sharing_ pid namespaces between containers is also important. For example, running ceph-osd with ipv4 in a container currently requires all ceph-osd processes to be in the same pid na

[2016-12-05 02:27] Quentin-M commented on #3158
@SamYaple You might be interested in seeing the way we do it for https://github.com/stackanetes/stackanetes (fully working OpenStack on rkt + Kubernetes)

[2016-12-05 02:29] Quentin-M commented on #3158
The rkt team have implemented several features and fixed many issues in rkt over the past months to actually get OpenStack running fully on rkt. This is one of the remaining points that we'd like to have but it is currently worked around.

[2016-12-05 02:31] SamYaple commented on #3158
Not to side track from this @Quentin-M , but I dont quite follow how this is "worked around". [1]
If I understand what thats doing, that means the nova-libvirt container cannot be restarted without the instances dying? Is that correct?

[1] https://github.com/stackanetes/stackanetes/blob/master/nova/templates/compute/libvirt.yaml.j2#L108

[2016-12-05 02:35] Quentin-M commented on #3158
@SamYaple They definitely can. libvirt [uses](https://github.com/stackanetes/stackanetes/blob/master/nova/templates/compute/libvirt.yaml.j2#L10) rkt stage1-fly. `/sys` is mounted [by default](https://coreos.com/rkt/docs/latest/running-fly-stage1.html) automatically.

[2016-12-05 02:37] SamYaple commented on #3158
Ok thanks @Quentin-M I will look into this. I appreciate the link! Then no hard blocker to proceed.

[2016-12-05 10:19] monder opened #3445 "question: rkt fly mounts"
**Environment**
[code]

**What did you do?**

With the new wrappers, [`etcd-wrapper`](https://github.com/coreos/coreos-overlay/blob/f8a9284a4507238d17562227c018a70c14da3098/app-admin/etcd-wrapper/files/etcd-wrapper) in particular, it runs `etcd` with `--stage1-from-dir=stage1-fly.aci` (BTW, I dont understand why exactly `fly` is required here, shouldn't it work with regular `stage1`? But thats not

[2016-12-05 12:18] lucab commented on #3445
`stage1-fly` doesn't have any pod isolation, thus all operations are performed directly on the host. This includes mounts, which are performed in the host mount namespace. When the fly app terminates, the mount is kept alive by other processes in the same namespace (ie. all the other host processes). As there is no long running daemon, the proper way to clean up leftovers (including mounts) is via

[2016-12-05 13:18] monder commented on #3445
Alright, thank you for clarification.

[2016-12-05 13:18] #3445 closed

[2016-12-05 13:28] lucab commented on #3445
@monder you welcome. If you think that some wrappers may need adjustments (eg. they mess on restart) feel free to open tickets for them against coreos/bugs.

[2016-12-05 13:29] s-urbaniak commented on #3245
The backport unfortunately didn't make it in this Alpha release (see https://github.com/coreos/systemd/pull/71#issuecomment-264225712), but should be present in the next one scheduled on 12/15, hence bumping to the next release.

[2016-12-05 16:03] s-urbaniak commented on #3237
The problem is within systemd-nspawn. We are (correctly) determining the subcgroup path `/docker/8e4aba3023650f4ac449874be6b68106517c5afd4ef9c70fe92901d8db523458/machine-rkt\\x2d2f96bb50\\x2d2138\\x2d4151\\x2d921d\\x2daa48e2f50093.scope` (example) without double entries.

This path is passed to [nspawn-cgroup.c#chown_cgroup](https://github.com/systemd/systemd/blob/v232/src/nspawn/nspawn-cgroup.c#L

[2016-12-05 16:07] SchwarzM opened #3447 "kubelet-wrapper mounts wrong ca-certs directory"
**Environment**
rkt Version: 1.14.0
appc Version: 0.8.7
Go Version: go1.7.1
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL

Linux 4.7.3-coreos-r2 x86_64

NAME=CoreOS
ID=coreos
VERSION=1185.3.0
VERSION_ID=1185.3.0
BUILD_ID=2016-11-01-0605
PRETTY_NAME="CoreOS 1185.3.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

systemd 231
+PA

[2016-12-05 16:29] lucab commented on #3447
It looks like a problem in the kubelet-wrapper script. It seems to have been fixed by https://github.com/coreos/coreos-overlay/pull/2205, but I'm not completely sure what is the first coreos-linux release this landed in. I'm quite confident beta channel (1235.1.0) already ships with the fix.

/cc @crawford

[2016-12-05 16:33] SchwarzM commented on #3447
wooops ... thanks ...

[2016-12-05 16:33] #3447 closed

[2016-12-05 20:18] crawford commented on #3447
@lucab it was introduced in [1214.0.0](https://coreos.com/releases/#1214.0.0).

[2016-12-05 22:00] euank opened #3448 "rkt data directory with a ':' character fails"
**Environment**

Tested with master (1.20.0+gitee6fa9d1) on my laptop and and 1.18.0 on CoreOS

**What did you do?**

`rkt --dir "/tmp/test:1"  run docker://busybox --exec=ls --insecure-options=image --debug`

**What did you expect to see?**

Success

**What did you see instead?**

[code]

I don't think this is an urgent issue necessarily since the work around, of not having unusual characters in

[2016-12-05 22:23] euank opened #3449 "rkt: possible to race between 'stop' and 'rm'"
Rkt version: current master (`1.20.0+gitee6fa9d1`)

**What did you do?**

[code]

**What did you expect to see?**

`rm` succeeding immediately as soon as the `stop` call returns, or `rm` recognizing that it could wait a brief moment and be able to remove it.

**What did you see instead?**

The above.

--------------------

I haven't dug into this yet, but it seems plausible to me that `rkt stop` s

[2016-12-06 09:12] s-urbaniak commented on #3237
Note to myself: I have been wondering why this error does not happen in our rkt-in-rkt example, when started like in https://github.com/coreos/rkt/issues/2158#issuecomment-261779646.

The reason is that in the rkt-in-rkt case we are already accounting the inner container's subcgroup path:
[code]

Note that in the rkt-in-rkt case the subcgroup already contains the "double" subcgroup, including the

[2016-12-06 09:46] kushaldas commented on #2206
Do we have any update on this issue?

[2016-12-06 09:49] lucab commented on #3449
I'm probably missing some pieces, but isn't `rkt status --wait` already a solution for that?

[2016-12-06 11:00] lucab commented on #3448
It looks like we are missing an escaping step for `:` and `,` in there:
[code]

[2016-12-06 11:19] lucab commented on #3237
Pinging @euank, as I think he has some insights on what's going wrong here.

[2016-12-06 16:20] squeed commented on #3368
This is in progress, but will not be released in time for this release.

[2016-12-06 18:27] achermes opened #3454 "`rkt run` fails on Windows 10-hosted Fedora, `unable to find interpreter for /lib64/ld-linux-x86-64.so.2`"
**Environment**
Fedora image running inside a Windows 10 host via Oracle Virtualbox (Version 5.1.10 r112026 (Qt5.6.2))

***Host***: Windows 10 64-bit

`systeminfo` output:

	Host Name:                 <redacted>
	OS Name:                   Microsoft Windows 10 Enterprise
	OS Version:                10.0.14393 N/A Build 14393
	OS Manufacturer:           Microsoft Corporation
	OS Configuration:

[2016-12-06 18:28] achermes commented on #3454
This was the issue I ran into during the `coreOS` workshop @s-urbaniak

[2016-12-06 18:52] lucab commented on #3454
It looks like SELinux may be breaking it mid-way, see https://github.com/coreos/rkt/blob/master/Documentation/distributions.md#caveat-selinux.

[2016-12-06 22:35] euank commented on #3449
Yup, I just checked and throwing a `status --wait=true $(cat /tmp/rkt_uuid)` in there indeed resolves the race.

I forgot about that flag, thanks for the reminder 🙇

[2016-12-06 22:35] #3449 closed

[2016-12-06 22:45] achermes commented on #3454
I think you hit the nail on the head - though the instructions in the workshop from `install-rkt.sh` include a `setenforce 0` (https://github.com/s-urbaniak/rkt-workshop) this apparently did not take the first time, as `sestatus` showed:

[code]

I ran `sudo setenforce 0` again to set permissive mode (confirmed with sestatus) and was then able to `rkt run` my nginx container.

So, going to close t

[2016-12-06 22:45] #3454 closed

[2016-12-06 23:04] euank commented on #3454
@achermes a properly packaged rpm for Fedora should fix this, and that can be tracked over in #1304

[2016-12-07 01:39] jonboulle commented on #3368
@squeed what is the progress? is there something we can checkpoint or put up a preliminary PR?

[2016-12-07 06:06] kushaldas commented on #1734
Can anyone tell what exactly needs to be done in Fedora to have this working?

[2016-12-07 08:28] euank commented on #3237
It looks like that cgroup actually does end up in `/proc/$pid/cgroup` for some pid, and that's where it gets that from (not building it badly by concatting).

[code]

One thing that's interesting to note is that the open is for "/proc/$pid/cgroup". I don't think rkt ever reads a file at that path (only at "/proc/self/cgroup"), so we can point the finger at nspawn.

It might be worth trying to repr

[2016-12-07 08:50] euank commented on #3237
Actually, the workaround that I should have thought of first does work. `docker run -v /sys/fs/cgroup:/sys/fs/cgroup --privileged -it --entrypoint=sh debian:jessie`  + `rkt --no-overlay --insecure-options=image run docker://busybox  --exec=ls` seems to work.

I assume that using the power of being a privileged container, unmounting the cgroupfs and remounting the host's would accomplish the same w

[2016-12-07 09:13] lucab commented on #3237
I guess the 1:1 cgroup mapping may be the missing step here, as I see it is silently performed by the docker-in-docker [ad-hoc wrapper](https://github.com/jpetazzo/dind/blob/a8f223257bd6b12889008782151a572d6d00feb2/wrapdocker#L27) too.

[2016-12-07 13:54] lucab commented on #3391
For reference, the "Default PTP and DNS" task is being addressed in https://github.com/containernetworking/cni/pull/334. All the other comments/questions stay.

[2016-12-07 13:59] lucab commented on #3431
Retitled and de-milestoned as this isn't our bug. Keeping this open in case any arch user steps into here in the meanwhile. Please close once the arch bug is fixed.

[2016-12-07 14:00] lucab commented on #3158
Still blocked waiting for systemd v232 and also pending proper investigation/testing. Bumping a couple of releases further.

[2016-12-07 14:05] lucab commented on #3349
https://github.com/coreos/rkt/pull/3371 addressed most of it. Further checks will come via integration testing from the rktlet.

[2016-12-07 14:14] #3349 closed

[2016-12-07 16:21] grahamwhaley commented on #1917
Quick update. It looks like just the qemu patch from qemu-lite as referenced above is enough to fix apt-get. Currently the qemu.mk does not have the ability to apply patches, so I'll graft that into the build system and do significantly more testing.
@lucab - is it possible for you to add me to this project so I can assign this item to myself etc.?

[2016-12-07 17:24] jonboulle commented on #1917
@grahamwhaley I've added you to the org

[2016-12-07 19:05] onlyjob opened #3456 "1.17.0+: Container failed with error code 226."
Hoping to get some help... Something introduced in 1.17 broke _rkt_ on Debian -- my "hello world" container terminates as follows:

[code]

It is not a regression in 3rd party libraries as 1.16 works perfectly when re-built with the same libs.
I tried 1.17.0, 1.18.0, 1.19.0 and 1.20.0 and they are all fail. I'm not sure how to troubleshoot...
Please advise.

[2016-12-07 19:41] philips commented on #3408
@squeed does this need to be moved to in-progress then? https://github.com/coreos/rkt/projects/4

[2016-12-07 19:45] euank commented on #3237
@lucab the current recommendation for docker-in-docker is `docker:dind` which doesn't have any of that hackery though; that script is just how you did it back when docker had blocking bugs for doing it vanilla.

[2016-12-07 20:59] lucab commented on #3456
This is unfortunately a regression in systemd (init) v232, backporting this in rkt should be enough to fix: https://github.com/coreos/rkt/pull/3418/commits/3d46ff4013b3367994e06e981dd62455ec84b8ca

[2016-12-07 21:07] euank commented on #3456
Hmm, we've hit that error in our CI [here](https://github.com/coreos/rkt/pull/3453#issuecomment-265306083) and I thought it was a flake..

@lucab You're referring to #2956, right?

[2016-12-07 21:37] lucab commented on #3456
@euank no, IMHO those are three different issues. https://github.com/coreos/rkt/issues/2956 is on systemd <231, while Debian at the moment has v232. The bug here should be related to https://github.com/systemd/systemd/pull/4594 (`Protect*` appeared in v232). CI seems to be a flake, I haven't yet managed to reproduce it.

[2016-12-07 21:52] onlyjob commented on #3456
@lucab, thank you so much! Everything works after applying 3d46ff4 on top of 1.20.0. I'll upload updated package in few minutes. :)

[2016-12-07 21:52] #3456 closed

[2016-12-07 21:56] lucab commented on #3456
@onlyjob glad to hear that. Sorry but I didn't think about CC'ing you in that PR. By the way, 1.21.0 is being tagged tomorrow.

[2016-12-07 22:41] #3398 closed

[2016-12-07 23:03] lucab commented on #3237
My bad, I didn't realize the repository I linked was stale and the image source is now somewhere else.

[2016-12-08 04:59] blalor commented on #2870
Is an actual fix being worked on for this?  Sort of just looks like test fiddling.  I'm trying to use a post-stop event handler to save data from a job, but ran into this problem, where it's getting killed before it can finish.  Any suggestions on a workaround?

[2016-12-08 06:42] onlyjob commented on #3456
@lucab, no worries. Without your hints I'm not sure I could recognise importance of your PR. :)
So far 1.20.0 builds everywhere but on _[s390](https://buildd.debian.org/status/fetch.php?pkg=rkt&arch=s390x&ver=1.20.0%2Bdfsg-1&stamp=1481152206)_. If everything goes well I should be able to upload 1.21.0 tomorrow or over the weekend. Cheers! :)

[2016-12-08 10:06] squeed commented on #2870
We do indeed have a fix for this - as part of the transition to runc as our stage2. Experimental support should be coming on or about version 1.22.

[2016-12-08 11:28] squeed commented on #3368
There is a prelim PR here - #3457 - failing due to a random CI issue.

[2016-12-08 15:33] s-urbaniak opened #3461 "Implement rkt status --wait-ready=<timeout>"
Capturing the discussion from https://github.com/kubernetes-incubator/rktlet/issues/21#issuecomment-264842608.

rkt needs a `rkt status --wait-ready=<timeout>` subcommand which internally polls the `/rkt/supervisor-status` file for presence.

This is needed to fix https://github.com/kubernetes-incubator/rktlet/issues/21.

[2016-12-08 17:46] chancez opened #3463 "Installing deb package inside rkt fly fails due to security label"
**Environment**

[code]

**What did you do?**

core@core-01 ~ $ sudo rkt run --stage1-from-dir=stage1-fly.aci --insecure-options=image docker://debian:jessie --exec=/bin/bash -- -c 'apt-get update && apt-get install -y libasan1'
Get:1 http://security.debian.org jessie/updates InRelease [63.1 kB]
Get:2 http://security.debian.org jessie/updates/main amd64 Packages [421 kB]
Ign http://deb.debian.org

[2016-12-08 19:04] jonboulle commented on #3463
Does this only affect fly?

[2016-12-08 19:26] slallema commented on #3463
yes
I have the same issue and same workaround, it doesn't affect the default stage1.

[2016-12-09 01:02] euank commented on #1756
Whatever the original error was seems to have gone away. The current issue with naively running that command is that since 1.7.0, rkt by default will mask paths including `/sys/fs`. Simply adding `--insecure-options=paths` gets it working for me on my box.

[code]

Also, the original choice of including a dockerfile layer to add volumes isn't really necessary:

[code]

I'm not sure when or how thi

[2016-12-09 01:42] chancez commented on #3422
I believe docker simply copies the hosts /etc/hosts into the container, then adds the container specific info into /etc/hosts for that use-case. Bind mounting anything from the host unless its explicitly from a --volume flag seems wrong to me.

[2016-12-09 01:54] euank commented on #3422
@chancez with `--net=host` it does not add the container's hostname; it creates an unmodified copy of the hosts's /etc/hosts file iirc.

When `--net=host`, the `/etc/hosts` file inside the container isn't derived from the host's /etc/hosts, again iirc.

[2016-12-09 01:58] euank commented on #3422
@squeed I think we should pick this up for the next release since it's a regression with some impact. Were you planning on addressing it?

[2016-12-09 02:25] chancez commented on #3422
I was responding to this basically:

I'm saying, I think it probably shouldn't bind mount, and but it should copy the host's /etc/hosts file into the container. I was assuming container's hostname info was added regardless, but that seems to be not the case based on what you're saying (although it seems like it would be smart).

[2016-12-09 07:15] jingxu97 opened #3465 "question about rkt garbage collection failure"
**Environment**

rkt Version: 1.18.0
appc Version: 0.8.8
Go Version: go1.7.1
Go OS/Arch: linux/amd64
--
Linux 4.4.21+ x86_64

**What did you do?**
We use rkt fly to start a container to run mount command so that the mount from container can be seen by the host because rkt fly uses the Mount propagation modes. Because of this, all the mounts on the hosts will also be mounted to the container which

[2016-12-09 09:28] lucab commented on #3465
Can you please past the command (or unit file) you use to launch the fly pod, and the output of `cat /proc/1/mountinfo` when GC fails?

What you are seeing is possibly pretty much similar to https://github.com/coreos/bugs/issues/1612 and https://github.com/coreos/rkt/issues/3228#issuecomment-249320705. Due to full (bi-directional and recursive) propagation, you can end up with stacked layers of ne

[2016-12-09 09:30] h0tbird commented on #1756
Adding `--insecure-options=paths` did the trick for me. Thank you @euank!

[2016-12-09 11:28] h0tbird commented on #1756
...but a few configuration changes later, the error reappeared. After adding the `--insecure-options=paths` I decided to start the *Rkt* API service in order to register *cAdvisor* with the *Rkt* factory. For the same reason I added a new bind mount for `/var/lib/rkt`. My new systemd units are:

[code]

[code]

[2016-12-09 16:06] waisbrot opened #3466 "Improve vague error: "run: discovery failed""
I'm interested in a better error message that would have saved me some debugging headache.

**Environment**

rkt Version: 1.11.0
appc Version: 0.8.5
Go Version: go1.5.4
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL

--

Linux 4.7.0-coreos x86_64

--

NAME=CoreOS
ID=coreos
VERSION=1122.1.0
VERSION_ID=1122.1.0
BUILD_ID=2016-08-11-0252
PRETTY_NAME="CoreOS 1122.1.0 (MoreOS)"
ANSI_COLOR="1;32"
HOME

[2016-12-09 16:15] lucab commented on #3466
Hi, thanks for the report and sorry for the pain :(

Do you mind sharing the whole execution output and possibly also a `--debug` run to better pinpoint where that is coming from?

[2016-12-09 16:51] waisbrot commented on #3466
The machine in question is no longer broken, so I tried to reproduce to reproduce on a VM with the network interfaces turned off. Running `rkt run quay.io/coreos/flannel` in the shell, I see the output

[code]

That's not as bad as when it was bothering me -- I was only spotting the last line in journalctl. I'd still like for any output from rkt to be clear on a line-by-line basis whether it's com

[2016-12-10 00:20] euank commented on #3181
Pinging this issue since I was reminded of it over here https://github.com/coreos/coreos-kubernetes/pull/768#discussion_r91809201 and it still has real impact.

I think we should definitely make non-fly stage1s not unshare mounts during rm (and that's an easy / not very scary fix).

[2016-12-10 16:37] abrodersen opened #3470 "Error code 226 when trying to rkt run a container"
**Environment**

[code]

**What did you do?**

`sudo rkt run --debug --interactive quay.io/coreos/alpine-sh`

**What did you expect to see?**

A shell running inside a container.

**What did you see instead?**

[code]

[2016-12-10 18:08] lucab commented on #3470
See https://github.com/coreos/rkt/issues/3456.

This is unfortunately a regression in systemd (init) v232, asking your distribution to upgrade to 1.21.0 or backporting this in rkt 1.20.0 should be enough to fix it: 3d46ff4.

[2016-12-10 19:44] s-urbaniak commented on #3431
Fixed upstream https://bugs.archlinux.org/task/52029#comment153365, hence closing.

[2016-12-10 19:44] #3431 closed

[2016-12-10 19:46] s-urbaniak commented on #3470
rkt v.1.21.0 should land very soon in Arch. Until then you can start your container using:

`$ sudo rkt run --stage1-path=/usr/lib/rkt/stage1-images/stage1-coreos.aci --debug --interactive quay.io/coreos/alpine-sh`

as a workaround, which uses the coreos flavor with an included systemd v231 instead of the host systemd v232.

[2016-12-10 19:54] s-urbaniak commented on #3470
Good News! rkt v1.21.0 landed literally a few hours ago :-)

Please update your system, closing for now.

[2016-12-10 19:54] #3470 closed

[2016-12-12 04:33] euank commented on #3465
I suspect the "device or resource busy" error could be related to #3465.

Are any of the `rkt fly` pods bindmounting `/var/lib` or `/var/lib/rkt`?

If so, it's very likely that issue. Manually unmounting the bindmounts that were unshared can work around it, but it's not an easy nor good workaround.

[2016-12-12 13:11] squeed commented on #3408
Current status: It's working, though it's not nearly complete - see #3457.
The basic TODOs:

- Hide behind an experimental switch
- Replace functionality in `prepare-app`
- Figure out if we need to remount cgroups readonly in the stage1 or not
- Bind mounts
- Consider switching from the systemd cgroup driver
- seccomp filtering

[2016-12-13 00:46] euank opened #3472 "CRI: unit failing leads to undesirable sandbox failure"
Basically, if a unit fails in a CRI app sandbox, it can trigger the whole pod shutting down. That's not what I'd expect.

In addition, when it exits in this way, the `reaper.sh` script fails to talk to systemd to get the exit code, so it ends up leaving behind a blank status file which leads to a couple other small breakages.

**Environment**

Current rkt master at the time of writing

rkt Version

[2016-12-13 02:36] euank opened #3473 "journald appears to be stripping trailing spaces"
This was reported against systemd in the past https://github.com/systemd/systemd/issues/98.

This matters for asserting on the output of a rkt pod.

It's easy enough to work around and #1799's non-journald-logging options will certainly not suffer from this problem I expect.

This still seems like something that could be a gotcha.

**Environment**

rkt master at the time of writing
`1.21.0+git6b38

[2016-12-13 09:04] ista-samanta commented on #2151
I would like to have IPv6 support as well. On the other hand it's looks AWS has launched IPv6 for all in general -- [](https://aws.amazon.com/blogs/aws/new-ipv6-support-for-ec2-instances-in-virtual-private-clouds/)
Now, we should support IPv6 by default just like Docker.

[2016-12-13 13:59] s-urbaniak commented on #3472
I think we have two issues here. One is that currently the sandbox fails as soon as one of the contained app fails. This follows the current semantics in immutable pods and it was first start when we implemented the sandbox.

You are right, in the context of CRI there are quite some different state transitions depending on the [RestartPolicy](http://kubernetes.io/docs/user-guide/pod-states/#exampl

[2016-12-13 16:29] dansteen opened #3476 "`run --pod-manifest` does not fetch images, and is unclear with its messaging"
**Environment**

[code]

**What did you do?**

When using `run --pod-manifest`, if the images are not already stored locally, they will not be fetched.   This is confusing given the behavior of rkt in most other situations.  Additionally, the error message provided:  `run: error setting up stage0: no image IDs found` is not clear.

**What did you expect to see?**

I would have like to have seen th

[2016-12-13 18:00] squeed commented on #3408
Current status: Most of `prepare-app` is replaced.

[2016-12-14 04:16] euank commented on #3472
The restart policy in Kubernetes is orthogonal to this per my comment [here](https://github.com/kubernetes-incubator/rktlet/issues/59#issuecomment-261012432) and per the proposal [here](https://github.com/kubernetes/community/blob/f4379b3c775e31b38df46fb174cdafceceaaca33/contributors/design-proposals/container-runtime-interface-v1.md#podcontainer-lifecycle).

Because of how CRI works, it's not pos

[2016-12-14 14:28] s-urbaniak opened #3477 "Flage:"
This flake has

[code]

[2016-12-14 14:37] #3461 closed

[2016-12-14 16:54] lucab commented on #3476
While I understand this is unfortunate from an UX perspective, it is unfortunately consistent with the [pod-manifest spec](https://github.com/appc/spec/blob/v0.8.6/spec/pods.md#pod-manifest-schema) where the `image.id` field is required.

Was the `image.label` pointing to a appc-discoverable image? We can perhaps try to accommodate for that specific case.

[2016-12-14 17:45] squeed opened #3480 "Sandbox: bind-mounting in devices does not work"
For some reason, the devices.list cgroup **for the whole pod**, when started by `app sandbox`, has the equivalent of `DevicePolicy=closed`:

[code]

When a non-sandbox pod is started, it contains the permissive set:
[code]

This means that devices cannot be bind-mounted in to a sandbox container.

We need to find out why this is happening and fix it.

[2016-12-14 18:05] euank commented on #3480
That was intentionally introduced in https://github.com/coreos/rkt/pull/3027

The devices that are mounted in at creation-time of a regular rkt pod are added as allowed entries.

[2016-12-14 18:20] squeed commented on #3480
The problem here is that the entire pod, including pid1, is executing with a restrictive device policy. Since no child cgroups can have a less restrictive device policy then their ancestors, bind-mounting in volumes does not work at all in `app sandbox`.

In a normal rkt pod, pid1 should has no device restrictions. This is not the case for a sandbox pod.

[2016-12-14 18:30] grahamwhaley commented on #2576
I had a dig into this. At first I thought it was going to be an issue with either the mount or `lkvm` not honoring the S_ISVTX sticky item, but if you `ls -la` the tmp's in both `lkvm` and `qemu` both inside the guest or directly in the pod tree down in `/var/lib/rkt` then you can see all of them have the 't' set...

Digging a bit more into the `qemu` code, and doing some `strace` of both `lkvm` a

[2016-12-14 21:18] euank opened #3481 "proposal: remove default ondisk verification and introduce "image verify" command"
Currently, by default, rkt will read and (sha512) hash the rendered treestore for a given image to be executed prior to preparing or running it. This happens every time a new pod is executed, regardless if that image has been used before or is currently in use.

Some historical reference: https://github.com/coreos/rkt/issues/223#issue-51126770 mentions this feature for verification, and #332 imple

[2016-12-14 21:19] euank commented on #3444
Out of curiosity, does `--insecure-options=ondisk` get set for run/prepare operations?

That can go quite a ways to alleviate performance issues (ref #3481).

[2016-12-14 22:33] n0rad commented on #3444
yes it's active.

Here is a list of rkt commands run for this sample image build :

[code]

[2016-12-15 07:57] #3394 closed

[2016-12-15 15:17] jonboulle commented on #3481
Aptly summarised, +1 to all of it, I think we should just make it the default and add that separate verify command.

[2016-12-15 15:32] jonboulle commented on #3473
Is there anything actionable here?

On 13 December 2016 at 02:37, Euan Kemp <notifications@github.com> wrote:

[2016-12-15 16:15] dansteen commented on #3476
Yes, in this case, the config looked like this:

[code]

It would definitely be nice if it could pull.

Thanks!

[2016-12-15 19:48] s-urbaniak commented on #3481
I am +1 with that proposal and would like to add that the current verification scheme doesn't help once a pod is started.

[2016-12-16 01:36] euank commented on #3473
the rkt attach io streams is the actionable fix we're already doing.

We could also re-raise the issue upstream if we care to.

I mostly just wanted something to refer to in a comment about working around this issue.

[2016-12-16 10:49] s-urbaniak opened #3483 "sandbox: adding mounts fail with absolute symlinks"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

[code]

**What did you expect to see?**

A successfully added app.

**What did you see instead?**

[code]

The problem is that the Debian image `/var/run` is a symlink to `/run`:

[code]

We are ensuring that the destination exists in https://github.com/coreos/rkt/blob/a64181f519b927a90c090c8970cad7c9157688a6/stage1/i

[2016-12-16 11:11] s-urbaniak commented on #3483
The general strategy (unfortunately) involves a yet more complicated mount propagation process.

We already:
- create a temporary playground dir on the host `rkt.propagate.xxx`
- slave bind-mount the playground on itself so it can be moved
- bind-mount `source` to `rkt.propagate.xxx/mount`
- (optional) remount `rkt.propagate.xxx/mount` read-only in case the user asked for a read-only mount
- move

[2016-12-16 13:57] jonboulle commented on #3481
@ethernetdan this could be a good issue to get your feet wet in the codebase - WDYT about taking it on?

[2016-12-17 16:26] WillemMali commented on #2392
I would also like this feature as a new `rkt` user coming from Docker. I never needed to use Docker registries before so getting started with `rkt` has been a bit of a pain.

[2016-12-19 03:47] theRemix opened #3488 "binding EXPOSEd --port from docker images in contained --net=default"
**Environment**
[code]

**What did you do?**

[code]

**What did you expect to see?**

the etcd container running with an exposed port `4379` mapped to internal container port `2379`

**What did you see instead?**
[code]

[2016-12-19 05:51] euank commented on #3488
I suspect this to be a Quay bug.

Running `rkt image cat-manifest ...` for the aci downloaded from quay shows that there aren't any ports defined, whereas examining the docker image for the same version/tag shows it does have those ports exposed.

I've given a heads up to the Quay team.

This can be worked around by running `rkt run --port=2379-tcp:4379 docker://quay.io/coreos/etcd:v3.0.15` instea

[2016-12-19 17:00] lucab commented on #3465
Ping @jingxu97, would you mind providing the info as per my first comment?

Also, based on some similar reports, I made https://github.com/coreos/rkt/pull/3486 which could alleviate your situations. However, some hard-to-clean cases still exist, so I'd still recommend to rm before restarting the fly pod.

[2016-12-19 18:04] grahamwhaley commented on #2576
(duplicating info placed in PR #3485 for future reference...)
It turns out that lkvm **used** to do the `chown`'s, and then they were removed:
https://git.kernel.org/cgit/linux/kernel/git/will/kvmtool.git/commit/?id=ce780416361baa6f8b41843b4fec58f52d505b08

We'll have to think this through some more.

[2016-12-19 21:58] theRemix commented on #3488
@euank yes this works
`sudo rkt run --port=2379-tcp:4379 --insecure-options=image docker://quay.io/coreos/etcd:v3.0.15`

i thought i was using `rkt` wrong.

closing this issue.

[2016-12-19 21:58] #3488 closed

[2016-12-20 19:52] philips opened #3491 "run: add no_new_privs as runtime option"
See proposal making no_new_privs something exposable from Kubernetes. https://github.com/kubernetes/community/pull/180/files#r92733392

[2016-12-21 11:31] jonboulle commented on #3408
is https://github.com/coreos/rkt/issues/3408#issuecomment-266427422 current?

[2016-12-23 13:17] jonboulle commented on #3477
https://github.com/coreos/rkt/pull/3492

https://github.com/coreos/rkt/pull/3486
https://jenkins-rkt-public.prod.coreos.systems/job/rkt-github-ci/os_type=debian-testing,stage1_flavor=coreos/1771/

[2016-12-23 22:48] jakon89 opened #3499 "Building rkt with Docker"
Hello,

I was trying to [build rkt with docker](https://github.com/coreos/rkt/blob/master/Documentation/hacking.md#building-rkt-with-docker) however I was getting weird error:
`package github.com/appc/spec/...: cannot download, $GOPATH not set. For more details see: go help gopath`

It looks that after [migration to glide](https://github.com/coreos/rkt/pull/2735) this part: `go get github.com/appc

[2016-12-27 18:58] ecordell commented on #3481
The argument for why this isn't a security feature is:

I don't see how this applies when *running* an image by hash, e.g. ` rkt run sha512-fa1cb92dc276b0f9bedf87981e61ecde`. This is a specific request by the user to run specific content, surely that should be verified before running?

There's some additional context for this here: https://github.com/kubernetes/kubernetes/issues/38833

[2016-12-27 21:37] euank commented on #3499
I think you're right that post-glide that `go get` is unnecessary.

A PR for the docs would be welcome, thanks!

[2016-12-27 22:11] euank commented on #3481
@ecordell There are two distinct times when the hashing is done. Let's make sure we're talking about the same thing.

1. When an ACI is rendered into the treestore the first time. This occurs the first time `rkt image fetch`, `rkt image render`, or `rkt run` is called for an image. This does hash the image contents.
2. Every time that rendered directory is used in a rkt run thereafter when the `on

[2016-12-27 22:17] jingxu97 commented on #3465
@lucab I haven't had a chance to reproduce this issue so far. I will update it when I see it again. Thank you!

[2016-12-28 18:37] wmark commented on #3391
I'd like to close this in favour of several small tickets, for updates to the documentations.

One non-doc issue remains:

The silent assumption is a permissive local firewall:

[code]

I guess that any tests are run in such an environment. As soon as *explicit* forwarding is enforced (`:FORWARD DROP`), anything run by **rkt** with its default network cannot reach remote machines. Unlike with *Doc

[2016-12-28 23:28] philips opened #3502 "cloudshell: rkt doesn't work on google cloud shell"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

Use a cloudshell and install rkt deb https://console.cloud.google.com/cloudshell
Then run etcd `sudo rkt run docker://quay.io/coreos/etcd:v3.0.8`

**What did you expect to see?**

Running etcd

**What did you see instead?**

[code]

[2016-12-30 16:00] talon-hartmann opened #3504 "api-service complains about missing status file of app that is still running (never exited)"
**Environment**

[code]

**What did you do?**

(I just built rkt from master to put some debug statements in, that's why it has a bogus version, same behaviour on v1.21.0)

I set up a kubelet using rkt on a worker node following the rktnetes the hard way tutorial. The kubelet talks to the rkt api-server (running it manually with rkt api-server suffices) and I schedule one container in it (kubedns)

[2017-01-02 12:13] jonboulle commented on #3499
Closing in favour of #3501

[2017-01-02 12:13] #3499 closed

[2017-01-02 18:29] jonboulle commented on #3502
At a very quick glance it looks like this might have been introduced with 70a0cc43a3ef5c55f59872e0ff6329ed87cb2b23

[2017-01-03 11:12] jonboulle commented on #3476
#1316

[2017-01-03 17:08] bassam commented on #3181
is there an update on this one? I still see it happening even with the nsenter workaround. My kubelet log is full off

[code]

and rkt list is unhappy:

[code]

[2017-01-04 14:08] squeed commented on #3502
Interesting, it seems like it's failing to parse /proc/self/cgroup - but I'm not sure why. The error message doesn't quite make sense.

Investigating further...

[2017-01-04 14:51] squeed commented on #3502
Figured it out. We assume the systemd cgroup will exist, but it doesn't (because the cloudshell "vm" doesn't run systemd). If we switch to using 'cpu' as our test cgroup, it works. Patch coming shortly.

[2017-01-04 17:15] grahamwhaley commented on #3091
@lucab Could you assign this to me and make it 'in progress' please? I've been slowly trying to beat it to death, but am not sure i have any more clues. I can at least make it fail every time, and have it fail with either `lkvm` or `qemu`. I am adding more and more debug and doing more and more semaphoreCI runs, and hopefully one day I'll capture a clue...

[2017-01-04 17:16] grahamwhaley commented on #3091
@lucab, btw, I'm pretty sure the extended timeout is not the fix - with my modified tree I have an extended timeout at 1m5s, and I still see failures (as I also extended the test to run the loops over and over 50 times or so to try and force it more often).

[2017-01-05 08:26] #3502 closed

[2017-01-05 09:55] s-urbaniak commented on #3483
PR is targeted for v1.23.0, and needs rework/rethinking, hence bumping.

[2017-01-05 10:10] s-urbaniak commented on #3237
This is still under investigation from my side, hence bumping.

[2017-01-05 10:56] lucab commented on #3477
The failure:
[code]
is due to systemd failing with `EXIT_NAMESPACE` when bringing up stage2. I've seen this happening in a bunch of other testcases recently, in a non-deterministic way.

[2017-01-05 11:24] squeed commented on #3477
This may be fixed by bumping systemd to 232.

[2017-01-05 11:27] jodh-intel commented on #3252
Hi @lucab - I've been working on a new test for the fix for this issue. I've created the new `TestDevPathsStat()` in `tests/rkt_paths_test.go`, and added the `+kvm` tag to enable it for the kvm stage1's. However, some of the existing tests in `tests/rkt_paths_test.go` are not necessarily going to be appropriate for kvm (need to review).

Can you offer any advice on how best we should handle this?

[2017-01-05 11:42] lucab commented on #3472
Tracked via #3478.

[2017-01-05 13:35] lucab commented on #3252
@jodh-intel I'm not sure if you have seen it already, but there is https://github.com/coreos/rkt/commit/ad4cf093d1ee5702039832dc65683f4670c99b04 which could help there.

[2017-01-05 14:18] s-urbaniak commented on #3245
I verified the backport landed in CoreOS 1262.0.0:

[code]

[2017-01-05 15:15] s-urbaniak commented on #3504
@euank Maybe you have some ad-hoc hints, what could be going on here? I'll try to reproduce this too.

[2017-01-05 15:17] lucab commented on #2937
Braindump: this can be exposed to the user via a `--pull-policy=value` flag:
 * `always` - equivalent to current `--no-store` (but updating the store)
 * `never` - equivalent to current `--store-only`
 * `new` - only pull if image is not present in the store
 * `update` - only pull if image in store is stale or missing

That is perhaps a bit less straightforward for compatibility reasons, as a non

[2017-01-05 16:09] grahamwhaley commented on #3091
I may have stumbled on a clue/workaround for this whilst debugging...

It appears that if we wait for the `stop` command to complete before we go into the status poll loop, then we don't hang up (during my testing at least). At present we do a bit of a fire-and-forget of the `stop`, and go straight into the poll loop. I therefore suspect maybe there is a race or bad interaction somewhere in there.

[2017-01-05 16:25] pskrzyns commented on #3330
@lucab we can close it cause kernel was bumped in #3342

[2017-01-05 16:56] blalor commented on #3422
Can this be scheduled for a release, soon?

[2017-01-05 16:58] jodh-intel commented on #3252
@lucab - thanks - perfect! :)

[2017-01-05 16:58] jonboulle commented on #3422
Ping @squeed

[2017-01-05 17:07] lucab commented on #3091
@grahamwhaley that's a really interesting finding, and I may have an explanation for that.

It looks like the test is gexpect-spawning multiple command but never draining their tty. In a way similar to https://github.com/coreos/rkt/pull/3434/commits/a04bfbff82d0637804be0fc9ec28afd40d15a9cb, the child may get stuck as the parent is not draining its output.

[2017-01-05 17:34] grahamwhaley commented on #3091
Aha, thanks @lucab - in which case, it looks like `spawnAndWaitOrFail()` might be the right solution - if you concur then I'll draft a PR

[2017-01-05 20:59] lucab commented on #3091
Yes, that should at least make the testing code proper. With some luck, we may have reached the end of this :)

[2017-01-05 22:48] lucab commented on #3477
I did some cross-checking between test history, git log and dates and I have some doubts related to #3432. In particular, I fear that as a side-effect of https://github.com/coreos/rkt/commit/3c93df9420c8a71e202063731bf360555cea76d9#diff-99ef63dd92c607458ff979e0c391eb56L287 we are now mutating some of the fields related to users/groups/private-users that are now shared by pointer. That may explain

[2017-01-05 23:34] blalor opened #3512 "all processes in container receive SIGTERM when sending SIGTERM to rkt process"
**Environment**

[code]

**What did you do?**

With the [attached file](https://github.com/coreos/rkt/files/688651/assassin_py.txt) at `/tmp/assassin.py`:

[code]

In another window **¡ASSUMING THERE ARE NO OTHER CONTAINERS RUNNING!**:

    pkill --echo --full stage1/rootfs/usr/bin/systemd-nspawn

 Wait for the container to exit.  Then:

    grep -h 'got signal' /tmp/assassin_*.log

**What did you

[2017-01-05 23:47] mischief opened #3513 "rkt gc panic"
**Environment**

[code]

**What did you do?**

rebooted CoreOS 1262.0.0

**What did you expect to see?**

no rkt-gc.service unit failure

**What did you see instead?**

[code]

[2017-01-05 23:48] mischief commented on #3513
unsure if this is reproducible on the same system yet, could have been an artifact of a hard-reboot after a lockup.

[2017-01-06 01:32] diptanu opened #3517 "Question: Metrics"
We want to expose the cgroup metrics for rkt containers in Nomad.  Does `rkt` expose the underlying cgroup metrics for containers?

[2017-01-06 08:54] #3513 closed

[2017-01-06 09:42] s-urbaniak commented on #3477
as far as I see `UidRange` is not modified in the above code path.

[2017-01-06 13:02] grahamwhaley commented on #2777
Just as an update/note here - the same situation exists for other VM container systems. In Clear Containers we have gone with the 'intermediate binary' approach, where we have an extra process that reaps the exit code and returns it to the higher level.
A fundamental issue is that (for instance) qemu does not return the exit code of its payload, but of itself - thus, directly running qemu will nev

[2017-01-06 15:13] squeed commented on #3477
As I was spamming this, I was able to get this error to happen in rkt v1.20 - before 3432 was merged. So it's not that :-(.

[2017-01-06 15:16] lucab commented on #3477
Also, the same error showed up at some point in `TestExitCodeWithSeveralApps` which isn't concerned by private-users.

[2017-01-06 15:19] #3091 closed

[2017-01-06 15:44] squeed commented on #3504
I've seen this error message while working on the rktshim too, FWIW.

[2017-01-06 16:12] squeed commented on #3391
Indeed, `rkt` assumes that firewall rules are configured correctly by the administrator. The only cases where rkt touches iptables is to setup port forwarding, and by CNI to set up IP masquerading as requested.

If forwarding is blocked for a given netblock, then that's the administrator's choice.

This might be a useful feature for CNI, though.

[2017-01-06 16:13] lucab commented on #3517
rkt itself doesn't have any long-running process capable of collecting and exposing metrics. However, we follow a nested-groups approach based on systemd slices model, so you may re-use other generic compatible tools. If you are looking at extracting more info out of rkt pods, please have a look at:
 * [rkt api-service](https://coreos.com/rkt/docs/latest/subcommands/api-service.html) (unprivileged

[2017-01-06 17:17] lucab commented on #3295
No, I think they are reasonable. I just find pgid to be the traditional solution for this exact problem ("grouping processes together for the purpose of signaling, placement in foreground or background, and other job control actions"), and in k8s context I expect to likely trip on apps messing with their cgroups more than complex proc-grouping.

pgid approach is also simpler for a start, we may ev

[2017-01-06 17:48] elimisteve commented on #1734
I'm trying to fix this in Ubuntu 16.04. Tips?

[2017-01-06 17:58] jonboulle commented on #1734
@squeed can you take a look pls?

[2017-01-06 18:36] elimisteve commented on #1734
For me, nevermind; turned out not to be a firewall issue. HTTP requests from within a rkt container were failing for different reasons. (Turns out my firewall wasn't even on so sorry about that!)

[2017-01-06 19:21] flx42 opened #3519 "bash segfault with kvm stage1"
**Environment**
[code]

**What did you do?**
[code]
This was only for testing purpose, I don't actually want to run Docker inside KVM :)

**What did you expect to see?**
Complete installation of Docker.

**What did you see instead?**
[code]

[2017-01-06 19:58] diptanu commented on #3517
@lucab Yeah it doesn't make sense for `rkt` to store metrics like Docker does, I want the `rkt` cli to be able to get me the cgroup stats at a point of time when I invoke it for a given container.

[2017-01-06 21:52] flx42 commented on #3519
Could be the same or related to #1917.
I built my own `stage1-kvm-qemu.aci` and I had the same issue, then I re-compiled with `cache=loose` as suggested by @jjlakis [here](https://github.com/coreos/rkt/issues/1917#issuecomment-255700366) and the segfault is now gone.

[2017-01-07 00:36] lsm5 commented on #1305
So, thanks to [@facebookincubator/rpm-backports]( https://github.com/facebookincubator/rpm-backports) and @jsynacek, I have systemd-231 on CentOS CBS along with rkt. The systemd and other packages are mostly just a rebuild of @jsynacek's work. I'm aware I need to make a few packaging changes to rkt, I'll get to it asap now that we have systemd upgrade out of the way (hopefully).

***
1. the system

[2017-01-08 18:23] lsm5 commented on #1305
one other thing, it'd be preferable to first update your system to CentOS 7.3.1611 and then do the systemd upgrade, as a direct upgrade from .1503 didn't work for me.

[2017-01-09 08:24] s-urbaniak commented on #3477
This flake is hard to reproduce and happens ~once a day on my machine. What we know so far:

- The pod has been started successfully, that is systemd-nspawn, systemd are up.
- The failure happens when the corresponding container service units start (in this test case `dummy.service` and `rkt-inspect.service`) and it fails for only one arbitrary service.
- To start the service unit systemd [forks](

[2017-01-09 10:02] s-urbaniak commented on #3477
So after discussion the above finding with @lucab we may have a candidate in [`prepare-app.c`](https://github.com/coreos/rkt/blob/v1.22.0/stage1/prepare-app/prepare-app.c#L255) where we also bind-mount stage1's `/proc` to stage2's `/proc` recursively.

Now since systemd does a bind-mount dance afterwards too with `/proc` these mount events could be propagated between the two applications causing t

[2017-01-09 12:36] squeed commented on #3512
This is probably happening because the default systemd `KillMode` is `control-group`. I wonder if setting it to `mixed` in the stage1 unitfile would be the correct approach.

[2017-01-09 12:43] squeed commented on #3477
The question then is: are there any applications that rely on `/proc` being shared within the pod?

[2017-01-09 13:15] jonboulle commented on #3245
@s-urbaniak so we just need to do a coreos bump here in rkt now?

[2017-01-09 13:17] jonboulle commented on #3291
Per OOB discussion with @lucab, we're going to backport the relevant systemd patch to coreos/systemd so we can get this into rkt without being blocked on 226.

[2017-01-09 13:25] s-urbaniak commented on #3245
@jonboulle yes, it is already on my stack

[2017-01-09 16:15] lucab commented on #3512
Possibly. But they would receive `SIGTERM` anyway, as when the whole pod goes down (ie. systemd-nspawn killed) systemd-pid1 will do a SIGTERM+SIGKILL round anyway. I don't see any easy way out of this, except for keeping the pod running á la rkt-app.

[2017-01-10 10:53] storvik commented on #1041
@jonboulle any updates? Would love to see this feature implemented.

[2017-01-10 10:58] squeed commented on #2782
Just waiting for QL to cut a new release.

[2017-01-10 10:59] jonboulle commented on #1041
@storvik we don't have any plan to work on this but would welcome contributions

[2017-01-10 14:08] jonboulle commented on #3491
Let's hold off on this until kubernetes/community#180 is actually decided.

[2017-01-10 16:08] #3422 closed

[2017-01-10 17:06] squeed opened #3524 "api service: update status logic for sandbox"
The API service does not compute app statuses correctly in the sandbox world. For example, it assumes that all apps are running if the pod is running.

This logic needs to be fixed, especially given #3478.

[2017-01-10 19:36] grahamwhaley commented on #3252
Hi @lucab , can we assign this to @jodh-intel , and then it will show as 'in-progress' in our kanban project ;-)

[2017-01-10 19:39] grahamwhaley commented on #3330
@lucab Please assign this to me. I'm working on a more formal process for the kernel stable updates, and want to align those with how we handle the same situation in Clear Containers.
The general premise I believe will be to track the most recent stable kernel (I will do an update to 4.9.x rsn). We then need to decide and document the 'triggers' - it may end up as something like any update with a

[2017-01-11 00:08] glevand opened #3526 "fetch: arch messed up"
**Environment**

rkt Version: 1.21.0
appc Version: 0.8.9
Go Version: go1.7.3
Go OS/Arch: linux/arm64
Features: -TPM +SDJOURNAL

Linux 4.6.0-coreos aarch64

NAME=CoreOS
ID=coreos
VERSION=1262.0.0
VERSION_ID=1262.0.0
BUILD_ID=2016-12-14-2334
PRETTY_NAME="CoreOS 1262.0.0 (Ladybug)"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

systemd 231
+PA

[2017-01-11 09:20] lucab commented on #3526
I think you actually hit https://github.com/appc/docker2aci/issues/195. But you are right, rkt itself is also emitting wrong arch labels as per https://github.com/coreos/rkt/issues/2369. As written in some other comments, all the bits for this are in appc 0.8.9 but needs to be wired in rkt/docker2aci/acbuild.

This is unfortunately not on my immediate roadmp, but should be an easy pick for externa

[2017-01-11 10:15] jonboulle commented on #3252
@grahamwhaley I've invited @jodh-intel to the org, he'll need to accept that before we can assign it

[2017-01-11 10:39] jodh-intel commented on #3252
@lucab - thanks for the invite, which I've now accepted.

[2017-01-11 12:47] #3504 closed

[2017-01-11 12:51] #3448 closed

[2017-01-11 12:57] #3472 closed

[2017-01-11 12:58] #3295 closed

[2017-01-11 13:43] redbaron commented on #3465
Can mount propagation be disabled from cmdline for versions <1.22.0?

[2017-01-11 15:40] ybubnov commented on #3526
I've made the following modifications in the ```docker2aci``` library in order to trace an error:
[code]

This resulted in the error:
[code]

Parameters (architecture and os: ```arm64/linux```) returned from the Docker registry are not compatible with application container's image specification (should be ```aarch64/linux```), thus serialization of image manifest fails.

As @lucab mentioned, a ```

[2017-01-12 11:17] f0 opened #3527 "rkt 1.22 stage1-kvm -> wrong flavor link"
the stage1-kvm has a broken link

**rwxrwxrwx. 1 core core        3 Jan  6 00:22 flavor -> kvm**  but kvm does not exist

[code]

[2017-01-12 12:37] lucab commented on #3527
Thanks for the report. Are you relaying on this link for something? The "broken" destination is on purpose, it is supposed to only contain the name of current stage1 (not being a proper FS path). I think it is documented in the devdocs, may I may misremember as I'm not finding the reference to it right now.

[2017-01-12 16:02] #1917 closed

[2017-01-12 16:02] #2576 closed

[2017-01-12 16:26] f0 commented on #3527
@lucab no  i do not relay on this. I only looked into the image and found the missing link

[2017-01-12 16:42] jodh-intel opened #3528 "restrictive umask can cause "rkt --private-users ..." to fail"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

The normal rkt shell prompt.

**What did you see instead?**

[code]
This problem was discovered whilst testing #3482.

The problem relates to the `umask` since the following works as expected:

[code]

Notes:

- My default umask on the systems I noticed the problem on is `027`, which triggers the failure.
- Not

[2017-01-12 16:47] jodh-intel commented on #3528
To provide a little more context on how the problem was discovered, the following tests hung for me until they were killed after the 60 minute timout:

- `TestUserns`
- `TestExport`
- `TestNonRootReadInfo`
- `TestAppUserGroup`

The tests hung because systemd had failed as above where it eventually ends up calling `pause(2)`.

[2017-01-12 16:50] squeed commented on #3527
Indeed, this is intentional - we read the contents of the symlink to determine the flavor.

[2017-01-12 16:50] #3527 closed

[2017-01-12 16:59] lucab commented on #3528
Well, that's a very good catch and thanks for the reproducer! From a quick look at the symptoms, I think those are file coming from stage0->stage1 transition that for some reasons are not properly chmod/chown'ed to accomodate for the uid shift.

[2017-01-12 17:07] lucab commented on #3477
Further theory about mount propagation turned out to be also wrong: I tried marking all mounts performed by `prepare-app` as `MS_PRIVATE`, but the flake still showed up after a dozen of test iterations.

[2017-01-13 13:19] sanmai-NL commented on #820
@jonboulle? It appears the PRs/issues related to this are no longer open. Can this issue be closed now?

Could you please point me to documentation on running containers as unprivileged user?

[2017-01-13 13:36] jonboulle commented on #3527
Can it be (re-)added to the stage1 documentation?

On Thu, Jan 12, 2017 at 5:50 PM Casey Callendrello <notifications@github.com>
wrote:

[2017-01-13 13:37] jonboulle commented on #1917
yay!

On Thu, Jan 12, 2017 at 5:05 PM Luca Bruno <notifications@github.com> wrote:

[2017-01-13 14:08] lucab commented on #820
@sanmai-NL this is about running applications as non-root in a pod, while you are asking about running rkt itself on the host as non-root. You are looking for https://github.com/coreos/rkt/issues/1585.

By the way, all the items in the original issue here have been addressed, thus closing.

[2017-01-13 14:08] #820 closed

[2017-01-13 14:15] lucab commented on #2152
/cc @jodh-intel (this may or may not be relevant to your current stage1-kvm bug)

[2017-01-13 14:22] lucab commented on #3330
@grahamwhaley I'd be pretty happy to just follow CC cycle (and config) here if it isn't too long compared to rkt one.

[2017-01-13 15:50] #714 closed

[2017-01-13 16:57] #3528 closed

[2017-01-13 17:07] fryckbos opened #3531 "copy a file from the host into a container"
As a user I would like to copy a file from the host into a container. For monitoring purposes it can be useful to copy a binary into a container and start it inside the container to have access to all files and ports without these being exposed to the outside world.

[2017-01-13 22:29] blalor opened #3532 "rkt can't handle environment variable names with periods"
**Environment**

rkt Version: 1.22.0
appc Version: 0.8.9
Go Version: go1.7.3
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL
--
Linux 4.9.3-1.el7.elrepo.x86_64 x86_64
--
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="h

[2017-01-14 10:28] kfirufk commented on #3181
same problem. http://stackoverflow.com/questions/41648460/error-reading-pod-manifest-on-exited-garbage-pods

[2017-01-15 13:59] andrewwebber commented on #3504
I get a huge amount of noise with the api-service in the journal when running k8 with rkt.

[code]

[2017-01-15 19:08] evverx opened #3533 "Flake: TestExitCodeWithSeveralApps"
**Environment**

[code]
[code]

**What did you do?**
[code]

**What did you expect to see?**

[code]

**What did you see instead?**

[code]

[2017-01-15 20:37] evverx commented on #3533
I've "fixed":
[code]
But this is the wrong way to fix the race of course

[2017-01-15 21:15] ybubnov commented on #3526
The issue have been fixed in the ```appc/docker2aci``` library per appc/docker2aci#234, its version should be bumped, so a new release can be incorporated into the ```rkt``` repository.

@lucab, could you, please, help with the release of a new version of ```appc/docker2aci```?

[2017-01-15 21:40] kfirufk commented on #2470
https://github.com/coreos/coreos-kubernetes/blob/master/multi-node/generic/controller-install.sh
this script contains the annotation configuration in kube-proxy that fixes this problem.

[2017-01-16 08:26] jonboulle commented on #3368
@squeed can you update/deprecate this issue as appropriate?

[2017-01-16 09:50] lucab commented on #3526
@ybubnov thanks for the roundtrip in there, the fix is now part of docker2aci [0.15.0](https://github.com/appc/docker2aci/releases/tag/v0.15.0). Would you also like to take care of bumping it in rkt? We have a glide helper script floating around in [here](https://github.com/coreos/rkt/blob/master/scripts/glide-update.sh).

[2017-01-16 10:09] ybubnov commented on #3526
@lucab, thanks. Sure, I will take care of bumping the version in rkt.

[2017-01-16 10:40] squeed commented on #3527
If you want - but it's not part of the API. It's just used internally within the (kvm/coreos) stage1.

[2017-01-16 11:00] ybubnov commented on #3526
Probably, before closing this issue, it worth adding the test with a fetch of non-```amd64``` image.

[2017-01-16 11:26] squeed commented on #3532
Hah, good find! I'll clean this up.

[2017-01-16 11:27] jonboulle commented on #3532
Hmm, that is unfortunate. Arrived via https://github.com/appc/spec/commit/08f169c5ba43ae032fe7bf36aa6a10fe86e35afa#diff-916b3e1e005fd96e3a0546715235477dR523

Are you passing this through to elasticsearch via a script or something..?

[2017-01-16 11:39] squeed commented on #3532
Looks like Linux allows anything except nulls in environment variables.

[2017-01-16 11:51] blalor commented on #3532
@jonboulle I am.  It's a custom script, and I came up with a workaround of encoding dots as `ES`:

[code]

So `cluster.name` becomes `clusterESname`.  It's ugly.  And a better solution would be to pass these as arguments to the script instead of environment variables.

While I think adopting the IEEE spec for environment variables is well-intentioned, it goes against Postel's law. :-)

[2017-01-16 11:53] blalor commented on #3532
I'll also point out that you can't directly access environment variables with dots in them via bash.  But this isn't the first time I've had to do something like this, so from a user's perspective, it'd be preferable to have rkt (and the spec, I guess) be a little more forgiving.

[2017-01-16 12:57] jonboulle commented on #3532
Sure, I think we can just loosen this up.

[2017-01-16 13:27] jonboulle commented on #3408
@squeed bump

[2017-01-16 16:11] squeed commented on #3408
Current status:
This is working well. There is one more preparatory PR to merge, then I will have the first true runc PR. The only outstanding bug is private users.

The current runc release is sadly unstable, as is master. We'll use the current Docker-bundled commit for now.

For building, i'll add a  '--enable-runc' feature flag to `configure` so that this is disabled by default.

[2017-01-17 12:12] #3526 closed

[2017-01-17 13:45] s-urbaniak opened #3537 "add functional test for fetching cached images by name"
https://github.com/coreos/rkt/pull/3536 introduced a fix for `rkt fetch` on cached images. This issue tracks the introduction of a functional test for the above.

[2017-01-17 15:24] jodh-intel opened #3539 "restrictive umask causes rkt-inspect.aci to fail with or without --private-users."
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

[code]

**What did you see instead?**

No output.

---

**Workaround**

This looks like it's related to #3528, since the following gives the expected output:

[code]

**Notes**

- If `--user=` is specified on its own, `rkt-inspect.aci` works correctly.
- If `--group=` is specified on its own, `rkt-inspect.aci`

[2017-01-17 20:29] uzytkownik opened #3540 "Allow the pods with statically assign ip to be restarted"
**Environment**
[code]

**What did you do?**
Restart service with ip assigned in network.

**What did you expect to see?**
Successful restart of service

**What did you see instead?**
Service failed as IP was already assigned. I need to manually gc with grace-period 0 (just marking doesn't seem to work).

[2017-01-18 10:04] s-urbaniak opened #3542 "investigate `TestAppSandboxMount` functional test failure on Semaphore"
A new functional test is being introduced in https://github.com/coreos/rkt/pull/3490, but it is failing on Semaphore CI and was therefore disabled there.

The suspicion is an outdated kernel being 3.13.0, see https://semaphoreci.com/docs/supported-stack.html.

This issue tracks the actual bisection why the above test (mount propagation inside a runing sandbox) fails in an outdated kernel.

[2017-01-18 11:00] jjlakis commented on #3519
@flx42 I think it's fixed by https://github.com/coreos/rkt/pull/3485 now

[2017-01-18 11:36] jodh-intel commented on #2650
I've just tested this with 6041ab657526817212fbecc839f67aa97363a988 for `coreos`, `qemu` and `lkvm` and all appear to be working correctly.

@tjdett - could you confirm this now works for you?

[2017-01-18 18:04] s-urbaniak opened #3543 "reiterate on "TestAppToNspawnArgs*""
In https://github.com/coreos/rkt/pull/3490 we disabled `TestAppToNspawnArgsOverridesImageManifestReadOnly` and `TestAppToNspawnArgsRecursive`.

We should reiterate on those and ensure that the existing functional tests cover the above testcases 100% and, add functional tests where necessary and delete them.

[2017-01-18 23:13] dgonyeo commented on #2937
Here's a potential plan, that I'll get started on if no one objects:

I can implement the `--pull-policy` flag @lucab described. It'll default to `new`, unless the command being called is `rkt fetch`, in which case it will default to `update`.

For ACIs, I think the implementation will be fairly straightforward, but it's a little messier with docker images. Ideally rkt would only fetch docker laye

[2017-01-19 07:22] s-urbaniak commented on #3532
This needs an appc bump, which did not happen yet, hence bumping to the next release.

[2017-01-19 07:26] s-urbaniak commented on #3385
@dgonyeo do you see a chance of tackling this?

[2017-01-19 07:29] s-urbaniak commented on #1756
self-assigning for the next release, as this falls in the k8s context. Also we should check how cadvisor behaves under cri.

[2017-01-19 07:44] s-urbaniak commented on #2937
@dgonyeo That sounds like a fair plan. Extending the current store to also store intermediate layer hashes seems necessary anyways for efficient handling of OCI images.

The only small concern from my side is that your outlined plan would also involve converting each intermediate layer to the current ACI format. This would solve this issue in the short-term, but this logic would only live as long

[2017-01-19 07:46] s-urbaniak commented on #3134
@dgonyeo I assigned this issue to you, if you have no objections :-)

[2017-01-19 07:47] s-urbaniak commented on #3368
@squeed I bumped this issue to v1+, please feel free to re-asses it.

[2017-01-19 07:54] s-urbaniak commented on #2694
https://github.com/coreos/rkt/pull/3535 is planned to land in v1.24.0, hence bumping this to that release too.

[2017-01-19 07:54] s-urbaniak commented on #3245
Due to a regression in `systemd-nspawn`, see https://github.com/coreos/rkt/pull/3535, this needs to be bumped to the next release.

[2017-01-19 08:05] s-urbaniak commented on #3228
This depends on https://github.com/coreos/rkt/pull/3490 which will land in v1.23.0, so we can tackle this for v1.24.0, hence bumping.

[2017-01-19 08:13] s-urbaniak commented on #3181
@kfirufk Do you mind to recheck with rkt v1.22.0? We landed https://github.com/coreos/rkt/pull/3486 and it should resolve this issue.

[2017-01-19 08:17] s-urbaniak commented on #3465
@redbaron for <rkt v1.22.0 unfortunately we don't have a method for disabling mount propagation. Nevertheless given https://github.com/coreos/rkt/issues/3486 landed, the cleanup should be fixed now.

@jingxu97 Can you please retry with v1.22.0?

[2017-01-19 08:18] s-urbaniak commented on #3257
@lucab I bumped this to the next release. Please reasses if it is feasible to land it then.

[2017-01-19 08:28] s-urbaniak opened #3544 "Introduce "procenv" in CI builds for tracing environment properties"
As per https://github.com/coreos/rkt/pull/3484#issuecomment-273434596 @jodh-intel has written a nice tool which dumps all attributes of a process.

This could be helpful in our CI environments to have a better understanding of the underlying environment.

We could introduce this in the context of our CI builds.

[2017-01-19 09:01] #3483 closed

[2017-01-19 09:19] s-urbaniak commented on #3158
@lucab Since https://github.com/coreos/systemd/pull/75 landed, is this going to help resolving this issue? If so, could we fix this in the next release?

[2017-01-19 09:38] lucab commented on #3158
I don't think this is going to be implemented for the next release, as it changes the fundamental behavior of a pod in some hard to predict way.

[2017-01-19 10:21] lucab commented on #3540
I think this is already feasible with the combination of `rkt run --uuid-file-save=` and ` rkt rm --uuid-file=`. The idea is to proceed with the following steps: run a pod, save its uuid to a file, wait for it to be done, then remove it and clean associated resources (including IPs). Suggested way to coordinate this is via systemd `ExecStop`, but may also be done manually via `rkt status --wait`.

[2017-01-19 10:42] euank commented on #3181
@s-urbaniak unfortunately the base issue here (shared bindmounts + unsharing before umount in gc) isn't fixed by v1.22.0. It's possible some of the related problems are fixed, but if it's from kubelet wrapper / rkt fly / shared bindmounts, it's less likely to be resolved.

[2017-01-19 13:00] euank commented on #2937
@dgonyeo there's another solution that I think is both simpler to implement and reason about. It isn't as ideal, but I think it gets the 90%.

I think it would be enough for `rkt fetch` to pass the sha256 it knows about for a given image tag to docker2aci. docker2aci could then avoid doing network traffic if no layers at all changed, but if any layer changed it would redownload all of them.

This

[2017-01-19 13:27] nri-pl opened #3547 "mounts: introduce tmpfs volumes"
Hi,

I want to run in a container application, which should have access to the folder something like ramdisk. There will be cache files.
After starting a container I can perform:
[code]

But it seems to me to be a terrible solution.
How can I do better?

It would be nice to have:
[code]

[2017-01-19 13:36] lucab commented on #2937
I agree with @euank's comment above, that's also what I had in mind.

Other things to mention:
 1. Our [doc](https://github.com/coreos/rkt/blob/master/Documentation/image-fetching-behavior.md) on this topic is wrong, at least on the caching side.
 1. I was looking into unifying `pull-policy`, `no-store` and `store-only`. Situation seems to be a bit messy, it looks like it grew without order from a

[2017-01-19 13:39] lucab commented on #3547
I may have misunderstood your request, but how is it different from an [empty volume](https://coreos.com/rkt/docs/latest/subcommands/run.html#empty-volumes)?

[2017-01-19 13:41] nri-pl commented on #3547
Is "empty" user RAM for storage?
Is any quota for "empty"?

[2017-01-19 13:45] jonboulle commented on #3547
@lucab empty volumes are disk-backed

On 19 January 2017 at 14:41, nri-pl <notifications@github.com> wrote:

[2017-01-19 14:04] lucab commented on #3547
My bad, somehow I was quite sure empty volumes had dedicated tmpfs, but it turns out I am wrong.

That said, main concern about a tmpfs directly inside a pod is that it can remounted by the application to be as large as it wants, easily inducing OOM on the host. I'm also not sure about memory accounting, but I fear it won't be accounted against the pod.

@nri-pl have you already tried/considered a

[2017-01-19 14:07] jonboulle commented on #3547
Ah, everything old is new again: https://github.com/appc/spec/issues/369

On 19 January 2017 at 15:05, Luca Bruno <notifications@github.com> wrote:

[2017-01-19 14:45] nri-pl commented on #3547
So I'm not the first person who asks for it ;)
I close this issue and I move on https://github.com/appc/spec/issues/369

[2017-01-19 15:05] jonboulle commented on #3547
I think it's worth leaving the request open here - we are progressively moving away from appc and it's useful to have the feature request tracked here anyway.

[2017-01-19 15:24] nri-pl commented on #3547
@nri-pl have you already tried/considered a tmpfs on the host and just a volume-mount to it for your pod?

So currently I do (tmpfs on the host and a volume-mount to pod).
However, I think this is a bit complicated.

When it comes to concerns related to the change size...
It seems to me that this type of change require re-run pod.

**I see two options:**
1. We leave as is currently two types "empt

[2017-01-19 15:30] lucab commented on #3547
@jonboulle thanks for history-digging into this.

@nri-pl according to [docs](https://www.kernel.org/doc/Documentation/filesystems/tmpfs.txt), size can be changed with a simple remount. Assuming your app has capabilities and can see the mountpoint, it can just remount and effectively lock a large amount of memory directly in kernel, not even accounted to the pod. I think an admin won't even see su

[2017-01-19 15:34] jonboulle commented on #3547
@lucab hrm, if they have such permissions for the remount, are they able to
create a new tmpfs anyway?

On 19 January 2017 at 16:30, Luca Bruno <notifications@github.com> wrote:

[2017-01-19 15:36] jonboulle commented on #3547
But I guess that one would be safely constrained by the memcg anyway.
Pardon the noise..

On 19 January 2017 at 16:34, Jonathan Boulle <jonathan.boulle@coreos.com>
wrote:

[2017-01-19 15:46] nri-pl commented on #3547
And I think that adding a new volume type makes sense.
This type would serve primarily as a cache of application. No sane person would not be kept there valuable data that wants to keep permanently. Therefore, it seems logical to me that the cache was as close to the application as possible. To be created with it and removed.

I think about Kubernetes.
I want to run 6 application on 5 nodes and ea

[2017-01-19 15:56] nri-pl commented on #3547
@lucab I agree with you. Only that if someone wants to do what you write, he can now. There's no need to change anything. I do not want to block this. Just help yourself and others in cases which I wrote above (Kubernetes eg).

[2017-01-19 18:06] jingxu97 commented on #3465
I don't have a reliable way to reproduce the issue. But I will give it a
try when I see the problem again. Thanks!

On Thu, Jan 19, 2017 at 12:17 AM, Sergiusz Urbaniak <
notifications@github.com> wrote:

--
- Jing

[2017-01-19 18:10] redbaron commented on #3465
@s-urbaniak what's the way to disable it in >=1.22.0?

[2017-01-19 19:10] lucab commented on #3465
@redbaron only stage1-fly does "shared" mount propagation, other type of pods are not impacted by this. We are looking into exposing this setting to the users and possibly changing the default, but we still have a couple of open design questions around it.

[2017-01-19 19:43] dgonyeo commented on #3385
@s-urbaniak sure.

Some clarification first though:

Does this mean that if I started a container a week ago, and it ran continuously up until it was killed 30 seconds ago, and I run `rkt image gc --grace-period=1d`, should the image for the container be removed? It was in some form "in use" very recently, but wasn't used to start a container for some time.

Although telling when a container for a

[2017-01-19 20:45] lucab commented on #3385
I think we should just make explicit that "used" here really means started (see the other two bugs referenced here). The most pressing point here however is adding a check to exclude still-running images from GC at all.

[2017-01-20 10:47] lucab opened #3550 "list: return more pod info in JSON output"
In the context of CRI, in order to make cAdvisor work in a standalone way without resorting to api-service, we need to expose more information related to pods and apps directly in the JSON output of `rkt list` and `rkt status`.

Looking at current cadvisor [implementation](https://github.com/google/cadvisor/tree/master/container/rkt), it looks like we are currently missing at least the following f

[2017-01-20 10:55] lucab opened #3551 "stage0: JSON output should be versioned"
We currently have some stage0 subcommands which returns JSON output, which is completely unspecified and unversioned. We are likely in need of introducing more fields in there over the time (see https://github.com/coreos/rkt/issues/3550) and as such we should have a way of tracking versions for our JSON output.

This is an initial list of what needs to be versioned:
 * rkt version
 * rkt list
 * r

[2017-01-20 18:26] #3385 closed

[2017-01-20 22:41] flx42 commented on #3519
@jjlakis This fix should have been picked up in 1.23.0, right? Unless I'm missing something, none of these bugs seems fixed for me:
[code]

[code]

[2017-01-21 04:59] nri-pl commented on #3547
I just realized that Kubernetes already used as part of the secret.
Passwords and configurations are mounted as a tmpfs volume to pod.
I do not know how technically it is don, but I am convinced that the new type volumenu simplify this.

[2017-01-22 20:10] s-urbaniak opened #3555 "remove "gimme.local""
While playing with the arm64 build I recognized the following comment from https://github.com/coreos/rkt/pull/2758#issue-159011700:

As travis-ci/gimme#45 indeed is merged, we should get rid of that very script now as it should be included with Travis.

[2017-01-23 15:10] lucab commented on #3504
@andrewwebber sorry, I just saw your comment and can't reproduce it here. Can you please re-try with rkt 1.23.0 and open a new ticket with the logs if it is still noisy?

[2017-01-23 15:46] s-urbaniak commented on #3519
/cc @grahamwhaley

[2017-01-23 16:00] grahamwhaley commented on #3519
Hi @flx42 @jjlakis - I suspect you may also need #3475 . If you are able to try/confirm that, then that would be great. Let me know if you cannot.  thx

[2017-01-23 18:32] flx42 commented on #3519
@grahamwhaley I applied your patches from #3475 on top of the `1.23.0` tag, and it seems to work fine with both lkvm and qemu, thank you!

[2017-01-23 21:11] euank commented on #3547
@nri-pl The way it is done in kubernetes is that a kubernetes "volume plugin" creates and populates a tmpfs on the host in `/var/lib/kubelet/pods/$uuid/volumes/.....`. It then passes a bindmount to the runtime for that file, and so it's a tmpfs inside the pod as well since the bindmoutns points to a tmpfs.

I don't think it actually helps for Kubernetes to have it as a first class citizen since al

[2017-01-24 11:32] redbaron commented on #3465
@lucab on coreos stable release simple `rkt run` seems to create files like

`/var/lib/rkt/pods/exited-garbage/0f5ef5e8-e4bf-4a18-8560-a94b036c3473/stage1/rootfs/opt/stage2/hyperkube/rootfs/var/lib/rkt/pods/exited-garbage/b9f6e945-f1de-41c2-8d11-e1d6b4cec474/stage1/rootfs/opt/stage2/hyperkube/rootfs/var/lib/rkt/pods/exited-garbage/95d3ed85-aa68-4b7e-9226-c99b6b367164/stage1/rootfs/opt/stage2/flann

[2017-01-24 12:43] lucab commented on #3465
Looking at those paths, there are at least some leftover from flannel and hyperkube pods. I'm not sure how they were run in your case, but those are typically run in coreos with stage1-fly.

[2017-01-24 14:13] redbaron commented on #3465
@lucab , there is a flannel and hyperkube failing in cycles, true, but these paths are also seen in `systemctl` output, which points towards `systemd-nspawn`, right?

[code]

Maybe worth mentioning, that `rkt run` I run  does host volume mount:

[code]

[2017-01-24 14:18] lucab commented on #3465
No, systemd-nspawn should not be involved in there. Those should just be stage1-fly pods run as systemd services.

[2017-01-25 08:05] dariko opened #3557 "access denied to keyctl syscall"
**Environment**
[code]

**What did you do?**
[code]
then, on another shell
[code]
**What did you expect to see?**

I expected the alpine container to be running inside the docker container

**What did you see instead?**
[code]
I tried stracing the `docker-containerd` process  and i found this keyctl syscall failing
[code]

even if i gave rkt the options `--seccomp mode=retain,errno=ENOSYS,@appc.io

[2017-01-25 09:15] lucab commented on #3557
This is unfortunately hard-masked by systemd-nspawn, so the usual `--seccomp` is partly spoiled by this:
https://github.com/systemd/systemd/blob/v232/src/nspawn/nspawn-seccomp.c#L65

@dariko in the short term you can try running in a stage1-fly pod. It may work, but we are not actively testing that configuration.

In the long term, there should be an environment variable to opt-out that hardcoded

[2017-01-25 11:07] alban opened #3558 "lkvm stage1 fails when virtualbox VM running: Error: KVM_CREATE_VM ioctl"
**Environment**
[code]

**What did you do?**

1. Start a VM with `vagrant up --provider=virtualbox`
2. Run rkt with the lkvm stage1

**What did you expect to see?**

Both work fine

**What did you see instead?**

[code]

If it is not possible to run both a Virtualbox VM and a rkt-lkvm, the error message should be improved to be more user-friendly.

/cc @schu @iaguis

[2017-01-25 11:24] dariko commented on #3557
@lucab Thanks!
Unfortunately the 'no network namespace isolation' condition of the fly stage1 a no-go for the architecture I had in mind :|

Anyway i tried it and now the keyctl calls go through:
[code]

but I get an error on a call to pivot_root :)
[code]
I [traced it](https://github.com/docker/docker/issues/11382) to the need for the envvar `DOCKER_RAMDISK=true`, which allowed me to start a dock

[2017-01-25 11:24] #3557 closed

[2017-01-25 12:52] lucab commented on #3558
To my knowledge, KVM and vbox can't indeed work at the same time.

/cc @grahamwhaley @jodh-intel

[2017-01-25 16:39] lucab commented on #3533
In this specific case, it looks like the test itself is ill-defined. It relies on the pod to exit in the 1s window between app1 and app2, to clean app2 before it can reach its exit point. However, there is no guarantee around that, as app app may as well be already done by the time app1 is started.

Instead, it should be changed to let app2 block (eg. on stdin) and adding a timeout on the pod wait

[2017-01-25 16:40] lucab commented on #3533
/cc @mxinden, low priority but another one on your radar.

[2017-01-25 16:41] lucab commented on #3533
@evverx speaking about flakes, do you have any idea about https://github.com/coreos/rkt/issues/3477? It may be something v231 specific, but we are anyway out of idea regarding the root cause.

[2017-01-26 07:18] evverx opened #3560 "TestAppUserGroup panic: test timed out after 1h0m0s ((*ExpectSubprocess).Expect hangs)"
**Environment**

[code]
[code]
and
[code]

**What did you do?**

I'm trying to reproduce https://github.com/coreos/rkt/issues/3477

**What did you expect to see?**

#3477

**What did you see instead?**
[code]

This looks like https://github.com/coreos/rkt/pull/3443

[2017-01-26 07:34] evverx commented on #3477
@s-urbaniak , did you get something like this
[code]
?
i.e `mount --bind dir dir; mount -o remount,ro,bind ./dir` didn't work. Right?

[2017-01-26 07:43] evverx commented on #3477
Nope. https://github.com/systemd/systemd/issues/4752#issuecomment-263164021

[2017-01-26 08:05] s-urbaniak commented on #3477
@evverx yes, that is exactly the failure I saw when investigating the issue. The kernel under test was 4.8.13.

[2017-01-26 09:21] lucab commented on #3560
It is not exactly that (output draining and waiting seem to be fine there) but it is some other gexpect quirk. This test doesn't need any interactive/tty feature out of gexpect, so it can just be switched back to plain process spawning and output matching.

[2017-01-26 10:20] #3560 closed

[2017-01-26 10:47] evverx commented on #3477
Well, I think this is a kernel issue.

`mount --bind t t && mount -o remount,ro,bind t` shouldn't fail. ([`do_remount`](https://github.com/torvalds/linux/blob/3895dbf8985f656675b5bde610723a29cbce3fa7/fs/namespace.c#L2258) shouldn't return `-EINVAL` after successful `mount --bind t t`)

@s-urbaniak ,please try this patch:
[code]
Does it "fix" the test?

[2017-01-26 11:02] evverx commented on #3477
Also, it would be great to see all `mount`-args

[2017-01-26 19:12] dgonyeo commented on #3550
Do IPs for non-running pods even exist? What would be holding the network namespace for them to have an IP? Or if you mean what the IP was when the container was running, do we hold on to that information?

[2017-01-26 19:18] euank commented on #3550
@dgonyeo They're held by files in `/var/run/netns`.

They exist when a pod is exited but not rm/gc'd. You can still enter into those network namespaces etc.

e.g.:

[code]

[2017-01-26 19:25] dgonyeo commented on #3550
Ah ok, awesome. Just wanted to confirm that my mental model wasn't lining up right before digging in, I had assumed it had to be a process that was holding the namespace.

[2017-01-27 06:40] Promaethius commented on #3245
@s-urbaniak Is there a workaround for this rkt issue until the next milestone?

[2017-01-27 07:54] s-urbaniak commented on #3245
@Promaethius as far as I know there is no workaround for read-writable `/proc/sys` without the above patch.

[2017-01-27 08:19] tjdett commented on #2650
Yes, this seems to be working now.

[2017-01-27 08:19] #2650 closed

[2017-01-27 13:15] #3555 closed

[2017-01-27 15:56] squeed opened #3564 "app start should also restart sysusers.service"
We're not creating users as needed in the sandbox.

[2017-01-27 16:01] squeed commented on #3564
Nevermind! debug failure.

[2017-01-27 16:01] #3564 closed

[2017-01-27 17:58] grahamwhaley opened #3565 "rkt fetch fails untar on docker://clearlinux"
**Environment**

[code]

**What did you do?**
`sudo ./rkt fetch docker://clearlinux`

**What did you expect to see?**
After the successful download progress (25.4 MB), I expect to see the sha512 printed for the image.

**What did you see instead?**
After the successful download, I see:

`fetch: extracttar error: exit status 254, output: error extracting tar: could not extract file "rootfs/sbin" in

[2017-01-27 18:02] grahamwhaley commented on #3565
I had a quick dig around, and found the relevant tar file - it looked like sbin was a link to a link, so maybe that is what upset extracttar.
Not sure who to /cc here, nobody leaping out from the history on pkg/tar - so @jonboulle , as he was top of the log ;-)

[2017-01-27 20:32] euank commented on #3245
@Promaethius @s-urbaniak I think that `rkt run --insecure-options=paths` combined with an entrypoint that immediately runs `mount -o remount,rw /proc/sys` is able to workaround this in the meanwhile.

[2017-01-28 06:25] Promaethius commented on #3245
@s-urbaniak @eunak is the stage1-fly effected by this?

[2017-01-28 06:39] euank commented on #3245
This issue doesn't apply to stage1-fly since stage1-fly neither applies any form of security nor uses nspawn.

[2017-01-29 11:19] mbr opened #3567 "umask carries over into container"
It seems that the local users umask is leaking into the container, which is problematic because almost all containers expect to be run with the common umask of `0022`.

Example:

[code]

vs.

[code]

**Environment**

rkt Version: 1.21.0
appc Version: 0.8.9
Go Version: go1.7.3
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL

Debian Jessie 8, Kernel 4.7.0-0.bpo.1-amd64

[2017-01-29 18:58] grahamwhaley commented on #3567
I wonder if this is at all related to #3539 , and and the previous #3528
/cc @jodh-intel

[2017-01-30 09:40] #1737 closed

[2017-01-30 09:49] lucab commented on #3567
It may be related, but from my initial investigation I fear there are multiple places where we are creating files/dirs without accounting for a possibly stricter umask.

[2017-01-30 10:03] lucab commented on #3565
I think that extracttar is upset because it is chroot'ed to a slightly wrong place. In particular, it seems to be chroot'ed into the parent dir of the rootfs. For that reasons, absolute links may be broken as they point to something that don't exist at that level (ie. `/foo -> /bar` is broken because that path is currently at `/rootfs/bar`).

A proper fix for this is to either a) extract the manif

[2017-01-30 13:37] mbr commented on #3567
On Mon, Jan 30, 2017 at 10:50 AM, Luca Bruno <notifications@github.com>
wrote:

A simple fix is usually just setting it to `0022` at program start.

[2017-01-30 14:11] s-urbaniak commented on #3477
@evverx I'll try to get an overnight test run on my machine with the above patch and will let you know about the result.

[2017-01-30 14:16] s-urbaniak commented on #2782
It seems v1.1.0 landed https://github.com/cznic/ql/releases/tag/v1.1.0

[2017-01-30 15:42] grahamwhaley commented on #3558
Hi @alban So, I dug into this a bit (as I wanted to understand as well ;-) )
I believe the core issue is that virtualbox does not use the kernel `KVM`, but has its own equivalent in its own kernel module (`vboxdrv` I think). Those two items will them 'fight' over the rights to use the Intel `VT-x` hardware virtualisation features. Whoever runs first will get the rights, and the other should  then

[2017-02-01 10:59] #3228 closed

[2017-02-01 12:19] lucab commented on #2937
Fixed by https://github.com/coreos/rkt/pull/3554

[2017-02-01 12:19] #2937 closed

[2017-02-01 12:21] lucab commented on #3544
This is going to be installed next time we upgrade the AMI, probably shortly after debian stretch freeze. De-milestoning from rkt cycle.

[2017-02-01 14:12] jodh-intel opened #3573 "Document how the current build system works"
The rkt build system is fairly elaborate, relying heavily on some of the more advanced GNU Make features  (including macros, dynamic rule generation). It also uses a lot of stampfiles for building and cleaning.

The build system clearly provides a lot of features that are absolutely required for the complex job of building all the elements of rkt. However, overall, this custom build system makes t

[2017-02-01 15:09] cshubhamrao commented on #3565
@lucab Looking forward to working on this (first contribution). How to get started? Have cloned and built `rkt` (and able to reproduce this issue)

[2017-02-01 21:51] jeremyd opened #3575 "documentation missing from networking section for --dns=host"
It took me a while to figure out the problem was I was missing the --dns=host.  There should be more documentation about --dns on the main networking help pages for rkt to save people time and pain figuring out why networking does not 'just work'.  Especially with --net=host.

https://coreos.com/rkt/docs/latest/networking/overview.html

**Environment**
[code]

**What did you do?**
rkt run --net=ho

[2017-02-02 09:21] lucab commented on #3575
/cc @squeed

[2017-02-02 12:20] #1799 closed

[2017-02-02 13:19] squeed commented on #2782
I just tested this a bit further, and it seems the QL changes are not enough, because we are working in a transaction.

[2017-02-02 13:44] cznic commented on #2782
@squeed Please [fill an issue](https://github.com/cznic/ql/issues/new) with more details and/or a reproduction case, thank you.

[2017-02-02 14:12] squeed commented on #3565
Hi there!
It should be a pretty easy fix - finding the correct Chroot call in extracttar and correcting it. Ideally, you'd add a test case in `pkg/extracttar` that covers this case.
Once you have your code working and the tests pass, fork rkt, make a branch, and push it to your local fork. Then, open a pull request and we'll move from there.

Cheers!

[2017-02-04 15:14] d33tah opened #3578 "FTBFS: unrecognized command line option ‘-no-pie’"
**Environment**

[code]

**What did you do?**

Tried to build rkt

**What did you expect to see?**

A working build

**What did you see instead?**

  GO           github.com/coreos/rkt/rkt
  GO           github.com/coreos/rkt/tools/depsgen
  GO           <VENDOR>/github.com/appc/spec/actool
  WGET         https://alpha.release.core-os.net/amd64-usr/1235.0.0/coreos_production_pxe_image.cpio.gz => b

[2017-02-06 12:04] thattommyhall commented on #3157
Just wondering if there is any change to this, will rkt be able to log into ECR?

[2017-02-06 12:30] grahamwhaley commented on #3558
@alban does the above answer satisfy this Issue, or would you really like the patch made for lkvm? I'm not sure the patch will be that much more helpful - it will just say 'EBUSY', so pretty much 'no resources'. It still won't tell you why or what to do about it etc.
 I suspect we can close this issue?

[2017-02-06 13:12] alban commented on #3558
@grahamwhaley thanks for the explanation, that's enough for me. I let it up to you.

[2017-02-06 16:58] n0rad opened #3579 "--pull-policy="new" is not the default policy"
**Environment**

[code]

**What did you do?**

`rkt run --help` tells that `pull-policy` is default value is `new` but setting it explicitly is acting differently.

I'm fetching an aci file that have explicit dependencies (with version label) that I previously fetched.

When I run rkt fetch without the pull-policy, it fail because rkt is fetching image remotly, but the domain name I use do not exi

[2017-02-06 20:08] urzds commented on #1496
I'd also need to signal a process running inside a Rkt container. In my case that would be `quay.io/coreos/dnsmasq`, which reloads its hostsfile upon receiving `SIGHUP`.

[2017-02-07 17:57] grahamwhaley commented on #3578
Hi @d33tah,
 My suspicion is that those flags are not supported/recognised under F23 as the version of gcc may be too old - but I don't have an F23 here to try against. I do however build on F24 (gcc 6.3).
 Just deleting that patch file `rkt/stage1/usr_from_kvm/kernel/patches/0002-for-debian-gcc.patch` may get you further, as those flags are really there for systems that default to `pie` builds (l

[2017-02-07 21:06] dgonyeo commented on #3579
I added in the following line to `rkt/run.go` right after it finishes handling the legacy `--no-store` and `--store-only` flags:
[code]
I then ran a couple `rkt run` commands, and saw the following output:
[code]

What behavior are you observing when you don't pass the `--pull-policy=new` flag? It's failing to fetch some of the image's dependencies? Would you be able to share the output from this

[2017-02-07 21:25] n0rad commented on #3579
[code]

[2017-02-09 20:00] derobert opened #3581 "A way to pass through DeviceAllow strings"
I'm trying to get FreeSWITCH to function inside a rkt container, using Digium (DAHDI) PRI cards. I've passed the DADHI deices through on the rkt run line with `--volume dahdi,kind=host,readOnly=false,source=/dev/dahdi --mount volume=dahdi,target=/dev/dahdi` When I try to load mod_freetdm, I get a permission denied trying to open `/dev/dahdi/ctl`. It turns out that rkt set DevicePolicy=closed, and

[2017-02-09 21:51] timothysc opened #3582 "Version bump to grpc 1.04 to allow kube update to etcd 3.1.0"
I need a version bump of rkt 's grpc version to v1.0.4 and a regen in order to update kubernetes to etcd v3.1.0, to upgrade out of pretty serious issue

https://github.com/kubernetes/kubernetes/issues/41143

/cc @xiang90 @philips

[2017-02-09 21:52] timothysc commented on #3582
It's a transitive dependency issue.

[2017-02-10 03:03] #3582 closed

[2017-02-10 17:28] lucab commented on #3581
Thanks for the report. All your remarks are correct, it should be possible at systemd level but we currently don't have a way to rely this information to stage2. It will probably require a bit of design/UX planning and hopping through appc to expose this setting, so it is currently not on the radar.

[2017-02-10 17:45] lucab commented on #3532
This is not on our radar at the moment, but it should be easy enough to tackle for external contributors. Contributions welcome!

[2017-02-10 17:46] #3252 closed

[2017-02-10 19:25] #3382 closed

[2017-02-10 19:39] lucab commented on #3181
Comments above are on spot, the cleaning part should be much improved after #3486 (barring the mounts that are allowed to escape due to back-propagation). The remaining part/mess due to shared propagation is probably better tracked at https://github.com/coreos/rkt/issues/3465.

[2017-02-10 22:36] timothysc commented on #3582
@s-urbaniak @lucab you bumped too far to 1.0.5.

That causes a transitive problem in generation in kubernetes, see slack details.

[2017-02-11 17:25] omribahumi opened #3586 "Update the `rkt attach` documentation to mention RKT_EXPERIMENT_ATTACH environment variable"
I wanted to experiment with `rkt attach` and spent like an hour to figure out it's gated with the `RKT_EXPERIMENT_ATTACH` environment variable.
I think it's worth mentioning it in the documentation for `rkt attach` to save people some time.

Just for the people reaching here from Google: when running `rkt run quay.io/coreos/alpine-sh --stdin tty --stdout tty --stderr tty` (from the documentation)

[2017-02-11 17:39] omribahumi opened #3587 "stdout in stream mode doesn't buffer output before attachment"
This is referring the feature introduced in #3396 (rkt: add experimental support for attachable applications)

**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

I expected the `hello` to be buffered and flushed when attaching.
This works as expected when running with `--stdin tty --stdout tty --stderr tty`
I also expect this test to work without the `sleep 100

[2017-02-11 18:01] omribahumi opened #3588 "EOF not sent with `rkt attach`"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

I expected the container to get the EOF and for the `cat -` command to terminate. Then I expected `rkt attach` to exit cleanly.

**What did you see instead?**

The container was still alive. Pressing CTRL+C and re-running the `echo hello | sudo RKT_EXPERIMENT_ATTACH=1 rkt attach $ID` command, you see the same o

[2017-02-13 16:51] timothysc commented on #3582
@s-urbaniak per slack conversation on Friday, do you have an ETA on this?

[2017-02-13 17:04] lucab commented on #3582
@timothysc https://github.com/coreos/rkt/pull/3584#issuecomment-279112780

[2017-02-14 12:53] trusch commented on #3431
I think this is not arch linux specific.

I encountered the very same error on a buildroot based OS which compiles systemd right from its sources.

My fix was to surround systemd-nspawn with a little shell wrapper, but this can not be the final solution.

[code]

[2017-02-14 12:58] s-urbaniak commented on #3431
@trusch I'd guess your buildroot's systemd does not include the following patch: https://github.com/systemd/systemd/commit/cfed63f60dd7412c199652825ed172c319b02b3c.

That was necessary to fix it on Arch Linux.

[2017-02-14 18:16] jellonek commented on #3558
@grahamwhaley good investigation. Sorry that I didn't seen this thread later, I would tell you exactly the same - vbox can not be used with other virtualizer in the same time. In general the same should be similar for other virtualizers like VMWare or something else what uses custom interface.

But, maybe we could inform user with a better error message? Because existence of kvm modules/possibilit

[2017-02-14 18:33] euank commented on #3558
Since this isn't a rkt bug and is "working as intended", I've removed those labels.

A better error message or mention of this in the stage1-kvm docs would be nice.

[2017-02-15 12:16] trusch opened #3592 "rkt: #271 (rkt: validate OS/arch during run/unpack) seems not to be fixed in all cases"
**Environment**
[code]

**What did you do?**

1. Build a ACI on amd64 with a arm compatible rootfs
[code]
The resulting manifest contains the label arch:amd64, since this is the aci-build environment.
The ACI got signed and copied to the target device.

2. Run the ACI on an arm device
[code]

**What did you expect to see?**
`bad arch: amd64`

**What did you see instead?**
`[ 3999.092910] hello-arm

[2017-02-15 12:34] trusch commented on #3592
I don't know if this is related but it also takes 1m4s to run the image. The used processor is an imx6quad, so its not that I'm running on a RPi1 or something. I also have working overlayfs. Perhaps the problem is IO related (it runs from sdcard)

[2017-02-15 12:59] lucab commented on #3592
`--insecure-options=ondisk` will probably help reducing the loading time, see https://github.com/coreos/rkt/issues/3481.

[2017-02-15 23:16] styxlab opened #3593 "rktnetes: e2e conformance tests fail with rkt but not with docker"
**Environment**

4 node self-hosted cluster:

[code]

**What did you do?**

Ran e2e conformance tests with

[code]

**What did you expect to see?**

The same as with runtime docker:
[code]

**What did you see instead?**
[code]

[2017-02-16 06:40] trusch commented on #3592
@lucab Thanks, this reduced the load time by around 25%. Can you tell me what the most CPU intensive Tasks are in stage0? I wonder if they could be distributed on all cores, because I only see one core working all the time.

[2017-02-16 09:33] lucab commented on #3593
We recently had some updates on that regard, see https://github.com/kubernetes-incubator/rktlet/issues/95. A newer rkt and k8s from master should solve most of those failures.

[2017-02-16 09:41] lucab commented on #3592
This would need better profiling, but on the spot I would guess:
* I/O bound: network fetching, unpacking image to disk.
* CPU bound: tarball decompression, hash/sig-verify operations, in-memory tarball walking.

We have some profiling-related docs at https://github.com/coreos/rkt/tree/master/Documentation/performance#profiling, but it hasn't been touched in a while. It may require a bit of additi

[2017-02-21 21:34] styxlab commented on #3593
With `rkt 1.23.0` I can get rid of 2 of the above failures. The newest `k8` branch I can test on is `1.5.2`, so I may not capture all corrections.

However, I'm mostly worried about the DNS service failure which does not seem to be among the ones mentioned in kubernetes-incubator/rktlet#95.

[2017-02-21 22:12] euank commented on #3593
The DNS one might be related to https://github.com/kubernetes/kubernetes/issues/24563#issue-149884566

[2017-02-23 00:54] tjdett opened #3596 ""apt update" broken for QEMU stage 1"
It appears #1917 is back in QEMU:

[code]

**Environment**
Built with `./configure --with-stage1-flavors=kvm --with-stage1-default-flavor=kvm --with-stage1-kvm-hypervisors=qemu`.

[code]

[2017-02-23 10:56] grahamwhaley commented on #3596
Thanks for the report @tjdett - I'll take a look...

[2017-02-23 17:20] f0 opened #3597 "rkt fails to run a docker image copied with skopeo"
**Environment**
[code]

I have copied a docker image with skopeo between 2 Docker registries

[code]

if i try to run this with rkt, it fails with
[code]

with docker i can run the image without problems
[code]

[2017-02-25 21:24] wmark opened #3598 "net: provide a switch to opt-out default-restricted"
**Environment**
vanilla CoreOS 1325.1.0 with its rkt 1.23.0
[code]

[code]
… and a trivial custom subnet for internal IP addresses:
[code]

… on *bare-metal*.

**What did you do?**

[code]

**What did you want to see?**

Only one *veth* device to appear, with `10.11.0.1/32 peer 10.11.0.4` or similar.

**What did you see instead?**

Two *veth* devices have been created by *rkt*, one for the `ptp0:I

[2017-02-26 21:14] jaypipes opened #3599 "How to tell systemd-run to treat 15/SIGTERM as SuccessExitCode for etcd ACI?"
**Environment**

Replace this with the output of:

[code]

**What did you do?**

Spawning an etcd ACI using `systemd-run rkt run` with the following steps, which come pretty much from the tutorial/getting started docs:

[code]

The above creates the container running the etcd service properly, as the getting started guide describes, as evidenced here:

[code]

All good in the hood.

The problem is

[2017-02-27 19:53] ahmetb commented on #2721
I am seeing this message in my logs as well. It floods my logs stream. It's not a real error, everything actually keeps working fine. It's just the flooding...

    2017-02-27T19:35:31.319067415Z 2017/02/27 19:35:31 grpc: Server.Serve failed to create ServerTransport:  connection error:
       desc = "transport: write tcp 10.24.2.11:8001->10.24.2.1:54546: write: broken pipe"

[2017-02-27 19:56] yifan-gu commented on #2721
@ahmetb What's your environment? Are you using it with kubernetes?

[2017-02-27 19:58] ErwanMAS opened #3600 "cni has a new release v0.4"
can you bump the version for cni from v0.3 to v0.4 .

[2017-02-27 20:00] ahmetb commented on #2721
@yifan-gu, yes I'm using it with Kubernetes. I have a minimal gRPC service and a web server making rpc into this service.

The web server (gRPC client) actually does not maintain long-lived connections to the service; it just dials every time it needs to make an rpc and then Close()s the connection. (Maybe that contributes to the error?)

I get this error about every 10s

[code]

[2017-02-28 04:23] daurnimator commented on #3065
I'm also having this issue.
[code]

[2017-02-28 11:43] squeed commented on #3065
This will be a bit tricky to debug from a strace, since the "interesting" operations are all Netlink packets.

This sort of error message usually means your kernel doesn't have `veth` support enabled. What happens when you do:

[code]

[2017-02-28 11:46] squeed commented on #3600
I'm waiting for 0.5 to be released, which should be sometime soon.

[2017-02-28 19:11] grahamwhaley commented on #3596
Hi @tjdett I believe this is because we have not merged #3475 yet... I reproduced the issue, and then took the current HEAD, merged that PR in and re-tried and the test worked (apart from I had to use the ubuntu image, as for some reason I could not download and convert debian:8 to an ACI...)

#3475 is pending the status of patches being pushed towards/merged to upstream QEMU - and I've just chase

[2017-03-01 01:59] daurnimator commented on #3065
I think I figured out this issue: I installed a new kernel but hadn't rebooted yet. Therefore kernel modules required by rkt weren't present to be loaded on demand.
Solution: a) reboot into new kernel b) reinstall kernel modules for currently booted kernel

[2017-03-03 03:04] daurnimator opened #3601 "No output when trying to start a container"
**Environment**
[code]

**What did you do?**

`sudo rkt --insecure-options=image run docker://centos`

**What did you expect to see?**

Dropped into a shell in the container? Some indication a container was running?

**What did you see instead?**

No output: it took 20 seconds and then exited.
running `sudo rkt list` I see:

[2017-03-03 06:44] vincentvdk commented on #3601
what happens if you pass `--exec /bin/bash` ath the end?

[2017-03-03 06:46] daurnimator commented on #3601
Same thing. i.e. waits 20 seconds, then exit with no output; an exited container is now added to `rkt list` output.

[2017-03-03 08:56] lucab commented on #3601
This is expected behavior: `library/centos` has `/bin/bash` as entrypoint and you are running in non-interactive mode. As such, it correctly spawns a shell that immediately exits with a success code.

If you are interested about all the glorious execution details, run it with `--debug`. If you are interested in getting an interactive shell instead of an immediate exit, run it with `--interactive`.

[2017-03-03 15:03] uzytkownik commented on #3540
@lucab Sorry for delay. The --uuid-file solves the problem (I added it to PreExecStart). I think it should be pointed out in documentation of static ips at least.

[2017-03-03 15:38] lucab commented on #3540
@uzytkownik glad to know. Which docs were you following specifically? We'll happily take a PR for that if it is some doc in this repo.

[2017-03-06 03:03] daurnimator commented on #3601
Ah ha. I had somehow missed that.

[2017-03-06 03:03] #3601 closed

[2017-03-06 21:04] ErwanMAS opened #3603 "DNAT not working in some case"
**Environment**
[code]

rkt list
[code]

ip addr
[code]

ip route
[code]

cat /etc/rkt/net.d/k8s_network.conf
[code]

iptables-save
[code]

ip netns
[code]

**What did you do?**

[code]
**What did you expect to see?**
curl -sI http://192.0.2.52:9003/
[code]
**What did you see instead?**
nothing because the forwarding does not work
[code]
**The SOLUTION**
The iptables rules must be run in the names

[2017-03-07 10:29] squeed commented on #3603
I think I know what's wrong. Can you try the following `rkt run` command:
`rkt run --net=rkt.kubernetes.io,default` --dns=host --insecure-options=image docker://nginx --port 80-tcp:9003`

This changes the net argument to `--net=rkt.kubernetes.io,default`.

[2017-03-07 10:47] lucab commented on #3597
It looks like skopeo is not adjusting image name when copying across registries. I think this should be adjusted at upload time, but I'm not too about what specs says about validation in case of mismatches.

/cc @runcom @mtrmac

[2017-03-07 11:47] mtrmac commented on #3597
Yeah, https://github.com/containers/image/issues/51 . If this is the issue, does https://github.com/containers/image/pull/88 work for you? That PR _should_ work, it is “only” blocked for updating tests in skopeo.

[2017-03-07 15:57] ErwanMAS commented on #3603
I tried , it does not work .

My setup does not use Level3 switching/routing , so iptables in the host will never work .

The DNAT rules must be push in the container namespace .

[2017-03-07 16:39] lucab commented on #3597
This seems to be exactly the same already reported at https://github.com/projectatomic/skopeo/issues/290, so I'm closing this in favour of that.

[2017-03-07 16:39] #3597 closed

[2017-03-07 17:00] ErwanMAS commented on #3603
I tried with a macvlan  setup , i have the same behavior , it's work only when create the DNAT rule  in the namespace of the container .

[code]

[2017-03-07 17:15] squeed commented on #3603
`rkt` will only forward to networks where `ipMasq` is enabled, so you'll have to flip that bit. We should probably warn on this case. However the whole point of using `ipvlan` and `macvlan` is that you *don't* need to use hostport forwarding, since the container has a direct connection to the outside world.

Separately, you have to be careful about ipvlan and macvlan networks, because it's easy to

[2017-03-07 17:30] ErwanMAS commented on #3603
Why you dont want to push the dnat rule in the container namespace ?

[2017-03-07 18:04] squeed commented on #3603
How would it work? Traffic to the hosts IP won't enter the container's namespace.

[2017-03-07 18:14] ErwanMAS commented on #3603
i tested , it work .

[2017-03-07 18:17] ErwanMAS commented on #3603
I use --port  to map a external port on the internal port .
This feature is provided by `-A RKT-PFWD-DNAT-9ed9eaa4 -p tcp -m tcp --dport 9003 -j DNAT --to-destination 172.17.0.2:80 `
If this rule is added into the namespace of the container , the container willl recieve the traffic on external port and it will redirected to the internal port .

[2017-03-07 18:22] ErwanMAS commented on #3603
i read again the help for `--port` i understand your comment , so yes , it's not a bug .
`--port=			ports to expose on the host`

[2017-03-07 23:00] uzytkownik opened #3605 "It's hard (impossible) to disable a default network"
**Environment**

[code]

**What did you do?**
Tried to just use bridge + static ip. I tried to use `--net=bridge:IP=<IP>` and `--net=none --net=bridge:IP=<IP>`. As a WAR I issued `ip link set eth1 down`.

**What did you expect to see?**
Connection to host routed over the bridge interface,

**What did you see instead?**
Connections to host are routed through the veth interface (they are then reject

[2017-03-07 23:03] uzytkownik commented on #3540
@lucab Now that I see there is no documentation on this topic. The closest thing is https://coreos.com/rkt/docs/latest/networking/overriding-defaults.html which mentions IP parameter.

[2017-03-08 07:08] dashesy commented on #2392
Perhaps as the interim solution can we run a local docker registry:

    rkt run docker://registry

Then push to that registry

    docker push localhost:5000/imagename

But then how can we use the local when we use:

    rkt run docker://imagenam

[2017-03-08 08:55] lucab commented on #2392
@dashesy `docker://localhost:5000/imagename:tag` is probably the syntax you are looking for. Beware of matching metadata when moving images around, eg. https://github.com/coreos/rkt/issues/3597.

[2017-03-08 09:03] lucab commented on #3605
I think you are complaining about the `default-restricted` network, and would like to opt-out of it. This looks like the exact same request as https://github.com/coreos/rkt/issues/3598.

[2017-03-08 09:04] lucab commented on #3598
/cc @squeed

[2017-03-08 09:07] lucab commented on #3540
@uzytkownik that doc is coming from this source: https://github.com/coreos/rkt/blob/master/Documentation/networking/overriding-defaults.md. Would you mind submitting a small PR with your proposed wording?

/cc @joshix @ElijahCaine

[2017-03-08 10:11] squeed opened #3606 "rkt default-restricted collides with docker networking"
The `default-restricted` network uses 172.17.0.0/16 as a pool, conflicting with Docker. It should use something not so widely used, probably 172.31/16

[2017-03-08 10:18] antoineco commented on #3466
On a broader level I also noticed that flannel itself does provide information about failures when ran on the command line, while journalctl seems to trim the interesting part of the output.

[2017-03-08 10:51] lucab commented on #3598
We didn't unfortunately see this collision when we updated it, see https://github.com/coreos/rkt/issues/3606. Can you please get into more details about what's the network status and what is actually breaking when this collision happens?

[2017-03-09 00:16] uzytkownik commented on #3605
@lucab  Yes, except I run into conflict with the external network instead of docker.

[2017-03-09 08:40] lucab commented on #3598
So, rkt already has a `--mds-register` flag to disable registering to the metadata service. I think it can be overloaded to also disable the implicit loading of `default-restricted`. This is however a breaking change, as it changes a default net behavior.

[2017-03-09 08:41] lucab commented on #3605
Thanks, I'm closing this in favor of that.

[2017-03-09 08:41] #3605 closed

[2017-03-09 08:44] lucab commented on #3598
/cc @uzytkownik

[2017-03-09 09:01] lucab commented on #3598
Temporary workaround: name your own custom network as `default-network`, so that the additional rkt-provided one won't be loaded (this is really suboptimal, but compatibility breaking is bad as well).

Sticking to the original report, this would mean:
[code]
and then
[code]

[2017-03-09 11:10] natlibfi-arlehiko opened #3608 "Automatic updates of container images"
AFAIK, there doesn't seem to be a solution to automatically update rkt containers to use the latest image (According to **acVersion** [semver](http://semver.org/).

Docker users can utilize [Watchtower](https://github.com/v2tec/watchtower). Also, I think that CoreOS provides this functionality. So the problem lies with running containers without a specific distro.

[2017-03-09 17:28] lucab commented on #3608
rkt is a self-contained container runtime, what you are asking for seems to fit into the model of a long-running polling process. I don't think this features should be under the responsibility of rkt, but I'd rather would see this implemented by an external orchestration system (e.g. kubernetes) which drives rkt.

[2017-03-12 14:37] wmark commented on #3598
Thanks for looking into this!

To your question, I assume any packets to/from Docker (which is started before rkt starts its net) are passed to the wrong gateway, and then discarded:
[code]

[2017-03-13 17:28] kfirufk opened #3610 "fail to view logs of exited pods"
Container Linux by CoreOS alpha (1339.0.0)
rkt Version: 1.25.0
appc Version: 0.8.10
Go Version: go1.7.3
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL

`rkt list --full` showed exited pot and I failed to view it's log.

with rkt list I fetched the following uuid of the pod, couldn't find it with machinectl
914c4f3f-6e3a-44c2-a111-bfc91ceb411a

tried the following:

[code]

also created an issue

[2017-03-13 18:06] euank commented on #3610
@kfirufk The easiest way I've found to view those logs is `journalctl --dir /var/log/journal/${uuid}`. The uuid there is the full rkt uuid with the hyphens removed.

[2017-03-13 18:50] lucab commented on #3610
According to https://github.com/coreos/rkt/blob/master/Documentation/commands.md#stopped-pod, `journalctl -m _MACHINE_ID=` is the proper invocation but the uuid should be without hypens.

[2017-03-14 07:58] kfirufk commented on #3610
journalctl -m _MACHINE_ID=<UUID WITHOUT HYPENS> returns No Entries, and in /var/log/journal I don't have the uuid of the failed kubedns pod.
once I try to check for the UUID before the kubedns pod exits, both options return the proper log, but once the kubedns pod restarts and gets a new UUID, i can't check previous logs with previous UUID.

any ideas?

[2017-03-14 08:43] lucab commented on #3610
`rkt list` will show all exited (and not yet gc'ed pods). `journalctl -m` will shows all logs from all journals.

If the `_MACHINE_ID` filter doesn't show anything anymore you can try removing it, but my guess is that the old pod has already been gc'ed.

[2017-03-14 09:17] kfirufk commented on #3610
trying to find out how to prevent pods from auto gc to confirm that this is the case. do you know if it's a global rkt related configuration or should I browse the kubernetes docs for that ?

[2017-03-14 10:10] kfirufk commented on #3610
Ahmmmm.. If I can see the exited pod with rkt list --full, it means that it wasn't garbage collected yet but I can't view the logs

[2017-03-14 14:03] euank commented on #3610
In `rkt list`, does it show as `exited` or `exited garbage`? Exited pods can be in the garbage while still showing in list, meaning they've been marked for removal but not removed. Marking it for removal involves moving it, therefore breaking the journal symlink. See #2445.

If that's not it, double-checking the symlink in `/var/log/journal` points somewhere sane would still be a good debugging st

[2017-03-14 21:40] kfirufk commented on #3610
ok.. you where right :) i just noticed the 'exited'.. not the rest of the sentence.
when kubedns fails, it goes directly to 'exited deleting' and then to 'exited garbage'.

before I close the ticket, got any idea how to prevent the pod from being deleted immediately after failure ?

[2017-03-14 22:11] euank commented on #3610
@kfirufk check if the `rkt-gc.timer` is what's doing it (systemctl list-timers, or status rkt-gc.timer). It's enabled by default, but can and should be disabled if Kubernetes is managing your rkt pods.

[2017-03-15 02:40] aaronjheng commented on #3600
@squeed [https://github.com/containernetworking/cni/releases/tag/v0.5.0](https://github.com/containernetworking/cni/releases/tag/v0.5.0)

[2017-03-15 07:25] kfirufk commented on #3610
awesome.. now I can view the logs.. one last thing.

I actually needed to add to /var/lib/coreos-install/user_data
the following:

[code]

i need to actually stop the service at boot time, just 'enable:false' still starts it. is there a way to tell my coreos not to start rkt-gc.timer in a cleaner way ?

[2017-03-15 09:34] Vintodrimmer opened #3617 "List of required kernel modules"
Good day.

I'm running a custom kernel and each time I try to run `rkt`, I have some issues, which are related to the missing kernel modules (not that it tells me about it).

Can you add a list of the modules, that are required for the `rkt`, such as `veth`, `xt_comment` and so on to the documentation, please?

[2017-03-15 11:08] lucab commented on #3617
/cc @squeed

This looks like a case where it should be documented in each CNI plugin, and then referenced here for rkt.

[2017-03-15 18:28] euank commented on #3610
@kfirufk The reason that happens is that `cloud-init` runs after boot and thus the "enable" races with the timer itself.

Ignition solves that problem. You can read more here: https://coreos.com/ignition/docs/latest/what-is-ignition.html

Using ignition to mask `rkt-gc.timer` will ensure that it never starts in the first place.

[2017-03-16 07:58] kfirufk commented on #3610
Thanks for everything

[2017-03-16 07:58] #3610 closed

[2017-03-16 14:59] squeed commented on #3617
Indeed, these modules are required transitively through CNI. I'll update the documentation, though.

[2017-03-17 15:33] zkynet commented on #3504
I ran into the same issue. It's the kubelet that's causing it .. I'm not sure why yet.

[2017-03-22 11:07] timthelion commented on #3248
Hi,
I implemented support for the `--device` flag for Docker, and this feature is also of importance for me (I am currently investigating if rkt can be used by my [subuser](http://subuser.org) project). In the Docker project, we chose to have `--device` first look at the file tree that was selected, find any devices, and then cgroup.allow read, write, and mknod for each of the major:minor node pai

[2017-03-22 14:05] timthelion commented on #2925
Hi, I'd really like the following options:

1) To be able to specify to use just a tree on my filesystem that I have set up by hand or using a 3rd party tool. I should be able to do

[code]

This would be extra cool because it would allow people to start to experiment with entirely new storage and image creation mechanisms which could lead to huge storage usage improvements. Imagine if someone fou

[2017-03-23 17:30] jwhitcraft commented on #2721
I'm seeing this as well with a grpc service and kubernetes.

[2017-03-23 17:46] ahmetb commented on #2721
@jwhitcraft created https://github.com/grpc/grpc-go/issues/1142 please upvote there.

[2017-03-26 06:59] sjansen commented on #3157
I believe this issue can be closed, or converted to a request for improved documentation.

It is possible to run images from ECR, but it took me several false starts before I figured out the correct configuration.

File: `/etc/rkt/auth.d/ecr.json`
[code]

[2017-03-27 10:40] jonboulle commented on #3157
@sjansen thanks for clarifying - would you be open to filing a PR to explain this in the documentation?

[2017-03-27 15:42] squeed commented on #3248
Neat, that's a good point. Fortunately, we only manipulate the device cgroup if the source of a volume is a device node - we don't do any walking.

Rkt removes all device restrictions if `--insecure-options=paths` is passed. This is obviously coarser than expected, but perhaps it's OK?

[2017-03-30 20:00] jwieringa commented on #3157
@sjansen Thank you for posting the solution, they are working great for me as well.

[2017-04-01 18:49] ljohnny opened #3626 "running the started guide,network didn't work and seconds exit in ubuntu 16.10"
i am a newbie of rkt and i do testing follow this document:
https://coreos.com/rkt/docs/latest/getting-started-guide.html

but in first step,i meet the strange wrong,these are the details of my terminal:

[code]

why is the /etc/rkt/net.d empty?

[2017-04-01 20:18] euank commented on #3626
It's expected for the `net.d` configuration directory to be empty if you haven't populated it.

The default network should still work just fine in that case.

To help us figure out why it didn't work, please provide more information such as your distro, the rkt version, the `rkt` command you ran, etc.

One possibility is that your distro doesn't have a compatible selinux policy (e.g. fedora, see [

[2017-04-02 05:08] ljohnny commented on #3626
you mean that net's config will not auto create,i should populated it by myself then it can work.my rsk's version is the latest one.the commands all i run follow that doc.

[2017-04-02 06:25] euank commented on #3626
It's not that the networking file will be autocreated or that you need to create it. The default network works without needing any configuration and without creating one.
I suspect that the networking thing is a red-herring.

I followed exactly the commands in the getting-started guide on a fresh ubuntu 16.10 VM, after installing rkt, acbuild, and go, and everything worked as expected for me.

I n

[2017-04-02 08:07] ljohnny commented on #3626
i use this cmd "apt-get install rkt" to install rkt.Do you also use it?

[2017-04-02 15:29] gfyrag commented on #3391
Coming from a Docker background, i real agree with :
[code]
Having to search why i have no network connectivity on a simple container run following a basic tutorial is really frustrating.

[2017-04-02 19:00] euank commented on #3626
On 16.10 that installs version 1.5.1. The latest version is 1.25.0 and the installation guide points to the deb the project releases (see [here](https://coreos.com/rkt/docs/latest/distributions.html#deb-based)).

Next time, follow the issue template so it's immediately apparent that you're using a very old version of rkt.

That being said, since hello-world ran correctly, it seems likely that the

[2017-04-03 11:17] ljohnny commented on #3626
ldd is output normal dependence of the cmd.my rsk's version is 1.5.1,is it not the latest one?

[2017-04-03 18:50] euank commented on #3626
@ljohnny the getting started guide explicitly mentions that the binary built for it must be statically linked (specifically that `ldd` should say `not a dynamic executable`). I also said that no, the latest version is 1.25.0, not 1.5.0, again per my previous comment.

[2017-04-03 20:11] euank commented on #3617
To point to some existing art, I've found Docker's [`check-config.sh`](https://github.com/docker/docker/blob/v17.04.0-ce-rc2/contrib/check-config.sh) script to be quite useful on many occasions.

[2017-04-03 20:15] euank commented on #3481
@ecordell as an FYI, I implemented this in #3623. I think I responded to your concerns, but if you don't agree with my response or want to discuss more, before that merges would be the time.

[2017-04-04 16:28] ljohnny commented on #3626
you are right.i run separately with `CGO_ENABLED=0 go build -ldflags '-extldflags "-static"'`,sry

[2017-04-04 16:34] #3626 closed

[2017-04-04 18:56] hh opened #3628 "Soliciting rkt CI requirements for Inclusive Integration with CNCF Projects"
[[cncf-ci-public] CNCF CI Goals](https://lists.cncf.io/pipermail/cncf-ci-public/2017-February/000001.html)
[[cncf-ci-public] Soliciting CI requirements via Project GitHub Issues](https://lists.cncf.io/pipermail/cncf-ci-public/2017-March/000024.html)

This github issue is to provide a highly visible invite to be part of creating a cross-cloud cross-project CI within the diverse software communities

[2017-04-05 17:35] Xenopathic opened #3629 "Default seccomp whitelist is insufficient on ARM"
**Environment**

[code]

**What did you do?**

Attempt to run nearly any binary on an ARMv7l architecture through rkt. Oddly the Go "Hello World" binary works fine, but even a simple `int main() { return 0; }` compiled statically with gcc hits this problem.

**What did you expect to see?**

Successful execution of the executable.

**What did you see instead?**

Executable is killed with SIGSYS, du

[2017-04-05 23:38] tesujimath opened #3630 "Wrapper program for unprivileged users to invoke rkt run"
I am looking at writing a setuid wrapper for rkt run, as a means of enabling unprivileged users to run containers in a controlled fashion.  I am aware that there is interest in enabling rkt run to be used by unprivileged users, but that there are some issues remaining, and so it is not possible today.  I am looking for a quick way to provide this facility to my users, and am interested to know if

[2017-04-06 12:04] squeed commented on #3630
This is probably a good idea, but will definitely need some careful thought.

As you've probably noticed, it's probably not possible to get rkt to work using capabilities. For example, it often calls `iptables`, which requires root (sigh).

You want to be very, very careful about the sort of options you allow. Mounting arbitrary paths is, of course, should not be supported. Even more fun, `rkt` tr

[2017-04-06 13:23] ecordell commented on #3481
@euank Everything looks good to me, thanks for taking the time to explain the situation!

[2017-04-06 14:21] Huge opened #3632 "Docs missing instructions on manual/custom build/install"
Ex. the https://github.com/rkt/rkt/blob/master/Documentation/distributions.md#deb-based link pointed( at the same page) as "you can install manually." don't point anywhere.
I'm especially interested in building for the ARM64( or aarch64) which should be possible as https://github.com/glevand/hikey-coreos#info suggests. Just FYI I'd like to get rkt running in the Ubuntu chroot on ChromeOS.

[2017-04-06 14:29] lucab commented on #3632
The page you linked describes how to install from packages. Building from sources is covered in the [hacking](https://github.com/rkt/rkt/blob/v1.25.0/Documentation/hacking.md) and [quickstart-dev](https://github.com/rkt/rkt/blob/v1.25.0/Documentation/devel/quickstart-dev.md) pages.

[2017-04-06 16:00] Huge commented on #3632
Great, @lucab  which one do you think should be under the "install manually" link on [the doc page I linked](https://github.com/rkt/rkt/blob/master/Documentation/distributions.md#debian)?

[2017-04-06 16:23] lucab commented on #3632
Not sure I got your answer. In the distribution page you linked, "manual installation" details installing packages outside of repositories, i.e. that need to be manually fetched and installed (and won't receive automatic updates).

I don't think anything should be fixed there, user documentation should not point to building from sources.

[2017-04-07 05:22] tesujimath commented on #3630
So, I have uploaded a first version of this, which almost works.  When I say almost, it actually does the right thing and runs the rkt container when I run it with sudo.  But when I make it setuid root, I get an error from rkt that I don't understand.

If anyone's got time to take a look, the issue is here: tesujimath/rktrunner#1

[2017-04-07 13:51] wmark commented on #3391
Thanks to the CoreOS team for entertaining this issue. As it's more of a *sentiment* (and secondarily a *laundry-list*) it's hard to tell how to, and if it has been addressed completely. Therefore I'd like to close it in favour of a filing specific issues.

@gfyrag, if it is okay with you I'd like you to *add to or ping* on the ticket related to the `:FORWARD DROP` default firewall setting and mis

[2017-04-07 13:51] #3391 closed

[2017-04-07 14:07] gfyrag commented on #3391
@wmark Ok with me. Thks!

[2017-04-08 17:55] trusch commented on #3629
+1 on this. I'm fairly new to rkts codebase, but I'll have a look, perhaps it's just extending an existing array.

[2017-04-09 16:44] thattommyhall commented on #3157
The password thus generated is only good for 12h though remember

[2017-04-09 21:27] tesujimath commented on #3630
I fixed that issue, so my wrapper is now basically working, to a first approximation.

Further testing and tweaks to follow.

[2017-04-10 10:38] trusch commented on #3629
I think this should be whitelisted in `stage1/init/common/seccomp_wildcards.go`. Indeed the needed syscalls are not listed there. I think you could use `--insecure-options=seccomp` for now as a workaround.

@lucab Do you see any problems about this whitelist being extended per default, or do you think that this should be dynamically added when running on ARM? I would open a PR for this if you want

[2017-04-10 11:23] lucab commented on #3629
I would expect these to be added only when running on matching architectures, as some of those syscalls don't exist on other arch (e.g. `arm_fadvise64_64`).

[2017-04-10 11:43] trusch commented on #3629
@Xenopathic I can not reproduce your issue:

main.c:
[code]

Makefile:
[code]

build-aci.sh:
[code]

Environment:
[code]

[2017-04-10 11:57] Xenopathic commented on #3629
`-SECCOMP`

Looks like your systemd is compiled without seccomp enforcement, which if you are using host flavour stage1 (or whatever stage1 you are using uses systemd with `-SECCOMP`) then you won't trigger the issue.

[2017-04-10 12:02] trusch commented on #3629
Ah ok, my fault. I only have some devices here, and no one with arch linux. I'll build a new systemd for my current testbed.

[2017-04-10 19:29] fabiokung commented on #3390
This is also happening when running functional tests `make functional-check` on Ubuntu 16.04, with the `4.8.0-46-generic #49-Ubuntu` kernel.

I used `./configure --enable-functional-tests --enable-incremental-build --with-stage1-flavors=coreos`.

[2017-04-10 20:33] jeremyd opened #3637 "rkt 1.21.0 hangs during download of image"
**Environment**

rkt Version: 1.21.0
appc Version: 0.8.9
Go Version: go1.7.3
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL
--
Linux 4.9.16-coreos-r1 x86_64
--
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1298.7.0
VERSION_ID=1298.7.0
BUILD_ID=2017-03-31-0215
PRETTY_NAME="Container Linux by CoreOS 1298.7.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https

[2017-04-10 22:14] tesujimath opened #3639 "How to access container stdin/stdout/stderr directly?"
I am wanting to capture the raw stdout from my container, which currently appears with timestamp and container prefixes.  I presume this is because stdout is in log mode, and I need to set it into stream mode, by using the [per-application options](https://coreos.com/rkt/docs/latest/subcommands/run.html#per-application-options).

However, I can't work out where to pass these on the rkt command lin

[2017-04-10 22:40] jeremyd commented on #3637
Apparently this was happening due to a bad image.  I have to dd' copy the CoreOS ami to an encrypted volume for snapshot and the image it created, while it booted ok, had this issue.  Trying another copy.  I tried using the non-encrypted image and things worked a lot better, that led me to the conclusion that the image I made must be corrupted.. Anyways, closing this..

[2017-04-10 22:40] #3637 closed

[2017-04-11 02:38] tesujimath commented on #1586
Maybe the rktrunner wrapper in #3630 will help.  There is indeed an issue calling rkt from a setuid program, but this is solved by having that program set the real UID from the effective.  This is what rktrunner does.

[2017-04-11 02:40] tesujimath commented on #3630
rktrunner may be interesting to anyone following #1585

[2017-04-11 02:52] tesujimath opened #3640 "How to run rkt image list or fetch as unprivileged?"
In #1585, @jonboulle said:

However, when I try that it doesn't work:
[code]

This is with the official rkt-1.25.0 RPM.

With those permissions in the filesystem, I wouldn't expect it to work.  BTW I am in the `rkt` group, but not `rkt-admin`.

What am I missing?

[2017-04-11 05:54] euank commented on #3639
The documentation is remiss for not mentioning that those are experimental features gated behind the `RKT_EXPERIMENT_ATTACH=true` environment variable being set.

Assuming setting that environment variable is what's missing, this can be a documentation issue.

[2017-04-11 07:25] lucab commented on #3640
I *think* you run rkt as root the first time, so the directories are not set-up with group permissions. Try to start from scratch and let the datadir be created by the `rkt.conf` tmpfile instead; it should come up with proper group ownership.

[2017-04-11 13:03] mrschyte opened #3641 "Unable to remove exited containers with grsec kernel"
**Environment**
[code]
**What did you do?**
I've tried to remove an exited container using `rkt rm container-hash` and when that failed also to garbage collect it using `rkt gc --grace-period=0s`
**What did you expect to see?**
I'd expect the exited containers to be removed. rkt worked flawlessly on previous grsec kernels and rkt versions before.
**What did you see instead?**
[code]

The following

[2017-04-11 13:27] lucab commented on #3641
Your analysis seems correct. Also, this grsec feature looks reasonable to me in a process jailing context. Here however the chroot+fchdir dance is only perfomed to ensure that unmount and deleting resources won't accidentally affect back the host via links and bindmounts.

According to the [docs](https://en.wikibooks.org/wiki/Grsecurity/Appendix/Grsecurity_and_PaX_Configuration_Options#Deny_fchdir

[2017-04-11 14:01] mrschyte commented on #3641
Thank you for the quick response. Setting `kernel.grsecurity.chroot_deny_fchdir=0` indeed works as a workaround.

[2017-04-11 14:41] lucab commented on #3641
@mrschyte great to know. Should we close this? I don't think we should do anything special here to try to overrule grsec, if the admin enabled it.

[2017-04-11 16:06] mrschyte commented on #3641
Agreed. Maybe rkt could implement resource deletion without using chroot in a later version. Hopefully grsec will have more granular controls as well.

[2017-04-11 16:06] #3641 closed

[2017-04-11 16:57] #3481 closed

[2017-04-11 21:27] tesujimath commented on #3640
Yes, you're right, thanks.  We are using [rktrunner](https://github.com/tesujimath/rktrunner), which invokes `rkt run` as root, so on a virgin system, the datadir is created with the wrong permissions.  (The fetch is done implicitly by `rkt run`.)

What I'm doing to fix this is running the following command immediately after installing the rkt package, before the first use of *rktrunner* (we use p

[2017-04-11 22:03] tesujimath commented on #3639
OK, thanks, that helped a bit.  But now I find that `--stdout=stream` doesn't actually produce any output at all.
Here it is with log mode (sorry for all the command line flags, which are necessary to get my container to run without warnings):
[code]
I'm wanting to capture raw stdout on the host, but with --stdout=stream, I get nothing at all:
[code]
Similarly, `--stdout=tty` produces no output ei

[2017-04-11 22:03] tesujimath commented on #3639
PS. using official rkt 1.25.0 RPM

[2017-04-11 23:24] tjdett opened #3642 "`apk update` conflicts with seccomp for alpine:edge"
[code]

Most likely, this is due to:
<https://git.alpinelinux.org/cgit/apk-tools/commit/?id=72b878e655>

While likely an Alpine Linux issue, users will probably perceive it as "rkt is broken for Alpine" because it works in Docker 1.12.6:
[code]

**Environment**

<details>
<pre>
rkt Version: 1.25.0
appc Version: 0.8.10
Go Version: go1.7.4
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL
--
Linux 4

[2017-04-12 06:23] lucab commented on #3642
I am a bit confused because `/proc` should be already provided to stage2 apps and because whitelisting mount results in a similar failure:
[code]

I guess there is something more involved in here, and perhaps alpine detection logic is missing our case somehow.

[2017-04-12 09:10] ravibhure opened #3643 "rkt fetch: failure when pulling from artifactory docker repository"
**Environment**

[code]

**What did you do?**
[code]

**What did you expect to see?**
Rkt will fetch image from docker private registry

**What did you see instead?**
[code]

[2017-04-12 09:11] ravibhure commented on #3643
This is similar to #3211 but it looks not fixed yet

[2017-04-12 09:34] lucab commented on #3643
I'm sorry but this report does not contain enough actionable information.

Which registry software is this? Which API version does it implement? How is it private? Did you properly configure auth? What does a `curl -v https://docker-local.ravibhure.com/v2/` say?

Also, this rkt version is quite old to be relevant for debugging. Please try with something more recent (e.g. >= 1.24.0) and with `--deb

[2017-04-12 09:49] ravibhure commented on #3643
@lucab

This is private docker registry on Enterprise Artifactory 5.0.1 rev 50008

[code]

I have updated the version to 1.25.0

[code]

Still getting issue
[code]

[2017-04-12 09:54] ravibhure commented on #3643
This work very well with docker

[code]

[code]

[2017-04-12 09:58] ravibhure commented on #3643
Here is my rkt auth

[code]

[2017-04-12 10:12] lucab commented on #3643
The v2 ping endpoint seems fine, so it is probably something down the chain. One worrysome detail is in the authentication header:

Here the `service` parameter doesn't match the registry endpoint identity due to the `:443` suffix. I'd have to double-check the relevant RFC about the semantic of that field, but this looks like a misconfiguration on the registry side.

[2017-04-12 10:16] ravibhure commented on #3643
@lucab
I am not sure, but currently we are able to use the `docker pull` so are you saying there we need any thing specific configuration to add for `rkt` or `docker2aci` ?

[2017-04-12 10:29] lucab commented on #3643
I'm saying I'd need to check what is the appropriate specification for that field to know what is the correct behavior/encoding/semantic, but the failure seems to be due to that `:443` suffix in service identity and docker-client may be just ignoring the mismatch or trimming it.

In any case, the problem appears to be related to a very custom configuration of this repository (unless further debugg

[2017-04-12 10:37] ravibhure commented on #3643
Thank you @lucab,

Looking for a solution, could you please look if this is the case or let me know if any further things requires to identify the issue.

[2017-04-12 23:24] tjdett commented on #3642
@lucab, I used `strace -f apk update 2>&1 | sed -n -e '/(/s/(.*$//p' | sort | uniq` to get a list of the syscalls for Alpine 3.5 and Edge, and here's the diff:
[code]

So `umount2` was missing too. Sure enough, including it fixes the problem:
[code]

The detection logic is definitely missing rkt's case somehow (though presumably not Docker's).

[2017-04-13 07:48] lucab commented on #3642
@tjdett thanks for the followup! Mind reporting this to `apk` upstream to get the detection logic improved?

[2017-04-13 08:57] ravibhure commented on #3643
@lucab
These logs are from from artifactory, may be this help to identify and fix the issue.

[code]
looks like rkt is using v1 api instead of v2 and we need to know how to enable rkt to use v2

[2017-04-13 11:32] lucab commented on #3643
@ravibhure I actually think it is only failing back to v1 because it can't complete v2 authentication due to the above mismatch in server identity. The problem itself isn't in trying to use v1, but in failing v2 handshake.

As I suggested above, as a workaround to this mismatch in your setup you could try either:
 * setting the registry to identify itself as `docker-local.ravibhure.com` (without p

[2017-04-14 04:48] ravibhure commented on #3643
After adding 443 the 401 goes away and now I get this:
 
[code]

[2017-04-14 09:40] fryckbos commented on #3531
I wrote the code and documentation for rkt cp. I'm unsure how to implement the tests, could somebody give me a push in the right direction.

This is the implementation so far: https://github.com/rkt/rkt/compare/master...fryckbos:rkt-cp

Who do I reference as a reviewer for this ?

[2017-04-14 10:43] dockhero opened #3646 "rkt run doesn't pass arguments unless --exec option also provided"
**Environment**

[code]

**What did you do?**

1. Host a public Dockerfile-based image at quay.io using the following Dockerfile (I created  https://quay.io/repository/dockhero/ruby for this example)

[code]

2. From a CoreOS machine, try running these two commands:

A: `sudo rkt run --interactive --insecure-options=image quay.io/dockhero/ruby --exec=ruby -- --version`
B: `sudo rkt run --interacti

[2017-04-14 18:15] euank commented on #3646
This might be a bug in how Quay serves ACIs, or in how rkt special-cases some docker features.

I can't reproduce this issue if I use the `docker://` quay uri.

[code]

Does that workaround the issue for you? (note, you might have to remove the image from rkt's store for it to use the new one)

[2017-04-15 09:46] lucab commented on #3646
Perhaps relevant https://github.com/rkt/rkt/pull/3566

[2017-04-16 13:52] dockhero commented on #3646
@euank Yep, thanks, the workaround totally works for me.
@lucab Did I get it right that #3566 was merged in rkt version 1.25.0 I was testing above?

Some more interesting experiments here. I created another repo - *quay.io/dockhero/ruby-absolute* - from the following Dockerfile:

[code]

And I couldn't reproduce the bug using that image. The command below

[code]

produces the expected result:

[c

[2017-04-16 19:29] pnpavlov opened #3647 "Kubernetes 1.6.1 fails to start with rkt 1.25 on Fed25"
**Environment**
rkt Version: 1.25.0
appc Version: 0.8.10
Go Version: go1.7.4
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNALn--nLinux

**What did you do?**
Hello,

I have problem setting a dev cluster on my Fedora vm... I believe everything is properly configured and can't find a good hint on what's wrong.
My plan is to try Kubernetes 1.6 with Rocket 1.25 on Fedora 25 Workstation. Everything see

[2017-04-17 05:40] ravibhure commented on #3643
@lucab
we tried to `using docker-local.ravibhure.com:443 everywhere on the rkt side (eg. in auth.d and for fetch)` but still not getting succeed to fetch the images.
I wonder if rkt only supporting v1 (just wild guess)

[2017-04-17 17:00] euank commented on #3531
@fryckbos if you create a PR, I'm sure someone will review it. If no one else does, I'd be willing to.

As for how to write tests, having functional test coverage via adding a new file in the tests directlry (https://github.com/rkt/rkt/tree/master/tests) would probably be best. The [`rkt image verify` test](https://github.com/rkt/rkt/blob/master/tests/rkt_image_verify_test.go) I recently added che

[2017-04-17 17:02] fryckbos commented on #3531
Ok, perfect, thanks for the quick response.

On Apr 17, 2017 12:01 PM, "Euan Kemp" <notifications@github.com> wrote:

[2017-04-17 18:10] zozo6015 opened #3648 "rkt containers access other containers on different hosts"
**Environment**

rkt Version: 1.25.0
appc Version: 0.8.10
Go Version: go1.7.3
Go OS/Arch: linux/amd64
Features: -TPM +SDJOURNAL
Linux 4.10.4-coreos-r1 x86_64
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1353.4.0
VERSION_ID=1353.4.0
BUILD_ID=2017-03-31-0211
PRETTY_NAME="Container Linux by CoreOS 1353.4.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://gi

[2017-04-17 18:34] euank commented on #3648
I think it's expected behaviour that this won't work with the default cni/bridge plugin out of the box.
To get it to work, at a minimum you'd probably have to add rules to the FORWARD chain (or set its default policy to ACCEPT).

If you want containers to talk to each other cross-host, perhaps you want an overlay network (such as a vxlan overlay created by flannel), and to use a CNI plugin which w

[2017-04-17 18:41] dchen1107 commented on #3647
xref: https://github.com/kubernetes/kubernetes/pull/44569

[2017-04-17 20:19] vovayartsev opened #3650 "STDOUT of rkt run --interactive doesn't support binary encoding"
**Environment**

[code]

**What did you do?**

I created an image which prints out to STDOUT a gzipped paragraph of Lorem Ipsum text.

[code]

Now I run this image and pipe it's STDOUT through gunzip. I suppose it should work per #601.

[code]

**What did you expect to see?**

It should produce a paragraph of Lorem Ipsum text on STDOUT, as it works with Docker command below:

[code]

**What did yo

[2017-04-17 22:13] tesujimath opened #3651 "rkt run hangs on docker://julia"
Our users would really like to run Julia as a container.  It works fine when run by docker, but rkt just hangs.  Need to kill-9 the rkt run process.

**Environment**
[code]

**What did you do?**

[code]

**What did you expect to see?**

[code]

**What did you see instead?**

nothing, it hangs until kill -9

[2017-04-18 18:54] philips commented on #3397
@dgonyeo I remember long ago filing this and I thought you volunteered. Does it work today?

[2017-04-18 18:58] lucab commented on #3397
@philips since 1.18.0, ref. https://github.com/rkt/rkt/issues/2313#issuecomment-256589420.

[2017-04-18 23:38] tjdett commented on #3642
@lucab Bug logged with Alpine:
<https://bugs.alpinelinux.org/issues/7162>

[2017-04-19 00:43] tesujimath opened #3652 "Container stderr appears on rkt run stdout"
When using containerized applications in a pipeline, it is important not to merge stderr with stdout I think.  However, that is what currently happens.

This is somewhat related to #3639, where I reported that the new --stdout, --stderr options don't actually work (!)

**Environment**
[code]

**What did you do?**

Ran this script in a (generic) container:
[code]

**What did you expect to see?**

S

[2017-04-19 02:37] tesujimath commented on #3651
I just noticed slightly different behaviour.  The rkt run command still hangs, but is now responsive to ctrl-C, and doesn't need kill -9 to interrupt it.

Sorry, this isn't very satisfactory, but I can't determine what I am doing differently from before when it needed kill -9.  (I tried for some time to reproduce the previous behaviour, but couldn't.)

So, it's not as bad now, in that ctrl-C works

[2017-04-19 02:53] tesujimath commented on #3651
Ah I see, it's a timing thing.  It responds to ctrl-C in the first few seconds, but not subsequently.  I presume this is to do with the various stages of bootstrapping the container.  So the previous comment is probably a red herring.

[2017-04-19 06:31] ravibhure commented on #3643
@lucab
Any update on this issue ? we are still waiting to hear from you.

[2017-04-19 11:04] h0tbird opened #3653 "error downloading ACI (bad HTTP status code: 500)"
**Environment**

[code]

**What did you do?**

[code]

**What did you expect to see?**

Something similar to:
[code]

**What did you see instead?**

[code]

**Observations**

The three commands below are working as expected:

`
docker pull quay.io/kato/prometheus:v1.6.0-1`
`rkt fetch --insecure-options=image docker://quay.io/kato/prometheus:v1.6.0-1`
`curl -L -f https://user:pass@quay.io/c1/squash

[2017-04-19 11:05] h0tbird commented on #3653
This might be a bug in `quay.io`.

[2017-04-19 11:34] squeed commented on #3651
Hi there,
You can always quit a running container by pressing `ctl-]` three times in quick succession. The reason `ctl-C` works in the first few seconds is that it kills the rkt preparation process rather than the kernel.

I did a quick test, and was able to run Julia by disabling seccomp:
[code]

By running julia locally with strace, I got the list of syscalls in a trival Julia execution:
[code]

[2017-04-19 11:54] lucab commented on #3639
If you want to use the experimental attach modes (stream/tty), you also need to attach via `rkt attach` or some other custom I/O handler. See https://coreos.com/rkt/docs/latest/devel/log-attach-design.html and https://coreos.com/rkt/docs/latest/subcommands/attach.html.

[2017-04-19 11:56] lucab commented on #3652
You forgot to report how you are running it. By default, both stdout and stderr go to journald. If you are running with `--interactive` there is a TTY involved, which has a different semantics for input and output (and no concept of stdout/stderr).

[2017-04-19 12:07] squeed commented on #3648
This is not going to work without either an overlay network, direct access from the container to the network (e.g. macvlan + dhcp), or a route export from each host to the routing + switching fabric.

My suggestion would be to look in to flannel.

[2017-04-19 12:07] #3648 closed

[2017-04-19 12:11] lucab commented on #3643
As I stated above, this seems to be due a very specific configuration of your registry. There is not much we can do and debug from here, and it doesn't affect general usage. If you have a different guess, feel free to perform more analysis on your side to confirm/debunk my hypotesis, we'll happily take more details and patches.

On a technical side, the `service` field is defined [here](https://do

[2017-04-19 14:04] squeed commented on #3650
Neat, it looks like systemd is adding carriage returns.

[2017-04-19 21:41] tesujimath commented on #3651
Hi Casey,

That works perfectly, thanks, very much appreciated!  All resolved now.

cheers,
Simon

[2017-04-19 21:41] #3651 closed

[2017-04-20 01:55] tesujimath commented on #3639
Ah, sorry, hadn't noticed `rkt attach`.  I'll read up on that and try again.

Thanks for your patience.

[2017-04-20 02:01] tesujimath commented on #3652
I wasn't using `--interactive`.  Here's my command line.
[code]

Perhaps my solution will be to use `rkt attach` with those custom stdin/stdout/stderr modes, as per #3639

[2017-04-20 07:34] lucab commented on #3652
Please note that those are still experimental. If you are only interested in logs, I suggest to grab the entries from journald directly. Metadata should tell you where an entries is coming from (perhaps not stdout/stderr, that may require a small patch in journals itself).

[2017-04-20 07:36] lucab commented on #3639
No problem. Also, have a look at the endpoint in `--mode=list`, you can directly interface your custom logic via those. Please note that all of the `iottymux` subsystem is highly experimental, and there are some known open bugs.

[2017-04-20 09:30] ravibhure commented on #3643
Thank you @lucab

[2017-04-20 11:30] squeed commented on #3473
Fun fact: journald also adds carriage returns.

[2017-04-20 14:04] euank commented on #3551
If we want to be backwards compatible (that is, have old tools parsing rkt-json work with new versions of rkt), we'll probably also need to have a way for such tooling to express a preferred version.

With that, we'll be able to make backwards incompatible changes, but preserve previous formatting / behaviour in old versions.

This sort of version-selection is far less often important for read api

[2017-04-20 15:37] jason-riddle opened #3655 "[Question] Am I ever going to be able to run rkt on Mac?"

[2017-04-20 15:52] lucab commented on #3655
Thanks for the candid question :)

The answer is probably not, at least in its current form. However, if there is interest and maintainers show up for this, it is technically feasible. It requires porting stage0 to build and run under macos, and a dedicated stage1 compatible with macos sandboxing mechanisms.

The main blocker here is that none of the developers are experts on macosx internals and

[2017-04-21 00:48] cyphar commented on #3408
I discussed this issue at DockerCon with one of the rkt developers and IMO in order for the rkt+runc integration to work properly we would want the systemd stage1 to be entirely swappable with runc (not running it under the rkt stage1 systemd) -- in SUSE we can't effectively use and maintain `systemd-nspawn` because we have some complicated relationships with systemd ujpstream.

I'd love to help w

[2017-04-21 08:50] lucab commented on #3653
Thanks for the report, it may indeed be some internal issue with quay.io. I've forwarded this to the dev team to have a look.

[2017-04-21 09:39] jonboulle commented on #3655
Also see:
https://github.com/rkt/rkt/issues/2797
https://github.com/rkt/rkt/pull/2904
I think the latter is something that someone could pick up and run with, but as Luca mentioned we'd like to make sure it has a maintainer so that we can keep it working in the future!

[2017-04-21 10:00] lucab commented on #3408
@cyphar I think you got in touch with @euank there.

We went for targeting stage2 as we had some higher-priority needs on the app side, but there is no technical impediment for a stage1-runc. There even has been some [discussion](https://groups.google.com/d/msg/rkt-dev/exfD1u8oGNQ/ivIzrIjZBgAJ) about this in the past on the ML.

While still not on my direct radar, if you are interested in early ex

[2017-04-21 11:57] cyphar commented on #3408
Sure. I'll read up on the linked issues and think some more about the architecture. I will admit that I am not very familiar with the whole stage1-stage2 system in rkt (in runc there's only a "stage1" implemented and it's the job of users to implement something like stage2 if they want it) so I'll read up some more on this topic. runc is daemon-less so I would anticipate that the architecture woul

[2017-04-21 13:04] squeed commented on #3408
So, the current runc branch I have uses runc as the stage2 isolation environment. In other words, all of the app-specific isolation features (e.g. seccomp, cgroups, etc.) are managed by runc. However, runc only creates a separate mount namespace (and not always). The namespaces are otherwise managed by `systemd-nspawn` and the pid1 + reaper is systemd.

So, using systemd as a stage1 isolation engi

[2017-04-21 17:43] lucab commented on #3653
@h0tbird a backend change has been deployed today which possibly tackle this. Do you mind re-trying and reporting back?

[2017-04-21 21:10] h0tbird commented on #3653
I will run some more tests but it looks good now:

[code]

[2017-04-22 05:50] brianredbeard opened #3658 "docs: Specify requirement for git >= 1.8.5"
**Environment**
CentOS 7.0

**What did you do?**
Attempt to build rkt using standard tooling and `src` flavor.

**What did you expect to see?**
Working build

**What did you see instead?**
[code]

This is due to the use of the `-C` flag used [here](https://github.com/rkt/rkt/blob/c767336b5a0bd37bd5cb071d11fd0bbbc7dec0a9/makelib/git.mk#L29)  which was not shipped until git version `1.8.5`.  CentOS/